<div class="d-none">
    <div class="action-on-click"
         data-toggle="modal"
         data-target="#modalTreatAnomaly"
         data-ref="{{ reference }}"
         data-is-ref="{{ isRef }}"
         data-label="{{ label }}"
         data-bar-code="{{ barCode }}"
         data-quantity="{{ quantity }}"
         data-location="{{ location }}"
         data-id-entry="{{ idEntry }}"
         onclick="showModalAnomaly($(this))">
        <i class='fas fa-check'></i>
    </div>
</div>
