{% extends 'layout.html.twig' %}

{% block title %}Stock | Inventaire{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersMissionInv.html.twig' with {
        'page': 'PAGE_INV_MISSIONS',
        'tableSelector': '#tableMissionsInv'
    } %}
{% endblock %}

{% block page_content %}

    <div class="m-4 datatable-container">
        <div class="row">
            <h1 class="col align-self-start ml-2"></h1>
            <div class="col-auto">
                <div class="btn-group split-button-container col-auto">
                    {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::INVENTORY_MANAGER')) %}
                    <button type="button" data-toggle="modal" data-target="#modalNewMission" class="btn btn-primary btn-ripple split-button">
                        <span class="fa fa-plus mr-2"></span>Nouvelle mission
                    </button>
                    {% endif %}
                    <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu {{ not hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::INVENTORY_MANAGER'))
                    ? 'dropdown-single' : 'mr-5' }}">
                        <a href="{{ path('inventory_entry_index') }}" class="dropdown-item">
                            <span class="fa fa-clipboard-list mr-2"></span>Voir les saisies
                        </a>
                        <a href="{{ path('show_anomalies') }}" class="dropdown-item">
                            <span class="fa fa-exclamation-triangle mr-2"></span>Gérer les anomalies
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table id="tableMissionsInv" class="table w-100">
            </table>
        </div>
    </div>
    {% include 'inventaire/modalNewMissionInv.html.twig' %}
    {% include 'inventaire/modalDeleteMission.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mission-inventaire.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
