{% import 'form.html.twig' as form %}

<div class="modal fade" id="modalNewMission" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter une mission"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-12">
                        {{ form.input('name', 'Libellé', true, null, {
                            type: 'text',
                        }) }}
                    </div>
                    <div class="mb-3 form-group col-12">
                        {{ form.input('startDate', 'Date prévue de début', true, null, {
                            type: 'date',
                        }) }}
                    </div>
                    <div class="mb-3 form-group col-12">
                        {{ form.input('endDate', 'Date prévue de fin', true, null, {
                            type: 'date',
                        }) }}
                    </div>
                    <div class="form-group col-12">
                        {{ form.input('description', 'Description', true, null, {
                            type: 'text',
                        }) }}
                    </div>
                    <div class="form-group col-12">
                        {{ form.switch('missionType', 'Type de mission', true, [
                            {label: 'Mission quantité article', value: 'article', checked: true},
                            {label: 'Article sur emplacement', value: 'location', checked: false}
                        ]) }}
                    </div>
                    <div class="form-group col-12">
                        {{ form.select('requester', 'Demandeur', true, {
                            type: 'user',
                            items: {
                                (app.user.id): (app.user.username),
                            }
                        }) }}
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewMission'}
                ],
            } %}

        </div>
    </div>
</div>
