{% extends 'layout.html.twig' %}

{% block title %}Stock | Inventaire | Mission{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersMissionInv.html.twig' with {
        'page': 'PAGE_INV_SHOW_MISSION',
        'tableSelector': '#tableMissionInv'
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    <button type="button"
                            data-toggle="modal"
                            data-target="#modalAddToMission"
                            class="btn btn-primary btn-ripple split-button"
                            onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete-refArticle'), 'reference'), ajaxAutoArticlesInit($('.ajax-autocomplete-article'))">
                        <span class="fa fa-plus mr-2"></span>Ajouter des références ou des articles
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right pointer">
                        <div class="dropdown-item" onclick="generateCSV('get_mission_for_csv', 'mission-inv', {{ missionId }})">
                            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-none justify-content-center" id="spinner">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table id="tableMissionInv" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    <input value="{{ missionId }}" id="missionId" hidden/>
    {% include 'inventaire/modalAddToMission.html.twig' %}
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/mission-inventaire-show.js') }}?{{ date().timestamp }}"></script>
    {% endblock %}
