{% import 'form.html.twig' as form %}

{% set requester = app.user %}
<form name="formShippingRequest">
    {% if shipping.id %}
    {{ form.input('shippingRequestId', null, true, shipping.id, {
            type: 'hidden',
        }) }}
    {% endif %}

    <div class="wii-section-title d-flex align-items-center pt-0">
        Informations
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mt-2">
            {{ form.select('requesters', 'Demandeur(s)', true, {
                type: 'user',
                multiple: true,
                additionalAttributes : [
                    {
                        name: 'data-other-params',
                        value: '1'
                    }, {
                        name: 'data-other-params-with-phone-numbers',
                        value: '1'
                    }
                ],
                items: shipping.id
                    ? shipping.requesters | map((requester) => ({
                        value: requester.id,
                        label: requester.username,
                        phone: requester.phone,
                        selected: true,
                    }))
                    : [{
                        value: requester.id,
                        label: requester.username,
                        phone: requester.phone,
                        selected: true,
                    }],
                }) }}
        </div>
        <div class="col-12 col-md-4 mt-2">
            {{ form.select('requesterPhoneNumbers', 'Téléphone', true, {
                type: null,
                multiple: true,
                editable: true,
                items: shipping.id
                    ? shipping.requesterPhoneNumbers | map((phoneNumbers) => ({
                        value: phoneNumbers,
                        label: phoneNumbers,
                        selected: true,
                    }))
                    : [{
                        value: requester.phone,
                        label: requester.phone,
                        selected: true,
                    }],
            }) }}

        </div>
        <div class="col-12 col-md-4 mt-2">
            {{ form.input('customerOrderNumber', 'N° commande client', true, shipping.customerOrderNumber,{}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 my-3">
            {{ form.checkbox('freeDelivery', 'Livraison à titre gracieux', false, shipping.freeDelivery, {}) }}
        </div>
        <div class="col-12 col-md-4 my-3">
            {{ form.checkbox('compliantArticles', 'Article(s) conforme(s)', false, shipping.compliantArticles, {}) }}
        </div>
    </div>
    <div class="wii-section-title d-flex align-items-center mt-2">
        Destinataire
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mt-2">
            {{ form.select('customerName', 'Client', true, {
                type: 'customers',
                items: [],
                labelOptions: {
                    class: 'm-0',
                },
                items: shipping.customerName
                    ? [{
                        value: shipping.customerName,
                        label: shipping.customerName,
                        selected: true,
                    }]
                    : [],
            }) }}
        </div>
        <div class="col-12 col-md-4 mt-2">
            {{ form.input('customerPhone', 'Téléphone', true, shipping.customerPhone,{}) }}
        </div>
        <div class="col-12 col-md-4 mt-2">
            {{ form.input('customerRecipient', 'A l\'attention de', false, shipping.customerRecipient,{}) }}
        </div>
        <div class="col-12 col-md-8 mt-2">
            {{ form.textarea('customerAddress', 'Adresse de livraison', true, shipping.customerAddress) }}
        </div>
    </div>
    <div class="wii-section-title d-flex align-items-center mt-2">
        Expédition
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mt-2">
            {{ form.input('requestCaredAt', 'Date de prise en charge souhaitée', true, shipping.requestCaredAt|date('Y-m-d'), {
                type: 'date',
            }) }}
        </div>
        <div class="col-12 col-md-4 mt-2">
            {{ form.select('carrier', 'Transporteur', false, {
                type: 'carrier',
                items: shipping.carrier ? [{
                    value: shipping.carrier.id,
                    label: shipping.carrier.label,
                    selected: true,
                }] : [],
            }) }}
        </div>
        <div class="col-12 col-md-4 mt-2">
            {% set shipmentOptions = constant('App\\Entity\\ShippingRequest\\ShippingRequest::SHIPMENT_LABELS')|map((value, key) => ({
                value: key,
                label: value,
                checked: shipping.id ? shipping.shipment : key == constant('App\\Entity\\ShippingRequest\\ShippingRequest::SHIPMENT_NATIONAL')
            })) %}
            {{ form.switch('shipment', 'Envoi', false, shipmentOptions ) }}
        </div>
        <div class="col-12 col-md-4v mt-2">
            {% set carrying = constant('App\\Entity\\ShippingRequest\\ShippingRequest::CARRYING_LABELS')|map((value, key) => ({
                value: key,
                label: value,
                checked: shipping.id ? shipping.carrying : key == constant('App\\Entity\\ShippingRequest\\ShippingRequest::CARRYING_OWED')
            })) %}
            {{ form.switch('carrying', 'Port', false, carrying ) }}
        </div>
    </div>
    <div class="wii-section-title d-flex align-items-center mt-2">
        Autre
    </div>
    <div class="row">
        <div class="col-12 col-md-8 mt-2">
            {{ form.wysiwyg('comment', 'Commentaire', false, shipping.comment) }}
        </div>
    </div>
</form>
