{% macro subItem(icons, title, subtitle, customIcon) %}
    {% set haveIcon = icons is defined and icons != null %}
    {% set subtitle = subtitle ? subtitle : '-' %}

    {% if haveIcon or customIcon %}
        <div class="col-12 col-md-6 d-flex align-items-center mb-2">
            {% if customIcon is defined and customIcon is not null %}
                <img src="{{ customIcon }}" width="20" alt="icon {{ title }}">
            {% else %}
                <i class="wii-icon wii-icon-{{ icons }} wii-icon-20px-primary mr-2"></i>
            {% endif %}
            <label class="box-item ml-3">
                <span class="wii-field-name">{{ title }}</span>
                <span class="wii-body-text">{{ subtitle }}</span>
            </label>
        </div>
    {% else %}
        <div class="col-12 col-md-6 d-flex align-items-center mb-2">
            <label class="box-item ml-3">
                <span class="wii-field-name">{{ title }}</span>
                <span class="wii-body-text">{{ subtitle }}</span>
            </label>
        </div>
    {% endif %}
{% endmacro %}

