<div class="row article-line mb-3">
    <div class="col-2">
        <div class="d-flex flex-column justify-content-center align-items-center quantity-to-receive">
            <label class="text-white bold">Article(s)</label>
            <span class="text-white">{{ quantityToReceive }}</span>
        </div>
    </div>
    <div class="col-3">
        <div class="details" style="border: {{ '1px solid ' ~ referenceTypeColor }}">
            <div class="wii-field-name dark-background text-center"
                 style="background: {{ referenceTypeColor ?? '#3353D7' }};">Standard
            </div>
            <div class="d-flex ml-3 mt-2">
                <img src="{{ asset('svg/pack.svg') }}" alt="Icône référence" width="20px">
                <div class="d-flex flex-column ml-2">
                    <label class="wii-label">Référence : {{ reference.reference }}</label>
                    <span class="wii-body-text">{{ reference.libelle }}</span>
                </div>
            </div>
            <div class="ml-3 my-2">
                <span class="wii-small-text">Référence fournisseur : {{ supplierReferenceLabel }}</span>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="d-flex values">
            <div class="col-11">
                <div class="d-flex align-items-center justify-content-between mt-2">
                    <div class="d-flex flex-column col-4">
                        <label class="wii-field-name">Quantité</label>
                        <span class="wii-body-text">{{ quantity }}</span>
                    </div>
                    <div class="d-flex flex-column col-4">
                        <label class="wii-field-name">Lot</label>
                        <span class="wii-body-text">{{ batch ? batch : '-' }}</span>
                    </div>
                    <div class="d-flex flex-column col-4">
                        <label class="wii-field-name">Date de péremption</label>
                        <span class="wii-body-text">{{ expiry ? expiry : '-' }}</span>
                    </div>
                </div>
                <div class="d-flex flex-wrap mb-2">
                    {% for name, value in freeFields ?? [] %}
                        <div class="d-flex flex-column col-4 {{ loop.index % 3 != 0 ? 'mt-3' }}">
                            <label class="wii-field-name">{{ name }}</label>
                            <span class="wii-body-text">{{ value }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-1 d-flex align-items-center">
                <span class="wii-icon wii-icon-trash-black remove-article-line pointer"></span>
            </div>
        </div>
    </div>
</div>
