{% extends "layout.html.twig" %}

{% block title %}Ordre | {{ trans('Ordre','Réceptions', 'Réception', false) }} | Détails{% endblock %}
{% block title_tooltip %}Ordre | Réception | Détails{% endblock %}
{% block titleLink path('reception_index') %}

{% block page_content %}
    {% set displayLitiges = hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::DISPLAY_LITI')) %}
    {% set restrictedLocations = restrictedLocations is defined and restrictedLocations %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "reception/show/header.html.twig" with {
                        showDetails: detailsHeader,
                        modifiable: modifiable,
                        reception: reception
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="{{ displayLitiges ? 'col-6 pr-2' : 'col-12' }}">
                <div class="wii-box mt-0">
                    <div class="header wii-title">Liste des articles</div>
                    <div class="content">
                        <div class="row wii-page-card-header">
                            <div class="col-auto ml-auto">
                                <div class="btn-group">
                                    {% if modifiable %}
                                        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                                            <button type="button"
                                                    data-toggle="modal"
                                                    data-target="#modalAddLigneArticle"
                                                    class="btn btn-primary split-button d-flex align-items-center"
                                                    onclick="initNewArticleEditor('#modalAddLigneArticle'),
                                                Select2Old.provider($('.ajax-autocomplete-fournisseur'))">
                                            <span class="wii-icon wii-icon-new-article mr-2"></span>
                                            Ajouter une référence
                                        </button>
                                    {% endif %}
                                {% endif %}
                                <button type="button"
                                        class="btn btn-outline-primary d-none print dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                                    <a href="{{ path('reception_bar_codes_print', {reception: reception.id}) }}"
                                       id="buttonPrintMultipleBarcodes"
                                       class="dropdown-item d-none print  d-flex align-items-center">
                                        <span class="wii-icon wii-icon-printer-black mr-2"></span>Générer les étiquettes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="tableArticle_id" class="table"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% if displayLitiges %}
                <div class="col-6 pl-2">
                    <div class="wii-box mt-0">
                        <div class="header wii-title">Liste des litiges</div>
                        <div class="content">
                            {% if hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::CREATE')) %}
                                <div class="row wii-page-card-header">
                                    <div class="col-auto ml-auto">
                                        <button type="button"
                                                data-id='{{ reception.id }}'
                                                data-target='#modalNewLitige'
                                                data-toggle='modal'
                                                class="btn btn-primary d-flex align-items-center"
                                                onclick="openNewLitigeModal($(this))">
                                            <span class="wii-icon wii-icon-plus mr-2"></span>
                                            Nouveau litige
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    <table id="tableReceptionLitiges" class="table w-100"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for line in reception.lines %}
                {% for ra in line.receptionReferenceArticles %}
                    {% if line.pack is not null %}
                        {% dump('pack : ') %}
                        {% dump(line.pack.code) %}
                    {% endif %}
                    {% dump('ref : ') %}
                    {% dump(ra.referenceArticle.reference) %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <button class="btn" id="cannotGenerateStock" data-target='#modalCannotGenerateStock' data-toggle='modal'
            hidden></button>
    <button class="btn" id="chooseConditionnement" data-target='#modalChoose' data-toggle='modal' hidden></button>
    <button class="btn" id="finishReception" data-target='#modalFinishReception' data-toggle='modal' hidden></button>
    <input type="number" id="ligneSelected" value="-1" hidden></input>


    {% include "reception/show/modalDeleteReception.html.twig" %}
    {% include "reception/show/modalEditReception.html.twig" %}
    {% include "reception/show/modalEditLigneArticle.html.twig" %}
    {% include "reception/show/modalDeleteLigneArticle.html.twig" %}
    {% include "reception/show/modalAddLigneArticle.html.twig" %}
    {% include "reception/show/modalChooseConditionnement.html.twig" %}
    {% include "article/modalDeleteArticle.html.twig" %}
    {% include 'reception/show/modalNewLitige.html.twig' %}
    {% include 'reception/show/modalEditLitige.html.twig' %}
    {% include 'reception/show/modalNewLigneReception.html.twig' with {
        precheckedDelivery,
        deliverySwitchLabel,
        restrictedLocations
    } %}
    {% include 'reception/show/modalDeleteLitige.html.twig' %}
    {% include 'reception/show/modalFinishReception.html.twig' %}
    {% include 'reception/show/modalCancelReception.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/form-litiges.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/delivery/request/common.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/form-reference-article.js') }}?v={{ web_version }}"></script>
    {{ encore_entry_script_tags('reception-show') }}
    {{ encore_entry_link_tags('reception-show') }}
{% endblock %}
