{% import "form.html.twig" as form %}

<div id="modalNewReceptionReferenceArticle" class="modal fade" role="dialog"
     data-modal-type="new" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered"
         role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter une référence"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-xl-6 col-12">
                        <div class="row no-gutters align-items-end">
                            <div class="col">
                                {{ form.select("referenceArticle", trans('Stock', 'Références', 'Général', 'référence'), true, {
                                    type: "reference",
                                    attributes: {
                                        onchange: "articleChanged($(this))",
                                        "data-other-params-active-only": 1,
                                    }
                                }) }}
                            </div>

                            {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE_REF_FROM_RECEP')) %}
                                <div class="col-auto pl-2">
                                    <a href="{{ path('reference_article_new_page', {from: 'reception_add_line', reception: reception.id}) }}"
                                       class="btn btn-primary m-0 d-flex align-items-center">
                                        <span class="wii-icon wii-icon-plus mr-1"></span>
                                        <span>Créer</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if reception.hasPacks %}
                        <div class="form-group col-xl-6 col-12">
                            {{ form.select("pack", trans('Traçabilité', 'Général', 'Unité logistique'), false, {
                                type: "receptionLogisticUnits",
                                attributes: {
                                    "data-other-params": "",
                                    "data-other-params-all": "1",
                                    "data-other-params-reception": reception.id,
                                },
                            }) }}
                        </div>
                    {% endif %}
                    <div id='innerNewRef'
                         class="form-group w-100 col-12">
                    </div>
                </div>
                <div class="body-add-ref row">
                    <div class="container">
                        <div class="form-group col-12 emergency d-none">
                            <h1 class="my-0"><i class="fa fa-exclamation-triangle mr-2"></i>Cette référence est en URGENCE.</h1>
                            <div class="form-group commentOverflow h-100 mw-50 text-justify mw-75">
                                <p class="pl-0">Commentaire de l'urgence :
                                    <div class="emergency-comment"></div>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-12">
                        {% if reception.orderNumber is not empty %}
                            {{ form.select("commande", "Numéro de commande d'achat", true, {
                                items: reception.orderNumber|map((orderNumber) => {
                                    label: orderNumber,
                                    value: orderNumber,
                                    selected: false,
                                }),
                            }) }}
                        {% else %}
                            {{ form.input("commande", "Numéro de commande d'achat", true, null) }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6 col-12">
                        {{ form.input("quantiteAR", "Quantité à recevoir", true, null, {
                            type: "number",
                            min: 1,
                        }) }}
                    </div>
                    <div class="form-group col-md-6 col-12">
                        {% set field = constant('App\\Entity\\Fields\\FixedFieldEnum::unitPrice') %}
                        {{ form.input(field.name, field.value, false, null, {
                            type: "number",
                            min: 0,
                            step: 0.001,
                        }) }}
                    </div>
                    <div class="form-group col-12">
                        {{ form.checkbox("anomalie", "Anomalie", false) }}
                    </div>
                    <div class="form-group col-12">
                        {{ form.wysiwyg("commentaire", "Commentaire", false) }}
                    </div>
                </div>

                {{ form.hidden("reception", reception.id) }}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler', event: "clearModal($(this).parents('#modalNewReceptionReferenceArticle'))"},
                    {classes: 'btn btn-success', text: 'Enregistrer', type: "submit"},
                    {
                        classes: 'btn btn-success d-none',
                        text: 'Réceptionner les articles',
                        id: 'addArticleLigneSubmitAndRedirect',
                        event: 'openModalNewReceptionReferenceArticle($(this))'
                    },
                ],
            } %}

        </div>
    </div>
</div>
