<div class="row allow-expand">
    <div class="col-4">
        Source
        {% if transportRequest %}
            <a href="{{ path('transport_request_show' , {transport: transportRequest.id}) }}">
                {{ source }}
            </a>
        {% else %}
            <span class="bold"></span>
        {% endif %}

    </div>
    <div class="col-4">Date et heure <span class="bold">{{ triggered | date('d/m/Y H:i:s') }}</span></div>
</div>
<div class="row allow-expand">
    <div class="col-1 pr-0">
        <div class="d-flex align-items-center h-100">
            Notification
        </div>
    </div>
    <div class="col-10 pl-0">
        <div class="mt-2 allow-expand no-ellipsis">
            <div class="bg-light-grey bold p-2" style="white-space: break-spaces">{{ content }}</div>
        </div>
    </div>
    <div class="col-1 text-center">
        {% if image %}
            <div class="d-flex align-items-center h-100">
                <img src="{{ image }}" alt="" width="50px" height="50px"
                     style="margin: auto">
            </div>
        {% endif %}
    </div>
</div>
