<div class="row planning-container planning-container-7">
    {% set allCards = cards ?? [] %}
    {% if planningColumns is not empty %}
        {% for column in planningColumns %}
            {% set columnLeftInfo = column.columnLeftInfo ?? null %}
            {% set columnRightInfo = column.columnRightInfo ?? null %}
            {% set columnClasses = column.columnClasses ?? null %}
            {% set columnLeftHint = column.columnLeftHint ?? null %}
            {% set columnRightHint = column.columnRightHint ?? null %}
            {% set cardSelector = column.cardSelector ?? null %}
            {% set cards = allCards[cardSelector] ?? [] %}

            <div class="col-12 planning-col {{ columnClasses | join(" ") }}"
                 data-card-selector="{{ cardSelector }}">
                <div class="wii-box border flex-fill d-flex flex-column">
                    <div class="header d-flex justify-content-between">
                        <span class="wii-title">{{ columnLeftInfo }}</span>
                        <span class="wii-title">
                            {{ columnRightInfo }}
                        </span>
                    </div>
                    {% if columnLeftHint or columnRightHint %}
                        <div class="column-hint-container">
                            {%  if columnLeftHint is defined and columnLeftHint %}
                                <div class="column-hint column-hint-left">
                                    {{ columnLeftHint|raw }}
                                </div>
                            {% endif %}
                            {% if columnRightHint %}
                                <div class="ml-auto bold">
                                    {{ columnRightHint|raw }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="d-flex flex-fill flex-column maxh-100 overflow-y-hidden">
                        <div class="planning-card-container scrollable"
                             data-loader-color="black"
                             data-loader-size="normal">
                            {% for card in cards %}
                                {{ card|raw }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-12 d-flex">
            <div class="d-flex flex-fill justify-content-center align-items-center">
                <span>Aucun jour travaillé sur cette semaine</span>
            </div>
        </div>
    {% endif %}
</div>

