{% extends "layout.html.twig" %}

{% block page_content %}
    
<h1>Nouvelle préparation</h1>

<form class="container-fluid" action={{path("creation_preparation")}} method="POST">
    <div class="form-group row">
        <h3>Lieux de livraison</h3>
        <select class="form-control" name="direction" id="">
            {% for item in emplacements %}
                <option value={{item.id}}>{{item.nom}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">        
        <h3>Articles</h3>
       
        {% for refArticle in refArticles %}
            <div class="form-group row">
                <p class=" col-form-label"><strong>{{ refArticle.reference}}</strong> (quantité disponible: {{refArticle.quantity}})</p>
                <input class="form-control" type="number" name="piece[{{refArticle.id}}]" value=0 min="0" max={{refArticle.quantity}}>
            </div>
        {% endfor %}
        </div>
    </div>
    <input class="button btn-left" type="submit" value="Commander">

</form>

{% endblock  %}