{% extends 'layout.html.twig' %}

{% block title %}Preparation index{% endblock %}

{% block page_content %}
    <h1>Préparation</h1>

    <div class="row btn pull-left">
        <a href='#' class="button btn-left"><span class="fas fa-history"></span> Historique</a>
    </div>
    <div class='row btn pull-right' >
        <a href="{{ path('preparation_creation') }}" class="button btn-left">
            <span class="fa fa-plus"></span>Nouvelle preparation
        </a >
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Date</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 0  %}
        {% for preparation in preparations %}
            <tr {% if i % 2 == 1 %} class="backtablejv" {% endif %}>
                    {% set i = i + 1 %}
                <td>{{ preparation.id }}</td>
                <td>{{preparation.numero}}</td>
                <td>{{ preparation.date ? preparation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ preparation.statut }}</td>
                <td>
                <form action={{path('preparation_index')}} method="post">
                    {% if preparation.statut == 'Nouvelle préparation' %}              
                        <button type="submit" name="fin" value={{preparation.id}} class="btn btn-xs btn-default command-edit backgreen"><i class="fas fa-check fa-2x"></i></button>                   
                    {% endif %}
                    <a href={{ path('preparation_show', {'id': preparation.id}) }} class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">aucun résultat</td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
