<form method="" class="modal fade" id="modalNewStatus" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un statut</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="mb-3 form-group col-12">
                        <label>Entité*</label>
                        <select name="category"
                                title="Entité"
                                class="data form-control needed"
                                onchange="hideOptionOnChange($('#modalNewStatus'))">
                            {% if categories|length > 1 %}
                                <option disabled value="" selected></option>
                            {% endif %}
                            {% for category in categories %}
                                <option value="{{ category.id }}"
                                        data-is-dispatch="{{  category.nom == constant('App\\Entity\\CategorieStatut::DISPATCH') }}">
                                    {{ category.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 form-group col-12">
                        <label for="label">Label*</label>
                        <input type="text" class="data form-control needed" name="label">
                    </div>

                    <div class="mb-3 form-group col-12 d-none dispatch-fields handling-fields arrival-fields">
                        <label for="type">Type*</label>
                        <select name="type" class="data form-control field-needed">
                            <option value="">Type à choisir...</option>
                            {% for type in types %}
                                {% set subClass = (
                                    type.category is not null ? (
                                        (type.category.label == constant('App\\Entity\\CategoryType::DEMANDE_DISPATCH')) ? 'dispatch-fields' :
                                        (type.category.label == constant('App\\Entity\\CategoryType::DEMANDE_HANDLING')) ? 'handling-fields' :
                                        (type.category.label == constant('App\\Entity\\CategoryType::ARRIVAGE')) ? 'arrival-fields'
                                    )
                                ) %}
                                <option value="{{ type.id }}"
                                        class="d-none {{ subClass }}">
                                    {{ type.label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 form-group col-12">
                        <label for="state">État du statut*</label>
                        <select name="state" class="data form-control needed" onchange="statusStateChanged($(this))">
                            <option value=""></option>
                            {% for state in statusStates %}
                                <option value="{{ state.id }}"
                                        data-needs-nomad-sync="{{ state.id == constant('App\\Entity\\Statut::NOT_TREATED') }}"
                                        class="{{
                                            state.id == constant('App\\Entity\\Statut::DRAFT') ? 'dispatch-fields' :
                                            state.id == constant('App\\Entity\\Statut::DISPUTE') ? 'arrival-fields'
                                        }}">
                                    {{ state.label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-12 dispute-fields">
                        <label for="label">Commentaire litige</label>
                        <input type="text" class="data form-control" name="description">
                    </div>

                    <div class="col-12 form-group dispute-fields handling-fields">
                        <label>Statut par défaut pour cette entité ?</label>
                        <label class="switch">
                            <input class="checkbox" type="checkbox" name="defaultForCategory"/>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-12 form-group dispute-fields">
                        <label>Envoi de mails aux acheteurs ?</label>
                        <label class="switch">
                            <input class="checkbox" type="checkbox" name="sendMails">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-12 form-group dispute-fields dispatch-fields handling-fields">
                        <label>Envoi de mails au déclarant ?</label>
                        <label class="switch">
                            <input class="checkbox" type="checkbox" name="sendMailsDeclarant">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-12 form-group dispatch-fields">
                        <label>Envoi de mails au destinataire ?</label>
                        <label class="switch">
                            <input class="checkbox" type="checkbox" name="sendMailsRecipient">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-12 form-group dispatch-fields handling-fields nomad-sync">
                        <label>Synchronisation nomade ?</label>
                        <label class="switch">
                            <input class="checkbox" type="checkbox" name="needsMobileSync">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-group col-3">
                        <label for="label">Ordre</label>
                        <input type="number" class="data form-control" name="displayOrder" min="1">
                    </div>
                </div>
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewStatus" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
