<form method="">
    <input type="hidden" class="form-control data" name="status" value="{{ status.id }}">

    <div class="row">
        <div class="col-12 form-group">
            <label>Entité*</label>
            <select name="category"
                    title="Entité"
                    class="form-control needed"
                    disabled>
                <option selected value="{{ status.categorie.id }}">{{ status.categorie.nom }}</option>
            </select>
        </div>

        <div class="col-12 form-group">
            <label for="username">Libellé*</label>
            <input type="text"
                   class="form-control data needed"
                   name="label"
                   required
                   value="{{ status.nom }}"/>
        </div>

        {% set hideType = (
            status.categorie.nom != constant('App\\Entity\\CategorieStatut::DISPATCH')
            and status.categorie.nom != constant('App\\Entity\\CategorieStatut::HANDLING')
            and status.categorie.nom != constant('App\\Entity\\CategorieStatut::ARRIVAGE')
        ) %}
        {% set isTypeSelected = status.type is not null %}
        <div class="col-12 form-group {{ hideType ? 'd-none'}}">
            <label for="type">Type*</label>
            <select name="type"
                    class="data form-control {{ not hideType ? 'needed'}}"
                    {{ isTypeSelected ? 'disabled' }}>
                {% if isTypeSelected %}
                    <option selected value="{{ status.type.id }}">{{ status.type.label }}</option>
                {% else %}
                    <option selected value="">Type à choisir...</option>
                    {% for type in types %}
                        {% if status.type is null or status.type.id != type.id  %}
                            <option value="{{ type.id }}">{{ type.label }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="mb-3 form-group col-12">
            <label for="state">État du statut*</label>
            <select name="state" class="data form-control needed" onchange="statusStateChanged($(this))">
                {% for state in states %}
                    <option value="{{ state.id }}"
                            class="{{
                                state.id == constant('App\\Entity\\Statut::DRAFT') ? 'dispatch-fields' :
                                state.id == constant('App\\Entity\\Statut::DISPUTE') ? 'arrival-fields'
                            }}"
                            {{ state.id == status.state ? 'selected' }}>
                        {{ state.label }}
                    </option>
                {% endfor %}
            </select>
        </div>

        {% set hideDisputeComment = (
            status.categorie.nom == constant('App\\Entity\\CategorieStatut::DISPATCH')
            or status.categorie.nom == constant('App\\Entity\\CategorieStatut::HANDLING')
            or status.categorie.nom == constant('App\\Entity\\CategorieStatut::ARRIVAGE')
        ) %}
        <div class="col-12 form-group {{ hideDisputeComment ? 'd-none' }}">
            <label for="username">Commentaire litige</label>
            <input type="text" class="form-control data" name="comment" value="{{ status.comment }}"/>
        </div>

        {% set hideDefault = status.categorie.nom == constant('App\\Entity\\CategorieStatut::DISPATCH') %}
        <div class="col-12 form-group {{ hideDefault ? 'd-none' }}">
            <label>Statut par défaut pour cette entité ?</label>
            <label class="switch">
                <input class="checkbox" type="checkbox" name="defaultForCategory" {{ status.defaultForCategory ? 'checked' }}/>
                <span class="slider round"></span>
            </label>
        </div>

        {% set hideSendNotifToBuyer = (
            status.categorie.nom == constant('App\\Entity\\CategorieStatut::DISPATCH')
            or status.categorie.nom == constant('App\\Entity\\CategorieStatut::HANDLING')
            or status.categorie.nom == constant('App\\Entity\\CategorieStatut::ARRIVAGE')
        ) %}
        <div class="col-12 form-group {{ hideSendNotifToBuyer ? 'd-none'}}">
            <label>Envoi de mails aux acheteurs ?</label>
            <label class="switch">
                <input class="checkbox" type="checkbox" name="sendMails" {{ status.sendNotifToBuyer ? 'checked' }}/>
                <span class="slider round"></span>
            </label>
        </div>
        {% set hideSendNotifToDeclarant = (
            status.categorie.nom == constant('App\\Entity\\CategorieStatut::ARRIVAGE')
        ) %}
        <div class="col-12 form-group {{ hideSendNotifToDeclarant ? 'd-none'}}">
            <label>Envoi de mails au déclarant ?</label>
            <label class="switch">
                <input class="checkbox" type="checkbox" name="sendMailsDeclarant" {{ status.sendNotifToDeclarant ? 'checked' }}/>
                <span class="slider round"></span>
            </label>
        </div>
        {% set hideSendNotifToBuyer = (
            status.categorie.nom == constant('App\\Entity\\CategorieStatut::HANDLING')
            or status.categorie.nom == constant('App\\Entity\\CategorieStatut::ARRIVAGE')
        ) %}
        <div class="col-12 form-group {{ hideSendNotifToBuyer ? 'd-none' }}">
            <label>Envoi de mails au destinataire ?</label>
            <label class="switch">
                <input class="checkbox" type="checkbox" name="sendMailsRecipient" {{ status.sendNotifToRecipient ? 'checked' }}/>
                <span class="slider round"></span>
            </label>
        </div>

        {% set showNeedMobileSync = (
            (
                status.categorie.nom == constant('App\\Entity\\CategorieStatut::DISPATCH') and
                status.state == constant('App\\Entity\\Statut::NOT_TREATED')
            )
            or status.categorie.nom == constant('App\\Entity\\CategorieStatut::HANDLING')
        ) %}
        <div class="col-12 form-group nomad-sync {{ not showNeedMobileSync ? 'd-none' }}">
            <label>Synchronisation nomade ?</label>
            <label class="switch">
                <input class="checkbox" type="checkbox" name="needsMobileSync" {{ status.needsMobileSync ? 'checked' }}/>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="form-group col-3">
            <label for="label">Ordre</label>
            <input type="number" class="data form-control" name="displayOrder" value="{{ status.displayOrder }}" min="1"/>
        </div>
    </div>
</form>
