{% for ref in refs %}
    <div class="row">
        {% if ref.articles|length > 0  and managedByArticle %}
            <div class="col-2 form-group">
                <label for="">Référence</label>
                <input type="text" class="form-control" value="{{ ref.reference }}" disabled>
            </div>
            <div class="col-3 form-group">
                <label for="">Code article*</label>
                <select name="{{ 'article' ~ loop.index0 }}" class="form-control data needed" onchange="onArticleSelectChange($(this))">
                    <option value=""></option>
                    {% for art in ref.articles %}
                        <option value="{{ art.id }}" data-quantity="{{ art.quantite }}">{{ art.barCode }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-1 form-group">
                <label for="">Quantité</label>
                <input type="text" class="form-control article-quantity" disabled>
            </div>
        {% else %}
            <div class="col-6 form-group">
                <label for="">Référence</label>
                <input type="text" class="form-control data" name="{{ 'reference' ~ loop.index0 }}" value="{{ ref.reference }}" disabled>
            </div>
        {% endif %}
        <div class="col-6 form-group">
            <label for="">Quantité à livrer*</label>
            <input type="number" class="form-control data needed" name="{{ 'quantity' ~ loop.index0 }}">
        </div>
    </div>
{% endfor %}
{% if refs|length > 0 %}
<div class="row">
    <div class="col-12 form-group">
        <label for="">Mes demandes (laisser vide pour création d'une demande)</label>
        <select name="delivery" class="form-control data">
            <option value=""></option>
            {% for delivery in deliveries %}
                <option value="{{ delivery.id }}">{{ delivery.numero }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}
