{% import 'form.html.twig' as form %}

{% extends 'layout.html.twig' %}

{% block title %}Panier{% endblock %}

{% block page_content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 50px;">
        <div class="row wii-form wii-large-column">
            <div class="col-12 col-md-4">
                <div class="wii-box">
                    <div class="header wii-title">Demande</div>
                    <div class="content">
                        {{ form.switch('requestType', 'Type de demande', false, [
                            {label: {wiiIcon: 'cart-delivery', text: 'Livraison'}, value: 'delivery', checked: true},
                            {label: {wiiIcon: 'cart-collect', text: 'Collecte'}, value: 'collect'},
                            {label: {wiiIcon: 'cart-purchase', text: 'Achat'}, value: 'purchase'},
                        ]) }}

                        {{ form.radio('addOrCreate', 'Ajouter à une de mes demandes en brouillon', false, 'add') }}
                        {{ form.radio('addOrCreate', 'Créer une nouvelle demande', false, 'create') }}

                        <div class="sub-form existing-delivery d-none">
                            <div class="my-delivery-requests">
                                <div class="section">Ma demande de livraison</div>
                                <label for="delivery-request" title="delivery-request">
                                    Mes livraisons
                                </label>
                                <select class="form-control data needed w-100" name="delivery-request"
                                        onchange="onDeliveryChanged($(this), true)" data-placeholder="- ">
                                    <option value="-">-</option>
                                    {% for deliveryRequest in deliveryRequests %}
                                        <option value="{{ deliveryRequest.id }}">
                                            {{ deliveryRequest.number }} -
                                            {{ deliveryRequest.type }} -
                                            {{ deliveryRequest.destination }} - Créée le
                                            {{ deliveryRequest.creationDate }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% for deliveryRequest in deliveryRequests %}
                                    <input type="hidden" id="{{ deliveryRequest.id }}" value="{{ deliveryRequest.comment }}"/>
                                {% endfor %}


                            </div>
                            <div class="delivery-request-content d-none">
                                <div class="comment">
                                    <span class="comment-title">Commentaire</span>
                                </div>

                                <div class="delivery-references">
                                    <span class="references-title">Références présentes dans la demande</span>
                                    <table id="tableDeliveryReferences" class="table"></table>
                                </div>
                            </div>
                        </div>

                        <div class="sub-form create-delivery d-none">
                            <div class="section">Ma nouvelle demande de livraison</div>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    {{ form.select('deliveryType', 'Type', true, {
                                        type: 'deliveryType',
                                        placeholder: 'Sélectionnez un type',
                                        search: false,
                                        onChange: 'cartTypeChange($(this))',
                                    }) }}
                                </div>
                                <div class="col-md-6 col-12">
                                    {{ form.select('destination', 'Destination', true, {
                                        type: 'location',
                                        placeholder: 'Sélectionnez un emplacement',
                                        includeParams: '[name=deliveryType]',
                                        disabled: true,
                                    }) }}
                                </div>
                                <div class="col-12">
                                    <span class="toggle-collapsible wii-subtitle mt-2 expanded">Champs libres</span>
                                    <div class="collapsible expanded free-fields-container mb-2">
                                        {% for type in freeFieldsTypes %}
                                            <div class="d-none" data-type="{{ type.typeId }}">
                                                {% include 'free_field/freeFieldsViewing.html.twig' with {
                                                    freeFields: type.champsLibres,
                                                    freeFieldValues: [],
                                                    colType: 'col-md-6 col-12',
                                                    requiredType: 'requiredCreate',
                                                    actionType: 'new',
                                                    disabledNeeded: true
                                                } %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    {{ form.wysiwyg('comment', 'Commentaire', false) }}
                                </div>
                            </div>


                            <input type="hidden" id="default-delivery-locations" value="{{ defaultDeliveryLocations | json_encode }}">
                        </div>

                        <div class="sub-form existing-collect d-none">
                            <div class="my-collect-requests">
                                <div class="section">Ma demande de collecte</div>
                            </div>
                            <div class="collect-request-content d-none">
                                <div class="comment">
                                    <span class="comment-title">Commentaire</span>
                                    le commentaire !!
                                </div>
                            </div>
                        </div>

                        <div class="sub-form create-collect d-none">
                            <div class="section">Ma nouvelle demande de collecte</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="wii-box">
                    <div class="header wii-title">Références</div>
                    <div class="content">
                        {% for reference in app.user.cart.references %}
                            <div class="cart-reference-container">
                                <div class="cart-reference">
                                    <div class="cart-reference-type">{{ reference.type.label }}</div>
                                    <div class="cart-reference-infos">
                                        <span class="wii-medium-text">Référence : {{ reference.reference }}</span><br>
                                        {{ reference.libelle }}
                                    </div>
                                    <div class="cart-reference-current-quantity">
                                        <span class="wii-medium-text">Quantité disponible</span> {{ reference.quantiteDisponible }}<br>
                                        <span class="wii-small-text">Ref article fournisseur : ???</span>
                                    </div>
                                    <div class="cart-reference-quantity">
                                        {{ form.number('quantity', '<span class="quantity-label">Quantité</span>', true, null, {
                                            type: 'quantity',
                                        }) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-success float-right mt-3" onclick="validateCart()">
                    Valider mon panier
                </button>
            </div>
        </div>
    </div>

    <input type="hidden" value="{{ app.user.cart.references | length }}" id="cart-refs-count"/>
    {% include 'cart/modalAddToRequest.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart') }}
    <script src="{{ asset('js/pages/cart.js') }}?v={{ web_version }}"></script>
{% endblock %}
