{% import 'form.html.twig' as form %}

{% extends 'layout.html.twig' %}

{% block title %}Panier{% endblock %}

{% block page_content %}
    <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 50px;">
        <div class="row wii-form wii-large-column">
            <div class="col-12 col-md-4">
                <div class="wii-box">
                    <div class="header wii-title">Demande</div>
                    <div class="content">
                        {{ form.switch('requestType', 'Type de demande', false, [
                            {label: {wiiIcon: 'cart-delivery', text: 'Livraison'}, value: 1},
                            {label: {wiiIcon: 'cart-collect', text: 'Collecte'}, value: 2},
                            {label: {wiiIcon: 'cart-purchase', text: 'Achat'}, value: 3},
                        ]) }}

                        {{ form.radio('addOrCreate', 'Ajouter à une de mes demandes en brouillon', false, 'add') }}
                        {{ form.radio('addOrCreate', 'Créer une nouvelle demande', false, 'create') }}

                        <div class="existing-delivery">
                        <div class="section">Ma demande de livraison</div>
                            {# TODO romain #}

                            <div class="comment">
                                <span class="comment-title">Commentaire</span>
                                le commentaire !!
                            </div>
                        </div>

                        <div class="create-delivery">
                            <div class="section">Ma nouvelle demande de livraison</div>

                        </div>

                        <div class="existing-collect">
                        <div class="section">Ma demande de collecte</div>
                            <div class="comment">
                                <span class="comment-title">Commentaire</span>
                                le commentaire !!
                            </div>
                        </div>

                        <div class="create-delivery">
                            <div class="section">Ma nouvelle demande de collecte</div>

                        </div>

                        {# examples à supprimer #}
                        {{ form.slider('nameeo', 'Oui ou non', true) }}
                        {{ form.input('namee', 'Champ texte', true) }}
                        {{ form.textarea('nameeee', 'Textarea', false) }}
                        {{ form.checkbox('checkname', 'Une checkbox', false) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="wii-box">
                    <div class="header wii-title">Références</div>
                    <div class="content">
                    </div>
                </div>
                <button class="btn btn-success float-right mt-3" onclick="validateCart()">
                    Valider mon panier
                </button>
            </div>
        </div>
    </div>

    <input type="hidden" value="{{ app.user.cart.references | length }}" id="cart-refs-count"/>
    {% include 'cart/modalAddToRequest.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/cart.js') }}?v={{ web_version }}"></script>
{% endblock %}
