{% for buyerId, refs in refsByBuyer %}
    <hr class="border-primary"/>
    {% for ref in refs %}
        <div class="row">
            <div class="col-6 form-group">
                <label for="">Référence</label>
                <input type="text" class="form-control data" name="{{ 'reference' ~ '-' ~ buyerId ~ '-' ~ loop.index0 }}" value="{{ ref.reference }}" disabled>
            </div>
            <div class="col-6 form-group">
                <label for="">Quantité demandée*</label>
                <input type="number" class="form-control data needed" name="{{ 'quantity' ~ '-' ~ buyerId ~ '-' ~ loop.index0 }}">
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-12 form-group">
            <label for="">Mes demandes (laisser vide pour création d'une demande)</label>
            <select name="{{ 'purchase' ~ '-' ~ buyerId }}" class="form-control data" onchange="onPurchaseRequestChange()">
                <option value=""></option>
                {% for purchase in purchases %}
                    {% if not purchase.buyer or buyerId == purchase.buyer.id %}
                        <option value="{{ purchase.id }}" data-no-buyer="{{ not purchase.buyer ? 1 : 0}}">{{ purchase.number }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
{% endfor %}
