{% extends 'base.html.twig' %}

{% block title %}Filiales index{% endblock %}

{% block body %}
    <h1>Filiales index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filiale in filiales %}
            <tr>
                <td>{{ filiale.id }}</td>
                <td>{{ filiale.nom }}</td>
                <td>
                    <a href="{{ path('filiales_show', {'id': filiale.id}) }}">show</a>
                    <a href="{{ path('filiales_edit', {'id': filiale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('filiales_new') }}">Create new</a>
{% endblock %}
