<html lang="fr">
    <head>
        <style>
            .barcode-container {
                padding: .7mm;
                overflow: hidden;
                box-sizing: border-box;

                width: {{ width }}mm;
                height: {{ height }}mm;
            }

            .barcode {
                max-width: 100%;
                margin: 0;
                padding: 0;
                position: relative;
                text-align: center;
            }

            .barcode .barcode-code {
                height: 20%;
            }

            .barcode .barcode-wrapper {
                height: 80%;
            }

            svg {
                max-width: 100%;
                height: 100%;
            }

            .labels {
                text-align: center;
            }

            html, body {
                margin: 0;
                padding: 0;
            }

            .page-breaker {
                page-break-before: always;
                height: 0;
            }

            * {
                color: black;
                font-family: Arial, sans-serif;
            }
        </style>
        <title>{{title}}</title>
    </head>
    <body>
        {% for config in barcodeConfigs %}
            {% if not loop.first %}<div class="page-breaker"></div>{% endif %}
            {% set labelsLength = config.labels|length %}
            <div class="barcode-container">
                <!--suppress CssOverwrittenProperties -->
                <div class="barcode"
                     style="
                         {% if labelsLength == 0 %}
                            height: 100%;
                         {% elseif labelsLength < 3 %}
                            height: 75%;
                         {% else %}
                            height: 65%;
                         {% endif %}
                     ">
                    <div class="barcode-wrapper"
                         style="
                             {% if labelsLength == 0 %}
                                 height: 70% !important;
                             {% endif %}
                         ">
                        {{
                            printBarcode({
                                code: config.barcode.code,
                                type: config.barcode.type,
                                format: 'svg',
                                height: config.barcode.height,
                                width: config.barcode.width
                            })|raw
                        }}
                    </div>

                    <div class="barcode-code"
                         style="
                             {% if labelsLength == 0 %}
                                 height: 30% !important;
                             {% endif %}
                         ">
                        <svg viewBox="0 0 {{ config.barcode.code|length }} 2"
                             xmlns="http://www.w3.org/2000/svg" >
                            <text y="50%"
                                  x="50%"
                                  dominant-baseline="middle"
                                  text-anchor="middle"
                                  font-size="1">
                                {{ config.barcode.code }}
                            </text>
                        </svg>
                    </div>
                </div>
                {# 0.65 = multiplicateur en fonction de la police = largeur d'un caractère a peu près #}
                {% set widthFontScale = 0.65 %}
                {# 1.3 = multiplicateur en fonction de la police = hauteur d'un caractère a peu près #}
                {% set heightFontScale = 1.3 %}
                <!--suppress CssOverwrittenProperties -->
                <div class="labels"
                     style="
                         {% if labelsLength == 0 %}
                            display: none;
                         {% elseif labelsLength < 3 %}
                            height: 25%;
                         {% else %}
                            height: 35%;
                         {% endif %}
                     ">
                    <svg viewBox="0 0 {{ config.barcode.longestLabel * widthFontScale }} {{ ((config.labels|length) + 1) * heightFontScale }}"
                         xmlns="http://www.w3.org/2000/svg" >
                        {% for label in config.labels %}
                            <text y="{{ loop.index * heightFontScale }}"
                                  x="50%"
                                  text-anchor="middle"
                                  font-size="1">
                                {{ label|trim }}
                            </text>
                        {% endfor %}
                    </svg>
                </div>
            </div>
        {% endfor %}
    </body>
</html>
