<html lang="fr">
<head>
    <title>{{ title }}</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
        * {
            font-family: Arial, sans-serif;
        }
        .container {
            display: block;
            width: 24cm;
        }
        table {
            border-collapse: collapse;
            border: 2px solid rgb(200, 200, 200);
            letter-spacing: 1px;
            font-family: sans-serif;
            font-size: .8rem;
        }
        td,
        th {
            border: 1px solid rgb(190, 190, 190);
            padding: 10px;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('img/gtlogistics.jpg') }}" alt="GT Logistics"/>
    <div>{{ data.consigner }}</div>
    <div>Ship to :  {{ data.deliveryAddress | nl2br }}</div>
    <div>Delivery :  {{ data.deliveryNumber }}</div>
    <div>Sales Order No :  {{ data.salesOrderNumber }}</div>
    <div>Customer PO Number :  {{ data.customerPONumber }}</div>
    <div>Rep order No :  {{ data.respOrderNb }}</div>
    <div>Delivery Date :  {{ data.deliveryDate }}</div>
    <div>WayBill :  {{ data.wayBill }}</div>
    <div>Customer PO Number :  {{ data.customerPODate }}</div>
    <div>Project No :  {{ data.projectNumber }}</div>
    <-------------------------------------->
    <div>Handled By :  {{ data.username }}</div>
    <div>Tel :  {{ data.userPhone }}</div>
    <div>Fax :  {{ data.userFax }}</div>
    <div>Customer/Buyer :  {{ data.buyer }}</div>
    <div>Tel :  {{ data.buyerPhone }}</div>
    <div>Fax :  {{ data.buyerFax }}</div>
    <-------------------------------------->
    <div>Invoice to : {{ data.invoiceTo }}</div>
    <div>Sold to : {{ data.soldTo }}</div>
    <div>End User : {{ data.endUserNo }}</div>
    <div>Deliver to : {{ data.deliverTo }}</div>
    <-------------------------------------->
    <table>
        <tr>
            <th>
                Description
            </th>
            <th>
                Quantity on Order
            </th>
            <th>
                Remaining on Order
            </th>
        </tr>
        {% for pack in data.packs %}
            <tr>
                <td>{{ pack.code }}</td>
                <td>{{ pack.quantity }}</td>
                <td>{{ pack.quantity }}</td>
            </tr>
        {% endfor %}
    </table>
    <-------------------------------------->
    <div>Consigner :  {{ data.consigner2 }}</div>
    <div>Date :  {{ data.date }}</div>
    <div>Page 1/1</div>
    <div>Note(s) : {{ data.notes }}</div>

</div>
</body>
</html>
