{% set dn = dispatch.deliveryNoteData %}

<html lang="fr">
<head>
    <title>{{ title }}</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        * {
            font-family: Arial, sans-serif;
        }

        .container {
            display: block;
            width: 24cm;
        }

        .full-width {
            width: 100%;
        }

        .split > * {
            display: inline-block;
            width: 11.9cm;
            vertical-align: top;
            margin-top: 0.5cm;
            border: 1px solid rgba(0, 0, 0, 0);
        }

        .split:first-child {
            float: left;
        }

        .split:last-child {
            float: right;
        }

        .header {
            font-size: 1.3em;
            font-weight: bold;
        }

        label {
            font-weight: bold;
        }

        table {
            margin-top: 1cm;
            border-collapse: collapse;
        }

        th {
            background-color: black;
            border: 1px solid black;
            color: white;
        }

        td {
            padding: 1mm 3mm;
            border: 1px solid black;
        }

        th.left {
            padding-left: 2mm;
            text-align: left;
        }

        table.invisible td, td.invisible {
            border: none;
        }

        .no-padding {
            padding-left: 0;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 24cm;
        }

        .text-right {
            text-align: right;
        }
        .image-title {
            max-height: 100px;
            max-width: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="split" style="margin-bottom:1cm">
        <div>
            {% if logo %}
                <img src="{{ 'https://' ~ app.request.httpHost ~ "/uploads/attachements/" ~ logo }}"
                     alt="GT Logistics"
                     class="image-title"/>
            {% endif %}

            <div style="float:right;margin-right:1cm">{{ dn.consignor | nl2br }}</div>
        </div>
        <div class="header">
            {{ trans('Demande', 'Acheminements', 'Bon de livraison', "Bon de livraison - Original") }}
        </div>
    </div>

    <table class="full-width">
        <tr>
            <td colspan="6" rowspan="4">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Adresse de livraison") }}</label><br>
                {{ dn.deliveryAddress | nl2br }}
            </td>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Numéro de livraison") }}</label><br>
                {{ dn.deliveryNumber }}
            </td>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Date de livraison") }}</label><br>
                {{ dn.deliveryDate }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Numéro de commande de vente") }}:</label><br>
                {{ dn.salesOrderNumber }}
            </td>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Lettre de voiture") }}</label><br>
                {{ dn.wayBill }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Bon de commande client") }}</label><br>
                {{ dn.customerPONumber }}
            </td>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Date commande client") }}</label><br>
                {{ dn.customerPODate }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Réponse numéro commande") }}</label><br>
                {{ dn.respOrderNb }}
            </td>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Numéro de projet") }}</label><br>
                {{ dn.projectNumber }}
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Contact") }}</label> : {{ dn.username }}<br>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Téléphone") }}</label> : {{ dn.userPhone }}<br>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Fax") }}</label> : {{ dn.userFax }}<br>
            </td>
            <td colspan="6">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Client acheteur") }}</label> : {{ dn.buyer }}<br>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Téléphone") }}</label> : {{ dn.buyerPhone }}<br>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Fax") }}</label> : {{ dn.buyerFax }}<br>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Facturé à") }} :</label><br>
                {{ dn.invoiceTo }}
            </td>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Vendu à") }} :</label><br>
                {{ dn.soldTo }}
            </td>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Dernier utilisateur") }} :</label><br>
                {{ dn.endUser }}
            </td>
            <td colspan="3">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Livrer à") }} :</label><br>
                {{ dn.deliverTo }}
            </td>
        </tr>
    </table>

    <table class="full-width">
        <tr>
            <th>{{ trans('Demande', 'Acheminements', 'Général', "Code") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Description") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Quantité") }}</th>
        </tr>
        {% for pack in dn.packs %}
            <tr>
                <td>{{ pack.code }}</td>
                <td>{{ pack.comment }}</td>
                <td>{{ pack.quantity }}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="invisible full-width">
        <tr>
            <td>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Expéditeur') }} :</label> {{ dn.consignor2 }}
            </td>
            <td class="text-right" nowrap>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Destinataire') }} :</label> ______________________
            </td>
        </tr>
        <tr>
            <td>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Date') }} :</label> {{ dn.date }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" style="padding-top:1cm;padding-bottom:1cm">
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Cachet et signature de l'entreprise") }}</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" nowrap>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Date") }} :</label> ______________________
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" nowrap>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Signataire autorisé") }} :</label> ______________________
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" nowrap>
                <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', "Page") }} 1/1</label>
            </td>
        </tr>
    </table>

    <footer>
        <label>{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Note(s)') }}</label><br>
        {{ dn.notes | nl2br }}
    </footer>
</div>
</body>
</html>
