{% set dn = dispatch.deliveryNoteData %}

<html lang="fr">
<head>
    <title>{{ title }}</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        * {
            font-family: Arial, sans-serif;
        }

        .container {
            display: block;
            width: 24cm;
        }

        .full-width {
            width: 100%;
        }

        .split > * {
            display: inline-block;
            width: 11.9cm;
            vertical-align: top;
            margin-top: 0.5cm;
            border: 1px solid rgba(0, 0, 0, 0); /* alignment is fucked up without it for some reason???????????????? */
        }

        .split:first-child {
            float: left;
        }

        .split:last-child {
            float: right;
        }

        .header {
            font-size: 1.3em;
            font-weight: bold;
        }

        label {
            font-weight: bold;
        }

        table {
            margin-top: 1cm;
            border-collapse: collapse;
        }

        th {
            background-color: black;
            border: 1px solid black;
            color: white;
        }

        td {
            padding: 1mm 3mm;
            border: 1px solid black;
        }

        th.left {
            padding-left: 2mm;
            text-align: left;
        }

        table.invisible td, td.invisible {
            border: none;
        }

        .no-padding {
            padding-left: 0;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 24cm;
        }

        .text-right {
            text-align: right;
        }
        .image-title {
            max-height: 100px;
            max-width: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="split" style="margin-bottom:1cm">
        <div>
            {% if logo %}
                <img src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ "/uploads/attachements/" ~ logo }}"
                     alt="GT Logistics"
                     class="image-title"/>
            {% endif %}

            <div style="float:right;margin-right:1cm">{{ dn.consignor | nl2br }}</div>
        </div>
        <div class="header">
            Delivery note - original
        </div>
    </div>

    <table class="full-width">
        <tr>
            <td colspan="6" rowspan="4">
                <label>Ship to</label><br>
                {{ dn.deliveryAddress | nl2br }}
            </td>
            <td colspan="3">
                <label>Delivery</label><br>
                {{ dn.deliveryNumber }}
            </td>
            <td colspan="3">
                <label>Delivery date</label><br>
                {{ dn.deliveryDate }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>Sales order No:</label><br>
                {{ dn.salesOrderNumber }}
            </td>
            <td colspan="3">
                <label>Waybill</label><br>
                {{ dn.wayBill }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>Customer PO number</label><br>
                {{ dn.customerPONumber }}
            </td>
            <td colspan="3">
                <label>Customer PO date</label><br>
                {{ dn.customerPODate }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>Rep order No</label><br>
                {{ dn.respOrderNb }}
            </td>
            <td colspan="3">
                <label>Project No</label><br>
                {{ dn.projectNumber }}
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <label>Handled by</label> : {{ dn.username }}<br>
                <label>Tel</label> : {{ dn.userPhone }}<br>
                <label>Fax</label> : {{ dn.userFax }}<br>
            </td>
            <td colspan="6">
                <label>Customer/buyer</label> : {{ dn.buyer }}<br>
                <label>Tel</label> : {{ dn.buyerPhone }}<br>
                <label>Fax</label> : {{ dn.buyerFax }}<br>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>Invoice to :</label><br>
                {{ dn.invoiceTo }}
            </td>
            <td colspan="3">
                <label>Sold to :</label><br>
                {{ dn.soldTo }}
            </td>
            <td colspan="3">
                <label>End user :</label><br>
                {{ dn.endUser }}
            </td>
            <td colspan="3">
                <label>Deliver to :</label><br>
                {{ dn.deliverTo }}
            </td>
        </tr>
    </table>

    <table class="full-width">
        <tr>
            <th>Code</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        {% for pack in dn.packs %}
            <tr>
                <td>{{ pack.code }}</td>
                <td>{{ pack.comment }}</td>
                <td>{{ pack.quantity }}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="invisible full-width">
        <tr>
            <td>
                <label>Consignor :</label> {{ dn.consignor2 }}
            </td>
            <td class="text-right" nowrap>
                <label>Consignee :</label> ______________________
            </td>
        </tr>
        <tr>
            <td>
                <label>Date :</label> {{ dn.date }}
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" style="padding-top:1cm;padding-bottom:1cm">
                <label>Company stamp & signature</label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" nowrap>
                <label>Date :</label> ______________________
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" nowrap>
                <label>Authorized signatory :</label> ______________________
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right" nowrap>
                <label>Page 1/1</label>
            </td>
        </tr>
    </table>

    <footer>
        <label>Note</label><br>
        {{ dn.notes | nl2br }}
    </footer>
</div>
</body>
</html>
