<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Bon d'acheminement") }}</title>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: Arial, sans-serif;
        }

        .page {
            page-break-before: always;
        }

        .clear {
            clear: both;
        }

        .space-apart > *:first-child {
            float: left;
        }

        .space-apart > *:last-child {
            float: right;
        }

        h1 {
            font-size: 1.8rem;
            font-weight: bold;
        }

        h2 {
            font-size: 1.4rem;
            font-weight: bold;
        }

        .header img {
            display: block;
            max-width: 25%;
            height: 2cm;
        }

        .header .qr {
            display: table;
            text-align: center;
            height: 2cm;
            width: 2cm;
        }

        .header span {
            display: block;
            white-space: nowrap;
        }

        table.table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            text-align: left;
            padding: 12px;
            min-width: 100px;
        }

        .always-break {
            word-wrap: break-word;
            word-break: break-all;
            white-space: pre-wrap;
        }

        .mt-4 {
            margin-top: 4rem;
        }

        .no-break {
            white-space: nowrap;
        }

        .pack-code {
            text-align: center;
            min-width: 2.5cm;
        }
    </style>
</head>
<body>
{% for pack in dispatch.dispatchPacks %}
    <div class="page">
        <div class="header space-apart">
            {% if app_logo %}
                <img src="{{ 'https://' ~ app.request.httpHost ~ '/' ~ app_logo }}"
                     alt="Logo de l'application"/>
            {% endif %}

            <div class="qr">
                {{ printBarcode({
                    code: dispatch.number,
                    type: 'qrcode',
                    format: 'svg',
                    height: 200,
                    width: 200,
                }) | raw }}
            </div>
        </div>
        <div class="space-apart clear">
            <h1>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Bon d'acheminement") }}</h1>
            <h2>N°{{ dispatch.number }}</h2>
        </div>
        <div class="content clear">
            <table class="table">
                <tr>
                    <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Date de création") }}</th>
                    <td>{{ dispatch.creationDate ? (dispatch.creationDate | date('d/m/Y H:i')) }}</td>
                    <th>{{ trans('Demande', 'Acheminements', "Champs fixes", "Emplacement prise") }}</th>
                    <td>{{ dispatch.locationFrom | format_helper('location') }}</td>
                </tr>
                <tr>
                    <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Date de validation") }}</th>
                    <td>{{ dispatch.validationDate ? (dispatch.validationDate | date('d/m/Y H:i')) }}</td>
                    <th>{{ trans('Demande', 'Acheminements', "Champs fixes", "Emplacement dépose") }}</th>
                    <td>{{ dispatch.locationTo | format_helper('location') }}</td>
                </tr>
                <tr>
                    <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Date de traitement") }}</th>
                    <td>{{ dispatch.treatmentDate ? (dispatch.treatmentDate | date('d/m/Y H:i')) }}</td>
                    <th>{{ trans('Demande', 'Acheminements', "Champs fixes", "Destination") }}</th>
                    <td>{{ dispatch.destination }}</td>
                </tr>
                <tr>
                    <th>{{ trans('Demande', "Général", "Demandeur") }}</th>
                    <td>{{ dispatch.requester | format_helper('user') }}</td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Destinataires") }}</th>
                    <td>{{ dispatch.receivers | format_helper('users') }}</td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Commentaire") }}</th>
                    <td colspan="3" class="always-break">{{ dispatch.commentaire | striptags | u.truncate(150) }}</td>
                </tr>
            </table>
        </div>

        <h2 class="mt-4">
            {{ 'mouvement de traçabilité.Colis' | trans }} - {{ loop.index }}/{{ dispatch.dispatchPacks | length }}
        </h2>
        <table class="table">
            <tr>
                <td rowspan="4" class="pack-code">
                    {{ printBarcode({
                        code: pack.pack.code,
                        type: 'qrcode',
                        format: 'svg',
                        height: 200,
                        width: 200,
                    }) | raw }}
                    <strong class="no-break">{{ pack.pack.code }}</strong>
                </td>
                <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Nature") }}</th>
                <td>{{ pack.pack.nature.label }}</td>
                <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Poids (kg)") }}</th>
                <td>{{ pack.pack.weight }}</td>
            </tr>
            <tr>
                <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Quantité à acheminer") }}</th>
                <td>{{ pack.quantity }}</td>
                <th>{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Volume (m3)") }}</th>
                <td>{{ pack.pack.volume }}</td>
            </tr>
            <tr>
                <th colspan="4">{{ trans('Demande', 'Acheminements', "Bon d'acheminement", "Commentaire") }}</th>
            </tr>
            <tr>
                <td colspan="4" class="always-break">{{ pack.pack.comment | striptags | u.truncate(100) }}</td>
            </tr>
        </table>
    </div>
{% endfor %}
</body>
</html>
