<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ trans('Demande', 'Acheminements', "Bon de surconsommation", "Bon de surconsommation", false) }}</title>
        <meta charset="UTF-8"/>
        <style>

            * {
                font-family: Arial, sans-serif;
            }

            .footer {
                width: 34.4cm;
                height: 4cm;
            }

            .footer .left-footer {
                float: left;
                width: 50%;
            }

            .footer .right-footer {
                float: right;
                width: 50%;
            }

            .bigger {
                font-size: 1.5rem;
            }

            .warning {
                display: block;
                margin-top: 3mm;
                font-weight: bold;
                font-size: 1.4rem;
                color: red;
                text-transform: uppercase;
            }
        </style>
        <script>
            function subst() {
                var vars = {};
                var queryStringsFromUrl = document.location.search.substring(1).split('&');
                for (var queryString in queryStringsFromUrl) {
                    if (queryStringsFromUrl.hasOwnProperty(queryString)) {
                        var tempVar = queryStringsFromUrl[queryString].split('=', 2);
                        vars[tempVar[0]] = decodeURI(tempVar[1]);
                    }
                }
                var cssSelectorClasses = ['page', 'topage'];
                for (var cssClass in cssSelectorClasses) {
                    if (cssSelectorClasses.hasOwnProperty(cssClass)) {
                        var element = document.getElementsByClassName(cssSelectorClasses[cssClass]);
                        for (var j = 0; j < element.length; ++j) {
                            element[j].textContent = vars[cssSelectorClasses[cssClass]];
                        }
                    }
                }
            }
        </script>
    </head>
    <body onload="subst()">
        <div class="footer">
            <div class="left-footer">
                <span class="warning">{{ trans('Demande', 'Acheminements', "Bon de surconsommation", "Document à ne pas dissocier de l'OF") }}</span><br/><br/>

                <b>{{ trans('Demande', 'Acheminements', "Bon de surconsommation", "Rappel") }} :</b><br/>
                {{ trans('Demande', 'Acheminements', "Bon de surconsommation", "1 à 5 lignes : service sous 15 minutes après demande aux équipes GT<br/>6 lignes et + : demande sous OF, service dans l'heure (fonction du nb de ligne)") }}
            </div>
            <div class="right-footer bigger">
                {{ trans('Demande', 'Acheminements', "Bon de surconsommation", "Visa et nom opérateur magasin") }} :<br/>
                {{ trans('Demande', 'Acheminements', "Bon de surconsommation", "Date") }} :
            </div>
        </div>
    </body>
    <div style="position: absolute; right: 0;">
        <span class="page"></span>/<span class="topage"></span>
    </div>
</html>
