<html lang="fr">
<head>
    <title>Bon de surconsommation</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        * {
            font-family: Arial, sans-serif;
        }

        .content {
            display: block;
            width: 34.4cm;
        }

        .logos {
            width: 34.4cm;
            height: 2cm;
        }

        .logos img {
            max-width: 25%;
            max-height: 2cm;
        }

        .logos img:first-of-type {
            float: left;
        }

        .logos img:last-of-type {
            float: right;
        }

        .bordered {
            position: relative;
            border: 2px solid black;
            margin: 5mm 0;
            padding: 0 5mm;
        }

        .right-codes {
            position: absolute;
            top: 0;
            right: 0;
            float: right;
            padding: 5mm;
        }

        .half {
            width: 50%;
            float: left;
        }

        .qr {
            display: inline-table;
            text-align: center;
            margin-left: 5mm;
            height: 2cm;
            width: 2cm;
        }

        .qr .barcode {
            text-align: center;
            display: table-row;
        }

        .qr .barcode svg {
            height: 100%;
            max-width: 100%;
        }

        .clear-float {
            content: " ";
            display: block;
            height: 0;
            clear: both;
        }

        table.packs {
            width: 100%;
            border-collapse: collapse;
        }

        table.packs thead th, table.packs thead td table.packs tbody th, table.packs tbody td {
            border: 2px solid black;
            text-align: center;
            padding: 3mm;
        }

        tr, td, th, tbody, thead, tfoot {
            page-break-inside: avoid !important;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }

        .grow {
            width: 25%;
        }

        .bigger {
            font-size: 1.5rem;
        }

        .warning {
            display: block;
            margin-top: 3mm;
            font-weight: bold;
            font-size: 1.4rem;
            color: red;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
<div class="logos">
    <img src="{{ 'http://' ~ app.request.httpHost ~ '/uploads/attachements/' ~ app_logo }}"
         alt="Logo de l'application"/>
    <img src="{{ 'http://' ~ app.request.httpHost ~ '/' ~ overconsumption_logo }}"
         alt="Logo de surconsommation"/>
</div>
<div class="content">
    <h1>Demande de surconsommation OF : {{ dispatch.commandNumber }}</h1>
    <div class="bordered">
        <h2>Caractéristiques de la demande</h2>
        <table class="half">
            <tr>
                <td><b>N° de demande</b></td>
                <td>{{ dispatch.number }}</td>
            </tr>
            <tr>
                <td><b>Ligne de dépose</b></td>
                <td>{{ dispatch.locationTo ? dispatch.locationTo.label }}</td>
            </tr>
            <tr>
                <td><b>Heure</b></td>
                <td>{{ dispatch.validationDate ? dispatch.validationDate | date('H:i:s') }}</td>
            </tr>
            <tr>
                <td><b>Faite par</b></td>
                <td>{{ dispatch.requester ? dispatch.requester.username }}</td>
            </tr>
            <tr>
                <td><b>Créée le</b></td>
                <td>{{ dispatch.creationDate | date ('d/m/Y H:i') }}</td>
            </tr>
        </table>

        <div class="right-codes">
            <div class="qr">
                <div class="barcode">
                    {{ printBarcode({
                        code: dispatch.number,
                        type: 'qrcode',
                        format: 'svg',
                        height: 200,
                        width: 200
                    }) | raw }}
                </div>
                N° de demande
            </div>
            {% if dispatch.locationTo %}
                <div class="qr">
                    <div class="barcode">
                        {{ printBarcode({
                            code: dispatch.locationTo.label,
                            type: 'qrcode',
                            format: 'svg',
                            height: 200,
                            width: 200
                        }) | raw }}
                    </div>
                    Ligne dépose
                </div>
            {% endif %}
        </div>

        <div class="clear-float"></div>
    </div>

    <table class="packs">
        <thead>
        <tr>
            <th>PN</th>
            <th>Qté demandée</th>
            <th>Qté livrée</th>
            <th class="grow">Emplacement</th>
            <th class="grow">N°lot/Cure date</th>
        </tr>
        </thead>
        {% for pack in dispatch.dispatchPacks %}
            <tr>
                <td>{{ pack.pack.code }}</td>
                <td>{{ pack.quantity }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <td colspan="3">
                <span class="warning">Document à ne pas dissocier de l'OF</span><br><br>

                <b>Rappel :</b><br>
                1 à 5 lignes : service sous 15 minutes après demande aux équipes GT
                6 lignes et + : demande sous OF, service dans l'heure (fonction du nb de ligne)
            </td>
            <td colspan="2" class="bigger">
                Visa et nom opérateur magasin :<br>
                Date :
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
