<html lang="fr">
<head>
    <title>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Bon de surconsommation", false) }}</title>
    <meta charset="UTF-8"/>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        * {
            font-family: Arial, sans-serif;
        }

        .content {
            display: block;
            width: 34.4cm;
        }

        .bordered {
            position: relative;
            border: 2px solid black;
            margin: 5mm 0;
            padding: 5mm;
        }

        .right-codes {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 5mm;
            width: 3.5cm;
        }

        .half {
            width: 35%;
            margin-right: 50px;
            float: left;
        }

        .qr {
            display: table;
            text-align: center;
            height: 2cm;
            width: 100%;
        }

        .qr .label {
            white-space: nowrap;
        }

        .qr .barcode {
            text-align: center;
            display: table-row;
        }

        .qr .barcode svg {
            max-width: 100%;
        }

        .clear-float {
            content: " ";
            display: block;
            height: 0;
            clear: both;
        }

        table.packs {
            width: 100%;
            border-collapse: collapse;
        }

        table.packs thead th, table.packs thead td table.packs tbody th, table.packs tbody td {
            border: 2px solid black;
            text-align: center;
            padding: 3mm;
        }

        table.packs tbody td {
            height: 25mm !important;
        }

        table.packs tbody th:nth-child(1), table.packs thead th:nth-child(1) {
            width: 20%;
        }

        table.packs tbody th:nth-child(2), table.packs thead th:nth-child(2) {
            width: 20%;
        }

        table.packs tbody th:nth-child(3), table.packs thead th:nth-child(3) {
            width: 5%;
        }

        table.packs tbody th:nth-child(4), table.packs thead th:nth-child(4) {
            width: 10%;
        }

        table.packs tbody th:nth-child(5), table.packs thead th:nth-child(5) {
            width: 5%;
        }

        table.packs tbody th:nth-child(6), table.packs thead th:nth-child(6) {
            width: 15%;
        }

        table.packs tbody th:nth-child(7), table.packs thead th:nth-child(7) {
            width: 20%;
        }

        table.packs tbody td svg {
            height: 19mm;
            max-width: 100%;
        }

        tr, td, th, tbody, thead, tfoot {
            page-break-inside: avoid !important;
        }

        thead {
            display: table-header-group;
        }

        .header td {
            padding: 2mm;
        }

        h2 {
            margin-top: 0;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="header bordered">
        <h2>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Caractéristiques de la demande") }}</h2>
        <table class="half">
            <tr>
                <td><b>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "N° de demande") }}</b></td>
                <td>{{ dispatch.number }}</td>
            </tr>
            <tr>
                <td><b>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Ligne de dépose") }}</b></td>
                <td>{{ dispatch.locationTo ? dispatch.locationTo.label }}</td>
            </tr>
            <tr>
                <td><b>{{ trans('Demande', 'Acheminements', 'Général', 'Date de validation') }}</b></td>
                <td>{{ dispatch.validationDate ? dispatch.validationDate | date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <td><b>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Faite par") }}</b></td>
                <td>{{ dispatch.requester ? dispatch.requester.username }}</td>
            </tr>
        </table>
        <table class="half m-0 p-0">
            {% for field in additionalFields %}
                <tr>
                    <td><b>{{ field.label }}</b></td>
                    <td>{{ field.value }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="right-codes">
            <div class="qr" style="margin-bottom: 5mm">
                <div class="barcode">
                    {{ printBarcode({
                        code: dispatch.number,
                        type: 'qrcode',
                        format: 'svg',
                        height: 200,
                        width: 200
                    }) | raw }}
                </div>
                <span class="label">{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "N° de demande") }}</span>
            </div>
            {% if dispatch.locationTo %}
                <div class="qr">
                    <div class="barcode">
                        {{ printBarcode({
                            code: dispatch.locationTo.label,
                            type: 'qrcode',
                            format: 'svg',
                            height: 200,
                            width: 200
                        }) | raw }}
                    </div>
                    <span class="label">{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Ligne de dépose") }}</span>
                </div>
            {% endif %}
        </div>

        <div class="clear-float"></div>
    </div>

    <table class="packs">
        <thead>
        <tr>
            <th>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "PN") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Code barre") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Qte demandée") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Général', "Nature") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Qté livrée") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Emplacement") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "N° lot / Cure date / N°EASA si besoin / Commentaire") }}</th>
        </tr>
        </thead>
        {% for pack in dispatch.dispatchPacks %}
            <tr>
                <td style="word-break: break-all">{{ pack.pack.code }}</td>
                <td>
                    {{ printBarcode({
                        code: pack.pack.code,
                        type: 'c128',
                        format: 'svg',
                        height: 60,
                        width: 1
                    }) | raw }}
                </td>
                <td>{{ pack.quantity }}</td>
                <td>{{ pack.pack.nature.labelIn(app.user.language.slug, language_service.defaultSlug) }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
