<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ trans('Demande', 'Acheminements', "Bon de surconsommation", "Bon de surconsommation", false) }}</title>
        <meta charset="UTF-8"/>
        <style>
            * {
                font-family: Arial, sans-serif;
            }

            .logos {
                width: 34.4cm;
                height: 2.5cm;
            }

            .logos img {
                max-width: 25%;
                max-height: 2cm;
            }

            .logos img:first-of-type {
                float: left;
            }

            .logos img:last-of-type {
                float: right;
            }

            h1, h2 {
                margin: 0;
            }

            h2 {
                padding-bottom: 5mm;
            }
        </style>
    </head>
    <body>
        <div class="logos">
            {% if app_logo %}
                <img src="{{ 'https://' ~ app.request.httpHost ~ '/' ~ app_logo }}"
                    alt="Logo de l'application"/>
            {% endif %}
            {% if overconsumption_logo %}
                <img src="{{ 'https://' ~ app.request.httpHost ~ '/' ~ overconsumption_logo }}"
                    alt="Logo de surconsommation"/>
            {% endif %}
        </div>
        <div class="content">
            <h1>{{ trans('Demande', 'Acheminements', 'Bon de surconsommation', "Demande de surconsommation OF / complément") }} : {{ commandNumber }}</h1>
        </div>
    </body>
</html>
