<html lang="fr">
<head>
    <title>Bon de transport</title>
    <meta charset="UTF-8"/>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        .header {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
        }

        .logo {
            max-width: 4cm;
            max-height: 2cm;
        }

        .header td:last-child {
            text-align: right;
        }

        .content {
            margin-left: 10%;
            margin-right: 10%;
        }

        .content table {
            border: black solid 1px;
            border-collapse: collapse;
            width: 100%;
            padding-top: 1cm;
        }

        .content th {
            background-color: rgb(82, 86, 89);
            color: white;
        }

        .content td {
            width: 50%;
        }

        .content th, .content td {
            border: black solid 1px;
            padding: 3px 7px;
        }

        .full-page {
            page-break-before: always;
        }
    </style>
</head>
<body>
<div class="full-page">
    <table class="header">
        <tr>
            <td>
                {% if app_logo %}
                    <img class="logo" src="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ '/' ~ app_logo }}" alt="Logo paramétré"/>
                {% endif %}
            </td>
            <td>
                <div>BL N° {{ requestNumber }}</div>
                <div>{{ society }}</div>
            </td>
        </tr>
    </table>
    <div class="content">
        <table>
            <tr>
                <th colspan="8">Suivi course</th>
            </tr>
            <tr>
                <td colspan="4">Donneur d'ordre&nbsp;: {{ originator }}</td>
                <td colspan="4">Coursier&nbsp;: {{ round.deliverer.username ?? "" }}</td>
            </tr>
            <tr>
                <td colspan="4">Date de demande&nbsp;: {{ request.createdAt | date('d/m/Y') }}</td>
                <td colspan="4">Véhicule&nbsp;: {{ round.deliverer.vehicle.registrationNumber ?? "" }}</td>
            </tr>
            <tr>
                <th colspan="4">Expediteur</th>
                <th colspan="4">Destinataire</th>
            </tr>
            <tr>
                <td colspan="4">{{ sender }}</td>
                <td colspan="4">{{ request.contact.name }} <br> {{ request.contact.address }}</td>
            </tr>
            <tr>
                <th colspan="2">Unité logistique</th>
                <th colspan="1">Quantité</th>
                <th colspan="5">Informations</th>
            </tr>
            {% for line in request.order.packs | filter(pack => pack.state != constant('App\\Entity\\Transport\\TransportDeliveryOrderPack::REJECTED_STATE') and pack.state != constant('App\\Entity\\Transport\\TransportDeliveryOrderPack::RETURNED_STATE')) %}
                <tr>
                    <td colspan="2" style="width: 30%;">{{ line.pack.code }}</td>
                    <td colspan="1" style="width: 15%;">{{ line.pack.quantity }}</td>
                    <td colspan="5">{{ line.pack.nature.label }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
