<html lang="fr">
<head>
    <title>{{ title }}</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        * {
            font-family: Arial, sans-serif;
        }

        .container {
            display: block;
            width: 24cm;
        }

        .full-width {
            width: 100%;
        }

        .split > * {
            display: inline-block;
            width: 11.9cm;
            vertical-align: top;
            margin-top: 0.5cm;
            border: 1px solid rgba(0, 0, 0, 0);
        }

        .split:first-child {
            float: left;
        }

        .split:last-child {
            float: right;
        }

        .header {
            font-size: 1.3em;
        }

        label {
            font-weight: bold;
        }

        table {
            margin-top: 1cm;
            border-collapse: collapse;
        }

        th {
            background-color: black;
            border: 1px solid black;
            color: white;
        }

        td {
            padding: 1mm 3mm;
            border: 1px solid black;
        }

        th.left {
            padding-left: 2mm;
            text-align: left;
        }

        table.invisible td, td.invisible {
            border: none;
        }

        .no-padding {
            padding-left: 0;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 24cm;
        }
        .image-title {
            max-height: 100px;
            max-width: 100px;
        }

        .qr {
            display: inline-block;
            height: 2cm;
            width: 2cm;
        }

        .dispatch-main-details {
            display: inline-block;
            margin-right: 10px;"
        }
    </style>
</head>
<body>
<div class="container">
    {% set entityWayBillData = entity.waybillData %}
    <div class="split">
        <div>
            {% if logo %}
                <img class="image-title"
                     src="{{ 'https://' ~ app.request.httpHost ~ "/" ~ logo }}"
                     alt="GT Logistics"/>
            {% endif %}
        </div>
        <div>
            <div class="dispatch-main-details">
                <div class="header">
                    {{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Lettre de voiture N°{1}", {
                        '1': number
                    }) }}<br>
                </div>

                {{ fromDelivery is defined and fromDelivery ? 'Date de livraison' : trans('Demande', 'Acheminements', 'Lettre de voiture', "Date d'acheminement") }} {{ entityWayBillData.dispatchDate }}
            </div>
            <div class="qr">
                {{ printBarcode({
                    code: number,
                    type: 'qrcode',
                    format: 'svg',
                    height: 100,
                    width: 100
                }) | raw }}
            </div>
        </div>
    </div>

    <div class="split">
        <div>
            <label>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', 'Transporteur') }}</label><br>
            {{ entityWayBillData.carrier | nl2br }}
        </div>
        <div></div>
    </div>

    <div class="split">
        <div>
            <label>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Expéditeur") }}</label><br>
            {{ entityWayBillData.consignor | nl2br }}
        </div>
        <div>
            <label>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Destinataire") }}</label><br>
            {{ entityWayBillData.receiver | nl2br }}
        </div>
    </div>

    <div class="split">
        <div>
            <label>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Contact expéditeur") }}</label><br>
            {{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Nom") }} : {{ entityWayBillData.consignorUsername }}<br>
            {{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Téléphone - Email") }} : {{ entityWayBillData.consignorEmail }}
        </div>
        <div>
            <label>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Contact destinataire") }}</label><br>
            {{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Nom") }} : {{ entityWayBillData.receiverUsername }}<br>
            {{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Téléphone - Email") }} : {{ entityWayBillData.receiverEmail }}
        </div>
    </div>

    <table class="invisible">
        <tr>
            <td class="no-padding"><label>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Lieu de chargement") }}&nbsp;:</label></td>
            <td>{{ entityWayBillData.locationFrom }}</td>
        </tr>
        <tr>
            <td class="no-padding"><label>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Lieu de déchargement") }}&nbsp;:</label></td>
            <td>{{ entityWayBillData.locationTo }}</td>
        </tr>
    </table>

    <table class="full-width">
        <tr>
            <td class="invisible">{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Marchandise") }} :</td>
        </tr>
        <tr>
            <th>{{ trans('Demande', 'Acheminements', 'Détails acheminement - Liste des unités logistiques', "Unité logistique") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Général', "Nature") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Général', "Quantité à acheminer") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Général', "Poids (kg)") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Général', "Volume (m3)") }}</th>
            <th>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Autres informations") }}</th>
        </tr>

        {% set total_quantity = 0 %}
        {% set total_weight = 0 %}
        {% set total_volume = 0 %}

        {% for pack in packs %}
            {% set total_quantity = total_quantity + pack.quantity %}
            {% set total_weight = total_weight + pack.weight %}
            {% set total_volume = total_volume + pack.volume %}

            <tr>
                <td>{{ pack.code }}</td>
                <td>{{ pack.nature }}</td>
                <td>{{ pack.quantity }}</td>
                <td>{% if pack.weight %}{{ pack.weight }} kg{% endif %}</td>
                <td>{% if pack.volume %}{{ pack.volume }} m3{% endif %}</td>
                <td>{{ pack.comment | raw }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td class="invisible"></td>
            <th>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Total") }}</th>
            <th class="left">{{ total_quantity }}</th>
            <th class="left">{{ total_weight }} kg</th>
            <th class="left">{{ total_volume }} m3</th>
            <td class="invisible"></td>
        </tr>
    </table>

    <footer>
        <label>{{ trans('Demande', 'Acheminements', 'Lettre de voiture', "Note de bas de page") }}</label><br>
        {{ entityWayBillData.notes | nl2br }}
    </footer>
</div>
</body>
</html>
