{% extends 'base.html.twig' %}

{% block title %}References{% endblock %}

{% block body %}
    <h1>References</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reference.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ reference.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reference.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ reference.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('references_index') }}">back to list</a>

    <a href="{{ path('references_edit', {'id': reference.id}) }}">edit</a>

    {{ include('references/_delete_form.html.twig') }}
{% endblock %}