{% import "form.html.twig" as form %}

<div class="row">
    <div class="form-group col-md-6 col-12">
        {{ form.input("orderedQuantity", "Quantité commandée", true, line.orderedQuantity, {
            type: "number",
            min: 1,
        }) }}
    </div>
    <div class="form-group col-12 col-md-6">
        {% set required = fieldsParam|isFieldRequired('numCommande', 'requiredCreate') %}
        {{ form.input("orderNumber", "N° commande", required, line.orderNumber) }}
    </div>
    <div class="form-group col-12 col-md-6">
        {% set required = fieldsParam|isFieldRequired('fournisseur', 'requiredCreate') %}
        {% set supplier = line.supplier ?? line.purchaseRequest.supplier ?? null %}
        {% set disabled = not line.supplier and line.purchaseRequest.supplier %}
        {{ form.select("supplier", "Fournisseur", required, {
            type: "provider",
            items: supplier ? [{
                value: supplier.id,
                label: supplier.nom,
                selected: true,
            }] : [],
            disabled,
        }) }}
    </div>
    <div class="form-group col-md-6 col-12">
        {% set required = fieldsParam|isFieldRequired('dateCommande', 'requiredCreate') %}
        {% set value = line.orderDate ? line.orderDate|date('Y-m-d H:i') %}
        {{ form.input("orderDate", "Date de commande", required, value, {
            type: "datetime-local",
        }) }}
    </div>
    <div class="form-group col-md-6 col-12">
        {% set required = fieldsParam|isFieldRequired('dateAttendue', 'requiredCreate') %}
        {% set value = line.expectedDate ? line.expectedDate|date('Y-m-d') %}
        {{ form.input("expectedDate", "Date attendue", required, value, {
            type: "date",
        }) }}
    </div>
    <div class="form-group col-md-6 col-12">
        {% set field = constant('App\\Entity\\Fields\\FixedFieldEnum::unitPrice') %}
        {{ form.input(field.name, field.value, false, line.unitPrice, {
            type: "number",
            min: 0,
            step: 0.001,
        }) }}
    </div>
</div>
