<form>
    <div class="row">
        <div class="form-group col-12">
            <label class="wii-field-name">Quantité commandée*</label>
            <input type="number" class="w-100 form-control data needed" name="orderedQuantity" min="1" title="Quantité commandée" value="{{ line.orderedQuantity }}">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12 col-md-6">
            <label class="wii-field-name">N° commande{{ fieldsParam|isFieldRequired('numCommande', 'requiredCreate') ? '*' }}</label>
            <input type="text"
                   class="w-100 form-control data {{ fieldsParam|isFieldRequired('numCommande', 'requiredCreate') ? 'needed' }}"
                   name="orderNumber"
                   title="N° commande"
                   value="{{ line.orderNumber }}">
        </div>
        <div class="form-group col-12 col-md-6">
            <label class="wii-field-name">Fournisseur{{ fieldsParam|isFieldRequired('fournisseur', 'requiredCreate') ? '*' }}</label>
            <div class="w-100">
                {% if line.supplier %}
                <select class="form-control data select2 ajax-autocomplete-fournisseur {{ fieldsParam|isFieldRequired('fournisseur', 'requiredCreate') ? 'needed' }}"
                        title="Fournisseur"
                        name="supplier"
                        disabled>
                    <option value="{{ line.supplier.id }}" selected>{{ line.supplier.nom }}</option>
                    {% else %}
                        <select class="form-control data select2 ajax-autocomplete-fournisseur {{ fieldsParam|isFieldRequired('fournisseur', 'requiredCreate') ? 'needed' }}"
                                title="Fournisseur"
                                name="supplier">
                        <option selected></option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label class="wii-field-name">Date de commande{{ fieldsParam|isFieldRequired('dateCommande', 'requiredCreate') ? '*' }}</label>
            <input type="text"
                   class="w-100 form-control data {{ fieldsParam|isFieldRequired('dateCommande', 'requiredCreate') ? 'needed' }} datepicker orderDate"
                   name="orderDate"
                   title="Date de commande"
                   data-date="{{ line.orderDate ? (line.orderDate|date('Y-m-d H:i')) }}">

        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label class="wii-field-name">Date attendue{{ fieldsParam|isFieldRequired('dateAttendue', 'requiredCreate') ? '*' }}</label>
            <input type="text"
                   class="w-100 form-control data {{ fieldsParam|isFieldRequired('dateAttendue', 'requiredCreate') ? 'needed' }} datepicker expectedDate"
                   name="expectedDate"
                   title="Date attendue"
                   data-date="{{ line.expectedDate ? (line.expectedDate|date('Y-m-d')) }}">
        </div>
    </div>
</form>
