{% import 'form.html.twig' as form %}

<div class="modal fade" id="modalAddPurchaseRequestLine" role="dialog" aria-hidden="true" >
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Ajouter une référence"
            } %}

            <div class="modal-body modal-input container-fluid">
                <form>
                    <div class="row">
                        <div class="form-group col-12">
                            <label class="wii-field-name"
                                   for="add-article-reference"
                                   title="référence"
                                   style="margin-bottom: 5px;">
                                {{ trans('Stock', 'Références', 'référence') }}*
                            </label>
                            <div class="w-100">
                                <select class="ajax-autocomplete form-control data needed"
                                        name="reference"
                                        onchange="onReferenceChange($(this))"
                                        id="add-article-reference">
                                </select>
                            </div>
                        </div>
                        <div id="add-article-code-selector" class="col-12 clear"></div>
                    </div>
                    <div class="row line-form-following-container d-none">
                        <div class="form-group col-6">
                            {{ form.input('label', 'Libellé', false, null, {
                                disabled: true,
                                data: false,
                            }) }}
                        </div>
                        <div class="form-group col-6">
                            {{ form.select('location', 'Emplacement', false, {
                                type: '',
                                inputClass: 'w-100'
                            }) }}
                        </div>
                        <div class="form-group col-12 col-md-6">
                            {{ form.input('stockQuantity', 'Quantité en stock', false, null, {
                                disabled: true,
                                data: false,
                            }) }}
                        </div>
                        <div class="form-group col-12 col-md-6">
                            {{ form.input('buyer', 'Acheteur', false, null, {
                                disabled: true,
                                data: false,
                            }) }}
                        </div>
                        <div class="form-group col-12">
                            {{ form.input('requestedQuantity', 'Quantité demandée', true, null, {
                                type: 'number',
                                min: 1
                            }) }}
                        </div>
                    </div>
                </form>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn data btn-success submit-button', text: 'Ajouter', value: request.id, disabled: true, name: 'request'}
                ],
            } %}

        </div>
    </div>
</div>
