<div class="d-flex">
    <div class="dropdown dropright">
        {{ include('datatable/dotsRow.html.twig') }}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
                <div class="dropdown-item"
                     data-toggle="modal"
                     data-target="#modalEditGroup"
                     data-id="{{ group.id }}"
                     onclick="editRow($(this), Routing.generate('group_edit_api', true), $('#modalEditGroup'), $('#submitEditGroup'))">
                    <i class='fas fa-edit mr-2'></i>
                    {{ trans('Général', null, 'Modale', 'Modifier') }}
                </div>
                {% if group.children is not empty %}
                    <div class="dropdown-item d-flex align-items-center"
                         data-target="#modalUngroup"
                         data-toggle="modal"
                         data-id="{{ group.id }}"
                         onclick="editRow($(this), Routing.generate('group_ungroup_api', true), $('#modalUngroup'), $('#submitUngroup'))">
                        <span class="wii-icon wii-icon-trash-black mr-2"></span>
                        {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', 'Dégrouper') }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
