<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10 col-12">
                <div class="row">
                    <div class="col-4">
                        Groupe <strong>{{ group.code }}</strong>
                    </div>
                    <div class="col-4">
                        Nature <strong>{{ group.nature ? group.nature.label : 'Non défini' }}</strong>
                    </div>
                    <div class="col-4">
                        Nombre colis <strong>{{ group.children | length }}</strong>
                    </div>
                    {% if last_movement is not null %}
                        <div class="col-12 mt-2">
                            Mouvementé la dernière fois le <strong>{{ last_movement.datetime | date('d/m/Y H:i:s') }}</strong>
                            sur l'emplacement <strong>{{ last_movement.emplacement ? last_movement.emplacement.label : '-' }}</strong> par
                            <strong>{{ last_movement.operateur.username }}</strong>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="group-packs">
            {% for pack in group.children %}
                <div class="group-pack">
                    <div class="pack-header row">
                        <div class="col-auto mr-auto">
                            Colis <strong>{{ pack.code }}</strong><br>
                            Quantité <strong>{{ pack.quantity }}</strong><br>
                            Nature <strong>{{ pack.nature ? pack.nature.label : 'Non défini' }}</strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
