<div class="row">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10 col-12">
                <div class="row">
                    <div class="col-4">
                        {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', 'Groupe') }} <strong>{{ group.code }}</strong>
                    </div>
                    <div class="col-4">
                        {{ trans('Traçabilité', 'Général', 'Nature', false) }}
                        <strong>{{ group.nature ? formatter.nature(group.nature) : 'Non défini' }}</strong>
                    </div>
                    <div class="col-4">
                        {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Nombre d'UL") }} <strong>{{ group.children | length }}</strong>
                    </div>
                    {% if last_movement is not null %}
                        <div class="col-12 mt-2">
                            {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Mouvementé la dernière fois le {1}", {
                                '1': "<strong>" ~ (last_movement.datetime | date(app.user.dateFormat ? (app.user.dateFormat ~ ' H:i:s') : 'd/m/Y H:i:s'))  ~ "</strong>"
                            }) }}
                            {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "sur l'emplacement {1} par {2}", {
                                '1': "<strong>" ~  (last_movement.emplacement ? last_movement.emplacement.label : '-')  ~ "</strong>",
                                '2': "<strong>" ~  (last_movement.operateur.username)  ~ "</strong>"
                            }) }}

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="group-packs">
            {% for pack in group.children %}
                <div class="group-pack">
                    <div class="pack-header row">
                        <div class="col-auto mr-auto">
                            {{ trans('Traçabilité', 'Général', 'Unité logistique', false) }} <strong>{{ pack.code }}</strong><br>
                            {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Unités logistiques"', 'Quantité') }} <strong>{{ pack.quantity }}</strong><br>
                            {{ trans('Traçabilité', 'Unités logistiques', 'Divers', "Nature d'unité logistique") }} <strong>{{ pack.nature ? formatter.nature(pack.nature) : 'Non défini' }}</strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
