{% import 'form.html.twig' as form %}

{% set max_secondary_mail = 2 %}
<form>
    {% if user.id %}
        {{ form.hidden('user', user.id) }}
    {% endif %}
    <input type="text" class="d-none" title="Nom d'utilisateur" name="username">
    <input type="password" class="d-none" title="Mot de passe" name="password">

    <div class="row no-gutters">
        <div class="col-12 col-md-6">
            <div class="p-3 bg-light">
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.switch('status', 'Statut', true, [
                            {label: 'Actif', value: '1', checked: user.id and user.status},
                            {label: 'Inactif', value: '0', checked: user.id and not user.status},
                        ]) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.select('role', 'Rôle', true, {
                            type: 'roles',
                            items: user.role ? [{
                                value: user.role.id,
                                label: user.role.label,
                                selected: true,
                            }]: [],
                            minLength: 0,
                        }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.input('username', "Nom d'utilisateur", true, user.username) }}
                    </div>
                </div>

                {% set secondary_emails = (user.secondaryEmails ?? []) | filter(e => e) %}

                <div class="form-group row {% if secondary_emails | length < max_secondary_mail %}mb-0{% endif %}">
                    <div class="col-12">
                        {{ form.input('email', 'Email', true, user.email, {
                            type: 'email',
                        }) }}
                    </div>
                        <div class="col-12" style="text-align: right">
                            <span class="btn-link add-secondary-email font-weight-bold pointer user-select-none {{ secondary_emails | length >= max_secondary_mail ? "d-none"}}" style="font-size: 0.8rem">Ajouter un email</span>
                        </div>
                </div>

                {% for i in range(1, max_secondary_mail)%} {# init new email input empty with a max of 2 input #}
                    {% set label = 'Email ' ~ (i + 1) %}
                    {% set index_in_secondary_emails = i - 1 %}
                    <div class="form-group secondary-email {{ secondary_emails[index_in_secondary_emails] is not defined ? "d-none"}}">
                        <div class="col-12 d-flex">
                            {{ form.input('secondaryEmails', label, true, secondary_emails[index_in_secondary_emails] is defined ? secondary_emails[index_in_secondary_emails] : '', {
                                type: 'email',
                                inputClass: 'data-array',
                            }) }}
                            <div class="d-flex align-items-end">
                                <div class="btn btn-outline-primary delete-mail-line d-flex align-items-center ml-2"
                                     title="Supprimer email secondaire" style="max-height: 40px; padding-top: 9px; padding-bottom: 9px;">
                                    <i class="wii-icon wii-icon-trash"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group row">
                    <div class="col-12">
                        {{ form.input('signatoryPassword', 'Code signataire', false, '', {
                            type: 'password',
                            inputClass: 'data-array',
                        }) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        {{ form.input('password', 'Mot de passe', not user.id, '', {
                            type: 'password',
                            inputClass: 'optional-password',
                            attributes: {
                                autocomplete: "new-password"
                            },
                        }) }}
                        <div class="password-error-msg"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.input('password2', 'Confirmer le mot de passe', not user.id, '', {
                            type: 'password',
                            inputClass: 'optional-password',
                        }) }}
                    </div>
                </div>

                {% if user.id %}
                    <div class="form-group row">
                        <div class="col-12">
                            {{ form.input('mobileLoginKey', 'Clé de connexion nomade', true, user.mobileLoginKey, {
                                type: 'text',
                                inputClass: 'is-barcode',
                            }) }}
                        </div>
                    </div>
                {% endif %}

                <div class="form-group row">
                    <div class="col-12">
                        {{ form.input('phoneNumber', 'Numéro de téléphone', false, user.phone ?? '', {
                            type: 'tel',
                            attributes: {
                                maxlength: 10,
                            },
                        }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.textarea('address', 'Adresse', false, user.address) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        {{ form.select('language', "Langue", true, {
                            items: languages,
                            search: false,
                            label: 'Langue',
                            placeholder: true,
                            value: user.language ? user.language.id : newUserLanguage.id,
                            inputClass : 'w-100 utilisateur-language',
                        }) }}
                    </div>
                    <div class="col-6">
                        {{ form.select('dateFormat', "Format de date", true, {
                            items: dateFormats,
                            type: null,
                            search: false,
                            label: 'Format de date',
                            value: user.dateFormat,
                        }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="p-3">
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.select('deliveryTypes', "Types de " ~ trans('Demande', 'Livraison', 'Livraison', false) | lower, false, {
                            type: '',
                            multiple: true,
                            items: deliveryTypes,
                            tooltip: "Filtre les vues nomades et web - si champs vide, ne filtre pas la vue web",
                        }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.select('dispatchTypes', "Types d'acheminement", false, {
                            type: '',
                            multiple: true,
                            items: dispatchTypes,
                            tooltip: "Filtre les vues nomades et web - si champs vide, ne filtre pas la vue web",
                        }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.select('handlingTypes', trans('Paramétrage', 'Utilisateurs', 'Types de service', false), false, {
                            type: '',
                            multiple: true,
                            items: handlingTypes,
                            tooltip: "Filtre les vues nomades et web - si champs vide, ne filtre pas la vue web",
                        }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.select('visibility-group', 'Groupes de visibilité', false, {
                            type: 'visibilityGroup',
                            multiple: true,
                            items: user.visibilityGroups|map((visibilityGroup) => {
                                label: visibilityGroup.label,
                                value: visibilityGroup.id,
                                selected: true,
                            })
                        }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.select('dropzone', 'Dropzone', false, {
                            type: 'location',
                            attributes: {
                                'data-other-params-add-group': 1,
                            },
                            items: user.locationDropzone ? [{
                                value: "location:" ~ user.locationDropzone.id,
                                label: user.locationDropzone.label,
                                selected: true,
                            }] : (user.locationGroupDropzone ? [{
                                value: "location:" ~ user.locationGroupDropzone.id,
                                label: user.locationGroupDropzone.label,
                                selected: true,
                            }] : []),
                        }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.select("dispatchBusinessUnit", "Business unit (acheminements)", false, {
                            type: null,
                            items: dispatchBusinessUnits|map((businessUnit) => {
                                label: businessUnit,
                                value: businessUnit,
                                selected: user.id and user.dispatchBusinessUnit == businessUnit
                            }),
                        }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.checkbox('deliverer', 'Livreur', false, user.deliverer, {
                        labelClass: 'wii-field-text'
                    }) }}
                </div>
                <div class="form-group">
                    {{ form.checkbox("isAllowedToBeRemembered", "Autoriser l'utilisation de la connexion 14 jours", false, user.allowedToBeRemembered, {
                        labelClass: 'wii-field-text'
                    }) }}
                </div>
            </div>
        </div>
    </div>
</form>
