{% extends 'base.html.twig' %}

{% block title %}DemandesLivraisons index{% endblock %}

{% block body %}
    <h1>DemandesLivraisons index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_livraison</th>
                <th>Adresse_livraison</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandes_livraison in demandes_livraisons %}
            <tr>
                <td>{{ demandes_livraison.id }}</td>
                <td>{{ demandes_livraison.dateLivraison ? demandes_livraison.dateLivraison|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demandes_livraison.adresseLivraison }}</td>
                <td>
                    <a href="{{ path('demandes_livraisons_show', {'id': demandes_livraison.id}) }}">show</a>
                    <a href="{{ path('demandes_livraisons_edit', {'id': demandes_livraison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demandes_livraisons_new') }}">Create new</a>
{% endblock %}