{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | Association BR{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersReceiptAssociation.html.twig' with {
        page : 'PAGE_RECEIPT_ASSOCIATION',
        tableSelector : '#receiptAssociationTable',
        callback: 'null',
        needsDateFormatting: true
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 wii-page-card">
        {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE')) %}
        {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
        {% if hasRightCreate and hasRightExport %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <div class="btn-group">
                        {% if hasRightCreate %}
                            <button type="button"
                                    class="btn btn-primary d-flex align-items-center {{ hasRightExport ? 'split-button' }}"
                                    data-target='#modalNewReceiptAssociation'
                                    data-toggle='modal'>
                                <span class="wii-icon wii-icon-plus mr-2"></span>
                                Association / BR
                            </button>
                        {% endif %}
                        {% if hasRightExport %}
                            <button type="button"
                                    class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="fa fa-angle-down"></span>
                            </button>

                            <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                                <div class="dropdown-item pointer"
                                     onclick="saveExportFile('get_receipt_associations_csv', true, {}, false, Translation.of('Général', null, 'Modale',  'Veuillez saisir des dates dans le filtre en haut de page.'), true)">
                                    <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                <table id="receiptAssociationTable" class="table w-100"></table>
            </div>
        </div>
    </div>
    <audio id="beep" src="{{ asset('audio/beep.mp3') }}" type="audio/mp3"></audio>

    {% include "receipt_association/modal/delete.html.twig" %}
    {% include "receipt_association/modal/new.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/receipt_association.js') }}?v={{ web_version }}"></script>
{% endblock %}
