{% extends 'base.html.twig' %}

{% block title %}Allees{% endblock %}

{% block body %}
    <h1>Allees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ allee.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ allee.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('allees_index') }}">back to list</a>

    <a href="{{ path('allees_edit', {'id': allee.id}) }}">edit</a>

    {{ include('allees/_delete_form.html.twig') }}
{% endblock %}