{% extends 'base.html.twig' %}

{% block title %}Sites index{% endblock %}

{% block body %}
    <h1>Sites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.nom }}</td>
                <td>
                    <a href="{{ path('sites_show', {'id': site.id}) }}">show</a>
                    <a href="{{ path('sites_edit', {'id': site.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sites_new') }}">Create new</a>
{% endblock %}
