{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Export de données{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">

        <p class="pl-0"><i class="fa fa-exclamation-triangle mr-2"></i>tâches très gourmandes en ressources serveurs et en temps </p>
        <br>

        <div class="row justify-content-center">
            <label>Références</label>
        </div>
        <div class='row justify-content-center'>
            <div class="btn btn-primary" onclick="saveExportFile('export_all_refs', false)">
                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
            </div>
        </div>

        <hr>

        <div class="row justify-content-center">
            <label>Articles</label>
        </div>

        <div class='row justify-content-center'>
            <div class="btn btn-primary" onclick='initExport($(this), "art")'>
                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
            </div>
        </div>

        <hr>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/exports.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/script-wiilog.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
