{% extends 'layout.html.twig' %}

{% block title %}Ordre | Tournée{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transport-request-index') }}
{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersTransportRounds.html.twig' with {
        page: 'PAGE_TRANSPORT_ROUNDS',
        tableSelector: '#tableRounds',
        marginClass: 'm-0 m-md-4',
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-0 m-md-4 wii-page-card transport-table row ">
        <div class="col-8">
            <table id="tableRounds" class="table w-100"></table>
        </div>
        <div class="show-round-map-container col-4">
            <div id="map"></div>
        </div>
    </div>
    <input type="hidden" name="deliverersPositions" value="{{ deliverersPositions | json_encode }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transport-round-index') }}
{% endblock %}
