{% extends 'layout.html.twig' %}
{% import 'form.html.twig' as form %}

{% block title %}Ordre | Planning | Planifier une tournée{% endblock %}
{% block titleLink path('transport_round_plan') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transport-round-plan') }}
{% endblock %}

{% block page_content %}
    <div class="wii-box-container mb-4 ml-3 mr-3">
        <div class="row px-3">
    {#        TODO print orders #}
            <div class="col-lg-3 col-md-6 col-12 px-2">
                <div class="wii-box">
                    <div class="header">
                        <span class="wii-title">Transport à affecter</span>
                    </div>
                    <div class="d-flex flex-column card-container" id="to-affect-container">
                        {% for transportOrder in transportOrders %}
                            {% include 'transport/round/plan_order_card.html.twig' with {transportOrder: transportOrder} %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 px-2 ">
                <div class="wii-box">
                    <div class="header">
                        <span class="wii-title">Transports affectés</span>
                    </div>
                    <div class="d-flex flex-column card-container" id="affected-container">
                        {% for line in round.transportRoundLines %}
                            {% set transportOrder = line.order %}
                            {% include 'transport/round/plan_order_card.html.twig' with {
                                transportOrder: transportOrder,
                                removeButton: false,
                                assigned : true,
                                time : line.estimatedAt | date('H:i')
                            } %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-12 px-2 round-form-container">
                <input type="hidden" value="{{ contactData|json_encode }}" name="contactData">
                <input type="hidden" class="data round-number" name="number" value="{{ round.number }}"/>
                <input type="hidden" class="data" name="expectedAtDate" value="{{ round.expectedAt|date('Y-m-d') }}"/>
                <input type="hidden" class="data" name="coordinates" value="{{ round.coordinates|json_encode }}"/>
                <input type="hidden" class="data" name="estimatedTotalDistance" value="{{ round.estimatedDistance }}"/>
                <input type="hidden" class="data" name="estimatedTotalTime" value="{{ round.estimatedTime }}"/>
                <input type="hidden" name="waitingTime" value="{{ waitingTime }}"/>

                {% if round.id %}
                    <input type="hidden" class="data" name="transportRoundId" value="{{ round.id }}"/>
                {% endif %}

                <div class="wii-box">
                    <div class="header d-flex justify-content-between">
                        <span class="wii-title">Nouvelle tournée</span>
                        <div class="d-flex justify-content-end flex-wrap w-min-content text-nowrap">
                            <div class="bold">{{ prefixNumber }}<span class="round-number">{{ round.number }}</span></div>
                            <div class="wii-body-text">{{ round.expectedAt|format_helper('longDate', {short: true, year: false}) }}</div>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="d-flex flex-wrap justify-content-around col-12 px-2">
                            <div class="col-lg-4 col-12">
                                {{ form.input('startPoint', 'Point de départ', true, round.startPoint ?? setting_value('TRANSPORT_ROUND_KM_START_POINT'), {
                                    attributes: {
                                        'data-short-label': 'Départ tournée'
                                    }
                                }) }}
                            </div>
                            <div class="col-lg-4 col-12">
                                {{ form.input('startPointScheduleCalculation', 'Point de départ calcul horaire', true, round.startPointScheduleCalculation ?? setting_value('TRANSPORT_ROUND_HOURLY_BILLING_START_POINT'), {
                                    attributes: {
                                        'data-short-label': 'Départ calcul horaire'
                                    }
                                }) }}
                            </div>
                            <div class="col-lg-4 col-12">
                                {{ form.input('endPoint', 'Point d\'arrivée', true, round.endPoint ?? setting_value('TRANSPORT_ROUND_END_POINT'), {
                                    attributes: {
                                        'data-short-label': 'Fin tournée'
                                    }
                                }) }}
                            </div>
                        </div>
                        <div class="map-container">
                            <div id="map"></div>
                        </div>
                        <div class="px-2 col-12">
                            <div class="row">
                                <div class="col-3 ">
                                    {{ form.select('deliverer', "Livreur", true, {
                                        items: round.deliverer ? [{label: round.deliverer.username, value: round.deliverer.id, selected: true}] : [],
                                        type: 'user',
                                        attributes: {
                                            'data-other-params': "true",
                                            'data-other-params-deliverer-only': 1
                                        },
                                        inputClass: 'deliverer-picker',
                                    }) }}
                                </div>
                                <div class="col-3 start-time-picker-container">
                                    {{ form.input(
                                        'expectedAtTime',
                                        'Heure de départ',
                                        true,
                                        (round.id and round.expectedAt) ? (round.expectedAt|date('H:i')) : null,
                                        {
                                            type: 'time',
                                            inputClass: 'start-hour-form',
                                            disabled: round.deliverer ? false : true,
                                        }
                                    ) }}
                                </div>
                                <div class="col-auto align-self-end">
                                    <button class="btn {% if not round.deliverer %} btn-disabled {%endif%} btn-primary ml-auto  plan-round-button d-flex align-items-center btn-calculate-time" tabindex="0">
                                        <img src="{{ asset('svg/clock-white.svg') }}" alt="Icône tournéé" width="15px" class="mr-2">
                                        <span class="ml-1">Calculer les horaires</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="px-2 w-100">
                            <p class="wii-small-text py-1">
                                Seulement une notion de Matin / Après-midi sera donnée <br>
                                sur les demandes tant que la tournée n’est pas commencée
                            </p>
                            {# TODO WIIS-7357 #}
                            <div class="wii-body-text py-1">
                                <strong>Kilometrage estimé </strong>: <span class="estimatedTotalDistance">{{ round.estimatedDistance ? round.estimatedDistance ~ 'km' : '-' }}</span>
                            </div>
                            <div class="wii-body-text py-1">
                                <strong>Temps estimé </strong>: <span class="estimatedTotalTime">{{ round.estimatedTime ? round.estimatedTime|replace({':': 'h'}) : '-' }}</span>
                            </div>
                        </div>
                        <div class="bottom-right-buttons mx-2">
                            <button class="btn btn-outline-secondary ml-auto plan-round-button" tabindex="0">
                            {# TODO action #}
                                Annuler
                            </button>
                            <button class="btn btn-success ml-auto ml-3"
                                    type="submit">
                                Valider la tournée
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transport-round-plan') }}
{% endblock %}
