{% extends 'layout.html.twig' %}

{% block title %}Ordre | Tournée | Détails{% endblock %}
{% block titleLink path('transport_round_index') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transport-round-plan') }}
{% endblock %}

{% block page_content %}
    <div class="wii-box-container mb-4 ml-3 mr-3">
        <div class="row px-3">
            <div class="col-lg-4 col-md-6 px-2">
                <div class="wii-box">
                    <div class="header">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex flex-column">
                                <span class="wii-title" title="Acheminement">Tournée</span>
                                <span class="wii-small-text">{{ constant('App\\Entity\\Transport\\TransportRound::NUMBER_PREFIX') ~ transportRound.number }}</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                                <span class="wii-field-name">{{ transportRound.createdBy }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="details">
                        <div class="row content">
                            <div class="col-6 bold">
                                {{ transportRound.expectedAt | format_helper('longDate', {short: true, time:false}) }}
                            </div>
                            <div class="col-6">
                                Livreur : <span class="bold">{{ transportRound.deliverer.username }}</span>
                            </div>
                        </div>
                        <div class="content status-history-container">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="spinner-border text-primary" role="status"></div>
                                <span class="ml-3">Génération de l'historique en cours</span>
                            </div>
                        </div>
                        <div class="header">
                            <img src="{{ asset('svg/clock-blue.svg') }}" alt="Icône horloge" width="15px">
                            <span class="wii-field-name ml-2">Temps</span>
                        </div>
                        <div class="row content">
                            <div class="col-6 d-flex flex-column">
                                <span class="wii-field-name">Temps estimé</span>
                                {% set roundEstimatedTime = transportRound.estimatedTime %}
                                {% if roundEstimatedTime %}
                                    <span class="wii-field-text">{{ roundEstimatedTime | replace({ ':': "h" }) }}min </span>
                                {% else %}
                                    <span class="wii-field-text">-</span>
                                {% endif %}
                            </div>
                            <div class="col-6 d-flex flex-column">
                                <span class="wii-field-name">Temps réel</span>
                                {% if realTime %}
                                    <span class="wii-field-text">{{ realTime }}</span>
                                {% else %}
                                    <span class="wii-field-text">-</span>
                                {% endif %}

                            </div>
                        </div>

                        <div class="header">
                            <img src="{{ asset('svg/calendar.svg') }}" alt="Icône calendrier" width="15px">
                            <span class="wii-field-name ml-2">Kilomètres</span>
                        </div>
                        <div class="row content">
                            <div class="col-6 d-flex flex-column">
                                <span class="wii-field-name">Kilomètres estimés</span>
                                {% set RoundEstimatedDistance = transportRound.estimatedDistance %}
                                {% if RoundEstimatedDistance %}
                                    <span class="wii-field-text">{{ RoundEstimatedDistance }} km</span>
                                {% else %}
                                    <span class="wii-field-text">-</span>
                                {% endif %}
                            </div>
                            <div class="col-6 d-flex flex-column">
                                <span class="wii-field-name">Kilomètres réels</span>
                                {% if transportRound.realDistance is not null %}
                                    <span class="wii-field-text">{{ transportRound.realDistance / 1000 }} km</span>
                                {% else %}
                                    <span class="wii-field-text">-</span>
                                {% endif %}
                            </div>
                        </div>

                        {% set nbRejectedPacks = transportRound.countRejectedPacks %}
                        {% set nbRejectedOrders = transportRound.rejectedOrderCount %}
                        {% if nbRejectedPacks or nbRejectedOrders %}
                            <div class="header">
                                <img src="{{ asset('svg/urgence.svg') }}" alt="" width="15px">
                                <span class="wii-field-name ml-2">Éléments rejetés</span>
                            </div>
                            <div class="row content">
                                <div class="col-6 d-flex flex-column">
                                    {% set s = (nbRejectedPacks ?? 0) > 1 ? 's' %}
                                    <span class="wii-field-name d-inline-flex">
                                        <img src="{{ asset('svg/rejected-pack.svg') }}"
                                             class="transport-status-icon mr-1"
                                             alt="Colis écarté"
                                             width="15"
                                             title="Colis écarté"/>
                                            {{ nbRejectedPacks ?? 0}} colis écarté{{ s }}
                                    </span>
                                </div>
                                <div class="col-6 d-flex flex-column">
                                    {% set s = (nbRejectedOrders ?? 0) > 1 ? 's' %}
                                    <span class="wii-field-name d-inline-flex">
                                        <img src="{{ asset('svg/rejected-delivery.svg') }}"
                                             class="transport-status-icon mr-1"
                                             width="15"
                                             alt="Livraison rejetée"
                                             title="Livraison rejetée"/>
                                        {{ nbRejectedOrders ?? 0 }} livraison{{ s }} rejetée{{ s }}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="wii-box">
                    <div class="header d-flex">
                        {# TODO faire la condition pour l'affiche de dropdown #}
                        <div class="mr-2 w-min-content">
                            <div class="dropdown dropright">
                                <div class="d-flex pointer" data-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false">
                                    <img alt="Actions" src="{{ asset('svg/dotsblack.svg') }}" height="20px" width="8px">
                                </div>
                                <div class="dropdown-menu dropdown-follow-gt pointer">
                                    {% set finishedStatusesName = constant('App\\Entity\\Transport\\TransportRound::STATUS_FINISHED') %}
                                    {% set onGoingStatusesName = constant('App\\Entity\\Transport\\TransportRound::STATUS_ONGOING') %}
                                    {% if transportRound.status.code != finishedStatusesName %}
                                        <a href="{{ path('transport_round_plan', {'transportRound': transportRound.id}) }}"
                                           class="dropdown-item pointer edit-button d-flex align-items-center">
                                            <i class="wii-icon wii-icon-plus-black mr-2"></i>
                                            {% if transportRound.status.code == onGoingStatusesName %}
                                                Ajouter une collecte
                                            {% else %}
                                                Ajouter un transport
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                    {% if hasSomeDelivery %}
                                        <div class="dropdown-item pointer print-round-button d-flex align-items-center"
                                             data-round-id="{{ transportRound.id }}">
                                            <i class="wii-icon wii-icon-printer-black mr-2"></i>
                                            Générer un bon de transport
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <span class="wii-title w-min-content">Transports</span>
                    </div>
                    <div class="content">
                        <div class="transport-list-container">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="spinner-border text-primary" role="status"></div>
                                <span class="ml-3">Génération de la liste des transports en cours...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 px-2">
                <div class="wii-box">
                    <div class="header">
                        <span class="wii-title">Données</span>
                    </div>
                    <div class="d-flex flex-column p-3">
                        <div class="map-container">
                            <div id="map"></div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between p-3">
                        <span class="wii-field-name">Courbe{{ urls | length != 1 ? 's' }} de température</span>
                        {% if not roundDateBegan %}
                            <span class="wii-small-text">
                                La tournée n'a pas commencé
                            </span>
                        {% endif %}
                    </div>

                    {% for url in urls %}
                        {% include 'IOT/data_monitoring/content.html.twig' with {
                            type : 'chart',
                            fetch_url : url.fetch_url,
                            minTemp: url.minTemp,
                            maxTemp: url.maxTemp,
                            alwaysVisible: true,
                            box_classes: 'box-shadow-none mt-0'
                        } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" value="{{ transportRound.id }}" name="transportId">
    <input type="hidden" value="{{ constant('App\\Controller\\Transport\\HistoryController::ROUND') }}"
           name="transportType">
    <input type="hidden" value="{{ calculationsPoints | json_encode }}" name="calculationPoints">
    <input type="hidden" value="{{ transportPoints | json_encode }}" name="transportPoints">
    <input type="hidden" value="{{ delivererPosition }}" name="delivererPosition">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transport-round-show') }}
    <script src="{{ asset('js/pages/iot/data-monitoring.js') }}?v={{ web_version }}"></script>
{% endblock %}
