{% set currentTransport = leftArray|filter(v => v.order.treatedAt == null)|first %}
{% for index, leftElement in leftArray %}
    {% set isCollect = leftElement.order.request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}
    {% set state = leftElement.id is same as currentTransport.id ? 'current' : (leftElement.order.treatedAt is not null ? 'past' : 'future') %}
    <div class="history-line">
        <div class="history-date">
            <div class="title-left {{ state }}">
                {{ leftElement.order.rejectedPacks or leftElement.order.rejected ? asset('svg/rejected-pack.svg') : '' }}
                {{ index+1 }}. <a href="{{ path('transport_order_show', {transport: leftElement.order.id}) }}">{{ leftElement.order.request.contact.name }}</a>
            </div>
            <div class="wii-small-text transport-list-type">{{ isCollect ? " Collecte" : "Livraison" }}</div>
        </div>
        <div class="history-status {{ state }}">
            <div class="title-right">
                <span class="ml-2">Estimé : {{ rightArray[index]['estimated'] | format_helper('time', true, true) }}</span>
                <span class="ml-2">Réel : <span class="bold">{{ rightArray[index]['real'] }}</span></span>
            </div>
        </div>
    </div>
{% endfor %}
