{% for index, line in config %}
    {% set name = line['name'] %}
    {% set link = line['link'] %}
    {% set hint = line['hint'] %}
    {% set cancelled = line['cancelled'] %}
    {% set emergency = line['emergency'] %}
    {% set estimated = line['estimated'] %}
    {% set real = line['real'] %}
    {% set state = line['state'] %}
    <div class="history-line">
        <div class="history-line-left-content">
            <div class="title-left {{ state }}">
                {% if cancelled %}
                    <img alt="" src="{{ asset('svg/cancel.svg') }}" height="20px" class="mr-1" title="Transport annulé"/>
                {% endif %}
                {% if emergency %}
                    <img alt="" src="{{ asset('svg/rejected-pack.svg') }}" height="20px" class="mr-1" title="Un ou plusieurs colis ont été rejetés"/>
                {% endif %}
                <div class="ml-1">{{ index + 1 }}.</div> <a class="ml-1" href="{{ link }}">{{ name }}</a>
            </div>
            <div class="wii-small-text transport-list-type">{{ hint }}</div>
        </div>
        <div class="history-line-right-content {{ state }}">
            <div class="title-right">
                <span class="ml-2">Estimé : {{ estimated | format_helper('time', true, true) | replace({ ':': "h" }) }}</span>
                <span class="ml-2">Réel : <span class="bold">{{ real }}</span></span>
            </div>
        </div>
    </div>
{% endfor %}
