{% extends 'base.html.twig' %}

{% block title %}Entrees index{% endblock %}

{% block body %}
    <h1>Entrees index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Quantite</th>
                <th>Date_entree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entree in entrees %}
            <tr>
                <td>{{ entree.id }}</td>
                <td>{{ entree.statut }}</td>
                <td>{{ entree.quantite }}</td>
                <td>{{ entree.dateEntree ? entree.dateEntree|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('entrees_show', {'id': entree.id}) }}">show</a>
                    <a href="{{ path('entrees_edit', {'id': entree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entrees_new') }}">Create new</a>
{% endblock %}