{% extends 'base.html.twig' %}

{% block title %}Entrees{% endblock %}

{% block body %}
    <h1>Entrees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entree.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ entree.statut }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ entree.quantite }}</td>
            </tr>
            <tr>
                <th>Date_entree</th>
                <td>{{ entree.dateEntree ? entree.dateEntree|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entrees_index') }}">back to list</a>

    <a href="{{ path('entrees_edit', {'id': entree.id}) }}">edit</a>

    {{ include('entrees/_delete_form.html.twig') }}
{% endblock %}