{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | Réceptions{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersReceptionTraca.html.twig' with {
        'page' : 'PAGE_RCPT_TRACA',
        'tableSelector' : '#tableRecepts'
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 datatable-container">
        {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE')) %}
        {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
        {% if hasRightCreate and hasRightExport %}
            <div class="row datatable-header">
                <div class="col-auto ml-auto">
                    <div class="btn-group">
                        {% if hasRightCreate %}
                            <button type="button"
                                    class="btn btn-primary btn-ripple {{ hasRightExport ? 'split-button' }}"
                                    data-target='#modalNewAssociation'
                                    data-toggle='modal'>
                                <span class="fa fa-bullseye mr-2"></span>
                                Association / BR
                            </button>
                        {% endif %}
                        {% if hasRightExport %}
                            <button type="button"
                                    class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-item pointer" onclick="customExport()">
                                    <i class="fa fa-file-csv mr-2"></i>Exporter
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                <table id="tableRecepts" class="table w-100"></table>
            </div>
        </div>
    </div>
    <input hidden id="arrTranslation" value="{{ "arrivage.arrivage"|trans }}">
    <input hidden id="recTranslation" value="{{ "réception.réception"|trans }}">

    {% include "reception_traca/modalDeleteRecepTraca.html.twig" %}
    {% include "reception_traca/association.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reception_traca.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
