{% extends 'layout.html.twig' %}

{% block title %}Réceptions{% endblock %}
{% block classbody %}
    class='new-body'
{% endblock %}
{% block page_filter %}
    {% include 'filters/filtersReceptionTraca.html.twig' with {
        'page' : 'PAGE_RCPT_TRACA',
        'tableSelector' : '#tableRecepts'
    } %}
{% endblock %}
{% block page_content %}


    <div class="m-4 datatable-container shadow-lg">
        <div class="row">
            <h1 class="col align-self-start ml-2">Réceptions</h1>
            <div class="btn-group split-button-container col-auto align-self-end">
                <button type="button" class="btn btn-primary btn-ripple split-button"
                        data-target='#modalNewAssociation' data-toggle='modal'><span class="fa fa-bullseye mr-2"></span>
                    Association / BR
                </button>
                <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-angle-down"></span>
                </button>
                <div class="dropdown-menu mr-5">
                    <div class="dropdown-item pointer" onclick="customExport()">
                        <i class="fa fa-file-csv mr-2"></i>Exporter
                    </div>
                </div>
            </div>
            <div class="col-12">
                <table id="tableRecepts" class="table w-100">
                </table>
            </div>
            {% include "reception_traca/modalDeleteRecepTraca.html.twig" %}
            {% include "reception_traca/association.html.twig" %}

        </div>
    </div>
    <input hidden id="arrTranslation" value="{{ "arrivage.arrivage"|trans }}">
    <input hidden id="recTranslation" value="{{ "réception.réception"|trans }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reception_traca.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
