<div class="form-group needed">
    <label for="Objet">Objet</label>
    <input type="text" id="libelle" class="form-control data needed input" name="Libelle" value="{{service.libelle}}"
        placeholder="Objet" maxlength="64">
</div>

<div class="form-group needed">
    <label for="demandeur">Demandeur</label>
    <select type="text" class="demandeur form-control data needed input" name="demandeur" disabled>
        <option value="{{service.demandeur.id}}">{{service.demandeur }}</option>
    </select>
</div>

<div class="form-group needed">
    <label for="Localité">Chargement</label>
    <input class="form-control data needed input" value="{{service.source}}" name="source">
</div>

<div class="form-group needed">
    <label for="Localité">Déchargement</label>
    <input class="form-control data needed input" value="{{service.destination}}" name="destination">
</div>

<div class="form-group col-12 w-100">
    <div class="input-group radio-btn">
        <label for="statut" class="mtb-auto mr-2">Statut</label>
        <div>
            {% if hasRight(constant('App\\Entity\\Menu::MANUT'), constant('App\\Entity\\Action::EDIT_DELETE') ) %}
            <span class="btn {{ statut == 1 ? 'active' : 'not-active'}}" data-toggle="statut" data-title="active"
                onclick="changeStatus(this)" data-value="1">A Traiter</span><span
                class="btn {{ statut == 0 ? 'active' : 'not-active'}}" data-toggle="statut" data-title="inactive"
                onclick="changeStatus(this)" data-value="0">Traité</span>
            {% else %}
            <span class="btn {{ statut == 1 ? 'active' : 'not-active'}}" data-toggle="statut" data-title="active"
                onclick="changeStatus(this)" data-value="1" style="pointer-events:none">A Traiter</span><span
                class="btn {{ statut == 0 ? 'active' : 'not-active'}}" data-toggle="statut" data-title="inactive"
                onclick="changeStatus(this)" data-value="0" style="pointer-events:none">Traité</span>
            {% endif %}
        </div>
        <input id="s" type="hidden" value="{{statut}}" name="statut" class="data">
    </div>
</div>

<div class="form-group">
    <label for="commentaire">Commentaire</label>
    <input id="commentaire" class="form-control data input" name="commentaire" type="hidden"
        value="{{service.commentaire}}">
    <div class="editor-container-edit input" id="editor-container-edit" value="{{service.commentaire}}"> {{service.commentaire|raw}}
    </div>

</div>
<div class="error-msg"></div>

{% block javascript %}

<script>
    if ({{ statut }} === 0) {
        $('.input').prop('disabled', true);
    }
</script>

{% endblock %}