{% extends 'layout.html.twig' %}

{% block title %}Liste des inventaires{% endblock %}

{% block page_content %}

    <div class="row backgray filter-wrapper">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control">
                    <option>Entrée</option>
                    <option>Sortie</option>
                    <option>Transfert</option>
                    <option>Préparation</option>
                    <option>Réception</option>
                </select>
            </div>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Auteur">
            </div>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Référence">
            </div>
            <div class="input-group daterange">
                <div class="input-group-addon">De</div>
                <input type="text" class="form-control">
                <div class="input-group-addon">à</div>
                <input type="text" class="form-control">
            </div>
            <a class="btn more-filter">Plus de filtres</a>
            <a href="#" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </form>
    </div>

	<div class="row page-title">
		LISTE DES INVENTAIRES
	</div>

{# 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Avancement</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventaire in inventaires %}
            <tr>
                <td>{{ inventaire.id }}</td>
                <td>{{ inventaire.libelle }}</td>
                <td>{{ inventaire.avancement }}</td>
                <td>{{ inventaire.dateDebut ? inventaire.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ inventaire.dateFin ? inventaire.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('inventaires_show', {'id': inventaire.id}) }}">show</a>
                    <a href="{{ path('inventaires_edit', {'id': inventaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('inventaires_new') }}">Create new</a> #}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var grid = $("#grid-data").bootgrid({
    ajax: false,
	/*
    post: function ()
    {
        return {
            id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
        };
    },
    url: "{{ path('stock') }}",
	*/
    formatters: {
        "commands": function(column, row)
        {
            return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-eye\"></span></button> "
        }
    }
})
</script>
{% endblock %}