{% extends 'layout.html.twig' %}

{% block title %}Collecte{% endblock %}

{% block page_content %}
    <h1>Collecte</h1>

    {% if history is defined %}
        <div class="row btn pull-left">
            <a href={{path('collecte_index', {'history': 'false'})}} class="button btn-left"><span class="fas fa-history"></span> collecte en cours</a>
        </div>
    {% else %}
        <div class="row btn pull-left">
            <a href={{path('collecte_index', {'history': 'true'})}} class="button btn-left"><span class="fas fa-history"></span> Historique</a>
        </div>
    {% endif %}
    <div class='row btn pull-right' >
        <a href={{path('collecte_create')}} class="button btn-left">
            <span class="fa fa-plus"></span>Nouvelle collecte
        </a >
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Numero</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collecte in collectes %}
            <tr>
                <td>{{ collecte.id }}</td>
                <td>{{ collecte.statut.nom }}</td>
                <td>{{ collecte.numero }}</td>
                <td>{{ collecte.date ? collecte.date | date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <!-- , {'history': 'false'}) -->
                    <form action="{{ path('collecte_index', {'history': 'false'}) }}" method="post">
                        {% if collecte.statut.id == 18 %} <!--en cours de collecte -->
                            <a href="{{ path('collecte_show', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit backIconListjv"><i class="fas fa-list fa-2x"></i></i></a>
                        {% else %}
                            <a href="{{ path('collecte_show', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>                        
                        {% endif %}
                        {% if collecte.statut.id == 19 %}<!--demande de collecte-->
                            <a href="{{ path('collecte_edit', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                        {% endif %}
                        {% if collecte.statut.id == 19 %}<!--demande de collecte-->
                            <button type="submit" name="fin" value={{collecte.id}} class="btn btn-xs btn-default command-edit backgreen"><i class="fas fa-check fa-2x"></i></button> 
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {{ knp_pagination_render(collectes) }}

<!-- Modal -->
<form method="" class="modal fade" id="ReceptionsModalCenter" tabindex="-1" role="dialog" aria-labelledby="ReceptionsModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Créer une nouvelle réception</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <form action={{path("collecte_create")}} method="post" class="row">
                    <select id="emplacement" class="custom-select custom-select-lg mb-3 col-4">
                        <option value="">tout</option>
                        {% for emplacement in emplacements %}
                        <option value={{emplacement.id}}> {{emplacement.nom}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Valider" class="button btn-left">
                </form>
                <h1>Demande de collecte
                    {% if empl is defined %}
                    pour {{empl.0.nom}}
                    {% endif %}
                </h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>selection</th>
                            <th>destination</th>
                            <th>Nom</th>
                            <th>Reférences Articles</th>
                            <th>position</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = 0 %}
                        {% for article in articles | reverse %}
                        <tr {% if i % 2==1 %} class="backtablejv" {% endif %}>
                            {% set i = i + 1 %}
                            <td><input class=" form-check-input" type="checkbox" name="collecte[{{article.id}}]" id=""></td>
                            <td>
                                <select name="destination[{{article.id}}]" id="" class="custom-select custom-select-lg mb-3">
                                    <option value=""></option>
                                    {% for emplacement in emplacements %}
                                    <option value={{emplacement.id}}> {{emplacement.nom}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ article.nom }}</td>
                            <td>{{ article.refArticle.libelle }}</td>
                            <td>{{ article.position }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitButton" type="button" data-dismiss="modal" class="btn btn-primary btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>

<script>
    var ReceptionModal = document.getElementById("ReceptionsModalCenter");
    var ButtonSubmit = document.getElementById("submitButton");

    ButtonSubmit.addEventListener("click", function (event) {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                //Lorsque la réponse Json est renvoyé en enlève le modal
                var obj = JSON.parse(JSON.parse(this.responseText));
                console.log(obj);
                obj.forEach(collecte => {
                    var url = collecte.id;
                    var refTable = document.getElementById('tbody-collectes');
                    var rowCount = refTable.rows.length;

                    // Insère d'une ligne  dans la table avec un indice dynamique + création de la ligne 
                    var nouvelleLigne = refTable.insertRow(rowCount);
                    var nouvelleCellule = nouvelleLigne.insertCell();
                    var nouveauTexte = document.createTextNode(collecte.id)
                    nouvelleCellule.appendChild(nouveauTexte)
                    var nouvelleCellule = nouvelleLigne.insertCell(1);
                    var nouveauTexte = document.createTextNode(collecte.numero)
                    nouvelleCellule.appendChild(nouveauTexte)
                    var nouvelleCellule = nouvelleLigne.insertCell(2);
                    var nouveauTexte = document.createTextNode(collecte.statut)
                    nouvelleCellule.appendChild(nouveauTexte)
                    var nouvelleCellule = nouvelleLigne.insertCell(3);
                    var nouveauTexte = document.createTextNode(collecte.id)
                    nouvelleCellule.appendChild(nouveauTexte)
                    var url = 'http://localhost/WiiStock/WiiStock/public/index.php/livraison/' + livraison.id;
                    var nouvelleCellule = nouvelleLigne.insertCell(4);
                    var a = document.createElement("a");
                    a.className = 'btn btn-xs btn-default command-edit'
                    a.setAttribute('href', url)
                    var i = document.createElement("i")
                    i.className = 'fas fa-eye fa-2x'
                    nouvelleCellule.appendChild(a).appendChild(i)
                    //document.getElementById('noResult').deleteRow(0)
                }) 
            }
        };

        let inputs = document.querySelectorAll("#data"); // On récupère tout les inputs qui nous intéresse avec le querySelectorAll

        var Data = []; // Tableau de données

        inputs.forEach(input => { //Pour chaque input on fait un tableau avec pour clé son nom et comme valeur la valeur dans l'input
            Data.push(input.value);
            console.log(Data);
        })

        Json = JSON.stringify(Data); // On transforme les données en JSON
        console.log(Json);
        xhttp.open("POST", "{{ path('createCollecte') }}", true);
        xhttp.send(Json);
    });
</script>

{% endblock %}