{% extends 'layout.html.twig' %}

{% block title %}Collecte{% endblock %}

{% block page_content %}
    <h1>Collecte</h1>

    {% if history is defined %}
        <div class="row btn pull-left">
            <a href={{path('collecte_index', {'history': 'false'})}} class="button btn-left"><span class="fas fa-history"></span> collecte en cours</a>
        </div>
    {% else %}
        <div class="row btn pull-left">
            <a href={{path('collecte_index', {'history': 'true'})}} class="button btn-left"><span class="fas fa-history"></span> Historique</a>
        </div>
    {% endif %}
    <div class='row btn pull-right' >
        <a href={{path('collecte_create')}} class="button btn-left">
            <span class="fa fa-plus"></span>Nouvelle collecte
        </a >
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Numero</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0  %}
        {% for collecte in collectes %}
            <tr {% if i % 2 == 1 %} class="backtablejv" {% endif %}>
                    {% set i = i + 1 %}
                <td>{{ collecte.id }}</td>
                <td>{{ collecte.statut.nom }}</td>
                <td>{{ collecte.numero }}</td>
                <td>{{ collecte.date ? collecte.date | date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <!-- , {'history': 'false'}) -->
                    <form action="{{ path('collecte_index', {'history': 'false'}) }}" method="post">
                        {% if collecte.statut.id == 18 %}
                            <a href="{{ path('collecte_show', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit backIconListjv"><i class="fas fa-list fa-2x"></i></i></a>
                        {% else %}
                            <a href="{{ path('collecte_show', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>                        
                        {% endif %}
                        {% if collecte.statut.id == 19 %}
                            <a href="{{ path('collecte_edit', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                        {% endif %}
                        {% if collecte.statut.id == 19 %}
                            <button type="submit" name="fin" value={{collecte.id}} class="btn btn-xs btn-default command-edit backgreen"><i class="fas fa-check fa-2x"></i></button> 
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {{ knp_pagination_render(collectes) }}

{% endblock %}
