{% extends 'layout.html.twig' %}

{% block title %}Collecte{% endblock %}

{% block page_content %}
    <h1>Collecte</h1>

    {% if history is defined %}
        <div class="row btn pull-left">
            <a href={{path('collecte_index', {'history': 'false'})}} class="button btn-left"><span class="fas fa-history"></span> collecte en cours</a>
        </div>
    {% else %}
        <div class="row btn pull-left">
            <a href={{path('collecte_index', {'history': 'true'})}} class="button btn-left"><span class="fas fa-history"></span> Historique</a>
        </div>
    {% endif %}
    <div class='row btn pull-right' >
        <a href="" data-toggle="modal" data-target="#dataModalCenter" class="button btn-left">
            <span class="fa fa-plus"></span>Nouvelle collecte
        </a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Numero</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collecte in collectes %}
            <tr>
                <td>{{ collecte.id }}</td>
                <td>{{ collecte.statut.nom }}</td>
                <td>{{ collecte.numero }}</td>
                <td>{{ collecte.date ? collecte.date | date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <!-- , {'history': 'false'}) -->
                    <form action="{{ path('collecte_index', {'history': 'false'}) }}" method="post">
                        {% if collecte.statut.id == 18 %} <!--en cours de collecte -->
                            <a href="{{ path('collecte_show', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit backIconListjv"><i class="fas fa-list fa-2x"></i></i></a>
                        {% else %}
                            <a href="{{ path('collecte_show', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>                        
                        {% endif %}
                        {% if collecte.statut.id == 19 %} <!--demande de collecte-->
                            <a href="{{ path('collecte_edit', {'id': collecte.id}) }}"class="btn btn-xs btn-default command-edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                        {% endif %}
                        {% if collecte.statut.id == 19 %} <!--demande de collecte-->
                            <button type="submit" name="fin" value={{collecte.id}} class="btn btn-xs btn-default command-edit backgreen"><i class="fas fa-check fa-2x"></i></button> 
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {{ knp_pagination_render(collectes) }}

{% include 'collecte/modalCollecte.html.twig' %}

{% endblock %}

{% block javascript %}
<script>
// In your Javascript (external .js resource or <script> tag)

$(document).ready(function() {
    $('.select2').select2();
});

var dataModal = document.getElementById("dataModalCenter");
var ButtonSubmit = document.getElementById("submitButton");
console.log(ButtonSubmit);


ButtonSubmit.addEventListener("click", function () {
xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() 
{
    if (this.readyState == 4 && this.status == 200) 
    {
        let obj = JSON.parse(JSON.parse(this.responseText));
        let url = obj.reception.Id;
        document.getElementById("tbody-data");
        obj.forEach(collecte => {
            let url = collecte.id;
            let refTable = document.getElementById('tbody-data');
            let rowCount = refTable.rows.length;

            // Insère d'une ligne  dans la table avec un indice dynamique + création de la ligne 
            let nouvelleLigne = refTable.insertRow(rowCount);
            let nouvelleCellule = nouvelleLigne.insertCell();
            let nouveauTexte = document.createTextNode(collecte.id)
            nouvelleCellule.appendChild(nouveauTexte)
            let nouvelleCellule = nouvelleLigne.insertCell(1);
            let nouveauTexte = document.createTextNode(collecte.numero)
            nouvelleCellule.appendChild(nouveauTexte)
            let nouvelleCellule = nouvelleLigne.insertCell(2);
            let nouveauTexte = document.createTextNode(collecte.statut)
            nouvelleCellule.appendChild(nouveauTexte)
            let nouvelleCellule = nouvelleLigne.insertCell(3);
            let nouveauTexte = document.createTextNode(collecte.id)
            nouvelleCellule.appendChild(nouveauTexte)
            let url = 'http://localhost/WiiStock/WiiStock/public/index.php/livraison/' + livraison.id;
            let nouvelleCellule = nouvelleLigne.insertCell(4);
            let a = document.createElement("a");
            a.className = 'btn btn-xs btn-default command-edit'
            a.setAttribute('href', url)
            let i = document.createElement("i")
            i.className = 'fas fa-eye fa-2x'
            nouvelleCellule.appendChild(a).appendChild(i)
            //document.getElementById('noResult').deleteRow(0)
        })

    }
};

    let inputs = document.querySelectorAll(".data"); // On récupère tout les inputs qui nous intéresse avec le querySelectorAll
    let Data = []; // Tableau de données

    inputs.forEach(input => { // Pour chaque input on fait un tableau avec pour clé son nom et comme valeur la valeur dans l'input
        Data.push({ [input.name] : input.value });
        console.log(input);
    });

    Json = JSON.stringify(Data); // On transforme les données en JSON
    xhttp.open("POST", "{{ path('collecte_create') }}", true);
    xhttp.send(Json);
});
</script>
{% endblock %}
