{% extends 'layout.html.twig' %}

{% block title %}Collecte{% endblock %}

{% block page_content %}
    <h1>Collecte n°{{ collecte.numero }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collecte.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ collecte.statut.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ collecte.date ? collecte.date | date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Conformité</th>
                    <th>Reférences Articles</th>
                    <th>position</th>
                    <th>destination</th>
                    <th>Quantite</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in collecte.articles |reverse %}
            <form action="{{ path('collecte_show', {'id': collecte.id}) }}"  method="post">
                <tr>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.statut.nom }}</td>
                    <td>{{ article.etat ? 'oui' : article.commentaire }}</td>
                    <td>{{ article.refArticle.reference }}</td>
                    <td>{{ article.position }}</td>
                    <td>{{ article.direction }}</td>
                        {% if collecte.statut.id == 18 and article.statut.id == 4 %}
                            <td><input type="number" name="quantite" id="" min=0 value="{{ article.quantite }}" class="mb-3 form-control"></td>
                            <td>
                                <button type="submit" name="prise" value={{ article.id }} class="btn btn-xs btn-default command-edit backgreen"><i class="fas fa-check fa-2x"></i></button> 
                            </td>
                        {% elseif article.statut.id == 20 %}
                            <td>{{ article.quantite }}</td>
                            <td><button type="submit" name="depose" value={{ article.id }} class="btn btn-xs btn-default command-edit backgreen"><i class="far fa-arrow-alt-circle-down fa-2x"></i></button></td>
                        {% else %}
                        <td>{{ article.quantite }}</td> 
                        <td><a href="{{ path('articles_show', {'id': article.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a></td>   
                        {% endif %}
                    </form>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('collecte_index', {'history': 'false'}) }}" class='button pull-left btn-left'>retour</a>
        {{ include('collecte/_delete_form.html.twig') }}
        <!-- <a href="{{ path('collecte_edit', {'id': collecte.id}) }}" class='button pull-right btn-left'>Modifier</a> -->
    
{% endblock %}
