{% extends 'layout.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block page_content %}
<h1>Génération des livraisons</h1>
<div class="container-fluid">
    {% for destination in destinations %}
    <div class="row">
       <label class="col-10" for="scales"> Prévisualisation de la livraison pour l'emplacement: {{destination.nom}}</label>
       <table class="table">
           <thead>
               <tr>
                   <th>Nom</th>
                   <th>Référence Article</th>
                   <th>Emplacement</th>
               </tr>
           </thead>
           <tbody>
        {% set i = 0 %}
        {% for demande in demandes %}
            {% if destination.nom == demande.destination.nom %}          
                {% for article in demande.articles %}
                <tr {% if i % 2 == 1 %} class="backtablejv" {% endif %}>
                    {% set i = i + 1 %}
                    <td>{{ article.nom }}</td>
                    <td>{{ article.refArticle.reference }}</td>
                    <td>{{ article.position }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
    </div>     
    {% endfor %}
        <form class="row" action={{path("livraison_creation")}} method="post">
            {% if demandes|length > 0  %}
                    <input name="valid" class="button btn-left" type="submit" value="Valider">
                {% else %}
                <div class="col-12">
                    <p>aucune préparation terminé</p>
                    <a href={{ path('livraison_index', {'history': 'false'}) }} class="btn pull-left button btn-right">Retour</a>
                </div>
                {% endif %}
        </form>
</div>
{% endblock %}
