<div class="row">
    <div class="col-auto">
        <h1><span>Ordre de livraison n°{{ livraison.numero }}</span></h1>
    </div>
    <div class="col-auto ml-auto">
        <div class="btn-group split-button-container col-auto align-self-end">
            <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="fa fa-angle-down"></span>
            </button>
            <div class="dropdown-menu dropdown-single">
                {% if livraison.statut.nom == constant('App\\Entity\\Livraison::STATUT_A_TRAITER') %}
                    {% if not finished %}
                        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                            <a class="dropdown-item" href={{ path('livraison_finish', {'id': livraison.id}) }}>
                                <i class="fa fa-check mr-2"></i>Finir la livraison
                            </a>
                        {% endif %}
                        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                            <a class="dropdown-item" href=""
                               onclick="deleteRow($(this), $('#modalDeleteLivraison'), $('#submitDeleteLivraison'))"
                               data-id='{{ livraison.id }}' data-target='#modalDeleteLivraison' data-toggle='modal'>
                                <i class="fa fa-trash mr-2"></i>Supprimer
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <a href="{{ path('demande_show', {'id': demande.id}) }}" class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Retourner à la demande de livraison
                </a>
                <a href="{{ path('preparation_show', {'id': preparation.id}) }}"
                   class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Retourner à la préparation
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <p><strong> Statut : </strong> {{ livraison.statut ? livraison.statut.nom : '' }}</p>
        <p><strong> Numéro : </strong> {{ livraison.numero }}</p>
        <p><strong> Opérateur :
            </strong>{{ livraison.preparation.utilisateur ?  livraison.preparation.utilisateur.username : '' }} </p>
    </div>
    <div class="col-4">
        <p><strong>Demandeur : </strong>{{ demande ? demande.utilisateur.username : '' }} </p>
        <p><strong> Point de livraison:</strong> {{ demande ? demande.destination.label : '' }}</p>
        <p><strong> Date de livraison : </strong> {{ livraison.dateFin ? livraison.dateFin|date('d/m/Y') : '' }}
        </p>
    </div>
    <div class="col-12">
        <p><strong> Commentaire : </strong></p>
        <div class="commentOverflow">
            <p>{{ demande ? demande.commentaire|raw : '' }}</p>
        </div>
    </div>
</div>
