{% extends 'layout.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col">
        <h1>Ordre de livraison n°{{ livraison.numero }}</h1>
    </div>

    <div class="col text-right">
        <a href="{{path('demande_show', {'id': demande.id})}}" class="btn btn-primary btn-action ml-auto">
            Retourner à la demande de livraison
        </a>
    </div>
    <div>
        <a href="{{path('preparation_show', {'id': preparation.id})}}"
       class="btn btn-primary btn-action ml-auto">
            Retourner à la préparation
        </a>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <p><strong> Statut : </strong> {{ livraison.statut ? livraison.statut.nom : '' }}</p>
        <p><strong> Numéro : </strong> {{livraison.numero}}</p>
        <p><strong> Opérateur :
            </strong>{{livraison.preparation.utilisateur ?  livraison.preparation.utilisateur.username : '' }} </p>
    </div>
    <div class="col-4">
        <p><strong>Demandeur : </strong>{{ demande ? demande.utilisateur.username : '' }} </p>
        <p><strong> Point de livraison:</strong> {{ demande ? demande.destination.label : '' }}</p>
        <p><strong> Date de livraison : </strong> {{ livraison.dateFin ? livraison.dateFin|date('d/m/Y') : '' }}
        </p>
    </div>
    <div class="col-12">
        <p><strong> Commentaire : </strong></p>
        <div class="commentOverflow">
            <p>{{ demande ? demande.commentaire|raw : ''}}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col text-right">
        {% if livraison.statut.nom == constant('App\\Entity\\Livraison::STATUT_A_TRAITER') %}
            {% if not finished %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                    <a class="btn btn-danger btn-action" href=""
                          onclick="deleteRow($(this), $('#modalDeleteLivraison'), $('#submitDeleteLivraison'))"
                          data-id='{{livraison.id}}' data-target='#modalDeleteLivraison' data-toggle='modal'>
                        Supprimer
                    </a>
                {% endif %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <a class="btn btn-primary btn-action" href={{path('livraison_finish', {'id': livraison.id})}}>
                        Finir la livraison
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>

<table id="tableArticle_id" class="table table-striped table-bordered w-100">
</table>

<a href="{{ path('livraison_index') }}" class='btn'>Retour à la liste</a>

{% include "livraison/modalDeleteLivraison.html.twig" %}
{% include 'reference_article/modalShowRefArticle.html.twig' %}
{% include 'article/modalShowArticle.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let id = {{ livraison.id }};
    </script>

    <script src="{{asset('js/livraison.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
