{% extends 'base.html.twig' %}

{% block title %}Quais index{% endblock %}

{% block body %}
    <h1>Quais index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quai in quais %}
            <tr>
                <td>{{ quai.id }}</td>
                <td>{{ quai.nom }}</td>
                <td>
                    <a href="{{ path('quais_show', {'id': quai.id}) }}">show</a>
                    <a href="{{ path('quais_edit', {'id': quai.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quais_new') }}">Create new</a>
{% endblock %}