{% extends 'base.html.twig' %}

{% block title %}Quais{% endblock %}

{% block body %}
    <h1>Quais</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quai.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ quai.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quais_index') }}">back to list</a>

    <a href="{{ path('quais_edit', {'id': quai.id}) }}">edit</a>

    {{ include('quais/_delete_form.html.twig') }}
{% endblock %}