{% extends 'base.html.twig' %}

{% block title %}Entrepots index{% endblock %}

{% block body %}
    <h1>Entrepots index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entrepot in entrepots %}
            <tr>
                <td>{{ entrepot.id }}</td>
                <td>{{ entrepot.nom }}</td>
                <td>
                    <a href="{{ path('entrepots_show', {'id': entrepot.id}) }}">show</a>
                    <a href="{{ path('entrepots_edit', {'id': entrepot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entrepots_new') }}">Create new</a>
{% endblock %}
