{% extends 'base.html.twig' %}

{% block title %}ReferencesFournisseurs{% endblock %}

{% block body %}
    <h1>ReferencesFournisseurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ references_fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ references_fournisseur.libelle }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ references_fournisseur.poids }}</td>
            </tr>
            <tr>
                <th>Dimension</th>
                <td>{{ references_fournisseur.dimension }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ references_fournisseur.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('references_fournisseurs_index') }}">back to list</a>

    <a href="{{ path('references_fournisseurs_edit', {'id': references_fournisseur.id}) }}">edit</a>

    {{ include('references_fournisseurs/_delete_form.html.twig') }}
{% endblock %}