{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.libelle) }}
{{ form_row(form.reference) }}
{{ form_row(form.custom) }}
<button type="submit" class="button">{{ button_label|default('Ajouter') }}</button>

{{ form_row(form._token) }}
{{ form_end(form, {'render_rest' : false}) }}