{% extends 'base.html.twig' %}

{% block title %}ReferencesArticles{% endblock %}

{% block body %}
    <h1>ReferencesArticles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ references_article.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ references_article.libelle }}</td>
            </tr>
            <tr>
                <th>Photo_article</th>
                <td>{{ references_article.photoArticle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('references_articles_index') }}">back to list</a>

    <a href="{{ path('references_articles_edit', {'id': references_article.id}) }}">edit</a>

    {{ include('references_articles/_delete_form.html.twig') }}
{% endblock %}