<form>
    <div class="row align-items-center">
        <div class="form-group col-12 col-md-4">
            <label class="wii-field-name" for="sensorWrapperList" title="sensorWrapper">
                Capteur
            </label>
            <input disabled class="form-control" value="{{ triggerAction.sensorWrapper.name }}">
        </div>
        <div class="col-auto m-auto">
            <label> OU </label>
        </div>
        <div class="form-group col-12 col-md-4">
            <label class="wii-field-name">Code</label>
            <input disabled class="form-control" value="{{ triggerAction.sensorWrapper.sensor.code }}">
        </div>
    </div>
    <div class="row sensor-details-container flex-column">
        <div class="sensor-type">
            {% if (triggerAction.sensorWrapper ? triggerAction.sensorWrapper.sensor.type.label : "") == constant('App\\Entity\\IOT\\Sensor::TEMPERATURE') %}
                {% include ('trigger_action/modalTemperature.html.twig') %}
            {% elseif (triggerAction.sensorWrapper ? triggerAction.sensorWrapper.sensor.type.label : "") == constant('App\\Entity\\IOT\\Sensor::ACTION') %}
                {% include ('trigger_action/modalButton.html.twig') %}
            {% endif %}
        </div>
        <div class="form-group col-12 col-md-6">
            <label class="wii-field-name">Type de modèle*</label>
            <div class="w-100">
                <select class="form-control data needed" name="templateType" onchange="onTemplateTypeChange($(this))">
                    <option value=""></option>
                    {% for templateType, index in templateTypes %}
                        {% set selected = (
                            (index == constant('App\\Entity\\IOT\\TriggerAction::ALERT') and triggerAction.alert)
                            or (index == constant('App\\Entity\\IOT\\TriggerAction::REQUEST') and triggerAction.request)
                        ) %}
                        <option {{ selected ? 'selected' }} value="{{ index }}">{{ templateType }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group col-12 col-md-6">
            <label class="wii-field-name">Modèle*</label>
            <div class="w-100">
                <select class="form-control data needed" name="templates">
                    <option selected
                            value="{{ triggerAction.requestTemplate ? triggerAction.requestTemplate.id : triggerAction.alertTemplate.id}}">
                        {{ triggerAction.requestTemplate ? triggerAction.requestTemplate.name : triggerAction.alertTemplate.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>
