{% import 'form.html.twig' as form %}

{% set website_logo = setting_value('WEBSITE_LOGO') %}
{% set email_logo = setting_value('EMAIL_LOGO') %}
{% set mobile_logo_login = setting_value('MOBILE_LOGO_LOGIN') %}
{% set mobile_logo_header = setting_value('MOBILE_LOGO_HEADER') %}

<div class="wii-section">
    <div class="row">
        <div class="form-group w-fit-content col-6">
            <div class="row">
                <div class="col-auto">
                    {{ form.image(setting('WEBSITE_LOGO'), 'Logo sur web entête', false, setting_value('WEBSITE_LOGO'), {
                        labelClass: 'w-100 wii-field-name',
                        defaultValue: setting('DEFAULT_WEBSITE_LOGO_VALUE'),
                    }) }}
                </div>
            </div>
        </div>

        <div class="form-group w-fit-content col-6">
            <div class="row">
                <div class="col-auto">
                    {{ form.image(setting('MOBILE_LOGO_LOGIN'), 'Logo sur nomade page connexion', false, setting_value('MOBILE_LOGO_LOGIN'), {
                        labelClass: 'w-100 wii-field-name',
                        defaultValue: setting('DEFAULT_MOBILE_LOGO_LOGIN_VALUE'),
                    }) }}
                </div>
            </div>
        </div>

        <div class="form-group w-fit-content col-6">
            <div class="row">
                <div class="col-auto">
                    {{ form.image(setting('EMAIL_LOGO'), 'Logo sur les emails', false, setting_value('EMAIL_LOGO'), {
                        labelClass: 'w-100 wii-field-name',
                        defaultValue: setting('DEFAULT_EMAIL_LOGO_VALUE'),
                    }) }}
                </div>
            </div>
        </div>

        <div class="form-group w-fit-content col-6">
            <div class="row">
                <div class="col-auto">
                    {{ form.image(setting('MOBILE_LOGO_HEADER'), 'Logo sur nomade entête', false, setting_value('MOBILE_LOGO_HEADER'), {
                        labelClass: 'w-100 wii-field-name',
                        defaultValue: setting('DEFAULT_MOBILE_LOGO_HEADER_VALUE'),
                    }) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group w-fit-content col-6">
            {{ form.select(setting('FONT_FAMILY'), 'Choix de la police', true, {
                labelClass: 'wii-field-name w-100',
                items: setting('FONTS'),
                value: setting_value('FONT_FAMILY')
            }) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group w-fit-content col-6">
            {{ form.input(setting('MAX_SESSION_TIME'),
                '<span class="wii-field-name">Temps de session en minutes&nbsp;</span><span class="wii-medium-text">(maximum 24h)</span>',
                false,
                setting_value('MAX_SESSION_TIME'),
                {
                    labelClass: 'w-100',
                    tooltip: {
                    text: "Ce paramètre définit le temps d'inactivité maximum en minutes avant que l'utilisateur soit
                        déconnecté. Le paramétrage ne prendra effet qu'à la prochaine connexion de l'utilisateur.",
                }
                }) }}
        </div>
    </div>
</div>
