{% import 'form.html.twig' as form %}

<div class="row">
    <div class="form-group col-6">
        {% set value = mailer_server.smtp is defined ? mailer_server.smtp %}
        {{ form.input('smtp', 'Serveur SMTP', true, value, {labelClass: 'wii-field-name w-75'}) }}
    </div>
    <div class="form-group col-6">
        {% set value = mailer_server.user is defined ? mailer_server.user %}
        {{ form.input('smtp', "Nom d'utilisateur", true, value, {labelClass: 'wii-field-name w-75'}) }}
    </div>
</div>

<div class="row">
    <div class="form-group col-6">
        {% set value = mailer_server.password is defined ? mailer_server.password %}
        {{ form.input('password', "Mot de passe", true, value, {
            labelClass: 'wii-field-name w-75',
            type: 'password'
        }) }}
    </div>
    <div class="form-group col-6">
        {% set value = mailer_server.port is defined ? mailer_server.port %}
        {{ form.input('port', "Port", true, value, {labelClass: 'wii-field-name w-75'}) }}
    </div>
</div>

<div class="row">
    <div class="form-group col-6">
        {% set value = mailer_server.protocol is defined ? mailer_server.protocol %}
        {{ form.input('protocol', "Protocole", true, value, {labelClass: 'wii-field-name w-75'}) }}
    </div>
    <div class="form-group col-6">
        {% set value = mailer_server.senderName is defined ? mailer_server.senderName %}
        {{ form.input('senderName', "Nom expéditeur", true, value, {labelClass: 'wii-field-name w-75'}) }}
    </div>
</div>

<div class="row">
    <div class="form-group col-6">
        {% set value = mailer_server.senderMail is defined ? mailer_server.senderMail %}
        {{ form.input('senderMail', "Adresse mail expéditeur", true, value, {labelClass: 'wii-field-name w-75'}) }}
    </div>
</div>
