{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Paramétrage pour l'envoi de mail à partir de Follow Nexter.
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-12">
            {% set setting = constant('App\\Entity\\Setting::MAILER_URL') %}
            {{ form.input(setting, 'Serveur SMTP', true, setting_value(setting)) }}
        </div>
        <div class="form-group col-md-6 col-12">
            {% set setting = constant('App\\Entity\\Setting::MAILER_PORT') %}
            {{ form.input(setting, "Port", true, setting_value(setting)) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-12">
            {% set setting = constant('App\\Entity\\Setting::MAILER_USER') %}
            {{ form.input(setting, "Nom d'utilisateur", true, setting_value(setting)) }}
        </div>
        <div class="form-group col-md-6 col-12">
            {% set setting = constant('App\\Entity\\Setting::MAILER_PASSWORD') %}
            {{ form.input(setting, "Mot de passe", true, setting_value(setting), {
                type: 'password'
            }) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-12">
            {% set setting = constant('App\\Entity\\Setting::MAILER_PROTOCOL') %}
            {% set settingValue = setting_value(setting) %}
            {{ form.select(setting, "Protocole", true, {
                items: constant('App\\Service\\MailerService::PROTOCOLS')|map((value) => {
                    value: value,
                    label: value,
                    selected: value == settingValue,
                }
            )}) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-12">
            {% set setting = constant('App\\Entity\\Setting::MAILER_SENDER_NAME') %}
            {{ form.input(setting, "Nom expéditeur", true, setting_value(setting)) }}
        </div>
        <div class="form-group col-md-6 col-12">
            {% set setting = constant('App\\Entity\\Setting::MAILER_SENDER_MAIL') %}
            {{ form.input(setting, "Adresse email expéditeur", true, setting_value(setting)) }}
        </div>
    </div>
</div>
