{% extends "layout.html.twig" %}

{% block page_content %}
    
<h1>Nouvelle demande</h1>

<form class="container-fluid" action={{path("creation_demande")}} method="POST">
    <div class="form-group row">
        <p class=" col-form-label">Lieux de livraison</p>
        <select class="form-control" name="direction" id="">
            {% for item in emplacements %}
                <option value={{item.id}}>{{item.nom}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">        
        <h2>Articles</h2>
       <div class="row">
        {% for refArticle in refArticles |sort %}
            <div class="form-group col-4">
                <p class=" col-form-label"><strong>{{ refArticle.libelle}}</strong> (quantité disponible: {{refArticle.quantity}})</p>
                <input class="form-control" type="number" name="piece[{{refArticle.id}}]" value=0 min="0" max={{refArticle.quantity}}>
            </div>
        {% endfor %}
        </div>
    </div>
    <input class="btn btn-primary float-left" type="submit" value="Commander">

</form>

{% endblock  %}