{% extends 'utils/show-header.html.twig' %}

{% block showTitle ('Demande de livraison n°' ~ demande.numero) %}

{% block showActions %}
    <div class="btn-group">
        {% if modifiable and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE')) %}
            <button type="button"
                    data-id='{{ demande.id }}'
                    onclick="validateLivraison({{ demande.id }}, $(this))"
                    data-toggle='modal'
                    class="btn btn-primary btn-ripple split-button ml-auto">
                    <i class="fa fa-check mr-2"></i>
                Valider
            </button>
        {% endif %}
        <button type="button"
                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>
        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
            {% if demande.reception is not empty and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_RECE')) %}
                <a href="{{ path('reception_show', {'id': demande.reception.id }) }}"
                   class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Aller vers la réception
                </a>
            {% endif %}
            {% if demande.preparations is not empty and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_PREPA')) %}
                {% if demande.preparations|length > 1 %}
                    <a href="{{ path('preparation_index', {'demandId': demande.id }) }}"
                       class="dropdown-item">
                        <i class="mr-2 fas fa-external-link-alt"></i>Aller vers les ordres de préparations
                    </a>
                {% else %}
                    <a href="{{ path('preparation_show', {'id': demande.preparations[0].id }) }}"
                       class="dropdown-item">
                        <i class="mr-2 fas fa-external-link-alt"></i>Aller vers l'ordre de préparation
                    </a>
                {% endif %}
            {% endif %}
            {% if demande.livraisons is not empty and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_ORDRE_LIVR')) %}
                {# Si on a plusieurs prerations, on affiche une liste pour les livraisons #}
                {% if demande.preparations|length > 1 %}
                    <a href="{{ path('livraison_index', {'demandId': demande.id }) }}"
                       class="dropdown-item">
                        <i class="mr-2 fas fa-external-link-alt"></i>Aller vers les ordres de livraison
                    </a>
                {% else %}
                    <a href="{{ path('livraison_show', {'id': demande.livraisons[0].id }) }}"
                       class="dropdown-item">
                        <i class="mr-2 fas fa-external-link-alt"></i>Aller vers l'ordre de livraison
                    </a>
                {% endif %}
            {% endif %}
            {% if modifiable and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                <a href="#"
                   onclick="editRow($(this), Routing.generate('demandeLivraison_api_edit', true), $('#modalEditDemande'), $('#submitEditdemande'), true, '#modalEditDemande .editor-container-edit')"
                   data-id='{{ demande.id }}'
                   data-target='#modalEditDemande'
                   data-toggle='modal'
                   class="dropdown-item">
                    <i class="fas fa-pencil-alt mr-2" aria-hidden="true"></i>Modifier
                </a>
            {% endif %}
            {% if modifiable and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE')) %}
                <a href="" data-id='{{ demande.id }}' data-target='#modalDeleteDemande' data-toggle='modal'
                   class="dropdown-item">
                    <i class="fa fa-trash mr-2"></i>Supprimer</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
