<div class="col-6">
    <p>Demandeur : <span id="demandeur">{{ demande.utilisateur ? demande.utilisateur : '' }}</span></p>
    <p>Statut : {{demande.statut.nom|capitalize}}</p>
    <p>Destination : <span id="emplacement">{{ demande.destination ? demande.destination.label : "" }}</span></p>
</div>

<div class="col-6">
    <p>Date demande : {{ demande.date | date("d/m/Y") }}</p>
    <p>Référence : {{ demande.numero }}</p>
</div>