<div class="row">
    <div class="col-6">
        <p><strong>Demandeur :</strong> <span id="demandeur">{{ demande.utilisateur ? demande.utilisateur : '' }}</span></p>
        <p><strong>Statut :</strong> {{demande.statut.nom|capitalize}}</p>
        <p><strong>Destination :</strong> <span
                    id="emplacement">{{ demande.destination ? demande.destination.label : "" }}</span></p>
    </div>
    <div class="col-6">
        <p><strong>Date demande :</strong> {{ demande.date | date("d/m/Y") }}</p>
        <p><strong>Date de validation :</strong>
            {% if demande.preparation is not null %}
            {{demande.preparation.date|date('d/m/Y H:i')}}</p>
        {% endif %}
        <p><strong>Type :</strong> {{ demande.type is not null ? demande.type.label : '' }} </p>
    </div>

    {% for champLibre in champsLibres %}
    <div class="col-6">
        {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
            {% set value = (champLibre.valeur == 1) ? 'oui' : 'non' %}
        {% else %}
            {% set value = champLibre.valeur %}
        {% endif %}
        <p><strong>{{ champLibre.label|capitalize }} :</strong> {{ value }}</p>
    </div>
    {% endfor %}

    <div class="col-12">
        <p><strong> Commentaire : </strong></p>
        <div class="commentOverflow">
            <p>{{demande.commentaire|raw}}</p>
        </div>
    </div>
</div>
