<div class="row wii-page-card-header align-items-center">
    <div class="col-auto">
        <h1 class="my-0"><span>Demande de livraison n° {{ demande.numero }}</span></h1>
    </div>
    <div class="col-auto ml-auto">
        <div class="btn-group">
            {% if modifiable %}
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) %}
                    <button type="button"
                            data-id='{{ demande.id }}'
                            data-target='#modalEditDemande'
                            onclick="editRow($(this), Routing.generate('demandeLivraison_api_edit', true), $('#modalEditDemande'), $('#submitEditdemande'), true, '#modalEditDemande .editor-container-edit')"
                            data-toggle='modal'
                            class="btn btn-primary btn-ripple split-button ml-auto">
                        Modifier
                    </button>
                {% endif %}
                <button type="button"
                        class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-angle-down"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right pointer">
                    {% if demande.reception is not empty %}
                        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_RECE')) %}
                            <a href="{{ path('reception_show', {'id': demande.reception.id }) }}"
                               class="dropdown-item">
                                <i class="mr-2 fas fa-external-link-alt"></i>Aller vers la réception
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                        <a href="#"
                           onclick="validateLivraison({{ demande.id }}, $(this))"
                           data-id='{{ demande.id }}'
                           class="dropdown-item">
                            <i class="fa fa-check mr-2"></i>Valider
                        </a>
                    {% endif %}
                    {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE')) %}
                        <a href="" data-id='{{ demande.id }}' data-target='#modalDeleteDemande' data-toggle='modal'
                           class="dropdown-item">
                            <i class="fa fa-trash mr-2"></i>Supprimer</a>
                    {% endif %}
                </div>
            {% elseif demande.preparations is not empty %}
                <button type="button"
                        class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-angle-down"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right pointer">
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_PREPA')) %}
                        {% if demande.preparations|length > 1 %}
                            <a href="{{ path('preparation_index', {'demandId': demande.id }) }}"
                               class="dropdown-item">
                                <i class="mr-2 fas fa-external-link-alt"></i>Aller vers les ordres de préparations
                            </a>
                        {% else %}
                            <a href="{{ path('preparation_show', {'id': demande.preparations[0].id }) }}"
                               class="dropdown-item">
                                <i class="mr-2 fas fa-external-link-alt"></i>Aller vers l'ordre de préparation
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if demande.livraisons is not empty %}
                        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_ORDRE_LIVR')) %}
                            {# Si on a plusieurs prerations, on affiche une liste pour les livraisons #}
                            {% if demande.preparations|length > 1 %}
                                <a href="{{ path('livraison_index', {'demandId': demande.id }) }}"
                                   class="dropdown-item">
                                    <i class="mr-2 fas fa-external-link-alt"></i>Aller vers les ordres de livraison
                                </a>
                            {% else %}
                                <a href="{{ path('livraison_show', {'id': demande.livraisons[0].id }) }}"
                                   class="dropdown-item">
                                    <i class="mr-2 fas fa-external-link-alt"></i>Aller vers l'ordre de livraison
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p><strong>Demandeur :</strong> <span id="demandeur">{{ demande.utilisateur ? demande.utilisateur : '' }}</span>
        </p>
        <p><strong>Statut :</strong> {{ demande.statut ? demande.statut.nom : '' }}</p>
        <p><strong>Destination :</strong> <span
                id="emplacement">{{ demande.destination ? demande.destination.label : "" }}</span></p>
    </div>
    <div class="col-6">
        <p><strong>Date demande :</strong> {{ demande.date | date("d/m/Y") }}</p>
        <p>
            <strong>Date de validation :</strong>
            {% if demande.preparations is not empty %}
                {{ (demande.preparations|last).date|date('d/m/Y H:i') }}
            {% endif %}
        </p>
        <p><strong>Type :</strong> {{ demande.type is not null ? demande.type.label : '' }} </p>
    </div>

    {% for champLibre in champsLibres %}
        <div class="col-6">
            {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                {% set value = (champLibre.valeur == 1) ? 'oui' : 'non' %}
            {% elseif champLibre.typage == 'list multiple' %}
                {% set value = champLibre.valeur | replace({';' : ','}) %}
            {% else %}
                {% set value = champLibre.valeur %}
            {% endif %}
            <p><strong>{{ champLibre.label|capitalize }} :</strong> {{ value }}</p>
        </div>
    {% endfor %}

    <div class="col-12">
        <p><strong> Commentaire : </strong></p>
        <div class="commentOverflow">
            <p>{{ demande.commentaire|raw }}</p>
        </div>
    </div>
</div>
