<div class="row">
    <div class="col-6">
        <p><strong>Demandeur :</strong> <span id="demandeur">{{ demande.utilisateur ? demande.utilisateur : '' }}</span>
        </p>
        <p><strong>Statut :</strong> {{demande.statut.nom|capitalize}}</p>
        <p><strong>Destination :</strong> <span
                id="emplacement">{{ demande.destination ? demande.destination.label : "" }}</span></p>
    </div>

    <div class="col-6">
        <p><strong>Date demande :</strong> {{ demande.date | date("d/m/Y") }}</p>
        <p><strong>Référence :</strong> {{ demande.numero }}</p>
        <p><strong> Commentaire : </strong></p>
        <div class="commentOverflow">
            <p>{{demande.commentaire|raw}}</p>
        </div>
    </div>
</div>