{% extends 'layout.html.twig' %}

{% block title %}Demandes de livraison{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersDemands.html.twig' with {
        'page': 'PAGE_DEM_LIVRAISON',
        'tableSelector': '#table_demande',
        'callback': 'callbackSaveFilter'
    } %}
{% endblock %}

{% block page_content %}
    <input type="text" value="" id="dateMinFilter" hidden>
    <input type="text" value="" id="dateMaxFilter" hidden>
    <input type="text" value="" id="statutFilter" hidden>
    <input type="text" value="" id="userFilter" hidden>
    <input type="text" value="" id="typeFilter" hidden>
    <h1>Demandes de livraison</h1>
    <div class="row">
        {% if receptionFilter is defined and receptionFilter is not null and receptionFilter != 0 %}
            <div>
                <a href="{{ path('demande_index') }}" class='btn btn-primary btn-action'>Voir toutes les
                    demandes</a>
                <a href="{{ path('reception_show', {'id': receptionFilter}) }}" class='btn btn-action btn-primary'>Retour à la
                    réception</a>
            </div>
        {% else %}
            {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                <div href="" data-toggle="modal" data-target="#modalNewDemande" class="btn btn-primary"
                     onclick='initNewLivraisonEditor("#modalNewDemande")'>
                    <span class="fa fa-plus mr-2"></span>Nouvelle demande
                </div>
            {% endif %}
            {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
                <div class="btn btn-primary" onclick="generateCSV('get_livraisons_for_csv', 'dem-livr')">
                    <span class="fa fa-file-csv mr-2"></span>Exporter au format CSV
                </div>
            {% endif %}
        {% endif %}

    </div>
    <div class="d-none justify-content-center" id="spinner">
        <div class="spinner-border sizeLoader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="mt-5">
        <table id="table_demande" class="table table-striped table-bordered w-100">
        </table>
    </div>
    <input type="hidden" value="{{ receptionFilter }}" id="receptionFilter">
    {% include "demande/modalNewDemande.html.twig" %}
    {% include "demande/modalShowDemande.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const id = 0;
    </script>
    <script src = "{{ asset('js/demande-livraison.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
