{% extends 'layout.html.twig' %}

{% block title %}Demande | Livraison{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersDemands.html.twig' with {
        'page': 'PAGE_DEM_LIVRAISON',
        'tableSelector': '#table_demande',
        'callback': 'callbackSaveFilter'
    } %}
{% endblock %}
{% block page_content %}
    {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
    <input type="text" value="" id="dateMinFilter" hidden>
    <input type="text" value="" id="dateMaxFilter" hidden>
    <input type="text" value="" id="statutFilter" hidden>
    <input type="text" value="" id="userFilter" hidden>
    <input type="text" value="" id="typeFilter" hidden>

    <div class="m-4 datatable-container">
        <div class="row datatable-header">
            <div class="col-auto ml-auto">
                {% if receptionFilter is defined and receptionFilter is not null and receptionFilter != 0 %}
                    <div class="btn-group">
                        <div class="btn btn-primary btn-ripple split-button">
                            <a href="{{ path('demande_index') }}">Voir toutes les demandes</a>
                        </div>
                        <button type="button"
                                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('reception_show', {'id': receptionFilter}) }}" class='dropdown-item pointer'>Retour à la réception</a>
                        </div>
                    </div>
                {% else %}
                    {% if hasRightCreate and hasRightExport %}
                        <div class="btn-group">
                            <div class="btn btn-primary btn-ripple split-button"
                                 data-toggle="modal" data-target="#modalNewDemande"
                                 onclick='initNewLivraisonEditor("#modalNewDemande")'>
                                <span class="fa fa-plus mr-2"></span>Nouvelle demande
                            </div>
                            <button type="button"
                                    class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right pointer">
                                <div class="dropdown-item" onclick="generateCSV('get_demandes_for_csv', 'dem-livr')">
                                    <span class="fa fa-file-csv mr-2"></span>Exporter au format CSV
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if hasRightCreate %}
                            <div class="btn btn-primary btn-ripple"
                                 data-toggle="modal"
                                 data-target="#modalNewDemande"
                                 onclick='initNewLivraisonEditor("#modalNewDemande")'>
                                <span class="fa fa-plus mr-2"></span>Nouvelle demande
                            </div>
                        {% endif %}
                        {% if hasRightExport %}
                            <div class="btn btn-primary btn-ripple"
                                 onclick="generateCSV('get_demandes_for_csv', 'dem-livr')">
                                <span class="fa fa-file-csv mr-2"></span>Exporter au format CSV
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="d-none justify-content-center" id="spinner">
                <div class="spinner-border sizeLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="col-12">
                <table id="table_demande" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ receptionFilter }}" id="receptionFilter">
    {% include "demande/modalNewDemande.html.twig" %}
    {% include "demande/modalShowDemande.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const id = 0;
    </script>
    <script src="{{ asset('js/demande-livraison.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
