<!-- Modal -->
<form method="" class="modal fade" id="dataModalCenter" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Créer une demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="form-group">
                    <label for="demandeur">Utilisateur</label>
                    <select name="demandeur" id="demandeur" class="form-control data select2">
                        {% for utilisateur in utilisateurs %}
                            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="destination">Destination</label>
                    <select name="destination" id="destination" class="form-control data select2">
                        {% for emplacement in emplacements %}
                            <option value="{{ emplacement.id }}">{{ emplacement.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitButton" type="button" data-dismiss="modal" class="btn btn-primary btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>

{% block javascript %}
<script>
    var dataModal = document.getElementById("dataModalCenter");
    var ButtonSubmit = document.getElementById("submitButton");
    console.log(ButtonSubmit);


    ButtonSubmit.addEventListener("click", function () {
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                table.ajax.reload(function( json ) {
                    $('#myInput').val( json.lastInput );
                });
            }
        }

        let inputs = document.querySelectorAll(".data"); // On récupère tout les inputs qui nous intéresse avec le querySelectorAll
        let Data = []; // Tableau de données

        inputs.forEach(input => { // Pour chaque input on fait un tableau avec pour clé son nom et comme valeur la valeur dans l'input
            Data.push({
                [input.name]: input.value
            });
            console.log(input);
        });

        console.log(Data);
        Json = JSON.stringify(Data); // On transforme les données en JSON
        xhttp.open("POST", "{{ path('creation_demande') }}", true);
        xhttp.send(Json);
    });
</script>
{% endblock %}