<input type="hidden" name="restrictedLocations" value="{{ restrictedLocations }}">

{% set restrictedLocations = restrictedLocations is defined and restrictedLocations %}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label class="wii-field-name" for="utilisateur">Demandeur</label>
            <select disabled class="form-control select2 data" name="demandeur">
                {% if demande.utilisateur %}
                    <option selected value="{{ demande.utilisateur.id }}">{{ demande.utilisateur.username }}</option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label class="wii-field-name" for="typeEdit">Type</label>
            <select name="type"
                    id="typeEdit"
                    disabled
                    class="form-control d-block">
                {% if demande.type is not null %}
                    <option selected value="{{ demande.type.id }}">{{ demande.type.label }}</option>
                {% else %}
                    <option selected value=''></option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group w-100">
            <label class="wii-field-name" for="destination">Destination</label>
            <select name="destination" class="form-control data">
                {% if demande.destination is defined and demande.destination != null %}
                    <option value="{{ demande.destination.id }}" selected>{{ demande.destination.label }}</option>
                {% endif %}
            </select>
        </div>
    </div>

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EXPECTED_AT') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set fieldRequired = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label class="wii-field-name">Date attendue{{ fieldRequired ? '*' }}</label>
                <input name="expectedAt"
                       type="date"
                       value="{{ demande.expectedAt ? demande.expectedAt|date('Y-m-d') }}"
                       class="form-control data {{fieldRequired ? 'needed'}}"/>
            </div>
        </div>
    {% endif %}

    {% set fieldCodeProject = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROJECT') %}
    {% set fieldLabelProject = constant('App\\Entity\\FieldsParam::FIELD_LABEL_PROJECT') %}
    {% if fieldsParam|isFieldRequired(fieldCodeProject, 'displayedEdit') %}
        {% set fieldRequired = fieldsParam|isFieldRequired(fieldCodeProject, 'requiredEdit') %}
        <div class="col-12 col-md-6">
            <div class="form-group w-100">
                <label class="wii-field-name">{{ fieldLabelProject }}{{ fieldRequired ? '*' }}</label>
                <select name="project" data-s2="project" class="form-control data d-block {{fieldRequired ? 'needed'}}">
                    {% if demande.project is defined and demande.project != null %}
                        <option value="{{ demande.project.id }}" selected>{{ demande.project.code }}</option>
                    {% endif %}
                </select>
            </div>
        </div>
    {% endif %}
</div>

<!-- CHAMPS LIBRES -->
<span class="toggle-collapsible expanded">Champs libres</span>
<div class="collapsible expanded free-fields-container mb-2">
    {% include 'free_field/freeFieldsEdit.html.twig' with {
        freeFields: demande.type is not null and freeFieldsGroupedByTypes[demande.type.id] is defined ? freeFieldsGroupedByTypes[demande.type.id] : [],
        freeFieldValues: demande.freeFields,
        colType: 'col-md-6 col-12',
        requiredType: 'requiredEdit',
        actionType: 'edit'
    } %}
</div>

<div class="form-group">
    <label class="wii-field-name" for="commentaire">Commentaire</label>
    <input id="commentaire" class="form-control data" name="commentaire" type="hidden" value="{{ demande.commentaire }}">
    <div class="editor-container-edit" value="{{ demande.commentaire }}" data-wysiwyg> {{ demande.commentaire|raw }}
    </div>
</div>
