{% import 'form.html.twig' as form %}

<div class="modal fade"
     data-modal-type="new"
     id="modalNewDemande">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Créer une demande"
            } %}

            <div class="modal-body modal-input container-fluid">
                <form>
                    <input type="hidden"
                           name="defaultDeliveryLocations"
                           data-value="{{ defaultDeliveryLocations|json_encode }}"/>
                    <input type="hidden"
                           name="userDropzone"
                           data-value="{{ app.user.dropzone ? {'label': app.user.dropzone.label, 'id': app.user.dropzone.id}|json_encode }}"/>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="wii-field-name" for="demandeur">Demandeur</label>
                                <select class="demandeur form-control data" name="demandeur" disabled>
                                    <option value="{{ app.user.id }}">{{ app.user.username }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            {% set uniqueType = types|length == 1 %}
                            <div class="form-group">
                                <label class="wii-field-name" for="type">Type*</label>
                                <select name="type"
                                        class="form-control data d-block type needed
                                        {{ uniqueType ? 'needs-default' }}"
                                        onclick="typeChoice($(this))"
                                        onchange="onDeliveryTypeChange($(this), `create`)"
                                        {{ uniqueType ? 'disabled' }}
                                        {{ uniqueType ? ('data-init="' ~ (types|first).id ~ '"')|raw }}>
                                    {% if not uniqueType %}
                                        <option value="">Type à choisir...</option>
                                        {% for type in types %}
                                            <option value="{{ type.id }}">{{ type.label }}</option>
                                        {% endfor %}
                                    {% else %}
                                        {% set typeToDisplay = types|first %}
                                        <option selected value={{ typeToDisplay.id }}>{{ typeToDisplay.label }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            {% set restrictedLocations = restrictedLocations is defined and restrictedLocations %}
                            <div class="form-group w-100">
                                <label class="wii-field-name" for="destination">Destination*</label>
                                <select name="destination" class="form-control data ajax-autocomplete-location d-block needed" id="locationDemandeLivraison">
                                </select>
                            </div>
                        </div>

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EXPECTED_AT') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set fieldRequired = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="wii-field-name">Date attendue{{ fieldRequired ? '*' }}</label>
                                    <input name="expectedAt"
                                           type="date"
                                           class="form-control data {{fieldRequired ? 'needed'}}"/>
                                </div>
                            </div>
                        {% endif %}

                        {% set fieldCodeProject = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROJECT') %}
                        {% set fieldLabelProject = constant('App\\Entity\\FieldsParam::FIELD_LABEL_PROJECT') %}
                        {% if fieldsParam|isFieldRequired(fieldCodeProject, 'displayedCreate') %}
                            {% set fieldRequired = fieldsParam|isFieldRequired(fieldCodeProject, 'requiredCreate') %}
                            <div class="col-12 col-md-6">
                                <div class="form-group w-100">
                                    <label class="wii-field-name">{{ fieldLabelProject }}{{ fieldRequired ? '*' }}</label>
                                    <select data-s2="project" name="project" class="form-control data d-block {{fieldRequired ? 'needed'}}">
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- CHAMPS LIBRES -->
                    <span class="toggle-collapsible expanded">Champs libres</span>
                    <div class="collapsible expanded free-fields-container mb-2">
                        {% for type in typeChampsLibres %}
                            <div class="d-none"
                                 data-type="{{ type.typeId }}">
                                {% include 'free_field/freeFieldsEdit.html.twig' with {
                                    freeFields: type.champsLibres,
                                    freeFieldValues: [],
                                    colType: 'col-md-6 col-12',
                                    requiredType: 'requiredCreate',
                                    actionType: 'new',
                                } %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label class="wii-field-name wii-field-name-sub" for="commentaire">Commentaire</label>
                        <input id='commentaire' class="commentaire form-control data" name="commentaire" type="hidden">
                        <div class="editor-container" data-wysiwyg>
                        </div>
                    </div>
                </form>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewDemande'}
                ],
            } %}

        </div>
        <input type="hidden" name="restrictedLocations" value="{{ restrictedLocations }}">
    </div>
</div>
