{%  set disabled = (toSplit == true ? 'disabled' : '') %}
{%  set id = (toSplit == true ? 'quantiteFixed' : 'quantite') %}

<div class="form-group w-100 mb-3">
    <label for="reference">
        {{ 'reference.reference'|trans }}
    </label>
    <select disabled class="ajax-autocomplete data form-control" {{ disabled }} value='{{ligneArticle.reference}}' id='referenceEdit'  name='reference'
    onclick="ajaxAutoRefArticleInit($(this))">
        <option class=" refAjax" value="{{ligneArticle.reference.id}}">{{ligneArticle.reference}}</option>
    </select>
</div>
<div class="form-group mb-3">
    <label for="quantite">Quantité*</label>
    <input type="number" class="data form-control needed" name="quantite" id={{ id }} value="{{ligneArticle.quantite}}"
            min="1" required="true" max={{ maximum }}>
</div>