<div class="form-group">
    <label for="utilisateur">Utilisateur</label>
    <select disabled class="form-control select2 data" name="demandeur">
        <option selected value="{{demande.utilisateur.id}}">{{ demande.utilisateur.username }}</option>
    </select>
</div>

<div class="form-group w-100">
    <label for="destination">Destination</label>
    <select name="destination" class="form-control ajax-autocompleteEmplacement-edit data ">
        <option value="{{demande.destination.id}}">{{demande.destination.label}}</option>
    </select>
</div>

<div class="form-group">
    <label for="typeEdit">Type</label>
    <select class="form-control data" name="type" id="typeEdit"
            onclick="typeChoice($(this), '-edit', $('#typeContentEdit'))"
            onchange="toggleRequiredChampsLibres($(this), 'edit')" class="form-control data d-block">
        {% set selected = demande.type is null ? 'selected' : '' %}
        <option {{ selected }} value=''> </option>

        {% for type in typeChampsLibres %}
            {% set selected = '' %}
            {% if demande.type is not null %}{% set selected = demande.type.id == type.typeId ? 'selected' : '' %}{% endif %}
            <option {{ selected }} value="{{type.typeId}}">{{type.typeLabel}}</option>
        {% endfor %}
    </select>
</div>

<!-- CHAMPS LIBRES -->
<div class="row mt-4">
    <div class="form-group col-12 blocVisible d-block" id='typeContentEdit'>
        {% for typeChampLibre in typeChampsLibres %}
            <div {{ demande.type is not empty and typeChampLibre.typeId == demande.type.id ? "class='d-block'" : "class='d-none'"}}
                    id="{{typeChampLibre.typeId}}-edit">
                <p class="col-12 pl-0">Champs Libres :</p>
                <div class="row mt-2">
                    {% for champLibre in typeChampLibre.champsLibres %}
                        <div class="form-group col-6">
                            <label for="input">{{ champLibre.label | capitalize}}</label>
                            {% set valeurChampLibreDefined = (
                                champLibre.valeurChampLibre is defined
                                and champLibre.valeurChampLibre is not null
                                and champLibre.valeurChampLibre is not empty
                            ) %}
                            {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                                {% set checked = ((valeurChampLibreDefined ? champLibre.valeurChampLibre.valeur : 0) == 1) ? 'checked' : '' %}
                                <label class="switch">
                                    <input type="checkbox" class="data checkbox" {{ checked }} name="{{ champLibre.id}}">
                                    <span class="slider round"></span>
                                </label>

                            {% elseif  champLibre.typage == 'number' %}
                                <input type="number" id="{{ champLibre.id ~ 'edit'}}" class="form-control data"
                                                      value="{{ valeurChampLibreDefined ? champLibre.valeurChampLibre.valeur : '' }}"
                                                      name="{{ champLibre.id}}" id="input">

                            {% elseif  champLibre.typage == 'list' %}
                                <select class="form-control data" id="{{ champLibre.id ~ 'edit'}}"
                                                       name="{{ champLibre.id}}" id="input">
                                    <option value="">aucune selection...</option>
                                    {% for elem in  champLibre.elements %}
                                        {% set selected = elem == (valeurChampLibreDefined ? champLibre.valeurChampLibre.valeur : '' )? 'selected' : '' %}
                                        <option value="{{elem}}" {{ selected }}>{{elem}}</option>
                                    {% endfor %}
                                </select>
                            {% elseif champLibre.typage == 'list multiple' %}
                                <select id="{{ champLibre.id ~ 'edit' }}" class="form-control data list-multiple"
                                        name="{{ champLibre.id }}" multiple="multiple">
                                    {% for elem in champLibre.elements %}
                                        {% set selected = (valeurChampLibreDefined and elem in (champLibre.valeurChampLibre.valeur | split(';'))) ? 'selected' : '' %}
                                        <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                                    {% endfor %}
                                </select>
                            {% elseif champLibre.typage == 'text' %}
                                <input type="text" id="{{ champLibre.id ~ 'edit'}}" class="form-control data"
                                                      value="{{ valeurChampLibreDefined ? champLibre.valeurChampLibre.valeur : '' }}"
                                                      name="{{  champLibre.id }}" id="input">

                            {% elseif champLibre.typage == 'date' %}
                                <input type="date" name="{{ champLibre.id }}" id="{{champLibre.id ~ 'edit'}}"
                                                      class="form-control data"
                                                      value="{{ valeurChampLibreDefined ? champLibre.valeurChampLibre.valeur : '' }}">
                            {% elseif champLibre.typage == 'datetime' %}
                                <input type="datetime-local" name="{{ champLibre.id }}" id="{{champLibre.id ~ 'edit'}}"
                                       class="form-control data"
                                       value="{{ valeurChampLibreDefined ? champLibre.valeurChampLibre.valeur : '' }}">

                            {% else %}
                                <input type="text" id="{{ champLibre.id ~ 'edit'}}" class="form-control data"
                                       value="{{ valeurChampLibreDefined ? champLibre.valeurChampLibre.valeur : '' }}"
                                       name="{{  champLibre.id }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="form-group">
    <label for="commentaire" >Commentaire</label>
    <input id="commentaire" class="form-control data" name="commentaire" type="hidden" value="{{demande.commentaire}}" >
    <div class="editor-container-edit" value="{{demande.commentaire}}"> {{demande.commentaire|raw}}
    </div>
</div>
