<div class="form-group">
    <label for="demandeur">Utilisateur</label>
    <select name="demandeur" class="form-control data select2">
        {% for utilisateur in utilisateurs %}
            {% set selected = (utilisateur.id == demande.utilisateur.id ? 'selected' : '') %}
            <option value="{{ utilisateur.id }}" {{ selected }}>{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="destination">Destination</label>
    <select name="destination" class="form-control data select2">
        {% for emplacement in emplacements %}
            {% set selected = (emplacement.id == demande.destination.id ? 'selected' : '') %}
        <option value="{{ emplacement.id }}" {{ selected }}>{{ emplacement.label }}</option>
        {% endfor %}
    </select>
</div>
{#<div class="form-group col">
    <label for="dateAttendu">Date attendue</label>
    <input type="date" class="form-control data" name="dateAttendu" value="{{demande.dateAttendu | date('Y-m-d')}}" required="true"
        min="{{ 'now' | date('Y-m-d') }}" max="{{ '+25year' | date('Y-m-d') }}">
</div>#}