<div class="form-group">
    <label for="demandeur">Utilisateur</label>
    <select name="demandeur" class="form-control data select2">
        <option value="{{demande.utilisateur.id}}">{{demande.utilisateur.username}}</option>
        {% for utilisateur in utilisateurs %}
        <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="destination">Destination</label>
    <select name="destination" class="form-control data select2">
        <option value="{{demande.destination.id}}">{{demande.destination}}</option>
        {% for emplacement in emplacements %}
        <option value="{{ emplacement.id }}">{{ emplacement.label }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group col">
    <label for="dateAttendu">Date attendu</label>
    <input type="date" class="form-control data" name="dateAttendu" value="{{demande.dateAttendu | date('Y-m-d')}}" required="true"
        min="{{ 'now' | date('Y-m-d') }}" max="{{ '+25year' | date('Y-m-d') }}">
</div>