<form method="" class="modal fade" id="modalNewDemande" role="dialog" aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Créer une demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="form-group">
                    <label for="demandeur">Demandeur</label>
                    <select type="text" class="demandeur form-control data" name="demandeur" disabled>
                        <option value="{{ app.user.id }}">{{ app.user.username }}</option>
                    </select>
                </div>

                <div class="form-group w-100">
                    <label for="destination">Destination*</label>
                    <select name="destination" class="form-control data ajax-autocompleteEmplacement d-block needed" id="locationDemandeLivraison">
                    </select>
                    <input hidden id="locationDemandeLivraisonValue"
                           data-id="{{ livraisonLocation ? livraisonLocation.id : (app.user.dropzone ? app.user.dropzone.id) }}"
                           data-text="{{ livraisonLocation ? livraisonLocation.text : (app.user.dropzone ? app.user.dropzone.label)}}">
                </div>

                <div class="form-group">
                    <label for="type">Type*</label>
                    <select name="type" class="form-control data d-block type needed"
                            onclick="typeChoice($(this), '-new', $('#typeContentNew'))"
                            onchange="toggleRequiredChampsLibres($(this),'create')">
                        <option value="">Type à choisir...</option>
                        {% for type in typeChampsLibres %}
                            <option value="{{ type.typeId }}">{{ type.typeLabel }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- CHAMPS LIBRES -->
                <div class="form-group col-12 blocVisible d-block" id='typeContentNew'>
                    {% for type in typeChampsLibres %}
                        <div class="d-none row" id="{{ type.typeId }}-new">
                            {% include 'champ_libre/freeFieldsVizualisation.html.twig' with {
                                freeFields: type.champsLibres,
                                freeFieldValues: [],
                                colType: 'col-12',
                                requiredType: 'requiredCreate',
                                actionType: 'new'
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="commentaire">Commentaire</label>
                    <input id='commentaire' class="commentaire form-control data" name="commentaire" type="hidden">
                    <div class="editor-container" id="editor-container-new">
                    </div>
                </div>
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewDemande" type="button"
                        class="btn btn-success" onclick="setCommentaire('#editor-container-new')">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
