<div class="form-group">
    <label for="utilisateur">Demandeur</label>
    <select disabled class="form-control select2 data" name="demandeur">
        <option selected value="{{demande.utilisateur.id}}">{{ demande.utilisateur.username }}</option>
    </select>
</div>

<div class="form-group w-100">
    <label for="destination">Destination</label>
    <select name="destination" class="form-control ajax-autocompleteEmplacement-edit data ">
        {% if demande.destination is defined and demande.destination != null %}
            <option value="{{demande.destination.id}}" selected>{{demande.destination.label}}</option>
        {% endif %}
    </select>
</div>

<div class="form-group">
    <label for="typeEdit">Type</label>
    <select class="form-control data" name="type" id="typeEdit"
            disabled class="form-control data d-block" disabled>
        {% set selected = demande.type is null ? 'selected' : '' %}
        <option {{ selected }} value=''> </option>

        {% for type in typeChampsLibres %}
            {% set selected = '' %}
            {% if demande.type is not null %}{% set selected = demande.type.id == type.typeId ? 'selected' : '' %}{% endif %}
            <option {{ selected }} value="{{type.typeId}}">{{type.typeLabel}}</option>
        {% endfor %}
    </select>
</div>

<!-- CHAMPS LIBRES -->
<div class="row mt-4">
    <div class="form-group col-12 blocVisible d-block" id='typeContentEdit'>
        <div class="row">
            {% include 'champ_libre/freeFieldsViewing.html.twig' with {
                freeFields: freeFieldsGroupedByTypes[demande.type.id] is defined ? freeFieldsGroupedByTypes[demande.type.id] : [],
                freeFieldValues: demande.freeFields,
                colType: 'col-12',
                requiredType: 'requiredEdit',
                actionType: 'edit'
            } %}
        </div>
    </div>
</div>

<div class="form-group">
    <label for="commentaire" >Commentaire</label>
    <input id="commentaire" class="form-control data" name="commentaire" type="hidden" value="{{demande.commentaire}}" >
    <div class="editor-container-edit" value="{{demande.commentaire}}"> {{demande.commentaire|raw}}
    </div>
</div>
