<!-- Modal -->
<form method="" class="modal fade" id="modifModalCenter" data-id="{{ demande.id }}" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modifier la demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">

                <div class="mb-3">
                    <label for="demandeur">Demandeur</label>
                    <select class="select2 form-control data" name="demandeur" required="true">
                        <option value="{{ demande.utilisateur.id }}">{{ demande.utilisateur }}</option>
                        {% for demandeur in utilisateurs %}
                            <option value="{{ demandeur.id }}">{{ demandeur.username }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="date-attendu">Date attendue</label>
                    <input type="date" class="form-control data" name="date-attendu" value="{{ demande.DateAttendu | date("d/m/Y") }}" required="true">
                </div>

                <div class="mb-3">
                    <label for="statut">Statut</label>
                    <select class="select2 data" name="statut" name="statut">
                        <option value="32">A traiter</option>
                        <option value="33">En cours</option>
                        <option value="34">Terminée</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="modifsubmitButton" type="button" data-dismiss="modal" class="btn btn-primary btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
