{% extends 'layout.html.twig' %}
{% block title %}Demande{% endblock %}
{% block page_content %}

<div class="zone-entete">
    {% include "demande/enteteDemandeLivraison.html.twig" %}
</div>

<span id="demande-id" data-id="{{ demande.id }}"></span>

<table id="table-lignes" data-id="{{ demande.id }}" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>Référence CEA</th>
            <th>Libellé</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a href="{{ path('demande_index') }}" class='btn btn-action'>Retour à la liste</a>
<button class="btn" id="cannotValidate" data-target='#modalCannotValidate' data-toggle='modal' hidden></button>

{% include 'demande/modalDeleteArticle.html.twig' %}
{% include 'demande/modalDeleteDemande.html.twig' %}
{% include 'demande/modalNewArticle.html.twig' %}
{% include 'demande/modalEditDemande.html.twig' %}
{% include 'demande/modalEditArticle.html.twig' %}
{% include 'demande/modalNegativStock.html.twig' %}
{% include 'demande/modalCannotValidate.html.twig' %}

{% endblock %}

{% block javascript %}
<script>
    const id = {{ demande.id }};
</script>

<script src="{{ asset('js/demande-livraison.js') }}?{{ date().timestamp }}"></script>
{% endblock %}