{% extends 'layout.html.twig' %}

{% block title %}Demande{% endblock %}

{% block page_content %}

<div class="barre-filtre row justify-content-between">
    <div class="col-6">
        <h1 class="">Demande de livraison</h1>
    </div>
    <div class="col-6">
        <a href="" data-toggle="modal" data-target="#modifModalCenter" class="button btn-left">
            Modifier la demande
        </a>
    </div>
</div>

<div class="zone-actions row">
    <div class="col-3">
        <p>Demandeur : {{ demande.utilisateur ? demande.utilisateur : 'null' }}</p>
        <p>Disponibilite des articles : Oui/Non</p>
        <p>Date attendu : {{ demande.DateAttendu ? demande.DateAttendu | date("d/m/Y") : "null" }}</p>
        <p>Destination : {{ demande.destination.nom ? demande.destination.nom : "null" }}</p>
    </div>

    <div class="col-3">
        <p>Date demande : {{ demande.date | date("d/m/Y") }}</p>
        <p>Reference : {{ demande.numero }}</p>
        <a href='{{ path("preparationFromDemande", {"id" : demande.id }) }}'>Aller vers la preparation</a>
    </div>

    <div class="col-2">

    </div>

    <div class="col-4"></div>

    <div class="col-12">
        <div class="row justify-content-between">
            <div></div>
            <a href="" data-toggle="modal" data-target="#ajoutLigneModalCenter" class="button btn-left ml-auto">Ajouter une
                ligne</a>
        </div>
    </div>
</div>

<table id="table_lignes" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>References CEA</th>
            <th>Libelle</th>
            <th>Quantite</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a href={{ path('demande_index') }} class='button pull-left btn-left'>Retour</a>


{% include 'demande/modifModal.html.twig' %}
{% include 'demande/ajoutLigneModal.html.twig' %}

{% endblock %}

{% block javascript %}
<script>
    var table = $('#table_lignes').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
        },
        "processing": true,
        "ajax": {
            "url": "{{ path('LigneArticle_api', {'id' : demande.id}) }}",
            "type": "POST"
        },
        columns: [{
                "data": 'References CEA'
            },
            {
                "data": 'Libelle'
            },
            {
                "data": 'Quantite'
            },
            {
                "data": 'Actions'
            },
        ],
    });

    var dataModal1 = document.getElementById("modifModalCenter");
    var ButtonSubmit1 = document.getElementById("modifsubmitButton");
    InitialiserModal(dataModal1, ButtonSubmit1, "{{ path('modifDemande', { 'id' : demande.id}) }}");

    var dataModal2 = document.getElementById("ajoutLigneModalCenter");
    var ButtonSubmit2 = document.getElementById("ajoutsubmitButton");
    InitialiserModal(dataModal2, ButtonSubmit2, "{{ path('ajoutArticle', { 'id' : demande.id }) }}");
</script>
{% endblock %}