{% extends 'layout.html.twig' %}

{% block title %}Demande{% endblock %}

{% block page_content %}

<h1 class="">Demande de livraison</h1>

<div class="zone-actions row">
    <div class="col-3">
        <p>Demandeur : {{ demande.utilisateur ? demande.utilisateur : '' }}</p>
        <p>Statut: {{demande.statut.nom}}</p>
        <p>Destination : {{ demande.destination ? demande.destination.label : "" }}</p>
    </div>

    <div class="col-3">
        <p>Date demande : {{ demande.date | date("d/m/Y") }}</p>
        <p>Référence : {{ demande.numero }}</p>
    </div>

    <div class="col-3">

    </div>

    <div class="col-3">
        {% if modifiable %}
            <div class="row justify-content-between">
                <a href="" data-id='{{ demande.id }}' data-target='#modalEditDemande' data-toggle='modal'
                    onclick="editRow($(this), Routing.generate('demande_edit_api', true), $('#modalEditDemande'), $('#submitEditDemande'))"
                    class="btn btn-primary ml-auto">
                    Modifier</a>
            </div>
            <div class="row justify-content-between">
                <a href="{{path('fin_demande', {'id': demande.id})}}" class="btn btn-success ml-auto">
                    Valider</a>
            </div>
            <div class="row justify-content-between">
                <a href="" data-toggle="modal" data-target="#modalNewArticle" class="btn btn-primary ml-auto">
                    Ajouter une ligne</a>
            </div>
        {% else %}
        <a href="{{path('preparation_show', {'id': demande.preparation.id }) }}">
            Aller vers la préparation
        </a>
        {% endif %}
    </div>
</div>
<span id="demande-id" data-id="{{ demande.id }}"></span>
<table id="table-lignes" data-id="{{ demande.id }}" class="table table-striped table-bordered w-100">
    <thead>
        <tr>
            <th>Référence CEA</th>
            <th>Libellé</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a href="{{ path('demande_index') }}" class='btn'>Retour</a>


{% include 'demande/modalDeleteArticle.html.twig' %}
{% include 'demande/modalNewArticle.html.twig' %}
{% include 'demande/modalEditDemande.html.twig' %}
{% include 'demande/modalEditArticle.html.twig' %}

{% endblock %}

{% block javascript %}
<script>
    const id = {{ demande.id }}
</script>

<script src="{{ asset('js/demande-livraison.js') }}"></script>
{% endblock %}