{% extends 'layout.html.twig' %}

{% block title %}Demande | Livraison | Détails{% endblock %}

{% block page_content %}
    <button class="btn" id="negativStock" data-target='#modalNegativStock' data-toggle='modal' hidden></button>
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete wii-page-card">
                    {% include "demande/enteteDemandeLivraison.html.twig" %}
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-around">
            <div class="col-12">
                <div class="wii-page-card">
                    <div class="d-flex row justify-content-end wii-page-card-header">
                        <div class="btn-group col-auto" id="boutonCollecteInf">
                            {% if modifiable %}
                                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) %}
                                    <button type="button" data-toggle="modal" data-target="#modalNewArticle"
                                            onclick="clearModal('#modalNewArticle')"
                                            class="btn btn-primary split-button btn-ripple">
                                        <span class="fa fa-plus mr-2"></span>Ajouter article
                                    </button>
                                    <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu mr-5 pointer">
                                        <a href="{{ path('reference_article_index') }}" data-toggle="modal"
                                           class="dropdown-item" title="référence">
                                            <i class="fa fa-search mr-2"></i>
                                            Chercher une Chercher une {{ 'reference.référence'|trans }}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <input id="demande-id" type="hidden" value="{{ demande.id }}"/>

                    <table id="table-lignes" data-id="{{ demande.id }}" class="table w-100">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="btn" id="cannotValidate" data-target='#modalCannotValidate' data-toggle='modal' hidden></button>

    {% include 'demande/modalDeleteArticle.html.twig' %}
    {% include 'demande/modalDeleteDemande.html.twig' %}
    {% include 'demande/modalNewArticle.html.twig' %}
    {% include 'demande/modalEditDemande.html.twig' %}
    {% include 'demande/modalEditArticle.html.twig' %}
    {% include 'demande/modalNegativStock.html.twig' %}
    {% include 'demande/modalCannotValidate.html.twig' %}
    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/demande-livraison.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
