<div class="form-group">
    <label class="wii-field-name">Nom</label>
    <input class="form-control data needed is-barcode" type="text" value='{{ location.label }}' name="Label" id="Label">
</div>

<div class="form-group">
    <label class="wii-field-name">Description*</label>
    <input class="form-control data needed" type="text" value='{{ location.description }}' name="Description"
           id="Description">
</div>
<div class="form-group">
    <label class="wii-field-name">Délais traça HH:MM</label>
    <input class="form-control data" type="text" value='{{ location.dateMaxTime }}' name="dateMaxTime"
           id="dateMaxTime">
</div>

<div class="form-group">
    <label class="wii-field-name">Natures autorisées</label>
    <select name="allowed-natures" class="form-control data select2 w-100" multiple>
        {% for nature in natures %}
            {% set selected = (nature in location.allowedNatures ? 'selected') %}
            <option value="{{ nature.id }}" {{ selected }}>{{ nature.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label class="wii-field-name">Températures autorisées</label>
    <select name="allowedTemperatures" class="form-control data select2 w-100" multiple>
        {% for temperature in temperatures %}
            {% set selected = (temperature in location.temperatureRanges ? 'selected') %}
            <option value="{{ temperature.id }}" {{ selected }}>{{ temperature.value }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label class="wii-field-name">Types de livraisons autorisés</label>
    <select name="allowedDeliveryTypes" class="form-control data select2 w-100" multiple>
        {% for type in deliveryTypes %}
            <option value="{{ type.id }}" {{ type in location.allowedDeliveryTypes ? 'selected' }}>{{ type.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label class="wii-field-name">Types de collectes autorisés</label>
    <select name="allowedCollectTypes" class="form-control data select2 w-100" multiple>
        {% for type in collectTypes %}
            <option value="{{ type.id }}" {{ type in location.allowedCollectTypes ? 'selected' }}>{{ type.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label class="wii-field-text">Point de livraison ?</label>
    <label class="switch ml-2">
        <input class="checkbox data needed" type="checkbox" {{ location.isDeliveryPoint ? 'checked' }} name="isDeliveryPoint">
        <span class="slider round"></span>
    </label>
</div>

<div class="form-group d-flex align-content-center">
    <label class="wii-field-text">Encours visible nomade ?</label>
    <label class="switch ml-2">
        <input class="checkbox data needed" type="checkbox" {{ location.isOngoingVisibleOnMobile ? 'checked' }} name="isOngoingVisibleOnMobile">
        <span class="slider round"></span>
    </label>
</div>

<div class="form-group d-flex align-content-center">
    <label class="wii-field-text">Actif ?</label>
    <label class="switch ml-2">
        {% set isActiveChecked = location.isActive ? 'checked' : '' %}
        <input class="checkbox data needed" type="checkbox" {{ isActiveChecked }} name="isActive">
        <span class="slider round"></span>
    </label>
</div>

<div class="form-group">
    <label class="wii-field-name">Signataire</label>
    <select class="form-control data" name="signatories" data-s2="user" multiple>
        {% for signatory in location.signatories %}
            <option selected value="{{ signatory.id }}">{{ signatory.username }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label class="wii-field-name">Email</label>
    <input class="form-control data" type="text" value='{{ location.email }}' name="email" id="mail">
</div>
