{% extends 'layout.html.twig' %}

{% block title %}Emplacement{% endblock %}

{% block page_content %}
    <h1>Emplacement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emplacement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ emplacement.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ emplacement.description }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('emplacement_index') }}" class='button pull-left btn-left'>retour</a>
    {{ include('emplacement/_delete_form.html.twig') }}
    <a href="{{ path('emplacement_edit', {'id': emplacement.id}) }}" class='button pull-right btn-left'>Modifier</a>
    
   
{% endblock %}
