{% extends 'layout.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block page_content %}
    <h1>Articles</h1>

    <a href={{path('articles_index', {'statut': ' demande de mise en stock', 'id': '0'})}}  class="btn pull-right button btn-right">Mise en stock</a>
    <a href={{path('articles_index', {'statut': 'en cours de reception', 'id': '0'})}}  class="btn pull-left button btn-right">En cours de reception</a>
    <a href={{path('articles_index', {'statut': 'en stock',  'id': '0'})}}  class="btn pull-left button btn-right">En stock</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Statut</th>
                <th>position</th>
                <th>direction</th>
                <th>actions</th>
                <th>Quantite</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for article in articles |reverse %}
            <tr {% if i % 2 == 1 %}
                    class="backtablejv"
                {% endif %}>
                {% set i = i + 1 %}
                <td>{{ article.nom }}</td>
                <td>{{ article.statu }}</td>
                <td>{{ article.position }}</td>
                <td>{{ article.direction }}</td>
                <td>{{ article.quantite }}</td>
                <td>
                    <a href="{{ path('articles_show', {'id': article.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>
                    <a href="{{ path('articles_edit', {'id': article.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                    {% if article.statu == ' demande de mise en stock' %}
                        <a href={{path('articles_index', {'statut': 'mis en stock',  'id': article.id})}} class="btn btn-xs btn-default command-edit backgreen"><i class="fas fa-check fa-2x"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('articles_new') }}">Create new</a>#}
{% endblock %}
