{% extends 'layout.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block page_content %}
<form action="">
    <div class='form-row align-items-center'>
        <div class="col-2">
            <div class="input-group my-2 mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">recherche</div>
                </div>
                <input type="text" class="col-6" id="recherche" onkeyup="showHint(this.value)">
            </div>
        </div>
        <div class="col-2">
            <div class="input-group mb-2">
                <select class="custom-selec my-1 mr-sm-2" name="statuts" id='status' onclick="filtreStatut(this.value)">
                    <option value="Non selectionné">Non selectionné</option>
                    {% for statut in statuts %}
                    <option value="{{ statut.id }}">{{ statut.nom }}</options>
                        {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn pull-right button btn-right">
            Rechercher
        </button>
    </div>
</form>

<h1>Articles</h1>
<table id='table' class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Statut</th>
            <th>Conformité</th>
            <th>Reférences Articles</th>
            <th>position</th>
            <th>destination</th>
            <th>Quantite</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody id='content'>
        {% for article in articles | reverse %}
        <tr>
            <td>{{ article.nom }}</td>
            <td>{{ article.statut.nom }}</td>
            <td>{{ article.etat ? 'oui' : article.commentaire }}</td>
            <td>{{ article.refArticle.libelle }}</td>
            <td>{{ article.position }}</td>
            <td>{{ article.direction }}</td>
            <td>{{ article.quantite }}</td>
            <td>
                <form method="POST">
                    <a href="{{ path('articles_show', {'id': article.id}) }}" class="btn btn-xs btn-default command-edit"><i
                            class="fas fa-eye fa-2x"></i></a>
                    <a href="{{ path('articles_edit', {'id': article.id}) }}" class="btn btn-xs btn-default command-edit"><i
                            class="fas fa-pencil-alt fa-2x"></i></a>
                    {% if article.statut.id == 2 %}
                    <button type="submit" class="btn btn-xs btn-default command-edit backgreen" name="miseEnStock"
                        value="{{ article.id }}">
                        <i class="fas fa-check fa-2x"></i>
                    </button>
                    {% elseif article.statut.id == 13 %}
                    {# <button type="submit" class="btn btn-xs btn-default command-edit backgreen" name="demandeSortie"
                        value="{{ article.id }}">
                        <i class="fas fa-check fa-2x"></i>
                    </button> #}
                    {% endif %}
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">aucun résultat</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(articles) }}
{% endblock  %}
{% block javascript %}
    
<script>

//FILTRE

    function showHint(str) {
        if (str.length > 0) {
            var xmlhttp = new XMLHttpRequest()
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    traitementDataArticle(this.responseText)
                }
            }
            var myJSON = JSON.stringify(str)
            xmlhttp.open("POST", "{{path('articles_filtre_json')}}", true)
            xmlhttp.send(myJSON)
        }
    }

    function filtreStatut(value) {
        if (value.length > 0) {
            var xmlhttp = new XMLHttpRequest()
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(JSON.parse(JSON.parse(this.responseText)))
                    traitementDataArticle(this.responseText)
                }
            }
            var myJSON = JSON.stringify(value)
            xmlhttp.open("POST", "{{ path('articles_filtre_statut') }}", true)
            xmlhttp.send(myJSON)
        }
    }

</script>
{% endblock %}