{% extends 'layout.html.twig' %}

{% block title %}Articles{% endblock %}

{% block page_content %}
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th  class="backtablejv">Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td  class="backtablejv">{{ article.nom }}</td>
            </tr>
            <tr>
                <th  class="backtablejv">Statut</th>
                <td>{{ article.statu }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td  class="backtablejv">{{ article.quantite }}</td>
            </tr>
            <tr>
                <th  class="backtablejv">Article de référence</th>
                <td>{{ article.refArticle.reference }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td  class="backtablejv">{{ article.etat ? "conforme" : "non conforme" }}</td>
            </tr>
            <tr>
                <th  class="backtablejv">Position</th>
                <td>{{ article.position.nom }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td  class="backtablejv">{{ article.direction ? article.direction.nom : " " }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('articles_index', {"statut":'all', "id": 0}) }}"  class='button pull-left btn-left'>Retour à la liste</a>

    <a href="{{ path('articles_edit', {'id': article.id}) }}" class='button pull-right btn-left'>Modifier</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
