{% extends 'layout.html.twig' %}

{% block title %}Nouveau parc{% endblock %}

{% form_theme form _self %}

{% block date_widget %}
    <div class="has-feedback">
        {{ block('form_widget_simple') }}
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
{% endblock date_widget %}

{% block page_content %}

    <div class="row page-title">
        NOUVEAU PARC
    </div>
    <div class="parc-content col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset class="well list-box">
            <legend class="well-legend">Données générales</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.modele) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.filiale) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.site) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.categorieVehicule) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.sousCategorieVehicule) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.marque) }}
                </div>
            </div>
            {{ form_row(form.commentaire, {'required': false}) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.sortie, {'required': false}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.motif, {'required': false}) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Acquisition</legend>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.fournisseur) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.mode_acquisition) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.incorporation) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.mise_en_service) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Numéro de parc</legend>
            <div class="form-inline">
                {{ form_widget(form.n_parc, {'required': false}) }}
                <a class="btn btn-primary" id="generator">
                    <span class="fa fa-refresh"></span>
                </a>
            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Carte grise</legend>
            <div class="row form-flex">

                {{ form_row(form.poids) }}

                {{ form_row(form.mise_en_circulation) }}

                <a>
                    <input id="f02" type="file" placeholder="Importer"/>
                    <label for="f02">
                        <span class="fa fa-cloud-upload"></span>
                        &nbsp;Importer
                    </label>
                </a>
                <a class="btn btn-default disabled">
                    <span class="fa fa-cloud-download"></span>
                    Télécharger
                </a>

            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Données supplémentaire</legend>
            <h5>Chariot</h5>
            {{ form_row(form.chariots.n_serie, {'required': false}) }}
            {{ form_row(form.chariots.proprietaire, {'required': false}) }}

            <h1 class="text-center">Ou</h1>

            <h5>Véhicule</h5>
            {{ form_row(form.vehicules.immatriculation, {'required': false}) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.vehicules.genre, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.vehicules.ptac, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.vehicules.ptr, {'required': false}) }}
                </div>
            </div>
            {{ form_row(form.vehicules.puissance_fiscale, {'required': false}) }}
        </fieldset>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left pull-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
            <button href="#" class="button btn-left pull-right">
                <span class="fa fa-check"></span>Valider</button>
        </div>
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest' : false}) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("[type=file]").on("change", function () {
            var file = this.files[0].name;
            var dflt = $(this).attr("placeholder");
            if ($(this).val() != "") {
                $(this).next().text(file);
            } else {
                $(this).next().text(dflt);
            }
        });

        $('.datepicker').datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});

        $(".parc-content").on('click', '#generator', function () {
            var s = document.getElementById("parcs_sousCategorieVehicule");
            var s_categorie = s.options[s.selectedIndex].text;
            var m = document.getElementById("parcs_mode_acquisition");
            var m_acquisition = m.options[m.selectedIndex].text;
            $.ajax({
                url: "{{ path( 'parc_number_generator' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "s_categorie": s_categorie,
                    "m_acquisition": m_acquisition
                },
                success: function (resp) {
                    if (resp) {
                        document.getElementById("parcs_n_parc").value = resp;
                    }
                }
            });
        });

        $("#parcs_categorieVehicule").change(function () {
            var c = document.getElementById("parcs_categorieVehicule");
            var categorie = c.options[c.selectedIndex].text;
            $.ajax({
                url: "{{ path( 'parc_categories' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "categorie": categorie
                },
                success: function (resp) {
                    if (resp) {
                        $("#parcs_sousCategorieVehicule").find('option').remove();
                        $.each(resp, function (index, val) {
                            $('#parcs_sousCategorieVehicule').append($('<option>', {
                                value: index,
                                text: val.nom
                            }));
                        });
                    }
                }
            });
        });

        $("#parcs_filiale").change(function () {
            var f = document.getElementById("parcs_filiale");
            var filiale = f.options[f.selectedIndex].text;
            console.log('filiale');
            $.ajax({
                url: "{{ path( 'parc_filiales' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "filiale": filiale
                },
                success: function (resp) {
                    if (resp) {
                        $("#parcs_site").find('option').remove();
                        $.each(resp, function (index, val) {
                            $('#parcs_site').append($('<option>', {
                                value: index,
                                text: val.nom
                            }));
                        });
                    }
                }
            });
        });

        $(".form-group").change(function () {
            console.log('change');
            {
                # $.ajax({
                    url: "{{ path( 'parc_filiales' ) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "filiale": filiale
                    },
                    success: function (resp) {
                        if (resp) {
                            $("#parcs_site").find('option').remove();
                            $.each(resp, function (index, val) {
                                $('#parcs_site').append($('<option>', {
                                    value: index,
                                    text: val.nom
                                }));
                            });
                        }
                    }
                });
                #
            }
        });
    </script>
{% endblock %}