{% extends 'layout.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% block date_widget %}
    <div class="has-feedback">
        {{ block('form_widget_simple') }}
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
{% endblock date_widget %}

{% block page_content %}

    <div class="row page-title">
        NOUVEAU VEHICULE
    </div>
    <div class="parc-content col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset class="well list-box">
            <legend class="well-legend">Données générales</legend>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.filiale) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.site) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.categorieVehicule) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.sousCategorieVehicule) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.marque) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.modele) }}
                </div>
            </div>
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.poids) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.mise_en_circulation) }}
                </div>
            </div>
            {{ form_row(form.commentaire, {'required': false}) }}
        </fieldset>

        <div class="row">
            <div class="col-md-12 parc-flex">
                <fieldset class="well list-box col-md-5" id="vehicule">
                    <div class="mask"></div>
                    <legend class="well-legend">Véhicule</legend>
                    {{ form_row(form.immatriculation, {'required': false}) }}
                    <label class="control-label" for="carte_grise">Carte grise</label>
                    <div class="row form-group" id="carte_grise">
                        <div class="col-md-4">
                            <a>
                                <input id="f02" type="file" placeholder="Importer"/>
                                <label for="f02">
                                    <span class="fa fa-cloud-upload"></span>
                                    &nbsp;Importer
                                </label>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.genre, {'required': false}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.ptac, {'required': false}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.ptr, {'required': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.puissance_fiscale, {'required': false}) }}
                </fieldset>
                <div class="col-md-2">
                    <div class="hr">
                        <div class="separator-v">
                            <div class="separator-v-text">
                                OU
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="well list-box col-md-5" id="chariot">
                    <div class="mask"></div>
                    <legend class="well-legend">Chariot</legend>
                    {{ form_row(form.n_serie, {'required': false}) }}
                </fieldset>
            </div>
        </div>

        <fieldset class="row well list-box">
            <legend class="well-legend">Acquisition</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.fournisseur) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mode_acquisition) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mise_en_service) }}
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ path ('parc_list') }}" class="button btn-left pull-left">
                    <span class="fa fa-angle-double-left"></span>Retour</a>
                {{ form_row(form.validation, {"attr": {"class" : "button btn-left pull-right", "disabled": "disabled"}}) }}

            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest' : false}) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("[type=file]").on("change", function () {
            var file = this.files[0].name;
            var dflt = $(this).attr("placeholder");
            if ($(this).val() != "") {
                $(this).next().text(file);
            } else {
                $(this).next().text(dflt);
            }
        });

        $('.datepicker').datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});

        var filiales = {{ sites|json_encode|raw }};
        var categories = {{ sousCategories|json_encode|raw }};

        update_sousCategorie();
        $('#parcs_categorieVehicule').change(function () {
            update_sousCategorie();
        });

        update_site();
        $('#parcs_filiale').change(function () {
            update_site();
        });

        function update_sousCategorie() {
            $("#parcs_sousCategorieVehicule").find('option').remove();
            $.each(categories, function (categorie) {
                if (categorie === $('#parcs_categorieVehicule option:selected').text()) {
                    $.each(categories[categorie], function (index, val) {
                        $('#parcs_sousCategorieVehicule').append(new Option(val.nom, val.id,));
                    });
                }
            });
        }

        function update_site() {
            $("#parcs_site").find('option').remove();
            $.each(filiales, function (site) {
                if (site === $('#parcs_filiale option:selected').text()) {
                    $.each(filiales[site], function (index, val) {
                        $('#parcs_site').append(new Option(val.nom, val.id,));
                    });
                }
            });
        }

        $("#parcs_validation").attr("data-toggle", "tooltip");
        $("#parcs_validation").attr("title", "Vous devez saisir un numéro d'immatriculation ou un numéro de série non existant pour pouvoir enregistrer le nouveau véhicule");

        // Immatriculation_error
        $("#parcs_immatriculation").change(function () {
            $(this).parent().find('input, select').removeClass('is-invalid');
            $(this).parent().find(".invalid-feedback").remove();
            var immatriculation = $(this).val();
            if ($("#vehicule").find('input').val()) {
                $("#chariot .mask").css({"opacity": ".7", "z-index": "50"});
                $("#chariot").find('input, select, a').prop('disabled', true);
            } else {
                $("#chariot").find('input, select, a').prop('disabled', false);
                $("#chariot .mask").css({"opacity": "0", "z-index": "0"});
                $("#parcs_validation").attr("data-toggle", "tooltip");
                $("#parcs_validation").attr("title", "Vous devez saisir un numéro d'immatriculation ou un numéro de série non existant pour pouvoir enregistrer le nouveau véhicule");
            }
            $.ajax({
                url: "{{ path( 'parc_immatriculation_error' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "immatriculation": immatriculation
                },
                success: function (resp) {
                    if (resp) {
                        var msg = '<span class="invalid-feedback d-block"><span class="mb-0 d-block"><span class="initialism form-error-icon badge badge-danger">Erreur</span><span class="form-error-message">Ce numéro d\'immatriculation est déjà attribué.</span></span></span>';
                        $("#parcs_immatriculation").addClass('is-invalid').after(msg);
                        document.getElementById("parcs_validation").disabled = true;
                        $("#parcs_validation").attr("data-toggle", "tooltip");
                        $("#parcs_validation").attr("title", "Vous devez saisir un numéro d'immatriculation ou un numéro de série non existant pour pouvoir enregistrer le nouveau véhicule");
                    } else {
                        document.getElementById("parcs_validation").disabled = false;
                        $("#parcs_validation").removeAttr("data-toggle");
                        $("#parcs_validation").removeAttr("title");
                    }
                }
            });
        });

        // Serie_error
        $("#parcs_n_serie").change(function () {
            $(this).parent().find('input, select').removeClass('is-invalid');
            $(this).parent().find(".invalid-feedback").remove();
            var serie = $(this).val();
            if ($("#chariot").find('input').val()) {
                $("#vehicule .mask").css({"opacity": ".7", "z-index": "50"});
                $("#vehicule").find('input, select, a').prop('disabled', true);
            } else {
                $("#vehicule").find('input, select, a').prop('disabled', false);
                $("#vehicule .mask").css({"opacity": "0", "z-index": "0"});
                $("#parcs_validation").attr("data-toggle", "tooltip");
                $("#parcs_validation").attr("title", "Vous devez saisir un numéro d'immatriculation ou un numéro de série non existant pour pouvoir enregistrer le nouveau véhicule");
            }
            $.ajax({
                url: "{{ path( 'parc_serie_error' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "serie": serie
                },
                success: function (resp) {
                    if (resp) {
                        var msg = '<span class="invalid-feedback d-block"><span class="mb-0 d-block"><span class="initialism form-error-icon badge badge-danger">Erreur</span><span class="form-error-message">Ce numéro de série est déjà attribué.</span></span></span>';
                        $("#parcs_n_serie").addClass('is-invalid').after(msg);
                        document.getElementById("parcs_validation").disabled = true;
                        $("#parcs_validation").attr("data-toggle", "tooltip");
                        $("#parcs_validation").attr("title", "Vous devez saisir un numéro d'immatriculation ou un numéro de série non existant pour pouvoir enregistrer le nouveau véhicule");
                    } else {
                        document.getElementById("parcs_validation").disabled = false;
                        $("#parcs_validation").removeAttr("data-toggle");
                        $("#parcs_validation").removeAttr("title");
                    }
                }
            });
        });
    </script>
{% endblock %}