{% extends 'layout.html.twig' %}

{% block title %}Nouveau parc{% endblock %}

{% block date_widget %}
    <div class="has-feedback">
        {{ block('form_widget_simple') }}
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
{% endblock date_widget %}

{% block page_content %}

    <div class="row page-title">
        NOUVEAU PARC
    </div>
    <div class="parc-content col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset class="well list-box">
            <legend class="well-legend">Données générales</legend>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.filiale) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.site) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.categorieVehicule) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.sousCategorieVehicule) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.marque) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.modele) }}
                </div>
            </div>
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.poids) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.mise_en_circulation) }}
                </div>
            </div>
            {{ form_row(form.commentaire, {'required': false}) }}
        </fieldset>

        <div class="row">
            <fieldset class="well list-box col-md-6">
                <legend class="well-legend">Véhicule</legend>
                {{ form_row(form.immatriculation, {'required': false}) }}
                <label class="control-label" for="carte_grise">Carte grise</label>
                <div class="row form-flex" id="carte_grise">
                    <a>
                        <input id="f02" type="file" placeholder="Importer"/>
                        <label for="f02">
                            <span class="fa fa-cloud-upload"></span>
                            &nbsp;Importer
                        </label>
                    </a>
                    <a class="btn btn-default disabled">
                        <span class="fa fa-cloud-download"></span>
                        Télécharger
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.genre, {'required': false}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.ptac, {'required': false}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.ptr, {'required': false}) }}
                    </div>
                </div>
                {{ form_row(form.puissance_fiscale, {'required': false}) }}
            </fieldset>

            <fieldset class="well list-box col-md-6">
                <legend class="well-legend">Chariot</legend>
                {{ form_row(form.n_serie, {'required': false}) }}
            </fieldset>
        </div>

        <fieldset class="well list-box">
            <legend class="well-legend">Acquisition</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.fournisseur) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mode_acquisition) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mise_en_service) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="well list-box">
            <legend class="well-legend">Sortie</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.sortie, {'required': false}) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(form.motif, {'required': false}) }}
                </div>
            </div>
            {{ form_row(form.commentaire_sortie, {'required': false}) }}
        </fieldset>

        <div class="row">
            <div class="col-md-12">
                <a href="#" class="button btn-left pull-left">
                    <span class="fa fa-angle-double-left"></span>Retour</a>
                {{ form_row(form.validation, {"attr": {"class" : "button btn-left pull-right"}}) }}

            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest' : false}) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("[type=file]").on("change", function () {
            var file = this.files[0].name;
            var dflt = $(this).attr("placeholder");
            if ($(this).val() != "") {
                $(this).next().text(file);
            } else {
                $(this).next().text(dflt);
            }
        });

        $('.datepicker').datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});

        $("#parcs_categorieVehicule").change(function () {
            var c = document.getElementById("parcs_categorieVehicule");
            var categorie = c.options[c.selectedIndex].text;
            $.ajax({
                url: "{{ path( 'parc_categories' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "categorie": categorie
                },
                success: function (resp) {
                    if (resp) {
                        $("#parcs_sousCategorieVehicule").find('option').remove();
                        $.each(resp, function (index, val) {
                            $('#parcs_sousCategorieVehicule').append($('<option>', {
                                value: index,
                                text: val.nom
                            }));
                        });
                    }
                }
            });
        });

        $("#parcs_filiale").change(function () {
            var f = document.getElementById("parcs_filiale");
            var filiale = f.options[f.selectedIndex].text;
            console.log('filiale');
            $.ajax({
                url: "{{ path( 'parc_filiales' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "filiale": filiale
                },
                success: function (resp) {
                    if (resp) {
                        $("#parcs_site").find('option').remove();
                        $.each(resp, function (index, val) {
                            $('#parcs_site').append($('<option>', {
                                value: index,
                                text: val.nom
                            }));
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}