{% extends 'layout.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% form_theme form _self %}

{% block date_widget %}
    <div class="has-feedback">
        {{ block('form_widget_simple') }}
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
{% endblock date_widget %}

{% block _parcs_img_widget %}
    <div class="row form-group" id="carte_grise">
        <div class="col-md-6">
            <a id="upload">
                <input id="file" type="file" {{ block('widget_attributes') }} placeholder="Importer"></input>
                <label id="file_name" for="file">
                    <span class="fa fa-cloud-upload"></span>
                    &nbsp;Importer
                </label>
            </a>
        </div>
    </div>
{% endblock %}

{% block _parcs_mise_en_circulation_widget %}
    <div class="has-feedback">
        <label class="control-label required" for="parcs_mise_en_circulation">{{ label }}
        	<a data-tooltip="Date de sortie d'usine ou de fabrication" data-position="top" class="top">
				<i class="fa fa-question-circle-o"></i>
            </a>
        </label>
        {{ block('form_widget_simple') }}
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
{% endblock %}

{% block page_content %}

    <div class="row page-title">
        NOUVEAU VEHICULE
    </div>
    <div class="parc-content col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset class="well list-box">
            <legend class="well-legend">Données générales</legend>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.filiale) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.site) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.categorieVehicule) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.sousCategorieVehicule) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.marque) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.modele) }}
                </div>
            </div>
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.poids) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.mise_en_circulation) }}
                </div>
            </div>
            {{ form_row(form.commentaire, {'required': false}) }}
        </fieldset>

        <div class="row">
            <div class="col-md-12 parc-flex">
                <fieldset class="well list-box col-md-5" id="vehicule">
                    <div class="mask"></div>
                    <legend class="well-legend">Véhicule</legend>
                    {{ form_row(form.immatriculation, {'required': false}) }}
                    {{ form_row(form.img, {'required': false}) }}
                    <div class="progress">
                        <div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            <span id="progress-value"></span>
                        </div>
                    </div>
                    <p id="upload-complete"></p>
                    <p id="errors"></p>
                    {{ form_widget(form.url, {'required': false}) }}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.genre, {'required': false}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.ptac, {'required': false}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.ptr, {'required': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.puissance_fiscale, {'required': false}) }}
                </fieldset>
                <div class="col-md-2">
                    <div class="hr">
                        <div class="separator-v">
                            <div class="separator-v-text">
                                OU
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="well list-box col-md-5" id="chariot">
                    <div class="mask"></div>
                    <legend class="well-legend">Chariot</legend>
                    {{ form_row(form.n_serie, {'required': false}) }}
                </fieldset>
            </div>
        </div>

        <fieldset class="row well list-box">
            <legend class="well-legend">Acquisition</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.fournisseur) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mode_acquisition) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mise_en_service) }}
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ path ('parc_list') }}" class="button btn-left pull-left">
                    <span class="fa fa-angle-double-left"></span>Retour</a>
                {{ form_row(form.validation, {"attr": {"class" : "button btn-left pull-right", "disabled": "disabled"}}) }}

            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest' : false}) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        /* Ajax upload image
        ================= */
        $('#upload').change('click', function () {
            var formData = new FormData();
            var file = document.getElementById("file").files[0];
            formData.append("file", file);

            if (file && (file.size / 1024 / 1024) < 10) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{{ path( 'parc_upload' ) }}", true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                onUploadInit();
                xhr.upload.addEventListener("load", onUploadComplete, false);
                xhr.upload.addEventListener("progress", onUploadProgress, false);
                xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            console.log(xhr.response);
                            document.getElementById("parcs_url").value = xhr.response;
                        }
                    }
                };
                xhr.send(formData);
            } else {
                if (!file) {
                    document.getElementById('progress-value').textContent = 'Erreur';
                } else {
                    document.getElementById('progress-value').textContent = 'Taille de fichier maximale: 10MB';
                }
                document.getElementById("progress-bar").classList.remove("progress-bar-striped")
                document.getElementById("progress-bar").style.backgroundColor = '#CC0000';
                document.getElementById("progress-bar").style.width = '100%';
            }
        });

        function onUploadInit() {
            document.getElementById("progress-bar").style.backgroundColor = '#130078';
            document.getElementById('progress-value').textContent = '';
            document.getElementById("progress-bar").style.width = '0%';
            document.getElementById("progress-bar").classList.add("progress-bar-striped");
            disableEnregistrer()
        }

        function onUploadComplete(event) {
            document.getElementById('progress-value').textContent = "Terminé";
            document.getElementById("progress-bar").classList.remove("progress-bar-striped");
            enableEnregistrer()
        }

        function onUploadProgress(event) {
            if (event.lengthComputable) {
                var percentComplete = event.loaded / event.total;
                document.getElementById('progress-value').textContent = parseFloat(percentComplete * 100).toFixed(2) + '%';
                document.getElementById("progress-bar").style.width = parseFloat(percentComplete * 100).toFixed(2) + '%';
            }
        }

        $("[type=file]").on("change", function () {
            if (this.files[0]) {
                var file = this.files[0].name;
                var dflt = $(this).attr("placeholder");
                if ($(this).val() != "") {
                    $(this).next().text(file);
                } else {
                    $(this).next().text(dflt);
                }
            }
        });

        /* Datepicker
        ================= */
        $('.datepicker').datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});

        /* Sites / Sous-categories
        ================= */
        var filiales = {{ sites|json_encode|raw }};
        var categories = {{ sousCategories|json_encode|raw }};

        updateSousCategorie();
        $('#parcs_categorieVehicule').change(function () {
            updateSousCategorie();
        });

        updateSite();
        $('#parcs_filiale').change(function () {
            updateSite();
        });

        function updateSousCategorie() {
            $("#parcs_sousCategorieVehicule").find('option').remove();
            $.each(categories, function (categorie) {
                if (categorie === $('#parcs_categorieVehicule option:selected').text()) {
                    $.each(categories[categorie], function (index, val) {
                        $('#parcs_sousCategorieVehicule').append(new Option(val.nom, val.id,));
                    });
                    $('#parcs_sousCategorieVehicule').attr("placeholder", "").val("").focus().blur();
                }
            });
        }

        function updateSite() {
            $("#parcs_site").find('option').remove();
            $.each(filiales, function (site) {
                if (site === $('#parcs_filiale option:selected').text()) {
                    $.each(filiales[site], function (index, val) {
                        $('#parcs_site').append(new Option(val.nom, val.id,));
                    });
                    $('#parcs_site').attr("placeholder", "").val("").focus().blur();
                }
            });
        }

        function disableEnregistrer() {
            document.getElementById("parcs_validation").disabled = true;
            $("#parcs_validation").attr("data-toggle", "tooltip");
            $("#parcs_validation").attr("title", "Vous devez saisir un numéro d'immatriculation ou un numéro de série non existant pour pouvoir enregistrer le nouveau véhicule");
        }

        function enableEnregistrer() {
            if ( $('#parcs_immatriculation').val() || $('#parcs_n_serie').val()) {
                document.getElementById("parcs_validation").disabled = false;
                $("#parcs_validation").removeAttr("data-toggle");
                $("#parcs_validation").removeAttr("title");
            }
        }

        $("#parcs_validation").attr("data-toggle", "tooltip");
        $("#parcs_validation").attr("title", "Vous devez saisir un numéro d'immatriculation ou un numéro de série non existant pour pouvoir enregistrer le nouveau véhicule");

        /* Immatriculation_error
        ================= */
        $("#parcs_immatriculation").change(function () {
            $(this).parent().find('input, select').removeClass('is-invalid');
            $(this).parent().find(".invalid-feedback").remove();
            var immatriculation = $(this).val();
            if ($("#vehicule").find('input').val()) {
                $("#chariot .mask").css({"opacity": ".7", "z-index": "10"});
                $("#chariot").find('input, select, a').prop('disabled', true);
                enableEnregistrer();
            } else {
                $("#chariot").find('input, select, a').prop('disabled', false);
                $("#chariot .mask").css({"opacity": "0", "z-index": "0"});
                disableEnregistrer();
            }
            $.ajax({
                url: "{{ path( 'parc_immatriculation_error' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "immatriculation": immatriculation
                },
                success: function (resp) {
                    if (resp) {
                        var msg = '<span class="invalid-feedback d-block"><span class="mb-0 d-block"><span class="initialism form-error-icon badge badge-danger">Erreur</span><span class="form-error-message">Ce numéro d\'immatriculation est déjà attribué.</span></span></span>';
                        $("#parcs_immatriculation").addClass('is-invalid').after(msg);
                        disableEnregistrer();

                    } else {
                        if (immatriculation) {
                            enableEnregistrer();
                        }
                    }
                }
            });
        });

        /* Serie_error
        ================= */
        $("#parcs_n_serie").change(function () {
            $(this).parent().find('input, select').removeClass('is-invalid');
            $(this).parent().find(".invalid-feedback").remove();
            var serie = $(this).val();
            if ($("#chariot").find('input').val()) {
                $("#vehicule .mask").css({"opacity": ".7", "z-index": "50"});
                $("#vehicule").find('input, select, a').prop('disabled', true);
                enableEnregistrer();
            } else {
                $("#vehicule").find('input, select, a').prop('disabled', false);
                $("#vehicule .mask").css({"opacity": "0", "z-index": "0"});
                disableEnregistrer();
            }
            $.ajax({
                url: "{{ path( 'parc_serie_error' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "serie": serie
                },
                success: function (resp) {
                    if (resp) {
                        var msg = '<span class="invalid-feedback d-block"><span class="mb-0 d-block"><span class="initialism form-error-icon badge badge-danger">Erreur</span><span class="form-error-message">Ce numéro de série est déjà attribué.</span></span></span>';
                        $("#parcs_n_serie").addClass('is-invalid').after(msg);
                        disableEnregistrer();
                    } else {
                        if (serie) {
                            enableEnregistrer();
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}