{% extends 'layout.html.twig' %}

{% block title %}Véhicule{% endblock %}

{% form_theme form _self %}

{% block date_widget %}
    <div class="has-feedback">
        {{ block('form_widget_simple') }}
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
{% endblock date_widget %}

{% block checkbox_widget %}
    <div class="checkbox">
         {# {{ block('form_widget_simple') }} #}
        <input class="inp-cbx" id="cbx" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} style="display: none;"/>
        <label class="cbx" for="cbx">
                <span>
                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                </span>
            <span>Sortie Définitive</span>
        </label>
    </div>
{% endblock checkbox_widget %}

{% block _parcs_img_widget %}
        <div class="col-md-6">
            <a id="upload">
                <input id="file" type="file" {{ block('widget_attributes') }} placeholder="Importer"></input>
                <label id="file_name" for="file">
                    <span class="fa fa-cloud-upload"></span>
                    &nbsp;{% if parc.img %} {{ parc.img }}{% else %} Importer {% endif %}
                </label>
            </a>
        </div>
{% endblock %}

{% block page_content %}

    <div class="title-container">
        <div class="row page-title">
            VEHICULE
            {% if n_parc %}
                n°{{ n_parc }}
            {% endif %}
        <div class="circle pull-right
            {% if parc.statut == "Demande création" %} backviolet 
            {% elseif parc.statut == "Sorti" %} backred 
            {% elseif parc.statut == "Demande sortie/transfert" %} backblue 
            {% else %} backgreen 
            {% endif %}">
        </div>
        </div>
    </div>
    <div class="parc-etat">
        <b>Statut : </b>
        {{ parc.statut }}
    </div>
    <div class="parc-etat">
        <b>Dernière modification : </b>
        {{ parc.lastEdit }}
    </div>


    <div class="parc-content col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset class="well list-box">
            <legend class="well-legend">Données générales</legend>
            <div class="row">
                
            {% if is_granted('ROLE_PARC_ADMIN') or parc.statut == "Demande création" %}
                <div class="col-md-6">
                    {{ form_row(form.filiale) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.site) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.categorieVehicule) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.sousCategorieVehicule) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.marque) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.modele) }}
                </div>
            </div>

            {% else %} {# role_parc #}
                <div class="col-md-6">
                    {{ form_row(form.filiale, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.site, { 'attr':{'disabled':'disabled'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.categorieVehicule, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.sousCategorieVehicule, { 'attr':{'disabled':'disabled'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.marque, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.modele, { 'attr':{'readonly':'readonly'} }) }}
                </div>
            </div>                
            {% endif %}

            <div class="separator"></div>
            <div class="row">
            {% if is_granted('ROLE_PARC_ADMIN') or parc.statut == "Demande création" %}    
                <div class="col-md-6">
                    {{ form_row(form.poids) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.mise_en_circulation) }}
                </div>
            {% else %}
                <div class="col-md-6">
                    {{ form_row(form.poids, { 'attr':{'readonly':'readonly'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.mise_en_circulation, { 'attr':{'disabled':'disabled'} }) }}
                </div>
            {% endif %}
            </div>
            {{ form_row(form.commentaire, {'required': false}) }}
        </fieldset>

        <div class="row">
            <div class="col-md-12 parc-flex">
                <fieldset class="well list-box col-md-5" id="vehicule">
                    <legend class="well-legend">Véhicule</legend>
                    <div class="mask"></div>
                    {{ form_row(form.immatriculation, {'required': false, 'attr': {'autocomplete': 'off'}}) }}
                    <label class="control-label" for="carte_grise">Carte grise</label>
                    <div class="row form-group" id="carte_grise">
                        <div class="col-md-6">
                            <a id="upload">
                                <input id="file" type="file" placeholder="Importer"></input>
                                <label id="file_name" for="file">
                                    <span class="fa fa-cloud-upload"></span>
                                    &nbsp;{% if parc.img %} {{ parc.img }} {% else %} Importer {% endif %}
                                </label>
                            </a>
                        </div>
                        {% if parc.img %}
                        <div class="col-md-6">
                            <a class="btn btn-default" target="_blank" id="dwl" href="{{ asset('uploads/cards/' ~ parc.img) }}">
                                <span class="fa fa-cloud-download"></span>
                                Télécharger
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="progress">
                            <div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <span id="progress-value"></span>
                            </div>
                    </div>
                    <p id="upload-complete"></p>
                    <p id="errors"></p>
                    {{ form_widget(form.url, {'required': false}) }}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.genre, {'required': false}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.ptac, {'required': false}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.ptr, {'required': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.puissance_fiscale, {'required': false}) }}
                </fieldset>
                <div class="col-md-2">
                    <div class="hr">
                        <div class="separator-v">
                            <div class="separator-v-text">
                                OU
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="well list-box col-md-5" id="chariot">
                    <legend class="well-legend">Chariot</legend>
                    <div class="mask"></div>
                    {{ form_row(form.n_serie, {'required': false, 'attr': {'autocomplete': 'off'}}) }}
                </fieldset>
            </div>
        </div>

        <fieldset class="row well list-box">
            <legend class="well-legend">Acquisition</legend>
            <div class="row">
            {% if is_granted('ROLE_PARC_ADMIN') or parc.statut == "Demande création" %}    
                <div class="col-md-4">
                    {{ form_row(form.fournisseur) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mode_acquisition) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mise_en_service) }}
                </div>

            {% else %} {# role_parc #}
                <div class="col-md-4">
                    {{ form_row(form.fournisseur, { 'attr':{'readonly':'readonly'} }) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mode_acquisition, { 'attr':{'disabled':'disabled'} }) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mise_en_service, { 'attr':{'disabled':'disabled'} }) }}
                </div>
            {% endif %}
            </div>
        </fieldset>

        <fieldset class="well list-box">
            <legend class="well-legend">Numéro de parc</legend>
            <div class="form-inline">
                {{ form_widget(form.n_parc, {'required': false}) }}

                {% if is_granted('ROLE_PARC_ADMIN') %}
                    <a class="btn btn-primary" id="generator">
                        <span class="fa fa-refresh"></span>
                    </a>
                {% endif %}
            </div>
        </fieldset>

        <fieldset class="row well list-box" id="sortie">
            <legend class="well-legend">Sortie/Transfert</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.sortie, {'required': false}) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(form.motif, {'required': false}) }}
                </div>
            </div>
            {{ form_row(form.commentaire_sortie, {'required': false}) }}

            {% if is_granted('ROLE_PARC_ADMIN') and (parc.statut == "Demande sortie/transfert" or parc.statut == "Sorti" ) %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_widget(form.estSorti) }} 
                    </div>
                </div>
            {% endif %}
        </fieldset>

                <a href="{{ path('parc_list') }}" class="button btn-left pull-left">
                    <span class="fa fa-angle-double-left"></span>Retour</a>
                {{ form_row(form.validation, {"attr": {"class" : "button btn-left pull-right"}}) }}



        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest' : false}) }}

            {% if is_granted('ROLE_PARC_ADMIN') and parc.statut == "Demande création" %}
                    <form method="post" action="{{ path('parc_delete', {'id': parc.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce parc ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parc.id) }}">
                        <button class="button button-danger btn-left pull-right"><span class="fa fa-trash"></span>Supprimer</button>
                    </form>
            {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
$('#upload').change('click', function () {
            var formData = new FormData();
            var file = document.getElementById("file").files[0];
            formData.append("file", file);

            if (file && (file.size / 1024 / 1024) < 10) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{{ path( 'parc_upload' ) }}", true);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                onUploadInit();
                xhr.upload.addEventListener("load", onUploadComplete, false);
                xhr.upload.addEventListener("progress", onUploadProgress, false);
                xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            console.log(xhr.response);
                            document.getElementById("parcs_url").value = xhr.response;
                        }
                    }
                };
                xhr.send(formData);
            } else {
                if (!file) {
                    document.getElementById('progress-value').textContent = 'Erreur';
                } else {
                    document.getElementById('progress-value').textContent = 'Taille de fichier maximale: 10MB';
                }
                document.getElementById("progress-bar").classList.remove("progress-bar-striped")
                document.getElementById("progress-bar").style.backgroundColor = '#CC0000';
                document.getElementById("progress-bar").style.width = '100%';
            }
        });

        function onUploadInit() {
            document.getElementById("progress-bar").style.backgroundColor = '#130078';
            document.getElementById('progress-value').textContent = '';
            document.getElementById("progress-bar").style.width = '0%';
            document.getElementById("progress-bar").classList.add("progress-bar-striped");
            disableEnregistrer()
        }

        function onUploadComplete(event) {
            document.getElementById('progress-value').textContent = "Terminé";
            document.getElementById("progress-bar").classList.remove("progress-bar-striped");
            enableEnregistrer()
        }

        function onUploadProgress(event) {
            if (event.lengthComputable) {
                var percentComplete = event.loaded / event.total;
                document.getElementById('progress-value').textContent = parseFloat(percentComplete * 100).toFixed(2) + '%';
                document.getElementById("progress-bar").style.width = parseFloat(percentComplete * 100).toFixed(2) + '%';
            }
        }

        $("[type=file]").on("change", function () {
            if (this.files[0]) {
                var file = this.files[0].name;
                var dflt = $(this).attr("placeholder");
                if ($(this).val() != "") {
                    $(this).next().text(file);
                } else {
                    $(this).next().text(dflt);
                }
            }
        });

        $('.datepicker').datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});

        $(".parc-content").on('click', '#generator', function () {
            var s = document.getElementById("parcs_sousCategorieVehicule");
            var s_categorie = s.options[s.selectedIndex].text;
            var m = document.getElementById("parcs_mode_acquisition");
            var m_acquisition = m.options[m.selectedIndex].text;
            $.ajax({
                url: "{{ path( 'parc_number_generator' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "s_categorie": s_categorie,
                    "m_acquisition": m_acquisition
                },
                success: function (resp) {
                    if (resp) {
                        $("#parcs_n_parc").val(resp);
                    }
                }
            });
        });

        var filiales = {{ sites|json_encode|raw }};
        var categories = {{ sousCategories|json_encode|raw }};

        update_sousCategorie();
        $('#parcs_categorieVehicule').change(function () {
            update_sousCategorie();
        });

        update_site();
        $('#parcs_filiale').change(function () {
            update_site();
        });

        function update_sousCategorie() {
            $("#parcs_sousCategorieVehicule").find('option').remove();
            $.each(categories, function (categorie) {
                if (categorie === $('#parcs_categorieVehicule option:selected').text()) {
                    $.each(categories[categorie], function (index, val) {
                        $('#parcs_sousCategorieVehicule').append(new Option(val.nom, val.id,));
                    });
                }
            });
        }

        function update_site() {
            $("#parcs_site").find('option').remove();
            $.each(filiales, function (site) {
                if (site === $('#parcs_filiale option:selected').text()) {
                    $.each(filiales[site], function (index, val) {
                        $('#parcs_site').append(new Option(val.nom, val.id,));
                    });
                }
            });
        }

        // Immatriculation_error
        var immatriculation_init = $('#parcs_immatriculation').val();
        $("#parcs_immatriculation").change(function () {
            $(this).parent().find('input, select').removeClass('is-invalid');
            $(this).parent().find(".invalid-feedback").remove();
            var immatriculation = $(this).val();
            $.ajax({
                url: "{{ path( 'parc_immatriculation_error' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "immatriculation": immatriculation,
                    "immatriculation_init": immatriculation_init,
                },
                success: function (resp) {
                    if (resp) {
                        var msg = '<span class="invalid-feedback d-block"><span class="mb-0 d-block"><span class="initialism form-error-icon badge badge-danger">Erreur</span><span class="form-error-message">Ce numéro d\'immatriculation est déjà attribué.</span></span></span>';
                        $("#parcs_immatriculation").addClass('is-invalid').after(msg);
                    }
                }
            });
        });

        // Serie_error
        var serie_init = $('#parcs_n_serie').val();
        $("#parcs_n_serie").change(function () {
            $(this).parent().find('input, select').removeClass('is-invalid');
            $(this).parent().find(".invalid-feedback").remove();
            var serie = $(this).val();
            $.ajax({
                url: "{{ path( 'parc_serie_error' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "serie": serie,
                    "serie_init": serie_init,
                },
                success: function (resp) {
                    if (resp) {
                        var msg = '<span class="invalid-feedback d-block"><span class="mb-0 d-block"><span class="initialism form-error-icon badge badge-danger">Erreur</span><span class="form-error-message">Ce numéro de série est déjà attribué.</span></span></span>';
                        $("#parcs_n_serie").addClass('is-invalid').after(msg);
                    }
                }
            });
        });

        if ($("#vehicule").find('input').val()) {
            $("#chariot .mask").css({"opacity": ".7", "z-index": "50"});
            $(".well-legend").css({"z-index": "51"});
            $("#chariot").find('input, select, a').prop('disabled', true);
        } else {
            $("#vehicule .mask").css({"opacity": ".7", "z-index": "50"});
            $(".well-legend").css({"z-index": "51"});
            $("#vehicule").find('input, select, a').prop('disabled', true);
        }

        function disableEnregistrer() {
            document.getElementById("parcs_validation").disabled = true;
            $("#parcs_validation").attr("data-toggle", "tooltip");
            $("#parcs_validation").attr("title", "Vous devez saisir une date ET un motif de sortie pour pouvoir enregistrer");
        }

        function enableEnregistrer() {
            document.getElementById("parcs_validation").disabled = false;
            $("#parcs_validation").removeAttr("data-toggle");
            $("#parcs_validation").removeAttr("title");
        }

        $('#sortie .form-control').change(function() {
            if ( ($('#parcs_sortie').val() && !($('#parcs_motif').val()))
            || (!($('#parcs_sortie').val()) && $('#parcs_motif').val())) {
                disableEnregistrer();
            } else {
                enableEnregistrer();
            }
        });

    </script>
{% endblock %}