{% extends 'layout.html.twig' %}

{% block title %}Parc{% endblock %}

{% block date_widget %}
    <div class="has-feedback">
        {{ block('form_widget_simple') }}
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
{% endblock date_widget %}

{% block page_content %}

    <div class="row page-title">
        PARC
        {% if n_parc %}
            n°{{ n_parc }}
        {% endif %}
    </div>
    <div class="parc-etat">
        <h3>Statut : </h3>
        <span class="img-circle
            {% if parc.statut == "Demande création" %} backorange 
            {% else %} backgreen 
            {% endif %}">
        </span>
        {{ parc.statut }}
    </div>

    <div class="parc-content col-md-12">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset class="well list-box">
            <legend class="well-legend">Données générales</legend>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.filiale) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.site) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.categorieVehicule) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.sousCategorieVehicule) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.marque) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.modele) }}
                </div>
            </div>
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.poids) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.mise_en_circulation) }}
                </div>
            </div>
            {{ form_row(form.commentaire, {'required': false}) }}
        </fieldset>

        <div class="row">
            <div class="col-md-12 parc-flex">
                <fieldset class="well list-box col-md-5">
                    <legend class="well-legend">Véhicule</legend>
                    {{ form_row(form.immatriculation, {'required': false}) }}
                    <label class="control-label" for="carte_grise">Carte grise</label>
                    <div class="row form-group" id="carte_grise">
                        <div class="col-md-6">
                            <a>
                                <input id="f02" type="file" placeholder="Importer"/>
                                <label for="f02">
                                    <span class="fa fa-cloud-upload"></span>
                                    &nbsp;Importer
                                </label>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-default disabled" id="dwl">
                                <span class="fa fa-cloud-download"></span>
                                Télécharger
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.genre, {'required': false}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.ptac, {'required': false}) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.ptr, {'required': false}) }}
                        </div>
                    </div>
                    {{ form_row(form.puissance_fiscale, {'required': false}) }}
                </fieldset>
                <div class="col-md-2">
                    <div class="hr">
                        <div class="separator-v">
                            <div class="separator-v-text">
                                OU
                            </div>
                        </div>
                    </div>
                </div>
                <fieldset class="well list-box col-md-5">
                    <legend class="well-legend">Chariot</legend>
                    {{ form_row(form.n_serie, {'required': false}) }}
                </fieldset>
            </div>
        </div>

        <fieldset class="row well list-box">
            <legend class="well-legend">Acquisition</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.fournisseur) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mode_acquisition) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.mise_en_service) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="well list-box">
            <legend class="well-legend">Numéro de parc</legend>
            <div class="form-inline">
                {{ form_widget(form.n_parc, {'required': false}) }}
                <a class="btn btn-primary" id="generator">
                    <span class="fa fa-refresh"></span>
                </a>
            </div>
        </fieldset>

        <fieldset class="row well list-box">
            <legend class="well-legend">Sortie</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.sortie, {'required': false}) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(form.motif, {'required': false}) }}
                </div>
            </div>
            {{ form_row(form.commentaire_sortie, {'required': false}) }}

            <div class="row">
                <div class="col-md-6">
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" checked="checked">
                        <label for="radio-1" class="radio-label">Remise en service</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio" checked="checked">
                        <label for="radio-2" class="radio-label">Sortie définitive</label>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ path ('parc_list') }}" class="button btn-left pull-left">
                    <span class="fa fa-angle-double-left"></span>Retour</a>
                {{ form_row(form.validation, {"attr": {"class" : "button btn-left pull-right"}}) }}

            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest' : false}) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("[type=file]").on("change", function () {
            var file = this.files[0].name;
            var dflt = $(this).attr("placeholder");
            if ($(this).val() != "") {
                $(this).next().text(file);
            } else {
                $(this).next().text(dflt);
            }
        });

        $('.datepicker').datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});

        $(".parc-content").on('click', '#generator', function () {
            var s = document.getElementsByClassName("sousCategorieVehicule");
            var s_categorie = s[0].options[s[0].selectedIndex].text;
            var m = document.getElementsByClassName("mode_acquisition");
            var m_acquisition = m[0].options[m[0].selectedIndex].text;
            $.ajax({
                url: "{{ path( 'parc_number_generator' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "s_categorie": s_categorie,
                    "m_acquisition": m_acquisition
                },
                success: function (resp) {
                    if (resp) {
                        $(".n_parc").val(resp);
                    }
                }
            });
        });
    </script>
{% endblock %}