{% extends 'layout.html.twig' %}

{% block title %}Parc{% endblock %}

{% block date_widget %}
    <div class="has-feedback">
        {{ block('form_widget_simple') }}
        <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
    </div>
{% endblock date_widget %}

{% block page_content %}

    {% if parc.vehicules %}

    <div class="row page-title">
        PARC n°{% if n_parc %} {{ n_parc }} {% endif %}
    </div>
    <div class="parc-etat">
        <span class="img-circle {% if parc.statut == "Demande création" %} backorange {% else %} backgreen {% endif %}">
            {{ parc.statut }}
        </span>
    </div>

    <div class="parc-content col-md-12">
        {{ form_start(formVehicules) }}
        {{ form_errors(formVehicules) }}
        <fieldset class="well list-box">
            <legend class="well-legend">Données générales</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(formVehicules.parc.modele) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formVehicules.parc.filiale) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formVehicules.parc.site) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(formVehicules.parc.categorieVehicule) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formVehicules.parc.sousCategorieVehicule) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formVehicules.parc.marque) }}
                </div>
            </div>
            {{ form_row(formVehicules.parc.commentaire, {'required': false}) }}
 
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(formVehicules.parc.sortie, {'required': false}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(formVehicules.parc.motif, {'required': false}) }}
                </div>
            </div>
            {{ form_row(formVehicules.parc.commentaire_sortie) }}
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Acquisition</legend>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(formVehicules.parc.fournisseur) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(formVehicules.parc.mode_acquisition) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(formVehicules.parc.incorporation) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(formVehicules.parc.mise_en_service) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Numéro de parc</legend>
            <div class="form-inline">
                {{ form_widget(formVehicules.parc.n_parc, {'required': false}) }}
                <a class="btn btn-primary" id="generator">
                    <span class="fa fa-refresh"></span>
                </a>
            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Carte grise</legend>
            <div class="row form-flex">

                {{ form_row(formVehicules.parc.poids) }}

                {{ form_row(formVehicules.parc.mise_en_circulation) }}

                <a>
                    <input id="f02" type="file" placeholder="Importer"/>
                    <label for="f02">
                        <span class="fa fa-cloud-upload"></span>
                        &nbsp;Importer
                    </label>
                </a>
                <a class="btn btn-default disabled">
                    <span class="fa fa-cloud-download"></span>
                    Télécharger
                </a>

            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Données supplémentaire</legend>

            {{ form_row(formVehicules.immatriculation, {'required': false}) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(formVehicules.genre, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formVehicules.ptac, {'required': false}) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formVehicules.ptr, {'required': false}) }}
                </div>
            </div>
            {{ form_row(formVehicules.puissance_fiscale, {'required': false}) }}
        </fieldset>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left pull-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
            {{ form_row(formVehicules.validation, {"attr": {"class" : "button btn-left pull-right"}}) }}

        </div>
    </div>

    {{ form_row(formVehicules._token) }}
    {{ form_end(formVehicules, {'render_rest' : false}) }}

    {% else %}

        <div class="row page-title">
        PARC n°{% if n_parc %} {{ n_parc }} {% endif %}
    </div>
    <div class="parc-etat">
        <span class="img-circle {% if parc.statut == "Demande création" %} backorange {% else %} backgreen {% endif %}">
            {{ parc.statut }}
        </span>
    </div>

    <div class="parc-content col-md-12">
        {{ form_start(formChariots) }}
        {{ form_errors(formChariots) }}
        <fieldset class="well list-box">
            <legend class="well-legend">Données générales</legend>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(formChariots.parc.modele) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formChariots.parc.filiale) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formChariots.parc.site) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(formChariots.parc.categorieVehicule) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formChariots.parc.sousCategorieVehicule) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(formChariots.parc.marque) }}
                </div>
            </div>
            {{ form_row(formChariots.parc.commentaire, {'required': false}) }}
 
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(formChariots.parc.sortie, {'required': false}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(formChariots.parc.motif, {'required': false}) }}
                </div>
            </div>
            {{ form_row(formChariots.parc.commentaire_sortie) }}
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Acquisition</legend>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(formChariots.parc.fournisseur) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(formChariots.parc.mode_acquisition) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(formChariots.parc.incorporation) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(formChariots.parc.mise_en_service) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Numéro de parc</legend>
            <div class="form-inline">
                {{ form_widget(formChariots.parc.n_parc, {'required': false}) }}
                <a class="btn btn-primary" id="generator">
                    <span class="fa fa-refresh"></span>
                </a>
            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Carte grise</legend>
            <div class="row form-flex">

                {{ form_row(formChariots.parc.poids) }}

                {{ form_row(formChariots.parc.mise_en_circulation) }}

                <a>
                    <input id="f02" type="file" placeholder="Importer"/>
                    <label for="f02">
                        <span class="fa fa-cloud-upload"></span>
                        &nbsp;Importer
                    </label>
                </a>
                <a class="btn btn-default disabled">
                    <span class="fa fa-cloud-download"></span>
                    Télécharger
                </a>

            </div>
        </fieldset>
        <fieldset class="well list-box">
            <legend class="well-legend">Données supplémentaire</legend>
                {{ form_row(formChariots.n_serie, {'required': false}) }}
                {{ form_row(formChariots.proprietaire, {'required': false}) }}
        </fieldset>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left pull-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
            {{ form_row(formChariots.validation, {"attr": {"class" : "button btn-left pull-right"}}) }}

        </div>
    </div>

    {{ form_row(formChariots._token) }}
    {{ form_end(formChariots, {'render_rest' : false}) }}

    {% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("[type=file]").on("change", function () {
            var file = this.files[0].name;
            var dflt = $(this).attr("placeholder");
            if ($(this).val() != "") {
                $(this).next().text(file);
            } else {
                $(this).next().text(dflt);
            }
        });

        $('.datepicker').datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});
        
        $(".parc-content").on('click', '#generator', function () {
            var s = document.getElementsByClassName("sousCategorieVehicule");
            var s_categorie = s[0].options[s[0].selectedIndex].text;
            var m = document.getElementsByClassName("mode_acquisition");
            var m_acquisition = m[0].options[m[0].selectedIndex].text;
            $.ajax({
                url: "{{ path( 'parc_number_generator' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "s_categorie": s_categorie,
                    "m_acquisition": m_acquisition
                },
                success: function (resp) {
                    if (resp) {
                        $(".n_parc").val(resp);
                    }
                }
            });
        });
    </script>
{% endblock %}