{% extends 'layout.html.twig' %}

{% block title %}Liste des véhicules{% endblock %}

{% block page_content %}

    <form>
        <div class="row backgray filter-wrapper">
            <div>
                <select id="statut" class="form-control basic-multiple-etat" name="states[]" multiple="multiple">
                    <option>Actif</option>
                    <option>Demande création</option>
                    <option>Sorti</option>
                    <option>Demande sortie/transfert</option>
                </select>
            </div>
            <div>
                <select id="site" class="form-control basic-multiple-site" name="states[]" multiple="multiple">
                    {% for filiale in filiales %}
                        <optgroup label="{{ filiale.nom }}"></optgroup>
                        {% for site in filiale.sites %}
                            <option>{{ site.nom }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div>
                <input id="immat" type="search" class="form-control" placeholder="Immat/série">
            </div>
            {# <a class="btn more-filter">Plus de filtres</a> #}
            <a href="#" id="filter" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </div>
    </form>

    <div class="row page-title">
        LISTE DES VEHICULES
    </div>

    <div class="row btn-grp">
        <a href="{{ path('parc_create') }}" class="button btn-left">
            <span class="fa fa-plus"></span>Nouveau véhicule
        </a>
    </div>

    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="id" data-visible="false" data-sortable="false">Id</th>
                <th data-column-id="n_parc">Numéro Parc</th>
                <th data-column-id="etat" data-formatter="etat" data-sortable="false">Etat</th>
                <th data-column-id="n_serie">Numéro de série/immatriculation</th>
                <th data-column-id="sous_cat">Sous Catégorie</th>
                <th data-column-id="site">Site</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Détail</th>
            </tr>
        </thead>
    </table>

    <div class="row">
        <div class="col-md-12">
            <a id="download" href="{{ path('export_csv') }}" class="button btn-left pull-right">
                <span class="fa fa-cloud-download"></span>Télécharger</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.basic-multiple-etat').select2({placeholder: 'Etat'});
        $('.basic-multiple-site').select2({placeholder: 'Site'});

        var f_statut = {{ f_statut|json_encode|raw }};
        var f_site = {{ f_site|json_encode|raw }};
        var f_immat = {{ f_immat|json_encode|raw }};

        $('#statut').val(f_statut);
        $('#site').val(f_site);
        $('#immat').val(f_immat);
        $('#immat, #statut, #site').trigger('change');

        $("#download").on('click', function (e) {
            e.preventDefault();
            var statut = $("#statut").val();
            var site = $("#site").val();
            var immatriculation = $("#immat").val();
            var searchPhrase = $(".search-field").val();
            $.ajax({
                url: "{{ path( 'export_csv' ) }}",
                type: "POST",
                dataType: "json",
                data: {
                    "statut": statut,
                    "site": site,
                    "immatriculation": immatriculation,
                    "searchPhrase": searchPhrase
                },
                success: function (resp) {
                    var csv = resp;
                    var hiddenElement = document.createElement('a');
                    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI("\ufeff" + csv);
                    hiddenElement.target = '_blank';
                    hiddenElement.download = 'export_parc_' + '{{ date }}' + '.csv';
                    hiddenElement.click();
                }
            });
        });

        var start = 0

        var grid = $("#grid-data").bootgrid({
            rowCount: [25, -1],
            ajax: true,
            requestHandler: function (request) {
                request.id = "b0df282a-0d67-40e5-8558-c9e93b7befed";
                request.start = start;
                request.statut = $("#statut").val();
                request.site = $("#site").val();
                request.immat = $("#immat").val();
                //request.currentPage = $("#grid-data").bootgrid("getCurrentPage");
                //request.rowCount = $("#grid-data").bootgrid("getRowCount");
                return request;
            },
            url: "{{ path('parc_list') }}",
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-view\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-pencil\"></span></button> ";
                },
                "etat": function (column, row) {
                    var output = "<button type=\"button\" class=\"btn btn-xs color etiquette\" data-row-id=\"" + row.id + "\">" + row[column.id] + "</button>";
                    var color;
                    switch (row[column.id]) {
                        case 'Actif':
                            color = 'backgreen';
                            break;
                        case 'Demande création':
                            color = 'backviolet';
                            break;
                        case 'Sorti':
                            color = 'backred';
                            break;
                        case 'Demande sortie/transfert':
                            color = 'backblue';
                            break;
                        default:
                            color = 'backorange';
                    }
                    output = output.replace('color', color);
                    return output;
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            /* Executes after data is loaded and rendered */
            grid.find(".command-view, .etiquette").on("click", function (e) {
                var url = "{{ path('parc_edit', {'id': 'edit_id'}) }}";
                var id = $(this).attr("data-row-id");
                url = url.replace("edit_id", id);
                window.location.href = url;
            })
        });

        $("#filter").on("click", function () {
            start = 1;
            $("#grid-data").bootgrid('reload');
        });
    </script>

{% endblock %}