<div class="frame mt-2">
    <input class="data" type="hidden" name="refArticle" value="{{ reception.refArticleId }}"/>
    <input class="data" type="hidden" name="noCommande" value="{{ reception.commande }}"/>

    <div class="reference-article row">
        <div class="form-group col-4">
            <label>Référence</label>
            <input class="form-control"
                   name="refRefArticle"
                   disabled
                   type="text"
                   value="{{ reception.reference }}" />
        </div>
        <div class="form-group col-4">
            <label>Nom</label>
            <input class="form-control"
                   disabled
                   type="text"
                   value="{{ reception.referenceLabel }}" />
        </div>
        <div class="form-group col-2">
            <label>Type</label>
            <input class="form-control"
                   disabled
                   type="text"
                   value="{{ typeArticle }}" />
        </div>
        <div class="form-group col-1">
            <label>Quantité*</label>
            <input class="form-control data needed"
                   type="number"
                   name="quantite"
                   value="{{ reception.quantity }}" />
        </div>
        <div class="col-1 text-right">
            <i class='fas fa-trash pointer m-3' onclick="removePackingItem($(this))"></i>
        </div>

    </div>
    {% include 'article/modalNewArticleContent.html.twig' with {
        easyForm: true,
        defaultArticleFournisseurReference: reception.defaultArticleFournisseurReference
    } %}
</div>
