<div class="d-flex">
    <div class="dropdown dropright">
        {{ include('datatable/dotsRow.html.twig') }}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            {% if isReferenceTypeLinked %}
                <a href="{{ path('mvt_traca_index') }}{{ packFilter is not empty ? ('?colis=' ~ packFilter) }}" class="dropdown-item">
                    <i class="fas fa-list mr-2"></i>Voir mouvements de tracabilité
                </a>
                <a class="dropdown-item d-flex align-items-center"
                   href="{{ path('reception_ligne_article_bar_code_print', {reception: receptionId, ligneArticle: ligneId}) }}">
                    <span class="wii-icon wii-icon-printer-black mr-2"></span>Imprimer
                </a>
            {% elseif (isArticleTypeLinked and ligneArticleQuantity > 0)%}
                <div class="dropdown-item"
                     onclick='openModalArticlesFromLigneArticle({{ ligneId }})'>
                    <i class="fas fa-list mr-2"></i>Voir les articles
                </div>
            {% endif %}
            {% if modifiable %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <div class="d-none">
                        <div class="action-on-click" data-id='{{ ligneId }}' data-toggle='modal' data-target='#modalEditReceptionReferenceArticle'
                             onclick="editRow($(this), Routing.generate('reception_reference_article_edit_api', true), $('#modalEditReceptionReferenceArticle'), $('#submitEditLigneArticle')),
                                      clearModal('#modalEditReceptionReferenceArticle')">
                            <i class='fas fa-pencil-alt'></i>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex align-items-center"
                         onclick="checkAndDeleteRow($(this), '#modalDeleteReceptionReferenceArticle', 'reception_reference_article_check_delete', '#submitDeleteReceptionReferenceArticle')"
                         data-id='{{ ligneId }}'
                         data-target='#modalDeleteReceptionReferenceArticle'
                         data-toggle='modal'>
                        <span class="wii-icon wii-icon-trash-black mr-2"></span>Supprimer
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
