<div class="d-flex">
    <div class="dropdown dropright">
        {{ include('datatable/dotsRow.html.twig') }}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <a href="{{ path('mvt_traca_index') }}?colis={{ referenceFilter }}" class="dropdown-item">
                <i class="fas fa-list mr-2"></i>Voir mouvements de tracabilité
            </a>
            {% if modifiable %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <div class="d-none">
                        <div class="action-on-click" data-id='{{ ligneId }}' data-toggle='modal' data-target='#modalEditLigneArticle'
                             onclick="editRow($(this), Routing.generate('reception_article_edit_api', true), $('#modalEditLigneArticle'), $('#submitEditLigneArticle'), true, '.editor-container-article'),
                        clearModal('#modalEditLigneArticle')">
                            <i class='fas fa-pencil-alt'></i>
                        </div>
                    </div>
                    <div class="dropdown-item"
                         onclick="checkAndDeleteRow($(this), '#modalDeleteLigneArticle', 'ligne_recep_check_delete', '#submitDeleteLigneArticle')"
                         data-id='{{ ligneId }}' data-target='#modalDeleteLigneArticle' data-toggle='modal'>
                        <i class='fas fa-trash mr-2'></i>Supprimer
                    </div>
                {% endif %}
            {% endif %}
            {% if showPrint %}
                <a class="dropdown-item"
                   href="{{ path('reception_ligne_article_bar_code_print', {reception: receptionId, ligneArticle: ligneId}) }}">
                    <i class="fas fa-print mr-2"></i>Imprimer
                </a>
            {% else %}
                <div class="dropdown-item"
                     onclick='openModalArticlesFromLigneArticle({{ ligneId }})'>
                    <i class="fas fa-list mr-2"></i>Voir les articles
                </div>
            {% endif %}
        </div>
    </div>
</div>
