<div class='col-6'>
    <p><strong>Statut :</strong> {{ reception.statut ? reception.statut.nom : "" }}</p>
    <p><strong>Numéro de référence :</strong> {{ reception.numeroReception }}</p>
    <p><strong>Fournisseur :</strong> {{ reception.fournisseur.nom }}</p>
    <p><strong>Commentaire :</strong> {{ reception.commentaire|raw}}</p>
</div>
<div class="col-6">
    <p><strong>Date commande :</strong> {{ reception.date ? reception.date| date('d/m/Y') : ' ' }}</p>
    <p><strong>Date attendue :</strong> {{ reception.dateAttendu ? reception.dateAttendu | date('d/m/Y') : ' ' }}</p>
    <p><strong>Date réception :</strong>
        {{ reception.dateReception ? reception.dateReception | date('d/m/Y') : ' ' }}</p>
</div>
<div class="col-12"></div>
{% for valeurChampLibreT in valeurChampLibreTab %}
{% if valeurChampLibreT.typage != 'booleen' %}
<p><strong>{{valeurChampLibreT.label}}</strong> : {{valeurChampLibreT.valeur}}</p>
{% elseif valeurChampLibreT.typage == 'booleen' and valeurChampLibreT.valeur == 1 %}
<p><strong>{{valeurChampLibreT.label}}</strong> : oui</p>
{% elseif valeurChampLibreT.typage == 'booleen' and valeurChampLibreT.valeur == 0 %}
<p><strong>{{valeurChampLibreT.label}}</strong> : non</p>
{% endif %}
{% endfor %}
</div>