<div class='col-6'>
    <p><strong>Statut :</strong> {{ reception.statut ? reception.statut.nom : "" }}</p>
    <p><strong>Numéro de référence :</strong> {{ reception.numeroReception }}</p>
    <p><strong>Fournisseur :</strong> {{ reception.fournisseur ? reception.fournisseur.nom : '' }}</p>
    <p><strong>Commentaire :</strong> {{ reception.commentaire|raw }}</p>
</div>
<div class="col-6">
    <p><strong>Date commande :</strong> {{ reception.dateCommande ? reception.dateCommande| date('d/m/Y') : ' ' }}</p>
    <p><strong>Numéro de commande :</strong> {{ reception.reference ? reception.reference : ' ' }}</p>
    <p><strong>Date attendue :</strong> {{ reception.dateAttendue ? reception.dateAttendue | date('d/m/Y') : ' ' }}</p>
    <p><strong>Date de création :</strong>
        {{ reception.date ? reception.date| date('d/m/Y') : ' ' }}</p>
    <p><strong>Date de fin de réception
            :</strong> {{ reception.dateFinReception ? reception.dateFinReception | date('d/m/Y H:i') : ' ' }}</p>
</div>
<div class="col-12">
    {% for typeChampLibre in typeChampsLibres %}
        <div
            class="{{ reception.type is not empty ? 'd-block' : 'd-none' }}">
            <div class="row mt-2">
                <p><strong>{{ typeChampLibre.label }}
                        : </strong>
                    {{ typeChampLibre.typage == 'boolean' ? (typeChampLibre.valeurChampLibre.valeur ? 'oui' : 'non') : typeChampLibre.valeurChampLibre.valeur }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
