{% extends 'layout.html.twig' %}

{% block title %}Ordres {{ 'réception.de réception'|trans }}{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersReception.html.twig' with {
        page: 'PAGE_RECEPTION',
        tableSelector: '#tableReception_id'
    } %}
{% endblock %}

{% block page_content %}
    {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) %}
    <div class="m-4 datatable-container shadow-lg">
        <div class="row">
            <h1 class="col align-self-start ml-2">Ordres <span title="de réception">{{ 'réception.de réception'|trans }}</span></h1>
            <div class="col-auto">
                {% if hasRightCreate and hasRightExport %}
                    <div class="btn-group split-button-container col-auto align-self-end">
                        <button type="button" data-toggle="modal" data-target="#modalNewReception" class="btn btn-primary btn-ripple split-button"
                                onclick="clearModal('#modalNewReception'); initNewReceptionEditor('#modalNewReception'); initReceptionLocation();">
                            <span class="fa fa-plus mr-2"></span><span title="nouvelle réception">{{ 'réception.nouvelle réception'|trans }}</span>
                        </button>
                        <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu mr-5 pointer">
                            <div class="dropdown-item" onclick="generateCSV('get_receptions_for_csv', '{{ 'réception.réceptions'|trans }}')">
                                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) %}
                        <div class="btn btn-primary btn-ripple" onclick="generateCSV('get_receptions_for_csv', '{{ 'réception.réceptions'|trans }}')">
                            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                        </div>
                    {% endif %}
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) %}
                        <div class="btn btn-primary btn-ripple" onclick="generateCSV('get_receptions_for_csv', '{{ 'réception.réceptions'|trans }}')">
                            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="d-none justify-content-center" id="spinnerReception">
                <div class="spinner-border sizeLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <table id="tableReception_id" class="table w-100">
            </table>
        </div>
    </div>
    {% include "reception/modalNewReception.html.twig" %}

    <input hidden id="noReception" value="{{ "réception.n° de réception"|trans }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/attachments.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/reception.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
