{% extends 'layout.html.twig' %}

{% block title %}Ordre | {{ trans('Ordre','Réceptions', 'Réceptions', false) }}{% endblock %}
{% block title_tooltip %}Ordre | Réceptions{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersReception.html.twig' with {
        page: 'PAGE_RECEPTION',
        tableSelector: '#tableReception_id',
        disabled: purchaseRequestFilter is defined and purchaseRequestFilter is not null and purchaseRequestFilter != 0,
    } %}
{% endblock %}

{% block page_content %}
    {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% if purchaseRequestFilter is defined and purchaseRequestFilter is not null and purchaseRequestFilter != 0 %}
                <div class="btn-group">
                    <div class="btn btn-primary split-button">
                        <a href="{{ path('reception_index') }}">Voir toutes les réceptions</a>
                    </div>
                    <button type="button"
                            class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        <a href="{{ path('purchase_request_show', {'id': purchaseRequest}) }}"
                           class='dropdown-item pointer'>
                            <i class="fas fa-undo-alt"></i>
                            Retour à la demande d'achat
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="btn-group">
                    {% if hasRightCreate and hasRightExport %}
                        <button type="button"
                                data-toggle="modal"
                                data-target="#modalNewReception"
                                class="btn btn-primary split-button d-flex align-items-center"
                                onclick="clearModal('#modalNewReception'); initNewReceptionEditor('#modalNewReception'); initReceptionLocation();">
                            <span class="wii-icon wii-icon-plus mr-2"></span></span><span title="nouvelle réception">{{ trans('Ordre','Réceptions', 'nouvelle réception', false) }}</span>
                        </button>
                        <button type="button"
                                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                            <div class="dropdown-item" onclick="saveExportFile('get_receptions_csv')">
                                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                            </div>
                            <a class="dropdown-item pointer"
                               data-toggle="modal"
                               data-target="#modalColumnVisible">
                                <i class="fa fa-cog mr-2"></i>
                                Gestion des colonnes
                            </a>
                        </div>
                    {% else %}
                        {% if hasRightCreate %}
                            <div data-toggle="modal"
                                 data-target="#modalNewReception"
                                 class="btn btn-primary split-button d-flex align-items-center"
                                 onclick="clearModal('#modalNewReception'); initNewReceptionEditor('#modalNewReception'); initReceptionLocation();">
                                <span class="wii-icon wii-icon-plus mr-2"></span>
                                <span title="nouvelle réception">{{ trans('Ordre','Réceptions', 'nouvelle réception', false) }}</span>
                            </div>
                            <button type="button"
                                    class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                                <a class="dropdown-item pointer"
                                   data-toggle="modal"
                                   data-target="#modalColumnVisible">
                                    <i class="fa fa-cog mr-2"></i>
                                    Gestion des colonnes
                                </a>
                            </div>
                        {% endif %}
                        {% if hasRightExport %}
                            <div class="btn btn-primary" onclick="saveExportFile('get_receptions_csv')">
                                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                            </div>
                            <button type="button"
                                    class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                                <a class="dropdown-item pointer"
                                   data-toggle="modal"
                                   data-target="#modalColumnVisible">
                                    <i class="fa fa-cog mr-2"></i>
                                    Gestion des colonnes
                                </a>
                            </div>
                        {% else %}
                            <button type="button"
                                    data-toggle="modal"
                                    data-target="#modalColumnVisible"
                                    class="btn btn-primary">
                                <i class="fa fa-cog mr-2"></i>Gestion des colonnes
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-none justify-content-center" id="spinnerReception">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <table id="tableReception_id" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ purchaseRequestFilter }}" id="purchaseRequestFilter">
    <input type="hidden" value="{{ purchaseRequest }}" id="purchaseRequest">

    {% include "reception/modalNewReception.html.twig" %}
    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'receptionsTable',
        'route': 'save_column_visible_for_reception'
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/reception.js') }}?v={{ web_version }}"></script>
{% endblock %}
