{% extends 'layout.html.twig' %}
{% import 'form.html.twig' as form %}

{% block title %}Ordre | {{ trans('Ordre','Réceptions', 'Réceptions', false) }}{% endblock %}
{% block title_tooltip %}Ordre | Réceptions{% endblock %}

{% set hasPurchaseRequestFilter = purchaseRequestFilter is defined and purchaseRequestFilter is not null and purchaseRequestFilter != 0 %}

{% block page_filter %}
    {% include 'filters/filtersReception.html.twig' with {
        page: 'PAGE_RECEPTION',
        tableSelector: '#tableReception_id',
        disabled: hasPurchaseRequestFilter or emergencyIdFilter  ,
    } %}
{% endblock %}

{% block page_content %}
    {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% include "utils/action-buttons/header-buttons.html.twig" with {
                    actions: [
                        {
                            hasRight: hasPurchaseRequestFilter or emergencyIdFilter,
                            title: "Voir toutes les réceptions",
                            href: path('reception_index'),
                        },
                        {
                            hasRight: hasPurchaseRequestFilter,
                            title: "Retour à la demande d'achat",
                            href: path('purchase_request_show', {'id': purchaseRequest}),
                        },
                        {
                            hasRight: hasPurchaseRequestFilter,
                            title: "Retour à la liste des urgences",
                            href: path('emergency_index'),
                        },{
                            hasRight: hasRightCreate,
                            title: trans('Ordre','Réceptions', 'nouvelle réception', false) | capitalize,
                            icon: "wii-icon wii-icon-plus",
                            attributes: {
                                "data-toggle": "modal",
                                "data-target": "#modalNewReception",
                                "onclick": "clearModal('#modalNewReception'); initNewReceptionEditor('#modalNewReception'); initReceptionLocation();",
                            },
                        },
                        {
                            hasRight: hasRightExport,
                            title: trans('Général', null, 'Zone liste', 'Exporter au format CSV'),
                            icon : "fa fa-file-csv",
                            attributes: {
                                "onclick" : "saveExportFile('get_receptions_csv')",
                            },
                        },

                        {
                            hasRight: true,
                            title: trans('Général', null, 'Zone liste', 'Gestion des colonnes'),
                            icon : "fa fa-cog",
                            attributes: {
                                "data-toggle": "modal",
                                "data-target": "#modalFieldModes",
                            },
                        },
                        {
                            hasRight: not emergencyIdFilter,
                            title: trans('Traçabilité', 'Arrivages UL', 'Détails arrivage UL - Entête', 'Acheminer'),
                            icon : "fa fa-cog",
                            class: "dispatch-mode-button d-none",
                        },
                    ]
                } %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-none justify-content-center" id="spinnerReception">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <table id="tableReception_id" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {{ form.hidden('purchaseRequestFilter', purchaseRequestFilter) }}
    {{ form.hidden('emergencyIdFilter', emergencyIdFilter) }}
    {{ form.hidden('purchaseRequest', purchaseRequest) }}

    {% include "reception/modalNewReception.html.twig" with {
        arrivageToReception: arrivageToReception
    } %}
    {% include "utils/fields-modes.html.twig" with {
        fields,
        table: 'tableReception_id',
        page: 'reception',
        config: {
            columns: [
                {
                    label: "Visible",
                    type: "checkbox",
                    name: constant('App\\Service\\FieldModesService::FIELD_MODE_VISIBLE'),
                },
            ],
        }
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/reception.js') }}?v={{ web_version }}"></script>
{% endblock %}
