<form method="" class="modal fade" id="modalNewReception" role="dialog"
      aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" title="nouvelle réception">{{ 'réception.nouvelle réception'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class='row'>
                    {% if fieldsParam|isFieldRequired('dateCommande', 'displayed') %}
                        <div class="form-group col-6">
                            <label for="dateCommande">Date
                                commande{{ fieldsParam|isFieldRequired('dateCommande', 'mustToCreate') ? '*' : '' }}</label>
                            <input type="text"
                                   class="form-control cursor-default data {{ fieldsParam|isFieldRequired('dateCommande', 'mustToCreate') ? 'needed' : '' }}"
                                   name="dateCommande"
                                   id="dateCommande"
                                   required="true"
                                   value=""
                                   placeholder="jj/mm/aaaa">
                        </div>
                    {% endif %}

                    {% if fieldsParam|isFieldRequired('dateAttendue', 'displayed') %}
                        <div class="form-group col-6">
                            <label for="dateAttendue">Date
                                attendue{{ fieldsParam|isFieldRequired('dateAttendue', 'mustToCreate') ? '*' : '' }}</label>
                            <input type="text"
                                   class="form-control cursor-default data {{ fieldsParam|isFieldRequired('dateAttendue', 'mustToCreate') ? 'needed' : '' }}"
                                   name="dateAttendue"
                                   id="dateAttendue"
                                   required="true"
                                   value=""
                                   placeholder="jj/mm/aaaa">
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if fieldsParam|isFieldRequired('numCommande', 'displayed') %}
                        <div class="form-group col-6">
                            <label>Numéro de commande{{ fieldsParam|isFieldRequired('numCommande', 'mustToCreate') ? '*' : '' }}</label>
                            <input type="text"
                                   class="form-control data {{ fieldsParam|isFieldRequired('numCommande', 'mustToCreate') ? 'needed' : '' }}"
                                   name="reference">
                        </div>
                    {% endif %}

                    {% if fieldsParam|isFieldRequired('emplacement', 'displayed') %}
                        <div class="form-group col-6 w-100">
                            <label>Emplacement{{ fieldsParam|isFieldRequired('emplacement', 'mustToCreate') ? '*' : '' }}</label>
                            <select class="ajax-autocomplete-location data form-control {{ fieldsParam|isFieldRequired('emplacement', 'mustToCreate') ? 'needed' : '' }}" name="location"
                                    id="receptionLocation">
                            </select>
                            <input hidden id="receptionLocationValue" data-id="{{ receptionLocation ? receptionLocation.id }}" data-text="{{ receptionLocation ? receptionLocation.text }}">
                        </div>
                    {% endif %}
                </div>

                <div class="row fly-form">
                    {% if fieldsParam|isFieldRequired('fournisseur', 'displayed') %}
                        <div class="form-group w-100 col">
                            <label
                                for="fournisseurs">Fournisseur{{ fieldsParam|isFieldRequired('fournisseur', 'mustToCreate') ? '*' : '' }}</label>
                            <select
                                class="form-control ajax-autocomplete-fournisseur data {{ fieldsParam|isFieldRequired('fournisseur', 'mustToCreate') ? 'needed' : '' }}"
                                name="fournisseur" id="fournisseur">
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-1 toggle-button-container">
                                <span class="btn btn-primary" onclick="onFlyFormToggle('fournisseurDisplay', 'addFournisseur')">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if fieldsParam|isFieldRequired('transporteur', 'displayed') %}
                        <div class="form-group w-100 col">
                            <label
                                for="transporteur">Transporteur{{ fieldsParam|isFieldRequired('transporteur', 'mustToCreate') ? '*' : '' }}</label>
                            <select
                                class="form-control data ajax-autocomplete-transporteur {{ fieldsParam|isFieldRequired('transporteur', 'mustToCreate') ? 'needed' : '' }}"
                                name="transporteur" id="transporteur">
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-1 toggle-button-container">
                                <span class="btn btn-primary"
                                      onclick="onFlyFormToggle('transporteurDisplay', 'addTransporteur')">
                                    <i class="fa fa-plus"></i></span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

                {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                    <div class="row new-on-fly-form-container">
                        <div class="row col-6 formulaire fly-form">
                            <div class="form-group col-10 invisible" id="fournisseurDisplay">
                                <label for="newFournisseur">Nom*</label>
                                <input type="text" id="newFournisseur" class="form-control valeur newFormulaire neededNew copyOnTheFly"
                                       name="Nom" maxlength="64">
                                <label for="newFournisseurCode" class="mt-2">Code*</label>
                                <input type="text" id="newFournisseurCode" class="form-control newFormulaire neededNew copiedOnTheFly"
                                       name="Code" maxlength="64">
                            </div>
                            <div class="form-group col-2 invisible submit-button-container" id="addFournisseur">
                                <span class="btn btn-success"
                                      onclick="onFlyFormSubmit(Routing.generate('fournisseur_new', true), $(this), 'fournisseurDisplay', 'addFournisseur', $('#fournisseur'))">
                                    <i class="fas fa-check-circle"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row col-6 formulaire fly-form">
                            <div class="form-group col-10 invisible" id="transporteurDisplay">
                                <label for="newTransporteur">Nom*</label>
                                <input type="text" id="newTransporteur" class="form-control newFormulaire neededNew copyOnTheFly"
                                       name="label" maxlength="64">
                                <label for="newTransporteurCode" class="mt-2">Code*</label>
                                <input type="text" id="newTransporteurCode" class="form-control newFormulaire neededNew copiedOnTheFly"
                                       name="code" maxlength="64">
                            </div>
                            <div class="form-group col-2 invisible submit-button-container" id="addTransporteur">
                                <span class="btn btn-success"
                                      onclick="onFlyFormSubmit(Routing.generate('transporteur_new', true), $(this), 'transporteurDisplay', 'addTransporteur', $('#transporteur'))">
                                    <i class="fas fa-check-circle"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if fieldsParam|isFieldRequired('commentaire', 'displayed') %}
                    <div class="form-group">
                        <label
                            for="NumeroReception">Commentaire{{ fieldsParam|isFieldRequired('commentaire', 'mustToCreate') ? '*' : '' }}</label>
                        <input id='commentaire'
                               class="form-control data {{ fieldsParam|isFieldRequired('commentaire', 'mustToCreate') ? 'needed' : '' }}"
                               name="commentaire" type="hidden">
                        <div class="editor-container" id='editor-container'></div>
                    </div>
                {% endif %}

                <div class="row mt-4">
                    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
                        <h3 class='d-flex pointer'>
                            <i class="fas fa-sort-up d-block mr-2"></i>
                            <i class="fas fa-sort-down d-none mr-2"></i>
                            Champs libres
                        </h3>
                    </div>
                    <div class="form-group col-12 blocVisible d-block" id='typeContentNew'>
                        {% for type in typeChampLibres %}
                            <div class="row">
                                {% include 'champ_libre/freeFieldsViewing.html.twig' with {
                                    freeFields: type.champsLibres,
                                    freeFieldValues: [],
                                    colType: 'col-4',
                                    requiredType: 'requiredCreate',
                                    actionType: 'new'
                                } %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    {% if fieldsParam|isFieldRequired('anomalie', 'displayed') %}
                        <div class="form-group col-6 pt-4">
                            <label>Anomalie</label>
                            <label class="switch">
                                <input class="checkbox" type="checkbox" name="anomalie">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitReceptionButton" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
