<div class="row">
    <div class="form-group col-8">
        <label class="wii-field-name" for="disputeType">Type*</label>
        <select class="form-control data needed"
                id="disputeType"
                name="disputeType">
            <option placeholder=""
                    value="{{ dispute.type.id }}"
                    selected>{{ dispute.type.label }}</option>
            {% for type in disputeTypes %}
                {% if type.id != dispute.type.id %}
                    <option value="{{ type.id }}">{{ type.label }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-4 mt-4">
        <label class="wii-field-name">Urgence ?</label>
        <label class="switch">
            <input class="checkbox"
                   type="checkbox"
                   name="emergency" {{ dispute.emergencyTriggered ? 'checked': ''}}>
            <span class="slider round"></span>
        </label>
    </div>
    <div class="form-group col-12">
        <label class="wii-field-name">Statut*</label>
        <select class="form-control data needed"
                name="disputeStatus"
                title="Statut">
            {% for statut in disputeStatuses %}
                {% set selected = (dispute.status.id == statut.id) ? 'selected' : '' %}
                <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group w-100 col-12">
        <label class="wii-field-name" for="acheteursLitige">Acheteur(s)</label>
        <select class="form-control data"
                name="acheteursLitige"
                id="acheteursLitigeEdit"
                data-s2="user"
                multiple>
            {% for buyer in dispute.buyers %}
                <option value="{{ buyer.id }}" selected>{{ buyer.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group w-100 col-12">
        <label class="wii-field-name" for="disputeReporter">Déclarant*</label>
        <select class="form-control data needed" name="disputeReporter" data-s2="user">
            {% if dispute.reporter %}
                <option value="{{ dispute.reporter.id }}" selected>{{ dispute.reporter.username }}</option>
            {% endif %}
        </select>
        <input hidden
               name="logged-user"
               data-username="{{ dispute.reporter ? dispute.reporter.username : ''}}"
               data-id="{{ dispute.reporter ? dispute.reporter.id : '' }}"/>
    </div>
    <div class="form-group w-100 col-12">
        <label class="wii-field-name" for="colisEditLitige"
               title="articles">{{ 'réception.articles'|trans }}*</label>
        <select
                class="form-control data select2 needed select2-autocomplete-articles"
                name="colis"
                multiple="multiple"
                id="colisEditLitige">
        </select>
    </div>

    <div class="form-group col-12 h-fit-content">
        <label class="wii-field-name" for="litige-edit-commentaire">Commentaire</label>

        <div class="d-flex">
            <input type="text"
                   id="litige-edit-commentaire"
                   class="commentaire form-control data"
                   name="commentaire">
            <button type="button"
                    class="btn btn-outline-secondary form-group m-0 ml-2"
                    onclick="getCommentAndAddHisto()">Ajouter</button>
        </div>
    </div>
    <div class="form-group col-12">
        <div>
            {% include 'attachment/attachment.html.twig' with {
                'isNew': false
            } %}
        </div>
    </div>
</div>
<div class="label">Historique</div>
<div class="tableHistoric">
    <table id="tableHistoLitige"
           class="table w-100"></table>
</div>
<input hidden value="{{ dispute.id }}"
       id="disputeId"
       class="data">
<div class="separatorDatatable my-4"></div>
<div class="label">Articles</div>
<div class="tableArticleLitige">
    <table id="tableArticleInLitige"
           class="table w-100"></table>
</div>
