<div class="form-group">
    <label for="libelle">Libellé</label>
    <input type="text" class="form-control data" name="label" id='label' value="{{article.label}}" placeholder="">
</div>
<div class="form-group col-6">
    <div class="input-group">
        <div class="form-group">
            <label>Anomalie</label>
            <label class="switch">
                <input class="checkbox" type="checkbox" name="anomalie" {{ (article.conform == 1) ? '' : 'checked' }}>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Commentaire</label>
    <input id='commentaireID' class="form-control data" name="commentaire" type="hidden" value='{{article.commentaire}}'>
    <div class="editor-container" value="{{article.commentaire}}" onfocusout="setCommentaireID($(this))"> 
        {{article.commentaire|raw}}
    </div>
</div>

