<div class="form-group">
    <label for="NumeroReception">Numéro Réception</label>
    <input type="text" class="form-control data" name="NumeroReception" id='reference'
        value="{{reception.numeroReception}}" placeholder="N°Reception">
</div>

<div class="form-group">
    <label for="date-commande">Date commande</label>
    <input type="date" class="form-control data" name="date-commande" id="dateCommande"
        value="{{reception.date | date('Y-m-d')}}" required="true" min="{{ 'now' | date('Y-m-d') }}"
        max="{{ '+25year' | date('Y-m-d') }}">
</div>

<div class="form-group">
    <label for="date-attendu">Date attendue</label>
    <input type="date" class="form-control data" name="date-attendu" id='dateAttendu'
        value="{{reception.dateAttendu | date('Y-m-d')}}" required="true" min="{{ 'now' | date('Y-m-d') }}"
        max="{{ '+25year' | date('Y-m-d') }}">
</div>
<div class="form-group">
    <label for="statut">Statut</label>
    <select class="form-control data" name="statut">
        {% for statut in statuts %}
            {% set selected = (statut.id == reception.statut.id ? 'selected' : '') %}
            <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group w-100">
    <label for="fournisseurs">Fournisseur</label>
    <select class="form-control ajax-autocomplete-fournisseur-edit data" name="fournisseur" id='fournisseur'>
        <option value="{{reception.fournisseur.id}}">{{ reception.fournisseur.nom }}</option>
        
    </select>
</div>
<div class="form-group w-100">
    <label for="utilisateur">Utilisateur</label>
    <select class="form-control ajax-autocomplete-user-edit data" name="utilisateur">
        <option value="{{reception.utilisateur.id}}">{{ reception.utilisateur.username }}</option>
        
    </select>
</div>

<div class="form-group">
    <label for="Reception">Commentaire</label>
    <input id='commentaire' class="form-control data" name="commentaire" type="hidden" value="{{reception.commentaire}}">
        <div class="editor-container" value="{{reception.commentaire}}"> {{reception.commentaire|raw}}
            </div>
</div>


