<div class="row">
    {% if fieldsParam|isFieldRequired('numeroReception', 'displayed') %}
        <div class="form-group col-6">
            <label for="numeroReception" title="n° de réception">{{ 'réception.n° de réception'|trans }}{{ fieldsParam|isFieldRequired('numeroReception', 'mustToModify') ? '*' : '' }}</label>
            <input type="text"
                   class="form-control data Numéro Réception{{ fieldsParam|isFieldRequired('numeroReception', 'mustToModify') ? 'needed' : '' }}"
                   name="numeroReception" id='numeroReception'
                   value="{{ reception.numeroReception }}">
        </div>
    {% endif %}
    <div class="form-group col-6">
        <label for="statut">Statut*</label>
        <select class="form-control data" name="statut">
            {% for statut in statuts %}
                {% set selected = (statut.id == reception.statut.id ? 'selected' : '') %}
                <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="row">
    {% if fieldsParam|isFieldRequired('dateCommande', 'displayed') %}
        <div class="form-group col-6">
            <label for="dateCommande">Date commande{{ fieldsParam|isFieldRequired('dateCommande', 'mustToModify') ? '*' : '' }}</label>
            <input type="text" class="form-control cursor-default data {{ fieldsParam|isFieldRequired('dateCommande', 'mustToModify') ? 'needed' : '' }}"
                   name="dateCommande" id="dateCommande"
                   placeholder="jj/mm/aaaa"
                   value="{{ reception.dateCommande is empty ? '' : (reception.dateCommande | date('d/m/Y')) }}"
                   required="true">
        </div>
    {% endif %}

    {% if fieldsParam|isFieldRequired('dateAttendue', 'displayed') %}
        <div class="form-group col-6">
            <label for="dateAttendue">Date attendue{{ fieldsParam|isFieldRequired('dateAttendue', 'mustToModify') ? '*' : '' }}</label>
            <input type="text" class="form-control data {{ fieldsParam|isFieldRequired('dateAttendue', 'mustToModify') ? 'needed' : '' }}"
                   name="dateAttendue" id='dateAttendue'
                   value="{{ reception.dateAttendue is empty ? '' : reception.dateAttendue | date('Y-m-d') }}"
                   placeholder="jj/mm/aaaa"
                   required="true">
        </div>
    {% endif %}
</div>

<div class="row">
    {% if fieldsParam|isFieldRequired('numCommande', 'displayed') %}
        <div class="form-group col-6">
            <label for="numeroCommande">Numéro de commande{{ fieldsParam|isFieldRequired('numCommande', 'mustToModify') ? '*' : '' }}</label>
            <input type="text" class="form-control data {{ fieldsParam|isFieldRequired('numCommande', 'mustToModify') ? 'needed' : '' }}"
                   name="numeroCommande" id='numeroCommande'
                   value="{{ reception.reference }}">
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('emplacement', 'displayed') %}
        <div class="form-group col-6 w-100">
            <label>Emplacement{{ fieldsParam|isFieldRequired('emplacement', 'mustToModify') ? '*' : '' }}</label>
            <select class="ajax-autocompleteEmplacement-edit data form-control {{ fieldsParam|isFieldRequired('emplacement', 'mustToModify') ? 'needed' : '' }}" name="location">
                {% if reception.location != null %}
                    <option value="{{ reception.location.id}}">{{ reception.location.label}}</option>
                {% endif %}
            </select>
        </div>
    {% endif %}
</div>

<div class="row fly-form">
    {% if fieldsParam|isFieldRequired('fournisseur', 'displayed') %}
        <div class="form-group w-100 col">
            <label for="fournisseurs">Fournisseur{{ fieldsParam|isFieldRequired('fournisseur', 'mustToModify') ? '*' : '' }}</label>
            <select
                class="form-control ajax-autocomplete-fournisseur-edit data {{ fieldsParam|isFieldRequired('fournisseur', 'mustToModify') ? 'needed' : '' }}"
                name="fournisseur" id='fournisseur'>
                <option
                    value="{{ reception.fournisseur ? reception.fournisseur.id : '' }}">{{ reception.fournisseur ? reception.fournisseur.nom : '' }}</option>
            </select>
        </div>
        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
            <div class="form-group col-1 toggle-button-container">
                <span class="btn btn-primary"
                      onclick="onFlyFormToggle('fournisseurDisplay', 'addFournisseur')">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
        {% endif %}
    {% endif %}
    {% if fieldsParam|isFieldRequired('transporteur', 'displayed') %}
        <div class="form-group w-100 col">
            <label for="transporteur">Transporteur{{ fieldsParam|isFieldRequired('transporteur', 'mustToModify') ? '*' : '' }}</label>
            <select
                class="form-control data ajax-autocomplete-transporteur-edit {{ fieldsParam|isFieldRequired('transporteur', 'mustToModify') ? 'needed' : '' }}"
                name="transporteur" id="transporteur">
                <option
                    value="{{ reception.transporteur ? reception.transporteur.id : '' }}">{{ reception.transporteur ? reception.transporteur.label : '' }}</option>
            </select>
        </div>
        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
            <div class="form-group col-1 toggle-button-container">
                <span class="btn btn-primary"
                      onclick="onFlyFormToggle('transporteurDisplay', 'addTransporteur')">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
        {% endif %}
    {% endif %}
</div>

{% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
    <div class="row new-on-fly-form-container align-items-start align-items-start">
        <div class="row col-6 formulaire fly-form">
            <div class="form-group col-10 invisible" id="fournisseurDisplay">
                <label for="newFournisseur">Nom*</label>
                <input type="text" id="newFournisseur" class="form-control valeur newFormulaire neededNew copyOnTheFly" name="Nom"
                       maxlength="64">
                <label for="newFournisseurCode" class="mt-2">Code*</label>
                <input type="text" id="newFournisseurCode" class="form-control newFormulaire neededNew copiedOnTheFly" name="Code"
                       maxlength="64">
            </div>
            <div class="form-group col-2 invisible submit-button-container" id="addFournisseur">
                <span class="btn btn-success"
                      onclick="onFlyFormSubmit(Routing.generate('fournisseur_new', true), $(this), 'fournisseurDisplay', 'addFournisseur', $('#fournisseur'))">
                    <i class="fas fa-check-circle"></i>
                </span>
            </div>
        </div>
        <div class="row col-6 formulaire fly-form">
            <div class="form-group col-10 invisible" id="transporteurDisplay">
                <label for="newTransporteur">Nom*</label>
                <input type="text" id="newTransporteur" class="form-control newFormulaire neededNew copyOnTheFly" name="label"
                       maxlength="64">
                <label for="newTransporteurCode" class="mt-2">Code*</label>
                <input type="text" id="newTransporteurCode" class="form-control newFormulaire neededNew copiedOnTheFly" name="code"
                       maxlength="64">
            </div>
            <div class="form-group col-2 invisible submit-button-container" id="addTransporteur">
                <span class="btn btn-success"
                      onclick="onFlyFormSubmit(Routing.generate('transporteur_new', true), $(this), 'transporteurDisplay', 'addTransporteur', $('#transporteur'))">
                    <i class="fas fa-check-circle"></i>
                </span>
            </div>
    </div>
    </div>
{% endif %}

<div class="row">
    {% if fieldsParam|isFieldRequired('utilisateur', 'displayed') %}
        <div class="form-group w-100 col-6">
            <label for="utilisateur">Utilisateur{{ fieldsParam|isFieldRequired('utilisateur', 'mustToModify') ? '*' : '' }}</label>
            <select
                class="form-control ajax-autocomplete-user-edit data {{ fieldsParam|isFieldRequired('utilisateur', 'mustToModify') ? 'needed' : '' }}"
                name="utilisateur">
                <option
                    value="{{ reception.utilisateur ? reception.utilisateur.id : '' }}">{{ reception.utilisateur ? reception.utilisateur.username : ' ' }}</option>
            </select>
        </div>
    {% endif %}
</div>
{% if fieldsParam|isFieldRequired('commentaire', 'displayed') %}
    <div class="form-group">
        <label for="Reception">Commentaire{{ fieldsParam|isFieldRequired('commentaire', 'mustToModify') ? '*' : '' }}</label>
        <input id='commentaire' class="form-control data {{ fieldsParam|isFieldRequired('commentaire', 'mustToModify') ? 'needed' : '' }}"
               name="commentaire" type="hidden"
               value="{{ reception.commentaire }}">
        <div class="editor-container-edit" id="editor-container"
             value="{{ reception.commentaire }}"> {{ reception.commentaire|raw }}
        </div>
    </div>
{% endif %}

<!-- CHAMPS LIBRES -->
<div class="row">
    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'>
            <i class="fas fa-sort-up d-block mr-2"></i>
            <i class="fas fa-sort-down  d-none mr-2"></i>
            Champs libres
        </h3>
    </div>
    <div class="form-group col-12 blocVisible d-block" id='typeContentEdit'>
        {% for typeChampLibre in typeChampsLibres %}
            <div>
                <div class="row mt-2">
                    {% for champLibre in typeChampLibre.champsLibres %}
                        <div class="form-group col-6">
                            <label for="input">{{ champLibre.label }}{{ champLibre.requiredEdit ? '*' : '' }}</label>

                            {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                            {% set checked = ((champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : 0) == 1) ? 'checked' : '' %}
                            <label class="switch">
                                <input type="checkbox" class="data checkbox {{ champLibre.requiredEdit ? 'needed' : '' }}" {{ checked }} name="{{ champLibre.id }}">
                                <span class="slider round"></span>
                            </label>

                            {% elseif  champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_NUMBER') %}
                                <input type="number" id="{{ champLibre.id ~ 'edit' }}" class="form-control data {{ champLibre.requiredEdit ? 'needed' : '' }}"
                                       value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                                       name="{{ champLibre.id }}" id="input">

                            {% elseif  champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_LIST') %}
                                <select class="form-control data {{ champLibre.requiredEdit ? 'needed' : '' }}" id="{{ champLibre.id ~ 'edit' }}"
                                        name="{{ champLibre.id }}" id="input">
                                    <option value="">aucune selection...</option>
                                    {% for elem in  champLibre.elements %}
                                        {% set selected = elem ==( champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' )? 'selected' : '' %}
                                        <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                                    {% endfor %}
                                </select>

                            {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_LIST_MULTIPLE') and champLibre.valeurChampLibre is not null %}
                                <select id="{{ champLibre.id ~ 'edit' }}" class="form-control data list-multiple  {{ champLibre.requiredEdit ? 'needed' : '' }}"
                                        name="{{ champLibre.id }}" multiple="multiple">
                                    {% for elem in champLibre.elements %}
                                        {% set selected = (elem in (champLibre.valeurChampLibre.valeur | split(';'))) ? 'selected' : '' %}
                                        <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                                    {% endfor %}
                                </select>

                            {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_TEXT') %}
                                <input type="text" id="{{ champLibre.id ~ 'edit' }}" class="form-control data {{( champLibre.requiredEdit) ? 'needed' : '' }}"
                                       value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                                       name="{{ champLibre.id }}" id="input">

                            {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_DATETIME') %}
                                <input type="datetime-local" name="{{ champLibre.id }}" id="{{ champLibre.id ~ 'edit' }}"
                                       class="form-control data {{ champLibre.requiredEdit ? 'needed' : '' }}"
                                       value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}">

                            {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_DATE') %}
                                <input
                                    type="text"
                                    class="form-control data date-cl {{ champLibre.requiredEdit ? 'needed' : '' }}"
                                    name="{{ champLibre.id }}"
                                    id="{{ champLibre.label ~ 'edit' }}"
                                    value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
