<form method="" class="modal fade" id="modalNewLigneReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" title="nouvelle réception">{{ 'réception.nouvelle réception'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="data" name="reception" type="hidden" value="{{ reception.id }}"/>
                <!--
                BLOCK DL
                -->
                <label>Demande de livraison</label>
                <label class="switch">
                    <input class="checkbox data needs-default"
                           name="create-demande"
                           onclick="toggleForm($('.demande-form'), $(this))"
                           data-init="{{ createDL ? 1 : 0 }}"
                           type="checkbox"/>
                    <span class="slider round"></span>
                </label>
                <div class="demande-form mt-2 {{ not createDL ? 'd-none' }}" style="background-color:#F8F8F8;padding:10px;border-radius:4px;">
                    <div class="row">
                        <div class="col-4 form-group">
                            <label for="destination">Destination*</label>
                            <select name="destination" class="data ajax-autocomplete-location w-100 needed" id="locationDemandeLivraison"
                                    data-is-prefilled="{{ livraisonLocation is not empty }}">
                                <option></option>
                            </select>
                            <input hidden id="locationDemandeLivraisonValue"
                                   data-id="{{ livraisonLocation ? livraisonLocation.id : (app.user.dropzone and needsCurrentUser ? app.user.dropzone.id) }}"
                                   data-text="{{ livraisonLocation ? livraisonLocation.text : (app.user.dropzone and needsCurrentUser ? app.user.dropzone.label) }}">
                        </div>
                        <div class="col-4 form-group">
                            <label for="demandeur">Demandeur*</label>
                            <select class="select2-user data w-100 needed" name="demandeur" id="demandeurDL" onchange="demandeurChanged($(this))">
                                <option></option>
                            </select>
                        </div>
                        <input hidden id="currentUser" data-id="{{ needsCurrentUser ? app.user.id }}"
                               data-text="{{ needsCurrentUser ? app.user.username }}">
                        <div class="col-4 form-group">
                            <label for="type">Type*</label>
                            <select class="select2-type data w-100 needed" name="type"
                                    onchange="onRequestTypeChange($(this))">
                                <option>&nbsp;</option>
                                {% for type in typeChampsLibres %}
                                    <option value="{{ type.typeId }}">{{ type.typeLabel }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="collapsible expanded mb-2 direct-delivery">
                        <label>Livraison directe</label>
                        <label class="switch">
                            <input class="checkbox data needs-default"
                                   name="direct-delivery"
                                   type="checkbox"/>
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <!-- CHAMPS LIBRES -->
                    <span class="toggle-collapsible expanded">Champs libres</span>
                    <div class="collapsible expanded free-fields-container mb-2">
                        {% for type in typeChampsLibres %}
                            <div class="d-none" id="{{ type.typeId }}-new">
                                {% include 'free_field/freeFieldsViewing.html.twig' with {
                                    freeFields: type.champsLibres,
                                    freeFieldValues: [],
                                    colType: 'col-md-4 col-12',
                                    requiredType: 'requiredCreate',
                                    actionType: 'new'
                                } %}
                            </div>
                        {% endfor %}
                    </div>

                    <label for="commentaire-dl">Commentaire</label>
                    <input id='commentaire-dl'
                           class="commentaire data"
                           name="commentaire"
                           type="hidden"/>
                    <div class="editor-container" id="editor-container-new-demande"></div>
                </div>
                <div class="mt-2">
                    <label>Demande de transfert</label>
                    <label class="switch">
                        <input class="checkbox data needs-default"
                               name="create-demande-transfert"
                               onclick="toggleForm($('.transfer-form'), $(this))"
                               data-init="0"
                               type="checkbox"/>
                        <span class="slider round"></span>
                    </label>
                    <div class="transfer-form mt-4" style="background-color:#F8F8F8;padding:10px;border-radius:4px;">
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="storage">Emplacement de stockage*</label>
                                <select name="storage" class="data ajax-autocomplete-location-edit w-100 needed" id="storage">
                                </select>
                                <input hidden id="storageTransfer"
                                       data-id="{{ reception.storageLocation ? reception.storageLocation.id }}"
                                       data-text="{{ reception.storageLocation ? reception.storageLocation.label }}">
                            </div>
                            <div class="col-4 form-group">
                                <label for="origin">Emplacement d'origine'*</label>
                                <select name="origin" class="data ajax-autocomplete-location-edit w-100 needed" id="origin">
                                </select>
                                <input hidden id="originTransfer"
                                       data-id="{{ reception.location ? reception.location.id }}"
                                       data-text="{{ reception.location ? reception.location.label }}">
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                BLOCK CONDITIONNEMENT
                -->
                <div class="bloc-packing mt-5">
                    <h5 class="bold mb-3">
                        <span title="réception">{{ 'réception.réception'|trans }}</span> <span
                            title="d'articles">{{ "réception.d'articles"|trans }}</span>
                    </h5>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="form-group ">
                                <label class="w-100">
                                    Référence
                                    <select id="referenceConditionnement"
                                            class="form-control select2-autocomplete-ref-articles w-100"
                                            name="refArticleCommande"
                                            onchange="initConditionnementArticleFournisseurDefault()"></select>
                                </label>
                            </div>
                            <div class="form-group d-none">
                                <label class="w-100">
                                    Référence fournisseur
                                    <select class="form-control data select2 w-100" name="articleFournisseurDefault"></select>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-start align-items-center">
                                <div class="col-2">
                                    <label for="packing-package-number" class="sr-only">Nombre de colis</label>
                                    <input id="packing-package-number"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           name="packageNumber"/>
                                </div>
                                <div class="col-auto">conditionnement de quantité</div>
                                <div class="col-2">
                                    <label for="packing-number-in-package" class="sr-only">Nombre d'article dans le colis</label>
                                    <input id="packing-number-in-package"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           name="numberInPackage"/>
                                </div>
                                <div class="col-2 text-center">
                                    <button class="btn btn-primary"
                                            type="button"
                                            onclick="validatePacking($(this))">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="bold mt-3 mb-3 d-none packing-title">Conditionnements</h5>
                    <div class="articles-conditionnement-container">

                    </div>
                </div>

            </div>
            <div class="p-4 error-msg"></div>
            <div class="modal-footer">
                <div class="btn btn-secondary" data-dismiss="modal">Fermer</div>
                <button id="submitNewReceptionButton" type="button" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
