<form method="" class="modal fade" id="modalNewLigneReception" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle réception <span id="reference-list"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--
                BLOCK DL
                -->
                <div class="demande-livraison">
                    <h5 class="modal-title">Demande de livraison<span id="reference-list"></span></h5>
                    <div class="row mt-3">
                        <div class="col-4 form-group">
                            <label for="demandeur">Demandeur*</label>
                            <select type="text" class="select2-user data w-100 needed" name="demandeur">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-4 form-group">
                            <label for="type">Type*</label>
                            <select type="text" class="select2-type data w-100 needed" name="type"
                                    onchange="typeChoice($(this), '-new', $('#typeContentNew')), toggleRequiredChampsLibres($(this),'create')">
                                <option></option>
                                {% for type in typeChampsLibresDL %}
                                    <option value="{{type.typeId}}">{{type.typeLabel}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4 form-group">
                            <label for="destination">Destination*</label>
                            <select name="destination" class="data ajax-autocompleteEmplacement w-100 needed">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <!-- CHAMPS LIBRES -->
                    <div class="form-group col-12 blocVisible d-block" id='typeContentNew'>
                        {% for type in typeChampsLibresDL %}
                            <div class="d-none" id="{{type.typeId}}-new">
                                <div class="row mt-2">
                                    {% if type.champsLibres|length > 0 %}
                                        <p class="col-12 pl-0">Champs Libres :</p>
                                    {% endif %}
                                    {% for champ in type.champsLibres %}
                                        <div class="form-group col-6 pl-0">
                                            <label>
                                                {{champ.label|capitalize}}
                                            </label>

                                            {% if champ.typage == 'booleen' %}
                                                {% set checked = (champ.defaultValue == 1) ? 'checked' : '' %}
                                                <label class="switch">
                                                    <input type="checkbox" class="data checkbox" {{ checked }} name="{{champ.id}}">
                                                    <span class="slider round"></span>
                                                </label>

                                            {% elseif champ.typage == 'number' %}
                                                <input type="number" id="{{champ.id ~ 'create'}}" class="form-control data"
                                                       value="{{champ.defaultValue}}" name="{{champ.id}}">

                                            {% elseif champ.typage == 'list' %}
                                                <select id="{{champ.id ~ 'create'}}" class="form-control data" name="{{champ.id}}"
                                                        id="input">
                                                    <option value="{{champ.defaultValue}}">{{champ.defaultValue}}
                                                    </option>
                                                    {% for elem in champ.elements %}
                                                        {% if champ.defaultValue != elem %}
                                                            <option value="{{elem}}">{{elem}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if champ.defaultValue != "" %}
                                                        <option value=""></option>
                                                    {% endif %}
                                                </select>

                                            {% elseif champ.typage == 'text'  %}
                                                <input id="{{champ.id ~ 'create'}}" class="form-control data" type="text"
                                                       value="{{champ.defaultValue}}" name='{{ champ.id }}'>

                                            {% elseif champ.typage == 'date' %}
                                                <input type="date" name="{{ champ.id }}" id="{{champ.id ~ 'create'}}"
                                                       class="form-control data" value="{{champ.defaultValue}}">

                                            {% elseif champ.typage == 'datetime' %}
                                                <input type="datetime-local" name="{{ champ.id }}" id="{{champ.id ~ 'create'}}"
                                                       class="form-control data" value="{{champ.defaultValue}}">

                                            {% else %}
                                                <input disabled>

                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <label for="commentaire-dl" class="m-3">Commentaire</label>
                    <input id='commentaire' class="commentaire data" name="commentaire"
                           type="hidden">
                    <div class="editor-container" id="editor-container-new-demande">
                    </div>
                    <input class="data" name="reception" type="hidden" value="{{ reception.id }}">
                </div>
                <!--
                BLOCK CONDITIONNEMENT
                -->
                <div class="bloc-packing">
                    <h2>Réception d'articles</h2>
                    <div class="form-group w-50">
                        <label>Référence</label>
                        <select class="form-control select2-autocomplete-ref-articles" name="refArticle" class="selectReceptionRef"></select>
                    </div>
                </div>

            </div>
            <div class="p-4 error-msg"></div>
            <div class="modal-footer">
                <div class="btn" data-dismiss="modal">Fermer</div>
                <button id="submitNewReceptionButton" type="button" class="btn btn-success"
                        onclick="setCommentaire('#editor-container-new-demande'), validateNewRecep()">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
