<form method="" class="modal fade" id="modalNewLitige" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouveau litige"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-12">
                        <label class="wii-field-name">Type*</label>
                        {% include 'utils/warningSelectEmpty.html.twig' with {
                            array: disputeTypes,
                            warningLabel: 'Attention ! Aucun type de litige n\'a été créé',
                            redirectPath: path('settings_item', {
                                'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_STOCK'),
                                'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_RECEPTIONS'),
                                'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_DISPUTE_TYPES'),
                            }),
                            redirectLabel: 'Aller vers la page de types',
                            block: true,
                            rights: {
                                menu: constant('App\\Entity\\Menu::PARAM'),
                                action: constant('App\\Entity\\Action::CREATE')
                            }
                        } %}
                        <select class="form-control data needed" name="disputeType" title="Type" placeholder="">
                            <option disabled value="" selected></option>
                            {% for type in disputeTypes %}
                                <option value="{{ type.id }}">{{ type.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label class="wii-field-name">Statut*</label>
                        {% include 'utils/warningSelectEmpty.html.twig' with {
                            array: disputeStatuses,
                            warningLabel: 'Attention ! Aucun statut de litige n\'a été créé',
                            redirectPath: path('settings_item', {
                                'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_STOCK'),
                                'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_RECEPTIONS'),
                                'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_DISPUTE_STATUSES'),
                            }),
                            redirectLabel: 'Aller vers la page des statuts',
                            rights: {
                                menu: constant('App\\Entity\\Menu::PARAM'),
                                action: constant('App\\Entity\\Action::CREATE')
                            }
                        } %}

                        <select class="form-control data needed" name="disputeStatus" title="Statut" placeholder="">
                            <option disabled value="" selected></option>
                            {% for statut in disputeStatuses %}
                                <option value="{{ statut.id }}">{{ statut.nom }}</option>
                            {% endfor %}
                        </select>
                        {% if defaultDisputeStatusId is not null %}
                            <input type="hidden" name="default-status" data-id="{{ defaultDisputeStatusId }}"/>
                        {% endif %}
                    </div>
                    <div class="form-group w-100 col-12">
                        <label class="wii-field-name" for="acheteursLitige">Acheteur(s)</label>
                        <select class="form-control data" name="acheteursLitige" data-s2="user"
                                multiple>
                        </select>
                    </div>
                    <div class="form-group w-100 col-12">
                        <label class="wii-field-name" for="disputeReporter">Déclarant*</label>
                        <select class="form-control data needed" name="disputeReporter"
                                data-s2="user">
                        </select>
                        <input hidden
                               name="logged-user"
                               data-username="{{ app.user.username }}"
                               data-id="{{ app.user.id }}"/>
                    </div>
                    <div class="form-group w-100 col-12">
                        <label class="wii-field-name" for="disputePacks" title="articles">{{ trans('Ordre', 'Réceptions', 'articles', false) }}*</label>
                        <select class="form-control select2 w-100 data needed select2-autocomplete-articles"
                                id="disputePacks" name="disputePacks" multiple="multiple">
                        </select>
                    </div>
                    <div class="form-group col-8 h-fit-content">
                        <label class="wii-field-name" for="litige-commentaire">Commentaire</label>
                        <input type="text" id="litige-commentaire" class="commentaire form-control data"
                               name="commentaire">
                    </div>
                    <div class="form-group col-3 mt-4">
                        <label class="wii-field-text">Urgence ?</label>
                        <label class="switch">
                            <input class="checkbox data" type="checkbox" name="emergency">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-group col-12">
                        <div>
                            {% include 'attachment/attachment.html.twig' with {
                                'isNew' : true
                            } %}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', id: 'submitNewLitige'}
                ],
            } %}

        </div>
    </div>
</form>
