<!-- Modal -->
<form method="" class="modal fade" id="modalNewReception" role="dialog" aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nouvelle réception</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">

                <div class="form-group w-100">
                    <label for="fournisseurs">Fournisseur</label>
                    <select class="form-control select2 data needed" name="fournisseur" required>
                        <option disabled selected> </option>
                        {% for fournisseur in fournisseurs %}
                            <option value="{{ fournisseur.id }}">{{ fournisseur.nom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="date-attendu">Date attendue</label>
                    <input type="date" class="form-control data" name="date-attendu" value="" required="true" min="{{ 'now' | date('Y-m-d') }}" max="{{ '+25year' | date('Y-m-d') }}">
                </div>

                <div class="form-group">
                    <label>Anomalie</label>
                    <label class="switch">
                        <input class="checkbox" type="checkbox" name="anomalie">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="form-group">
                    <label for="date-commande">Date commande</label>
                    <input type="date" class="form-control data" name="date-commande" value="" required="true"  max="{{ '+25year' | date('Y-m-d') }}">
                </div>

                <div class="form-group">
                    <label>Référence</label>
                    <input type="text" class="form-control data" name="reference">
                </div>

                <div class="form-group">
                    <label for="NumeroReception">Commentaire</label>
                    <textarea class="form-control data" name="commentaire"></textarea>
                    </div>

                <div class="error-msg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitButton" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>