<div class="row">
    <div class="form-group col-6">
        <label for="NumeroReception">Numéro Réception*</label>
        <input type="text" class="form-control data needed" name="NumeroReception" id='reference'
            value="{{reception.numeroReception}}" placeholder="N°Reception">
    </div>
    <div class="form-group col-6">
        <label for="statut">Statut*</label>
        <select class="form-control data" name="statut">
            {% for statut in statuts %}
                {% set selected = (statut.id == reception.statut.id ? 'selected' : '') %}
                <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom }}</option>
            {% endfor %}
        </select>
    </div>

</div>

<div class="row">
    <div class="form-group col-6">
        <label for="date-commande">Date commande</label>
        <input type="date" class="form-control data" name="date-commande" id="dateCommande"
            value="{{reception.dateCommande is empty ? '' : reception.dateCommande | date('Y-m-d')}}" required="true"
            max="{{ '+25year' | date('Y-m-d') }}">
    </div>

    <div class="form-group col-6">
        <label for="date-attendue">Date attendue</label>
        <input type="date" class="form-control data" name="date-attendue" id='dateAttendue'
            value="{{reception.dateAttendue is empty ? '' : reception.dateAttendue | date('Y-m-d')}}" required="true"
            max="{{ '+25year' | date('Y-m-d') }}">
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <label for="NumeroCommande">Numéro de commande*</label>
        <input type="text" class="form-control data needed" name="NumeroCommande" id='Ncommande'
               value="{{reception.reference}}" placeholder="N°Commande">
    </div>
    <div class="form-group w-100 col-6">
        <label for="utilisateur">Utilisateur*</label>
        <select class="form-control ajax-autocomplete-user-edit data" name="utilisateur">
            <option value="{{reception.utilisateur.id}}">{{ reception.utilisateur.username }}</option>

        </select>
    </div>
</div>

<div class="row">
    <div class="form-group w-100 col-4">
        <label for="fournisseurs">Fournisseur*</label>
        <select class="form-control ajax-autocomplete-fournisseur-edit data" name="fournisseur" id='fournisseur'>
            <option value="{{reception.fournisseur.id}}">{{ reception.fournisseur.nom }}</option>

        </select>
    </div>
    <div class="form-group col-2">
        <span class="btn btn-primary" onclick="toggleInput('fournisseurDisplay', 'addFournisseur')"><i class="fa fa-plus"></i></span>
    </div>
    <div class="form-group w-100 col-4">
        <label for="transporteur">Transporteur</label>
        <select class="form-control data ajax-autocomplete-transporteur-edit" name="transporteur" id="transporteur">
            <option value="{{reception.transporteur.id}}">{{ reception.transporteur.label }}</option>

        </select>
    </div>
    <div class="form-group col-1">
        <span class="btn btn-primary" onclick="toggleInput('transporteurDisplay', 'addTransporteur')"><i class="fa fa-plus"></i></span>
    </div>
</div>
<div class="row line-arrivage-new-data">
    <div class="row col-6 formulaire">
        <div class="form-group col-10" id="fournisseurDisplay">
            <label for="newFournisseur">Nom fournisseur</label>
            <input type="text" id="newFournisseur" class="form-control valeur newFormulaire" name="Nom" maxlength="64">
            <label for="newFournisseurCode">Code référence</label>
            <input type="text" id="newFournisseurCode" class="form-control newFormulaire" name="Code" maxlength="64">
        </div>
        <div class="form-group col-2" id="addFournisseur">
            <span class="btn btn-success" onclick="newLine(Routing.generate('fournisseur_new', true), $(this), 'fournisseurDisplay', 'addFournisseur')"><i class="fas fa-check-circle"></i></span>
        </div>
    </div>
    <div class="row col-6 formulaire">
        <div class="form-group col-10" id="transporteurDisplay">
            <label for="newTransporteur">Nom transporteur</label>
            <input type="text" id="newTransporteur" class="form-control newFormulaire" name="label" maxlength="64">
            <label for="newTransporteurCode">Nom transporteur</label>
            <input type="text" id="newTransporteurCode" class="form-control newFormulaire" name="code" maxlength="64">
        </div>
        <div class="form-group col-2" id="addTransporteur">
            <span class="btn btn-success" onclick="newLine(Routing.generate('transporteur_new', true), $(this), 'transporteurDisplay', 'addTransporteur')"><i class="fas fa-check-circle"></i></span>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="Reception">Commentaire</label>
    <input id='commentaire' class="form-control data" name="commentaire" type="hidden"
        value="{{reception.commentaire}}">
    <div class="editor-container-edit" id="editor-container" value="{{reception.commentaire}}"> {{reception.commentaire|raw}}
    </div>
</div>


<!-- CHAMPS LIBRES -->
<div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
    <h3 class='d-flex pointer'>
        <i class="fas fa-sort-up d-block mr-2"></i>
        <i class="fas fa-sort-down  d-none mr-2"></i>
        Champs libres
    </h3>
</div>
<div class="form-group col-12 blocVisible d-block" id='typeContentEdit'>
    {% for typeChampLibre in typeChampsLibres %}
        <div class="{{ reception.type is not empty and typeChampLibre.typeId == reception.type.id ? 'd-block' : 'd-none'}}">
        <div class="row mt-2">
            {% for champLibre in typeChampLibre.champsLibres %}
            <div class="form-group col-6">
                <label for="input">{{ champLibre.label | capitalize}}</label>

                {% if champLibre.typage == 'booleen' %}
                {% set checked = ((champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : 0) == 1) ? 'checked' : '' %}
                <label class="switch">
                    <input type="checkbox" class="data checkbox" {{ checked }} name="{{ champLibre.id}}">
                    <span class="slider round"></span>
                </label>

                {% elseif  champLibre.typage == 'number' %}
                <input type="number" id="{{ champLibre.id ~ 'edit'}}" class="form-control data"
                    value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                    name="{{ champLibre.id}}" id="input">

                {% elseif  champLibre.typage == 'list' %}
                <select class="form-control data" id="{{ champLibre.id ~ 'edit'}}" name="{{ champLibre.id}}" id="input">
                    <option value="">aucune selection...</option>
                    {% for elem in  champLibre.elements %}
                    {% set selected = elem ==( champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' )? 'selected' : '' %}
                    <option value="{{elem}}" {{ selected }}>{{elem}}</option>
                    {% endfor %}
                </select>

                {% elseif champLibre.typage == 'text' %}
                <input type="text" id="{{ champLibre.id ~ 'edit'}}" class="form-control data"
                    value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                    name="{{  champLibre.id }}" id="input">

                {% elseif champLibre.typage == 'date' %}
                <input type="date" name="{{ champLibre.id }}" id="{{champLibre.id ~ 'edit'}}" class="form-control data"
                    value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
