<form method="" class="modal fade" id="modalAddArticle" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une ligne</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-6">
                        <div class="input-group">
                            <label class="input-group-text data" for="refArticle">Référence CEA</label>
                            <select id="refArticle" onchange="updateStock($(this));" class='form-control select1 data'
                                name='refArticle' type="text">
                                <option disabled selected> </option>
                                {% for article in refArticles %}
                                <option value="{{ article.id }}">
                                    {{ article.libelle }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="libelle">Libellé</label>
                            </div>
                            <input class="form-control data" type="text" name="libelle" id="libelle">
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="" class="input-group-text">Quantité en stock</label>
                            </div>
                            <input id="stock" type="text" class="form-control data" name="stock">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="" class="input-group-text">Quantité reçue</label>
                            </div>
                            <input type="number" class="form-control data" name="quantite" id="quantite" min=0>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Anomalie</label>
                        <label class="switch">
                            <input class="checkbox" type="checkbox" name="anomalie">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
               
                    <div class="form-group col-6">
                        <label>Commentaire</label>
                        <input id='commentaireID' class="form-control data" name="commentaire" type="hidden">
                        <div class="editor-container"></div>
                    </div> 

                <!-- CHAMPS LIBRES -->
                <div class="row mt-4">
                    <div class='col-12 mb-2' 
                    onclick="visibleBlockModal($(this))"
                    >
                        <h3 class='d-flex pointer'>
                            <i class="fas fa-sort-up d-block mr-2"></i>
                            <i class="fas fa-sort-down d-none mr-2"></i>
                            Champs libres
                        </h3>
                    </div>

                    <div class="form-group col-12 " id='typeContentNew'>
                      
                        <div id="{{type.id}}-new">
                            <div class="row mt-2">

                                {% for champ in type.champsLibres %}
                                <div class="form-group col-6">
                                    <div class="input-group">
                                        {% if champ.typage == 'booleen' %}
                                        {% set checked = (champ.defaultValue == 1) ? 'checked' : '' %}
                                        <label class="input-group-text" for="input">
                                            {{champ.label}}
                                        </label>
                                        <input type="checkbox" class="data checkbox" {{ checked }} name="{{champ.id}}"
                                            id="input">
                                        {% elseif champ.typage == 'number' %}
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="input">
                                                {{champ.label}}
                                            </label>
                                        </div>
                                        <input type="number" class="form-control data" value="{{champ.defaultValue}}"
                                            name="{{champ.id}}" id="input">
                                        {% else %}
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="input">
                                                {{champ.label}}
                                            </label>
                                        </div>
                                        <input class="form-control data" type="text" value="{{champ.defaultValue}}"
                                            name='{{ champ.id }}' id="input">
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="error-msg"></div>

            </div>

            <div class="modal-footer">
                <input hidden class="data" name="fournisseur" value="{{ reception.fournisseur.id }}">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="addArticleSubmit" type="button" data-dismiss="modal"
                    class="btn btn-primary btn-success data" name="reception" value="{{reception.id}}"
                    onclick='setCommentaireID($(this))'>Enregistrer</button>
            </div>
        </div>
    </div>
</form>