<form method="" class="modal fade" id="modalNewLitige" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau litige</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
                <div class="modal-body modal-input container-fluid">
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="statutLitige">Type*</label>
                            {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                                array: typesLitige,
                                warningLabel: 'Attention ! Aucun type de litige n\'a été créé',
                                redirectPath: path('types_param_index'),
                                redirectLabel: 'Aller la page de types'
                            } %}
                            <select class="form-control data needed" id="typeLitige" name="typeLitige">
                                <option placeholder="" disabled value="" selected></option>
                                {% for type in typesLitige %}
                                    <option value="{{ type.id }}">{{ type.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label for="statutLitige">Statut*</label>
                            {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                                array: statusLitige,
                                warningLabel: 'Attention ! Aucun statut de litige n\'a été créé',
                                redirectPath: path('status_param_index'),
                                redirectLabel: 'Aller la page de statuts'
                            } %}

                            <select class="form-control data needed" id="statutLitige" name="statutLitige">
                                <option placeholder="" disabled value="" selected></option>
                                {% for statut in statusLitige %}
                                    <option value="{{ statut.id }}">{{ statut.nom }}</option>
                                {% endfor %}
                            </select>
                            {% if defaultLitigeStatusId is defined and defaultLitigeStatusId != null %}
                                <input hidden name="default-status" data-id="{{ defaultLitigeStatusId }}"/>
                            {% endif %}
                        </div>
                        <div class="form-group w-100 col-12">
                            <label for="acheteursLitige">Acheteur(s)</label>
                            <select class="form-control data select2" name="acheteursLitige" id="acheteursLitige"
                                    multiple="multiple">
                                {% for acheteur in acheteurs %}
                                    <option value="{{ acheteur.id }}">{{ acheteur.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group w-100 col-12">
                            <label for="colisLitige">{{ 'réception.articles'|trans|capitalize }}*</label>
                            <select class="form-control select2 w-100 data needed select2-autocomplete-articles"
                                    id="colisLitige" name="colisLitige" multiple="multiple">
                            </select>
                        </div>
                        <div class="form-group col-12 h-fit-content">
                            <label for="litige-commentaire">Commentaire</label>
                            <input type="text" id="litige-commentaire" class="commentaire form-control data"
                                   name="commentaire">
                        </div>

                        <div class="form-group col-12">
                            <div>
                                {% include 'reception/attachements.html.twig' with {'isNew' : true} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewLitige" type="button" class="btn btn-success">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
