{% extends 'utils/show-header.html.twig' %}


{% block showHiddenInputs %}
    <input type="hidden" id="numCommandeReception" value="{{ reception.reference }}"/>
    <input id="receptionId" value="{{ reception.id }}" type="hidden"/>
{% endblock %}

{% block showTitleTooltip 'réception' %}
{% block showTitle (('réception.réception'|trans) ~ ' ' ~ reception.numeroReception) %}

{% block showActions %}
    <div class="btn-group">
        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
            <button type="button"
                    data-target='#modalNewLigneReception'
                    data-toggle='modal'
                    onclick='clearModalLigneReception("#modalNewLigneReception"), initNewLigneReception()'
                    class="btn btn-primary btn-ripple split-button" title="réception">
                {{ 'réception.réception'|trans }}
            </button>
        {% endif %}
        <button type="button"
                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>
        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
            {% if modifiable %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <a href="" data-id='{{ reception.id }}' data-target='#modalEditReception' data-toggle='modal'
                       class="dropdown-item"
                       onclick="editRow(
                           $(this),
                           Routing.generate('api_reception_edit', true),
                           $('#modalEditReception'),
                           $('#submitEditReception'),
                           true,
                           '.editor-container-edit',
                           false,
                           initEditReception
                       )">
                        <i class="fa fa-edit mr-2"></i>Modifier
                    </a>
                    <div class="dropdown-item" onclick="finishReception({{ reception.id }}, false)">
                        <i class="mr-2 fa fa-flag"></i>Fin <span title="réception">{{ 'réception.réception'|trans }}</span>
                    </div>
                {% endif %}
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_LIVR')) and reception.demandes|length > 0 %}
                    <a href="{{ path('demande_index', {'reception': reception.id }) }}"
                       class="dropdown-item">
                        <i class="mr-2 fas fa-external-link-alt"></i>Voir les demandes</a>
                {% endif %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                    <a href=""
                       data-id='{{ reception.id }}'
                       data-target='#modalDeleteReception'
                       data-toggle='modal'
                       class="dropdown-item"
                       onclick="checkAndDeleteRow($(this), '#modalDeleteReception', 'reception_check_delete', '#submitDeleteReception')">
                        <i class="fa fa-trash mr-2"></i>Supprimer</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
