{% extends 'utils/show-header.html.twig' %}


{% block showHiddenInputs %}
    <input type="hidden" id="numCommandeReception" value="{{ reception.orderNumber }}"/>
    <input id="receptionId" value="{{ reception.id }}" type="hidden"/>
{% endblock %}

{% block showTitleTooltip 'réception' %}
{% block showTitle trans('Ordre','Réceptions', 'réception', false) %}
{% block showSubtitle (reception.number) %}

{% block showActions %}
    <div class="btn-group">
        {% set canReceive = (hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) and modifiable) %}
        {% set canDelete = (hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) and modifiable) %}
        {% set hasDemande = (hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_LIVR')) and reception.demandes|length > 0) %}
        {% set hasTransfer = (hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_ORDRE_TRANS')) and reception.transferRequest|length > 0) %}
        {% set dropdownNeedsToBeDisplayed = (not modifiable) or canReceive or hasDemande or canDelete %}

        {% if canReceive %}
            <button type="button"
                    data-target='#modalNewLigneReception'
                    data-toggle='modal'
                    onclick="openModalLigneReception($(this))"
                    class="btn btn-primary split-button" title="réception">
                {{ trans('Ordre','Réceptions', 'réception', false) }}
            </button>
            <button type="button"
                    class="btn btn-primary {{ dropdownNeedsToBeDisplayed ? 'split-button' }}"
                    onclick="finishReception({{ reception.id }}, false,$(this))"
                    id="finishReceptionButton">
                Fin <span title="réception">{{ trans('Ordre','Réceptions', 'réception', false) }}</span>
            </button>
        {% endif %}
        {% if dropdownNeedsToBeDisplayed %}
        <button type="button"
                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>
        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
            {% if canReceive %}
                <a data-id='{{ reception.id }}'
                   data-target='#modalEditReception'
                   data-toggle='modal'
                   class="dropdown-item pointer"
                   onclick="editRow(
                           $(this),
                           Routing.generate('api_reception_edit', true),
                           $('#modalEditReception'),
                           $('#submitEditReception'),
                           false,
                           initEditReception
                       )">
                    <i class="fa fa-edit mr-2"></i>Modifier
                </a>
            {% endif %}
            {% if not modifiable %}
                <a data-id='{{ reception.id }}'
                   data-target='#modalCancelReception'
                   data-toggle='modal'
                   class="dropdown-item pointer d-flex align-items-center">
                    <span class="wii-icon wii-icon-trash-black mr-2"></span>Annuler {{ trans('Ordre','Réceptions', 'cette réception', false) }}</a>
            {% endif %}
            {% if hasDemande %}
                <a href="{{ path('demande_index', {'reception': reception.id }) }}"
                   class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Voir les demandes de livraison</a>
            {% endif %}
            {% if hasTransfer %}
                <a href="{{ path('transfer_order_index', {'reception': reception.id }) }}"
                   class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Voir les ordres de transfert</a>
            {% endif %}
            {% if reception.purchaseRequestLines is not empty %}
                {% set firstPurchaseRequestLine = reception.purchaseRequestLines|first %}
                <a href="{{ path('purchase_request_show', {'id': firstPurchaseRequestLine.purchaseRequest.id }) }}"
                   class="dropdown-item">
                    <i class="mr-2 fas fa-external-link-alt"></i>Aller sur la demande d'achat</a>
            {% endif %}
            {% if canDelete %}
                <a data-id='{{ reception.id }}'
                   data-target='#modalDeleteReception'
                   data-toggle='modal'
                   class="dropdown-item pointer d-flex align-items-center"
                   onclick="checkAndDeleteRow($(this), '#modalDeleteReception', 'reception_check_delete', '#submitDeleteReception')">
                    <span class="wii-icon wii-icon-trash-black mr-2"></span>Supprimer</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block showUrgence %}
    {% set manualUrgent = reception.manualUrgent %}
    {% set urgentArticles = reception.urgentArticles %}
    {% if manualUrgent or urgentArticles %}
        <i class="fa fa-exclamation-triangle mr-2"></i>
        <span title="{{
            ((manualUrgent and urgentArticles) ? 'Cette réception ainsi qu\'une ou plusieurs références liées sont urgentes'
                : (manualUrgent ? 'Cette réception est urgente'
                    : (urgentArticles ? 'Une ou plusieurs références liées à cette réception sont urgentes'
                        : '')))
            }}">
            {{
                ((manualUrgent and urgentArticles) ? trans('Ordre','Réceptions', 'Cette réception ainsi qu\'une ou plusieurs références liées sont urgentes', false)
                    : (manualUrgent ? trans('Ordre','Réceptions', 'Cette réception est urgente', false)
                        : (urgentArticles ? trans('Ordre','Réceptions', 'Une ou plusieurs références liées à cette réception sont urgentes', false)
                            : '')))
            }}
        </span>
    {% endif %}
{% endblock %}
