{% extends "layout.html.twig" %}

{% block title %}Ordre | {{ 'réception.réception'|trans }} | Détails{% endblock %}
{% block title_tooltip %}Ordre | Réception | Détails{% endblock %}
{% block titleLink path('reception_index') %}

{% block page_content %}
    {% set displayLitiges = hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::DISPLAY_LITI')) %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "reception/reception-show-header.html.twig" with {
                        showDetails: detailsHeader,
                        modifiable: modifiable,
                        reception: reception
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="{{ displayLitiges ? 'col-6 pr-2' : 'col-12' }}">
                <div class="wii-page-card">
                    <div class="row mb-2">
                        <h5 class="col-auto h5">Liste des articles</h5>
                    </div>
                    <div class="row wii-page-card-header">
                        <div class="col-auto ml-auto">
                            <div class="btn-group">
                                {% if modifiable %}
                                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                                        <button type="button"
                                                data-toggle="modal"
                                                data-target="#modalAddLigneArticle"
                                                class="btn btn-primary btn-ripple split-button"
                                                onclick="initNewArticleEditor('#modalAddLigneArticle'),
                                                Select2.supplier($('.ajax-autocomplete-fournisseur'))">
                                            <span class="fa fa-plus mr-2"></span>Ajouter <span title="article">{{ 'réception.article'|trans }}</span>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                <button type="button"
                                        class="btn btn-primary btn-ripple d-none print dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                                    <a href="{{ path('reception_bar_codes_print', {reception: reception.id}) }}"
                                       id="buttonPrintMultipleBarcodes"
                                       class="dropdown-item d-none print">
                                        <span class="fa fa-print mr-2"></span>Générer les étiquettes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="tableArticle_id" class="table"></table>
                        </div>
                    </div>
                </div>
            </div>
            {% if displayLitiges %}
                <div class="col-6 pl-2">
                    <div class="wii-page-card">
                        <div class="row mb-2">
                            <h5 class="col-auto h5">Liste des litiges</h5>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="row wii-page-card-header">
                                <div class="col-auto ml-auto">
                                    <button type="button"
                                            data-id='{{ reception.id }}'
                                            data-target='#modalNewLitige'
                                            data-toggle='modal'
                                            class="btn btn-primary btn-ripple"
                                            onclick="openNewLitigeModal($(this))">
                                        <i class="fa fa-plus mr-2"></i>
                                        Nouveau litige
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <table id="tableReceptionLitiges" class="table w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <button class="btn" id="cannotGenerateStock" data-target='#modalCannotGenerateStock' data-toggle='modal'
            hidden></button>
    <button class="btn" id="chooseConditionnement" data-target='#modalChoose' data-toggle='modal' hidden></button>
    <button class="btn" id="finishReception" data-target='#modalFinishReception' data-toggle='modal' hidden></button>
    <input type="number" id="ligneSelected" value="-1" hidden></button>


    {% include "reception/modalDeleteReception.html.twig" %}
    {% include "reception/modalEditReception.html.twig" %}
    {% include "reception/modalEditLigneArticle.html.twig" %}
    {% include "reception/modalDeleteLigneArticle.html.twig" %}
    {% include "reception/modalAddLigneArticle.html.twig" %}
    {% include "reception/modalNoStock.html.twig" %}
    {% include "reception/modalChooseConditionnement.html.twig" %}
    {% include "article/modalEditArticle.html.twig" %}
    {% include "article/modalDeleteArticle.html.twig" %}
    {% include 'reception/modalNewLitige.html.twig' %}
    {% include 'reception/modalEditLitige.html.twig' %}
    {% include 'reception/modalNewLigneReception.html.twig' with {createDL: createDL} %}
    {% include 'reception/modalDeleteLitige.html.twig' %}
    {% include 'reception/modalFinishReception.html.twig' %}
    {% include 'reception/modalCancelReception.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/pages/form-litiges.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/pages/form-reference-article.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/pages/reception-show.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
