{% extends "layout.html.twig" %}
{% block title %}{{ 'réception.réception'|trans|capitalize }}{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col">
            <h1 title="réception">{{ 'réception.réception'|trans|capitalize }}</h1>
            <input id="receptionId" value="{{ reception.id }}" type="hidden">
        </div>
        <div class="col text-right">
            {% if modifiable %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                    <a href="" data-id='{{ reception.id }}' data-target='#modalDeleteReception' data-toggle='modal'
                       class="btn btn-danger btn-action ml-auto"
                       onclick="checkAndDeleteRow($(this), '#modalDeleteReception', 'reception_check_delete', '#submitDeleteReception')">
                        Supprimer</a>
                {% endif %}
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_LIVR')) and reception.demandes|length > 0 %}
                    <a href="{{path('demande_index', {'reception': reception.id }) }}"class="btn btn-primary btn-action ml-auto">
                        Voir les demandes</a>
                {% endif %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <a href="" data-target='#modalNewLigneReception' data-toggle='modal'
                       onclick='clearModalLigneReception("#modalNewLigneReception"), initNewLigneReception()'
                       class="btn btn-primary btn-action ml-auto" title="réception">
                        {{ 'réception.réception'|trans|capitalize }}</a>
                {% endif %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <a href="" data-id='{{ reception.id }}' data-target='#modalEditReception' data-toggle='modal'
                       class="btn btn-primary btn-action ml-auto"
                       onclick="editRow(
                           $(this),
                           Routing.generate('api_reception_edit', true),
                           $('#modalEditReception'),
                           $('#submitEditReception'),
                           true,
                           '.editor-container-edit',
                           false,
                           initDateTimePickerReception
                       )">
                        Modifier</a>
                    <div class="btn btn-primary btn-action ml-auto" onclick="finishReception({{ reception.id }}, false)">
                        Fin <span title="réception">{{ 'réception.réception'|trans }}</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row zone-entete">
        {% include "reception/enteteReception.html.twig" %}
    </div>

    <div class="row mt-2">
        <div class="col-6">
            <div class="text-right">
                {% if modifiable %}
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                        <a href="" data-toggle="modal" data-target="#modalAddLigneArticle"
                           class="btn btn-primary btn-action ml-auto"
                           onclick="initNewArticleEditor('#modalAddLigneArticle'),
                           ajaxAutoFournisseurInit($('.ajax-autocomplete-fournisseur'))">
                            <span class="fa fa-plus mr-2"></span>Ajouter <span title="article">{{ 'réception.article'|trans }}</span>
                        </a>
                    {% endif %}
                {% endif %}
                {# by default we hide button #}
                <a href="{{path('reception_bar_codes_print', {reception: reception.id})}}"
                   target="_blank"
                   id="buttonPrintMultipleBarcodes"
                   class="btn btn-primary btn-action ml-auto d-none">
                    <span class="fa"></span>Générer les étiquettes
                </a>
            </div>
            <div>
                <table id="tableArticle_id" class="table table-striped table-bordered w-100">
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="text-right">
                {% if hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::CREATE')) %}
                    <a href=""
                       data-id='{{ reception.id }}'
                       data-target='#modalNewLitige'
                       data-toggle='modal'
                       class="btn btn-primary btn-action ml-auto"
                       onclick="openNewLitigeModal($(this))">
                        <i class="fa fa-plus mr-2"></i>
                        Nouveau litige</a>
                {% endif %}
            </div>
            <div>
                <table id="tableReceptionLitiges" class="table table-striped table-bordered w-100"></table>
            </div>
        </div>
    </div>
    <button class="btn" id="cannotGenerateStock" data-target='#modalCannotGenerateStock' data-toggle='modal'
            hidden></button>
    <button class="btn" id="chooseConditionnement" data-target='#modalChoose' data-toggle='modal' hidden></button>
    <button class="btn" id="finishReception" data-target='#modalFinishReception' data-toggle='modal' hidden></button>
    <input type="number" id="ligneSelected" value="-1" hidden></button>
    <a href="{{ path('reception_index') }}" class='btn btn-action'>Retour à la liste</a>

    <div class="d-none" id="barcodes">
    </div>


    {% include "reception/modalDeleteReception.html.twig" %}
    {% include "reception/modalEditReception.html.twig" %}
    {% include "reception/modalEditLigneArticle.html.twig" %}
    {% include "reception/modalDeleteLigneArticle.html.twig" %}
    {% include "reception/modalAddLigneArticle.html.twig" %}
    {% include "reception/modalNoStock.html.twig" %}
    {% include "reception/modalChooseConditionnement.html.twig" %}
    {% include "article/modalModifyArticle.html.twig" %}
    {% include "article/modalDeleteArticle.html.twig" %}
    {% include 'reception/modalNewLitige.html.twig' %}
    {% include 'reception/modalEditLitige.html.twig' %}
    {% include 'reception/modalNewLigneReception.html.twig' with {createDL: createDL} %}
    {% include 'reception/modalDeleteLitige.html.twig' %}
    {% include 'reception/modalFinishReception.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{asset('js/form-reference-article.js')}}?{{ date().timestamp }}"></script>
    <script src="{{asset('js/attachments.js')}}?{{ date().timestamp }}"></script>
    <script src="{{asset('js/reception-show.js')}}?{{ date().timestamp }}"></script>
    <script src="{{asset('js/form-litiges.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
