{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Champs fixes{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">

        <div class="row">
            <div class="col-12">
                {% set section = constant('App\\Entity\\FieldsParam::ENTITY_CODE_ARRIVAGE') %}
                <div class="row pt-3">
                    <a data-toggle="collapse"
                       href="#{{ section }}"
                       role="button"
                       aria-expanded="false"
                       aria-controls="{{ section }}"
                       class="col-12 mb-4">
                        <h1 class="btn btn-primary m-0 w-100 border-radius-light">Catégorie {{ section }}<i
                                class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
                    </a>
                    <div class="collapse col-12" id="{{ section }}">
                        <div class="row mt-2">
                            <div class="form-group col-4">
                                <label for="businessUnit" class="d-block">Valeurs du champ Business Unit</label>
                                <select class="form-control data select2-free w-100"
                                        multiple="multiple"
                                        onchange="editBusinessUnit($(this), 'ARRIVAL_BUSINESS_UNIT_VALUES')">
                                    {% for businessUnit in arrivalBusinessUnits %}
                                        <option value="{{ businessUnit }}" selected>{{ businessUnit }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <table id="table{{ section }}" class="table w-100">
                        </table>
                    </div>
                </div>

                {% set section = constant('App\\Entity\\FieldsParam::ENTITY_CODE_RECEPTION') %}
                <div class="row pt-3">
                    <a data-toggle="collapse"
                       href="#{{ section }}"
                       role="button"
                       aria-expanded="false"
                       aria-controls="{{ section }}"
                       class="col-12 mb-4">
                        <h1 class="btn btn-primary m-0 w-100 border-radius-light">Catégorie {{ section }}<i
                                class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
                    </a>
                    <div class="collapse col-12" id="{{ section }}">
                        <table id="table{{ section }}" class="table w-100">
                        </table>
                    </div>
                </div>

                {% set section = constant('App\\Entity\\FieldsParam::ENTITY_CODE_DISPATCH') %}
                <div class="row pt-3">
                    <a data-toggle="collapse"
                       href="#{{ section }}"
                       role="button"
                       aria-expanded="false"
                       aria-controls="{{ section }}"
                       class="col-12 mb-4">
                        <h1 class="btn btn-primary m-0 w-100 border-radius-light">Catégorie {{ section }}<i class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
                    </a>
                    <div class="collapse col-12" id="{{ section }}">
                        <div class="row mt-2">
                            <div class="form-group col-4">
                                <label for="businessUnit" class="d-block">Valeurs du champ Business Unit</label>
                                <select class="form-control data select2-free w-100"
                                        multiple="multiple"
                                        onchange="editBusinessUnit($(this), 'DISPATCH_BUSINESS_UNIT_VALUES')">
                                    {% for businessUnit in dispatchBusinessUnits %}
                                        <option value="{{ businessUnit }}" selected>{{ businessUnit }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-4">
                                <label class="d-block">Valeurs du champ urgence</label>
                                <select class="form-control data select2-free w-100" multiple="multiple" name="dispatchEmergencies">
                                    {% for urgence in urgences %}
                                        <option value="{{ urgence }}" selected>{{ urgence }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <table id="table{{ section }}" class="table w-100">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'fields_param/modalEditFields.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/fields_param.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
