<form method="">
    <div class="col-12 form-group required d-none">
        <input type="text"
               class="form-control data needed" name="field" required="" value="{{ field.id }}">
    </div>

    <div class="row">
        <div class="col-12 form-group required">
            <label>Agit sur :</label>
            <input type="text" class="form-control" name="entityCode" required="" value="{{ field.entityCode }}" disabled>
        </div>

        <div class="col-12 form-group required">
            <label>Champ fixe :</label>
            <input type="text" class="form-control" name="fieldCode" required="" value="{{ field.fieldLabel }}" disabled>
        </div>

        {% set isCheckedFormCreateDisplayed = field.displayedFormsCreate ? 'checked' : '' %}
        <div class="form-group col-12">
            <label>Affiché dans formulaires de création ?</label>
            <label class="switch">
                <input class="checkbox data" type="checkbox" name="displayed-forms-create" {{ isCheckedFormCreateDisplayed }} onchange="switchDisplay($(this))">
                <span class="slider round"></span>
            </label>
        </div>

        {% set isCheckedFormEditDisplayed = field.displayedFormsEdit ? 'checked' : '' %}
        <div class="form-group col-12">
            <label>Affiché dans formulaires de modification ?</label>
            <label class="switch">
                <input class="checkbox data" type="checkbox" name="displayed-forms-edit" {{ isCheckedFormEditDisplayed }} onchange="switchDisplay($(this))">
                <span class="slider round"></span>
            </label>
        </div>

        {% if not field.fieldRequiredHidden %}
            {% set isCheckedCreate = field.mustToCreate ? 'checked' : '' %}
            <div class="form-group col-12">
                <label>Obligatoire à la création ?</label>
                <label class="switch">
                    <input class="checkbox data" type="checkbox" name="mustToCreate" {{ isCheckedCreate }} onchange="switchDisplayByMust($(this))">
                    <span class="slider round"></span>
                </label>
            </div>

            {% set isCheckedModify = field.mustToModify ? 'checked' : '' %}
            <div class="form-group col-12">
                <label>Obligatoire à la modification ?</label>
                <label class="switch">
                    <input class="checkbox data" type="checkbox" name="mustToModify" {{ isCheckedModify }} onchange="switchDisplayByMust($(this))">
                    <span class="slider round"></span>
                </label>
            </div>
        {% endif %}

        {% if field.fieldCode in filteredFields %}
            {% set isCheckedFilterDisplayed = field.displayedFilters ? 'checked' : '' %}
            <div class="form-group col-12">
                <label>Afficher dans les filtres ?</label>
                <label class="switch">
                    <input class="checkbox data" type="checkbox" name="displayed-filters" {{ isCheckedFilterDisplayed }}>
                    <span class="slider round"></span>
                </label>
            </div>
        {% endif %}

        {% if field.elements is not null %}
            <div class="form-group col-12">
                <label>Valeurs possibles</label><br>
                {# Temporaire pour Emerson, les business unit doivent êtres séparés par des ';' #}
                {% if field.fieldCode == 'businessUnit' %}
                    <input type="text" name="elements-text" class="form-control data" value="{{ field.elements | join(';') }}"/>
                {% else %}
                    <select class="form-control data select2-free w-100" multiple="multiple" name="elements">
                        {% for element in field.elements %}
                            <option value="{{ element }}" selected>{{ element }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        {% endif %}
    </div>
</form>
