{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-md-6 col-12 d-flex align-items-center my-1">
            {{ form.checkbox(setting('CLEAR_AND_KEEP_MODAL_AFTER_NEW_MVT'), 'Vider et rester sur la modale de création de mouvement', false, setting_value('CLEAR_AND_KEEP_MODAL_AFTER_NEW_MVT')) }}
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center my-1">
            {{ form.checkbox(setting('DISPLAY_WARNING_WRONG_LOCATION'), 'Afficher le détrompeur sur les mouvements de prise si UL non disponible sur l\'emplacement', false, setting_value('DISPLAY_WARNING_WRONG_LOCATION'), {
                tooltip: "L'activation de ce paramètre impactera l'application web et mobile.",
            }) }}
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center my-1">
            {{ form.checkbox(setting('DISPLAY_MANUAL_DELAY_START'), 'Afficher le champ "Début de délai manuel"', false, setting_value('DISPLAY_MANUAL_DELAY_START')) }}
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center my-1">
            {{ form.checkbox(setting('RFID_ON_MOBILE_TRACKING_MOVEMENTS'), 'Utilisation RFID sur prise / dépose mobile', false, setting_value('RFID_ON_MOBILE_TRACKING_MOVEMENTS')) }}
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center my-1">
            {{ form.checkbox(setting('DROP_MOVEMENT_ON_GROUPING'), "Dépose des groupes automatiquement sur l'emplacement des ULs du groupage et association de la nature de l'UL sur le groupe", false, setting_value('DROP_MOVEMENT_ON_GROUPING'), {
                tooltip: "Lors de la création d'un groupe sur mouvement de groupage, si au moins une UL a un délai de traitement en cours,<br/>le groupe est déposé sur l'emplacement de l'UL dont le chrono est le plus court ou en retard et prend sa nature."
            }) }}
        </div>
        <div class="col-md-6 col-12 d-flex align-items-center my-1">
            {{ form.checkbox(setting('GROUP_GET_CHILD_TRACKING_DELAY'), "Remontée des délais de traitement des unités logistique sur leur groupe", false, setting_value('GROUP_GET_CHILD_TRACKING_DELAY'), {
                tooltip: "La nature et le délai de traitement d'une unité logistique remontent sur le groupe si cette unité logistique a le délai le plus court des unités logistiques du groupe"
            }) }}
        </div>
    </div>
</div>
<div class="wii-section-title">Mails de relance</div>
<div class="wii-section">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg col-12 my-1">
            {{ form.checkbox(setting('SEND_PACK_DELIVERY_REMIND'), "Déclencher un mail de relance si UL sur point de livraison dropzone à 7j, 15j, 30j, et 42j", false, setting_value('SEND_PACK_DELIVERY_REMIND')) }}
        </div>
        <div class="col-auto my-1">
            <button class="btn btn-outline-primary" onclick="triggerReminderEmails($(this))">Déclencher les mails de relance</button>
        </div>
    </div>
</div>
