{% extends 'base.html.twig' %}

{% block title %}Zones index{% endblock %}

{% block body %}
    <h1>Zones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zone in zones %}
            <tr>
                <td>{{ zone.id }}</td>
                <td>{{ zone.nom }}</td>
                <td>
                    <a href="{{ path('zones_show', {'id': zone.id}) }}">show</a>
                    <a href="{{ path('zones_edit', {'id': zone.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('zones_new') }}">Create new</a>
{% endblock %}