{% extends 'layout.html.twig' %}

{% block title %}Demande de livraison{% endblock %}

{% block page_content %}

<div class="barre-filtre">
    <h1>Demande de livraison</h1>
    {% if history is defined %}
        <div class="row btn pull-left">
            <a href={{path('demande_index', {'history': 'false'})}} class="button btn-left"><span class="fas fa-history"></span> Mes demandes</a>
        </div>
    {% else %}
        <div class="row btn pull-left">
            <a href= {{ path('demande_index', {'history': 'true'})}} class="button btn-left"><span class="fas fa-history"></span> Historique</a>
        </div>
    {% endif %}

    <div class='row btn pull-right' >
        <a href="" data-toggle="modal" data-target="#dataModalCenter" class="button btn-left" class="button btn-left">
            <span class="fa fa-plus"></span> Nouvelle demande
        </a>
    </div>
</div>

<div class="zone-actions">
</div>

<div class="zone-affichage">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 0  %}
        {% for demande in demandes %}
            <tr {% if i % 2 == 1 %} class="backtablejv" {% endif %}>
                    {% set i = i + 1 %}
                <td>{{ demande.id }}</td>
                <td>{{ demande.numero }}</td>
                <td>{{ demande.statut.nom }}</td>
                <td>
                    <a href={{ path('demande_show', {'id': demande.id}) }} class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">aucun résultat</td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="actions-secondaires"></div>

    {{ knp_pagination_render(demandes) }}

    {% include "demande/modalDemande.html.twig" %}

{% endblock %}
