<!-- Modal -->
<form method="" class="modal fade" id="dataModalCenter" role="dialog" aria-labelledby="dataModalCenterTitle"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Créer une demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="form-group row">
                    <p class="col-form-label">Lieux de livraison</p>
                    <select class="form-control" name="direction" id="">
                        {% for item in emplacements %}
                        <option value={{item.id}}>{{ item.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <h2>Articles</h2>
                    <div class="row">
                        {% for refArticle in refArticles | sort %}
                        <div class="form-group col-4">
                            <p class=" col-form-label"><strong>{{ refArticle.libelle }}</strong> (quantité disponible:
                                {{refArticle.quantity}})</p>
                            <input class="form-control" type="number" name="piece[{{refArticle.id}}]" value=0 min="0" max={{refArticle.quantity}}>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <input class="button btn-left" type="submit" value="Commander">
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitButton" type="button" data-dismiss="modal" class="btn btn-primary btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>

{% block javascript %}
<script>
// In your Javascript (external .js resource or <script> tag)

$(document).ready(function() {
    $('.select2').select2();
});

var dataModal = document.getElementById("dataModalCenter");
var ButtonSubmit = document.getElementById("submitButton");
console.log(ButtonSubmit);


ButtonSubmit.addEventListener("click", function () {
xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() 
{
    if (this.readyState == 4 && this.status == 200) 
    {
        let obj = JSON.parse(JSON.parse(this.responseText));
        let url = obj.reception.Id;
        document.getElementById("tbody-data");
        obj.forEach(collecte => {
            let url = collecte.id;
            let refTable = document.getElementById('tbody-data');
            let rowCount = refTable.rows.length;

            // Insère d'une ligne  dans la table avec un indice dynamique + création de la ligne 
            let nouvelleLigne = refTable.insertRow(rowCount);
            let nouvelleCellule = nouvelleLigne.insertCell();
            let nouveauTexte = document.createTextNode(collecte.id)
            nouvelleCellule.appendChild(nouveauTexte)
            let nouvelleCellule = nouvelleLigne.insertCell(1);
            let nouveauTexte = document.createTextNode(collecte.numero)
            nouvelleCellule.appendChild(nouveauTexte)
            let nouvelleCellule = nouvelleLigne.insertCell(2);
            let nouveauTexte = document.createTextNode(collecte.statut)
            nouvelleCellule.appendChild(nouveauTexte)
            let nouvelleCellule = nouvelleLigne.insertCell(3);
            let nouveauTexte = document.createTextNode(collecte.id)
            nouvelleCellule.appendChild(nouveauTexte)
            let url = 'http://localhost/WiiStock/WiiStock/public/index.php/livraison/' + livraison.id;
            let nouvelleCellule = nouvelleLigne.insertCell(4);
            let a = document.createElement("a");
            a.className = 'btn btn-xs btn-default command-edit'
            a.setAttribute('href', url)
            let i = document.createElement("i")
            i.className = 'fas fa-eye fa-2x'
            nouvelleCellule.appendChild(a).appendChild(i)
            //document.getElementById('noResult').deleteRow(0)
        })

    }
};

    let inputs = document.querySelectorAll(".data"); // On récupère tout les inputs qui nous intéresse avec le querySelectorAll
    let Data = []; // Tableau de données

    inputs.forEach(input => { // Pour chaque input on fait un tableau avec pour clé son nom et comme valeur la valeur dans l'input
        Data.push({ [input.name] : input.value });
        console.log(input);
    });

    Json = JSON.stringify(Data); // On transforme les données en JSON
    xhttp.open("POST", "{{ path('creation_demande') }}", true);
    xhttp.send(Json);
});
</script>
{% endblock %}