{% extends 'layout.html.twig' %}

{% block title %}Demande{% endblock %}

{% block page_content %}

<div class="barre-filtre col-12">
    <div class="row justify-content-between">
        <h1>Demande de livraison</h1>
        <a href="" data-toggle="modal" data-target="#modifModalCenter" class="button btn-left">
            Modifier la demande
        </a>
    </div>
</div>

<div class="zone-actions row">
    <div class="col-3">
        <p>Demandeur : {{ demande.utilisateur }}</p>
        <p>Disponibilité des articles : Oui/Non</p>
        <p>Date attendu : {{ demande.DateAttendu | date("d/m/Y") }}</p>
    </div>
    
    <div class="col-3">
        <p>Date demande : {{ demande.date | date("d/m/Y") }}</p>
        <p>Référence : {{ demande.numero }}</p>
        <a href="">Aller vers la préparation : A faire</a>
    </div>

    <div class="col-2">
            <label for="statut">Statut</label>
            <select class="select2" name="statut" id="statut">
                {% for statut in statuts %}
                <option value="{{ statut.id }}">{{ statut.Nom }}</option>
                {% endfor %}
            </select>
        </div>
    
    <div class="col-4"></div>
    
    <div class="col-12">
        <div class="row justify-content-between">
            <div></div>
            <a href="" data-toggle="modal" data-target="#ajoutLigneModalCenter" class="button btn-left ml-auto">Ajouter une ligne</a>
        </div>
    </div>
</div>

    <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Références CEA</th>
                    <th>Fabriquant</th>
                    <th>Libellé</th>
                    <th>Quantité</th>
                    <th>Destination</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set i = 0 %}
                {% for article in demande.articles |reverse %}
                    <tr {% if i % 2 == 1 %}
                            class="backtablejv"
                        {% endif %}>
                        {% set i = i + 1 %}
                        <td>{{ article.nom }}</td>
                        <td>{{ article.refArticle.reference }}</td>
                        <td>fournisseurs</td>
                        <td>{{ article.refArticle.libelle }}</td>
                        <td>{{ article.direction }}</td>  
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>

    <a href={{ path('demande_index', {'history': 'false'}) }} class='button pull-left btn-left'>retour</a>


    {% include 'demande/modifModal.html.twig' %}
    {% include 'demande/ajoutLigneModal.html.twig' %}
    {#{ include('demande/_delete_form.html.twig') }#}
{% endblock %}
