{% extends 'base.html.twig' %}

{% block title %}Emplacement index{% endblock %}

{% block body %}
    <h1>Emplacement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emplacement in emplacements %}
            <tr>
                <td>{{ emplacement.id }}</td>
                <td>{{ emplacement.nom }}</td>
                <td>{{ emplacement.status }}</td>
                <td>
                    <a href="{{ path('emplacement_show', {'id': emplacement.id}) }}">show</a>
                    <a href="{{ path('emplacement_edit', {'id': emplacement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emplacement_new') }}">Create new</a>
{% endblock %}
