<div class="d-flex align-items-center">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-wiilog pointer">
            <div class="dropdown-item has-tooltip"
                 onclick="displayFirstModal($(this), {{ import.id }})">
                <i class='fas fa-sync-alt mr-2'></i>Dupliquer l'import
            </div>
            {% set logFile = import.logFile ? import.logFile.fileName %}
            {% if logFile %}
                <a href="/uploads/attachments/{{ logFile }}"
                   class="dropdown-item has-tooltip">
                    <i class='fas fa-search-plus mr-2'></i>Fichier trace
                </a>
            {% endif %}
            {% if import.deletable %}
                <button class="dropdown-item has-tooltip delete-import"
                        data-id="{{ import.id }}">
                    <i class='fas fa-times mr-2'></i>Supprimer l'import
                </button>
            {% endif %}
            {% if import.canBeForced %}
                <button class="dropdown-item has-tooltip force-import"
                        data-id="{{ import.id }}">
                    <i class='fas fa-download mr-2'></i>Forcer l'import
                </button>
            {% endif %}
            {% if import.cancellable %}
                <button class="dropdown-item has-tooltip cancel-import"
                        data-id="{{ import.id }}">
                    <i class='fas fa-times mr-2'></i>Annuler l'import
                </button>
            {% endif %}
        </div>
    </div>
</div>
