{% extends 'layout.html.twig' %}

{% block title %}Visualisation du stock{% endblock %}

{% block page_content %}

    <form>
        <div class="row backgray filter-wrapper">
            <div>
                <select class="form-control basic-multiple-zone" multiple="multiple"></select>
            </div>
            <div>
                <select class="form-control basic-multiple-quai" multiple="multiple"></select>
            </div>
            <div>
                <input type="search" class="form-control" placeholder="Libellé">
            </div>
            <div>
                <input type="search" class="form-control" placeholder="Numéro">
            </div>
            <a class="btn more-filter">Plus de filtres</a>
            <a href="#" id="filter" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </div>
    </form>

    <div class="row page-title">
        VISUALISATION DU STOCK
    </div>

    <div class="row btn-grp">
        <a href="#" class="button btn-left">
            <span class="fa fa-eye"></span>Visualisation 2D
        </a>
        <a href="#" class="button btn-left">
            <span class="fa fa-dollar"></span>Valorisation du stock
        </a>
    </div>

    <table id="grid-data" class="table table-condensed table-hover table-striped table-auto">
        <thead>
            <tr>
                <th data-column-id="id" data-visible="false" data-sortable="false">Id</th>
                <th data-column-id="statut" data-formatter="statut" data-sortable="false">Statut</th>
                <th data-column-id="numero">Numéro</th>
                <th data-column-id="designation">Désignation</th>
                <th data-column-id="libelle">Libellé</th>
                <th data-column-id="quantite">Quantité</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Détail</th>
            </tr>
        </thead>

    </table>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left pull-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
            <a href="#" class="button btn-left pull-right">
                <span class="fa fa-cloud-download"></span>Télécharger</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.basic-multiple-zone').select2({placeholder: 'Zone'});
        $('.basic-multiple-quai').select2({placeholder: 'Quai'});

        $('.daterange input').each(function () {
            $(this).datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});
        });

        $('#zone').val({{ f_zone|json_encode|raw }});
        $('#quai').val({{ f_quai|json_encode|raw }});
        $('#libelle').val({{ f_libelle|json_encode|raw }});
        $('#numero').val({{ f_numero|json_encode|raw }});
        $('#zone, #quai').trigger('change');

        var start = 0;

        var grid = $("#grid-data").bootgrid({
            rowCount: [
                10, 25, -1
            ],
            ajax: true,
            requestHandler: function (request) {
                // request.id = "b0df282a-0d67-40e5-8558-c9e93b7befed";
                request.start = start;
                request.zone = $("#zone").val();
                request.quai = $("#quai").val();
                request.libelle = $("#libelle").val();
                request.numero = $("#numero").val();

                return request;
            },
            url: "{{ path('stock') }}",
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-view\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-eye\"></span></button> ";
                },
                "statut": function (column, row) {
                    var output = "<button type=\"button\" class=\"btn btn-xs color etiquette\" data-row-id=\"" + row.id + "\">" + row[column.id] + "</button>";
                    var color;
                    switch (row[column.id]) {
                        case 'En attente':
                            color = 'backred';
                            break;
                        case 'En cours':
                            color = 'backorange';
                            break;
                        case 'En stock':
                            color = 'backgreen';
                            break;
                        default:
                            color = 'backblue';
                    }
                    output = output.replace('color', color);
                    return output;
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            /* Executes after data is loaded and rendered */
            grid.find(".command-view, .etiquette").on("click", function (e) {
                var url = "{{ path('articles_affichage', {'id': 'edit_id'}) }}";
                var id = $(this).attr("data-row-id");
                url = url.replace("edit_id", id);
                window.location.href = url;
            })
        });

        $("#filter").on("click", function () {
            start = 1;
            $("#grid-data").bootgrid('reload');
        });
    </script>
{% endblock %}