{% macro supplier_article_line(reference, line, editable = false, index = 0) %}
    <div class="ligneFournisseurArticle"
         data-multiple-key="frl"
         data-multiple-object-index="{{ index }}">
        <div class="row">
            <div class="form-group col-md-6 col-12">
                <label class="ra-field-name">Nom fournisseur*</label>
                <select class="form-control w-100 {{ editable ? 'data needed'}}" {{ not editable ? 'disabled readonly' }} data-s2="supplierLabel" onchange="loadAndDisplayLabels($(this))"
                        name="fournisseurLabel">
                    {% if line and line.fournisseur %}
                        <option value="{{ line.fournisseur.id }}">{{ line.fournisseur.nom }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-6 col-12">
                <label class="ra-field-name">Code fournisseur*</label>
                <select class="form-control w-100 {{ editable ? 'data needed'}}" {{ not editable ? 'disabled readonly' }} data-s2="supplierCode" onchange="loadAndDisplayInfos($(this))"
                        name="fournisseur">
                    {% if line and line.fournisseur %}
                        <option value="{{ line.fournisseur.id }}">{{ line.fournisseur.codeReference }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-6 col-12 {{ not reference.id ? 'd-none newContent' }}">
                <label class="ra-field-name">Ref article fournisseur*</label>
                <input class="form-control data w-100 {{ editable ? 'data needed'}}" {{ not editable ? 'disabled readonly' }} type="text" name="referenceFournisseur" value="{{ line ? line.reference }}">
            </div>
            <div class="form-group col-md-6 col-12 {{ not reference.id ? 'd-none newContent' }}">
                <label class="ra-field-name">Libellé*</label>
                <input class="form-control w-100 {{ editable ? 'data needed'}}" {{ not editable ? 'disabled readonly' }} type="text" name="labelFournisseur" value="{{ line ? line.label }}">
            </div>
        </div>
        {% if index > 0 %}
            <span class="delete-supplier-article">Supprimer l'article fournisseur</span>
        {% endif %}
        <hr>
    </div>
{% endmacro %}

{% import _self as macros %}

{% set editable = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
{% set disabled = editable ? '' : 'disabled' %}

<div class="d-flex justify-content-center align-items-center" style="margin-bottom: 50px;">
    <div class="row ra-form ra-column">
        <div class="col-12 col-md-6">
            <div class="ra-box">
                <div class="content d-flex">
                    <div class="col-5">
                        <div class="image-container"
                             style="background-image: url({{ reference.image
                             ? (app.request.scheme ~ '://' ~ app.request.httpHost ~ '/uploads/attachements/' ~ reference.image.fileName)
                             : asset('svg/reference_article/product.svg') }});
                                 background-color: {{ reference.image ? "#FFFFFF" : "#F5F5F7" }};
                                 background-size: {{ reference.image ? 'cover' : '50%' }}">
                            <span class="edit-button"></span>
                            <div class="col-12 d-flex align-items-center justify-content-end mt-3">
                                <div class="buttons mt-2">
                                    <button class="btn btn-primary edit-image">
                                        <i class='fas fa-pencil-alt'></i>
                                    </button>
                                    <button class="btn btn-danger delete-image">
                                        <i class='fas fa-trash'></i>
                                    </button>
                                </div>
                                <input type="file" name="image" class="data-file" id="upload-article-reference-image"
                                       accept="image/png, image/jpeg, image/jpg"
                                       hidden>
                            </div>
                        </div>
                        <div class="ra-small-text">
                            Importer une photo <br>de ce produit (max 10mo)
                        </div>
                    </div>
                    <div class="col-7">
                        <label class="ra-field-name">
                            Référence*
                            <input type="text" name="reference" class="form-control data needed" placeholder="Référence"
                                   value="{{ reference.reference }}">
                        </label>
                        <label class="mt-3 ra-field-name">
                            Libellé*
                            <input type="text" name="libelle" class="form-control data needed" placeholder="Libellé" value="{{ reference.libelle }}">
                        </label>
                        <label class="mt-3 ra-field-name">
                            Type*
                            <select name="type"
                                    data-s2 data-placeholder="Choisissez un type"
                                {% if not reference.id %}
                                class="form-control data d-block type needed"
                                onchange="typeChoice($(this), $(this).closest('.ra-form').find('.free-fields-container')); toggleRequiredChampsLibres($(this),'create', $(this).closest('.ra-form').find('.free-fields-container'))"
                            {% else %}
                                class="form-control d-block type"
                                disabled
                                {% endif %}>
                                {% for type in types %}
                                    <option value="{{ type.id }}"
                                            {% if reference.type and reference.type.id == type.id %}selected{% endif %}>
                                        {{ type.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </label>
                        <label class="mt-3 ra-field-name">
                            Statut*
                        </label>
                        <div class="wii-switch needed" data-title="Statut">
                            <input type="radio" name="statut" value="{{ constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') }}" content="Actif"
                                {{ reference.statut and reference.statut.code == constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') ? 'checked' }}>
                            <input type="radio" name="statut" value="{{ constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF') }}"
                                   content="Inactif"
                                {{ reference.statut and reference.statut.code == constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF') ? 'checked' }}>
                        </div>

                        <label class="with-checkbox">
                            <input type="checkbox" name="mobileSync" class="checkbox data" {{ reference.needsMobileSync ? 'checked' }}>
                            Synchronisation nomade
                            <sup>
                                <img src="{{ asset('svg/reference_article/information.svg') }}"
                                     alt="Icône information"
                                     width="10px"
                                     class="has-tooltip"
                                     title="Permet de sélectionner la référence lors de la création d'une demande de livraison sur l'application mobile">
                            </sup>
                        </label>
                    </div>
                </div>
            </div>
            <div class="ra-box">
                <div class="header">Informations</div>
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label>
                                    <span class="icon ra-field-name">
                                        <img src="{{ asset('svg/reference_article/manager.svg') }}" class="icon" alt="Image gestionnaire">
                                        Gestionnaires
                                    </span>
                                <select name="managers" class="form-control data w-100" data-s2="user"
                                        data-placeholder="Sélectionnez des gestionnaires" multiple>
                                    {% for manager in reference.managers %}
                                    <option value="{{ manager.id }}" selected>{{ manager.username }}</option>
                                    {% endfor %}>
                                </select>
                            </label>
                        </div>
                        <div class="col-12 col-md-6">
                            <label>
                                    <span class="icon ra-field-name">
                                        <img src="{{ asset('svg/reference_article/manager.svg') }}" class="icon" alt="Image acheteur">
                                        Acheteur
                                    </span>
                                <select name="buyer" class="form-control data w-100" data-s2="user"
                                        data-placeholder="Sélectionnez un utilisateur">
                                    {% if reference.buyer %}
                                    <option value="{{ reference.buyer.id }}" selected>{{ reference.buyer.username }}</option>
                                    {% endif %}>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mt-3">
                            <label>
                                    <span class="icon ra-field-name">
                                        <img src="{{ asset('svg/reference_article/warehouse.svg') }}" class="icon" alt="Image entrepôt">
                                        Catégorie d'inventaire
                                    </span>
                                {% if editable %}
                                    <select name="categorie" data-s2 class="form-control data {{ disabled }}">
                                        {% for category in categories %}
                                            <option value="{{ category.id }}"
                                                {{ reference.category and reference.category.id == category.id ? 'selected' }}>
                                                {{ category.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <input class="form-control" type="text"
                                           value="{{ reference.category ? reference.category.label }}" {{ disabled }}>
                                {% endif %}
                            </label>
                        </div>
                        <div class="col-12 col-md-6 mt-3 d-flex flex-column justify-content-around">
                            <span class="ra-field-name">Date de dernier inventaire</span>
                            <span class="ra-field-text">{{ lastInventoryDate is defined and lastInventoryDate is not null and lastInventoryDate != '' ? lastInventoryDate : '-' }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mt-3">
                            <label for="visibility-group" class="ra-field-name">Groupe de visibilité
                                <select name="visibility-group" class="form-control data" data-s2="visibilityGroup">
                                    {% if reference.visibilityGroup %}
                                        <option value="{{ reference.visibilityGroup.id }}" selected>{{ reference.visibilityGroup.label }}</option>
                                    {% endif %}
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            {% include 'attachment/attachment.html.twig' with {
                                'isNew' : not reference.id,
                                'button': 'Parcourir vos fichiers',
                                'attachments': reference.attachments,
                                'editAttachments': hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')),
                                'fieldNameClass': 'ra-field-name'
                            } %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label class="ra-field-name">Nomenclature</label>
                            <input class="form-control data" name="commentaire" type="hidden" value="{{ reference.commentaire }}">
                            <div class="form-control editor-container comment" onload="initEditor('.editor-container')">
                                {{ reference.commentaire | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="ra-box">
                <div class="header">Gestion quantité</div>
                <div class="content">
                    <label class="ra-field-name">
                        Gestion quantité*
                    </label>
                    <div class="wii-switch needed" data-title="Statut">
                        <input type="radio" name="type_quantite" value="reference" content="Référence" data-title="reference"
                            {{ reference.id ? 'class="type_quantite" disabled' : 'class="type_quantite data"' }}
                               onclick="toggleRequiredChampsFixes($(this), '.ra-form'); updateQuantityDisplay($(this), '.ra-form', true)"
                            {{ not reference.typeQuantite or reference.typeQuantite == constant('App\\Entity\\ReferenceArticle::TYPE_QUANTITE_REFERENCE') ? 'checked' }}>
                        <input type="radio" name="type_quantite" value="article" content="Article" data-title="article"
                            {{ reference.id ? 'class="type_quantite" disabled' : 'class="type_quantite data"' }}
                               onclick="toggleRequiredChampsFixes($(this), '.ra-form'); updateQuantityDisplay($(this), '.ra-form', true)"
                            {{ reference.typeQuantite == constant('App\\Entity\\ReferenceArticle::TYPE_QUANTITE_ARTICLE') ? 'checked' }}>
                    </div>

                    <div class="reference-form">
                        <div class="row">
                            <div class="col-12 col-md-4 reference mt-3">
                                <label>
                                        <span class="icon ra-field-name">
                                            <img src="{{ asset('svg/reference_article/location.svg') }}" class="icon" alt="Image emplacement">
                                            Emplacement*
                                        </span>
                                    <select name="emplacement" id="emplacement" class="form-control w-100 data needed"
                                            data-s2="location" data-placeholder="Sélectionnez un emplacement">
                                        {% if reference.emplacement %}
                                            <option value="{{ reference.emplacement.id }}">{{ reference.emplacement.label }}</option>
                                        {% endif %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-12 col-md-4 reference mt-3">
                                <label>
                                    <span class="icon ra-field-name">
                                        <img src="{{ asset('svg/reference_article/stock.svg') }}" class="icon" alt="Image quantité">
                                        Quantité en Stock{{ not reference.id ? '*' }}
                                    </span>
                                    {% if reference.id %}
                                        <span class="ra-field-text">{{ reference.quantiteStock ?? 0 }}</span>
                                    {% else %}
                                        <div class="increase-decrease-field">
                                            <button class="decrease"></button>
                                            <input type="number" id="quantite" name="quantite" class="form-control data needed"
                                                   value="0" min="0">
                                            <button class="increase"></button>
                                        </div>
                                    {% endif %}
                                </label>
                            </div>
                            <div class="col-12 col-md-4 reference mt-3">
                                <label>
                                        <span class="icon ra-field-name">
                                            <img src="{{ asset('svg/reference_article/euro.svg') }}" class="icon" alt="Image euro">
                                            Prix unitaire (€)
                                        </span>
                                    <input type="text" name="prix" class="form-control w-100 data" value="{{ reference.prixUnitaire }}">
                                </label>
                            </div>
                            <div class="col-12 col-md-4 article mt-3">
                                <label>
                                        <span class="icon ra-field-name">
                                            <img src="{{ asset('svg/reference_article/stock-management.svg') }}" class="icon"
                                                 alt="Image gestion de stock">
                                            Gestion de stock (€)
                                        </span>
                                    <select name="stockManagement" data-s2 data-placeholder="Sélectionnez une gestion de stock"
                                            class="form-control data">
                                        {% for value in stockManagement %}
                                            <option value="{{ value }}" {{ reference.stockManagement == value ? 'selected' }}>
                                                {{ value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-12 col-md-4 mt-3">
                                <label>
                                        <span class="icon ra-field-name">
                                            <img src="{{ asset('svg/reference_article/threshold.svg') }}" class="icon" alt="Image seuil d'alerte">
                                            Seuil d'alerte*
                                        </span>
                                    <div class="increase-decrease-field">
                                        <button class="decrease"></button>
                                        <input type="number" name="limitWarning" class="form-control data needed"
                                               value="{{ reference.limitWarning ?? 0 }}" min="0">
                                        <button class="increase"></button>
                                    </div>
                                </label>
                            </div>
                            <div class="col-12 col-md-4 mt-3">
                                <label>
                                        <span class="icon ra-field-name">
                                            <img src="{{ asset('svg/reference_article/threshold_red.svg') }}" class="icon"
                                                 alt="Image seuil de sécurité">
                                            Seuil de sécurité*
                                        </span>
                                    <div class="increase-decrease-field">
                                        <button class="decrease"></button>
                                        <input type="number" name="limitSecurity" class="form-control data needed"
                                               value="{{ reference.limitSecurity ?? 0 }}" min="0">
                                        <button class="increase"></button>
                                    </div>
                                </label>
                            </div>

                            <div class="form-group col-12 col-md-6 mt-3">
                                <div class="article d-none">
                                    <label class="with-checkbox">
                                        <input type="checkbox" name="urgence" class="checkbox data"
                                               onchange="toggleEmergency($(this))" {{ reference.needsMobileSync ? 'checked' }}>
                                        Urgence
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <div class="emergency-comment d-none">
                                    <label for="emergency-comment-input">Commentaire de l'urgence</label>
                                    <input class="form-control data" type="text" name="emergency-comment-input" value="{{ reference.emergencyComment }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ra-box">
                <div class="header">Fournisseurs</div>
                <div class="content">
                    <div class="supplier-articles">
                        {% if reference.id %}
                            {% for index, article in reference.articlesFournisseur %}
                                {{ macros.supplier_article_line(reference, article, false) }}
                            {% endfor %}
                        {% else %}
                            {{ macros.supplier_article_line(reference, null, true) }}
                        {% endif %}
                    </div>
                    <button class="btn btn-primary add-supplier-article"><i class="fa fa-plus mr-2"></i>Ajouter un article fournisseur</button>
                </div>
            </div>
            <div class="ra-box">
                <div class="header">Champs libres</div>
                <div class="content free-fields-container">
                    {% if reference.id %}
                        {% include 'free_field/freeFieldsViewing.html.twig' with {
                            freeFields: freeFieldsGroupedByTypes[reference.type.id] is defined ? freeFieldsGroupedByTypes[reference.type.id] : [],
                            freeFieldValues: reference.freeFields,
                            colType: 'col-md-6 col-12',
                            requiredType: 'requiredEdit',
                            actionType: 'edit',
                            fieldNameClass: 'ra-field-name'
                        } %}
                    {% else %}
                        {% for type in freeFieldTypes %}
                            <div class="d-none"
                                 data-type="{{ type.typeId }}">
                                {% include 'free_field/freeFieldsViewing.html.twig' with {
                                    freeFields: type.champsLibres,
                                    freeFieldValues: [],
                                    colType: 'col-md-6 col-12',
                                    requiredType: 'requiredCreate',
                                    actionType: 'new',
                                    disabledNeeded: true
                                } %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="save-buttons">
                <button class="btn btn-secondary" onclick="history.back()">Annuler</button>
                <button class="btn btn-success ml-2 save data"
                        data-submit="{{ submit_url }}"
                        value="{{ reference.id }}"
                        name="idRefArticle">Enregistrer
                </button>
            </div>
        </div>
        <input type="hidden" class="no-clear" id="default-image" value="{{ asset('svg/reference_article/product.svg') }}">
    </div>

</div>

<template id="supplier-article-template">
    {{ macros.supplier_article_line(reference, null, true, 'index') }}
</template>
