{% import "reference_article/form/macros.html.twig" as macros %}

{% set editable = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
{% set partialEdit = reference.id and hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT_PARTIALLY')) %}
{% set hasRightCreateDraft = (not reference.id or reference.statut.draft) and hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE_DRAFT_REFERENCE')) %}
{% set disabled = editable ? '' : 'disabled' %}
{% set isReferenceManagementQuantity = reference.id and reference.typeQuantite == constant('App\\Entity\\ReferenceArticle::QUANTITY_TYPE_REFERENCE') %}
{% set statuses = {
    'actif': {
        'status': 'active',
        'color': '#CCF0EB'
    },
    'inactif': {
        'status': 'inactive',
        'color': '#E8E8E8'
    },
    'brouillon': {
        'status': 'brouillon',
        'color': '#EAEDFA'
    }
} %}
<input type="hidden" name="draft-status-name" value="{{ constant('App\\Entity\\ReferenceArticle::DRAFT_STATUS') }}"/>
<div class="d-flex justify-content-center align-items-center" style="margin-bottom: 50px;">
    <div class="row wii-form wii-column">
        <div class="col-12 col-md-6">
            <div class="wii-box">
                {% if reference.id %}
                    <div class="d-flex justify-content-center align-items-center type-container wii-type"
                         style="background-color: {{ reference.type.color }};">
                        <span>{{ reference.type.label }}</span>
                    </div>
                {% endif %}
                <div class="content row mx-0" style="border: {{ reference.id ? '1px solid ' ~ reference.type.color }}">
                    <div class="col-md-4 col-12 p-0">
                        <div class="image-container"
                             style="background-image: url({{ reference.image
                             ? (app.request.scheme ~ '://' ~ app.request.httpHost ~ '/uploads/attachements/' ~ reference.image.fileName)
                             : asset('svg/reference_article/product.svg') }});
                                 background-color: {{ reference.image ? "#FFFFFF" : "#F5F5F7" }};
                                 background-size: {{ reference.image ? 'cover' : '50%' }}">
                            <span class="edit-button"></span>
                            <div class="col-12 d-flex align-items-center justify-content-end mt-3">
                                <div class="buttons mt-2">
                                    <button class="btn btn-primary edit-image">
                                        <i class='fas fa-pencil-alt'></i>
                                    </button>
                                    <button class="btn btn-danger delete-image py-2 {{ not reference.image ? 'd-none' }}">
                                        <span class="wii-icon wii-icon-trash"></span>
                                    </button>
                                </div>
                                <input type="file" name="image" class="data-file" id="upload-article-reference-image"
                                       accept="image/png, image/jpeg, image/jpg, image/svg, image/gif"
                                       hidden>
                            </div>
                        </div>
                        <div class="wii-small-text">
                            Importer une photo <br>de ce produit (max 10mo)
                        </div>
                    </div>
                    <div class="col-md-8 col-12">
                        {% if not partialEdit %}
                            <label class="wii-field-name" title="Référence">Référence*</label>
                            <input type="text"
                                   name="reference"
                                   class="form-control data needed"
                                   placeholder="Référence"
                                   data-draft-default="{{ draftDefaultReference ?? null }}"
                                   value="{{ reference.reference ? reference.reference : (hasRightCreateDraft ? draftDefaultReference ?? null) }}"
                                {{ hasRightCreateDraft ? 'disabled' : ' ' }}>
                        {% else %}
                            <span class="wii-field-name" style="font-size: 20px;">Ref : {{ reference.reference }}</span>
                            <input type="hidden" name="reference" class="data" value="{{ reference.reference }}">
                        {% endif %}
                        <label class="mt-3 wii-field-name" title="Libellé">Libellé*</label>
                        <input type="text" name="libelle" class="form-control data needed" placeholder="Libellé" value="{{ reference.libelle }}">
                        {% if not reference.id %}
                            <label class="mt-3 wii-field-name">Type*</label>
                            <select name="type"
                                    data-s2 data-placeholder="Choisissez un type"
                                    class="form-control data d-block type needed"
                                    onchange="typeChoice($(this), $(this).closest('.wii-form').find('.free-fields-container')); toggleRequiredChampsLibres($(this),'create', $(this).closest('.wii-form').find('.free-fields-container'))">
                                {% for type in types %}
                                    <option value="{{ type.id }}" {{ shippingSettingsDefaultValues is defined and shippingSettingsDefaultValues.type is defined and shippingSettingsDefaultValues.type == type.id ? 'selected' : '' }}>
                                        {{ type.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if not partialEdit %}
                            <label class="mt-3 wii-field-name">
                                Statut*
                            </label>
                            <div class="wii-switch needed" data-title="Statut">
                                {% if not reference.id or reference.statut.draft %}
                                    <input type="radio"
                                           name="statut"
                                           value="{{ constant('App\\Entity\\ReferenceArticle::DRAFT_STATUS') }}"
                                           content="Brouillon"
                                        {{ ((reference.statut and reference.statut.code == constant('App\\Entity\\ReferenceArticle::DRAFT_STATUS'))
                                        or (not reference.id and hasRightCreateDraft)) ? 'checked' }}
                                           onchange="changeNewReferenceStatus($(this))">
                                {% endif %}

                                {% if not hasRightCreateDraft %}
                                    <input type="radio"
                                           name="statut"
                                           value="{{ constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') }}"
                                           content="Actif"
                                        {{ not reference.statut or reference.statut.code == constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') ? 'checked' }}
                                           onchange="changeNewReferenceStatus($(this))">
                                    <input type="radio"
                                           name="statut"
                                           value="{{ constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF') }}"
                                           content="Inactif"
                                        {{ reference.statut and reference.statut.code == constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF') ? 'checked' }}
                                           onchange="changeNewReferenceStatus($(this))">
                                {% endif %}
                            </div>

                            <label class="with-checkbox">
                                <input type="checkbox" name="mobileSync"
                                       class="checkbox data" {{ reference.needsMobileSync ? 'checked' }} {{ disabled }}>
                                Synchronisation nomade
                                <sup>
                                    <img src="{{ asset('svg/information.svg') }}"
                                         alt="Icône information"
                                         width="10px"
                                         class="has-tooltip"
                                         title="Permet de sélectionner la {{ trans('Stock', 'Références', 'référence', false) }} lors de la création d'une {{ trans('Demande', 'Livraison', 'Demande de livraison', false) | lower }} sur l'application mobile">
                                </sup>
                            </label>
                        {% else %}
                            <div class="d-flex align-content-center mt-4">
                                <span class="current-status wii-body-text mr-3"
                                      style="background-color: {{ statuses[reference.statut.code]['color'] }};">
                                    Référence {{ statuses[reference.statut.code]['status'] }}
                                </span>
                                <div class="d-flex align-content-center">
                                    <img src="{{ asset('svg/reference_article/' ~ (reference.needsMobileSync
                                        ? 'mobile-sync-on.svg'
                                        : 'mobile-sync-off.svg')) }}"
                                         alt="Icône synchronisation nomade"
                                         width="10px">
                                    <span class="wii-small-text ml-2 d-flex align-items-center" style="margin: auto 0;">
                                        Synchronisation nomade
                                        <sup><img src="{{ asset('svg/information.svg') }}"
                                                  alt="Icône information"
                                                  width="10px"
                                                  class="has-tooltip"
                                                  title="Permet de sélectionner la {{ trans('Stock', 'Références', 'référence', false) }} lors de la création d'une {{ trans('Demande', 'Livraison', 'Demande de livraison', false) | lower }} sur l'application mobile">
                                        </sup>
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="wii-box">
                <div class="header wii-title">Informations</div>
                <div class="content">
                    <div class="row">
                        {% include 'reference_article/reference-date.template.html.twig' with {reference: reference} %}
                        <div class="col-12 col-md-6 {% if reference.id %}mt-3{% endif %}">
                            {% if not partialEdit %}
                                <label for="visibility-group" class="wii-field-name w-100">
                                    <i class="wii-icon wii-icon-visibility-group wii-icon-15px-primary mr-2"></i> Groupe de visibilité
                                    <select name="visibility-group" class="form-control data" data-s2="visibilityGroup">
                                        {% if reference.visibilityGroup %}
                                            <option value="{{ reference.visibilityGroup.id }}" selected>{{ reference.visibilityGroup.label }}</option>
                                        {% endif %}
                                    </select>
                                </label>
                            {% else %}
                                <div class="d-flex">
                                    <img src="{{ asset('svg/visibility-group.svg') }}" class="icon" alt="Image groupe de visibilité"
                                         width="20px">
                                    <label class="box-item ml-3">
                                        <span class="wii-field-name">Groupe de visibilité</span>
                                        <span class="wii-body-text">{{ reference.visibilityGroup ? reference.visibilityGroup.label : '-' }}</span>
                                    </label>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-column {% if reference.id %}mt-3{% endif %}">
                            <div class="d-flex">
                                <img src="{{ asset('svg/Douane.svg') }}" class="icon mr-2" alt="Image code NDP"
                                     width="15px">
                                <span class="wii-field-name">Code NDP</span>
                            </div>
                            <input class="form-control data" name="ndpCode" type="text" value={{ reference.ndpCode }}>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            {% include 'attachment/attachment.html.twig' with {
                                'isNew' : not reference.id,
                                'button': 'Parcourir vos fichiers',
                                'attachments': reference.attachments,
                                'editAttachments': editable or partialEdit,
                                'fieldNameClass': 'wii-field-name',
                            } %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label class="wii-field-name">Nomenclature</label>
                            <input class="form-control data" name="commentaire" type="hidden" value="{{ reference.commentaire }}">
                            <div class="form-control editor-container comment" data-wysiwyg>
                                {{ reference.commentaire | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wii-box">
                <div class="header wii-title">Description</div>
                <div class="content">
                    <div class="row">
                        {{ macros.descriptionForm(reference.description, descriptionConfig, 6) }}
                    </div>
                </div>
            </div>
            <div class="wii-box">
                <div class="header wii-title">Données Sécurité</div>
                <div class="content">
                    <label class="wii-field-name w-100">
                        Marchandise dangereuse
                    </label>
                    <div class="wii-switch" data-title="Security">
                        <input type="radio"
                               name="security"
                               value="{{ constant('App\\Entity\\ReferenceArticle::DATA_SECURITY_YES') }}"
                               content="Oui"
                               data-title="yes"
                               onclick="onTypeSecurityChange($(this))"
                            {{ reference.id ? 'class="security"' : 'class="security data"' }}
                            {{ reference.dangerousGoods == constant('App\\Entity\\ReferenceArticle::DATA_SECURITY_YES') ? 'checked' }}>
                        <input type="radio"
                               name="security"
                               value="{{ constant('App\\Entity\\ReferenceArticle::DATA_SECURITY_NO') }}"
                               content="Non"
                               data-title="no"
                               onclick="onTypeSecurityChange($(this))"
                            {{ reference.id ? 'class="security"' : 'class="security data"' }}
                            {{ not reference.id or reference.dangerousGoods == constant('App\\Entity\\ReferenceArticle::DATA_SECURITY_NO') ? 'checked' }}>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            {% include 'attachment/attachment.html.twig' with {
                                'isNew' : not reference.id,
                                'button': 'Parcourir vos fichiers',
                                'attachments': reference.sheet ? [reference.sheet] : [],
                                'editAttachments': editable or partialEdit,
                                'fieldNameClass': 'wii-field-name',
                                'multiple': false,
                                'label':'Fiche',
                                'nameInput':'fileSheet',
                                'attachmentLineOptions': {
                                    "sheetFileClass": "delete-sheet-file",
                                    "savedSheetFiles":"savedSheetFile",
                                    "dropFrameName":"dropFrameSheet"
                                }
                            } %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex flex-column {% if reference.id %}mt-3{% endif %}">
                            <span class="wii-field-name">Code ONU</span>
                            <input class="form-control data" name="onuCode" type="text" value={{ reference.onuCode }}>
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-column {% if reference.id %}mt-3{% endif %}">
                            <span class="wii-field-name">Classe produit</span>
                            <input class="form-control data" name="productClass" type="text" value={{ reference.productClass }}>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="wii-box">
                <div class="header wii-title">Gestion quantité</div>
                <div class="content">
                    {% if reference.id %}
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img src="{{ asset('svg/' ~ (isReferenceManagementQuantity ? 'pack.svg' : 'reference_article/article.svg')) }}"
                                     alt="Icône UL" width="20px">
                            </div>
                            <div class="col-auto">
                                <span class="wii-field-name ml-3">
                                    Quantité gérée à {{ isReferenceManagementQuantity ? 'la référence' : 'l\'article' }}
                                </span>
                            </div>
                        </div>
                        <input type="radio"
                               name="type_quantite"
                               class="type_quantite"
                               hidden
                               value="{{ isReferenceManagementQuantity ? "reference" : "article" }}"
                               content="{{ isReferenceManagementQuantity ? "Référence" : "Article" }}"
                               data-title="{{ isReferenceManagementQuantity ? "reference" : "article" }}"
                               checked>
                    {% else %}
                        <label class="wii-field-name w-100">
                            Gestion quantité*
                        </label>
                        <div class="wii-switch needed" data-title="Statut">
                            <input type="radio"
                                   name="type_quantite"
                                   value="article"
                                   content="Article"
                                   data-title="article"
                                   onclick="onTypeQuantityChange($(this))"
                                {{ reference.id ? 'class="type_quantite" disabled' : 'class="type_quantite data"' }}
                                {{ not reference.typeQuantite or reference.typeQuantite == constant('App\\Entity\\ReferenceArticle::QUANTITY_TYPE_ARTICLE') ? 'checked' }}>


                            <input type="radio"
                                   name="type_quantite"
                                   value="reference"
                                   content="Référence"
                                   data-title="reference"
                                   onclick="onTypeQuantityChange($(this))"
                                {{ reference.id ? 'class="type_quantite" disabled' : 'class="type_quantite data"' }}
                                {{ reference.typeQuantite == constant('App\\Entity\\ReferenceArticle::QUANTITY_TYPE_REFERENCE') ? 'checked' }}>

                        </div>
                    {% endif %}

                    <div class="reference-form">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    {% if reference.id %}
                                        {% if reference.typeQuantite == 'reference' %}
                                            <div class="col-12 col-md-6 reference mt-3">
                                                <div class="d-flex">
                                                    <img src="{{ asset('svg/reference_article/location.svg') }}"
                                                         class="icon"
                                                         alt="Image emplacement"
                                                         width="20px">
                                                    <label class="box-item ml-3">
                                                        <span class="wii-field-name">Emplacement</span>
                                                        <span class="wii-body-text">
                                                        {% if reference.emplacement %}
                                                            {{ reference.emplacement.label }}
                                                        {% endif %}
                                                    </span>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="col-12 col-md-6 mt-3 d-flex">
                                            <img src="{{ asset('svg/reference_article/stock.svg') }}" alt="Icône stock" width="20px">
                                            <label class="box-item ml-3">
                                                <span class="wii-field-name">Quantité en stock</span>
                                                <span class="wii-body-text">{{ reference.quantiteStock ?? 0 }}</span>
                                            </label>
                                        </div>
                                        {% if partialEdit %}
                                            <div class="col-12 col-md-6 mt-3 d-flex article">
                                                <img src="{{ asset('svg/reference_article/stock.svg') }}" alt="Icône stock" width="20px">
                                                <label class="box-item ml-3">
                                                    <span class="wii-field-name">Gestion de stock</span>
                                                    <span class="wii-body-text">{{ reference.stockManagement ?? '-' }}</span>
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="col-12 col-md-6 reference mt-3 {{ not reference.id and reference.typeQuantite != 'reference' ? 'd-none' }}">
                                            <label class="w-100">
                                                <span class="icon wii-field-name">
                                                    <img src="{{ asset('svg/reference_article/location.svg') }}" class="icon" alt="Image emplacement">
                                                    Emplacement*
                                                </span>
                                                <select name="emplacement"
                                                        class="form-control w-100 data"
                                                        data-s2="location"
                                                    {% if defaultLocation is defined and defaultLocation %}
                                                        data-draft-default-value="{{ defaultLocation.id }}"
                                                        data-draft-default-text="{{ defaultLocation.text }}"
                                                    {% endif %}
                                                        data-placeholder="Sélectionnez un emplacement"
                                                    {{ hasRightCreateDraft ? 'disabled' }}>
                                                    {% if hasRightCreateDraft and defaultLocation is defined and defaultLocation %}
                                                        <option value="{{ defaultLocation.id }}" selected>{{ defaultLocation.text }}</option>
                                                    {% endif %}
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-4 reference mt-3 {{ not reference.id and reference.typeQuantite != 'reference' ? 'd-none' }}">
                                            <label>
                                                <span class="icon wii-field-name">
                                                    <img src="{{ asset('svg/reference_article/stock.svg') }}" class="icon" alt="Image quantité">
                                                    Quantité*
                                                </span>
                                                <div class="increase-decrease-field">
                                                    <button class="decrease"></button>
                                                    <input type="number"
                                                           data-no-arrow
                                                           name="quantite"
                                                           class="form-control data w-50"
                                                           min="0"
                                                           value="{{ hasRightCreateDraft ? 0 : '' }}"
                                                        {{ hasRightCreateDraft ? 'disabled' }}>
                                                    <button class="increase"></button>
                                                </div>
                                            </label>
                                        </div>
                                    {% endif %}
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-md-6 mt-3">
                                        {% if not partialEdit %}
                                            <label class="w-100">
                                                <span class="icon wii-field-name">
                                                    <img src="{{ asset('svg/reference_article/manager.svg') }}" class="icon" alt="Image gestionnaire">
                                                    Gestionnaires
                                                </span>
                                                <select name="managers" class="form-control w-100 data" data-s2="user"
                                                        data-placeholder="Sélectionnez des gestionnaires" multiple>
                                                    {% for manager in reference.managers %}
                                                    <option value="{{ manager.id }}" selected>{{ manager.username }}</option>
                                                    {% endfor %}>
                                                </select>
                                            </label>
                                        {% else %}
                                            <div class="d-flex">
                                                <img src="{{ asset('svg/reference_article/manager.svg') }}" class="icon" alt="Image gestionnaire"
                                                     width="20px">
                                                <label class="box-item ml-3">
                                                    <span class="wii-field-name">Gestionnaires</span>
                                                    <span
                                                        class="wii-body-text">{{ reference.managers is not empty ? reference.managers | join(', ') : '-' }}</span>
                                                </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-6 mt-3">
                                        {% if not partialEdit %}
                                            <label>
                                                <span class="icon wii-field-name">
                                                    <img src="{{ asset('svg/reference_article/manager.svg') }}" class="icon" alt="Image acheteur">
                                                    Acheteur
                                                </span>
                                                <select name="buyer" class="form-control data w-100" data-s2="user"
                                                        data-placeholder="Sélectionnez un utilisateur">
                                                    {% if reference.buyer %}
                                                    <option value="{{ reference.buyer.id }}" selected>{{ reference.buyer.username }}</option>
                                                    {% endif %}>
                                                </select>
                                            </label>
                                        {% else %}
                                            <div class="d-flex">
                                                <img src="{{ asset('svg/reference_article/manager.svg') }}" class="icon" alt="Image acheteur"
                                                     width="20px">
                                                <label class="box-item ml-3">
                                                    <span class="wii-field-name">Acheteur</span>
                                                    <span class="wii-body-text">{{ reference.buyer ? reference.buyer.username : '-' }}</span>
                                                </label>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    {% if not partialEdit %}
                                        <div class="col-12 col-md-4 mt-3">
                                            <div class="reference {{ not reference.id or reference.typeQuantite != 'reference' ? 'd-none' }}">
                                                <label>
                                                    <span class="icon wii-field-name">
                                                        <img src="{{ asset('svg/reference_article/euro.svg') }}" class="icon" alt="Image euro">
                                                        Prix unitaire (€)
                                                    </span>
                                                    <input type="number" name="prix" class="form-control w-100 data"
                                                           value="{{ reference.prixUnitaire }}" min="0">
                                                </label>
                                            </div>
                                            <div class="article {{ reference.id and reference.typeQuantite != 'article' ? 'd-none' }}">
                                                <label>
                                                    <span class="icon wii-field-name">
                                                        <img src="{{ asset('svg/reference_article/stock-management.svg') }}"
                                                             class="icon"
                                                             alt="Image gestion de stock">
                                                        Gestion de stock
                                                    </span>
                                                    <select name="stockManagement"
                                                            data-s2
                                                            data-placeholder="Sélectionnez une gestion de stock"
                                                            class="form-control data w-100">
                                                        {% for value in stockManagement %}
                                                            <option value="{{ value }}" {{ reference.stockManagement == value ? 'selected' }}>
                                                                {{ value }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-12 col-md-4 mt-3 reference {{ reference.typeQuantite == 'reference' ? 'd-none' }}">
                                            <div class="">
                                                <label>
                                                    <span class="icon wii-field-name">
                                                        <img src="{{ asset('svg/reference_article/euro.svg') }}" class="icon" alt="Image euro">
                                                        Prix unitaire (€)
                                                    </span>
                                                    <input type="number" name="prix" class="form-control w-100 data"
                                                           value="{{ reference.prixUnitaire }}" min="0">
                                                </label>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-12 col-md-4 mt-3 {{ partialEdit ? 'mr-auto' }}">
                                        <label>
                                        <span class="icon wii-field-name" style="margin-bottom: 5px">
                                            <img src="{{ asset('svg/reference_article/threshold.svg') }}" class="icon" alt="Image seuil d'alerte">
                                            Seuil d'alerte
                                        </span>
                                            <div class="increase-decrease-field">
                                                <button class="decrease"></button>
                                                <input type="number" data-no-arrow
                                                       name="limitWarning" class="form-control data w-50"
                                                       value="{{ reference.limitWarning ?? '' }}" min="0">
                                                <button class="increase"></button>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-12 col-md-4 mt-3 {{ partialEdit ? 'mr-auto' }}">
                                        <label>
                                        <span class="icon wii-field-name" style="margin-bottom: 5px">
                                            <img src="{{ asset('svg/reference_article/threshold_red.svg') }}" class="icon"
                                                 alt="Image seuil de sécurité">
                                            Seuil de sécurité
                                        </span>
                                            <div class="increase-decrease-field">
                                                <button class="decrease"></button>
                                                <input type="number" data-no-arrow
                                                       name="limitSecurity" class="form-control data w-50"
                                                       value="{{ reference.limitSecurity ?? '' }}" min="0">
                                                <button class="increase"></button>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-md-4 mt-2">
                                <div class="article {{ not reference.id or reference.typeQuantite != 'article' ? 'd-none' }}">
                                    <label class="with-checkbox">
                                        <input type="checkbox"
                                               name="urgence"
                                               class="checkbox data"
                                               onchange="toggleEmergency($(this))" {{ reference.isUrgent ? 'checked' }}>
                                        Urgence
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-12 col-md-8 mt-4">
                                <label class="emergency-comment {{ not reference.isUrgent ? 'd-none' }}">
                                    <span class="wii-field-name">Commentaire de l'urgence</span>
                                    <input class="form-control data" type="text" name="emergency-comment-input"
                                           value="{{ reference.emergencyComment }}">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wii-box">
                <div class="header wii-title">Fournisseurs</div>
                <div class="content">
                    <div class="supplier-articles">
                        {% if reference.id %}
                            {% for index, supplierArticle in reference.articlesFournisseur %}
                                <div class="supplier-container entity-container">
                                    <div class="provider-label">
                                        <span
                                            class="wii-field-name ml-3">{{ supplierArticle.fournisseur ? supplierArticle.fournisseur.nom : '-' }}</span>&nbsp;-&nbsp;
                                        <span
                                            class="wii-body-text">{{ supplierArticle.fournisseur ? supplierArticle.fournisseur.codeReference : '-' }}</span>
                                    </div>
                                    <div class="d-flex supplier-article-container">
                                        <div class="col-5 d-flex flex-column justify-content-center">
                                            <span class="wii-field-name">Ref article fournisseur</span>
                                            <span class="wii-body-text">{{ supplierArticle.reference ?? '-' }}</span>
                                        </div>
                                        <div class="col-5 d-flex flex-column justify-content-center">
                                            <span class="wii-field-name">Libellé</span>
                                            <span class="wii-body-text">{{ supplierArticle.label ?? '-' }}</span>
                                        </div>
                                        {% if supplierArticle.articles.empty %}
                                            <div class="col-2 d-flex justify-content-end align-items-start">
                                                <div
                                                    class="delete-button-container pointer"
                                                    data-id="{{ supplierArticle.id }}"
                                                    data-input-to-update="#suppliers-to-remove">
                                                    <img src="{{ asset('svg/reference_article/delete.svg') }}" alt="Icône supprimer" width="18px">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ macros.supplier_article_line(reference, null, true, 0, false, {
                                supplier: shippingSettingsDefaultValues is defined and shippingSettingsDefaultValues is not empty ? shippingSettingsDefaultValues.supplier : '',
                                supplierCode: shippingSettingsDefaultValues is defined and shippingSettingsDefaultValues is not empty ? shippingSettingsDefaultValues.supplierCode : '',
                                refArticleSupplierEqualsReference: shippingSettingsDefaultValues is defined and shippingSettingsDefaultValues is not empty ? shippingSettingsDefaultValues.refArticleSupplierEqualsReference : false,
                                draftDefaultReference: draftDefaultReference,
                            }) }}
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-end add-supplier-article mt-3">
                        <button class="btn btn-primary d-flex align-items-center"><span class="wii-icon wii-icon-plus mr-2"></span>Ajouter un article fournisseur</button>
                    </div>
                </div>
            </div>

            {% if reference.id %}
                <div class="wii-box">
                    <div class="header wii-title">Règles de stockage</div>
                    <div class="content">
                        <div class="storage-rules">
                            {% for index, storageRule in reference.storageRules %}
                                <div class="rule-container entity-container">
                                    <div class="d-flex storage-rule-container">
                                        <div class="col-3 d-flex flex-column justify-content-center">
                                            <span class="wii-field-name">Emplacement</span>
                                            <span class="wii-body-text">{{ storageRule.location ?? '-' }}</span>
                                        </div>
                                        <div class="col-3 d-flex flex-column justify-content-center">
                                            <span class="wii-field-name">Qté sécurité</span>
                                            <span class="wii-body-text">{{ storageRule.securityQuantity ?? '-' }}</span>
                                        </div>
                                        <div class="col-4 d-flex flex-column justify-content-center">
                                            <span class="wii-field-name">Qté conditionnement</span>
                                            <span class="wii-body-text">{{ storageRule.conditioningQuantity ?? '-' }}</span>
                                        </div>
                                        <div class="col-2 d-flex justify-content-end align-items-start">
                                            <div
                                                class="delete-button-container pointer"
                                                data-id="{{ storageRule.id }}"
                                                data-input-to-update="#storage-rules-to-remove">
                                                <img src="{{ asset('svg/reference_article/delete.svg') }}" alt="Icône supprimer" width="18px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-end add-storage-rule mt-3">
                            <button class="btn btn-primary d-flex align-items-center"><span class="wii-icon wii-icon-plus mr-2"></span>Ajouter une régle de stockage</button>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="wii-box">
                <div class="header wii-title">Inventaires</div>
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="w-100">
                                <span class="icon wii-field-name">
                                    <img src="{{ asset('svg/reference_article/warehouse.svg') }}" class="icon" alt="Image entrepôt">
                                    Catégorie d'inventaire
                                </span>
                                {% if editable and not partialEdit %}
                                    <select name="categorie" data-s2 class="form-control data {{ disabled }}">
                                        {% for category in categories %}
                                            <option value="{{ category.id }}"
                                                {{ reference.category and reference.category.id == category.id ? 'selected' }}>
                                                {{ category.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <span class="font-weight-regular">{{ reference.category ? reference.category.label : '-' }}</span>
                                {% endif %}
                            </label>
                        </div>
                        {% if reference.id and reference.typeQuantite == constant('App\\Entity\\ReferenceArticle::QUANTITY_TYPE_REFERENCE') %}
                            <div class="col-12 col-md-6 d-flex flex-column justify-content-around">
                                <span class="icon wii-field-name">
                                    <img src="{{ asset('svg/calendar.svg') }}"
                                         class="icon"
                                         alt="">
                                    Date de dernier inventaire
                                </span>
                                <span class="wii-field-text">
                                    {{ reference.dateLastInventory ? (reference.dateLastInventory | format_helper('datetime', '', true)) : '-' }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="wii-box">
                <div class="header wii-title">Champs libres</div>
                <div class="content free-fields-container">
                    {% if reference.id %}
                        {% include 'free_field/freeFieldsEdit.html.twig' with {
                            freeFields: freeFieldsGroupedByTypes[reference.type.id] is defined ? freeFieldsGroupedByTypes[reference.type.id] : [],
                            freeFieldValues: reference.freeFields,
                            colType: 'col-md-6 col-12',
                            requiredType: 'requiredEdit',
                            actionType: 'edit',
                            fieldNameClass: 'wii-field-name'
                        } %}
                    {% else %}
                        {% for type in freeFieldTypes %}
                            <div class="d-none"
                                 data-type="{{ type.typeId }}">
                                {% include 'free_field/freeFieldsEdit.html.twig' with {
                                    freeFields: type.champsLibres,
                                    freeFieldValues: [],
                                    colType: 'col-md-6 col-12',
                                    requiredType: 'requiredCreate',
                                    actionType: 'new',
                                    disabledNeeded: false
                                } %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="save-buttons">
                <button class="btn btn-outline-secondary" onclick="window.location.href = '{{ path('reference_article_index') }}'">
                    <span>Annuler</span>
                </button>
                <button class="btn btn-success ml-2 save data"
                        data-submit="{{ submit_url }}"
                        value="{{ reference.id }}"
                        name="idRefArticle">
                    <span>Enregistrer</span>
                </button>
            </div>
        </div>

        <input type="hidden" class="no-clear" id="default-image" value="{{ asset('svg/reference_article/product.svg') }}">
        <input type="hidden" class="no-clear data" name="deletedImage" value="0">
        <input type="hidden" class="no-clear data" name="deletedSheetFile" value="0">
        <input type="hidden" class="no-clear data" name="suppliers-to-remove" id="suppliers-to-remove" value="">
        <input type="hidden" class="no-clear data" name="storage-rules-to-remove" id="storage-rules-to-remove" value="">
    </div>
</div>

<template id="supplier-article-template">
    {{ macros.supplier_article_line(reference, null, true, 0, true) }}
</template>
<template id="storage-rule-template">
    {{ macros.storage_rule_line(reference, null, true) }}
</template>
