<div class="d-flex">
    <div class="dropdown dropright">
        <div class="d-flex referenceRow">
            {% include 'datatable/dotsRow.html.twig' %}
            {% if active %}
                {% include 'datatable/addRefToCart.html.twig' with {reference: reference_id} %}
            {% endif %}
            {% if attachmentsLength > 0 %}
                {% include 'datatable/paperclip.html.twig' with {
                    reference: reference_id,
                    attachmentsLength: attachmentsLength
                } %}
            {% endif %}
            <div class="dropdown-menu dropdown-follow-gt pointer">
                <a class="dropdown-item action-on-click d-none"
                   href="{{ path('reference_article_show_page', {id: reference_id}) }}">
                </a>

                {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT'))
                    or (not hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT'))
                        and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE_SHIPPING')))%}
                    <a class="dropdown-item"
                         href="{{ path('reference_article_edit_page', {reference: reference_id}) }}" target="_blank">
                        <i class='fas fa-pencil-alt mr-2'></i>Modifier
                    </a>
                {% endif %}

                <div class="dropdown-item"
                     onclick="showRowMouvements($(this))"
                     data-togggle='tooltip'
                     title='mouvements de stock'
                     data-id='{{ reference_id }}'
                     data-target='#modalShowMouvements'
                     data-toggle='modal'>
                    <i class='fas fa-list mr-2'></i>Voir les mouvements
                </div>

                <div class="dropdown-item"
                     onclick="updateQuantity({{ reference_id }})"
                     data-id='update{{ reference_id }}'
                     data-toggle='modal'>
                    <i class='fa fa-sync-alt mr-2'></i>Recalculer les quantités
                </div>

                {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::DELETE')) %}
                    <div class="dropdown-item d-flex align-items-center"
                         id='delete{{ reference_id }}'
                         onclick="deleteRow($(this), $('#modalDeleteRefArticle'), $('#submitDeleteRefArticle'))"
                         data-id='{{ reference_id }}'
                         data-target='#modalDeleteRefArticle'
                         data-toggle='modal'>
                        <span class="wii-icon wii-icon-trash-black mr-2"></span>Supprimer
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
