{% for articleF in articles %}
    {% if articleF is not empty %}
        <div class="row">
            <div class="form-group col-2">
                <label for="reference">Code fournisseur</label>
                <input class="form-control needed" type="text" value="{{articleF.fournisseur.codeReference}}" disabled/>
            </div>
            <div class="form-group col-3">
                <label for="reference">Nom fournisseur</label>
                <input class="form-control needed" type="text" value="{{articleF.fournisseur.nom}}" disabled/>
            </div>
            <div class="form-group col-3">
                <label for="reference">Ref. article fournisseur</label>
                <input class="form-control needed" type="text" value="{{articleF.reference}}" disabled/>
            </div>
            <div class="form-group col-3">
                <label for="reference">Libellé article</label>
                <input class="form-control needed" type="text" value="{{articleF.label}}" disabled/>
            </div>
            {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::DELETE')) and (editable is not defined or editable) %}
                <div class="mb-3 col-1 d-flex align-items-end">
                    <span class="btn btn-primary"
                          data-toggle="modal"
                          data-target="#modalDeleteFournisseur"
                          data-value="{{ articleF.id }}"
                          data-title="{{articleRef.id}}"
                          onclick="passArgsToModal(this)">
                        <i class="fa fa-trash"></i>
                    </span>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
