{% extends 'layout.html.twig' %}

{% block title %}Stock | {{ trans('Stock', 'Références', 'Références', false) }} {% endblock %}
{% block title_tooltip %}Stock | Références{% endblock %}

{% block page_filter %}
    <div class="filterService m-4 pt-2">
        <div class="filters filters-container row">
            <div class="col text-center">
                <div class="d-none row justify-content-center align-items-center h-100 pb-2" id="noFilters">
                    <span class="no-filter col-auto">Aucun filtre...</span>
                </div>
                <div class="row" id="filters">
                    {% if app.user.visibilityGroups | length > 0 %}
                        {% include 'reference_article/oneFilter.html.twig' with {
                            removable: false,
                            filter: {
                                fixedField: 'Groupe de visibilité',
                                value: app.user.visibilityGroups | map(vg => vg.label) | join(','),
                            }
                        } %}
                    {% endif %}
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalNewFilter">
                    <i class="fas fa-filter mr-2"></i>Ajouter un filtre
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    {% set hasRightToCreate = (
        hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE'))
        or hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE_DRAFT_REFERENCE'))
    ) %}
    {% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EXPORT')) %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header justify-content-between">
            <div class="col-auto">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="block-color-caption table-light-orange mr-2"></div>
                    <div class="mr-4">Demande d’achat en cours</div>
                    <div class="block-color-caption table-light-blue mr-2"></div>
                    <div class="mr-4">En attente de réception</div>
                </div>
            </div>

            <div class="col-auto">
                <div class="btn-group">
                    {% if hasRightToCreate %}
                        <button type="button" class="btn btn-primary split-button d-flex align-items-center"
                                onclick="window.location.href = Routing.generate('reference_article_new_page', {})">
                            <span class="wii-icon wii-icon-plus mr-2"></span>
                            Nouvel article de référence
                        </button>
                    {% elseif hasRightToExport %}
                        <div tabindex="0" class="has-tooltip"
                             title="Veuillez faire une recherche ou renseigner un filtre pour imprimer.">
                            <button type="button"
                                    class="btn btn-primary split-button printButton d-flex align-items-center"
                                    id="printTag"
                                    onclick="printReferenceArticleBarCode($(this), event)">
                                <span class="wii-icon wii-icon-printer-black mr-2"></span>Impression des étiquettes
                            </button>
                        </div>
                    {% endif %}
                    <button type="button"
                            class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        {% if hasRightToCreate and hasRightToExport %}
                            <div class="dropdown-item has-tooltip printButton d-flex align-items-center"
                                 id="printTag"
                                 tabindex="0"
                                 title="Veuillez faire une recherche ou renseigner un filtre pour imprimer."
                                 onclick="printReferenceArticleBarCode($(this), event)">
                                <span class="wii-icon wii-icon-printer-black mr-2"></span>
                                Impression des étiquettes
                            </div>
                        {% endif %}
                        <a class="dropdown-item" data-toggle="modal" data-target="#modalColumnVisible" href="#">
                            <span class="fa fa-cog mr-2"></span>
                            Gestion des colonnes
                        </a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#modalRapidSearch" href="#">
                            <span class="fa fa-search mr-2"></span>
                            Recherche rapide
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center" id="spinner">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table id="tableRefArticle_id" class="table nowrap w-100">
                </table>
            </div>
        </div>
    </div>
    {% include "reference_article/modalDeleteRefArticle.html.twig" %}
    {% include "reference_article/modalNewFilter.html.twig" with {fields: fields} %}

    {% include "reference_article/modalShowMouvements.html.twig" %}
    {% include "reference_article/modalCannotDelete.html.twig" %}

    {% include "utils/rapid_search.html.twig" with {
        'fields': fields,
        'searches': searches,
        'table': 'pageTables',
        'route': 'update_user_searches',
    } %}

    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'pageTables',
        'route': 'save_column_visible',
    } %}
    <button id="cannotDelete" hidden data-toggle="modal" data-target="#modalCannotDelete"></button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reference-article-index') }}

    <script src="{{ asset('js/pages/form-reference-article.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/reference-common.js') }}?v={{ web_version }}"></script>
{% endblock %}
