<div id='collecteShow' class='d-none row'>
    <div class="form-group col-12 d-flex w-100 mb-3">
        <label for="">Mes demandes</label>
        <select name="collecte" class="form-control ajax-autocomplete-article data select2" id="">
            {% for collecte in collectes %}
            <option value="{{collecte.id}}">
                {{collecte.numero}}
            </option>
            {% endfor %}
        </select>
    </div>
    {{articleOrNo | raw }}
</div>
<div id="livraisonShow" class='d-none row'>
    <div class="form-group col-12 d-flex w-100 mb-3">
        <label for="">Mes demandes</label>
        <select name="livraison" class="form-control ajax-autocomplete-article data select2" id="">
            {% for demande in demandes %}
            <option value="{{demande.id}}">
                {{demande.numero}}
            </option>
            {% endfor %}
        </select>
    </div>
    {{articleOrNo | raw }}
</div>