<div class="modal fade" id="modalRapidSearch" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier la recherche rapide</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table float-left w-49" id="rapidSearchColumns">
                    <thead>
                    <tr>
                        <th>Champs</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for champ in champsSearch %}
                        <tr class="pointer" onclick="toggleInputRadioOnRow(this)">
                            <td>{{ champ.label | capitalize }}</td>
                            <td>
                                <div class="checkbox d-inline-block pointer" onclick="toggleInputRadioOnRow(this)">
                                    {% set checked = (champ.label | capitalize in recherches ? 'checked' : '') %}
                                    <input class="form-check-input"
                                           id="column_search_input{{ loop.index }}"
                                           type="checkbox" {{ checked }} data-name="{{ champ.label  | capitalize}}"
                                           onclick="addToRapidSearch($(this))"/>
                                    <label for="column_search_input{{ loop.index }}" class="pointer"></label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table float-right w-49" id="rapidSearch">
                    <thead>
                    <tr>
                        <th>
                            Recherche rapide
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for champ in recherches %}
                        <tr>
                            <td>{{ champ | capitalize }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn btn-secondary" data-dismiss="modal">Fermer</div>
                <div class="btn btn-primary" onclick="saveRapidSearch()">Enregistrer</div>
            </div>
        </div>
    </div>
</div>
