{% if demandeType == 'collecte' %}
    <div id='collecteShow' class='d-none col-12'>
        <div class="form-group col-12 d-flex w-100 mb-3">
            <label for="">Mes demandes</label>
            <select name="collecte" class="form-control ajax-autocomplete-article data select2">
                {% for collecte in collectes %}
                    <option value="{{collecte.id}}">
                        {{collecte.numero}}
                    </option>
                {% endfor %}
            </select>
        </div>
        {{articleOrNo | raw }}
    </div>
{% elseif demandeType == 'livraison' %}
    <div id="livraisonShow" class='d-none col-12'>
        <div class="form-group col-12 d-flex w-100 mb-3">
            <label for="">Mes demandes</label>
            <select name="livraison" class="form-control ajax-autocomplete-article data select2">
                {% for demande in demandes %}
                    <option value="{{demande.id}}">
                        {{demande.numero}}
                    </option>
                {% endfor %}
            </select>
        </div>
        {{articleOrNo | raw }}
    </div>
{% endif %}
