<div class="row">
    <div class="form-group col-6">
        <label for="reference">Référence*</label>
        <input class="form-control data needed" type="text" name="reference" id="reference"
               maxlength="21">
    </div>
    <div class="form-group col-6">
        <label for="libelle">Nom*</label>
        <input class="form-control data needed" type="text" name="libelle" id="libelle">
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <label>Statut*</label><br>
        <div class="wii-switch needed" data-title="Statut">
            <input type="radio" name="statut"
                   value="{{ constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') }}"
                   content="Actif">
            <input type="radio" name="statut"
                   value="{{ constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF') }}"
                   content="Inactif">
        </div>
    </div>
    <div class="form-group col-6 d-flex align-items-center">
        <label>Synchronisation nomade ?</label>
        <label class="switch ml-3">
            <input class="checkbox data" type="checkbox" name="mobileSync">
            <span class="slider round"></span>
        </label>
    </div>
</div>

<div class="row">
    {% include 'reference_article/fournisseurArticle.html.twig' %}
    <div class="form-group col-1">
        <span class="btn btn-primary"
              id="addFournisseur"
              onclick="addArticleFournisseurReferenceArticle($(this))">
              <i class="fa fa-plus"></i>
        </span>
    </div>
</div>
<div class="row">
    <div class="form-group col-4">
        <label for="type">Type*</label>
        <select name="type" onclick="typeChoice($(this), '-new')"
                onchange="toggleRequiredChampsLibres($(this),'create')"
                class="form-control data d-block type needed" id="">
            <option value="">Type à choisir...</option>
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-4">
        <label for="categorie">Catégorie d'inventaire</label>
        <select name="categorie" class="form-control data">
            {% for categorie in categories %}
                <option value="{{ categorie.id }}">{{ categorie.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row mb-4">
    <div class="form-group col-12">
        <div>
            <label>Nomenclature</label>
            <input id='commentaire' class="form-control data" name="commentaire" type="hidden" value=''>
            <div class="editor-container-new" value=""></div>
        </div>
    </div>
</div>
<div class="row mt-10 mb-4">
    <div class="form-group col-4">
        <div class="input-group radio-btn">
            <label for="statut" class="my-auto mr-2">Gestion quantité</label>
            <div onclick="updateQuantityDisplay($(this))">
                                <span class="btn active" data-toggle="type_quantite" data-title="reference"
                                      onclick="toggleRequiredChampsFixes($(this)), toggleRadioButton($(this)) ">Par
                                    référence</span><span class="btn not-active" data-toggle="type_quantite"
                                                          data-title="article"
                                                          onclick="toggleRequiredChampsFixes($(this)), toggleRadioButton($(this))">Par
                                    article</span>
            </div>
            <input type="hidden" name="type_quantite" class="data type_quantite" value="reference">

        </div>
    </div>
    <div class="form-group col-4 mt-4">
        <div class="article d-none">
            <div class="d-flex align-items-center">
                <label for="urgence">Urgence ? </label>
                <label class="switch ml-3">
                    <input class="checkbox" type="checkbox" name="urgence" onchange="toggleEmergency($(this))">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group col-4">
        <div class="emergency-comment d-none">
            <label for="emergency-comment-input">Commentaire de l'urgence</label>
            <input class="form-control data" type="text" name="emergency-comment-input">
        </div>
    </div>
</div>
<div class="row mt-10 mb-4">
    <div class="form-group col-4 reference">
        <div class="input-group w-100">
            <label for="emplacement">Emplacement*</label>
            <select name="emplacement" id="emplacement"
                    class="form-control w-100 data needed ajax-autocomplete-location">
            </select>
        </div>
    </div>
    <div class="form-group col-4 reference">
        <label for="quantite">Quantité*</label>
        <input class="form-control data needed" type="number" min="0" name="quantite" id="quantite">
    </div>
    <div class="form-group col-4 article d-none">
        <label for="quantite">Quantité</label>
        <input disabled class="form-control" type="number">
    </div>
    <div class="form-group col-4 reference">
        <label for="prix">Prix Unitaire (€)</label>
        <input class="form-control data" type="number" name="prix" min="0" step="0.01">
    </div>
    <div class="form-group col-4">
        <label for="limitWarning">Seuil d'alerte</label>
        <input class="form-control data" type="number" name="limitWarning" min="0">
    </div>
    <div class="form-group col-4">
        <label for="limitSecurity">Seuil de sécurité</label>
        <input class="form-control data" type="number" name="limitSecurity" min="0">
    </div>
</div>

<!-- CHAMPS LIBRES -->
<span class="toggle-collapsible expanded">Champs libres</span>
<div class="collapsible expanded free-fields-container">
    {% for type in typeChampsLibres %}
        <div class="d-none" id="{{ type.typeId }}-new">
            {% include 'champ_libre/freeFieldsViewing.html.twig' with {
                freeFields: type.champsLibres,
                freeFieldValues: [],
                colType: 'col-md-4 col-12',
                requiredType: 'requiredCreate',
                actionType: 'new'
            } %}
        </div>
    {% endfor %}
</div>

