<div class="row">
    <div class="form-group col-6">
        <label for="reference">Référence*</label>
        <input class="form-control data needed" type="text" name="reference" id="reference"
               maxlength="21">
    </div>
    <div class="form-group col-6">
        <label for="libelle">Nom*</label>
        <input class="form-control data needed" type="text" name="libelle" id="libelle">
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <div class="input-group radio-btn">
            <label for="statut" class="mtb-auto mr-2">Statut</label>
            <div>
                 <span class="btn active" data-toggle="statut-new"
                       data-title="{{ constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') }}"
                       onclick="toggleRadioButton($(this))">
                    {{ constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') }}
                </span><span class="btn not-active" data-toggle="statut-new"
                             data-title="{{ constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF') }}"
                             onclick="toggleRadioButton($(this))">
                    {{ constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF') }}
                </span>
            </div>
            <input type="hidden" name="statut" id="statut-new" class="data"
                   value="{{ constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') }}">
        </div>
    </div>
</div>

<div class="row">
    {% include 'reference_article/fournisseurArticle.html.twig' %}
    <div class="form-group col-1">
                        <span class="btn btn-primary"
                              id="addFournisseur"
                              onclick="addArticleFournisseurReferenceArticle($(this))">
                            <i class="fa fa-plus"></i>
                        </span>
    </div>
</div>
<div class="row">
    <div class="form-group col-4">
        <label for="type">Type*</label>
        <select name="type" onclick="typeChoice($(this), '-new', $('#typeContentNew'))"
                onchange="toggleRequiredChampsLibres($(this),'create')"
                class="form-control data d-block type needed" id="">
            <option value="">Type à choisir...</option>
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-4">
        <label for="categorie">Catégorie d'inventaire</label>
        <select name="categorie" class="form-control data">
            {% for categorie in categories %}
                <option value="{{ categorie.id }}">{{ categorie.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row mb-4">
    <div class="form-group col-12">
        <div>
            <label>Nomenclature</label>
            <input id='commentaire' class="form-control data" name="commentaire" type="hidden" value=''>
            <div class="editor-container-new" value=""></div>
        </div>
    </div>
</div>
<div class="row mt-10 mb-4">
    <div class="form-group col-4">
        <div class="input-group radio-btn">
            <label for="statut" class="mtb-auto mr-2">Gestion quantité</label>
            <div onclick="updateQuantityDisplay($(this))">
                                <span class="btn active" data-toggle="type_quantite" data-title="reference"
                                      onclick="toggleRequiredChampsFixes($(this)), toggleRadioButton($(this)) ">Par
                                    référence</span><span class="btn not-active" data-toggle="type_quantite"
                                                          data-title="article"
                                                          onclick="toggleRequiredChampsFixes($(this)), toggleRadioButton($(this))">Par
                                    article</span>
            </div>
            <input type="hidden" name="type_quantite" class="data type_quantite" value="reference">

        </div>
    </div>
    <div class="form-group col-2 mt-4">
        <div class="article d-none">
            <label for="urgence">Urgence ? </label>
            <label class="switch">
                <input class="checkbox" type="checkbox" name="urgence" onchange="toggleEmergency($(this))">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="form-group col-4">
        <div class="emergency-comment d-none">
            <label for="emergency-comment-input">Commentaire de l'urgence</label>
            <input class="form-control data" type="text" name="emergency-comment-input">
        </div>
    </div>
</div>
<div class="row mt-10 mb-4">
    <div class="form-group col-4 reference">
        <div class="input-group w-100">
            <label for="emplacement">Emplacement*</label>
            <select name="emplacement" id="emplacement"
                    class="form-control data needed ajax-autocompleteEmplacement">
            </select>
        </div>
    </div>
    <div class="form-group col-4 reference">
        <label for="quantite">Quantité*</label>
        <input class="form-control data needed" type="number" min="0" name="quantite" id="quantite">
    </div>
    <div class="form-group col-4 article d-none">
        <label for="quantite">Quantité</label>
        <input disabled class="form-control" type="number">
    </div>
    <div class="form-group col-4 reference">
        <label for="prix">Prix Unitaire (€)</label>
        <input class="form-control data" type="number" name="prix" min="0" step="0.01">
    </div>
    <div class="form-group col-4">
        <label for="limitWarning">Seuil d'alerte</label>
        <input class="form-control data" type="number" name="limitWarning" min="0">
    </div>
    <div class="form-group col-4">
        <label for="limitSecurity">Seuil de sécurité</label>
        <input class="form-control data" type="number" name="limitSecurity" min="0">
    </div>
</div>

<!-- CHAMPS LIBRES -->
<div class="row mt-4">
    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'>
            <i class="fas fa-sort-up d-block mr-2"></i>
            <i class="fas fa-sort-down d-none  mr-2"></i>
            Champs libres
        </h3>
    </div>
    <div class="form-group col-12 blocVisible d-block" id='typeContentNew'>
        {% for type in typeChampsLibres %}
            <div class="d-none" id="{{ type.typeId }}-new">
                <div class="row mt-2">
                    {% for champ in type.champsLibres %}
                        <div class="form-group col-6">
                            <label>{{ champ.label | capitalize }}</label>

                            {% if champ.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                                {% set checked = (champ.defaultValue == 1) ? 'checked' : '' %}
                                <label class="switch">
                                    <input type="checkbox" class="data checkbox" {{ checked }}
                                           name="{{ champ.id }}">
                                    <span class="slider round"></span>
                                </label>

                            {% elseif champ.typage == 'number' %}
                                <input type="number" id="{{ champ.id ~ 'create' }}"
                                       class="form-control data"
                                       value="{{ champ.defaultValue }}" name="{{ champ.id }}">

                            {% elseif champ.typage == 'list' %}
                                <select id="{{ champ.id ~ 'create' }}" class="form-control data"
                                        name="{{ champ.id }}"
                                        id="input">
                                    <option value="{{ champ.defaultValue }}">{{ champ.defaultValue }}
                                    </option>
                                    {% for elem in champ.elements %}
                                        {% if champ.defaultValue != elem %}
                                            <option value="{{ elem }}">{{ elem }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    {% if champ.defaultValue != "" %}
                                        <option value=""></option>
                                    {% endif %}
                                </select>
                            {% elseif champ.typage == 'list multiple' %}
                                <select id="{{ champ.id ~ 'create' }}"
                                        class="list-multiple form-control data {{ champ.requiredCreate ? 'needed' : '' }}"
                                        name="{{ champ.id }}" multiple="multiple">
                                    {% for elem in champ.elements %}
                                        <option value="{{ elem }}">{{ elem }}</option>
                                    {% endfor %}
                                </select>
                            {% elseif champ.typage == 'text' %}
                                <input id="{{ champ.id ~ 'create' }}" class="form-control data"
                                       type="text"
                                       value="{{ champ.defaultValue }}" name='{{ champ.id }}'>

                            {% elseif champ.typage == 'date' %}
                                <input type="date" name="{{ champ.id }}" id="{{ champ.id ~ 'create' }}"
                                       class="form-control data" value="{{ champ.defaultValue }}">

                            {% elseif champ.typage == 'datetime' %}
                                <input type="datetime-local" name="{{ champ.id }}" id="{{ champ.id ~ 'create' }}"
                                       class="form-control data" value="{{ champ.defaultValue }}">

                            {% else %}
                                <input disabled>

                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}
    </div>
</div>
