<div class="row">
    <div class="form-group col-8">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="reference">Référence</label>
            </div>
            <div class="form-control overflow-auto" value="" name="reference" id="reference">
                {{articleRef.reference}}
            </div>
        </div>
    </div>
    <div class="form-group col-4">
        <div class="input-group radio-btn">
            <label for="statut" class="mtb-auto mr-2">Statut</label>
            <div>
                <span class="btn {{ statut == 1 ? 'active' : 'not-active'}}" data-title="active">
                    Actif</span><span class="btn {{ statut == 0 ? 'active' : 'not-active'}}" data-title="inactive">
                    Inactif</span>
            </div>
        </div>
    </div>
    <div class="form-group col-8">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="libelle">Nom</label>
            </div>
            <div class="form-control overflow-auto" id="libelle">
                {{articleRef.libelle}}
            </div>
        </div>
    </div>
    <div class="form-group col-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <label for="type" class="input-group-text">Type</label>
            </div>
            <div class="form-control" id="type">
                {{articleRef.type.label}}
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="input-group" id="input-group-nomenclature">
            <div class="input-group-prepend">
                <label class="input-group-text">Nomenclature</label>
            </div>
            <div class="form-control overflow-auto h-100" id="type">
                {{articleRef.commentaire|raw}}
            </div>
        </div>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="form-group col-6">
        <div class="input-group radio-btn">
            <label for="statut" class="mtb-auto mr-2">Gestion quantité</label>
            <div onclick="updateQuantityDisplay($(this))">
                <span class="btn {{ (articleRef.typeQuantite == 'reference') ? 'active' : 'not-active'}}"
                    data-title="reference">
                    Par référence</span><span
                    class="btn {{ (articleRef.typeQuantite == 'article') ? 'active' : 'not-active'}}"
                    data-title="article">
                    Par article</span>
            </div>
        </div>
    </div>

    <div class="form-group col-3">
        {% set dnone = (articleRef.typeQuantite == 'reference') ? '' : 'd-none' %}

        <div class="input-group reference {{ dnone }}">
            <div class="input-group-prepend">
                <label class="input-group-text" for="quantité">Quantité</label>
            </div>
            <div class="form-control overflow-auto" id="quantite">
                {{ articleRef.quantiteStock }}
            </div>
        </div>

        {% set dnone = (articleRef.typeQuantite == 'article') ? '' : 'd-none' %}

        <div class="input-group article {{ dnone }}">
            <label class="mtb-auto mr-2">Quantité</label>
            <div class="form-control rounded">{{ totalQuantity }}</div>
        </div>
    </div>
    <div class="form-group col-6">
        {% set dnone = (articleRef.typeQuantite == 'reference') ? '' : 'd-none' %}

        {% if  (articleRef.emplacement) is not null %}

        <div class="input-group reference {{ dnone }}">
            <label class="mtb-auto mr-2">Emplacement</label>
            <select name="emplacement" class="form-control ajax-autocompleteEmplacement-edit data" disabled>
                <option value="{{ articleRef.emplacement.id }}">"{{ articleRef.emplacement.label }}"</option>
            </select>
        </div>
        {% else %}
        <div class="input-group reference {{ dnone }}">
            <label class="mtb-auto mr-2">Emplacement</label>
            <select name="emplacement" class="form-control ajax-autocompleteEmplacement-edit data" disabled>
                <option value=" "></option>>
            </select>
        </div>
        {% endif %}
    </div>
</div>

<!-- ARTICLES FOURNISSEURS -->
{% if articleRef.typeQuantite == 'reference' %}
<div class="row">
    <div class='col-12 article mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'><i class="fas fa-sort-up d-none mr-2"></i>
            <i class="fas fa-sort-down d-block mr-2"></i>
            Quantité par articles fournisseurs </h3>
    </div>
    <div class="form-group col-12 d-none">
        <table class="table table-striped table-bordered w-auto m-auto">
            <tr>
                <th>Ref fournisseur</th>
                <th>Libellé</th>
                <th>Fournisseur</th>
                <th>Quantité</th>
            </tr>
            {% for articleFournisseur in articlesFournisseur %}
            <tr>
                <td>{{ articleFournisseur.fournisseurRef }}</td>
                <td>{{ articleFournisseur.label }}</td>
                <td>{{ articleFournisseur.fournisseurName }}</td>
                <td>{{ articleFournisseur.quantity }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

<!-- CHAMPS LIBRES -->
<div class="row mt-4">
    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'>
            <i class="fas fa-sort-up d-none mr-2"></i>
            <i class="fas fa-sort-down d-block mr-2"></i>
            Champs libres
        </h3>
    </div>
    <div class="form-group col-12 blocVisible d-block" id='typeContentEdit'>
        {% for typeChampLibre in typeChampsLibres %}
        <div {{ articleRef.type is defined and typeChampLibre.typeId == articleRef.type.id ? "class='d-block'" : "class='d-none'"}}
            id="{{typeChampLibre.typeId}}-edit">
            <div class="row mt-2">
                {% for champLibre in typeChampLibre.champsLibres %}
                <div class="form-group col-6">
                    <label for="input">{{ champLibre.label | capitalize}}</label>
                    {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                    {% set checked = ((champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : 0) == 1) ? 'checked' : '' %}
                    <label class="switch">
                        <input type="checkbox" class="data checkbox" { checked } disabled name="{{ champLibre.id}}">
                        <span class="slider round"></span>
                    </label>
                    {% elseif  champLibre.typage == 'number' %}
                    <input disabled type="number" id="{{ champLibre.label ~ 'edit'}}" class="form-control data"
                        value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                        name="{{ champLibre.id}}" id="input">
                    {% elseif  champLibre.typage == 'list' %}
                    <select disabled class="form-control data" id="{{ champLibre.label ~ 'edit'}}"
                        name="{{ champLibre.id}}" id="input">
                        <option value="">aucune sélection...</option>
                        {% for elem in  champLibre.elements %}
                        {% set selected = elem ==( champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' )? 'selected' : '' %}
                        <option value="{{elem}}" {{ selected }}>{{elem}}</option>
                        {% endfor %}
                    </select>
                    {% elseif champLibre.typage == 'list multiple' %}
                        <select disabled id="{{ champLibre.id ~ 'edit' }}" class="list-multiple form-control data"
                                name="{{ champLibre.id }}" multiple="multiple">
                            {% for elem in champLibre.elements %}
                                {% set selected = champLibre.valeurChampLibre and (elem in (champLibre.valeurChampLibre.valeur | split(';'))) ? 'selected' : '' %}
                                <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                    <input disabled type="text" id="{{ champLibre.label ~ 'edit'}}" class="form-control data"
                        value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                        name="{{  champLibre.id }}" id="input">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Reference Fournisseur -->
<div class="row mt-4">
    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'>
            <i class="fas fa-sort-up d-none mr-2"></i>
            <i class="fas fa-sort-down d-block mr-2"></i>
            Articles Fournisseurs
        </h3>
    </div>
    <div class="form-group blocVisible col-12 d-none">
        <div class="form-group col-12 d-block" id='articleFournisseursEdit'>
            {% include 'reference_article/fournisseurArticleShowContent.html.twig' %}
        </div>
    </div>
</div>
