<div class="col-auto pb-2 filter-parent" data-removable="{{ removable ?? true }}">
    <div class="btn filter has-tooltip"
         title="{{ (filter.fixedField ? filter.fixedField : filter.freeField.label) | capitalize }} : {{ filter.value }}">
        <div class="row align-items-center">
            {% set fieldLabel = filter.fixedField is not null ? filter.fixedField : filter.freeField.label %}
            {% if filter.freeField and filter.freeField.typage == 'booleen' %}
                {% if (filter.value == 'on' or filter.value == '1') %}
                    {% set value = 'oui' %}
                {% elseif (filter.value == '') %}
                    {% set value = 'non' %}
                {% elseif (filter.value == '') %}
                    {% set value = 'non' %}
                {% else %}
                    {% set value = filter.value %}
                {% endif %}
            {% else %}
                {% set value = filter.value %}
            {% endif %}
            <div class="col">
                <span class="bold">{{ fieldLabel|capitalize }} : {{ value }}</span>
            </div>
            {% if removable ?? true %}
                <div class="col-auto">
                    <i class="fas fa-times pointer"
                       onclick="removeFilter($(this), {{ filter.id }})"></i>
                </div>
            {% endif %}
        </div>
    </div>
</div>
