<div class="btn filter">
    <input hidden value="{{ filter.id }}" class="filter-id">
    {% if filter.champFixe is not null %}
        <i class="fas fa-times float-right"></i>
        <span class="bold">{{ filter.champFixe | capitalize}}</span><br>
        <span class="italic">"{{ filter.value }}"</span>
    {% else %}
        <i class="fas fa-times float-right"></i>
        <span class="bold">{{ filter.champLibre.label|capitalize }}</span><br>
        {% if (filter.value == 'on' or filter.value == '1') %}{% set value = 'oui' %}{% elseif (filter.value == '') %}{% set value = 'non' %}{% else %}{% set value = filter.value %}{% endif %}
        <span class="italic">"{{ value }}"</span>
    {% endif %}
</div>