{% extends 'layout.html.twig' %}

{% block title %}ReferenceArticle{% endblock %}

{% block page_content %}
    <h1>Reference Article</h1>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reference_article.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ reference_article.libelle }}</td>
            </tr>
            <tr>
                <th>Photo_article</th>
                <td>{{ reference_article.photoArticle }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('reference_article_index') }}" class='btn'>Retour</a>
    {{ include('reference_article/_delete_form.html.twig') }}
    <a href="{{ path('reference_article_edit', {'id': reference_article.id}) }}"class='btn btn-primary float-right'>Modifier</a>
</div>
{% endblock %}