{% extends 'mails/template.html.twig' %}

<table style="border: 1px solid black;">
    <tbody>
    <tr>
        <td class='td bold'>Fournisseur</td>
        <td>{{ fournisseur }}</td>
    </tr>
    <tr>
        <td class='td bold'>Colis</td>
        <td class='td'>{{ colis }}</td>
    </tr>
    <tr>
        <td class='td bold'>Date de dépose</td>
        <td class='td'>le {{ date|date("d/m/Y") }} à {{ date|date("H:i:s") }}</td>
    </tr>
    <tr>
        <td class='td bold'>Emplacement</td>
        <td class='td'>{{ emplacement.label }}{% if emplacement.description is not empty %} : {{ emplacement.description }}{% endif %}</td>
    </tr>
    <tr>
        <td class='td bold'>Opérateur</td>
        <td class='td'>{{ operateur }}</td>
    </tr>

    <tr>
        <td  class='td bold'>Pièces jointes</td>
        <td class='td'>
            <table>
                {% for pj in pjs %}
                    <tr>
                        <td>
                            <a href="{{ app.request.getSchemeAndHttpHost() ~ asset('uploads/attachements/' ~ pj.fileName) }}"> {{ pj.OriginalName }} </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>

    </tbody>
</table>

{% endblock %}