<html>
<style>
    body {
        font-family: Montserrat, Helvetica, Arial, sans-serif;
    }
</style>
<body>

<h2>Une dépose a été effectuée.</h2>

<p>Détails de la dépose :</p>

Arrivage : {{ arrivage }}<br>
Colis : {{ colis }} <br>
Date de dépose : {{ date }}<br>
Emplacement : {{ emplacement }}<br>
Operateur : {{ operateur }}<br>
<br>
<br>

</body>
</html>
