<html>
<style>
    body {
        font-family: 'Source Sans Pro', sans-serif;
    }
    th, td {
        border: 1px solid black;
        padding: 6px;
        text-align: center;
    }
    table {
        border-collapse: collapse;
    }
</style>
<body>

{% if newLitige %}
<h2>Un litige a été déclaré sur un arrivage vous concernant :</h2>
{% else %}
<h2>Un litige sur arrivage nécessite un retour de votre part :</h2>
{% endif %}

    {% set arrivage = litige.arrivage %}
    <table style="border: 1px solid black;">
        <thead>
        <tr>
            <th>N° d'arrivage</th>
            <th>Transporteur</th>
            <th>Chauffeur</th>
            <th>N° tracking transporteur</th>
            <th>N° commande / BL</th>
            <th>Fournisseur</th>
            <th>Destinataire</th>
            <th>Nb UM</th>
            <th>Date</th>
            <th>Utilisateur</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ arrivage.numeroArrivage }}</td>
            <td>{{ arrivage.transporteur.label|capitalize }}</td>
            <td>{{ arrivage.chauffeur is not empty ? arrivage.chauffeur.prenom|capitalize ~ ' ' ~ arrivage.chauffeur.nom|upper : '' }} </td>
            <td>{{ arrivage.noTracking }}</td>
            <td>{{ arrivage.numeroBL }}</td>
            <td>{{ arrivage.fournisseur.nom }}</td>
            <td>{{ arrivage.destinataire.username }}</td>
            <td>{{ arrivage.nbUM }}</td>
            <td>{{ arrivage.date|date('d/m/Y H:i') }}</td>
            <td>{{ arrivage.utilisateur.username}}</td>
        </tr>
        </tbody>
    </table>

    <p style="font-weight:bold;">Type de litige : {{ litige.type.label }}</p>
    <p style="font-style:italic;">{{ litige.commentaire|raw }}</p>

    <hr>

<br>
<br>

Veuillez vous connecter pour régler le litige :<br><br>
<table width="160" class="button" style="margin: 0px 0px 10px 30px;">
    <tr>
        <td style="text-align: center; background-color: #130078; padding: 10px; border-radius: 5px;cursor:pointer;border:none;">
            <a href="{{ url('arrivage_index') }}" style="color: #fff; font-size: 18px; letter-spacing: 1px; text-decoration: none;">
                Aller vers Follow GT
            </a>
        </td>
    </tr>
</table>

</body>
</html>
