<html>
<style>
    body {
        font-family: 'Source Sans Pro', sans-serif;
    }
</style>
<body>

<h2>Votre colis a été livré.</h2>

<table style="border: 1px solid black;">
    <tbody>
    <tr>
        <td style="font-weight:bold;">Arrivage</td>
        <td>{{ arrivage }}</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Colis</td>
        <td>{{ colis }}</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Date de dépose</td>
        <td>le {{ date|date("d/m/Y") }} à {{ date|date("H:i:s") }}</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Emplacement</td>
        <td>{{ emplacement }}</td>
    </tr>
    <tr>
        <td style="font-weight:bold;">Opérateur</td>
        <td>{{ operateur }}</td>
    </tr>

    <tr>
        <td style="font-weight:bold;">Pièces jointes</td>
        {% for pj in pjs %}
            <td>
                <a target="_blank" href={{ asset('uploads/attachements/' ~ {{ pj.fileName }}) }}>
                    <i class="fa fa-file mr-2"></i>
                    {{ pj.originalName }}
                </a>
            </td>
        {% endfor %}
    </tr>

    </tbody>
</table>

</body>
</html>
