 <html>
<style>
    body {
        font-family: 'Source Sans Pro', sans-serif;
    }
</style>
<body>

<h2>Une dépose a été effectuée.</h2>

<p>Détails de la dépose :</p>

Arrivage : {{ arrivage }}<br>
Colis : {{ colis }} <br>
Date de dépose : {{ date|date('d/m/Y à H:i:s') }}<br>
Emplacement : {{ emplacement }}<br>
Opérateur : {{ operateur }}<br>
<br>
<br>

</body>
</html>
