{% extends 'mails/template.html.twig' %}

{% block content %}
    <div>Date de demande : {{ manut.date|date('d/m/Y') }}</div>>
    <div>Date de réalisation : {{ manut.dateEnd|date('d/m/Y') }}</div>>
    <div>Libellé : {{ manut.libelle }}</div>>
    <div>Demandeur : {{ manut.demandeur.username }}</div>>
    <div>Source : {{ manut.source }}</div>>
    <div>Destination : {{ manut.destination }}</div>>
    {% if (manut.commentaire is not empty and manut.commentaire != '<p><br></p>') %}
        <div>Commentaire : {{ manut.commentaire|raw }}</div>>
    {% endif %}
    <br>
    <br>
{% endblock %}
