{% extends 'mails/mjml/template.html.twig' %}

{% block content %}

    Numéro : {{ livraison.numero }}<br>
    Date de demande : {{ livraison.date|date('d/m/Y') }}<br>
    Demandeur : {{ livraison.utilisateur.username }}<br>
    Destination : {{ livraison.destination.label }}<br>
    {% if (livraison.commentaire is not empty and livraison.commentaire != '<p><br></p>') %}
        Commentaire : {{ livraison.commentaire|raw }}<br>
    {% endif %}
    <br>
    <br>
    Liste des articles :<br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th class="th">{{ 'reference.reference'|trans }}</th>
            <th class="th">Libellé</th>
            <th class="th">Quantité</th>
        </tr>
        </thead>
        <tbody>
        {% for ligneArticle in livraison.ligneArticle %}
            <tr>
                <td class="td">{{ ligneArticle.reference.reference }}</td>
                <td class="td">{{ ligneArticle.reference.libelle }}</td>
                <td class="td">{{ ligneArticle.quantite }}</td>
            </tr>
        {% endfor %}
        {% for article in livraison.articles %}
            <tr>
                <td class="td">{{ article.articleFournisseur.referenceArticle.reference }}</td>
                <td class="td">{{ article.label }}</td>
                <td class="td">{{ article.quantite }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
