{% extends 'mails/template.html.twig' %}

{% block content %}

    {% set s = litiges|length > 1 ? 's' : '' %}
    {% set nt = litiges|length > 1 ? 'nt' : '' %}
    <h3 class="margin-bottom:30px;">
        {{ litiges|length }} litige{{ s }} vous concerne{{ nt }} :
    </h3>

    <table class="table"
           style="border: 1px solid black;border-collapse: collapse;">
        <thead>
        <tr>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Type de litige
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Statut du litige
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                N° de réception
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                N° commande / BL
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Fournisseur
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                N° ligne
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Référence
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Article
            </th>
        </tr>
        </thead>
        <tbody>
        {% for litige in litiges %}
            <tr>
                {% set firstArticle = litige.articles|first %}
                {% set firstReceptionReferenceArticle = firstArticle.receptionReferenceArticle %}
                {% set reception = firstArticle.receptionReferenceArticle.reception %}

                <td class="td"
                    rowspan="{{ litige.articles|length }}"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ litige.type ? litige.type.label }}
                </td>
                <td class="td"
                    rowspan="{{ litige.articles|length }}"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ litige.status ? litige.status.nom }}
                </td>
                <td class="td"
                    rowspan="{{ litige.articles|length }}"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ reception.numeroReception }}
                </td>
                <td class="td"
                    rowspan="{{ litige.articles|length }}"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ reception.reference }}
                </td>
                <td class="td"
                    rowspan="{{ litige.articles|length }}"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ reception.fournisseur ? reception.fournisseur.nom }}
                </td>

                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ firstReceptionReferenceArticle.commande }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ firstReceptionReferenceArticle.referenceArticle }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ firstArticle.barcode }}
                </td>
            </tr>
            {% for article in litige.articles %}
                {% if not loop.first %}
                    {% set receptionReferenceArticle = firstArticle.receptionReferenceArticle %}
                    <tr>
                        <td class="td"
                            style="border: 1px solid black; padding: 10px; text-align: center;">
                            {{ receptionReferenceArticle.commande }}
                        </td>
                        <td class="td"
                            style="border: 1px solid black; padding: 10px; text-align: center;">
                            {{ receptionReferenceArticle.referenceArticle }}
                        </td>
                        <td class="td"
                            style="border: 1px solid black; padding: 10px; text-align: center;">
                            {{ article.barcode }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <br>

{% endblock %}
