{% extends 'mails/mjml/template.html.twig' %}

{% block content %}

Date de demande : {{ manut.date|date('d/m/Y') }}<br>
Libellé : {{ manut.libelle }}<br>
Demandeur : {{ manut.demandeur.username }}<br>
Source : {{ manut.source }}<br>
Destination : {{ manut.destination }}<br>
{% if (manut.commentaire is not empty and manut.commentaire != '<p><br></p>') %}
    Commentaire : {{ manut.commentaire|raw }}<br>
{% endif %}
<br>
<br>

{% endblock %}