{% extends 'mails/mjml/template.html.twig' %}

{% block content %}

    Fournisseur : {{ fournisseur }}<br>
    Colis : {{ colis }}<br>
    Date de dépose : {{ date|date("d/m/Y") }} à {{ date|date("H:i:s") }}<br>
    Emplacement : {{ emplacement.label }}{% if emplacement.description is not empty %} : {{ emplacement.description }}{% endif %}<br>
    Opérateur : {{ operateur }}<br>
    {% if pjs is not empty %}
        Pièces jointes :<br>
        {% for pj in pjs %}
            <a href="{{ app.request.getSchemeAndHttpHost() ~ asset('uploads/attachements/' ~ pj.fileName) }}"> {{ pj.OriginalName }} </a><br>
        {% endfor %}
    {% endif %}

{% endblock %}
