<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}WiiStock{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/jquery/jquery.bootgrid.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('vendor/jquery/bootstrap-datepicker.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
  		<script src="{{ asset('vendor/jquery/bootstrap-datepicker.min.js') }}"></script>
		<script src="{{ asset('vendor/jquery/bootstrap-datepicker.fr.min.js') }}"></script>
		<script src="{{ asset('vendor/jquery/jquery.bootgrid.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery/script-menu.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
