<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}WiiStock{% endblock %}
        </title>
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.bootgrid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/select2.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="row">
            {# flashbag #}
          {% if app.request.hasPreviousSession %}
                {% set top = 0 %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="row alert alert-{{ type }} text-center box-shadow" style="top:{{ top }}px;">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ message }}
                        </div>
                        {% set top = top + 72 %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
        {% block body %}{% endblock %}

        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('js/select2.full.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
        <script src="{{ asset('js/jquery.bootgrid.js') }}"></script>
        <script src="{{ asset('js/Chart.min.js') }}"></script>
        <script src="{{ asset('js/script-menu.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>