{% extends 'base.html.twig' %}

{% block body %}

    {% block menu %}
        <nav>
            <div id="sidemenu-bg" class="sidemenu-bg hide"></div>
            <ul id="sidemenu" class="sidemenu">
                <li>
                    <a href={{path("utilisateurs_edit", {"id": app.user.id})}}>
                        <div class="username">{{ app.user.username }}</div>
                        <i class="fa fa-user"></i>
                    </a>
                </li>

                <li>
                    <a href="{{ path('check_last_login') }}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
<!-- RECEPTION -->
                <li>
                    <a href={{path("receptions_index", {'history': 0})}}>
                            <i class="fa fa-box"></i>
                    </a>
                </li>
<!-- ARTICLES -->
                <li class="has-submenu">
                    <a href={{path("articles_index", {'statut': 'all', 'id': 0})}}>
                        <i class="fa fa-boxes"></i>
                    </a>
                    <ul class="sidemenu-sub">
                        <li class="text">
                            <h4>Articles</h4>
                        </li>
                        <li><a href={{path('articles_index', {'statut': 'en cours de reception', 'id': '0'})}}>• En cours de réception</a></li>
                        <li><a href={{path('articles_index', {'statut': 'demande de mise en stock', 'id': '0'})}}>• Entré stock</a></li>
                        <li><a href={{path('articles_index', {'statut': 'en stock', 'id': '0'})}}>• Stock</a></li>
                        <li><a href={{path('articles_index', {'statut': 'demande de sortie', 'id': '0'})}}>• En attente de livraison </a></li>   
                        <li><a href={{path('articles_index', {'statut': 'destockage', 'id': '0'})}}>• Sortie</a></li>   
                        <li><a href={{path('articles_index', {'statut': 'anomalie', 'id': '0'})}}>• Anomalie</a></li>
                    </ul>
               </li>                
<!-- PREPARATION -->
                <li class="has-submenu">
                    <a href=>
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                    <ul class="sidemenu-sub">
                        <li class="text">
                            <h4>Demande</h4>
                        </li>
                        
                        <li><a href={{ path('creation_demande') }}>• Nouvelle demande</a></li>
                        <li><a href={{ path('demande_index', {'history': 'false'}) }}>• Demande</a></li>
                        <li><a href={{ path('preparation_creation') }}>• Nouvelle Préparation</a></li>
                        <li><a href={{ path('preparation_index',  {'history': 'false'} ) }}>• Préparation</a></li>
                        <li><a href={{ path('livraison_creation') }}>• Nouvelle Livraison</a></li>
                        <li><a href={{path("livraison_index", {'history':'false'})}}>• Livraison</a></li>
                        <li><a href={{ path('collecte_new') }}>• Demande de collecte</a></li>
                        <li><a href={{path("collecte_index", {'history':'false'})}}>• collecte</a></li>

                        
                    </ul>
                </li>
                {# <li>
                    <a href="#">
                        <i class="fa fa-search"></i>
                    </a>
                </li> #}
<!-- PARC -->
                <!-- {% if is_granted('ROLE_PARC') %}
                    <li class="has-submenu">
                        <a>
                            <i class="fa fa-automobile"></i>
                        </a>
                        <ul class="sidemenu-sub">
                            <li class="text">
                                <h4>Parc</h4>
                            </li>
                            <li>
                                <a href="{{ path('parc_list') }}">• Liste des véhicules</a>
                            </li>
                            <li>
                                <a href="{{ path('parc_create') }}">• Nouveau véhicule</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}  -->

                <!-- {% if is_granted('ROLE_STOCK') %}
                    <li class="has-submenu">
                        <a href="#">
                            <i class="fa fa-bell"></i>
                        </a>
                        
                    </li>            
                    <li class="has-submenu">
                        <a href="#">
                            <i class="fa fa-book"></i>
                        </a>
<!-- REFERENCE -->
                    <li class="has-submenu">
                            <a href="#">
                                <i class="fa fa-sync-alt"></i>
                            </a>
                        <ul class="sidemenu-sub">
                            <li class="text">
                                <h4>Référenciel</h4>
                            </li>
                            <!-- <li>
                                <a href="{{ path('referentiel_clients') }}">• Client</a>
                            </li> -->
                            <li>
                                <a href="{{ path('fournisseurs_index') }}">• Fournisseur</a>
                            </li>
                            <li>
                                <a href="{{ path('references_articles_index') }}">• Articles</a>
                            </li>
                            <!-- <li>
                                <a href="{{ path('referentiel_categories') }}">• Catégorie d'articles</a>
                            </li> -->
                        </ul>
                    </li>
                <!-- {% endif %} -->
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="has-submenu">
                        <a href="#">
                            <i class="fa fa-gear"></i>
                        </a>
                        <ul class="sidemenu-sub">
                            <li class="text">
                                <h4>Paramètres</h4>
                            </li>
                            <li>
                                <a href="{{ path('utilisateurs_index') }}">• Utilisateurs</a>
                            </li>
<!-- PARAMETRAGE PARC -->
                            <!-- {% if is_granted('ROLE_PARC_ADMIN') %}
                                <li>
                                    <a href="{{ path('parc_parametrage') }}">• Paramétrage des données</a>
                                </li>
                            {% endif %} -->
                            <li>
                                <a href="{{ path('change_password') }}">• Changer de mot de passe</a>
                            </li>
                            {% if is_granted('ROLE_STOCK_ADMIN') %}
                                <li>
                                    <a href="{{ path('champs_personnalises_index') }}">• Champs personnalisé</a>
                                </li>
                                <li>
                                    <a href="{{ path('dimensionnement') }}">• Dimensionnement</a>
                                </li>
                                <li>
                                    <a href="{{ path('alerte_index') }}">• Alertes</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('logout') }}">
                        <i class="	fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </nav>
    {% endblock %}

    <div class="wrapper">
        <div class="container-fluid">
            {% block page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}