{% set redStatusesName = constant('App\\Entity\\Transport\\TransportRequest::RED_STATUSES') %}
{% set entityStatusName = entity.status.nom %}
{% set transport = entity is instanceof('App\\Entity\\Transport\\TransportRequest') or entity is instanceof('App\\Entity\\Transport\\TransportRound')
    ? entity
    : entity.request
%}
{% set order = transport is instanceof('App\\Entity\\Transport\\TransportRound') ? null : transport.order %}
{% set roundLine = order ? (order.transportRoundLines | last) ?: null : null %}

{% set lastHistory = statusesHistory | last ?: null %}
{% set lastStatus = lastHistory ? lastHistory.status : null %}
{% set followingStatusIndex = lastStatus is not null ? ((statusWorkflow|flip)[lastStatus] ?? null) : 0 %}
{% set followingStatuses = followingStatusIndex is not null and not noFollowingStatuses ? statusWorkflow|slice(followingStatusIndex + 1) : [] %}

{% set statusName = transport.status|format_helper('status') %}
{% set headerClass = statusName in constant('App\\Entity\\Transport\\TransportRequest::RED_STATUSES') ? 'bg-red-light' : 'bg-green-light' %}
{% set requestType = transport is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest')
    ? 'Livraison'
    : transport is instanceof('App\\Entity\\Transport\\TransportCollectRequest')
        ? 'Collecte'
        : transport is instanceof('App\\Entity\\Transport\\TransportRound')
            ? 'Tournée'
            : 'Demande'
%}
{% set finishedStatusesName = [constant('App\\Entity\\Transport\\TransportOrder::STATUS_FINISHED'), constant('App\\Entity\\Transport\\TransportRequest::STATUS_FINISHED') ] %}

<div class="header timeline d-flex justify-content-center {{ headerClass }}">
    <img src="{{ asset('svg/timeline-status.svg') }}" alt="Icône statut timeline" width="15px" class="mr-2">
    <span>{{ requestType }} <strong>{{ entityStatusName }}</strong></span>
</div>
{% for history in statusesHistory %}
    {% set state = history.status in redStatusesName
        ? 'cancelled'
        : (entityStatusName == history.status and loop.last
            ? 'current'
            : 'past')
    %}

    <div class="history-line">
        <div class="history-date">
            <div class="title-left {{ state == 'current' and loop.last and followingStatuses is empty ? 'last' }} {{ state }}">{{ history['status'] }}</div>
        </div>
        <div class="history-status
            {{ loop.last ? 'last-status-history' }}
            {{ loop.last and followingStatuses is empty ? 'last' }}
            {{ state }}">
            <div class="title-right {{ state }} {{ not history['date'] ? 'bg-transparent' }} text-left">
                <span class="ml-2">{{ history['date'] }}</span>
                {% if entity is instanceof('App\\Entity\\Transport\\TransportOrder') and entityStatusName in merge(finishedStatusesName, redStatusesName) and history['status'] in merge(finishedStatusesName, redStatusesName) %}
                    {% set roundLine = order ? (order.transportRoundLines | last) ?: null : null %}
                    {% set estimatedAt = roundLine ? (roundLine.estimatedAt | date('H:i')) : (timeSlot ? timeSlot.name : transport.expectedAt | date('H:i')) %}
                    <br><span class="ml-2">Estimée à : {{ estimatedAt ?? "/" }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
{% for followingStatus in followingStatuses %}
    {% set roundLine = order ? (order.transportRoundLines | last) ?: null : null %}
    {% set estimatedAt = round ? round.estimatedAt|format_helper('longDate', {short: true, time: true}, '') :
        (transport.timeSlot is defined and transport.timeSlot ? transport.timeSlot.name : null) %}
    <div class="history-line">
        <div class="history-date">
            <div class="title-left future">{{ followingStatus }}</div>
        </div>
        <div class="history-status future {{ loop.last ? 'last'}}">
            <div class="title-right text-left {{ followingStatus in finishedStatusesName and transport is instanceof('App\\Entity\\Transport\\TransportRequest')? 'future' : 'bg-transparent' }}">
                {% if followingStatus in finishedStatusesName %}
                    <span class="ml-2">
                    {% if transport is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') %}
                        {% if not order or order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_ASSIGN') %}
                            Estimée à : <span class="transport-value">-</span>
                        {% elseif order.subcontracted %}
                            Estimée à : <span class="wii-big-text">Non disponible</span>
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ASSIGNED') %}
                            {% if transport is instanceof('App\\Entity\\Transport\\TransportRequest') %}
                                {% if entity is instanceof('App\\Entity\\Transport\\TransportRequest') %}
                                    Estimée à : <span class="transport-value">{{ estimatedTimeSlot.name ?? "-"}}</span>
                                {% else %}
                                    Estimée à : <span class="transport-value">{{ roundLine ? (roundLine.estimatedAt | date('H:i')) : (timeSlot ? timeSlot.name : transport.expectedAt | date('H:i')) }}</span>
                                {% endif %}
                            {% else %}
                                Estimée à : <span class="transport-value">{{ transport.expectedAt | date('H:i') }}</span>
                            {% endif %}
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ONGOING') %}
                            Estimée à : <span class="transport-value">
                                {{ roundLine ? roundLine.estimatedAt | date('H:i') : '-' }}
                            </span>
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_FINISHED') %}
                            Faite à : <span class="transport-value">{{ roundLine ? roundLine.fulfilledAt | date('H:i') : '-' }}</span>
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_NOT_DELIVERED') %}
                            Non livrée le : <span class="transport-value">{{ order.treatedAt ? order.treatedAt | format_helper('longDate', {short: true, year: false}) : '-' }}</span>
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_CANCELLED') %}
                            Annulée le : <span class="transport-value">{{ roundLine ? roundLine.cancelledAt | format_helper('longDate', {short: true, year: false}) : '' }}</span>
                        {% endif %}
                    {% elseif transport is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}
                        {% if not order or order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_ASSIGN') or order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_CONTACT') %}
                            Estimée à : <span class="transport-value">-</span>
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ASSIGNED') %}
                            {% if entity is instanceof('App\\Entity\\Transport\\TransportRequest') %}
                                Estimée à : <span class="transport-value">{{ estimatedTimeSlot.name ?? "-" }}</span>
                            {% else %}
                                Estimée à : <span class="transport-value">{{  roundLine ? (roundLine.estimatedAt | date('H:i')) : (timeSlot ? timeSlot.name : transport.expectedAt | date('H:i'))  }}</span>
                            {% endif %}
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ONGOING') %}
                            Estimée à : <span class="transport-value">{{ roundLine ? roundLine.estimatedAt | date('H:i') : '-' }}</span>
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_FINISHED') %}
                            Faite à : <span class="transport-value">{{ roundLine ? roundLine.fulfilledAt | date('H:i') : '-' }}</span>
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_NOT_COLLECTED') %}
                            Non collectée le :
                            <span class="transport-value">{{ order.treatedAt ? (order.treatedAt | format_helper('longDate', {short: true, year: false})) : '-' }}</span>
                        {% elseif order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_CANCELLED') %}
                            Annulée le :
                            <span class="transport-value">{{ roundLine ? (roundLine.cancelledAt | format_helper('longDate', {short: true, year: false})) : '-' }}</span>
                        {% endif %}
                    {% endif %}
                        </span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
