{% extends 'layout.html.twig' %}

{% block title %}Production | Liste des OF{% endblock %}
{% block title_tooltip %}Production | Liste{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersProduction.html.twig' with {
        page: 'PAGE_PRODUCTION',
        tableSelector: '#tableProductions',
        needsDateFormatting: true,
        types: types,
        statusFilter: statusFilter,
        statuses : statuses,
        typesFilter: typesFilter,
        dateChoices,
        disabled: fromDashboard ? 'disabled' : '',
    } %}
{% endblock %}

{% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::PRODUCTION'), constant('App\\Entity\\Action::EXPORT_PRODUCTION_REQUEST')) %}
{% set hasRightToCreateDispatch = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE_ACHE')) %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="dispatch-button-container">
                    {% include "utils/action-buttons/header-buttons.html.twig" with {
                        actions: [
                            {
                                hasRight: hasRightToExport,
                                title: "Exporter au format CSV",
                                icon : "fa fa-file-csv",
                                class: "export-button",
                            },
                            {
                                title: trans('Général', '', 'Zone liste', 'Gestion des colonnes'),
                                icon: "fa fa-cog",
                                attributes: {
                                    "data-toggle": "modal",
                                    "data-target": "#modalFieldModes",
                                },
                            },
                            {
                                hasRight: hasRightToCreateDispatch,
                                title: "Acheminer",
                                icon: "fas fa-exchange-alt",
                                class: "dispatch-button",
                            }
                        ]
                    } %}
                </div>
                <div class="dispatch-mode-container d-none">
                    {% include "utils/action-buttons/header-buttons.html.twig" with {
                        actions: [
                            {
                                title: "Annuler acheminer",
                                class: "cancel",
                                buttonClass: "btn btn-outline-primary",
                            },
                        ]
                    } %}
                    {% include "utils/action-buttons/header-buttons.html.twig" with {
                        actions: [
                            {
                                title: "Valider production à acheminer",
                                class: "validate",
                            },
                        ]
                    } %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableProductions" class="table w-100" data-initial-visible="{{ initial_visible_columns }}"></table>
            </div>
        </div>
    </div>

    <input type="hidden" name="fromDashboard" value="{{ fromDashboard }}">

    {% include "utils/fields-modes.html.twig" with {
        fields,
        table: 'tableProductions',
        page: constant('App\\Controller\\FieldModesController::PAGE_PRODUCTION_REQUEST_LIST'),
        config: {
            columns: [
                {
                    label: "Visible",
                    type: "checkbox",
                    name: constant('App\\Service\\FieldModesService::FIELD_MODE_VISIBLE'),
                },
            ],
        }
    } %}

    {% include 'production_request/modal/new.html.twig' with {
        productionRequest,
        fieldsParam,
        emergencies,
        expectedAtDate,
    }%}

    {% include 'production_request/modal/duplicate.html.twig' %}

    {% include 'utils/modal/empty-modal.html.twig' with {
        id: 'modalNewDispatch',
        size: 'modal-xl',
        header: {
            title: trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Demande d\'acheminement')
        },
        footer: {
            elements: [
                {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), type: 'submit'},
            ],
        }
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('production-index') }}
    <script src="{{ asset('js/pages/dispatch-common.js') }}?v={{ web_version }}"></script>
    {{ encore_entry_script_tags('filters') }}
{% endblock %}
