{% set disabled = (((disabled is defined) and (disabled == true)) ? 'disabled' : '') %}
{% set hidden_submit = (((hidden_submit is defined) and (hidden_submit == true)) ? 'hidden' : '') %}

<div class="filterService {{ marginClass ?? 'm-4'}}">
    <div class="filters filters-container">
        <div class="row">
            <div class="col">
                <div class="row no-gutters filters-wrapper-row align-items-center">
                    {% block filters %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-auto d-flex align-items-center" {{ hidden_submit }}>
                <button class="btn btn-primary minw-105px submit-button"
                        {{ hidden_submit }}
                        tabindex="0"
                        onclick="saveFilters(
                            {{ page ?? '""' }},
                            {{ tableSelector is defined ? ("'" ~ tableSelector ~ "'") : 'undefined' }},
                            {{ callback is defined ? callback : 'null' }},
                            {{ needsDateFormatting is defined ? needsDateFormatting : 'false' }}
                        )">
                    <i class="fas fa-filter mr-1"></i>
                    Filtrer
                </button>
            </div>
        </div>
    </div>
</div>
