{% extends 'filters/filters.html.twig' %}

{% block moreFilters %}

    <div>
        <div class="input-group">
            <select class="form-control data" name="providers" id="providers" multiple="multiple" >
                {% for provider in providers %}
                    <option value="{{ provider.nom }}">{{ provider.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div>
        <div class="input-group">
            <select class="form-control data" name="carriers" id="carriers" multiple="multiple" >
                {% for carrier in carriers %}
                    <option value="{{ carrier.label }}">{{ carrier.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


{% endblock %}

{% block emplacementFilter %}
{% endblock %}

{% block dateFilter %}
{#    {{ parent() }}#}
{% endblock %}