{% set disabled = disabled is defined and disabled == true ? 'disabled' : '' %}
<div class="filterService filters">
    {% block dateFilter %}
    <div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">De</div>
            </div>
            <input type="date" class="form-control" name="dateMin" id="dateMin" placeholder="Date de début" {{ disabled }}>
            <div class="input-group-prepend">
                <div class="input-group-text">Au</div>
            </div>
            <input type="date" class="form-control" name="dateMax" id="dateMax" placeholder="Date de fin" {{ disabled }}>
        </div>
    </div>
    {% endblock %}

    {% block moreFilters %}
    {% endblock %}

    {% block emplacementFilter %}
        <div>
            <div class="input-group maxw-250px">
                <select class="form-control data select2" name="emplacement" id="emplacement" {{ disabled }}>
                    <option></option>
                    {% for emplacement in emplacements %}
                        <option value="{{ emplacement.label }}">{{ emplacement.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endblock %}

    {% block statusFilter %}
    <div>
        <div class="input-group">
            <select class="form-control data" name="statut" id="statut" {{ disabled }}
                    placeholder='{{ statut is defined  ? statut : 'statut' }}'>
                <option value>{{ statut is defined  ? statut : 'Statut' }}</option>
                {% for statut in statuts %}
                    {% if filterStatus is defined and statut.nom == filterStatus%}
                        {% set selected = 'selected' %}
                    {% else %}
                        {% set selected = '' %}
                    {% endif %}
                    <option value="{{ statut.nom }}" {{ selected }}>{{ statut.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endblock %}

    {% block userFilter %}
    <div class="minw-150px">
        <div class="input-group w-100">
            <select id="utilisateur" name="utilisateur" class="form-control data ajax-autocomplete-user min-150px" multiple="multiple" {{ disabled }}>
            </select>
        </div>
    </div>
    {% endblock %}

    {% block typeFilter %}
    {% if types is defined %}
    <div>
        <div class="input-group">
            <select type="text" class="form-control data" name="type" {{ disabled }}
                    id="type">
                <option value>Type</option>
                {% for type in types %}
                    <option value="{{ type.label}}">
                        {{ type.label }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <input class="current-username" hidden value="{{ app.user.username }}">
    </div>
    {% endif %}
    {% endblock %}

    {% block urgence %}
    {% endblock %}

    {% block providerFilter %}
        <div class="minw-150px">
            <div class="input-group w-100">
                <select id="providers" name="providers" class="form-control data ajax-autocomplete-fournisseur min-150px" multiple="multiple" {{ disabled }}>
                </select>
            </div>
        </div>
    {% endblock %}

    <div>
        <div id='{{ btnName }}' class="btn btn-primary minw-105px" tabindex="0">
            <i class="fas fa-filter mr-2"></i>
            Filtrer
        </div>
    </div>
</div>
