<div class="form-group row">
    <label class="required col-12">Demandeur</label>
    <div class="col-12">
        <input type="text" disabled="disabled" class="w-100 form-control" value="{{ transfer.requester.username }}">
    </div>
</div>

{% if transfer.origin is defined and transfer.origin != null %}
    <div class="form-group row">
        <label class="required col-12">Origine</label>
        <div class="col-12">
            <input value="{{ transfer.origin.label }}"
                   title="Origine"
                   class="form-control"
                   disabled/>
        </div>
    </div>
{% endif %}
<div class="form-group row">
    <label class="required col-12">Destination</label>
    <div class="col-12">
        <select name="destination" required="required" class="form-control w-100 data ajax-autocomplete-location-edit">
            {% if transfer.destination is defined and transfer.destination != null %}
                <option value="{{transfer.destination.id}}" selected>{{transfer.destination.label}}</option>
            {% endif %}
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-12">Commentaire</label>
    <div class="col-12">
        <input id="comment" class="form-control data" name="comment" type="hidden" value="{{transfer.comment}}" >
        <div class="editor-container-edit" value="{{transfer.comment}}"> {{transfer.comment|raw}}</div>
    </div>
</div>
