{% extends 'layout.html.twig' %}

{% block title %}Ordre | Planning{% endblock %}
{% block titleLink path('transport_planning_index') %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transport-order-planning') }}
{% endblock %}

{% block page_content %}
    <div class="m-0 m-md-4 p-4 wii-page-card">
        <div class="d-flex">
            <div>
                <button class="btn btn-outline-primary  mr-0" tabindex="0">
                    Aujourd'hui
                </button>
            </div>
            <div class="mx-3">
                <button class="btn btn-outline-primary  mr-0" tabindex="0">
                    <img src="{{ asset('svg/arrow.svg') }}"  style="transform:rotate(180deg);" alt="Icône left arrow" width="15px">
                </button>
                <button class="btn btn-outline-primary" tabindex="0">
                    <img src="{{ asset('svg/arrow.svg') }}" alt="Icône right arrow" width="15px">
                </button>
            </div>
            <div class="planning-switch mx-4">
                <div class="to-assign">
                    <input type="checkbox" id="to-assign" name="to-assign" class="to-assign" value="to-assign"/>
                    <label for="to-assign">
                            <span class="d-inline-flex align-items-center">
                                &Agrave; affecter
                            </span>
                    </label>
                </div>
                <div class="assigned">
                    <input type="checkbox" id="assigned" name="assigned" class="assigned" value="assigned"/>
                    <label for="assigned">
                            <span class="d-inline-flex align-items-center">
                                Affectée
                            </span>
                    </label>
                </div>
                <div class="ongoing">
                    <input type="checkbox" id="ongoing" name="ongoing" class="ongoing" value="ongoing"/>
                    <label for="ongoing">
                            <span class="d-inline-flex align-items-center">
                                En cours
                            </span>
                    </label>
                </div>
            </div>
            <button class="btn btn-primary ml-auto" tabindex="0">
                <img src="{{ asset('svg/delivery-white.svg') }}" alt="Icône tournéé" width="15px">
                <span>Planifier une tournée</span>
            </button>
        </div>
        <div class="row d-flex">
            <!-- debut planning une semaine -->
            <div class="col-md-6 col-12 h-100">
                <div class="wii-box border border-bottom-0">
                    <div class="header">
                        <span class="wii-title">La date</span>
                    </div>
                    <div class="wii-box mt-0 ">
                        <div class="col-12 d-flex px-0">
                            <div class="col-6 px-0 pr-1">
                                <div class="planning-card-container border-right border-bottom">
                                    <div class="type-header">
                                        <img src="{{ asset('svg/delivery.svg') }}" alt="Icône livraison" width="15px">
                                        <span class="wii-field-name ml-2"> NB Livraison</span>
                                        <div class="mx-2 d-flex">
                                            <span class="wii-body-text mr-1">13</span>
                                            <img src="{{ asset('svg/cookie.svg') }}" alt="Icône livraison" width="15px">
                                        </div>
                                        <div class="mx-2 d-flex">
                                            <span class="wii-body-text mr-1">13</span>
                                            <img src="{{ asset('svg/cookie.svg') }}" alt="Icône livraison" width="15px">
                                        </div>
                                    </div>
                                    <div class="card-columns">
                                        {# TODO foreach sur les demande pour l'affichages des cards #}
                                        {% for transportOrder in transportOrders %}
                                            {% if transportOrder.request is not null and transportOrder.request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') %}
                                                {% include 'transport/planning/planning_card.html.twig' with {
                                                    'order': transportOrder
                                                } %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 px-0 pl-1">
                                <div class="border-left border-bottom planning-card-container ">
                                    <div class="type-header">
                                        <img src="{{ asset('svg/collect.svg') }}" alt="Icône collecte" width="15px">
                                        <span class="wii-field-name ml-2">NB Collectes</span>
                                        <div class="mx-2 d-flex">
                                            <span class="wii-body-text mr-1">13</span>
                                            <img src="{{ asset('svg/cookie.svg') }}" alt="Icône livraison" width="15px">
                                        </div>
                                    </div>
                                    <div class="card-columns">
                                       {% for transportOrder in transportOrders %}
                                           {% if transportOrder.request is not null and transportOrder.request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}
                                               {% include 'transport/planning/planning_card.html.twig' with {
                                                   'order': transportOrder
                                               } %}
                                           {% endif %}
                                       {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transport-order-planning') }}
{% endblock %}
