{% extends 'layout.html.twig' %}

{% block title %}Ordre | Planning{% endblock %}
{% block titleLink path('transport_planning_index') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transport-order-planning') }}
{% endblock %}

{% block pageContainerClass 'd-flex flex-fill flex-column' %}
{% block page_content %}
    <div class="m-0 m-md-4 wii-page-card flex-fill d-flex flex-column">
        <div class="d-flex">
            <div>
                <button class="btn btn-outline-primary today-date mr-0 h-100" tabindex="0"
                        disabled
                        data-loader-color="black">
                    Aujourd'hui
                </button>
            </div>
            <div class="mx-3 d-flex">
                <button class="btn btn-outline-primary decrement-date mr-0 h-100" tabindex="0"
                        disabled
                        data-loader-color="black">
                    <i class="wii-icon wii-icon-arrow-left wii-icon-15px"></i>
                </button>
                <button class="btn btn-outline-primary increment-date h-100" tabindex="0"
                        data-loader-color="black">
                    <i class="wii-icon wii-icon-arrow-right wii-icon-15px"></i>
                </button>
            </div>
            <div class="planning-switch mx-4">
                <div class="to-assign"
                     data-loader-color="black">
                    <input type="checkbox" name="status" value="to-assign" id="to-assign" checked/>
                    <label for="to-assign" class="h-100">
                        <span class="d-inline-flex align-items-center">
                            &Agrave; affecter
                        </span>
                    </label>
                </div>
                <div class="assigned"
                     data-loader-color="black">
                    <input type="checkbox" name="status" value="assigned" id="assigned" checked/>
                    <label for="assigned" class="h-100">
                        <span class="d-inline-flex align-items-center">
                            Affecté
                        </span>
                    </label>
                </div>
                <div class="ongoing"
                     data-loader-color="black">
                    <input type="checkbox" name="status" value="ongoing" id="ongoing" checked/>
                    <label for="ongoing" class="h-100">
                        <span class="d-inline-flex align-items-center">
                            En cours
                        </span>
                    </label>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <i class="wii-icon wii-icon-info wii-icon-15px bg-black mr-1"></i>
                <span class="wii-body-text">
                    N'oubliez pas de valider les dates de collecte avec le patient.
                </span>
            </div>
            {% set planRound = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::SCHEDULE_TRANSPORT_ROUND')) %}
            {% if planRound %}
                <button class="btn btn-primary ml-auto plan-round-button" tabindex="0">
                    <span class="d-inline-flex align-items-center">
                        <img src="{{ asset('svg/delivery-white.svg') }}" alt="" width="15px" class="mr-2">
                        <span>Planifier une tournée</span>
                    </span>
                </button>
            {% endif %}
        </div>
        <div class="transport-planning"></div>
    </div>
    {% include 'transport/round/first_step_modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transport-order-planning') }}
{% endblock %}
