{% set isOrderToAssign = (order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_ASSIGN')) %}
{% set cardClass =
        isOrderToAssign ? 'to-assign' :
            (order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ASSIGNED') ? 'assigned' :
                (order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ONGOING') ? 'ongoing' : ''))
%}
{% set request = order.request ?? null %}
{% set isCollect = request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}
{% set roundLine = order ? (order.transportRoundLines | last) ?: null : null %}

<div class="p-1 card m-0 border-0">
    <div class="order-card {{ cardClass }}">
        <span class="transport-type">
            <label for="type-filter-{{ request.type.id }}" class="d-inline-flex align-items-center">
                {% if request.type.logo %}
                    <img src="{{ request.type.logo ? request.type.logo.fullPath }}" class="mr-2" width="15">
                {% endif %}
                {{ request.type.label }}
            </label>
        </span>

        <div class="d-flex justify-content-between">
            <span class="wii-body-text py-1">{{ request.contact.name }}</span>
            <span class="wii-small-text py-1">N°{{ request.contact.fileNumber }}</span>
        </div>
        <div class="wii-field-name py-1 d-flex justify-content-between">
            <div>
                <img src="{{ asset('svg/clock-black.svg') }}" alt="Icône horloge" width="13px">
                {% if isCollect and request.timeSlot is not null %}
                    <span>{{ request.timeSlot.name }}</span>
                {% else %}
                    <span>{{ request.expectedAt | format_helper('time', true, true) }}</span>
                {% endif %}
                {% if not isCollect and request.emergency %}
                    <img src="{{ asset('svg/timeline-urgent.svg') }}" alt="Icône urgent" width="13px">
                {% endif %}
            </div>
            {% if isOrderToAssign and order.packs is not empty %}
                <span class="wii-body-text">Colisage fait</span>
            {% endif %}
        </div>
        {% if not isOrderToAssign and roundLine is not null%}
            <span class="underlined py-1">T{{ roundLine.transportRound.number }}</span>
            <span class="wii-body-text text-nowrap py-1">{{ roundLine.transportRound.deliverer.username }}</span>
        {% endif %}
    </div>
</div>
