{% set isOrderToAssign = (order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_ASSIGN')) %}
{% set cardColor = isOrderToAssign ? 'orange' : (order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ASSIGNED') ? 'green' :
    (order.status.nom == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ONGOING') ? 'blue' : '')) %}
{% set request = order.request ?? null %}
{% set isCollect = request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}
{% set roundLine = order ? (order.transportRoundLines | last) ?: null : null %}

<div class="planning-card {{ cardColor }}">
    <div class="planning-card-wrapper">
        <div class="transport-type">
            <label for="type-filter-{{ request.type.id }}" class="d-inline-flex align-items-center">
                {% if request.type.logo %}
                    <img src="{{ request.type.logo ? request.type.logo.fullPath }}" class="mr-2" width="15">
                {% endif %}
                {{ request.type.label }}
            </label>
        </div>
        {% if not isCollect and request.collect is not null %}
            <div class="transport-type">
                <label for="type-filter-{{ request.collect.type.id }}" class="d-inline-flex align-items-center">
                    {% if request.collect.type.logo %}
                        <img src="{{ request.collect.type.logo ? request.collect.type.logo.fullPath }}" class="mr-2" height="15">
                    {% endif %}
                    {{ request.collect.type.label }}
                </label>
            </div>
        {% endif %}
        <div class="details">
            <div class="d-flex pt-2 flex-wrap">
                <span class="wii-body-text mr-2">{{ request.contact.name }}</span>
                <span class="wii-small-text">N°{{ request.contact.fileNumber }}</span>
            </div>
            <div class="wii-field-name d-flex flex-wrap pt-2">
                <span class="d-flex align-items-center mr-2">
                    <img src="{{ asset('svg/clock-black.svg') }}" alt="Icône horloge" width="13px" class="mr-1">
                    {% if isCollect and request.timeSlot is not null %}
                        <span>{{ request.timeSlot.name }}</span>
                    {% else %}
                        <span>{{ request.expectedAt | format_helper('time', true, true) }}</span>
                    {% endif %}
                    {% if not isCollect and request.emergency is not empty %}
                        <img src="{{ asset('svg/timeline-urgent.svg') }}" alt="Icône urgent" width="13px" class="mx-2">
                    {% endif %}
                </span>
                <span>
                    {% if isOrderToAssign and order.packs is not empty %}
                        <span class="wii-body-text">Colisage fait</span>
                    {% endif %}
                </span>
            </div>
            {% if not isOrderToAssign and roundLine is not null %}
                <div class="d-flex flex-wrap pt-2">
                    <a href="{{ path('transport_round_show', {transportRound: roundLine.transportRound.id}) }}" class="py-1 mr-1 underlined">T{{ roundLine.transportRound.number }}</a>
                    <span class="wii-body-text text-nowrap py-1">{{ roundLine.transportRound.deliverer ? roundLine.transportRound.deliverer.username }}</span>
                </div>
            {% endif %}
        </div>
    </div>
</div>
