<div class="row planning-container planning-container-2">
    {% for i in 0..1 %}
        <div class="col-12 planning-col">
            <div class="wii-box border flex-fill d-flex flex-column">
                <div class="header">
                    <input type="hidden" value="{{ dateForContainer }}" class="date-container">
                    <span class="wii-title">{{ dateForContainer | date_modify("+#{i}days") | format_helper('longDate', {short: false, time: false, year: false}) }}</span>
                </div>
                <div class="row no-gutters flex-fill">
                    <div class="col-6 sub-planning-column">
                        <div class="d-flex flex-fill flex-column border-right">
                            <div class="column-hint-container">
                                <img src="{{ asset('svg/delivery.svg') }}" alt="" width="15px">
                                <span class="wii-field-name ml-2">
                                        {% set deliveries = deliveryAndCollectCount[dateForContainer | date_modify("+#{i}days") | date('Y-m-d')]['delivery'] ?? 0 %}
                                    {{ deliveries }} livraison{{ deliveries > 1 ? 's' }}
                                    </span>
                                <div class="mx-2 d-flex">
                                    {% if typesCount[dateForContainer | date_modify("+#{i}days") | date('Y-m-d')]['delivery'] is defined %}
                                        {% for typeId, counter in typesCount[dateForContainer | date_modify("+#{i}days") | date('Y-m-d')]['delivery'] %}
                                            <div class="d-inline-flex align-items-center ml-3">
                                                <span class="wii-body-text mr-1">{{ counter }}</span>
                                                {% if typeIdToFullPath[typeId] is defined and typeIdToFullPath[typeId] %}
                                                    <img src="{{ typeIdToFullPath[typeId] }}" alt="" width="15px">
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="planning-card-container">
                                {% for transportOrder in transportOrders[dateForContainer | date_modify("+#{i}days") | date('Y-m-d') ] %}
                                    {% if transportOrder is not empty and transportOrder.request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') %}
                                        {% include 'transport/planning/planning_card.html.twig' with {
                                            'order': transportOrder
                                        } %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 sub-planning-column">
                        <div class="d-flex flex-fill flex-column border-left">
                            <div class="column-hint-container">
                                <img src="{{ asset('svg/collect.svg') }}" alt="" width="15px">
                                <span class="wii-field-name ml-2">
                                        {% set collects = deliveryAndCollectCount[dateForContainer | date_modify("+#{i}days") | date('Y-m-d')]['collect'] %}
                                    {{ collects }} collecte{{ collects > 1 ? 's' }}
                                    </span>
                                <div class="mx-2 d-flex">
                                    {% if typesCount[dateForContainer | date_modify("+#{i}days") | date('Y-m-d')]['collect'] is defined %}
                                        {% for typeId, counter in typesCount[dateForContainer | date_modify("+#{i}days") | date('Y-m-d')]['collect'] %}
                                            <div class="d-inline-flex align-items-center ml-3">
                                                <span class="wii-body-text mr-1">{{ counter }}</span>
                                                {% if typeIdToFullPath[typeId] is defined and typeIdToFullPath[typeId] %}
                                                    <img src="{{ typeIdToFullPath[typeId] }}" alt="" width="15px">
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="planning-card-container">
                                {% for transportOrder in transportOrders[dateForContainer | date_modify("+#{i}days") | date('Y-m-d') ] %}
                                    {% if transportOrder is not empty and transportOrder.request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}
                                        {% include 'transport/planning/planning_card.html.twig' with {
                                            'order': transportOrder
                                        } %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
