<!-- debut de la card -->
<div class="col-md-6 col-12 p-1 d-flex">
    <div class="order-card to-assign"><!-- ici la class to-assiqn pour que la carte soie orange-->
        <span class="transport-type">
            <img src="{{ asset('svg/cookie.svg') }}" width="15px" alt="">
            <span>Type</span>
        </span>
        <span class="wii-body-text py-1">Nom patient</span>
        <span class="wii-small-text py-1">N°80445245</span>
        <div class="wii-field-name py-1">
            <img src="{{ asset('svg/clock-black.svg') }}" alt="Icône horloge" width="13px">
            <span>14:00</span>
            <img src="{{ asset('svg/timeline-urgent.svg') }}" alt="Icône urgent" width="13px">
        </div>
        <span class="underlined py-1">T210510-02</span>
        <span class="wii-body-text text-nowrap py-1">nom livreur</span>
    </div>
</div>
<!--fin de la card -->
<!-- debut de la card -->
<div class="col-md-6 col-12 p-1 d-flex">
    <div class="order-card assigned">  <!-- ici la class assigned pour que la carte soie verte-->
        <span class="transport-type">
            <img src="{{ asset('svg/cookie.svg') }}" width="15px" alt="">
            <span>Type</span>
        </span>
        <span class="wii-body-text py-1">Nom patient</span>
        <span class="wii-small-text py-1">N°80445245</span>
        <div class="wii-field-name py-1">
            <img src="{{ asset('svg/clock-black.svg') }}" alt="Icône horloge" width="13px">
            <span>14:00</span>
            <img src="{{ asset('svg/timeline-urgent.svg') }}" alt="Icône urgent" width="13px">
        </div>
        <span class="underlined py-1">T210510-02</span>
        <span class="wii-body-text text-nowrap py-1">nom livreur</span>
    </div>
</div>
<!--fin de la card -->
<!-- debut de la card -->
<div class="col-md-6 col-12 p-1 d-flex">
    <div class="order-card ongoing"><!-- ici la class ongoing pour que la carte soie violet-->
        <span class="transport-type">
            <img src="{{ asset('svg/cookie.svg') }}" width="15px" alt="">
            <span>Type</span>
        </span>
        <span class="wii-body-text py-1">Nom patient</span>
        <span class="wii-small-text py-1">N°80445245</span>
        <div class="wii-field-name py-1">
            <img src="{{ asset('svg/clock-black.svg') }}" alt="Icône horloge" width="13px">
            <span>14:00</span>
            <img src="{{ asset('svg/timeline-urgent.svg') }}" alt="Icône urgent" width="13px">
        </div>
        <span class="underlined py-1">T210510-02</span>
        <span class="wii-body-text text-nowrap py-1">nom livreur</span>
    </div>
</div>
<!--fin de la card -->

