<div class="minw-150px select2-overflow">
    <div class="input-group cursor-default">
        <select class="form-control data select2 filter-status" name="statut" id="statut" multiple="multiple" {{ disabled }}>
            {% for statut in statuts %}
                {% if filterStatus is defined and statut.nom == filterStatus%}
                    {% set selected = 'selected' %}
                {% else %}
                    {% set selected = '' %}
                {% endif %}
                <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom }}</option>
            {% endfor %}
        </select>
    </div>
    <input hidden id="filterStatus" value="{{ filterStatus is defined ? filterStatus : '' }}">
</div>
