<div class="col-auto m-1 pr-0">
    <div class="h-100 w-450px">
        <div class="btn-group" style="max-height: 35px">
            <div class="input-group">
                <div class="input-group-prepend h-100">
                    <span class="input-group-text w-50px">{{ trans('Général', null, 'Zone filtre', 'Du') }}</span>
                </div>
                {% set placeholder = needsDateFormatting is defined and needsDateFormatting and app.user.displayedDateFormat ? app.user.displayedDateFormat : 'jj/mm/aaaa' %}
                {% set format = needsDateFormatting is defined and needsDateFormatting and app.user.displayedDateFormat ? app.user.displayedDateFormat : 'd/m/Y' %}
                <input type="text"
                       class="form-control pointer cursor-default filter-date-min filter-input w-218px h-100"
                       name="dateMin"
                       id="dateMin"
                       placeholder="{{ placeholder }}"
                       placeholder="{{ needsDateFormatting is defined and needsDateFormatting ? app.user.displayedDateFormat : 'jj/mm/aaaa' }}"
                       value="{{ selectedDate is defined and selectedDate ? selectedDate | date(format) : '' }}"
                    {{ disabled }}
                       autocomplete="off"/>
                <div class="input-group-prepend h-100">
                    <span class="input-group-text w-50px border-left-0">{{ trans('Général', null, 'Zone filtre', 'Au') }}</span>
                </div>
                <input type="text"
                       class="form-control cursor-default filter-date-max filter-input w-218px border-radius-0 h-100"
                       name="dateMax"
                       id="dateMax"
                       placeholder="{{ placeholder }}"
                       value="{{ selectedDate is defined and selectedDate ? selectedDate | date(format) : '' }}"
                    {{ disabled }}
                       autocomplete="off"/>
            </div>
            <button type="button" class="dropdown-filter date-dropdown btn btn-secondary dropdown-toggle dropdown-toggle-split date-type-selector"
                    style="max-height: 35px;"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-angle-down"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right w-px-560 allow-focus filter-dropdown-menu date-choice">
                <div class="wii-switch-no-style needed" data-title="Date de filtre">
                    {% for dateChoice in dateChoices %}
                        {% set checked = dateChoice.default ?? false %}
                        <div class="dropdown-item wii-radio pl-3">
                            <input data-id="{{ dateChoice.name }}" class="filter-checkbox" type="radio" id="date-choice_{{ dateChoice.name }}"
                                   data-override-name="date-choice_{{ dateChoice.name }}" value="1"
                                   name="filter-date-choice"
                                   {{ selectedDate is defined and selectedDate and dateChoice.name == 'expectedDate' ? 'checked' }}
                                   {% if checked %}
                                        checked
                                   {% endif %}">
                            <label for="date-choice_{{ dateChoice.name }}" class="ml-1" style="color: #000 !important;">{{ dateChoice.label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
