{% set disabled = disabled is defined and disabled ? 'disabled' %}
{% set title = title ?? '' %}
{% set value = value ?? [] %}

<div class="col-auto m-1 select-filter pr-0">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default">
            <select class="form-control data filter-select2"
                    data-s2
                    data-editable
                    data-placeholder="{{ title }}"
                    title="{{ title }}"
                    name="commandList"
                    multiple
                    {{ disabled }} >
                {% if value %}
                    {% for value in value %}
                        <option value={{ value }} selected >
                            {{ value }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
</div>
