<div class="col-auto m-1 select-filter pr-0">
    <div class="select2-overflow">
        <div class="input-group w-100 cursor-default">
            <select class="form-control data select2 filter-select2"
                    name="statut"
                    multiple="multiple"
                    data-s2
                    data-placeholder="{{ placeholder ?? 'Statuts' }}"
                    data-no-empty-option
                    {{ disabled }}>
                {% if names is defined and names %}
                    {% for status in statuts %}
                        {% set selected = (filterStatus is defined and status == filterStatus) ? 'selected' %}
                        <option class="d-none" value="{{ status }}" {{ selected }}>
                            {% if forTrackMov is defined and forTrackMov %}
                                {{ trans('Traçabilité', 'Mouvements', status, false) }}
                            {% else %}
                                {{ status }}
                            {% endif %}
                        </option>
                    {% endfor %}
                {% else %}
                    {% for status in statuts | sort((a, b) => a.nom <=> b.nom) %}
                        {% set selected = (filterStatus is defined and status.nom == filterStatus) ? 'selected' %}
                        <option class="d-none" value="{{ status.id }}"
                                {% if status.isDraft or status.isNotTreated %}
                                    data-allowed-state="1"
                                {% endif %}
                            {{ selected }}>
                            {% if forTrackMov is defined and forTrackMov %}
                                {{ trans('Traçabilité', 'Mouvements', status.nom, false) }}
                            {% else %}
                                {{ (capitalize ?? false)
                                    ? (status|format_helper('status')|capitalize)
                                    : (status|format_helper('status')) }}
                            {% endif %}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <input hidden id="filterStatus" value="{{ filterStatus is defined ? filterStatus : '' }}">
    </div>
</div>
