<div class="col-auto mb-2 pr-0">
    {% if categories is defined %}
        {% for category in categories %}
            <button class="btn btn-primary btn-ripple filter-tab minw-105px" data-id="{{ category.id }}">
                {{ category.nom }}
            </button>
        {% endfor %}

        <select hidden class="filter-input" name="statusEntity" {{ disabled }}>
            <option value>Entité</option>
            {% for category in categories %}
                <option value="{{ category.id }}">
                    {{ category.nom }}
                </option>
            {% endfor %}
        </select>
    {% endif %}
</div>
