<div class="modal show" id="modalCollectTimeSlot" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% include('utils/modal/header.html.twig') with {
                title: "Date de collecte"
            } %}

            <div class="modal-body modal-input container-fluid ">
                <label class="wii-field-name w-100 ">
                    Date validée avec le patient
                </label>
                    <input type="date"
                           class="form-control needed data cursor-default filter-date-min mb-3 w-100 "
                           name="dateCollect"
                           min="{{ 'now' | date('Y-m-d') }}"
                           value="{{ request.validatedDate | date('Y-m-d') }}"
                           autocomplete="off"/>
                <label class="wii-field-name w-100">
                    Créneau passage
                </label>
                <select class="data w-100 form-control needed" name="timeSlot" >
                    {% for timeSlot in timeSlots %}
                        <option value="{{ timeSlot.id }}"
                            {{ request.timeSlot and timeSlot.id == request.timeSlot.id ? 'selected' }}>
                            {{ timeSlot.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary "
                        data-dismiss="modal">Annuler
                </button>
                <button type="button"
                        class="btn btn-success submit-button">Envoyer sur le planning
                </button>
            </div>
        </div>
    </div>

    <input class="data" type="hidden" value="{{ order.id }}" name="orderId">
</div>
