{% extends 'layout.html.twig' %}

{% block title %}Ordre | Transport | Détails{% endblock %}
{% block titleLink path('transport_order_index') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transport-order-show') }}
{% endblock %}

{% block page_content %}
    {% set request = order.request %}
    {% set request_delivery = request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') ? request : null %}
    {% set request_collect = request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') ? request : request_delivery.collect %}
    {% set hasRightToDisplayTransports = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_TRANSPORT')) %}
    <div class="wii-box-container mb-4 ml-3 mr-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="wii-box transport-details order-transport">
                    <div class="d-flex align-items-center mr-3">
                        {% if hasRightToDisplayTransports %}
                            <div class="mx-2">
                                <div class="dropdown dropright">
                                    <div class="d-flex pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img alt="Actions" src="{{ asset('svg/dotsblack.svg') }}" height="20px" width="8px">
                                    </div>
                                    <div class="dropdown-menu dropdown-follow-gt pointer">
                                        <a href="{{ path('transport_request_show', {'transport': request.id }) }}"
                                           class="dropdown-item">
                                            <i class="fas fa-external-link-alt mr-2"></i>
                                            Aller vers la demande de transport
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="d-flex {{ hasRightToDisplayTransports ? 'mr-3' : 'mx-3' }} py-2 w-100 justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-column">
                                    <span class="wii-title" title="Acheminement">Transport</span>
                                    <span class="wii-small-text">
                                        {{ constant('App\\Entity\\Transport\\TransportOrder::NUMBER_PREFIX') ~ request.number }}
                                    </span>
                                </div>
                                {% if order.rejected %}
                                    <img src="{{ asset('svg/rejected-delivery.svg') }}" class="ml-3"
                                         alt="Livraison rejetée" title="Livraison rejetée" width="25px">
                                {% endif %}
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                                <span class="wii-field-name">{{ request.createdBy|format_helper('user') }}</span>
                            </div>
                        </div>
                    </div>
                    {% set hasEmergency = request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') and request.emergency != "" %}
                    {% if hasEmergency %}
                        <div class="d-flex align-items-center bordered emergency-container pl-3">
                            <img src="{{ asset('svg/timeline-urgent.svg') }}" class="mr-2" alt="Icône urgence" width="17px">
                            <strong>Urgence - {{ request.emergency }}</strong>
                        </div>
                    {% endif %}
                    <div class="content {{ not hasEmergency ? 'bordered' }}">
                        {% if request_delivery is not null %}
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <div class="d-flex align-items-center">
                                        <img class="mr-2" src="{{ asset('svg/delivery.svg') }}" alt="" width="20px"/>
                                        <strong>Livraison</strong>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center">
                                        {% if request_delivery.type.logo %}
                                            <img
                                                src="{{ app.request.scheme ~'://'~ app.request.httpHost ~ "/uploads/attachements/" ~ request_delivery.type.logo.fileName }}"
                                                alt="Image type {{ request_delivery.type|format_helper('type') }}"
                                                class="mr-2"
                                                width="20px">
                                        {% endif %}
                                        <span class="wii-small-text">{{ request_delivery.type|format_helper('type') }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if request_collect is not null %}
                            <div class="row align-items-center {{ request_delivery is not null ? 'mt-2' }}">
                                <div class="col-4">
                                    <div class="d-flex align-items-center">
                                        <img class="mr-2" src="{{ asset('svg/collect.svg') }}" alt="" width="20px">
                                        <strong>Collecte</strong>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center">
                                        {% if request_collect.type.logo %}
                                            <img
                                                src="{{ app.request.scheme ~'://'~ app.request.httpHost ~ "/uploads/attachements/" ~ request_collect.type.logo.fileName }}"
                                                alt="Image type {{ request_collect.type|format_helper('type') }}"
                                                class="mr-2"
                                                width="20px">
                                        {% endif %}
                                        <span class="wii-small-text">{{ request_collect.type|format_helper('type') }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex align-items-center ">
                        <div class="d-flex align-items-center">
                        </div>
                    </div>
                    <div class="content status-history-container">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="spinner-border text-primary" role="status"></div>
                            <span class="ml-3">Génération de l'historique en cours</span>
                        </div>
                    </div>
                    <div class="header">
                        <img src="{{ asset('svg/calendar.svg') }}" alt="Icône calendrier" width="15px">
                        <span class="wii-field-name ml-2">Dates</span>
                    </div>
                    <div class="row content">
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item my-2">
                                {% set isCollect = request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}
                                <span class="wii-field-name">Date{{ not isCollect ? ' et heure' }} attendue</span>
                                <span class="wii-field-text">
                                    {{ request.expectedAt|format_helper('longDate', {short: true, time: not isCollect}) }}
                                </span>
                            </div>
                        </div>
                        {# only for collect order #}
                        {% if request_collect is not null and request_delivery is null %}
                            <div class="col-6 d-flex flex-column">
                                <div class="box-item my-2">
                                    <span class="wii-field-name">Date validée avec le patient</span>
                                    <span class="wii-field-text">
                                        {% if request_collect.validatedDate is not null %}
                                            <span class="">{{ request_collect.validatedDate | format_helper('longDate') }}</span>
                                        {% else %}
                                            <span>-</span>
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="box-item my-2">
                                    <span class="wii-field-name">Créneau passage</span>
                                    <span class="wii-field-text">
                                        {% if request_collect.timeSlot and request_collect.timeSlot.Name is not null %}
                                            <span>{{ request_collect.timeSlot.Name }}</span>
                                        {% else %}
                                            <span>-</span>
                                        {% endif %}
                                    </span>
                                </div>
                                {# only when the order has not been assigned to a round #}
                                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT_TRANSPORT'))
                                    and ( request_collect.order.status.code == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_CONTACT' )
                                        or request_collect.order.status.code == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_ASSIGN' )) %}
                                    <button class="btn btn-primary minw-105px submit-button"
                                            data-target="#modalCollectTimeSlot"
                                            data-toggle='modal'>
                                        <img class="mr-2" src="{{ asset('svg/pencil-white.svg') }}" alt="" width="15px">
                                        Renseigner date patient
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    {% if not order.rejected %}
                        <div class="header">
                            <img src="{{ asset('svg/delivery.svg') }}" alt="Icône calendrier" width="15px">
                            <span class="wii-field-name ml-2">Détails transport</span>
                        </div>
                        <div class="row content col-12">
                            <div class="col-6 d-flex flex-column">
                                <span class="wii-field-name">Tournée</span>
                                <span class="wii-field-text">
                                    {% if round is not null %}
                                        <a class="text-primary underlined"
                                           href="{{ path('transport_round_show', {transportRound: round.id}) }}">T{{ round.number }}</a>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="col-6 d-flex flex-column">
                                <span class="wii-field-name">Livreur</span>
                                <span class="wii-field-text">
                                    {% if round and  round.deliverer is not null %}
                                        <span>{{ round.deliverer|format_helper('user') }}</span>
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="header">
                        <img src="{{ asset('svg/information.svg') }}" alt="Icône information" width="15px">
                        <span class="wii-field-name ml-2">Autres informations</span>
                    </div>
                    {% include 'free_field/freeFieldsShow.html.twig' with {
                        containerClass: 'row content flex-wrap',
                        emptyLabel: 'Aucun champ libre renseigné',
                        values: request.freeFields,
                        freeFields: freeFields
                    } %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 pl-xl-0 pr-xl-0">
                <div class="wii-box">
                    <div class="header">
                        <span class="wii-title">Informations patient</span>
                    </div>
                    <div class="row content">
                        {% set transportRequestContact = request.contact %}
                        <div class="col-12 d-flex align-items-center mb-3">
                            <span class="wii-field-text">
                                <span class="wii-field-name mr-3">{{ transportRequestContact.name }}</span>
                                N° dossier {{ transportRequestContact.fileNumber }}
                            </span>
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <img src="{{ asset('svg/phone.svg') }}" alt="Icône téléphone"
                                 width="20px">
                            <div class="d-flex flex-column ml-2 justify-content-center">
                                <span class="wii-field-name">Contact</span>
                                <span class="wii-field-text">{{ transportRequestContact.contact }}</span>
                            </div>
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <img src="{{ asset('svg/user-contact.svg') }}" alt="Icône personne à prévenir"
                                 width="20px">
                            <div class="d-flex flex-column ml-2 justify-content-center">
                                <span class="wii-field-name">Personne à prévenir</span>
                                <span class="wii-field-text">{{ transportRequestContact.personToContact }}</span>
                            </div>
                        </div>
                        <div class="col-6 d-flex mt-3 align-items-center">
                            <img src="{{ asset('svg/location-blue.svg') }}" alt="Icône emplacement"
                                 width="20px">
                            <div class="d-flex flex-column ml-2 justify-content-center">
                                <span class="wii-field-name">Adresse</span>
                                <span class="wii-field-text">{{ transportRequestContact.address }}</span>
                            </div>
                        </div>
                        <div class="col-6 d-flex mt-3 align-items-center">
                            <img src="{{ asset('svg/question-mark.svg') }}" alt="Icône remarque"
                                 width="20px">
                            <div class="d-flex flex-column ml-2 justify-content-center">
                                <span class="wii-field-name">Remarque</span>
                                <span class="wii-field-text">{{ transportRequestContact.observation }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wii-box">
                    <div class="header wii-title">Historique de transport</div>
                    <div class="content transport-history-container">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="spinner-border text-primary" role="status"></div>
                            <span class="ml-3">Génération de l'historique de transport en cours...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="wii-box">
                    <div class="d-flex justify-content-between header">
                        <div class="d-flex flex-column">
                            <span class="wii-title">Colis</span>
                        </div>
                        <div class="d-flex align-items-center flex-column justify-content-end ">
                            <div class="d-flex align-items-center">
                                {% if request_delivery %}
                                    <span class="wii-small-text">
                                    {{ packsCount == 0 ? 'Colisage non fait' : 'Colisage fait' }}</span>
                                    {% if hasRejectedPacks %}
                                        <img src="{{ asset('svg/rejected-pack.svg') }}" class="ml-2" width="25px" height="25px">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="packs-container">
                        <div class="content d-flex align-items-center justify-content-center">
                            <div class="spinner-border text-primary" role="status"></div>
                            <span class="ml-3">Génération de la liste des colis en cours...</span>
                        </div>
                    </div>
                </div>
                <div class="wii-box">
                    <div class="header wii-title">Données</div>
                    <div class="content">
                        {% set requiresTemperatureTracking = false %}
                        {% set roundHasStarted = request.roundHasStarted %}
                        {% for line in request.lines %}
                            {% set requiresTemperatureTracking = requiresTemperatureTracking or line.nature.temperatureRanges | length %}
                        {% endfor %}
                        <div>
                            <span class="wii-field-name">Dernière position connue</span>
                            <span class="wii-small-text">
                                {% if order is not null and order.subcontracted %}
                                    Le suivi de température n'est pas disponible car la demande est sur un horaire non ouvré
                                {% elseif not roundHasStarted %}
                                    La tournée n'a pas commencé
                                {% endif %}
                                <div class="map-container pt-1">
                                    <div id="map"></div>
                                </div>
                            </span>
                        </div>
                        {% if request_delivery %}
                            <div class="pt-3">
                                <span class="wii-field-name">Courbe de températures</span>
                                <div class="wii-small-text">
                                     {% if order is not null and order.subcontracted %}
                                         Le suivi de température n'est pas disponible car la demande est sur un horaire non ouvré
                                     {% elseif not requiresTemperatureTracking %}
                                         La demande ne nécessite pas de suivi de température
                                     {% elseif not roundHasStarted %}
                                         La tournée n'a pas commencé
                                     {% else %}
                                         {% for url in urls %}
                                             {% include 'IOT/data_monitoring/content.html.twig' with {
                                                 type : 'chart',
                                                 fetch_url : url.fetch_url,
                                                 minTemp: url.minTemp,
                                                 maxTemp: url.maxTemp,
                                                 boxStyle: false,
                                                 alwaysVisible: true,
                                             } %}
                                         {% endfor %}
                                     {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if ( request_collect and not request_delivery )
        and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT_TRANSPORT'))
        and ( request_collect.order.status.code == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_CONTACT' )
            or request_collect.order.status.code == constant('App\\Entity\\Transport\\TransportOrder::STATUS_TO_ASSIGN' )) %}

        {% include 'transport/order/modal_collect_time_slot.html.twig' with {
            timeSlots: timeSlots ,
            order: order,
            request: request_collect,
        } %}
    {% endif %}

    <input type="hidden" value="{{ order.id }}" name="transportId">
    <input type="hidden" value="{{ constant('App\\Controller\\Transport\\HistoryController::ORDER') }}" name="transportType">
    <input type="hidden" value="{{ contactPosition | json_encode }}" name="contactPosition">
    <input type="hidden" value="{{ delivererPosition }}" name="delivererPosition">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transport-order-show') }}
    <script src="{{ asset('js/pages/iot/data-monitoring.js') }}?v={{ web_version }}"></script>
{% endblock %}
