{% extends 'layout.html.twig' %}

{% block title %}{{ 'urgences.urgences'|trans }}{% endblock %}

{% block page_content %}

    {% block page_filter %}
        {% include 'filters/filtersUrgence.html.twig' with {
            page: 'PAGE_URGENCES',
            tableSelector: '#tableUrgences'
        } %}
    {% endblock %}
    <div class="col-12">
        <h1 title="urgences">{{ 'urgences.urgences'|trans }}</h1>
    </div>
    <div class="col-12">
        <a href="" data-toggle="modal" data-target="#modalNewUrgence" class="btn btn-primary">
            <span class="fa fa-plus mr-2"></span><span title="nouvelle urgence">{{ 'urgences.nouvelle urgence'|trans }}</span>
        </a>
    </div>
    <div class="col-12">
    <table id="tableUrgences" class="table table-striped table-bordered w-100">
    </table>
    </div>
    {% include 'urgence/modalNewUrgence.html.twig' %}
    {% include 'urgence/modalDeleteUrgence.html.twig' %}
    {% include 'urgence/modalEditUrgence.html.twig' %}

    <input hidden id="dateBeginTranslation" value="{{ 'urgences.date de début'|trans }}">
    <input hidden id="dateEndTranslation" value="{{ 'urgences.date de fin'|trans }}">
    <input hidden id="numComTranslation" value="{{ 'urgences.numéro de commande'|trans }}">
    <input hidden id="buyerTranslation" value="{{ 'urgences.acheteur'|trans }}">
    <input hidden id="arrivalTranslation" value="{{ "arrivage.arrivage"|trans }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/urgence.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
