{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | {{ 'urgences.urgences'|trans }}{% endblock %}
{% block title_tooltip %}Traçabilité | Urgences{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersUrgence.html.twig' with {
        page: 'PAGE_URGENCES',
        tableSelector: '#tableUrgences'
    } %}
{% endblock %}

{% block page_content %}
    {% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE'))
        and hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE_EMERGENCY')) %}
    {% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}

    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    {% if hasRightToCreate %}
                        <button data-toggle="modal"
                                data-target="#modalNewUrgence"
                                class="btn btn-primary split-button">
                            <span class="fa fa-plus mr-2"></span>
                            <span title="nouvelle urgence">{{ 'urgences.nouvelle urgence'|trans }}</span>
                        </button>
                    {% elseif hasRightToExport %}
                        <button type="button"
                                class="btn btn-primary"
                                onclick="saveExportFile('get_emergencies_csv')">
                            <span class="fa fa-file-csv mr-2" style="padding: 0 2px"></span>
                            Exporter au format CSV
                        </button>
                    {% endif %}

                    {% if hasRightToCreate and hasRightToExport %}
                        <button type="button"
                                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                            <div class="dropdown-item pointer"
                                 title="exportCsvUrgence"
                                 onclick="saveExportFile('get_emergencies_csv')">
                                <i class="fa fa-file-csv"></i>
                                Exporter au format CSV
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableUrgences" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include 'urgence/modalNewUrgence.html.twig' %}
    {% include 'urgence/modalDeleteUrgence.html.twig' %}
    {% include 'urgence/modalEditUrgence.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/urgence.js') }}?v={{ web_version }}"></script>
{% endblock %}
