{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | {{ 'urgences.urgences'|trans }}{% endblock %}
{% block title_tooltip %}Traçabilité | Urgences{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersUrgence.html.twig' with {
        page: 'PAGE_URGENCES',
        tableSelector: '#tableUrgences'
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    <button data-toggle="modal"
                            data-target="#modalNewUrgence"
                            class="btn btn-primary split-button btn-ripple">
                        <span class="fa fa-plus mr-2"></span>
                        <span title="nouvelle urgence">{{ 'urgences.nouvelle urgence'|trans }}</span>
                    </button>

                    <button type="button"
                            class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right"
                         onclick="generateCSV('get_urgence_for_csv', 'urgence')">
                        <div class="dropdown-item pointer"
                             title="exportCsvUrgence">Exporter au format CSV
                            <i class="fa fa-file-csv mx-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableUrgences" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% include 'urgence/modalNewUrgence.html.twig' %}
    {% include 'urgence/modalDeleteUrgence.html.twig' %}
    {% include 'urgence/modalEditUrgence.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/urgence.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
