<div class="form-group">
    <label for="dateStart">{{ 'urgences.date de début'|trans|capitalize }}*</label>
    <input type="text"
           class="form-control cursor-default data needed datepicker dateStart"
           name="dateStart"
           data-date="{{ urgence.dateStart|date('Y-m-d H:i') }}">
</div>

<div class="form-group">
    <label for="dateEnd">{{ 'urgences.date de fin'|trans|capitalize }}*</label>
    <input type="text"
           class="form-control cursor-default data needed datepicker dateEnd"
           name="dateEnd"
           data-date="{{ urgence.dateEnd|date('Y-m-d H:i') }}">
</div>

<div class="form-group needed">
    <label for="source">{{ 'urgences.numéro de commande'|trans|capitalize }}*</label>
    <input class="form-control data needed" name="commande" value="{{ urgence.commande }}">
</div>

<div class="form-group">
    <label for="acheteur">{{ 'urgences.acheteur'|trans|capitalize }}</label>
    <select name="acheteur"
            class="form-control input-sm ajax-autocomplete-user data ajax-autocomplete w-100">
    </select>
</div>
