<form method="" class="modal fade" id="modalNewUrgence" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: '<span title="nouvelle urgence">' ~ trans('Traçabilité', 'Urgences', 'Nouvelle urgence', false) ~ '</span>'
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <diKv class="col-6">
                        <div class="form-group">
                            <label class="wii-field-name" for="dateStart" title="date de début">{{ trans('Traçabilité', 'Urgences', 'Date de début', false) }}*</label>
                            <input type="text"
                                   id="dateStart" name="dateStart"
                                   class="form-control data needed date first-date datetime-field pointer"
                                   data-init="{{ date('today midnight') | date('Y-m-d\\TH:i') }}"
                                   placeholder="{{ app.user.displayedDateFormat ~ ' hh:mm' }}"
                                   autocomplete="off"/>
                        </div>
                    </diKv>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="wii-field-name" for="dateEnd" title="date de fin">{{ trans('Traçabilité', 'Urgences', 'Date de fin', false) }}*</label>
                            <input type="text"
                                   id="dateEnd" name="dateEnd"
                                   class="form-control data needed date last-date datetime-field pointer"
                                   data-init="{{ date('today 23:59') | date('Y-m-d\\TH:i') }}"
                                   placeholder="{{ app.user.displayedDateFormat ~ ' hh:mm' }}"
                                   autocomplete="off"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group needed">
                            <label class="wii-field-name" for="source" title="numéro de commande">{{ trans('Traçabilité', 'Urgences', 'N° de commande', false) }}*</label>
                            <input class="form-control data needed" name="commande">
                        </div>
                    </div>
                    <div class="col-6">
                        {% set postNbIsRequired =
                            isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED'))
                            or isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_NS'))
                        %}
                        <div class="form-group">
                            <label class="wii-field-name" for="postNb">{{ trans('Traçabilité', 'Urgences', 'N° poste', false) }}{{ postNbIsRequired ? '*' }}</label>
                            <input type="text" class="form-control data {{ postNbIsRequired ? 'needed' }}" name="postNb">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="wii-field-name" title="acheteur">{{ trans('Traçabilité', 'Urgences', 'Acheteur', false) }}*</label>
                            <select name="acheteur"
                                    class="form-control input-sm ajax-autocomplete-user data needed ajax-autocomplete w-100">
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="wii-field-name">{{ trans('Traçabilité', 'Urgences', 'Fournisseur', false) }}*</label>
                            <select name="provider"
                                    class="form-control input-sm ajax-autocomplete-fournisseur data needed ajax-autocomplete w-100">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="wii-field-name">{{ trans('Traçabilité', 'Urgences', 'Transporteur', false) }}*</label>
                            <select name="carrier"
                                    class="form-control input-sm ajax-autocomplete-transporteur data needed ajax-autocomplete w-100">
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label class="wii-field-name" for="trackingNb">{{ trans('Traçabilité', 'Urgences', 'N° tracking transporteur', false) }}</label>
                            <input type="text" class="form-control data" name="trackingNb">
                        </div>
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), id: 'submitNewUrgence'}
                ],
            } %}

        </div>
    </div>
</form>
