<form method="" class="modal fade" id="modalNewUrgence" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title"><span title="nouvelle urgence">{{ 'urgences.nouvelle urgence'|trans|capitalize }}</span></h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="dateStart" title="date de début">{{ 'urgences.date de début'|trans|capitalize }}*</label>
                            <input type="text" class="form-control cursor-default data needed date first-date" id="dateStart" name="dateStart" placeholder="jj/mm/aaaa">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="dateEnd" title="date de fin">{{ 'urgences.date de fin'|trans|capitalize }}*</label>
                            <input type="text" class="form-control cursor-default data needed date last-date" id="dateEnd" name="dateEnd" placeholder="jj/mm/aaaa">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group needed">
                            <label for="source" title="numéro de commande">{{ 'urgences.numéro de commande'|trans|capitalize }}*</label>
                            <input class="form-control data needed" name="commande">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="postNb">Numéro de poste*</label>
                            <input type="text" class="form-control data needed" name="postNb">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label title="acheteur">{{ 'urgences.acheteur'|trans }}*</label>
                            <select name="acheteur"
                                    class="form-control input-sm ajax-autocomplete-user data needed ajax-autocomplete w-100">
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label>Fournisseur*</label>
                            <select name="provider"
                                    class="form-control input-sm ajax-autocomplete-fournisseur data needed ajax-autocomplete w-100">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Transporteur*</label>
                            <select name="carrier"
                                    class="form-control input-sm ajax-autocomplete-transporteur data needed ajax-autocomplete w-100">
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="provider">Numéro tracking transporteur</label>
                            <input type="text" class="form-control data" name="trackingNb">
                        </div>
                    </div>
                </div>
            </div>

            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewUrgence" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
