{% import 'form.html.twig' as form %}

<div class="row">
    <div class="form-group needed col-md-6 col-12">
        <label class="wii-field-name" for="requester">Demandeur</label>
        <select class="demandeur form-control data needed input" name="requester" disabled>
            {% if purchaseRequest.requester %}
                <option value="{{ purchaseRequest.requester.id}}">{{ purchaseRequest.requester.username }}</option>
            {% else %}
                <option value="{{ app.user.id }}">{{ app.user.username }}</option>
            {% endif %}
        </select>
    </div>

    <div class="form-group col-md-6 col-12">
        <label class="wii-field-name">Statut</label>
        <div class="w-100">
            <select name="status"
                    class="form-control data needed select2"
                    title="Statut">
                {% if purchaseRequest.status %}
                    {% for status in statuses %}
                        {% set Default = status.id == purchaseRequest.status.id %}
                        <option value="{{ status.id }}" {{ Default ? 'selected' : " " }}>{{ status.nom }}</option>
                    {% endfor %}
                {% else %}
                    {% for status in statuses %}
                        {% set Default = status.defaultForCategory == 1 %}
                        <option value="{{ status.id }}" {{ Default ? 'selected' : " " }}>{{ status.nom }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>

    <div class="form-group col-12 col-md-6">
        {{ form.select('supplier', 'Fournisseur', fieldsParam|isFieldRequired('fournisseur', 'requiredCreate'), {
            type: 'provider',
            multiple: false,
            items: {(purchaseRequest.supplier.id ?? '' ): (purchaseRequest.supplier.nom ?? '')}
        }) }}
    </div>

    <div class="form-group col-md-6 col-12">
    </div>

    <div class="form-group col-md-6 col-12">
        <label class="wii-field-name">Commentaire</label>
        <input class="comment form-control data"
               name="comment"
               type="hidden"
               value="{{ purchaseRequest.comment }}">
        <div class="editor-container-edit" data-wysiwyg>
            {{ purchaseRequest.comment|raw }}
        </div>
    </div>

    <div class="form-group col-md-6 col-12">
        {% include 'attachment/attachment.html.twig' with {
            'isNew' : false,
            'attachments': purchaseRequest.attachments
        } %}
    </div>
</div>
