<div class="row">
    <div class="form-group needed col-md-6 col-12">
        <label class="wii-field-name" for="requester">Demandeur</label>
        <select class="demandeur form-control data needed input" name="requester" disabled>
            <option value="{{ purchaseRequest.requester.id }}">{{ purchaseRequest.requester.username }}</option>
        </select>
    </div>

    <div class="form-group col-md-6 col-12">
        <label class="wii-field-name">Statut</label>
        <div class="w-100">
            <select name="status"
                    class="form-control data needed select2"
                    title="Statut">
                {% for status in statuses %}
                    <option value="{{ status.id }} {{ status.id == purchaseRequest.status.id ? 'selected' }}">{{ status.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group col-md-6 col-12">
        <label class="wii-field-name">Commentaire</label>
        <input class="comment form-control data"
               name="comment"
               type="hidden"
               value="{{ purchaseRequest.comment }}">
        <div class="editor-container-edit" data-wysiwyg>
            {{ purchaseRequest.comment|raw }}
        </div>
    </div>

    <div class="form-group col-md-6 col-12">
        {% include 'attachment/attachment.html.twig' with {
            'isNew' : false,
            'attachments': purchaseRequest.attachments
        } %}
    </div>
</div>
