{% extends 'layout.html.twig' %}

{% block title %}Demande | Achat | Détails{% endblock %}
{% block titleLink path('purchase_request_index') %}

{% block page_content %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "purchase_request/show_header.html.twig" with {
                        modifiable: modifiable,
                        request: request,
                        showDetails: detailsConfig
                    } %}
                </div>
            </div>
        </div>
    </div>
    {% include  "purchase_request/delete.html.twig" %}
    {% include "purchase_request/edit.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let id = {{ request.id }};
    </script>

    <script src="{{ asset('js/pages/purchase_request/index.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/purchase_request/show.js') }}?v={{ web_version }}"></script>
{% endblock %}
