{% extends 'layout.html.twig' %}

{% block title %}Demande | Achat | Détails{% endblock %}
{% block titleLink path('purchase_request_index') %}


{% set hasRightAddLine = (
    request.status
    and request.status is defined
    and request.status.draft
    and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT'))
    and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT_DRAFT_PURCHASE_REQUEST'))
) %}

{% block page_content %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "purchase_request/show_header.html.twig" with {
                        modifiable: modifiable,
                        request: request,
                        showDetails: detailsConfig
                    } %}
                </div>
            </div>
        </div>
        <div class="mt-3 wii-page-card">
            <div class="row mb-2">
                <h5 class="col-auto h5">Liste des références</h5>
            </div>
            {% if hasRightAddLine %}
                <div class="row wii-page-card-header">
                    <div class="col-auto ml-auto">
                        <div class="btn-group">
                            <button type="button" data-toggle="modal" data-target="#modalAddPurchaseRequestLine"
                                    onclick="clearLineAddModal(true)"
                                    class="btn btn-primary split-button d-flex align-items-center">
                                <span class="wii-icon wii-icon-plus mr-2"></span>Ajouter référence
                            </button>
                            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <div class="dropdown-menu dropdown-follow-gt pointer dropdown-menu-right">
                                <a href="{{ path('reference_article_index') }}"
                                   class="dropdown-item"
                                   title="Chercher une référence">
                                    <i class="fa fa-search mr-2"></i>
                                    Chercher une {{ 'reference.référence'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-12">
                    <table id="tablePurchaseRequestLine" class="table"></table>
                </div>
            </div>
        </div>
    </div>

    {% include "purchase_request/delete.html.twig" %}
    {% include "purchase_request/line/new.html.twig"%}
    {% include "purchase_request/line/edit.html.twig"%}
    {% include "purchase_request/line/delete.html.twig" with {request: request} %}
    {% include "purchase_request/edit.html.twig" %}
    {% include "purchase_request/validate.html.twig" with validate %}
    {% include "purchase_request/consider.html.twig" with consider %}
    {% include "purchase_request/treat.html.twig" with treat %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let id = {{ request.id }};
    </script>

    <script src="{{ asset('js/pages/purchase_request/index.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/purchase_request/show.js') }}?v={{ web_version }}"></script>
{% endblock %}
