<form method="">
    <div class="modal-body modal-input container-fluid row">
        <div class="col-12 form-group required d-none">
            <input type="text" class="form-control data needed" name="nature" required="" value="{{ nature.id }}">
        </div>

        <div class="form-group col-12">
            <label>Label*</label>
            <input type="text" class="data form-control needed" name="label" value="{{ nature.label }}">
        </div>
        <div class="mb-3 form-group col-12">
            <label>Code*</label>
            <input type="text" class="data form-control needed" name="code" value="{{ nature.code }}">
        </div>
        <div class="mb-3 form-group col-12">
            <label>Description</label>
            <input type="text" class="data form-control needed" name="description" value="{{ nature.description }}">
        </div>
        <div class="mb-3 form-group col-12">
            <label>Synchronisation nomade ?</label>
            {% set checkedSync = nature.needsMobileSync ? 'checked' %}
            <label class="switch ml-3">
                <input class="checkbox data" type="checkbox" name="mobileSync" {{ checkedSync }}>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="mb-3 form-group col-12">
            <label>Quantité par défaut*</label>
            <input type="text" class="data form-control needed" name="quantity" value="{{ nature.defaultQuantity is defined ? nature.defaultQuantity : '' }}">
        </div>
        <div class="mb-3 form-group col-12">
            <label>Couleur*</label>
            <input type="color" class="data form-control needed" name="color" value="{{ nature.color ? nature.color : '' }}">
        </div>
        <div class="mb-3 form-group col-12">
            <label for="code">Préfixe</label>
            <input type="text" class="data form-control" name="prefix" value="{{ nature.prefix ? nature.prefix : '' }}">
        </div>
    </div>
</form>
