<form class="modal fade" id="modalNewNature" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer <span title="une nature">{{ 'natures.une nature'|trans }}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-md-6 col-12">
                        <label>Label*</label>
                        <input type="text" class="data form-control needed" name="label">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label>Code*</label>
                        <input type="text" class="data form-control needed" name="code">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label>Description</label>
                        <input type="text" class="data form-control" name="description">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label>Quantité par défaut*</label>
                        <input type="number" class="data form-control needed" name="quantity" min="0">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label>Couleur*</label>
                        <input type="color" class="data form-control needed" name="color">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label>Préfixe</label>
                        <input type="text" class="data form-control" name="prefix">
                    </div>
                    <div class="form-group col-md-6 col-12">
                        <label>Températures</label>
                        <sup><img src="{{ asset('svg/reference_article/information.svg') }}"
                                  alt="Icône information"
                                  width="10px"
                                  class="has-tooltip"
                                  title="Valable uniquement sur les demandes de transport">
                        </sup>
                        <select name="allowedTemperatures" class="form-control data w-100" data-s2 multiple>
                            {% for temperature in temperatures %}
                                <option value="{{ temperature.id }}">{{ temperature.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label>Synchronisation nomade ?</label>
                        <label class="switch ml-3">
                            <input class="checkbox data" type="checkbox" name="mobileSync">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-group col-12">
                        <label>Nature par défaut (acheminements)</label>
                        <label class="switch ml-3">
                            <input class="checkbox data" type="checkbox" name="defaultForDispatch">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-group col-12 d-flex align-items-center">
                        <label>Affichage sur les formulaires ?</label>
                        <label class="switch ml-2">
                            <input class="checkbox data" type="checkbox" name="displayedOnForms" onchange="toggleEntitiesContainer($(this))">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-12 entities-container d-none">
                        {% for index, entity in constant('App\\Entity\\Nature::ENTITIES') %}
                            <div class="d-flex mb-1">
                                <div class="form-group col-auto d-flex align-items-center mb-2">
                                    <label class="d-flex align-items-center font-size-mini pointer mr-2">
                                        <input class="checkbox data mr-2" type="checkbox" name="{{ index }}"
                                               onclick="toggleTypes($(this))">
                                        {{ entity }}
                                    </label>
                                </div>
                                {% if index != constant('App\\Entity\\Nature::ARRIVAL_CODE') %}
                                    <div class="col-4 types-container form-group mb-0">
                                        <label class="d-none">Types de {{ entity }}</label>
                                        <select name="{{ index }}Types" class="data form-control w-100" data-s2 data-placeholder="Sélectionnez un ou plusieurs types" disabled multiple>
                                            {% for type in (types[index] ?? []) %}
                                                <option value="{{ type['id'] }}">{{ type['label'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group-append col-3">
                                        <button class="btn btn-primary w-100" type="button" onclick="selectAllTypes($(this))">Tous les types</button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitNewNature" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
