<div class="row">
    <div class="form-group col-8">
        <label>Nom de l'import</label>
        <input type="text" class="form-control data needed" name="label" value="{{ import ? 'Copie de '~ import.label }}">
    </div>
    <div class="form-group col-4">
        <label>Type de données à importer</label>
        <select class="form-control data needed"
                name="entity"
                onchange="importTemplateChanged($(this))">
            <option></option>
            <option value="{{ constant('App\\Entity\\Import::ENTITY_ART') }}" {{ import and import.entity == constant('App\\Entity\\Import::ENTITY_ART') ? 'selected' }}>Articles</option>
            <option value="{{ constant('App\\Entity\\Import::ENTITY_REF') }}" {{ import and import.entity == constant('App\\Entity\\Import::ENTITY_REF') ? 'selected' }}>Références</option>
            <option value="{{ constant('App\\Entity\\Import::ENTITY_FOU') }}" {{ import and import.entity == constant('App\\Entity\\Import::ENTITY_FOU') ? 'selected' }}>Fournisseurs</option>
            <option value="{{ constant('App\\Entity\\Import::ENTITY_ART_FOU') }}" {{ import and import.entity == constant('App\\Entity\\Import::ENTITY_ART_FOU') ? 'selected' }}>Articles fournisseurs</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-12">
        <div>
            {% include 'attachment/attachment.html.twig' with {
                'isNew': true,
                'text': 'Faites glisser votre fichier csv',
                unique: true
            } %}
        </div>
    </div>
</div>

<div class="row">
    <p class="col">Attention : Le délimiteur est le point virgule et l'encodage UTF-8.</p>
</div>

<div class="row mt-3">
    <p class="class-12" id="linkToTemplate"></p>
</div>
