{% extends 'layout.html.twig' %}

{% block title %}préfixage des noms de demandes{% endblock %}

{% block page_content %}

    <div class='row justify-content-center'>
        <form action="" class="col-3" id="prefixeForm">
            <h1>Préfixage des noms de demandes</h1>
            <div class="form-group">
                <label for="typeDemande">Type de demande</label>
                <select name="typeDemande" class="form-control data d-block type" id="typeDemandePrefixageDemande" onchange="getPrefixDemand($(this))">
                    <option value="aucunPrefixe">Type demande à choisir...</option>
                    <option value="{{ constant('App\\Entity\\PrefixeNomDemande::TYPE_LIVRAISON') }}">Demande de livraison </option>
                    <option value="{{ constant('App\\Entity\\PrefixeNomDemande::TYPE_COLLECTE') }}" hidden>Demande de collecte</option>
                    <option value="{{ constant('App\\Entity\\PrefixeNomDemande::TYPE_MANUT') }}" hidden>Demande de manutention</option>
{#                    //TODO CG pourquoi hidden ? #}
                </select>
            </div>

            <div class="form-group">
                <label for="">Préfixe</label>
                <input type="text" class="form-control data needed" name="prefixeDemande" id="prefixeDemande"
                   value="">
            </div>
            <button type="button" class="btn btn-success" onclick="updatePrefixDemand()">Enregistrer</button>
            <div class="error-msg p-4"></div>
        </form>
    </div>

    <button hidden id="buttonModalPrefixageSet"  data-target="#modalPrefixageSet" data-toggle="modal"></button>
    {% include 'prefixe_demande/modalPrefixageDemandeSet.html.twig' %}


{% endblock %}
{% block javascript %}
<script src="{{ asset('js/prefixe_demande.js') }}?{{ date().timestamp }}"></script>
{% endblock %}