{% extends 'layout.html.twig' %}

{% block title %}Stock | {{ 'reference.références'|trans }} | Article de référence{% endblock %}
{% block title_tooltip %}Stock | Références | Article de référence{% endblock %}
{% block titleLink path('reference_article_index') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reference-article-form') }}
{% endblock %}

{% block page_content %}
    {% set statuses = {
        'actif': {
            'status': 'active',
            'color': '#CCF0EB'
        },
        'inactif': {
            'status': 'inactive',
            'color': '#E8E8E8'
        },
        'brouillon': {
            'status': 'brouillon',
            'color': '#EAEDFA'
        }
    } %}
    {% set hasRightEdit =
        hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) or
        hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT_PARTIALLY'))%}

    <div class="ra-container d-flex justify-content-center align-content-center">
        <div class="row wii-column">
            <div class="col-12 col-md-6">
                <div class="ra-header d-flex flex-column" style="border-color: {{ referenceArticle.type.color }}">
                    <div class="wii-type" style="background-color: {{ referenceArticle.type.color }}">{{ referenceArticle.type.label }}</div>
                    <div class="d-flex header-wrapper">
                        <div class="image-container-show" style="background-image: url('{{ referenceArticle.image
                        ? (app.request.scheme ~'://'~ app.request.httpHost ~ "/uploads/attachements/" ~ referenceArticle.image.fileName)
                        : asset('svg/reference_article/product.svg') }}');
                            background-color: {{ referenceArticle.image ? '#FFFFFF' : "#F5F5F7" }};
                            background-size: {{ referenceArticle.image ? 'cover' : '50%' }}">
                        </div>
                        <div class="specifications">
                            <div><strong class="ref text-break">Ref : {{ referenceArticle.reference }}</strong></div>
                            <div><strong class="text-break">{{ referenceArticle.libelle }}</strong></div>
                            <div class="d-flex align-content-center my-3">
                                <img src="{{ asset('svg/reference_article/stock.svg') }}" alt="Icône stock" class="mr-2" width="15px">
                                <span class="wii-field-text">Quantité disponible <strong>{{ referenceArticle.quantiteDisponible }}</strong></span>
                            </div>
                            <div class="d-flex align-content-center">
                                <span class="reference-status wii-body-text mr-3"
                                      style="background-color: {{ statuses[referenceArticle.statut.code]['color'] }};">
                                    Référence {{ statuses[referenceArticle.statut.code]['status'] }}
                                </span>
                                <div class="d-flex align-content-center">
                                    <img src="{{ asset('svg/reference_article/' ~ (referenceArticle.needsMobileSync
                                        ? 'mobile-sync-on.svg'
                                        : 'mobile-sync-off.svg')) }}"
                                         alt="Icône synchronisation nomade"
                                         width="10px">
                                    <span class="wii-small-text ml-2 d-flex align-items-center">
                                        Synchronisation nomade
                                        <sup><img src="{{ asset('svg/reference_article/information.svg') }}"
                                                  alt="Icône information"
                                                  width="10px"
                                                  class="has-tooltip"
                                                  title="Permet de sélectionner la {{ 'reference.référence' | trans }} lors de la création d'une demande de livraison sur l'application mobile">
                                        </sup>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wii-box mt-3">
                    <div class="header wii-title">Informations</div>
                    <div class="content">
                        <div class="row">
                            {% include 'reference_article/reference-date.template.html.twig' with {reference: referenceArticle} %}
                            <div class="col-12 col-md-6 mt-3 d-flex">
                                <img src="{{ asset('svg/visibility-group.svg') }}" alt="Icône groupe de visibilité" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Groupe de visibilité</span>
                                    <span class="wii-body-text">{{ referenceArticle.visibilityGroup ? referenceArticle.visibilityGroup.label : '-' }}</span>
                                </label>
                            </div>
                        </div>
                        <div class="my-4">
                            {% set plural = referenceArticle.attachments | length > 1 ? 's' : '' %}
                            <span class="wii-subtitle">Pièce{{ plural }} jointe{{ plural }}</span>
                            <div class="d-flex flex-wrap">
                                {% set url = app.request is not null ? app.request.getSchemeAndHttpHost() : app_url %}
                                {% if referenceArticle.attachments | length > 0 %}
                                    {% for attachment in referenceArticle.attachments %}
                                        <div class="attachment-item show {{ loop.index % 2 != 0 ? 'mr-3' }}">
                                            <img src="{{ asset('svg/reference_article/file.svg') }}" alt="Icône fichier" width="13px" class="mr-2">
                                            <a target="_blank" class="wii-small-text has-tooltip"
                                               href="{{ url ~ attachment.fullPath }}"
                                               download="{{ attachment.originalName }}"
                                               title="{{ attachment.originalName }}">
                                                {{ attachment.originalName }}
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="d-flex mt-2">
                                        <span class="wii-small-text"
                                              title="Cette référence n'a aucune pièce jointe">Cette {{ 'reference.référence' | trans }} n'a aucune pièce jointe</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="content comment-container">
                        <div class="ml-3">
                            <span class="wii-subtitle">Commentaire</span>
                            <div class="mt-2 text-break">{{ referenceArticle.commentaire and referenceArticle.commentaire != '<p><br></p>'
                                ? referenceArticle.commentaire | raw
                                : '-' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="wii-box">
                    <div class="header wii-title">Gestion quantité</div>
                    <div class="content">
                        <div class="row">
                            <div class="col-auto d-flex">
                                {% set isReferenceManagementQuantity = referenceArticle.typeQuantite == constant('App\\Entity\\ReferenceArticle::QUANTITY_TYPE_REFERENCE') %}
                                <img src="{{ asset('svg/reference_article/' ~ (isReferenceManagementQuantity ? 'pack.svg' : 'article.svg')) }}"
                                     alt="Icône colis" width="20px">
                                <span class="wii-field-name ml-3">
                                    Quantité gérée à {{ isReferenceManagementQuantity ? 'la référence' : 'l\'article' }}
                                </span>
                            </div>
                        </div>
                        <div class="row mt-4">
                            {% if isReferenceManagementQuantity %}
                                <div class="col-6 d-flex">
                                    <img src="{{ asset('svg/reference_article/location.svg') }}" alt="Icône emplacement" width="20px">
                                    <div class="box-item ml-3">
                                        <span class="wii-field-name">Emplacement</span>
                                        <span
                                            class="wii-body-text">{{ referenceArticle.emplacement ? referenceArticle.emplacement.label : '-' }}</span>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-6 d-flex">
                                <img src="{{ asset('svg/reference_article/stock.svg') }}" alt="Icône stock" width="20px">
                                <div class="box-item ml-3">
                                    <span class="wii-field-name">Quantité en stock</span>
                                    <span class="wii-body-text">{{ referenceArticle.quantiteStock ?? 0 }}</span>
                                </div>
                            </div>
                            {% if not isReferenceManagementQuantity %}
                                <div class="col-6 d-flex">
                                    <img src="{{ asset('svg/reference_article/stock-management.svg') }}" alt="Icône gestion de stock" width="20px">
                                    <div class="box-item ml-3">
                                        <span class="wii-field-name">Gestion de stock</span>
                                        <span
                                            class="wii-body-text">{{ referenceArticle.stockManagement != '' ? referenceArticle.stockManagement : '-' }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="row mt-3">
                            <div class="col-6 d-flex">
                                <img src="{{ asset('svg/reference_article/manager.svg') }}" alt="Icône utilisateur" width="20px">
                                <div class="box-item ml-3">
                                    {% set plural = referenceArticle.managers | length > 1 ? 's' : '' %}
                                    <span class="wii-field-name">Gestionnaire{{ plural }}</span>
                                    <span class="wii-body-text">{{ referenceArticle.managers is not empty
                                        ? referenceArticle.managers | map(m => m.username) | join(', ')
                                        : '-' }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 d-flex">
                                <img src="{{ asset('svg/reference_article/manager.svg') }}" alt="Icône utilisateur" width="20px">
                                <div class="box-item ml-3">
                                    <span class="wii-field-name">Acheteur</span>
                                    <span class="wii-body-text">{{ referenceArticle.buyer ? referenceArticle.buyer.username : '-' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            {% if isReferenceManagementQuantity %}
                                <div class="col-4 d-flex">
                                    <img src="{{ asset('svg/reference_article/price.svg') }}" alt="Icône prix" width="15px">
                                    <div class="box-item ml-3">
                                        <span class="wii-field-name">Prix unitaire (€)</span>
                                        <span class="wii-body-text">{{ referenceArticle.prixUnitaire ?? '-' }}</span>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-{{ isReferenceManagementQuantity ? '4' : '6' }} d-flex">
                                <img src="{{ asset('svg/reference_article/alert-threshold.svg') }}" alt="Icône seuil d'alerte" width="25px">
                                <div class="box-item ml-3">
                                    <span class="wii-field-name">Seuil d'alerte</span>
                                    <span class="wii-body-text">{{ referenceArticle.limitWarning ?? '-' }}</span>
                                </div>
                            </div>
                            <div class="col-{{ isReferenceManagementQuantity ? '4' : '6' }} d-flex">
                                <img src="{{ asset('svg/reference_article/security-threshold.svg') }}" alt="Icône seuil de sécurité" width="25px">
                                <div class="box-item ml-3">
                                    <span class="wii-field-name">Seuil de sécurité</span>
                                    <span class="wii-body-text">{{ referenceArticle.limitSecurity ?? '-' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if referenceArticle.isUrgent %}
                        <div class="d-flex align-items-center urgent-container">
                            <img src="{{ asset('svg/reference_article/urgent.svg') }}" alt="Icône référence urgente" width="25px">
                            <div class="d-flex flex-column ml-3">
                                <span class="wii-field-name">Référence urgente</span>
                                <div class="wii-body-text">{{ referenceArticle.emergencyComment | raw }}</div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="ra-dropdown {{ not referenceArticle.isUrgent ? 'mt-3' : 'border-0' }}">
                        <label for="touch">
                            {% set plural = referenceArticle.articlesFournisseur | length > 1 ? 's' : '' %}
                            <span class="wii-subtitle dropdown-wrapper">Fournisseur{{ plural }}</span>
                        </label>
                        <input type="checkbox" id="touch">
                        <ul class="slide">
                            {% for providerArticle in providerArticles %}
                                <li class="mb-3">
                                    <div class="provider-label">
                                        <span class="wii-field-name ml-3">{{ providerArticle['providerName'] ?? '-' }}</span>&nbsp;-&nbsp;
                                        <span class="wii-body-text">{{ providerArticle['providerCode'] ?? '-' }}</span>
                                    </div>
                                    <div class="d-flex mt-3">
                                        <div class="col-{{ not isReferenceManagementQuantity ? '4' : '6' }} d-flex flex-column">
                                            <span class="wii-field-name">Ref article fournisseur</span>
                                            <span class="wii-body-text">{{ providerArticle['reference'] ?? '-' }}</span>
                                        </div>
                                        <div class="col-{{ not isReferenceManagementQuantity ? '4' : '6' }} d-flex flex-column">
                                            <span class="wii-field-name">Label</span>
                                            <span class="wii-body-text">{{ providerArticle['label'] ?? '-' }}</span>
                                        </div>
                                        {% if not isReferenceManagementQuantity %}
                                            <div class="col-4 d-flex flex-column">
                                                <span class="wii-field-name">Quantité article</span>
                                                <span class="wii-body-text">{{ providerArticle['quantity'] ?? '-' }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="wii-box mt-3">
                    <div class="header wii-title">Inventaires</div>
                    <div class="content">
                        <div class="row">
                            <div class="col-6 d-flex">
                                <img src="{{ asset('svg/reference_article/warehouse.svg') }}" alt="Icône catégorie d'inventaire" width="20px">
                                <div class="box-item ml-3">
                                    <span class="wii-field-name">Catégorie d'inventaire</span>
                                    <span class="wii-body-text">{{ referenceArticle.category ? referenceArticle.category.label : '-' }}</span>
                                </div>
                            </div>
                            <div class="col-6 row">
                                <img src="{{ asset('svg/calendar.svg') }}" alt="Icône calendrier" width="20px">
                                <div class="box-item ml-3">
                                    <span class="wii-field-name">Date de dernier inventaire</span>
                                    <span class="wii-body-text">
                                        {{ referenceArticle.dateLastInventory ? (referenceArticle.dateLastInventory | format_helper('datetime', '', true)) : '-' }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wii-box mt-3">
                    {% set plural = freeFields | length > 1 ? 's' : '' %}
                    <div class="header wii-title">Champ{{ plural }} libre{{ plural }}</div>
                    <div class="px-3">
                        {% include 'free_field/freeFieldsShow.html.twig' with {
                            containerClass: 'content',
                            values: referenceArticle.freeFields,
                            freeFields: freeFields,
                            emptyTitle: "Cette référence n'a aucun champ libre",
                            emptyLabel: "Cette " ~ ('reference.référence' | trans) ~ " n'a aucun champ libre",
                        } %}
                    </div>
                </div>
                {% if hasRightEdit %}
                    <div class="d-flex justify-content-end mt-4">
                        <a href="{{ path('reference_article_edit_page', {'reference': referenceArticle.id, 'from': 'show'}) }}" class="btn btn-success">Modifier</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reference-article-form') }}
{% endblock %}
