{% extends 'layout.html.twig' %}

{% block title %}Stock | Référence | Article de référence{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-6 d-flex justify-content-end">
            <div class="ra-header d-flex flex-column">
                <div class="type">{{ referenceArticle.type.label }}</div>
                <div class="d-flex">
                    <div class="image-container">
                        <img src="{{ asset('svg/reference_article/product.svg') }}" alt="Image produit" width="50px">
                    </div>
                    <div class="specifications">
                        <div><strong>Ref : {{ referenceArticle.reference }}</strong></div>
                        <div><strong>{{ referenceArticle.libelle }}</strong></div>
                        <div class="d-flex align-content-center my-3">
                            <img src="{{ asset('svg/reference_article/stock.svg') }}" alt="Icône stock" class="mr-2" width="20px">
                            <span>Quantité disponible <strong>{{ referenceArticle.quantiteDisponible }}</strong></span>
                        </div>
                        <div class="d-flex align-content-center">
                            <span>Référence {{ referenceArticle.statut == constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF') ? 'active' : 'inactive' }}</span>
                            <span><img src="{{ asset('svg/reference_article/' ~ (referenceArticle.needsMobileSync ? 'mobile-sync-on.svg' : 'mobile-sync-off.svg')) }}"
                                       alt="Icône synchronisation nomade" width="10px">Synchronisation nomade</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/referenceArticle.js') }}?v={{ web_version }}"></script>
{% endblock %}
