{% import 'form.html.twig' as form %}

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label class="wii-field-text pointer">
                <div class="wii-radio">
                    <input type="radio" class="no-clear data" name="existingOrNot" value="0" checked>
                    {{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Créer une nouvelle demande') }}
                </div>
            </label>
        </div>
        <div class="form-group">
            <label class="wii-field-text pointer">
                <div class="wii-radio">
                    <input type="radio" class="no-clear data" name="existingOrNot" value="1">
                    {{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Ajouter à une demande existante') }}
                </div>
            </label>
        </div>
    </div>
</div>

<div class="wii-section-title">{{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Ma demande d\'acheminement') }}</div>

<div class="row existing-dispatch mt-3 d-none">
    <div class="col-12 form-group">
        <label class="wii-field-name">{{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Mes demandes') }}</label>
        <select class="w-100 data no-clear" name="existingDispatch" data-s2
                data-placeholder="{{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Sélectionnez  un acheminement') }}">
            {% if existingDispatches is defined and existingDispatches is not empty %}
                {% for dispatch in existingDispatches %}
                    <option value="{{ dispatch['id'] }}">
                        {{ dispatch['number'] ~ ' - ' ~ dispatch['locationTo'] ~ ' - ' ~ dispatch['type'] }}
                    </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
</div>

<div class="row dispatch-details mb-3"></div>
<div class="new-dispatch">
    {% include 'dispatch/forms/form.html.twig' with {
        entity,
        isArrival,
        entityIds,
    } %}
</div>

{% if packs is defined and packs is not empty %}
    <div class="wii-section-title">{{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Unités logistiques à acheminer') }}</div>
    <div class="row mt-3">
        <div class="col-12 arrival-dispatch-packs">
            {% for pack in packs %}
                {% include 'dispatch/dispatchPackList.html.twig' with {
                    'pack': pack,
                    'index': loop.index0
                } %}
            {% endfor %}
        </div>
    </div>
{% endif %}
