{% extends 'base.html.twig' %}

{% block title %}CommandesFournisseurs{% endblock %}

{% block body %}
    <h1>CommandesFournisseurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commandes_fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ commandes_fournisseur.libelle }}</td>
            </tr>
            <tr>
                <th>Date_commande</th>
                <td>{{ commandes_fournisseur.dateCommande ? commandes_fournisseur.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commandes_fournisseurs_index') }}">back to list</a>

    <a href="{{ path('commandes_fournisseurs_edit', {'id': commandes_fournisseur.id}) }}">edit</a>

    {{ include('commandes_fournisseurs/_delete_form.html.twig') }}
{% endblock %}