<form method="" class="row">
    <input type="text" class="d-none" title="Nom d'utilisateur" name="username">
    <input type="password" class="d-none" title="Mot de passe" name="password">

    <div class="col-12 form-group required d-none">
        <input type="text" class="form-control data needed" name="user" required="" value="{{ user.id }}">
    </div>
    <div class="col-12 form-group">
        <label for="username">Role*</label>
        <select name="role" class="form-control data needed">
            {% if user.role == null %}
                <option value="0" selected disabled>Aucun rôle</option>
            {% else %}
                {% for role in roles %}
                    {% set selected = role.id == user.role.id ? 'selected' : '' %}
                    <option value="{{ role.id }}" {{ selected }}>{{ role.label }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="col-12 form-group">
        <label for="username">Nom d'utilisateur*</label>
        <input type="text" class="form-control data needed" name="username" required="" value="{{ user.username }}">
    </div>
    <div class="col-12 form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control data needed" name="email" value="{{ user.email }}">
    </div>
    {% for email in user.secondaryEmails %}
        <div class="col-12 form-group">
            <label for="email">Email {{ loop.index + 1 }}</label>
            <input type="email" class="form-control data-array" name="secondaryEmails" value="{{ email }}">
        </div>
    {% else %}
        <div class="col-12 form-group">
            <label for="email">Email 2</label>
            <input type="email" class="form-control data-array" name="secondaryEmails">
        </div>
        <div class="col-12 form-group">
            <label for="email">Email 3</label>
            <input type="email" class="form-control data-array" name="secondaryEmails">
        </div>
    {% endfor %}
    <div class="col-12 form-group">
        <label for="phoneNumber">Numéro de téléphone</label>
        <input type="tel" class="form-control data" name="phoneNumber" maxlength="10" value="{{ user.phone ?? ''}}">
    </div>
    <div class="col-12 form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control data optional-password" name="password">
        <div class="password-error-msg"></div>
    </div>
    <div class="col-12 form-group">
        <label for="password2">Confirmer mot de passe</label>
        <input type="password" class="form-control data optional-password" name="password2">
    </div>
    <div class="col-12 form-group">
        <label for="mobileLoginKey">Clé de connexion nomade*</label>
        <input type="text" class="form-control data needed is-barcode" name="mobileLoginKey" id="mobileLoginKey" value="{{ user.mobileLoginKey }}"/>
    </div>
    <div class="col-12 form-group">
        <label for="address">Adresse</label>
        <textarea id="address" class="form-control data" name="address"></textarea>
    </div>
    <div class="form-group col-12">
        <label>Types de livraison</label>
        <select name="deliveryTypes"
                class="form-control data select2 w-100"
                multiple="multiple"
                title="Types de livraison">
            {% for type in deliveryTypes %}
                <option value="{{ type.id }}">{{ type.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-12">
        <label title="type d'acheminement">{{ 'acheminement.type d\'acheminement'|trans }}</label>
        <select name="dispatchTypes"
                class="form-control data select2 w-100"
                multiple="multiple"
                title="{{ 'acheminement.type d\'acheminement'|trans }}">
            {% for type in dispatchTypes %}
                <option value="{{ type.id }}">{{ type.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-12">
        <label title="Types de service">{{'services.Types de service'|trans }}</label>
        <select name="handlingTypes"
                class="form-control data select2 w-100"
                multiple="multiple"
                title="{{ 'services.Types de service'|trans }}">
            {% for type in handlingTypes %}
                <option value="{{ type.id }}">{{ type.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-12 form-group w-100">
        <label for="dropzone">Dropzone</label>
        <select name="dropzone" class="form-control data ajax-autocomplete-location-edit" id="dropzone">
        </select>
    </div>
    <div class="col-12 form-group">
        <label>Statut*</label><br>
        <div class="wii-switch needed" data-title="Statut">
            <input type="radio" name="status" value="1" content="Actif" {{ user.status ? 'checked' }}>
            <input type="radio" name="status" value="0" content="Inactif" {{ not user.status ? 'checked' }}>
        </div>
    </div>
</form>
