{% extends 'layout.html.twig' %}

{% block title %}Qualité | Litiges{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersLitiges.html.twig' with {
        page: 'PAGE_LITIGE_ARR',
        tableSelector: '#tableLitiges',
        needsDateFormatting: true
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    <div class="btn btn-primary split-button"
                         onclick="saveExportFile('export_csv_dispute', true, {}, false, '{{ trans('Général', null, 'Modale', 'Veuillez saisir des dates dans le filtre en haut de page.', false)}}', true)">
                        <i class="fa fa-file-csv mr-2"></i>{{ trans('Général', null, 'Zone liste', 'Exporter au format CSV') }}
                    </div>
                    <button type="button"
                            class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        <a class="dropdown-item pointer"
                           data-toggle="modal"
                           data-target="#modalColumnVisible">
                            <span class="fas fa-cog mr-2"></span>
                            {{ trans('Général', null, 'Zone liste', 'Gestion des colonnes') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-none justify-content-center col-12" id="spinner">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table id="tableLitiges" class="table nowrap w-100">
                </table>
            </div>
        </div>
    </div>

    {% include 'litige/modalEditLitige.html.twig' %}
    {% include 'litige/modalDeleteLitige.html.twig'%}
    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'tableLitiges',
        'route': 'save_column_visible_for_litige'
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/form-litiges.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/litiges.js') }}?v={{ web_version }}"></script>
{% endblock %}
