{% extends 'layout.html.twig' %}

{% block title %}Qualité | Litiges{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersLitiges.html.twig' with {
        page: 'PAGE_LITIGE_ARR',
        tableSelector: '#tableLitiges'
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    <div class="btn btn-primary btn-ripple split-button" onclick="generateCSV('get_litiges_for_csv', 'litiges')">
                        <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                    </div>
                    <button type="button"
                            class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        <a class="dropdown-item"
                           data-toggle="modal"
                           data-target="#modalColumnVisibleLitige"
                           href="#">
                            <span class="fas fa-cog mr-2"></span>
                            Gestion des colonnes
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-none justify-content-center col-12" id="spinner">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table id="tableLitiges" class="table nowrap w-100">
                </table>
            </div>
        </div>
    </div>
    {% include 'litige/modalEditLitige.html.twig' %}
    {% include 'litige/modalDeleteLitige.html.twig'%}
    {% include 'litige/modalColumnVisible.html.twig' with { champs: champs } %}
    <input hidden id="transNoArrivage" value="{{ "arrivage.n° d'arrivage"|trans }}">
    <input hidden id="transNoReception" value="{{ "réception.n° de réception"|trans }}">
    <input hidden id="isCollins" value="{{ isCollins }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/attachments.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/litiges.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
