<div class="modal fade" id="modalColumnVisibleLitige" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gestion des colonnes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tableColumnVisibleLitige_id" class="table" style="width:100%">
                    <thead>
                    <tr>
                        <th>Champs</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% set i = 0 %}
                    {% for champ in champs %}
                        <tr class="pointer" onclick="toggleInputRadioOnRow(this)">
                            <td>
                                {{ champ.label | capitalize }}
                            </td>
                            <td>
                                <div class="checkbox d-inline-block pointer no-data" onclick="toggleInputRadioOnRow(this)">
                                    {% set checked = (champ.key  in columnsVisibles ? 'checked' : '') %}
                                    <input class="visible-column-litige-input form-check-input {{ checked == 'checked' ? 'data' : '' }}"
                                           name="{{ champ.key }}"
                                           onclick="showOrHideColumn($(this), tableLitiges)"
                                           type="checkbox"
                                           id="column_visible_litige_input_{{ champ.key }}"
                                            {{ checked }}
                                           data-column="{{ i }}" data-name="{{ champ.key }}"/>
                                    <label for="column_visible_litige_input_{{ champ.key }}" class="pointer"></label>
                                </div>
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn" data-dismiss="modal">Fermer</div>
                <div class="btn btn-primary"
                     id="submitColumnVisibleLitige">
                    Enregistrer
                </div>
            </div>
        </div>
    </div>
</div>
