{% extends 'base.html.twig' %}

{% block title %}Sorties index{% endblock %}

{% block body %}
    <h1>Sorties index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorty in sorties %}
            <tr>
                <td>{{ sorty.id }}</td>
                <td>{{ sorty.statut }}</td>
                <td>{{ sorty.quantite }}</td>
                <td>
                    <a href="{{ path('sorties_show', {'id': sorty.id}) }}">show</a>
                    <a href="{{ path('sorties_edit', {'id': sorty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sorties_new') }}">Create new</a>
{% endblock %}