{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <h1>Sorties</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sorty.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ sorty.statut }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ sorty.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sorties_index') }}">back to list</a>

    <a href="{{ path('sorties_edit', {'id': sorty.id}) }}">edit</a>

    {{ include('sorties/_delete_form.html.twig') }}
{% endblock %}