{% extends 'layout.html.twig' %}

{% block title %}<a href="{{ path('settings_index') }}">Paramétrage</a> | <span id="page-title" class="text-regular">Chargement</span>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('settings-index') }}
{% endblock %}

{% set can_edit = hasRight(constant('App\\Entity\\Menu::PARAM'), constant('App\\Entity\\Action::EDIT')) %}

{% block page_content %}
    <div class="settings row">
        <aside class="col-xl-3 col-4 d-flex">
            <div class="wii-box flex-fill">
                {% for key, item in parent.menus %}
                    {% if item.right is not defined or hasRight(constant('App\\Entity\\Menu::PARAM'), item.right)  %}
                        {% if item.environment is not defined or app.environment in item.environment %}
                            {% if item.route is defined or item.menus is defined %}
                                <a href="{{ path(item.route is defined ? item.route : 'settings_item', item.route is not defined ? {category, menu: key} : []) }}"
                                   class="settings-item">
                                    {{ item.label }}
                                </a>
                            {% else %}
                                <div class="settings-item {{ key == selected ? 'selected' }}" data-menu="{{ key }}">
                                    {{ item.label }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </aside>

        <main class="col-xl-9 col-8" style="padding-bottom: 175px;">
            {% for key, item in parent.menus %}
                {% if item.menus is not defined
                      and item.route is not defined
                      and (item.environment is not defined or app.environment in item.environment)  %}
                    {% set wrapped = item.wrapped ?? true %}
                    {% set fetcher = submenu ? (values[category][menu][key] ?? []) : (values[category][key] ?? []) %}

                    <div class="{{ wrapped ? 'wii-box' }} {{ key != selected ? 'd-none' }} settings-content"
                         data-path="{{ category }}_{{ submenu ? menu : key }}{{ submenu ? '_' ~ key : '' }}"
                         data-menu="{{ key }}"
                         data-save-button="{{ (item.save is defined and item.save) ? 1 : 0 }}"
                         data-discard-button="{{ (item.discard is defined and item.discard) ? 1 : 0 }}">
                        {% if wrapped %}
                            <div class="header wii-title">{{ item.label }}</div>
                            <div class="focus-shadow">
                                {% include path ~ key ~ '.html.twig' with {
                                    page: path ~ key ~ '.html.twig'
                                } | merge(fetcher ? call(fetcher) : []) %}
                            </div>
                        {% else %}
                            {% include path ~ key ~ '.html.twig' with {
                                page: path ~ key ~ '.html.twig'
                            } | merge(fetcher ? call(fetcher) : []) %}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            {% if can_edit %}
                <div class="save">
                    <button class="btn btn-outline-secondary discard-settings d-none"><span>Annuler</span></button>
                    <button class="btn btn-success save-settings d-none ml-2"><span>Enregistrer</span></button>
                </div>
            {% endif %}
        </main>
    </div>

    <input type="hidden" id="settings" value="{{ constant('App\\Controller\\Settings\\SettingsController::SETTINGS') | json_encode }}">
    <input type="hidden" id="category" value="{{ category }}">
    <input type="hidden" id="menu" value="{{ menu }}">
    <input type="hidden" id="submenu" value="{{ submenu }}">
    <input type="hidden" id="edit" value="{{ can_edit }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('settings-index') }}
    {{ encore_entry_script_tags('settings-data-imports') }}
    {{ encore_entry_script_tags('settings-data-exports') }}
    {{ encore_entry_script_tags('settings-data-inventories-imports') }}
{% endblock %}
