{% import 'form.html.twig' as form %}

<div class="modal fade" id="modal-fixed-field-{{ modal | lower }}"
     role="dialog"
     aria-hidden="true"
     data-keyboard="false"
     data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Modifier le paramétrage d'un champ fixe"
            } %}
            <input type="hidden" name="field" value="{{ field }}"/>

            {% if modalType == constant('App\\Entity\\FieldsParam::MODAL_TYPE_FREE') %}
                <div class="modal-body">
                    {{ form.select('elements', 'Valeurs possibles', false, {
                        type: null,
                        editable: true,
                        multiple: true,
                        items: elements,
                        placeholder: 'Ajoutez des éléments',
                    }) }}
                </div>
            {% elseif modalType == constant('App\\Entity\\FieldsParam::MODAL_TYPE_USER') %}
                <div class="modal-body pt-0">
                    <span class="wii-section-title">Destinataire par défaut par type</span>
                    <div class="zone-type">
                        <input type="hidden" name="types" value="{{ types|json_encode() }}"/>
                        {% if elements is empty %}
                            {% include 'settings/fixed_field_elements_row.html.twig' %}
                        {% else %}
                            {% for element in elements %}
                                {% include 'settings/fixed_field_elements_row.html.twig' with element %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-end align-items-end mt-2">
                        <button class="btn btn-primary mt-1 add-row-type d-flex align-items-center"
                                onclick="addTypeRow($(this))"
                                {{ (elements|length is same as types|length) ? 'disabled' : '' }}>
                            <span class="wii-icon wii-icon-plus mr-2"></span>Ajouter un type
                        </button>
                    </div>
                    <input type="hidden" name="alreadyDefinedTypes"/>
                    <template class="row-template">
                        {% include 'settings/fixed_field_elements_row.html.twig' %}
                    </template>
                </div>
            {% elseif modalType == constant('App\\Entity\\FieldsParam::MODAL_RECEIVER') %}
                <div class="modal-body pt-0">
                    <div class="wii-section-title">Destinataire par défaut</div>
                    <div class="row">
                        <div class="col-12">
                            {{ form.select('defaultReceiver', 'Utilisateur', false, {
                                type: 'user',
                                multiple: false,
                                value: elements ? elements[0] : null,
                                items: elements ? elements : null,
                            }) }}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            {{ form.checkbox(setting('RECEIVER_EQUALS_REQUESTER'), 'Le destinataire est égal au demandeur', false, setting_value('RECEIVER_EQUALS_REQUESTER')) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success data submit-field-param', text: 'Enregistrer', value: field, type: 'submit'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
