{% extends 'layout.html.twig' %}

{% block title %}Paramétrage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('settings-index') }}
{% endblock %}

{% block page_content %}
    <div class="row settings-menu">
        {% for category_key, category in settings %}
            {% set settings_length = category.menus | length %}
            {% if settings_length > 4 %}
                {% set batched_settings = category.menus | batch(settings_length/2) %}
                {% set ordered_settings = interleave(batched_settings[0], batched_settings[1] ?? []) %}
            {% else %}
                {% set ordered_settings = category.menus %}
            {% endif %}

            {% set display = false %}
            {% for menu, label in ordered_settings  %}
                {% if hasRight(constant('App\\Entity\\Menu::PARAM'), label.right) and not display %}
                    {% set display = true %}
                {% endif %}
            {% endfor %}

            {% if display %}
                <div class="col-md-4 col-12 p-3">
                    <div class="wii-box settings-category p-3 h-100">
                        <span class="wii-icon wii-icon-{{ category.icon }}"></span>
                        <div class="settings-menus">
                            <div class="title">{{ category.label }}</div>
                            {% for menu, label in ordered_settings %}
                                {% if hasRight(constant('App\\Entity\\Menu::PARAM'), label.right) %}
                                    {% if label is not iterable
                                        or label.environment is not defined
                                        or app.environment in label.environment %}
                                        <a href="{{ path(label.route is defined ? label.route : 'settings_item', label.route is not defined ? {category: category_key, menu, submenu: submenu ?? null} : []) }}"
                                           class="settings-item pb-1 {{ category.menus | length <= 4 ? 'full-size' }}">
                                            {{ label is iterable ? label.label : label }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
