{% import 'form.html.twig' as form %}

<div class="w-100">
    <div class="wii-box mt-15px management-header">
        <div class="header wii-title">{% block title %}{% endblock %}</div>
        <div class="focus-shadow p-3">
            <div class="row">
                {% set description = block('description') ?? '' %}
                {% if description is not empty %}
                    <div class="col-12 wii-small-text mb-3">
                        {{ description | raw }}
                    </div>
                {% endif %}
                <div class="{{ block('filterCol') is defined ? block('filterCol') : 'col' }}">{% block filters %}{% endblock %}</div>
                {% if can_edit %}
                    <div class="ml-auto {{ block('filterColButton') is defined ? block('filterColButton') : 'col-auto' }}">
                        {% block button %}{% endblock %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% set category = category ?? null %}
    <div class="wii-box management-body {{ hiddenBody ? 'd-none' }}"
         {% if category is not empty %}data-category="{{ category }}"{% endif %}>
        <div class="wii-section py-2">
            <div class="row">
                {% if can_edit %}
                    <div class="col-auto pt-3">
                        <button class="btn btn-silent delete-main-entity" style="margin-top: 5px">
                            <i class="wii-icon wii-icon-trash text-primary"></i>
                        </button>
                    </div>
                {% endif %}
                <div class="col">
                    <div class="row main-entity-content"></div>
                </div>
                {% if can_edit %}
                    <div class="col-auto pt-2">
                        <button class="btn btn-primary edit-button">
                            <i class="fa fa-pen mr-2"></i> Modifier
                        </button>
                    </div>
                    <div class="translate-labels d-none">
                        <button class="translate-labels-button btn btn-primary d-flex align-items-center">
                            <span class="wii-icon wii-icon-translate-white mr-2 wh-18px"></span>Traduction des libellés
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="wii-section-title {{ block('subtitle') is empty ? 'd-none' }}">{% block subtitle %}{% endblock %}</div>
        <div class="wii-section {{ block('subtitle') is empty ? 'd-none' }}">
            <div class="row">
                <div class="col-12">
                    <table class="table subentities-table w-100"></table>
                </div>
            </div>
        </div>

        {% block footer %}{% endblock %}
        {% include 'settings/common/delete-entity.html.twig' %}

        <input type="hidden" name="default-value-template" value="{{ form.switch('defaultValue', null, false, [
            {label: 'Oui', value: '1'},
            {label: 'Non', value: '0'},
            {label: 'Aucune', value: null, checked: true},
        ]) | json_encode }}">
    </div>
</div>


