{% for status in statuses %}
    <input type="hidden" class="data-array" name="status" required="" value="{{ status.id }}">
    <div class="status-translation {{ status == last_status ? "" : "border-bottom" }}">
        <label class="wii-field-name mb-1">Libellé*</label>
        {% for language in language_service.getLanguages %}
            <div class="input-group lang-input-group mb-1" data-multiple-key="labels-{{ status.id }}" data-multiple-object-index="{{ language.value }}">
                <div class="input-group-prepend langue-img-prepend">
                    <span class="langue-img" style="background-image: url({{ language.iconUrl }})"></span>
                </div>
                {% set value = status.getLabelTranslation.getTranslationIn(language.slug) ? status.getLabelTranslation.getTranslationIn(language.slug).getTranslation : "" %}
                <input type="hidden" class="data" name="language-id" value="{{ language.value }}">
                <input type="text" class="data form-control needed" name="label" value="{{ value }}">
            </div>
        {% endfor %}
    </div>
{% endfor %}
