{% set order = order ?? request.order %}

<div class="transport-request-container col-12 p-1">
    <div data-id='{{ request.id }}'
         data-target='#modalEditSubcontractedRequest'
         data-toggle='modal'
         class="transport-request-card"
         onclick="editRow($(this), Routing.generate('subcontract_request_edit_api', true), $('#modalEditSubcontractedRequest'), $('#submitEditSubcontractedRequest'))">
        <div class="dropdown dropright">
            <div class="d-flex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img alt="Actions" src="{{ asset('svg/dotsblack.svg') }}" height="20px" width="8px">
            </div>
            <div class="dropdown-menu dropdown-follow-gt pointer">
                <a href="{{ path('transport_request_show', {transport: request.id}) }}" class="dropdown-item pointer">
                    <i class="fas fa-external-link-alt mr-2"></i> Voir la demande
                </a>
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <div data-id='{{ request.id }}' data-target='#modalEditSubcontractedRequest' data-toggle='modal'
                         class='dropdown-item pointer'
                         onclick="editRow($(this), Routing.generate('subcontract_request_edit_api', true), $('#modalEditSubcontractedRequest'), $('#submitEditSubcontractedRequest'))">
                        <i class='fas fa-edit mr-2'></i>
                        Modifier
                    </div>
                {% endif %}
            </div>
        </div>
        <table class="transport-content">
            <tr>
                <td class="transport-category-container">
                    <div>
                        <span class="transport-category">
                            <span class="wii-icon wii-icon-cart-delivery wii-icon-25px-primary mr-1"></span>
                            {{ prefix }}{{ request.number }}
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="subcontracted-transport-details" >
                <td>
                    <span class="transport-badge type mt-3 subcontract-card">
                        {% if request.type.logo %}
                            <img src="{{ request.type.logo.fullPath }}" width="18" height="18" class="mr-2"
                                 alt="Logo type {{ request.type.label }}"/>
                        {% endif %}

                        {{ request.type.label }}
                    </span>
                </td>
                <td class="transport-category-container">
                    <div class="mb-2">
                        <span class="d-xl-none">Créé le :<br> {{ request.createdAt | date('d/m/Y H:i') }}</span>
                        <span class="d-none d-xl-block">Créé le :<br> {{ request.createdAt | format_helper('longDate', {short: true, time: true}) }}</span>
                    </div>
                    <div>
                        <span class="bold">
                            <span class="d-xl-none">A livrer le :<br> {{  request.expectedAt | date('d/m/Y H:i') }}</span>
                            <span class="d-none d-xl-block">A livrer le :<br> {{  request.expectedAt | format_helper('longDate', {short: true, time: true}) }}</span>
                        </span>
                    </div>
                </td>
                <td class="transport-subcontract-contact">
                    {{ request.contact.name }}<br>
                    <span class="wii-small-text">N° dossier {{ request.contact.fileNumber }}</span>
                </td>
                <td class="transport-subcontract-details-container">
                    <img src="{{ asset('svg/iot/location.svg') }}"
                         class="icon"
                         alt="Image urgence"
                         width="10px">
                    {{ request.contact.address }}
                </td>
                <td class="transport-subcontract-details-container">
                    <div class="mb-2 wii-body-text">
                        <span class="d-xl-none">
                            Commencée le :<br><span class="bold">{{ order.startedAt ? order.startedAt | date('d/m/Y H:i') : "-" }}</span>
                        </span>
                        <span class="d-none d-xl-block">
                            Commencée le :<br><span class="bold">{{ order.startedAt ? order.startedAt | format_helper('longDate', {short: true, time: true}) : "-" }}</span>
                        </span>
                    </div>
                    <div class="wii-body-text">
                        <span class="d-xl-none">
                            Livrée le :<br> <span style="font-weight: bold"> {{ order.treatedAt ? order.treatedAt | date('d/m/Y H:i') : "-" }}</span>
                        </span>
                        <span class="d-none d-xl-block">
                            Livrée le :<br><span style="font-weight: bold"> {{ order.treatedAt ? order.treatedAt | format_helper('longDate', {short: true, time: true}) : "-" }}</span>
                        </span>
                    </div>
                </td>
                <td class="transport-subcontract-details-container">
                    <div class="mb-2 wii-body-text">
                        Sous-traitant : <span style="font-weight: bold">{{ order.subcontractor ?? "-" }}</span>
                    </div>
                    <div class="wii-body-text">
                        Immatriculation : <span style="font-weight: bold">{{ order.registrationNumber ?? "-" }}</span>
                    </div>
                </td>
                <td class="transport-subcontract-status-container">
                    {% if request.status %}
                        <div>
                            <span class="transport-badge {{ constant('App\\Entity\\Transport\\TransportRequest::STATUS_COLOR')[request.status.nom] }}">
                                {{ request.status.nom }}
                            </span>
                        </div>
                    {% endif %}
                    {% for attachment in order.attachments %}
                        <div class="wii-small-text">
                            <a href="{{ attachment.fullPath is defined and attachment.fullPath is not null ? attachment.fullPath : '/uploads/attachements/' ~ attachment.fileName }}"
                               download="{{ attachment.originalName }}" title="{{ attachment.originalName }}" class="text-primary underlined stop-propagation">{{ attachment.originalName }}</a>
                        </div>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</div>
