<div class="modal-edit-subcontracted-request">
    <input type="hidden" name="transportRequestStatusCode" value="{{ transportRequest.status.code }}">
    <div class="wii-section-title">Sous-traitant</div>
    <div class="row my-3">
        <div class="col-md-6 col-12">
            <label for="subcontractor">
                Sous-traitant*
            </label>
            <input type="text" id="subcontractor" class="form-control data needed" name="subcontractor" value="{{ transportOrder.subcontractor }}">
        </div>
        <div class="col-md-6 col-12">
            <label for="registrationNumber">
                Immatriculation*
            </label>
            <input type="text" id="registrationNumber" class="form-control data needed" name="registrationNumber" value="{{ transportOrder.registrationNumber }}">
        </div>
    </div>

    <div class="wii-section-title">Livraison</div>
    <div class="row my-3">
        <div class="col-md-6 col-12">
            <label for="status">Statut*</label>
            <select name="status" class="form-control data w-100 needed" onchange="editStatusChange($(this))"
                {{ (statutRequest.nom == "Terminée" or statutRequest.nom == "Non livrée") ? "disabled" : "" }}>
                <option name="statut" class="data" value="{{ statutRequest.id }}" selected disabled>{{ statutRequest.nom }}</option>
                {% for status in subcontractTransportStatus %}
                    <option value="{{ status.id }}">{{ status.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6 col-12 startDateDiv">
            <label class="w-100 delivery-start-date-label">
                Date et heure de début de livraison *
                <input name="delivery-start-date"
                       type="datetime-local"
                       class="form-control w-100 data"
                       value="{{ statutRequest.nom != "Sous-traitée" ? (transportOrder.startedAt | date('Y-m-d\\TH:i')) : "" }}">
            </label>
        </div>
        <div class="col-md-6 col-12 endDateDiv">
            <label class="w-100">
                Date et heure de fin de livraison *
                <input name="delivery-end-date"
                       type="datetime-local"
                       class="form-control w-100 data">
            </label>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-8 col-12">
            <label class="bold label-commentaire">Commentaire</label>{# TODO gérer le fin qu'il soit obligatoire suivant le statut #}
            <input class="commentaire form-control data" name="commentaire" type="hidden">
            <div class="editor-container" data-wysiwyg></div>
        </div>
        <div class="form-group col-md-4 col-12">
            {% include 'attachment/attachment.html.twig' with {
                'isNew': false,
                'required': false,
                'fieldNameClass': 'bold'
            } %}
        </div>
    </div>
</div>
