{% import 'form.html.twig' as form %}

<div class="wii-section-title">Général</div>
<div class="wii-section touch-terminal">
    <div class="row">
        <div class="form-group w-fit-content col-4">
            <div class="row">
                <div class="col-auto">
                    {{ form.image(setting('FILE_TOP_LEFT_LOGO'), 'Logo en haut à gauche', false, setting_value('FILE_TOP_LEFT_LOGO'), {
                        defaultValue: setting_value('FILE_TOP_LEFT_LOGO'),
                    }) }}
                </div>
            </div>
        </div>
        <div class="form-group w-fit-content col-4">
            <div class="row">
                <div class="col-auto">
                    {{ form.image(setting('FILE_TOP_RIGHT_LOGO'), 'Logo en haut à droite', false, setting_value('FILE_TOP_RIGHT_LOGO'), {
                        defaultValue: setting_value('FILE_TOP_RIGHT_LOGO'),
                    }) }}
                </div>
            </div>
        </div>
        <div class="form-group w-fit-content col-4">
            <div class="row">
                <div class="col-auto">
                    {{ form.image(setting('FILE_LABEL_EXAMPLE_LOGO'), "Exemple d'étiquette " ~ trans('Général', null, 'Header', 'Wiilog', false), false, setting_value('FILE_LABEL_EXAMPLE_LOGO'), {
                        defaultValue: setting_value('FILE_LABEL_EXAMPLE_LOGO'),
                    }) }}
                </div>
            </div>
        </div>
        <div class="form-group w-fit-content col-4">
            <div class="wii-field-name">Message d'accueil*</div>
            {{ form.textarea(setting('WELCOME_MESSAGE'), null, true, setting_value('WELCOME_MESSAGE')) }}
        </div>
        <div class="form-group w-fit-content col-4">
            <div class="wii-field-name">Message d'information*</div>
            {{ form.textarea(setting('INFORMATION_MESSAGE'), null, true, setting_value('INFORMATION_MESSAGE')) }}
        </div>
        <div class="form-group w-fit-content col-4">
            <div class="wii-field-name">Message scan étiquette article*</div>
            {{ form.textarea(setting('SCAN_ARTICLE_LABEL_MESSAGE'), null, true, setting_value('SCAN_ARTICLE_LABEL_MESSAGE')) }}
        </div>
        <div class="form-group w-fit-content col-4">
            <div class="wii-field-name">Message de validation, entrée d'une référence*</div>
            {{ form.textarea(setting('VALIDATION_REFERENCE_ENTRY_MESSAGE'), null, true, setting_value('VALIDATION_REFERENCE_ENTRY_MESSAGE')) }}
        </div>
        <div class="form-group w-fit-content col-4">
            <div class="wii-field-name">Message de validation, entrée d'un article*</div>
            {{ form.textarea(setting('VALIDATION_ARTICLE_ENTRY_MESSAGE'), null, true, setting_value('VALIDATION_ARTICLE_ENTRY_MESSAGE')) }}
        </div>
        <div class="form-group w-fit-content col-4">
            <div class="wii-field-name">Message d'erreur si quantité égale à 1*</div>
            {{ form.textarea(setting('QUANTITY_ERROR_MESSAGE'), null, true, setting_value('QUANTITY_ERROR_MESSAGE')) }}
        </div>
        <div class="form-group w-fit-content col-12">
            {% include 'variables_dictionary.html.twig' with {dictionary: 'KIOSK_DICTIONARY'} %}
        </div>
    </div>
</div>

<div class="wii-section-title">Création d'une référence (gestion quantité par article)</div>
<div class="wii-section">
    <div class="row">
        <div class="form-group col-4">
            {% set settingTypeReference = setting_value('TYPE_REFERENCE_CREATE', 'App\\Entity\\Type\\Type') %}
            {{ form.select(setting('TYPE_REFERENCE_CREATE'), 'Type', true, {
                type: 'referenceType',
                placeholder: 'Sélectionnez un type',
                search: true,
                value: settingTypeReference ? settingTypeReference.id : null,
                items: settingTypeReference ? {
                    0: {
                        'value': settingTypeReference.id,
                        'label':  settingTypeReference.label,
                        'selected': true
                    }
                } : null,
            }) }}
        </div>
        <div class="form-group col-4">
            {% set settingFreeFieldReference = setting_value('FREE_FIELD_REFERENCE_CREATE', 'App\\Entity\\FreeField\\FreeField') %}
            {{ form.select(setting('FREE_FIELD_REFERENCE_CREATE'), 'Champ libre', false, {
                search: false,
                value: settingFreeFieldReference ? settingFreeFieldReference.id : null,
                items: settingFreeFieldReference ? {
                    0: {
                        'value': settingFreeFieldReference.id,
                        'label':  settingFreeFieldReference.label,
                        'selected': true
                    }
                } : null,
            }) }}
        </div>
        <input hidden value="{{ setting_value('TYPE_REFERENCE_CREATE', 'App\\Entity\\Type\\Type') ? setting_value('TYPE_REFERENCE_CREATE', 'App\\Entity\\Type\\Type').id : '' }}" id="settingReferenceType"/>
        <div class="form-group col-4">
            {% set settingStatutReference = setting_value('STATUT_REFERENCE_CREATE') %}
            {{ form.switch('Statut', 'Statut', true, [
                {
                    value: constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF'),
                    label: 'Actif',
                    name: setting('STATUT_REFERENCE_CREATE'),
                    checked: settingStatutReference == constant('App\\Entity\\ReferenceArticle::STATUT_ACTIF'),
                },
                {
                    value: constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF'),
                    label: 'Inactif',
                    name: setting('STATUT_REFERENCE_CREATE'),
                    checked: settingStatutReference == constant('App\\Entity\\ReferenceArticle::STATUT_INACTIF'),
                },
                {
                    value: constant('App\\Entity\\ReferenceArticle::DRAFT_STATUS'),
                    label: 'Brouillon',
                    name: setting('STATUT_REFERENCE_CREATE'),
                    checked: settingStatutReference == constant('App\\Entity\\ReferenceArticle::DRAFT_STATUS'),
                },
            ]) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4">
            {% set visibilityGroupForReference = setting_value('VISIBILITY_GROUP_REFERENCE_CREATE', 'App\\Entity\\VisibilityGroup') %}
            {{ form.select(setting('VISIBILITY_GROUP_REFERENCE_CREATE'), 'Groupe de visibilité', false, {
                type: 'visibilityGroup',
                value: visibilityGroupForReference ? visibilityGroupForReference.id : null,
                items: visibilityGroupForReference ? {
                    0: {
                        'value': visibilityGroupForReference.id,
                        'label':  visibilityGroupForReference.label,
                        'selected': true
                    }
                } : null,
            }) }}
        </div>
        <div class="form-group col-4">
            {% set inventoryCategoryForReference = setting_value('INVENTORIES_CATEGORY_REFERENCE_CREATE', 'App\\Entity\\Inventory\\InventoryCategory') %}
            {{ form.select(setting('INVENTORIES_CATEGORY_REFERENCE_CREATE'), "Catégorie d'inventaire", false, {
                type: 'inventoryCategories',
                value: inventoryCategoryForReference ? inventoryCategoryForReference.id : null,
                items: inventoryCategoryForReference ? {
                    0: {
                        'value': inventoryCategoryForReference.id,
                        'label':  inventoryCategoryForReference.label,
                        'selected': true
                    }
                } : null,
            }) }}
        </div>
    </div>
    <div class="row ligneFournisseurArticle">
        {% set nomFournisseurReference = setting_value('FOURNISSEUR_LABEL_REFERENCE_CREATE', 'App\\Entity\\Fournisseur') %}
        {% set codeFournisseurReference = setting_value('FOURNISSEUR_REFERENCE_CREATE', 'App\\Entity\\Fournisseur') %}
        <div class="form-group col-4">
            <label class="wii-field-name">Nom fournisseur*</label>
            <select class="form-control w-100 data needed" data-s2="supplierLabel"
                    onchange="loadAndDisplayLabels($(this), 'FOURNISSEUR_REFERENCE_CREATE')"
                    name="FOURNISSEUR_LABEL_REFERENCE_CREATE">
                {% if nomFournisseurReference is defined and nomFournisseurReference %}
                    <option selected value="{{ nomFournisseurReference.id }}">{{ nomFournisseurReference.nom }}</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group col-4">
            <label class="wii-field-name">Code fournisseur*</label>
            <select class="form-control w-100 data needed" data-s2="supplierCode"
                    onchange="loadAndDisplayInfos($(this), 'FOURNISSEUR_LABEL_REFERENCE_CREATE')"
                    name="FOURNISSEUR_REFERENCE_CREATE">
                {% if codeFournisseurReference is defined and codeFournisseurReference %}
                    <option selected value="{{ codeFournisseurReference.id }}">{{ codeFournisseurReference.codeReference }}</option>
                {% endif %}
            </select>
        </div>
    </div>
</div>

<div class="wii-section-title">Liens pour borne</div>
<div class="p-3">
    <div class="w-100 d-flex items justify-content-end">
        <button data-target='#newKioskModal' data-toggle='modal' class="btn btn-primary new-kiosk-modal">
            <i class="fas fa-plus mr-2"></i>
            Ajouter un lien externe
        </button>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="tablekiosks" class="table"></table>
        </div>
    </div>
</div>

{% include 'kiosk/modals/newKioskModal.html.twig' %}

{% include 'utils/modal/empty-modal.html.twig' with {
    id: 'editKioskModal',
    size: 'modal-xl',
    header: {
        title: 'Modifier une borne'
    },
    footer: {
        elements: [
            {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
            {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), type: 'submit'},
        ],
    }
} %}
