{% import 'form.html.twig' as form %}

<div class="row">
    {{ form.input('deliveryStationLineId', '', false, deliveryStationLineId, {
        type: 'hidden'
    }) }}
    <div class="form-group col-12 mb-2 w-100">
        {{ form.textarea('welcomeMessage', "Message d'accueil", true, welcomeMessage) }}
    </div>
    <div class="form-group col-6 mb-2 w-100">
        {{ form.select('deliveryType', 'Type de livraison', true, {
            type: 'deliveryType',
            items: [deliveryType],
            placeholder: 'Sélectionnez un type',
            search: false,
        }) }}
    </div>
    <div class="form-group col-6 mb-2 w-100">
        {{ form.select('visibilityGroup', 'Groupe de visibilité', true, {
            type: 'visibilityGroup',
            items: [visibilityGroup],
            placeholder: 'Sélectionnez un groupe de visibilité',
        }) }}
    </div>
    <div class="form-group col-6 mb-2 w-100">
        {{ form.select('destinationLocation', 'Emplacement de destination', true, {
            type: 'location',
            items: [destinationLocation],
            includeParams: '[name=deliveryType]',
        }) }}
    </div>
    <div class="form-group col-6 mb-2 w-100">
        {{ form.select('receiver', 'Destinataire mail information', false, {
            type: 'user',
            items: [deliveryStationLineReceiver],
            placeholder: 'Sélectionnez un utilisateur',
        }) }}
    </div>
{#    <div class="form-group col-6 mb-2 w-100">#}
{#        {{ form.select('filteredFields', 'Champs filtrés (max 3)', true, {}) }}#}
{#    </div>#}
    <div class="form-group col-12 mb-2 w-100">
        {% include 'variables_dictionary.html.twig' with {dictionary: 'FAST_DELIVERY_REQUEST'} %}
    </div>
</div>
