{% extends 'layout.html.twig' %}
{% import 'form.html.twig' as form %}

{% block title %}Production | Liste des OF | {{ trans('Général', null, 'Header', 'Détails') }}{% endblock %}
{% block title_tooltip %}Production | Détails{% endblock %}
{% block titleLink path('production_request_index') %}

{% block page_content %}
    <input type="hidden" name="productionRequestId" value="{{ productionRequest.id }}"/>
    <div class="mb-4 ra-container d-flex justify-content-center align-content-center">
        <div class="row wii-column w-100">
            <div class="col-md-4 col-12">
                <div class="wii-box">
                    <div class="d-flex align-items-center mr-3">
                        <div class="mx-2">
                            <div class="dropdown dropright">
                                <div class="d-flex">
                                    {% include "utils/action-buttons/dropdown.html.twig" with {
                                        actions: [
                                            {
                                                hasRight: hasRightEditProductionRequest,
                                                title: trans('Général', '', 'Modale', 'Modifier'),
                                                icon: "fas fa-pencil-alt",
                                                class: "open-modal-edit",
                                                attributes: {
                                                    "data-target" : "#modalEditProductionRequest",
                                                    "data-toggle" : "modal",
                                                },
                                            },
                                            {
                                                hasRight: hasRightDeleteProductionRequest,
                                                title: trans('Général', '', 'Modale', 'Supprimer'),
                                                icon: "wii-icon wii-icon-trash-black",
                                                class: "delete-production-request",
                                                attributes: {
                                                    "data-id": productionRequest.id,
                                                },
                                            }
                                        ]
                                    } %}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex py-2 w-100 justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-column dispatch-number">
                                    <span class="wii-title">Production</span>
                                    <span class="wii-small-text">
                                    {{ productionRequest.number }}
                                </span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                            <span class="wii-field-name">
                                {{ productionRequest.createdBy|format_helper("user") }}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="type-container" style="background: {{ dispatch.type.color ?? '#3353D7' }};">
                        {{ productionRequest.type|format_helper('type') }}
                    </div>
                    <div class="content bordered p-0">
                        <div class="content history-container p-0 overflow-y-hidden">
                            <div class="d-flex align-items-center justify-content-center p-3">
                                <div class="spinner-border text-primary" role="status"></div>
                                <span class="ml-3">Génération de l'historique en cours</span>
                            </div>
                        </div>
                    </div>
                    <div class="content bordered">
                        <div class="d-flex flex-wrap w-100">
                            {% include 'attachment/attachment.html.twig' with {
                                'isNew': false,
                                attachments,
                                editAttachments : false,
                                fullWidth: true,
                                fieldNameClass : 'wii-subtitle',
                                override: true,
                            } %}
                        </div>
                        {% if productionRequest.attachments is empty %}
                            <div class="wii-small-text">
                                Cette demande de production n'a aucune pièce jointe
                            </div>
                        {% endif %}
                    </div>
                    <div class="content comment-container">
                        <div class="wii-subtitle">{{ trans('Général', null, 'Modale', 'Commentaire') }}</div>
                        {% if productionRequest.comment != '<p><br></p>' %}
                            <div class="ql-editor">
                                {{ productionRequest.comment | raw }}
                            </div>
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
                <div class="wii-box">
                    <div class="header wii-title">{{ trans('Général', null, 'Modale', 'Champs libres') }}</div>
                    <div class="content row no-gutters">
                        {% include 'free_field/freeFieldsShow.html.twig' with {
                            wrapperClass: 'col-6 d-flex flex-column',
                            values: productionRequest.freeFields,
                            freeFields: freeFields,
                            emptyTitle: "Cette demande de production n'a aucun champ libre",
                            emptyLabel: "Cette demande de production n'a aucun champ libre",
                            needsDateFormatting: true
                        } %}
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-12">
                <div class="wii-box">
                    <div class="header wii-title justify-content-between align-items-center d-flex">
                        <span>Informations</span>
                        {% set canUpdateStatus = (
                            productionRequest.status
                            and (
                                (productionRequest.status.inProgress and hasRight(constant('App\\Entity\\Menu::PRODUCTION'), constant('App\\Entity\\Action::EDIT_IN_PROGRESS_PRODUCTION_REQUEST')))
                                or (productionRequest.status.notTreated and hasRight(constant('App\\Entity\\Menu::PRODUCTION'), constant('App\\Entity\\Action::EDIT_TO_TREAT_PRODUCTION_REQUEST')))
                                or (productionRequest.status.partial and hasRight(constant('App\\Entity\\Menu::PRODUCTION'), constant('App\\Entity\\Action::EDIT_PARTIAL_PRODUCTION_REQUEST')))
                            )
                            and not productionRequest.status.treated
                        ) %}
                        {% if canUpdateStatus %}
                            <button type="button"
                                    class="btn btn-primary d-flex align-items-center justify-content-center open-modal-update-production-request-status">
                                <span class="wii-icon wii-icon-check-white mr-2"></span>
                                Avancer la demande
                            </button>
                        {% endif %}
                    </div>
                    {% if productionRequest.emergency %}
                        <div class="d-flex align-items-center justify-content-center emergency-container">
                            <img src="{{ asset('svg/timeline-urgent.svg') }}" class="mr-2" alt="Icône urgence" width="17px">
                            <span>Cette demande de production est urgente : <strong>{{ productionRequest.emergency }}</strong></span>
                        </div>
                    {% endif %}

                    <div class="col-12 pb-3">
                        {% include 'utils/show-header-details.html.twig' with {
                            data: detailsConfig,
                            forceDisplayFilledFields: true,
                        } %}
                    </div>
                </div>
                <div class="wii-box">
                    <div class="header wii-title">Historique</div>
                    <div class="content operation-history-container">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="spinner-border text-primary" role="status"></div>
                            <span class="ml-3">Génération de l'historique en cours...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form.hidden('open-modal', openModal) }}

    {% if hasRightEditProductionRequest %}
        {% include 'production_request/modal/edit.html.twig' with {
            productionRequest,
            fieldsParam,
            emergencies,
            expectedAtSettings
        }%}
    {% endif %}

    {%  include 'production_request/modal/updateStatus.html.twig' %}

    {% include 'utils/modal/empty-modal.html.twig' with {
        id: 'modalNewDispatch',
        size: 'modal-xl',
        header: {
            title: trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Demande d\'acheminement')
        },
        footer: {
            elements: [
                {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), type: 'submit'},
            ],
        }
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/dispatch-common.js') }}?v={{ web_version }}"></script>
    {{ encore_entry_script_tags('production-show') }}
{% endblock %}
