{% extends 'utils/show-header.html.twig' %}


{% block showHiddenInputs %}
    <input hidden value="{{ arrivage.id }}" id="arrivageId">
    <input hidden value="{{ arrivage.numeroarrivage }}" id="numeroArrivage">
    <input hidden value="{{ printPacks is defined ? printPacks : false }}" id="printPacks">
    <input hidden value="{{ printArrivage is defined ? printArrivage : false }}" id="printArrivage">
{% endblock %}

{% block showTitle (trans('Traçabilité', 'Arrivages UL', 'Divers', 'Arrivages unités logistiques')) %}
{% block showSubtitle (arrivage.numeroArrivage) %}

{% block showActions %}

{% set allPacksAlreadyInDispatch = allPacksAlreadyInDispatch is defined and allPacksAlreadyInDispatch %}

    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE')) and arrivage.reception is null %}
        <a class="btn btn-outline-primary mr-2"
           href="{{ path('reception_index', {'open-modal': 'new', 'clear-modal': 0, arrivage: arrivage.id}) }}">
            {{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Réceptionner') }}
        </a>
    {% endif %}
    <div class="btn-group">
        {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT_ARRI')) %}
            <button type="button"
                    data-id='{{ arrivage.id }}'
                    onclick="editRowArrivage($(this))"
                    class="btn btn-primary ml-auto split-button">
                {{ trans('Général', null, 'Modale', 'Modifier') }}
            </button>
        {% endif %}
        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>
        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
            <a class="dropdown-item d-flex align-items-center"
               id="printArrivageBtn"
               href="{{ path('print_arrivage_bar_codes', {arrivage: arrivage.id, printArrivage: 1}) }}">
                <span class="wii-icon wii-icon-printer-black mr-2"></span>
                {{ trans('Traçabilité', 'Arrivages UL', 'Champs fixes', 'Imprimer arrivage UL') }}
            </a>
            {% if not allPacksAlreadyInDispatch and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE_ACHE')) %}
                <button class="dropdown-item dispatch-button" data-id="{{ arrivage.id }}">
                    <i class="fas fa-exchange-alt mr-2"></i>
                    {{ trans('Traçabilité', 'Arrivages UL', 'Détails arrivage UL - Entête', 'Acheminer') }}
                </button>
            {% endif %}
            {% if arrivage.reception and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_RECE')) %}
                <a class="dropdown-item dispatch-button" href="{{ path('reception_show', {id: arrivage.reception.id}) }}">
                    <i class="fas fa-share-square mr-2"></i>
                    Aller vers la réception liée
                </a>
            {% endif %}
            {% if canBeDeleted %}
                {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::DELETE_ARRI')) %}
                    <a href="" data-id='{{ arrivage.id }}' data-target='#modalDeleteArrivage' data-toggle='modal'
                       class="dropdown-item d-flex align-items-center"
                       onclick="deleteRowArrivage($(this), $('#modalDeleteArrivage'), $('#submitDeleteArrivage'))">
                        <span class="wii-icon wii-icon-trash-black mr-2"></span>
                        {{ trans('Général', null, 'Modale', 'Supprimer') }}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block showUrgence %}
    {% if arrivage.isUrgent is defined and arrivage.isUrgent == true %}
        <i class="fa fa-exclamation-triangle mr-2"></i>
        {{ trans('Traçabilité', 'Arrivages UL', 'Détails arrivage UL - Entête', 'Cet arrivage UL est à traiter en URGENCE') }}
    {% endif %}
{% endblock %}
