{% extends 'utils/show-header.html.twig' %}


{% block showHiddenInputs %}
    <input hidden value="{{ arrivage.id }}" id="arrivageId">
    <input hidden value="{{ arrivage.numeroarrivage }}" id="numeroArrivage">
    <input hidden value="{{ printColis is defined ? printColis : false }}" id="printColis">
    <input hidden value="{{ printArrivage is defined ? printArrivage : false }}" id="printArrivage">
{% endblock %}

{% block showTitleTooltip 'arrivage' %}
{% block showTitle (('arrivage.arrivage'|trans) ~ ' ' ~ arrivage.numeroarrivage) %}

{% block showActions %}
    <div class="btn-group">
        {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT_ARRI')) %}
            <button type="button"
                    data-id='{{ arrivage.id }}'
                    data-target='#modalEditArrivage'
                    onclick="editRowArrivage(
                            $(this), Routing.generate('arrivage_edit_api', true),
                            $('#modalEditArrivage'),
                            $('#submitEditArrivage'), true, '#modalEditArrivage .editor-container-edit')"
                    data-toggle='modal' class="btn btn-primary btn-ripple ml-auto split-button">
                Modifier
            </button>
        {% endif %}
        <button type="button" class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>
        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
            <a class="dropdown-item"
               id="printArrivageBtn"
               href="{{ path('print_arrivage_bar_codes', {arrivage: arrivage.id, printArrivage: 1}) }}">
                <i class='fas fa-print pointer mr-2'></i>
                Imprimer <span title="arrivage">{{ 'arrivage.arrivage'|trans }}</span>
            </a>
            <a href="" class="dropdown-item" data-target='#modalNewAssociation' data-toggle='modal'>
                <i class="fa fa-bullseye mr-2"></i>
                Association/BR
            </a>
            {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE_ACHE')) %}
                <a href="" data-target='#modalNewDispatch' data-toggle='modal'
                   class="dropdown-item" title="Acheminer" onclick="initNewDispatchEditor('#modalNewDispatch')">
                    <i class="fas fa-exchange-alt mr-2"></i>
                    {{ 'arrivage.Acheminer'|trans }}
                </a>
            {% endif %}
            {% if canBeDeleted %}
                {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::DELETE_ARRI')) %}
                    <a href="" data-id='{{ arrivage.id }}' data-target='#modalDeleteArrivage' data-toggle='modal'
                       class="dropdown-item"
                       onclick="deleteRowArrivage($(this), $('#modalDeleteArrivage'), $('#submitDeleteArrivage'))">
                        <i class="fa fa-trash mr-2"></i>
                        Supprimer
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block showUrgence %}
    {% if arrivage.isUrgent is defined and arrivage.isUrgent == true %}
        <i class="fa fa-exclamation-triangle mr-2"></i>
        <span title="cet arrivage">{{ 'arrivage.cet arrivage'|trans }}</span> est à traiter en URGENCE.
    {% endif %}
{% endblock %}
