{% for champLibre in champsLibres %}
    {% if (edit is defined and edit == true) %}
        {% set required = champLibre.requiredEdit %}
        {% set defaultValue = champLibre.valeurChampLibre is defined and champLibre.valeurChampLibre is not empty ? champLibre.valeurChampLibre.valeur : '' %}
    {% else %}
        {% set required = champLibre.requiredCreate %}
        {% set defaultValue = champLibre.defaultValue is defined ? champLibre.defaultValue : '' %}
    {% endif %}
    <div class="form-group col-4">
        <label for="input{{ champLibre.id }}">
            {{ champLibre.label }}{{ required ? '*' : '' }}
        </label>

        {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
            <input type="checkbox" class="data checkbox"
                   value="{{ defaultValue }}" {{ defaultValue ? 'checked': '' }}
                   name="{{ champLibre.id }}" id="input{{ champLibre.id }}">


        {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_NUMBER') %}
            <input type="number"
                   class="form-control data {{ required ? 'needed' : '' }}"
                   value="{{ defaultValue }}"
                   name="{{ champLibre.id }}" id="input{{ champLibre.id }}">


        {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_LIST') %}
            <select
                    class="form-control data {{ required ? 'needed' : '' }} "
                    name="{{ champLibre.id }}" id="input{{ champLibre.id }}">
                <option value=""></option>
                {% for elem in champLibre.elements %}
                    {% set selected = defaultValue == elem ? 'selected' : '' %}
                    <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                {% endfor %}
            </select>

        {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_LIST_MULTIPLE') %}
            <select
                    class="form-control data list-multiple w-100 {{ required ? 'needed' : '' }} "
                    name="{{ champLibre.id }}" id="input{{ champLibre.id }}"
                    multiple="multiple">
                {% for elem in  champLibre.elements %}
                    {% set selected = elem in (defaultValue|split(',')) ? 'selected' : '' %}
                    <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                {% endfor %}
            </select>

        {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_TEXT') %}
            <input type="text" class="form-control data {{ required ? 'needed' : '' }}"
                   value="{{ defaultValue }}"
                   name="{{ champLibre.id }}" id="input{{ champLibre.id }}">

        {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_DATE') %}
            <input type="text" class="form-control data cursor-default date-cl {{ required ? 'needed' : '' }}"
                   value="{{ defaultValue }}"
                    name="{{ champLibre.id }}" id="input{{ champLibre.id }}"
                    placeholder="jj/mm/aaaa">

        {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_DATETIME') %}
            <input type="datetime-local" class="form-control data {{ required ? 'needed' : '' }}"
                   value="{{ defaultValue }}"
                   name="{{ champLibre.id }}"  id="input{{ champLibre.id }}">

        {% else %}
            <input disabled>

        {% endif %}
    </div>
{% endfor %}
