<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <a href='{{ url }}' class="d-none action-on-click">
                Voir
            </a>
            <a class="dropdown-item pointer d-flex align-items-center"
               data-id='{{ arrivage.id }}'
               data-target='#modalListColis'
               data-toggle='modal'
               onclick="listColis($(this))">
                <span class="wii-icon wii-icon-printer-black mr-2"></span>{{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Impression') }}
            </a>
            {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::CREATE')) %}
                <a href='{{ path('reception_index', {'open-modal': 'new', 'clear-modal': 0, arrivage: arrivage.id}) }}'
                   class="dropdown-item pointer d-flex align-items-center">
                    <span class="wii-icon wii-icon-reception-black wii-icon-15px-black mr-2"></span>{{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Réceptionner') }}
                </a>
            {% endif %}
        </div>
    </div>
</div>
