<div class="d-flex">

    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::CREATE_EDIT'))%}
        <div data-id='{{ arrivage.id }}' data-target='#modalEditArrivage' data-toggle='modal'
             class='btn btn-col-action'
             onclick="editRowArrivage($(this))">
            <i class='fas fa-pencil-alt'></i>
        </div>
    {% elseif arrivage.litige is defined and app.user.username in arrivage.acheteurs %}
        <div data-id='{{ arrivage.id }}' data-target='#modalEditArrivage' data-toggle='modal'
             class='btn btn-col-action'
             onclick="editRowArrivage($(this), Routing.generate('arrivage_edit_api', true), $('#modalEditArrivage'), $('#submitEditArrivage'), true)">
            <i class='fas fa-file'></i>
        </div>
    {% endif %}

    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::DELETE'))%}
        <div data-id='{{ arrivage.id }}' data-target='#modalDeleteArrivage' data-toggle='modal' class='service-delete btn btn-col-action'
             onclick="deleteRowArrivage($(this), $('#modalDeleteArrivage'), $('#submitDeleteArrivage'), {{ arrivage.litige|length }})">
            <i class='fas fa-trash'></i>
        </div>
    {% endif %}

    <div data-id='{{ arrivage.id }}' data-target='#modalListColis' data-toggle='modal' class='btn btn-col-action'
         onclick="listColis($(this))">
        <i class='fas fa-print'></i>
    </div>

</div>