<div class="d-flex">

    {#{% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::LIST'))%}#}
        {#<div data-id='{{ arrivage.id }}' data-target='#modalDropFile' data-toggle='modal'#}
             {#class='btn-xs btn-default'>#}
            {#<i class='fas fa-file'></i>#}
        {#</div>#}
    {#{% endif %}#}

    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::CREATE_EDIT'))%}
        <div data-id='{{ arrivage.id }}' data-target='#modalEditArrivage' data-toggle='modal'
             class='btn-xs btn-default'
             onclick="editRow($(this), Routing.generate('arrivage_edit_api', true), $('#modalEditArrivage'), $('#submitEditArrivage'), true)">
            <i class='fas fa-pencil-alt'></i>
        </div>
    {% endif %}

    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::CREATE_EDIT'))%}
        <div data-id='{{ arrivage.id }}' data-target='#modalEditArrivage' data-toggle='modal'
             class='btn-xs btn-default'
             onclick="editRow($(this), Routing.generate('arrivage_edit_api', true), $('#modalEditArrivage'), $('#submitEditArrivage'), true)">
            <i class='fas fa-pencil-alt'></i>
        </div>
    {% endif %}

    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::DELETE'))%}
        <div data-id='{{ arrivage.id }}' data-target='#modalDeleteArrivage' data-toggle='modal' class='service-delete col-3'
             onclick="deleteRowArrivage($(this), $('#modalDeleteArrivage'), $('#submitDeleteArrivage'), {{ arrivage.litige|length }})">
            <i class='fas fa-trash'></i>
        </div>
    {% endif %}

</div>