<div class="row align-items-center datatable-header">
    <div class="col-auto">
        <h1 class="my-0"><span title="arrivage">{{ 'arrivage.arrivage'|trans }}</span> {{ arrivage.numeroarrivage }}</h1>
        <input hidden value="{{ arrivage.id }}" id="arrivageId">
        <input hidden value="{{ arrivage.numeroarrivage }}" id="numeroArrivage">
        <input hidden value="{{ printColis is defined ? printColis : false }}" id="printColis">
        <input hidden value="{{ printArrivage is defined ? printArrivage : false }}" id="printArrivage">
        <div class="d-none" id="barcodes"></div>
    </div>

    <div class="col-auto ml-auto">
        <div class="btn-group">
            {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
                <button type="button"
                        data-id='{{ arrivage.id }}'
                        data-target='#modalEditArrivage'
                        onclick="editRowArrivage(
                        $(this), Routing.generate('arrivage_edit_api', true),
                        $('#modalEditArrivage'),
                        $('#submitEditArrivage'), true, '#modalEditArrivage .editor-container-edit')"
                        data-toggle='modal' class="btn btn-primary btn-ripple ml-auto split-button">
                    Modifier
                </button>
            {% else %}
                <button type="button" class="btn btn-primary btn-ripple ml-auto split-button"
                        id="printArrivageBtn">
                    <a
                        href="{{ path('print_arrivage_bar_codes', {arrivage: arrivage.id, printArrivage: 1}) }}">
                        <i class='fas fa-print pointer'></i>
                        Imprimer <span title="arrivage">{{ 'arrivage.arrivage'|trans }}</span>
                    </a>
                </button>
            {% endif %}
            <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <span class="fa fa-angle-down"></span>
            </button>
            <div class="dropdown-menu mr-5 pointer">
                {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
                    <a class="dropdown-item"
                       id="printArrivageBtn"
                       href="{{ path('print_arrivage_bar_codes', {arrivage: arrivage.id, printArrivage: 1}) }}">
                        <i class='fas fa-print pointer'></i>
                        Imprimer <span title="arrivage">{{ 'arrivage.arrivage'|trans }}</span>
                    </a>
                {% endif %}
                <a href="" class="dropdown-item" data-target='#modalNewAssociation' data-toggle='modal'>
                    <i class="fa fa-bullseye mr-2"></i>Association/BR
                </a>
                {% if (canBeDeleted) %}
                    {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::DELETE')) %}
                        <a href="" data-id='{{ arrivage.id }}' data-target='#modalDeleteArrivage' data-toggle='modal'
                           class="dropdown-item"
                           onclick="deleteRowArrivage($(this), $('#modalDeleteArrivage'), $('#submitDeleteArrivage'))">
                            <i class="fa fa-trash mr-2"></i>Supprimer</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% if fieldsParam|isFieldRequired('fournisseur', 'displayed') %}
        <div class="col-4">
            <p><strong>Fournisseur :</strong> <span>{{ arrivage.fournisseur ? arrivage.fournisseur.nom : "" }}</span></p>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('transporteur', 'displayed') %}
        <div class="col-4">
            <p><strong>Transporteur :</strong> {{ arrivage.transporteur ? arrivage.transporteur.label : "" }}</p>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('chauffeur', 'displayed') %}
        <div class="col-4">
            <p><strong>Chauffeur :</strong> <span>{{ arrivage.chauffeur ? arrivage.chauffeur.nom : "" }}</span></p>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('noTracking', 'displayed') %}
        <div class="col-4">
            <p><strong>N° tracking transporteur :</strong> <span>{{ arrivage.notracking }}</span></p>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('numeroCommandeList', 'displayed') %}
        <div class="col-4">
            <p><strong>N° commandes / BL :</strong> <span>{{ (arrivage.numeroCommandeList|join(', ')) }}</span></p>
        </div>
    {% endif %}
    <div class="col-4">
        <p><strong>Statut :</strong> <span>{{ arrivage.statut }}</span></p>
    </div>
    {% if fieldsParam|isFieldRequired('destinataire', 'displayed') %}
        <div class="col-4">
            <p title="destinataire">
                <strong>{{ 'arrivage.destinataire'|trans }} :</strong>
                {{ arrivage.destinataire ? arrivage.destinataire.username : '' }}
            </p>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('acheteurs', 'displayed') %}
        <div class="col-4">
            <p title="acheteurs">
                <strong>{{ 'arrivage.acheteurs'|trans }} :</strong>
                {{ arrivage.acheteurs|join(', ') }}
            </p>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('duty', 'displayed') %}
        <div class="col-4">
            <p title="douane">
                <strong>{{ 'arrivage.douane'|trans }} :</strong>
                {{ arrivage.duty ? 'oui' : 'non' }}
            </p>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('frozen', 'displayed') %}
        <div class="col-4">
            <p title="congelé">
                <strong>{{ 'arrivage.congelé'|trans }} :</strong>
                {{ arrivage.frozen ? 'oui' : 'non' }}
            </p>
        </div>
    {% endif %}

    {% for champLibre in champsLibres %}
        <div class="col-4">
            {% set value = null %}
            {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                {% set value = (champLibre.valeurChampLibre is not null and champLibre.valeurChampLibre.valeur == 1) ? 'oui' : 'non' %}
            {% elseif champLibre.typage == 'list multiple' and champLibre.valeurChampLibre is not null %}
                {% set value = champLibre.valeurChampLibre.valeur | replace({';' : ','}) %}
            {% elseif champLibre.valeurChampLibre is not null %}
                {% set value = champLibre.valeurChampLibre.valeur %}
            {% endif %}
            {% if value is not null %}
                <p><strong>{{ champLibre.label }} :</strong> {{ value }}</p>
            {% endif %}
        </div>
    {% endfor %}
</div>


<div class="row">
    {% if fieldsParam|isFieldRequired('commentaire', 'displayed') %}
        <div class="col-8">
            <p><strong>Commentaire :</strong> <span>{{ arrivage.commentaire | raw }} </span></p>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('pj', 'displayed') %}
        <div class="col-4">
            <p><strong>Pièces jointes :</strong><br>
                {% for attachement in arrivage.attachements %}
                    <a href="/uploads/attachements/{{ attachement.filename }}" target="_blank">
                        <i class="fas fa-file"></i> {{ attachement.originalname }}<br>
                    </a>
                {% endfor %}
            </p>
        </div>
    {% endif %}
</div>

{% if arrivage.isUrgent is defined and arrivage.isUrgent == true %}
    <div class="urgence-row row ml-2">
        <h1><i class="fa fa-exclamation-triangle mr-2"></i><span title="cet arrivage">{{ 'arrivage.cet arrivage'|trans }}</span> est à traiter en
            URGENCE.</h1>
    </div>
{% endif %}
