{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | {{ 'arrivage.arrivages'|trans }}{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersArrivage.html.twig' with {
        'page': 'PAGE_ARRIVAGE',
        'tableSelector': '#tableArrivages',
        'callback': '() => {clicked = true;}'
    } %}
{% endblock %}

{% block page_content %}
    {% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
    <input type="hidden" id="dateMinFilter">
    <input type="hidden" id="dateMaxFilter">
    <input type="hidden" id="statutFilter">
    <input type="hidden" id="usersFilter">
    <div class="m-4 datatable-container shadow-lg">
        <div class="d-none justify-content-center" id="spinner">
            <div class="spinner-border sizeLoader" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row datatable-header">
            <div class="btn-group split-button-container col-auto ml-auto">
                {% if hasRightToCreate %}
                <button type="button" class="btn btn-primary split-button btn-ripple"
                        data-toggle="modal" data-target="#modalNewArrivage"
                        data-backdrop="static" data-keyboard="false"
                        onclick="initNewArrivageEditor('#modalNewArrivage')"><span class="fa fa-plus mr-2"></span>
                    {{ 'arrivage.nouvel arrivage'|trans }}
                </button>
                {% elseif hasRightToExport %}
                    <button type="button" class="btn btn-primary split-button btn-ripple"
                            onclick="generateCSV('get_arrivages_for_csv', '{{ 'arrivage.arrivages'|trans }}')">
                        <span class="fa fa-file-csv mr-2"></span>
                        Exporter au format CSV
                    </button>
                {% endif %}
                <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-angle-down"></span>
                </button>
                <div class="dropdown-menu {{ hasRightToCreate or hasRightToExport ? 'mr-5' : 'dropdown-single' }}">
                    {% if hasRightToCreate
                       and hasRightToExport %}
                        <a href="#" class="dropdown-item"
                           onclick="generateCSV('get_arrivages_for_csv', '{{ 'arrivage.arrivages'|trans }}')">
                            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                        </a>
                    {% endif %}
                    <a href="#" class="dropdown-item" onclick="$('.buttons-colvis').click();">
                        <i class="fa fa-cog mr-2"></i>Gestion des colonnes
                    </a>
                </div>
            </div>
        </div>
        <table id="tableArrivages" class="table w-100">
        </table>
    </div>
    <div hidden id="barcodes"></div>
    <button class="btn" id="cannotGenerate" data-target='#modalCannotGenerate' data-toggle='modal' hidden></button>
    <input id="redirect" value="{{ redirect }}" hidden>
    <input id="pageLengthForArrivage" value="{{ pageLengthForArrivage }}" hidden>

    {% include "arrivage/modalNewArrivage.html.twig" %}
    {% include "arrivage/modalEditArrivage.html.twig" %}
    {% include "arrivage/modalDeleteArrivage.html.twig" %}
    {% include "arrivage/modalListColis.html.twig" %}

    <input hidden id="noArrTranslation" value="{{ "arrivage.n° d'arrivage"|trans }}">
    <input hidden id="acheteursTranslation" value="{{ "arrivage.acheteurs"|trans }}">
    <input hidden id="destinataireTranslation" value="{{ "arrivage.destinataire"|trans }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/attachments.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/arrivage-common.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/arrivage.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
