{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | {{ 'arrivage.flux - arrivages'|trans }}{% endblock %}
{% block title_tooltip %}Traçabilité | Flux - arrivages{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersArrivage.html.twig' with {
        'page': 'PAGE_ARRIVAGE',
        'tableSelector': '#arrivalsTable',
        'callback': '() => {clicked = true;
        }'
    } %}
{% endblock %}

{% block page_content %}
    {% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}

    <input type="hidden" id="dateMinFilter">
    <input type="hidden" id="dateMaxFilter">
    <input type="hidden" id="statutFilter">
    <input type="hidden" id="usersFilter">

    <div class="m-4 wii-page-card">
        <div class="d-none justify-content-center" id="spinner">
            <div class="spinner-border sizeLoader" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    {% if hasRightToCreate %}
                        <button type="button"
                                class="btn btn-primary split-button btn-ripple"
                                data-toggle="modal"
                                data-target="#modalNewArrivage"
                                data-backdrop="static"
                                data-keyboard="false"
                                onclick="initNewArrivageEditor('#modalNewArrivage')">
                            <i class="fa fa-plus mr-2"></i>
                            <span title="nouvel arrivage">{{ 'arrivage.nouvel arrivage'|trans }}</span>
                        </button>
                    {% elseif hasRightToExport %}
                        <button type="button"
                                class="btn btn-primary split-button btn-ripple"
                                onclick="saveExportFile('get_arrivages_csv')">
                            <span class="fa fa-file-csv mr-2" style="padding: 0 2px"></span>
                            Exporter au format CSV
                        </button>
                    {% endif %}
                    <button type="button"
                            class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        {% if hasRightToCreate and hasRightToExport %}
                            <a class="dropdown-item pointer"
                               onclick="saveExportFile('get_arrivages_csv')">
                                <i class="fa fa-file-csv mr-2" style="padding: 0 2px"></i>
                                Exporter au format CSV
                            </a>
                        {% endif %}
                        <a class="dropdown-item pointer"
                           data-toggle="modal"
                           data-target="#modalColumnVisible">
                            <i class="fa fa-cog mr-2"></i>
                            Gestion des colonnes
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="arrivalsTable" class="table w-100"></table>
            </div>
        </div>
    </div>

    <input id="redirect" value="{{ redirect }}" hidden>
    <input id="pageLengthForArrivage" value="{{ pageLengthForArrivage }}" hidden>

    {% include "arrivage/modalNewArrivage.html.twig" with modalNewConfig %}
    {% include "arrivage/modalDeleteArrivage.html.twig" %}
    {% include "arrivage/modalListColis.html.twig" %}
    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'arrivalsTable',
        'route': 'save_column_visible_for_arrivage'
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/arrivage-common.js') }}?{{ app_last_cache_clear }}"></script>
    <script src="{{ asset('js/pages/arrivage.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
