{% extends 'layout.html.twig' %}

{% block title %}{{ trans('Traçabilité', 'Général', 'Traçabilité') }} | {{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Flux - arrivages') }}{% endblock %}
{% block title_tooltip %}{{ trans('Traçabilité', 'Général', 'Traçabilité') }} | {{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Flux - arrivages') }}{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersArrivage.html.twig' with {
        'page': 'PAGE_ARRIVAGE',
        'tableSelector': '#arrivalsTable',
        'needsDateFormatting': true,
        'callback': '() => {clicked = true;
        }'
    } %}
{% endblock %}

{% block page_content %}
    {% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE'))
        and hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE_ARRIVAL')) %}
    {% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}

    <input type="hidden" id="dateMinFilter">
    <input type="hidden" id="dateMaxFilter">
    <input type="hidden" id="statutFilter">
    <input type="hidden" id="usersFilter">

    <div class="m-4 wii-page-card overflow-x-hidden">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group arrival-mode-container">
                    {% if hasRightToCreate %}
                        <button type="button"
                                class="btn btn-primary split-button d-flex align-items-center"
                                name="new-arrival"
                                disabled
                                onclick="openArrivalCreationModal()">
                            <span class="wii-icon wii-icon-plus mr-2"></span>
                            {{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Nouvel arrivage') }}
                        </button>
                    {% elseif hasRightToExport %}
                        <button type="button"
                                class="btn btn-primary split-button"
                                onclick="saveExportFile('get_arrivages_csv', true, {}, false, '{{ trans('Général', null, 'Modale', 'Veuillez saisir des dates dans le filtre en haut de page.', false) }}', true)">
                            <span class="fa fa-file-csv mr-2" style="padding: 0 2px"></span>
                            {{ trans('Général', null, 'Zone liste', 'Exporter au format CSV') }}
                        </button>
                    {% endif %}
                    <button type="button"
                            class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        {% if hasRightToCreate and hasRightToExport %}
                            <a class="dropdown-item pointer"
                               onclick="saveExportFile('get_arrivages_csv', true, {}, false, '{{ trans('Général', null, 'Modale', 'Veuillez saisir des dates dans le filtre en haut de page.', false) }}', true)">
                                <i class="fa fa-file-csv mr-2" style="padding: 0 2px"></i>
                                {{ trans('Général', null, 'Zone liste', 'Exporter au format CSV') }}
                            </a>
                        {% endif %}
                        <a class="dropdown-item pointer"
                           data-toggle="modal"
                           data-target="#modalColumnVisible">
                            <i class="fa fa-cog mr-2"></i>
                            {{ trans('Général', null, 'Zone liste', 'Gestion des colonnes') }}
                        </a>
                        <a class="dropdown-item pointer dispatch-mode-button d-none">
                            <i class="fas fa-exchange-alt mr-2"></i>
                            {{ trans('Traçabilité', 'Flux - Arrivages', 'Détails arrivage - Entête', 'Acheminer') }}
                        </a>
                    </div>
                </div>


                <div class="dispatch-mode-container d-none">
                    <button type="button"
                            class="btn btn-outline-primary cancel" disabled>
                        {{ trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Annuler acheminer') }}
                    </button>
                    <button type="button"
                            class="btn btn-primary validate" disabled>
                        <span class="wii-icon wii-icon-check-white mr-2 align-self-center"></span>
                        {{ trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Valider arrivages à acheminer') }}
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="arrivalsTable"
                       data-initial-data="{{ initial_arrivals }}"
                       data-initial-visible="{{ initial_visible_columns }}"
                       class="table w-100"></table>
            </div>
        </div>
    </div>

    <input id="redirect" value="{{ redirect }}" hidden>
    <input id="pageLengthForArrivage" value="{{ pageLengthForArrivage }}" hidden>
    <input id="arrivalFilters" value="{{ initial_filters }}" hidden>
    <input id="arrivalForm" value="{{ initial_form|json_encode }}" hidden>
    <input id="tagTemplates" value="{{ tag_templates|json_encode }}" hidden>
    <input id="openNewModal" value="{{ openNewModal }}" hidden>

    {% include "arrivage/modalListPacks.html.twig" %}
    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'arrivalsTable',
        'route': 'save_column_visible_for_arrivage'
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/arrival/common.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/dispatch-common.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/arrival/index.js') }}?v={{ web_version }}"></script>
{% endblock %}
