<form method="" class="modal fade" id="modalNewArrivage" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Nouvelle demande d'arrivage</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col">
                        <label for="fournisseur">Fournisseur*</label>
                        <select class="form-control data needed" id="fournisseur" name="fournisseur">
                            <option disabled selected></option>
                            {% for fournisseur in fournisseurs %}
                                <option value="{{ fournisseur.id }}">{{ fournisseur.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-1">
                        <span class="btn btn-primary" onclick="toggleInput('fournisseurDisplay', 'addFournisseur')"><i class="fa fa-plus"></i></span>
                    </div>

                    <div class="form-group col">
                        <label for="transporteur">Transporteur*</label>
                        <select class="form-control data needed" id="transporteur" name="transporteur">
                            <option disabled selected></option>
                            {% for transporteur in transporteurs %}
                                <option value="{{ transporteur.id }}">{{ transporteur.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-1">
                        <span class="btn btn-primary" onclick="toggleInput('transporteurDisplay', 'addTransporteur')"><i class="fa fa-plus"></i></span>
                    </div>

                    <div class="form-group col">
                        <label for="chauffeur">Chauffeur</label>
                        <select class="form-control data" id="chauffeur" name="chauffeur">
                            <option disabled selected></option>
                            {% for chauffeur in chauffeurs %}
                                <option value="{{ chauffeur.id }}">{{ chauffeur.prenom|capitalize }} {{ chauffeur.nom|upper }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-1">
                        <span class="btn btn-primary" onclick="toggleInput('chauffeurDisplay', 'addChauffeur')"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-4 formulaire">
                        <div class="form-group col-9" id="fournisseurDisplay">
                            <label for="newFournisseur">Nom fournisseur</label>
                            <input type="text" id="newFournisseur" class="form-control valeur newFormulaire" name="Nom" maxlength="64">
                            <label for="newFournisseurCode">Code référence</label>
                            <input type="text" id="newFournisseurCode" class="form-control newFormulaire" name="Code" maxlength="64">
                        </div>
                        <div class="form-group col-3" id="addFournisseur">
                            <span class="btn btn-primary" onclick="newLine(Routing.generate('fournisseur_new', true), $(this))"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <div class="row col-4 formulaire">
                        <div class="form-group col-9" id="transporteurDisplay">
                            <label for="newTransporteur">Nom transporteur</label>
                            <input type="text" id="newTransporteur" class="form-control newFormulaire" name="label" maxlength="64">
                            <label for="newTransporteurCode">Nom transporteur</label>
                            <input type="text" id="newTransporteurCode" class="form-control newFormulaire" name="code" maxlength="64">
                        </div>
                        <div class="form-group col-3" id="addTransporteur">
                            <span class="btn btn-primary" onclick="newLine(Routing.generate('transporteur_new', true), $(this))"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                    <div class="row col-4 formulaire">
                        <div class="form-group col-9" id="chauffeurDisplay">
                            <label for="newChauffeurName">Nom</label>
                            <input type="text" id="newChauffeurName" class="form-control newFormulaire" name="nom" maxlength="64">
                            <label for="newChauffeurFirstName">Prénom chauffeur</label>
                            <input type="text" id="newChauffeurFirstName" class="form-control newFormulaire" name="prenom" maxlength="64">
                            <label for="newChauffeurNumero">N°doc ID</label>
                            <input type="text" id="newChauffeurNumero" class="form-control newFormulaire" name="documentID" maxlength="64">
                            <label for="newChauffeurTransporteur">Transporteur*</label>
                            <select class="form-control newFormulaire" id="newChauffeurTransporteur" name="transporteur">
                                <option disabled selected></option>
                                {% for transporteur in transporteurs %}
                                    <option value="{{ transporteur.id }}">{{ transporteur.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-3" id="addChauffeur">
                            <span class="btn btn-primary" onclick="newLine(Routing.generate('chauffeur_new', true), $(this))"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="noTracking">N° tracking transporteur</label>
                        <input type="text" id="noTracking" class="form-control data" name="noTracking" maxlength="64">
                    </div>

                    <div class="form-group col-4">
                        <label for="noBL">N° commande / BL</label>
                        <input type="text" id="noBL" class="form-control needed data" name="noBL" maxlength="64">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-4">
                        <label for="destinataire">Destinataire*</label>
                        <select class="form-control data needed" id="destinataire" name="destinataire">
                            <option disabled selected></option>
                            {% for utilisateur in utilisateurs %}
                                <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group w-100 col-4">
                        <label for="acheteurs">Acheteur(s)</label>
                        <select type="text" class="form-control data select2" name="acheteurs" multiple="multiple"
                                id="acheteurs">
                            {% for utilisateur in utilisateurs %}
                                <option value="{{ utilisateur.username }}">
                                    {{ utilisateur.username }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="Immatriculation">Immatriculation</label>
                        <input type="text" id="Immatriculation" class="form-control data" name="immatriculation" maxlength="64">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-8 fit-content">
                        <label for="commentaire">Commentaire</label>
                        <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden">
                        <div class="editor-container-new" ></div>
                    </div>
                    <div class="form-group col-4">
                        <div>
                            {% include 'arrivage/attachements.html.twig' with {'isNew' : true} %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewArrivage" type="button" class="btn btn-success"
                    onclick="setCommentaire('.editor-container-new', quillNew)">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>