<div class="form-group">
    <label for="fournisseur">Fournisseur*</label>
    <select class="form-control data needed" id="fournisseur" name="fournisseur">
        <option disabled selected> </option>
        {% for fournisseur in fournisseurs %}
            {% set selected = (fournisseur.id == arrivage.fournisseur.id ? 'selected' : '') %}
            <option value="{{ fournisseur.id }}" {{ selected }}>{{ fournisseur.nom }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="transporteur">Transporteur*</label>
    <select class="form-control data needed" id="transporteur" name="transporteur">
        <option disabled selected> </option>
        {% for transporteur in transporteurs %}
            {% set selected = (transporteur.id == arrivage.transporteur.id ? 'selected' : '') %}
            <option value="{{ transporteur.id }}" {{ selected }}>{{ transporteur.label }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="chauffeur">Chauffeur</label>
    <select class="form-control data" id="chauffeur" name="chauffeur">
        <option disabled selected> </option>
        {% for chauffeur in chauffeurs %}
            {% set selected = (arrivage.chauffeur is not empty and chauffeur.id == arrivage.chauffeur.id ? 'selected' : '') %}
            <option value="{{ chauffeur.id }}" {{ selected }}>{{ chauffeur.prenom|capitalize }} {{ chauffeur.nom|upper }}</option>
        {% endfor %}
    </select>
</div>

<hr>

<div class="form-group">
    <label for="noTracking">N° tracking transporteur</label>
    <input type="text" id="noTracking" class="form-control data" name="noTracking" maxlength="64" value="{{ arrivage.noTracking }}">
</div>

<div class="form-group">
    <label for="noBL">N° commande / BL</label>
    <input type="text" id="noBL" class="form-control data" name="noBL" maxlength="64" value="{{ arrivage.numeroBL }}">
</div>

<div class="form-group">
    <label for="destinataire">Destinataire</label>
    <select class="form-control data" id="destinataire" name="destinataire">
        <option disabled selected> </option>
        {% for utilisateur in utilisateurs %}
            {% set selected = (utilisateur.id == arrivage.destinataire.id ? 'selected' : '') %}
            <option value="{{ utilisateur.id }}" {{ selected }}>{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group w-100">
    <label for="acheteursEdit">Acheteur(s)</label>
    <select type="text" class="form-control data select2" name="acheteurs" multiple="multiple"
            id="acheteursEdit">
        {% for utilisateur in utilisateurs %}
            <option value="{{ utilisateur.username }}">
                {{ utilisateur.username }}
            </option>
        {% endfor %}
    </select>
</div>

<hr>

<div class="form-group">
    <label for="nbUM">Nombre d'UM</label>
    <input disabled type="number" id="nbUM" class="form-control" value="{{ arrivage.nbUM }}">
</div>

<hr>

<div class="form-group">
    <label for="statut">Statut*</label>
    <select class="form-control data needed" id="statut" name="statut" onchange="toggleLitige($(this))">
        {% for statut in statuts %}
            {% set selected = (statut.id == arrivage.statut.id ? 'selected' : '') %}
            <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom }}</option>
        {% endfor %}
    </select>
</div>

{# bloc litige à afficher si statut litige sélectionné #}
<div id="litigeBloc" class="{{ conforme ? 'd-none' : ''}}">
    <div class="form-group">
        <label for="litigeType">Type de litige*</label>
        <select class="form-control data" id="litigeType" name="litigeType">
            <option disabled selected> </option>
            {% for type in typesLitige %}
                {% set selected = (arrivage.litige is not empty and type.id == arrivage.litige.type.id ? 'selected' : '') %}
                <option value="{{ type.id }}" {{ selected }}>{{ type.label }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        {% set commentaireValue = arrivage.litige is not empty ? arrivage.litige.commentaire : '' %}
        <label for="commentaire">Commentaire</label>
        <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden"
               value="{{ commentaireValue }}">
        <div class="editor-container-edit" value="{{ commentaireValue }}">{{ commentaireValue|raw }}</div>
    </div>

    <div class="form-group">
        {% include 'arrivage/attachements.html.twig' %}
    </div>

</div>

<script>
    $('.select2').select2();
</script>
