{% set isClientSafranED =
    isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED'))
    or isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_NS'))
%}
<div class="modal fade" id="modalNewArrivage" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Nouvel arrivage')
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row fly-form">
                    {% set supplierFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_FOURNISSEUR') %}
                    {% if fieldsParam|isFieldRequired(supplierFieldCode, 'displayedCreate') %}
                        {% set supplierRequired = fieldsParam|isFieldRequired(supplierFieldCode, 'requiredCreate') %}
                        <div class="form-group col w-100">
                            <label class="wii-field-name">
                                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Fournisseur') }}{{ supplierRequired ? '*' }}
                            </label>
                            <select class="no-clear form-control input-sm data select2 ajax-autocomplete-fournisseur {{ supplierRequired ? 'needed' }}"
                                    name="fournisseur">
                                <option selected disabled>&nbsp;</option>
                                {% for fournisseur in fournisseurs %}
                                    <option value="{{ fournisseur.id }}"
                                            data-possible-customs="{{ fournisseur.possibleCustoms ? 1 : 0 }}"
                                            {{ (keptFields[supplierFieldCode] ?? null) == fournisseur.id ? 'selected' }}>
                                        {{ fournisseur.nom }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-auto toggle-button-container">
                                <span class="btn btn-primary d-flex align-items-center p-2"
                                      onclick="onFlyFormToggle('fournisseurDisplay', 'addFournisseur')">
                                    <span class="wii-icon wii-icon-plus"></span>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% set carrierFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(carrierFieldCode, 'displayedCreate') %}
                        {% set carrierRequired = fieldsParam|isFieldRequired(carrierFieldCode, 'requiredCreate') %}
                        <div class="form-group col w-100">
                            <label class="wii-field-name">
                                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Transporteur') }}{{ carrierRequired ? '*' }}
                            </label>
                            <select class="no-clear form-control input-sm data select2 ajax-autocomplete-transporteur {{ carrierRequired ? 'needed' }}"
                                    name="transporteur">
                                <option selected disabled>&nbsp;</option>
                                {% for carrier in carriers %}
                                    <option value="{{ carrier.id }}"
                                        {{ (keptFields[carrierFieldCode] ?? null) == carrier.id ? 'selected' }}>
                                        {{ carrier.label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-auto toggle-button-container">
                                <span class="btn btn-primary d-flex align-items-center p-2"
                                      onclick="onFlyFormToggle('transporteurDisplay', 'addTransporteur')">
                                    <span class="wii-icon wii-icon-plus"></span>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% set driverFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CHAUFFEUR_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(driverFieldCode, 'displayedCreate') %}
                        {% set driverRequired = fieldsParam|isFieldRequired(driverFieldCode, 'requiredCreate') %}
                        <div class="form-group col w-100">
                            <label class="wii-field-name">
                                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Chauffeur') }}{{ driverRequired ? '*' }}
                            </label>
                            <select class="form-control input-sm data select2 ajax-autocomplete-chauffeur {{ driverRequired ? 'needed' }}"
                                    name="chauffeur">
                                <option selected disabled>&nbsp;</option>
                                {% for chauffeur in chauffeurs %}
                                    <option value="{{ chauffeur.id }}"
                                        {{ (keptFields[driverFieldCode] ?? null) == chauffeur.id ? 'selected' }}>
                                        {{ chauffeur.nom }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-auto toggle-button-container">
                                <span class="btn btn-primary d-flex align-items-center p-2"
                                      onclick="onFlyFormToggle('chauffeurDisplay', 'addChauffeur')">
                                    <span class="wii-icon wii-icon-plus"></span>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                    <div class="row align-items-start">
                        {% if fieldsParam|isFieldRequired(supplierFieldCode, 'displayedCreate') %}
                            <div class="col fly-form">
                                <div class="row">
                                    <div class="form-group col invisible" id="fournisseurDisplay">
                                        <label class="wii-field-name" for="newFournisseur">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Nom') }}*</label>
                                        <input type="text" id="newFournisseur"
                                               class="form-control input-sm valeur newFormulaire neededNew copyOnTheFly"
                                               name="name" maxlength="64">
                                        <label for="newFournisseurCode" class="wii-field-name mt-2">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Code') }}*</label>
                                        <input type="text" id="newFournisseurCode"
                                               class="form-control input-sm newFormulaire neededNew copiedOnTheFly"
                                               name="code" maxlength="64">
                                    </div>
                                    <div class="form-group col-auto invisible submit-button-container" id="addFournisseur">
                                        <span class="btn btn-primary"
                                              onclick="onFlyFormSubmit(Routing.generate('supplier_new', true), $(this), 'fournisseurDisplay', 'addFournisseur', $('#fournisseur'))">
                                        <i class="fas fa-check-circle"></i></span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if fieldsParam|isFieldRequired(carrierFieldCode, 'displayedCreate') %}
                            <div class="col fly-form">
                                <div class="row">
                                    <div class="form-group col invisible" id="transporteurDisplay">
                                        <label class="wii-field-name" for="newTransporteur">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Nom') }}*</label>
                                        <input type="text" id="newTransporteur"
                                               class="form-control input-sm newFormulaire neededNew copyOnTheFly"
                                               name="label" maxlength="64">
                                        <label for="newTransporteurCode" class="wii-field-name mt-2">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Code') }}*</label>
                                        <input type="text" id="newTransporteurCode"
                                               class="form-control input-sm newFormulaire neededNew copiedOnTheFly"
                                               name="code" maxlength="64">
                                    </div>
                                    <div class="form-group col-auto invisible submit-button-container" id="addTransporteur">
                                        <span class="btn btn-primary"
                                              onclick="onFlyFormSubmit(Routing.generate('transporteur_new', true), $(this), 'transporteurDisplay', 'addTransporteur', $('#transporteur'))">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if fieldsParam|isFieldRequired(driverFieldCode, 'displayedCreate') %}
                            <div class="col fly-form">
                                <div class="row">
                                    <div class="form-group col-10 invisible" id="chauffeurDisplay">
                                        <label class="wii-field-name" for="newChauffeurName">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Nom') }}*</label>
                                        <input type="text" id="newChauffeurName"
                                               class="form-control input-sm newFormulaire neededNew"
                                               name="nom" maxlength="64">
                                        <label for="newChauffeurFirstName" class="wii-field-name mt-2">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Prénom') }}</label>
                                        <input type="text" id="newChauffeurFirstName"
                                               class="form-control input-sm newFormulaire"
                                               name="prenom" maxlength="64">
                                        <label for="newChauffeurNumero" class="wii-field-name mt-2">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'DocumentID') }}</label>
                                        <input type="text" id="newChauffeurNumero"
                                               class="form-control input-sm newFormulaire"
                                               name="documentID" maxlength="64">
                                    </div>
                                    <div class="form-group col-2 invisible submit-button-container" id="addChauffeur">
                                        <span class="btn btn-primary"
                                              onclick="onFlyFormSubmit(Routing.generate('chauffeur_new', true), $(this), 'chauffeurDisplay', 'addChauffeur', $('#chauffeur'))">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="row">
                    {% set trackingNumberFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_NUMERO_TRACKING_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(trackingNumberFieldCode, 'displayedCreate') %}
                        {% set trackingNumberRequired = fieldsParam|isFieldRequired(trackingNumberFieldCode, 'requiredCreate') %}
                        <div class="form-group col-4">
                            <label class="wii-field-name" for="noTracking">
                                {{  trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'N° tracking transporteur') }}{{ trackingNumberRequired ? '*' }}
                            </label>
                            <input type="text"
                                   class="form-control input-sm data {{ trackingNumberRequired ? 'needed' }}"
                                   value="{{ keptFields[trackingNumberFieldCode] ?? null }}"
                                   name="noTracking"
                                   maxlength="64">
                        </div>
                    {% endif %}
                    {% set orderNumberFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_NUM_COMMANDE_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(orderNumberFieldCode, 'displayedCreate') %}
                        {% set orderNumberRequired = fieldsParam|isFieldRequired(orderNumberFieldCode, 'requiredCreate') %}
                        <div class="form-group col-4">
                            <label class="wii-field-name">
                                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'N° commande / BL') }}{{ orderNumberRequired ? '*' }}
                            </label>
                            <select class="form-control input-sm data select2-free w-100 {{ orderNumberRequired ? 'needed' }}"
                                    name="numeroCommandeList"
                                    multiple="multiple">
                                {% set savedOrderNumber = keptFields[orderNumberFieldCode] ?? null %}
                                {% if savedOrderNumber %}
                                    <option value="{{ savedOrderNumber }}" selected>{{ savedOrderNumber }}</option>
                                {% endif %}
                            </select>
                        </div>
                    {% endif %}
                    <div class="form-group col-4">
                        <label class="wii-field-name" for="type">{{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Type') }}*</label>
                        {% set uniqueType = typesArrival|length == 1 %}
                        <select class="form-control input-sm data needed {{ uniqueType ? 'needs-default' }}"
                                id="type"
                                name="type"
                                onchange="onTypeChange($(this))"
                                {{ uniqueType ? 'disabled' }}
                                {{ uniqueType ? ('data-init="' ~ (typesArrival|first).id ~ '"')|raw }}>
                            {% if uniqueType %}
                                <option value="{{ (typesArrival|first).id }}">{{ (typesArrival|first).label }}</option>
                            {% else %}
                                <option value="">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Type à choisir...') }}</option>
                                {% for type in typesArrival %}
                                    <option value="{{ type.id }}">
                                        {{ type.labelIn(language_service.getCurrentUserLanguageSlug, language_service.defaultSlug) ?: type.label }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <div class="form-group col-4">
                        <label class="wii-field-name">{{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Statut') }}*</label>
                        {% set hasDefaultStatus = uniqueType and defaultStatuses|length > 0 %}
                        <select class="form-control input-sm data needed {{ hasDefaultStatus ? 'needs-default' }}"
                                name="status"
                            {% if hasDefaultStatus %}
                                data-init="{{ defaultStatuses[(typesArrival|first).id] }}"
                            {% endif %}>
                            <option value="">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Choisir un statut...') }}</option>
                            {% for status in statuses %}
                                <option class="d-none"
                                        data-type-id="{{ status.type.id }}"
                                        value="{{ status.id }}"
                                    {{ hasDefaultStatus and defaultStatuses[(typesArrival|first).id] == status.id ? 'selected' }}>
                                    {{ status.nom }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="defaultStatuses" value="{{ defaultStatuses|json_encode }}"/>
                        <div class="error-empty-status d-none">
                            {% include 'utils/warningSelectEmpty.html.twig' with {
                                array: [],
                                warningLabel: 'Attention ! Aucun statut pour ce type',
                                redirectPath: path('settings_item', {
                                    'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_TRACING'),
                                    'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_ARRIVALS'),
                                    'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_STATUSES'),
                                }),
                                redirectLabel: 'Créer un statut',
                                block: true,
                                rights: {
                                    menu: constant('App\\Entity\\Menu::PARAM'),
                                    action: constant('App\\Entity\\Action::CREATE')
                                }
                            } %}
                        </div>
                    </div>
                    {% set dropLocationFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_DROP_LOCATION_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(dropLocationFieldCode, 'displayedCreate') %}
                        {% set dropLocationRequired = fieldsParam|isFieldRequired(dropLocationFieldCode, 'requiredCreate') %}
                        <div class="form-group w-100 col-4">
                            <label class="wii-field-name">
                                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Emplacement de dépose') }}{{ dropLocationRequired ? '*' }}
                            </label>
                            <select name="dropLocation"
                                    class="form-control data ajax-autocomplete-location no-clear d-block {{ dropLocationRequired ? 'needed' }}">
                                {% set keptDropLocation = keptFields[dropLocationFieldCode] ?? null %}
                                {% if keptDropLocation %}
                                    <option value="{{ keptDropLocation.id }}" selected>{{ keptDropLocation.label }}</option>
                                {% elseif defaultLocation is defined and defaultLocation != null %}
                                    <option value="{{ defaultLocation.id }}" selected>{{ defaultLocation.label }}</option>
                                {% endif %}
                            </select>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% set targetFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_TARGET_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(targetFieldCode, 'displayedCreate') %}
                        {% set targetRequired = fieldsParam|isFieldRequired(targetFieldCode, 'requiredCreate') %}
                        <div class="col-4">
                            <div class="row">
                                <div class="form-group col-12 w-100">
                                    <label class="wii-field-name">
                                        {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Destinataire') }}{{ targetRequired ? '*' }}
                                    </label>
                                    <select class="form-control input-sm data ajax-autocomplete-user {{ targetRequired ? 'needed' }} ajax-autocomplete"
                                            name="destinataire">
                                        <option selected disabled>&nbsp;</option>
                                        {% for user in users %}
                                            <option value="{{ user.id }}" {{ keptFields[targetFieldCode] ?? null == user.id ? 'selected' }}>{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% set buyersFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUYERS_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(buyersFieldCode, 'displayedCreate') %}
                        {% set buyersRequired = fieldsParam|isFieldRequired(buyersFieldCode, 'requiredCreate') %}
                        <div class="form-group w-100 col-4">
                            <label class="wii-field-name">
                                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Acheteur(s)') }}{{ buyersRequired ? '*' }}
                            </label>

                            {% set keptBuyers = keptFields[buyersFieldCode] ?? [] %}
                            <select name="acheteurs"
                                    multiple="multiple"
                                    class="form-control input-sm ajax-autocomplete-user data {{ buyersRequired ? 'needed' }} ajax-autocomplete">
                                {% if keptBuyers is empty %}
                                    <option selected disabled>&nbsp;</option>
                                {% endif %}
                                {% for user in users %}
                                    <option value="{{ user.id }}" {{ user.id in keptBuyers ? 'selected' }}>{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {% set checked = (autoPrint ? 'checked' : '') %}
                    {% set printArrivalFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PRINT_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(printArrivalFieldCode, 'displayedCreate') %}
                        <div class="form-group col-2">
                            <label class="wii-field-name">{{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Imprimer arrivage') }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox data no-clear"
                                       type="checkbox"
                                       name="printArrivage"
                                       {{ keptFields[printArrivalFieldCode] ?? true ? 'checked' }}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}

                    {% if natures != null %}
                        <div class="form-group col-2">
                            <label class="wii-field-name">{{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Imprimer UL') }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox no-clear" type="checkbox" name="printColis"
                                       id="printColis" {{ checked }}>
                                <span class="slider round"></span>
                                <input hidden value="{{ checked }}" id="printColisChecked">
                            </label>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if natures != null %}
                        <div class="col-12 blocVisible d-block natures-container">
                            <h3 class="label">{{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Nombre d\'UL à ajouter :') }}</h3>

                            <div class="mt-2 row">
                                {% for nature in natures %}
                                    <div class="form-group col-2 d-flex flex-column">
                                        <label class="wii-field-name ellipsis">
                                            {{ nature.label | capitalize }}
                                        </label>
                                        <input type="number"
                                               class="form-control input-sm data-array needed-positiv needs-default {{ isClientSafranED ? "no-clear" }}"
                                               name="colis"
                                               data-custom-label="{{ trans('Traçabilité', 'Général', 'Unité logistique') }}"
                                               data-custom-needed-positiv-error="{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Veuillez renseigner au moins une unité logistique') }}"
                                               data-id="{{ nature.id }}"
                                               min="0"
                                               max="500"
                                               data-init="{{ nature.defaultQuantity ? nature.defaultQuantity : 0 }}"
                                               value="{{ nature.defaultQuantity ? nature.defaultQuantity : 0 }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12">
                            {% include 'utils/warningSelectEmpty.html.twig' with {
                                array: natures,
                                warningLabel: 'Attention ! Aucune nature n\'a été créée',
                                redirectPath: path('nature_param_index'),
                                redirectLabel: 'Aller vers la création des natures',
                                title: 'de colis',
                                rights: {
                                    menu: constant('App\\Entity\\Menu::REFERENTIEL'),
                                    action: constant('App\\Entity\\Action::CREATE')
                                }
                            } %}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% set projectNumberFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROJECT_NUMBER') %}
                    {% if fieldsParam|isFieldRequired(projectNumberFieldCode, 'displayedCreate') %}
                        {% set projectNumberRequired = fieldsParam|isFieldRequired(projectNumberFieldCode, 'requiredCreate') %}
                        <div class="form-group col-4">
                            <label class="wii-field-name" for="noProject">
                                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Numéro de projet') }}{{ projectNumberRequired ? '*' }}
                            </label>
                            <input type="text"
                                   class="form-control input-sm data {{ projectNumberRequired ? 'needed' }}"
                                   value="{{ keptFields[projectNumberFieldCode] ?? null }}"
                                   name="noProject"
                                   maxlength="64">
                        </div>
                    {% endif %}

                    {% set businessUnitFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT') %}
                    {% if fieldsParam|isFieldRequired(businessUnitFieldCode, 'displayedCreate') %}
                        {% set businessUnitRequired = fieldsParam|isFieldRequired(businessUnitFieldCode, 'requiredCreate') %}
                        <div class="form-group col-4">
                            <label class="wii-field-name">
                                {{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Business unit') }}{{ businessUnitRequired ? '*' }}
                            </label>
                            <select class="needs-default form-control input-sm data {{ businessUnitRequired ? 'needed' }}"
                                    name="businessUnit">
                                <option value=""></option>
                                {% for business in businessUnits %}
                                    <option value="{{ business }}" {{ (keptFields[businessUnitFieldCode] ?? null) == business ? 'selected' }}>{{ business }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% set customsFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CUSTOMS_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(customsFieldCode, 'displayedCreate') %}
                        <div class="form-group col-2">
                            <label class="wii-field-name">{{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Douane') }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox {{ not isClientSafranED ? 'no-clear' }}"
                                       type="checkbox"
                                       name="customs"
                                       {{ keptFields[customsFieldCode] ?? false ? 'checked' }}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}
                    {% set frozenFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_FROZEN_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(frozenFieldCode, 'displayedCreate') %}
                        <div class="form-group col-2">
                            <label class="wii-field-name">{{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Congelé') }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox no-clear"
                                       type="checkbox"
                                       name="frozen"
                                       {{ keptFields[frozenFieldCode] ?? false ? 'checked' }}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}
                </div>

                <!-- CHAMPS LIBRES -->
                <span class="toggle-collapsible expanded">{{ trans('Général', null, 'Modale', 'Champs libres') }}</span>
                <div class="collapsible expanded free-fields-container mb-2">
                {% for type in typesArrival %}
                        <div class="d-none"
                             data-type="{{ type.id }}">
                            {% include 'free_field/freeFieldsEdit.html.twig' with {
                                freeFields: type.champsLibres,
                                freeFieldValues: [],
                                colType: 'col-md-4 col-12',
                                requiredType: 'requiredCreate',
                                actionType: 'new',
                                disabledNeeded: true,
                                needsDateFormatting: true
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    {% set commentFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMENTAIRE_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(commentFieldCode, 'displayedCreate') %}
                        {% set commentRequired = fieldsParam|isFieldRequired(commentFieldCode, 'requiredCreate') %}
                        <div class="form-group col-8 h-fit-content">
                            <label class="wii-field-name" for="commentaire">
                                {{ trans('Général', null, 'Modale', 'Commentaire') }}{{ commentRequired ? '*' }}
                            </label>
                            <input class="commentaire form-control input-sm data {{ commentRequired ? 'needed' }}"
                                   name="commentaire"
                                   type="hidden">
                            <div class="editor-container-new" data-wysiwyg>
                                {{ (keptFields[commentFieldCode] ?? null) | raw }}
                            </div>
                        </div>
                    {% endif %}

                    {% set attachmentFieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PJ_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(attachmentFieldCode, 'displayedCreate') %}
                        <div class="form-group col-4">
                            <div>
                                {% include 'attachment/attachment.html.twig' with {
                                    'isNew': true,
                                    'required': fieldsParam|isFieldRequired(attachmentFieldCode, 'requiredCreate')
                                } %}
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="isAttachmentForm" value="1"/>
                    {% endif %}
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success', type: 'submit', text: trans('Général', null, 'Modale', 'Enregistrer')}
                ]
            } %}
        </div>
    </div>
</div>
