{% import 'form.html.twig' as form %}

{% set hasRightToEditDispute = hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::EDIT')) %}

{{ form.hidden('disputeId', dispute.id)}}

<div class="row">
    <div class="form-group col-8">
        {{ form.select('disputeType', trans('Qualité', 'Litiges', 'Type'), true , {
            type : '',
            disabled : not hasRightToEditDispute,
            items : disputeTypes|map((type) => {
                value : type.id,
                label : type.labelIn(language_service.getCurrentUserLanguageSlug, language_service.defaultSlug),
                selected: dispute.type.id == type.id,
            }),
        } ) }}
    </div>
    <div class="form-group col-4 mt-4">
        {{ form.checkbox('emergency', trans('Qualité', 'Litiges', 'Urgence ?'), false , dispute.emergencyTriggered) }}
    </div>
    <div class="form-group col-12">
        {{ form.select('disputeStatus', trans('Qualité', 'Litiges', 'Statut') , true, {
            multiple: false,
            items: disputeStatuses|map((statut) => {
                value: statut.id,
                label: statut.nom,
                disabled: (not hasRightToEditDispute) and statut.treated and statut.id != dispute.status.id,
                selected: dispute.status.id == statut.id
            }),
        }) }}
    </div>
    <div class="form-group w-100 col-12">
        {{ form.select('disputeReporter', trans('Qualité', 'Litiges', 'Déclarant'), true, {
            type: 'user',
            multiple: false,
            items: [{
                value: dispute.reporter ? dispute.reporter.id,
                label: dispute.reporter ? dispute.reporter.username,
                selected: true,
            },],
        }) }}
    </div>
    <div class="form-group w-100 col-12">
        {{ form.select('disputePacks', trans('Traçabilité', 'Général', 'Unités logistiques'), true, {
            type: '',
            multiple: true,
            items: packs|map((pack) => {
                value: pack.id,
                label:  pack.code,
                selected: pack in dispute.packs,
            }),
        }) }}
    </div>

    <div class="form-group col-12 h-fit-content comment-form">
        <label class="wii-field-name" for="litige-edit-commentaire">{{ trans('Général', '', 'Modale', 'Commentaire') }}</label>
        <div class="d-flex">
            <input type="text" id="litige-edit-commentaire" class="commentaire form-control data" name="comment">
            <button type="button" class="btn btn-outline-secondary form-group m-0 ml-2 add-comment-on-dispute">{{ trans('Général', null, 'Modale', 'Ajouter') }}</button>
        </div>
    </div>
    <div class="form-group col-12">
        <div>
            {% include 'attachment/attachment.html.twig' with {
                'isNew' : false,
                addPhotoButton: true,
            } %}
        </div>
    </div>
</div>
<div class="wii-section-title my-3 d-flex align-items-center">
    {{ trans('Traçabilité', 'Arrivages UL', 'Détails arrivage UL - Liste des litiges', 'Historique') }}
</div>
<div class="tableHistoric">
    <table id="tableHistoLitige" class="table w-100"></table>
</div>
