<div class="modal fade" id="modalColumnVisibleArrivage" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gestion des colonnes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" style="width:100%">
                    <thead>
                    <tr>
                        <th>Champs</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for champ in champs %}
                        {% if (champ.alwaysVisible is not defined or not champ.alwaysVisible) %}
                            <tr class="pointer" onclick="toggleInputRadioOnRow(this)">
                                {% set label = ((champ.translated is defined and champ.translated)
                                    ? champ.title|trans
                                    : champ.title) %}
                                {% set tooltip = (champ.translated is defined and champ.translated) ? ('title="' ~ champ.title ~ '"') %}
                                <td>
                                    <span {{ tooltip }}>{{ label | capitalize }}</span>
                                </td>
                                <td>
                                    <div class="checkbox d-inline-block pointer no-data">
                                        {% set name = champ.name %}
                                        {% set checked = (name in columnsVisibles ? 'checked' : '') %}
                                        <input type="checkbox" class="form-check-input {{ checked == 'checked' ? 'data' : '' }}"
                                               name="{{ name }}"
                                               data-column="{{ loop.index0 }}" data-name="{{ name }}"
                                               onchange="showOrHideColumn($(this), arrivalsTable)"
                                               id="checkbox-{{ loop.index }}"
                                               {{ checked }}>
                                        <label class="form-check-label pointer" for="checkbox-{{ loop.index }}"></label>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn btn-secondary" data-dismiss="modal">Fermer</div>
                <div class="btn btn-primary" id="submitColumnVisibleArrivage">Enregistrer</div>
            </div>
        </div>
    </div>
</div>
