<form method="" class="modal fade" id="modalNewArrivage" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" title="nouvel arrivage">{{ 'arrivage.nouvel arrivage'|trans|capitalize }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="row fly-form">
                    {% if fieldsParam|isFieldRequired('fournisseur', 'displayed') %}
                        <div class="form-group col w-100">
                            <label
                                for="fournisseur">Fournisseur{{ fieldsParam|isFieldRequired('fournisseur', 'mustToCreate') ? '*' : '' }}</label>
                            <select
                                class="no-clear form-control input-sm data select2 ajax-autocomplete-fournisseur {{ fieldsParam|isFieldRequired('fournisseur', 'mustToCreate') ? 'needed' : '' }}"
                                name="fournisseur"
                                id="fournisseur">
                                <option selected disabled>&nbsp;</option>
                                {% for fournisseur in fournisseurs %}
                                    <option value="{{ fournisseur.id }}">{{ fournisseur.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-1 toggle-button-container">
                                <span class="btn btn-primary"
                                      onclick="onFlyFormToggle('fournisseurDisplay', 'addFournisseur')">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if fieldsParam|isFieldRequired('transporteur', 'displayed') %}
                        <div class="form-group col w-100">
                            <label
                                for="transporteur">Transporteur{{ fieldsParam|isFieldRequired('transporteur', 'mustToCreate') ? '*' : '' }}</label>
                            <select
                                class="no-clear form-control input-sm data select2 ajax-autocomplete-transporteur {{ fieldsParam|isFieldRequired('transporteur', 'mustToCreate') ? 'needed' : '' }}"
                                name="transporteur" id="transporteur">
                                <option selected disabled>&nbsp;</option>
                                {% for carrier in carriers %}
                                    <option value="{{ carrier.id }}">{{ carrier.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-1 toggle-button-container">
                                <span class="btn btn-primary"
                                      onclick="onFlyFormToggle('transporteurDisplay', 'addTransporteur')">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if fieldsParam|isFieldRequired('chauffeur', 'displayed') %}
                        <div class="form-group col w-100">
                            <label
                                for="chauffeur">Chauffeur{{ fieldsParam|isFieldRequired('chauffeur', 'mustToCreate') ? '*' : '' }}</label>
                            <select
                                class="form-control input-sm data select2 ajax-autocomplete-chauffeur {{ fieldsParam|isFieldRequired('chauffeur', 'mustToCreate') ? 'needed' : '' }}"
                                name="chauffeur"
                                id="chauffeur">
                                <option selected disabled>&nbsp;</option>
                                {% for chauffeurs in chauffeurs %}
                                    <option value="{{ chauffeurs.id }}">{{ chauffeurs.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-1 toggle-button-container">
                                <span class="btn btn-primary"
                                      onclick="onFlyFormToggle('chauffeurDisplay', 'addChauffeur')">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                    <div class="row new-on-fly-form-container align-items-start">
                        {% if fieldsParam|isFieldRequired('fournisseur', 'displayed') %}
                            <div class="row col formulaire fly-form">
                                <div class="form-group col-10 invisible" id="fournisseurDisplay">
                                    <label for="newFournisseur">Nom*</label>
                                    <input type="text" id="newFournisseur"
                                           class="form-control input-sm valeur newFormulaire neededNew copyOnTheFly"
                                           name="Nom" maxlength="64">
                                    <label for="newFournisseurCode" class="mt-2">Code*</label>
                                    <input type="text" id="newFournisseurCode"
                                           class="form-control input-sm newFormulaire neededNew copiedOnTheFly"
                                           name="Code" maxlength="64">
                                </div>
                                <div class="form-group col-2 invisible submit-button-container" id="addFournisseur">
                            <span class="btn btn-success"
                                  onclick="onFlyFormSubmit(Routing.generate('fournisseur_new', true), $(this), 'fournisseurDisplay', 'addFournisseur', $('#fournisseur'))">
                                <i class="fas fa-check-circle"></i></span>
                                </div>
                            </div>
                        {% endif %}
                        {% if fieldsParam|isFieldRequired('transporteur', 'displayed') %}
                            <div class="row col formulaire fly-form">
                                <div class="form-group col-10 invisible" id="transporteurDisplay">
                                    <label for="newTransporteur">Nom*</label>
                                    <input type="text" id="newTransporteur"
                                           class="form-control input-sm newFormulaire neededNew copyOnTheFly"
                                           name="label" maxlength="64">
                                    <label for="newTransporteurCode" class="mt-2">Code*</label>
                                    <input type="text" id="newTransporteurCode"
                                           class="form-control input-sm newFormulaire neededNew copiedOnTheFly"
                                           name="code" maxlength="64">
                                </div>
                                <div class="form-group col-2 invisible submit-button-container" id="addTransporteur">
                            <span class="btn btn-success"
                                  onclick="onFlyFormSubmit(Routing.generate('transporteur_new', true), $(this), 'transporteurDisplay', 'addTransporteur', $('#transporteur'))">
                                <i class="fas fa-check-circle"></i>
                            </span>
                                </div>
                            </div>
                        {% endif %}

                        {% if fieldsParam|isFieldRequired('chauffeur', 'displayed') %}
                            <div class="row col formulaire fly-form">
                                <div class="form-group col-10 invisible" id="chauffeurDisplay">
                                    <label for="newChauffeurName">Nom*</label>
                                    <input type="text" id="newChauffeurName"
                                           class="form-control input-sm newFormulaire neededNew"
                                           name="nom" maxlength="64">
                                    <label for="newChauffeurFirstName" class="mt-2">Prénom</label>
                                    <input type="text" id="newChauffeurFirstName"
                                           class="form-control input-sm newFormulaire"
                                           name="prenom" maxlength="64">
                                    <label for="newChauffeurNumero" class="mt-2">N°doc ID</label>
                                    <input type="text" id="newChauffeurNumero"
                                           class="form-control input-sm newFormulaire"
                                           name="documentID" maxlength="64">
                                </div>
                                <div class="form-group col-2 invisible submit-button-container" id="addChauffeur">
                            <span class="btn btn-success"
                                  onclick="onFlyFormSubmit(Routing.generate('chauffeur_new', true), $(this), 'chauffeurDisplay', 'addChauffeur', $('#chauffeur'))">
                                <i class="fas fa-check-circle"></i>
                            </span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="row">
                    {% if fieldsParam|isFieldRequired('noTracking', 'displayed') %}
                        <div class="form-group col-4">
                            <label for="noTracking">N° tracking
                                transporteur{{ fieldsParam|isFieldRequired('noTracking', 'mustToCreate') ? '*' : '' }}</label>
                            <input type="text" id="noTracking"
                                   class="form-control input-sm data {{ fieldsParam|isFieldRequired('noTracking', 'mustToCreate') ? 'needed' : '' }}"
                                   name="noTracking" maxlength="64">
                        </div>
                    {% endif %}
                    {% if fieldsParam|isFieldRequired('numeroCommandeList', 'displayed') %}
                        <div class="form-group col-4">
                            <label for="numeroCommandeList">
                                N°&nbsp;commande&nbsp;/&nbsp;BL{{ fieldsParam|isFieldRequired('numeroCommandeList', 'mustToCreate') ? '*' : '' }}
                            </label>
                            <select id="numeroCommandeList"
                                   class="form-control input-sm data select2-tag w-100 {{ fieldsParam|isFieldRequired('numeroCommandeList', 'mustToCreate') ? 'needed' : '' }}"
                                   name="numeroCommandeList" multiple="multiple">
                            </select>
                        </div>
                    {% endif %}
                    <div class="form-group col-4">
                        <label for="chauffeur">Statut*</label>
                        <select class="form-control input-sm data needed" id="statut" name="statut">
                            {% for statut in statuts %}
                                <option value="{{ statut.id }}">{{ statut.nom|upper }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    {% if fieldsParam|isFieldRequired('destinataire', 'displayed') %}
                        <div class="col-4">
                            <div class="row">
                                {% if fieldsParam|isFieldRequired('destinataire', 'displayed') %}
                                    <div class="form-group col-12 w-100">
                                        <label title="destinatire" for="destinataire">
                                            {{ 'arrivage.destinataire'|trans|capitalize }}{{ fieldsParam|isFieldRequired('destinataire', 'mustToCreate') ? '*' : '' }}
                                        </label>
                                        <select
                                            class="form-control input-sm data ajax-autocomplete-user {{ fieldsParam|isFieldRequired('destinataire', 'mustToCreate') ? 'needed' : '' }} ajax-autocomplete"
                                            name="destinataire"
                                            id="destinataire">
                                            <option selected disabled>&nbsp;</option>
                                            {% for user in users %}
                                                <option value="{{ user.id }}">{{ user.username }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if fieldsParam|isFieldRequired('acheteurs', 'displayed') %}
                        <div class="form-group w-100 col-4">
                            <label title="acheteurs" for="acheteurs">
                                {{ 'arrivage.acheteurs'|trans|capitalize }}{{ fieldsParam|isFieldRequired('acheteurs', 'mustToCreate') ? '*' : '' }}
                            </label>
                            <select name="acheteurs" id="acheteurs" multiple="multiple"
                                    class="form-control input-sm ajax-autocomplete-user data {{ fieldsParam|isFieldRequired('acheteurs', 'mustToCreate') ? 'needed' : '' }} ajax-autocomplete">
                                <option selected disabled>&nbsp;</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {% if fieldsParam|isFieldRequired('imprimerArrivage', 'displayed') %}
                        <div class="form-group col-2">
                            <label title="arrivage">Imprimer {{ 'arrivage.arrivage'|trans }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox" type="checkbox" name="printArrivage">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}

                    {% if natures != null %}
                    <div class="form-group col-2">
                        <label title="colis">Imprimer {{ 'arrivage.colis'|trans }}</label>
                        <label class="switch d-block-switch mt-2">
                            {% set checked = (autoPrint ? 'checked' : '') %}
                            <input class="checkbox no-clear" type="checkbox" name="printColis"
                                   id="printColis" {{ checked }}>
                            <span class="slider round"></span>
                            <input hidden value="{{ checked }}" id="printColisChecked">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 blocVisible d-block natures-container">
                        <h3 class="label" title="de colis">Nombre {{ 'arrivage.de colis'|trans }} à ajouter :</h3>

                        <div class="mt-2 row">
                            {% for nature in natures %}
                                <div class="form-group col-2 d-flex flex-column">
                                    <label class="ellipsis">
                                        {{ nature.label | capitalize }}
                                    </label>
                                    <input type="number" class="form-control input-sm data-array needed-positiv"
                                           name="colis" data-id="{{ nature.id }}" min="0" {#data-init="{{ nature.defaultQuantity ? nature.defaultQuantity : 0 }}"#}
                                           value="{{ nature.defaultQuantity ? nature.defaultQuantity : 0 }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% else %}
                        <div class="col-12">
                            {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                                array: natures,
                                warningLabel: 'Attention ! Aucune nature ' ~ ('arrivage.de colis'|trans) ~ ' n\'a été créée.',
                                redirectPath: path('nature_param_index'),
                                redirectLabel: 'Aller vers la création des natures',
                                title: 'de colis'
                            } %}
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="form-group col-2">
                        <label>{{ 'arrivage.douane'|trans|capitalize }}</label>
                        <label class="switch d-block-switch mt-2">
                            <input class="checkbox no-clear" type="checkbox" name="duty">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="form-group col-2">
                        <label>{{ 'arrivage.congelé'|trans|capitalize }}</label>
                        <label class="switch d-block-switch mt-2">
                            <input class="checkbox no-clear" type="checkbox" name="frozen">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>

                <div class="row champsLibresBlock">
                    {% include 'arrivage/champsLibresArrivage.html.twig' %}
                </div>

                <div class="row">
                    {% if fieldsParam|isFieldRequired('commentaire', 'displayed') %}
                        <div class="form-group col-8 h-fit-content">
                            <label
                                for="commentaire">Commentaire{{ fieldsParam|isFieldRequired('commentaire', 'mustToCreate') ? '*' : '' }}</label>
                            <input id="commentaire"
                                   class="commentaire form-control input-sm data {{ fieldsParam|isFieldRequired('commentaire', 'mustToCreate') ? 'needed' : '' }}"
                                   name="commentaire" type="hidden">
                            <div class="editor-container-new"></div>
                        </div>
                    {% endif %}
                    {% if fieldsParam|isFieldRequired('pj', 'displayed') %}
                        <div class="form-group col-4">
                            <div>
                                {% include 'arrivage/attachements.html.twig' with {'isNew' : true} %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="error-msg pl-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewArrivage" type="button" class="btn btn-success"
                        onclick="setCommentaire('.editor-container-new', quillNew)">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
