{% set isClientSafranED =
    isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED'))
    or isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_NS'))
%}
<form method="" class="modal fade" id="modalNewArrivage" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
                {% include 'utils/modal/header.html.twig' with {
                    title: '<span title="nouvel arrivage">' ~ ('arrivage.nouvel arrivage'|trans) ~ '</span>'
                } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row fly-form">
                    {% if fieldsParam|isFieldRequired('fournisseur', 'displayedCreate') %}
                        <div class="form-group col w-100">
                            <label class="wii-field-name"
                                for="fournisseur">Fournisseur{{ fieldsParam|isFieldRequired('fournisseur', 'requiredCreate') ? '*' : '' }}</label>
                            <select class="no-clear form-control input-sm data select2 ajax-autocomplete-fournisseur {{ fieldsParam|isFieldRequired('fournisseur', 'requiredCreate') ? 'needed' : '' }}"
                                    name="fournisseur"
                                    id="fournisseur">
                                <option selected disabled>&nbsp;</option>
                                {% for fournisseur in fournisseurs %}
                                    <option value="{{ fournisseur.id }}"
                                            data-possible-customs="{{ fournisseur.possibleCustoms ? 1 : 0 }}">
                                        {{ fournisseur.nom }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-auto toggle-button-container">
                                <span class="btn btn-primary"
                                      onclick="onFlyFormToggle('fournisseurDisplay', 'addFournisseur')">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if fieldsParam|isFieldRequired('transporteur', 'displayedCreate') %}
                        <div class="form-group col w-100">
                            <label class="wii-field-name"
                                for="transporteur">Transporteur{{ fieldsParam|isFieldRequired('transporteur', 'requiredCreate') ? '*' : '' }}</label>
                            <select
                                class="no-clear form-control input-sm data select2 ajax-autocomplete-transporteur {{ fieldsParam|isFieldRequired('transporteur', 'requiredCreate') ? 'needed' : '' }}"
                                name="transporteur" id="transporteur">
                                <option selected disabled>&nbsp;</option>
                                {% for carrier in carriers %}
                                    <option value="{{ carrier.id }}">{{ carrier.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-auto toggle-button-container">
                                <span class="btn btn-primary"
                                      onclick="onFlyFormToggle('transporteurDisplay', 'addTransporteur')">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if fieldsParam|isFieldRequired('chauffeur', 'displayedCreate') %}
                        <div class="form-group col w-100">
                            <label class="wii-field-name"
                                for="chauffeur">Chauffeur{{ fieldsParam|isFieldRequired('chauffeur', 'requiredCreate') ? '*' : '' }}</label>
                            <select
                                class="form-control input-sm data select2 ajax-autocomplete-chauffeur {{ fieldsParam|isFieldRequired('chauffeur', 'requiredCreate') ? 'needed' : '' }}"
                                name="chauffeur"
                                id="chauffeur">
                                <option selected disabled>&nbsp;</option>
                                {% for chauffeurs in chauffeurs %}
                                    <option value="{{ chauffeurs.id }}">{{ chauffeurs.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                            <div class="form-group col-auto toggle-button-container">
                                <span class="btn btn-primary"
                                      onclick="onFlyFormToggle('chauffeurDisplay', 'addChauffeur')">
                                    <i class="fa fa-plus"></i>
                                </span>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::CREATE')) %}
                    <div class="row align-items-start">
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROVIDER_ARRIVAGE') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            <div class="col fly-form">
                                <div class="row">
                                    <div class="form-group col invisible" id="fournisseurDisplay">
                                        <label class="wii-field-name" for="newFournisseur">Nom*</label>
                                        <input type="text" id="newFournisseur"
                                               class="form-control input-sm valeur newFormulaire neededNew copyOnTheFly"
                                               name="name" maxlength="64">
                                        <label for="newFournisseurCode" class="wii-field-name mt-2">Code*</label>
                                        <input type="text" id="newFournisseurCode"
                                               class="form-control input-sm newFormulaire neededNew copiedOnTheFly"
                                               name="code" maxlength="64">
                                    </div>
                                    <div class="form-group col-auto invisible submit-button-container" id="addFournisseur">
                                        <span class="btn btn-primary"
                                              onclick="onFlyFormSubmit(Routing.generate('supplier_new', true), $(this), 'fournisseurDisplay', 'addFournisseur', $('#fournisseur'))">
                                        <i class="fas fa-check-circle"></i></span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_ARRIVAGE') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            <div class="col fly-form">
                                <div class="row">
                                    <div class="form-group col invisible" id="transporteurDisplay">
                                        <label class="wii-field-name" for="newTransporteur">Nom*</label>
                                        <input type="text" id="newTransporteur"
                                               class="form-control input-sm newFormulaire neededNew copyOnTheFly"
                                               name="label" maxlength="64">
                                        <label for="newTransporteurCode" class="wii-field-name mt-2">Code*</label>
                                        <input type="text" id="newTransporteurCode"
                                               class="form-control input-sm newFormulaire neededNew copiedOnTheFly"
                                               name="code" maxlength="64">
                                    </div>
                                    <div class="form-group col-auto invisible submit-button-container" id="addTransporteur">
                                        <span class="btn btn-primary"
                                              onclick="onFlyFormSubmit(Routing.generate('transporteur_new', true), $(this), 'transporteurDisplay', 'addTransporteur', $('#transporteur'))">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CHAUFFEUR_ARRIVAGE') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            <div class="col fly-form">
                                <div class="row">
                                    <div class="form-group col-10 invisible" id="chauffeurDisplay">
                                        <label class="wii-field-name" for="newChauffeurName">Nom*</label>
                                        <input type="text" id="newChauffeurName"
                                               class="form-control input-sm newFormulaire neededNew"
                                               name="nom" maxlength="64">
                                        <label for="newChauffeurFirstName" class="wii-field-name mt-2">Prénom</label>
                                        <input type="text" id="newChauffeurFirstName"
                                               class="form-control input-sm newFormulaire"
                                               name="prenom" maxlength="64">
                                        <label for="newChauffeurNumero" class="wii-field-name mt-2">N°doc ID</label>
                                        <input type="text" id="newChauffeurNumero"
                                               class="form-control input-sm newFormulaire"
                                               name="documentID" maxlength="64">
                                    </div>
                                    <div class="form-group col-2 invisible submit-button-container" id="addChauffeur">
                                        <span class="btn btn-primary"
                                              onclick="onFlyFormSubmit(Routing.generate('chauffeur_new', true), $(this), 'chauffeurDisplay', 'addChauffeur', $('#chauffeur'))">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="row">
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_NUMERO_TRACKING_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group col-4">
                            <label class="wii-field-name" for="noTracking">N° tracking
                                transporteur{{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? '*' : '' }}</label>
                            <input type="text" id="noTracking"
                                   class="form-control input-sm data {{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? 'needed' : '' }}"
                                   name="noTracking" maxlength="64">
                        </div>
                    {% endif %}
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_NUM_COMMANDE_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group col-4">
                            <label class="wii-field-name" for="numeroCommandeList" title="Numéro de commande">
                                {{ 'arrivage.Numéro de commande'|trans }}{{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? '*' : '' }}
                            </label>
                            <select id="numeroCommandeList"
                                    class="form-control input-sm data select2-free w-100 {{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? 'needed' : '' }}"
                                    name="numeroCommandeList" multiple="multiple">
                            </select>
                        </div>
                    {% endif %}
                    <div class="form-group col-4">
                        <label class="wii-field-name" for="type">Type*</label>
                        {% set uniqueType = typesArrival|length == 1 %}
                        <select class="form-control input-sm data needed {{ uniqueType ? 'needs-default' }}"
                                id="type"
                                name="type"
                                onchange="onTypeChange($(this))"
                            {{ uniqueType ? 'disabled' }}
                            {{ uniqueType ? ('data-init="' ~ (typesArrival|first).id ~ '"')|raw }}>
                            {% if uniqueType %}
                                <option value="{{ (typesArrival|first).id }}">{{ (typesArrival|first).label }}</option>
                            {% else %}
                                <option value="">Type à choisir...</option>
                                {% for type in typesArrival %}
                                    <option value="{{ type.id }}">{{ type.label }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <div class="form-group col-4">
                        <label class="wii-field-name">Statut*</label>
                        {% set hasDefaultStatus = uniqueType and defaultStatuses|length > 0 %}
                        <select class="form-control input-sm data needed {{ hasDefaultStatus ? 'needs-default' }}"
                                name="status"
                            {% if hasDefaultStatus %}
                                data-init="{{ defaultStatuses[(typesArrival|first).id] }}"
                            {% endif %}>
                            <option value="">Choisir un statut...</option>
                            {% for status in statuses %}
                                <option class="d-none"
                                        data-type-id="{{ status.type.id }}"
                                        value="{{ status.id }}"
                                    {{ hasDefaultStatus and defaultStatuses[(typesArrival|first).id] == status.id ? 'selected' }}>
                                    {{ status.nom }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="defaultStatuses" value="{{ defaultStatuses|json_encode }}"/>
                        <div class="error-empty-status d-none">
                            {% include 'utils/warningSelectEmpty.html.twig' with {
                                array: [],
                                warningLabel: 'Attention ! Aucun statut pour ce type',
                                redirectPath: path('settings_item', {
                                    'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_TRACING'),
                                    'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_ARRIVALS'),
                                    'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_STATUSES'),
                                }),
                                redirectLabel: 'Créer un statut',
                                block: true,
                                rights: {
                                    menu: constant('App\\Entity\\Menu::PARAM'),
                                    action: constant('App\\Entity\\Action::CREATE')
                                }
                            } %}
                        </div>
                    </div>
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_DROP_LOCATION_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group w-100 col-4">
                            <label class="wii-field-name" for="destination">
                                Emplacement de dépose{{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? '*' : '' }}
                            </label>
                            <select name="dropLocation"
                                    class="form-control data ajax-autocomplete-location no-clear d-block {{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? 'needed' : '' }}">
                                {% if defaultLocation is defined and defaultLocation != null %}
                                    <option value="{{ defaultLocation.id }}" selected>{{ defaultLocation.label }}</option>
                                {% endif %}
                            </select>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_TARGET_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="col-4">
                            <div class="row">
                                {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                                    <div class="form-group col-12 w-100">
                                        <label class="wii-field-name" title="destinatire" for="destinataire">
                                            {{ 'arrivage.destinataire'|trans }}{{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? '*' : '' }}
                                        </label>
                                        <select
                                            class="form-control input-sm data ajax-autocomplete-user {{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? 'needed' : '' }} ajax-autocomplete"
                                            name="destinataire"
                                            id="destinataire">
                                            <option selected disabled>&nbsp;</option>
                                            {% for user in users %}
                                                <option value="{{ user.id }}">{{ user.username }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUYERS_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group w-100 col-4">
                            <label class="wii-field-name" title="acheteurs" for="acheteurs">
                                {{ 'arrivage.acheteurs'|trans }}{{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? '*' : '' }}
                            </label>
                            <select name="acheteurs" id="acheteurs" multiple="multiple"
                                    class="form-control input-sm ajax-autocomplete-user data {{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? 'needed' : '' }} ajax-autocomplete">
                                <option selected disabled>&nbsp;</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {% set checked = (autoPrint ? 'checked' : '') %}
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PRINT_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group col-2">
                            <label class="wii-field-text" title="arrivage">Imprimer {{ 'arrivage.arrivage'|trans }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox no-clear" type="checkbox" name="printArrivage" {{ checked }}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}

                    {% if natures != null %}
                        <div class="form-group col-2">
                            <label class="wii-field-text" title="colis">Imprimer {{ 'arrivage.colis'|trans }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox no-clear" type="checkbox" name="printColis"
                                       id="printColis" {{ checked }}>
                                <span class="slider round"></span>
                                <input hidden value="{{ checked }}" id="printColisChecked">
                            </label>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    {% if natures != null %}
                        <div class="col-12 blocVisible d-block natures-container">
                            <h3 class="label">Nombre <span title="de colis">{{ 'arrivage.de colis'|trans }}</span> à ajouter :</h3>

                            <div class="mt-2 row">
                                {% for nature in natures %}
                                    <div class="form-group col-2 d-flex flex-column">
                                        <label class="wii-field-name ellipsis">
                                            {{ nature.label | capitalize }}
                                        </label>
                                        <input type="number"
                                               class="form-control input-sm data-array needed-positiv needs-default {{ isClientSafranED ? "no-clear" }}"
                                               name="colis"
                                               data-id="{{ nature.id }}"
                                               min="0"
                                               max="500"
                                               data-init="{{ nature.defaultQuantity ? nature.defaultQuantity : 0 }}"
                                               value="{{ nature.defaultQuantity ? nature.defaultQuantity : 0 }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12">
                            {% include 'utils/warningSelectEmpty.html.twig' with {
                                array: natures,
                                warningLabel: 'Attention ! Aucune nature ' ~ ('arrivage.de colis'|trans) ~ ' n\'a été créée',
                                redirectPath: path('nature_param_index'),
                                redirectLabel: 'Aller vers la création des natures',
                                title: 'de colis',
                                rights: {
                                    menu: constant('App\\Entity\\Menu::REFERENTIEL'),
                                    action: constant('App\\Entity\\Action::CREATE')
                                }
                            } %}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROJECT_NUMBER') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group col-4">
                            <label class="wii-field-name" for="noProject">Numéro de projet{{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? '*' : '' }}</label>
                            <input type="text"
                                   class="form-control input-sm data {{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? 'needed' : '' }}"
                                   name="noProject" maxlength="64">
                        </div>
                    {% endif %}

                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group col-4">
                            <label class="wii-field-name">{{ 'acheminement.Business unit'|trans }}{{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? '*' : '' }}</label>
                            <select
                                class="needs-default form-control input-sm data {{ fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') ? 'needed' : '' }}"
                                name="businessUnit">
                                <option value=""></option>
                                {% for business in businessUnits %}
                                    <option value="{{ business }}">{{ business }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CUSTOMS_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group col-2">
                            <label class="wii-field-text">{{ 'arrivage.douane'|trans }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox {{ not isClientSafranED ? 'no-clear' }}" type="checkbox" name="customs">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_FROZEN_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group col-2">
                            <label class="wii-field-text">{{ 'arrivage.congelé'|trans }}</label>
                            <label class="switch d-block-switch mt-2">
                                <input class="checkbox no-clear" type="checkbox" name="frozen">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}
                </div>

                <!-- CHAMPS LIBRES -->
                <span class="toggle-collapsible expanded">Champs libres</span>
                <div class="collapsible expanded free-fields-container mb-2">
                {% for type in typesArrival %}
                        <div class="d-none"
                             data-type="{{ type.id }}">
                            {% include 'free_field/freeFieldsEdit.html.twig' with {
                                freeFields: type.champsLibres,
                                freeFieldValues: [],
                                colType: 'col-md-4 col-12',
                                requiredType: 'requiredCreate',
                                actionType: 'new',
                                disabledNeeded: true
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMENTAIRE_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        {% set commentNeeded = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                        <div class="form-group col-8 h-fit-content">
                            <label class="wii-field-name" for="commentaire">Commentaire{{ commentNeeded ? '*' }}</label>
                            <input id="commentaire"
                                   class="commentaire form-control input-sm data {{ commentNeeded ? 'needed' }}"
                                   name="commentaire" type="hidden">
                            <div class="editor-container-new" data-wysiwyg></div>
                        </div>
                    {% endif %}
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PJ_ARRIVAGE') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        <div class="form-group col-4">
                            <div>
                                {% include 'attachment/attachment.html.twig' with {
                                    'isNew': true,
                                    'required': fieldsParam|isFieldRequired(fieldCode, 'requiredCreate')
                                } %}
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="isAttachmentForm" value="1"/>
                    {% endif %}
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {id: 'submitNewArrivage', classes: 'btn btn-success', text: 'Enregistrer'}
                ]
            } %}
        </div>
    </div>
</form>
