<div class="row">
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROVIDER_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
            <div class="form-group col">
                <label for="fournisseur">Fournisseur{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : '' }}</label>
                <select class="form-control data {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'needed' : '' }}" id="fournisseur" name="fournisseur">
                    <option {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'disabled' }} selected></option>
                    {% for fournisseur in fournisseurs %}
                        {% set selected = (((arrivage.fournisseur is not empty) and (fournisseur.id == arrivage.fournisseur.id)) ? 'selected' : '') %}
                        <option value="{{ fournisseur.id }}" {{ selected }}>{{ fournisseur.nom }}</option>
                    {% endfor %}
                </select>
            </div>
    {% endif %}
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col">
            <label for="transporteur">Transporteur{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : '' }}</label>
            <select class="form-control data {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'needed' : '' }}" id="transporteur" name="transporteur">
                <option {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'disabled' }} selected></option>
                {% for transporteur in transporteurs %}
                    {% set selected = (((arrivage.transporteur is not empty) and (transporteur.id == arrivage.transporteur.id)) ? 'selected' : '') %}
                    <option value="{{ transporteur.id }}" {{ selected }}>{{ transporteur.label }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CHAUFFEUR_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col">
            <label for="chauffeur">Chauffeur{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : '' }}</label>
            <select class="form-control data {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'needed' : '' }}" id="chauffeur" name="chauffeur">
                <option {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'disabled' }} selected></option>
                {% for chauffeur in chauffeurs %}
                    {% set selected = (arrivage.chauffeur is not empty and chauffeur.id == arrivage.chauffeur.id ? 'selected' : '') %}
                    <option
                        value="{{ chauffeur.id }}" {{ selected }}>{{ chauffeur.prenom|capitalize }} {{ chauffeur.nom|upper }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>

<div class="row">
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_NUMERO_TRACKING_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col-4">
            <label for="noTracking">N° tracking transporteur{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : ''}}</label>
            <input type="text" id="noTracking" class="form-control data {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'needed' : ''}}" name="noTracking" maxlength="64"
                   value="{{ arrivage.noTracking }}">
        </div>
    {% endif %}
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_NUM_COMMANDE_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired('numeroCommandeList', 'displayed') %}
        <div class="form-group col-4">
            <label for="numeroCommandeList">N° commande / BL{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : ''}}</label>
            <select id="numeroCommandeList"
                    class="form-control input-sm data select2-free w-100 {{ fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') ? 'needed' : '' }}"
                    name="numeroCommandeList" multiple="multiple">
                {% for numeroCommande in arrivage.numeroCommandeList %}
                    <option value="{{ numeroCommande }}" selected>{{ numeroCommande }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    <div class="form-group col-4">
        <label for="type">Type*</label>
        <select class="needs-default form-control input-sm data needed"
                id="type"
                name="type"
                disabled>
            <option value="{{ arrivage.type.id }}" selected>{{ arrivage.type.label }}</option>
        </select>
    </div>
    <div class="form-group col-4">
        <label for="statut">Statut*</label>
        <select class="form-control data needed"
                id="statut"
                name="statut">
            {% set statusIsNotSet = arrivage.statut is not empty %}
            {% if statusIsNotSet %}
                <option disabled selected> </option>
            {% endif %}
            {% for statut in statuts %}
                {% set selected = (statusIsNotSet and statut.id == arrivage.statut.id ? 'selected' : '') %}
                <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom|upper }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="row">
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_TARGET_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col-4">
            <label for="destinataire" title="destinataire">{{ 'arrivage.destinataire'|trans }}{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : '' }}</label>
            <select class="form-control data {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'needed' : '' }}" id="destinataire" name="destinataire">
                <option disabled selected></option>
                {% for utilisateur in utilisateurs %}
                    {% set selected = (arrivage.destinataire is not empty and utilisateur.id == arrivage.destinataire.id ? 'selected' : '') %}
                    <option value="{{ utilisateur.id }}" {{ selected }}>{{ utilisateur.username }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUYERS_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group w-100 col-4">
            <label for="acheteursEdit" title="acheteurs">{{ 'arrivage.acheteurs'|trans }}{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : '' }}</label>
            <select class="form-control data select2 {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'needed' : '' }}" name="acheteurs" multiple="multiple"
                    id="acheteursEdit">
                {% for utilisateur in utilisateurs %}
                    <option value="{{ utilisateur.username }}">
                        {{ utilisateur.username }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>

<div class="row">
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROJECT_NUMBER_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col-4">
            <label for="noProject">Numéro de projet{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : '' }}</label>
            <input type="text"
                   class="form-control input-sm data {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'needed' : '' }}"
                   name="noProject" maxlength="64" value="{{ arrivage.projectNumber }}">
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col-4">
            <label for="chauffeur">Business Unit{{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? '*' : '' }}</label>
            <select class="needs-default form-control input-sm data {{ fieldsParam|isFieldRequired(fieldCode, 'mustToModify') ? 'needed' : '' }}"
                    name="businessUnit">
                <option value=""></option>
                {% if arrivage.businessUnit and arrivage.businessUnit not in businessUnits %}
                    <option value="{{ arrivage.businessUnit }}" selected>{{ arrivage.businessUnit }}</option>
                {% endif %}
                {% for businessUnit in businessUnits %}
                    {% set selected = (businessUnit is not empty and businessUnit == arrivage.businessUnit ? 'selected' : '') %}
                    <option value="{{ businessUnit }}" {{ selected }}>{{ businessUnit }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>

<div class="row">
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_DUTY_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col-2">
            <label title="douane">{{ 'arrivage.douane'|trans }}</label>
            <label class="switch d-block-switch mt-2">
                {% set checked =  arrivage.duty ? 'checked' : '' %}
                <input class="checkbox no-clear" type="checkbox" name="duty" {{ checked }}>
                <span class="slider round"></span>
            </label>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_FROZEN_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col-2">
            <label>{{ 'arrivage.congelé'|trans }}</label>
            <label class="switch d-block-switch mt-2">
                {% set checked =  arrivage.frozen ? 'checked' : '' %}
                <input class="checkbox no-clear" type="checkbox" name="frozen" {{ checked }}>
                <span class="slider round"></span>
            </label>
        </div>
    {% endif %}
</div>

{% if arrivage.type is defined and arrivage.type is not null %}
    <div class="row">
        {% include 'champ_libre/freeFieldsViewing.html.twig' with {
            freeFields: arrivage.type.champsLibres,
            freeFieldValues: arrivage.freeFields,
            colType: 'col-md-4 col-12',
            requiredType: 'requiredEdit',
            actionType: 'edit'
        } %}
    </div>
{% endif %}

<div class="row">
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMENTAIRE_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        {% set commentNeeded = fieldsParam|isFieldRequired(fieldCode, 'mustToModify') %}
        <div class="form-group col-8 h-fit-content">
            <label for="commentaire">Commentaire{{ commentNeeded ? '*' }}</label>
            <input id="commentaire"
                   class="commentaire form-control data {{ commentNeeded ? 'needed' }}"
                   name="commentaire"
                   type="hidden"
                   value="{{ arrivage.commentaire }}">
            <div class="editor-container-edit" value="{{ arrivage.commentaire }}">{{ arrivage.commentaire|raw }}</div>
        </div>
    {% endif %}
    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PJ_ARRIVAGE') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayed') %}
        <div class="form-group col-4">
            <div>
                {% include 'attachment/attachment.html.twig' with {
                    'isNew': false,
                    'required': fieldsParam|isFieldRequired(fieldCode, 'mustToModify')
                } %}
            </div>
        </div>
    {% else %}
        <input type="hidden" name="isAttachmentForm" value="1"/>
    {% endif %}
</div>
