<form method="" class="modal fade" id="modalNewLitige" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

            <input type="text" id="acheteursLitigeHidden" name="" value="{{ acheteurs | join(',') }}" hidden/>
            <input type="text" id="numeroCommandeListLitigeHidden" name="" value="{{ arrivage.numeroCommandeList | join(',') }}" hidden/>

            <div class="modal-header">
                <h5 class="modal-title">Nouveau litige</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">

                {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                    array: typesLitige,
                    warningLabel: 'Attention ! Aucun type de litige n\'a été créé',
                    redirectPath: path('types_param_index'),
                    redirectLabel: 'Aller vers la page de types'
                } %}
                {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                    array: statusLitige,
                    warningLabel: 'Attention ! Aucun statut de litige n\'a été créé',
                    redirectPath: path('status_param_index'),
                    redirectLabel: 'Aller vers la page de statuts'
                } %}

                <div class="row">
                    {% if fieldsParam|isFieldRequired('fournisseur', 'displayed') %}
                        <div class="form-group col">
                            <label for="fournisseurLitige">Fournisseur</label>
                            <input type="text" id="fournisseurLitige" class="form-control data" name="fournisseurLitige"
                                   value="{{ arrivage.fournisseur ? arrivage.fournisseur.nom }}" disabled>
                        </div>
                    {% endif %}

                    {% if fieldsParam|isFieldRequired('transporteur', 'displayed') %}
                        <div class="form-group col">
                            <label for="transporteurLitige">Transporteur</label>
                            <input type="text" id="transporteurLitige" class="form-control data" name="transporteurLitige"
                                   value="{{ arrivage.transporteur ? arrivage.transporteur.label }}" disabled>
                        </div>
                    {% endif %}
                    {% if fieldsParam|isFieldRequired('chauffeur', 'displayed') %}
                        <div class="form-group col">
                            <label for="chauffeurLitige">Chauffeur</label>
                            <input type="text" id="chauffeurLitige" class="form-control data" name="chauffeurLitige"
                                   value="{{ arrivage.chauffeur ? arrivage.chauffeur.nom }}" disabled>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="noTrackingLitige">Ordre arrivage</label>
                        <input type="text" id="arrivageOrderLitige" class="form-control data" name="arrivageOrderLitige"
                               value="{{ arrivage.numeroArrivage }}" disabled>
                    </div>

                    {% if fieldsParam|isFieldRequired('numeroCommandeList', 'displayed') %}
                        <div class="form-group w-100 col-4">
                            <label for="numeroCommandeListLitige">N° commande / BL</label>
                            <select id="numeroCommandeListLitige"
                                    class="form-control data"
                                    name="numeroCommandeListLitige"
                                    multiple="multiple"
                                    disabled>
                            </select>
                        </div>
                    {% endif %}

                    <div class="form-group col-4">
                        <label for="typeLitige">Type*</label>
                        <select class="form-control data needed" id="typeLitige" name="typeLitige">
                            <option placeholder="" disabled value="" selected></option>
                            {% for type in typesLitige %}
                                <option value="{{ type.id }}">{{ type.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    {% if fieldsParam|isFieldRequired('acheteurs', 'displayed') %}
                        <div class="form-group w-100 col-4">
                            <label for="acheteursLitige">Acheteur(s)</label>
                            <select class="form-control data"
                                    name="acheteursLitige"
                                    multiple="multiple"
                                    id="acheteursLitige"
                                    disabled>
                            </select>
                        </div>
                    {% endif %}
                    <div class="form-group w-100 col-4">
                        <label for="declarantLitige">Déclarant*</label>
                        <select class="form-control data select2-declarant needed" name="declarantLitige" id="declarantLitige">
                            {% for utilisateur in utilisateurs %}
                                <option value="{{ utilisateur.id }}">{{ utilisateur.text }}</option>
                            {% endfor %}
                        </select>
                        <input hidden
                               name="logged-user"
                               data-username="{{ app.user.username }}"
                               data-id="{{ app.user.id }}"/>
                    </div>
                    <div class="form-group col-4">
                        <label for="statutLitige">Statut*</label>
                        {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                            array: statusLitige,
                            warningLabel: 'Attention ! Aucun statut de litige n\'a été créé',
                            redirectPath: path('status_param_index'),
                            redirectLabel: 'Aller vers la page de statuts'
                        } %}

                        <select class="form-control data needed" id="statutLitige" name="statutLitige">
                            <option disabled selected></option>
                            {% for statut in statusLitige %}
                                <option value="{{ statut.id }}">{{ statut.nom }}</option>
                            {% endfor %}
                            {% if defaultDisputeStatusId is not null %}
                                <input type="hidden" name="default-status" data-id="{{ defaultDisputeStatusId }}"/>
                            {% endif %}
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="colisLitige">Colis*</label>
                        <select multiple="multiple" class="form-control select2 w-100 data needed" id="colisLitige" name="colisLitige">
                            {% for colis in allColis %}
                                <option value="{{ colis.id }}">{{ colis.code }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-5 h-fit-content">
                        <label for="litige-commentaire">Commentaire</label>
                        <input type="text" id="litige-commentaire" class="commentaire form-control data" name="commentaire">
                    </div>
                    <div class="form-group col-3 mt-4">
                        <label>Urgence ?</label>
                        <label class="switch">
                            <input class="checkbox data" type="checkbox" name="emergency">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-4">
                        <div>
                            {% include 'attachment/attachment.html.twig' with {'isNew' : true} %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewLitige" type="button" class="btn btn-success">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
