<form method="" class="modal show" id="modalAddColis" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Ajouter colis</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
                {% if natures != null %}
                    <div class="row mt-4">
                        <div class='col-12 mb-2'>
                            <h3 class="label">Nb de colis à ajouter :</h3>
                        </div>
                        <div class="form-group col-12 blocVisible d-block">
                            <div class="d-block">
                                <div class="row mt-2">
                                    {% for nature in natures %}
                                        <div class="form-group col-6">
                                            <label for="nbColisForNature_{{ nature.id }}">
                                                {{nature.label | capitalize}}
                                            </label>
                                            <input type="number"
                                                   class="form-control data-array needed-positiv"
                                                   value="{{ nature.defaultQuantity ? nature.defaultQuantity : 0 }}"
                                                   name="colis"
                                                   data-id="{{ nature.id }}"
                                                   id="nbColisForNature_{{ nature.id }}"
                                                   min="0">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                        array: natures,
                        warningLabel: 'Attention ! Aucune nature de colis n\'a été créée',
                        redirectPath: path('nature_param_index'),
                        redirectLabel: 'Aller vers la création des natures'
                    } %}
                {% endif %}


            </div>

            <input hidden value="{{ arrivage.id }}" name="arrivageId" class="data">

            <div class="error-msg p-4"></div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitAddColis" type="button" class="btn btn-success">Valider</button>
            </div>
        </div>
    </div>
</form>
