<div class="row">
    {% if fieldsParam|isFieldRequired('fournisseur', 'displayed') %}
            <div class="form-group col">
                <label for="fournisseur">Fournisseur{{ fieldsParam|isFieldRequired('fournisseur', 'mustToModify') ? '*' : '' }}</label>
                <select class="form-control data {{ fieldsParam|isFieldRequired('fournisseur', 'mustToModify') ? 'needed' : '' }}" id="fournisseur" name="fournisseur">
                    <option {{ fieldsParam|isFieldRequired('fournisseur', 'mustToModify') ? 'disabled' }} selected></option>
                    {% for fournisseur in fournisseurs %}
                        {% set selected = (((arrivage.fournisseur is not empty) and (fournisseur.id == arrivage.fournisseur.id)) ? 'selected' : '') %}
                        <option value="{{ fournisseur.id }}" {{ selected }}>{{ fournisseur.nom }}</option>
                    {% endfor %}
                </select>
            </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('transporteur', 'displayed') %}
        <div class="form-group col">
            <label for="transporteur">Transporteur{{ fieldsParam|isFieldRequired('transporteur', 'mustToModify') ? '*' : '' }}</label>
            <select class="form-control data {{ fieldsParam|isFieldRequired('transporteur', 'mustToModify') ? 'needed' : '' }}" id="transporteur" name="transporteur">
                <option {{ fieldsParam|isFieldRequired('transporteur', 'mustToModify') ? 'disabled' }} selected></option>
                {% for transporteur in transporteurs %}
                    {% set selected = (((arrivage.transporteur is not empty) and (transporteur.id == arrivage.transporteur.id)) ? 'selected' : '') %}
                    <option value="{{ transporteur.id }}" {{ selected }}>{{ transporteur.label }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('chauffeur', 'displayed') %}
        <div class="form-group col">
            <label for="chauffeur">Chauffeur{{ fieldsParam|isFieldRequired('chauffeur', 'mustToModify') ? '*' : '' }}</label>
            <select class="form-control data {{ fieldsParam|isFieldRequired('chauffeur', 'mustToModify') ? 'needed' : '' }}" id="chauffeur" name="chauffeur">
                <option {{ fieldsParam|isFieldRequired('chauffeur', 'mustToModify') ? 'disabled' }} selected></option>
                {% for chauffeur in chauffeurs %}
                    {% set selected = (arrivage.chauffeur is not empty and chauffeur.id == arrivage.chauffeur.id ? 'selected' : '') %}
                    <option
                        value="{{ chauffeur.id }}" {{ selected }}>{{ chauffeur.prenom|capitalize }} {{ chauffeur.nom|upper }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>

<div class="row">
    {% if fieldsParam|isFieldRequired('noTracking', 'displayed') %}
        <div class="form-group col-4">
            <label for="noTracking">N° tracking transporteur{{ fieldsParam|isFieldRequired('noTracking', 'mustToModify') ? '*' : ''}}</label>
            <input type="text" id="noTracking" class="form-control data {{ fieldsParam|isFieldRequired('noTracking', 'mustToModify') ? 'needed' : ''}}" name="noTracking" maxlength="64"
                   value="{{ arrivage.noTracking }}">
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('numeroCommandeList', 'displayed') %}
        <div class="form-group col-4">
            <label for="numeroCommandeList">N° commande / BL{{ fieldsParam|isFieldRequired('numeroCommandeList', 'mustToModify') ? '*' : ''}}</label>
            <select id="numeroCommandeList"
                    class="form-control input-sm data select2-free w-100 {{ fieldsParam|isFieldRequired('numeroCommandeList', 'mustToCreate') ? 'needed' : '' }}"
                    name="numeroCommandeList" multiple="multiple">
                {% for numeroCommande in arrivage.numeroCommandeList %}
                    <option value="{{ numeroCommande }}" selected>{{ numeroCommande }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    <div class="form-group col-4">
        <label for="chauffeur">Statut*</label>
        <select class="form-control data needed"
                id="statut"
                name="statut">
            <option disabled selected> </option>
            {% for statut in statuts %}
                {% set selected = (arrivage.statut is not empty and statut.id == arrivage.statut.id ? 'selected' : '') %}
                <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom|upper }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="row">
    {% if fieldsParam|isFieldRequired('destinataire', 'displayed') %}
        <div class="form-group col-4">
            <label for="destinataire" title="destinataire">{{ 'arrivage.destinataire'|trans }}{{ fieldsParam|isFieldRequired('destinataire', 'mustToModify') ? '*' : '' }}</label>
            <select class="form-control data {{ fieldsParam|isFieldRequired('destinataire', 'mustToModify') ? 'needed' : '' }}" id="destinataire" name="destinataire">
                <option disabled selected></option>
                {% for utilisateur in utilisateurs %}
                    {% set selected = (arrivage.destinataire is not empty and utilisateur.id == arrivage.destinataire.id ? 'selected' : '') %}
                    <option value="{{ utilisateur.id }}" {{ selected }}>{{ utilisateur.username }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('acheteurs', 'displayed') %}
        <div class="form-group w-100 col-4">
            <label for="acheteursEdit" title="acheteurs">{{ 'arrivage.acheteurs'|trans }}{{ fieldsParam|isFieldRequired('acheteurs', 'mustToModify') ? '*' : '' }}</label>
            <select type="text" class="form-control data select2 {{ fieldsParam|isFieldRequired('acheteurs', 'mustToModify') ? 'needed' : '' }}" name="acheteurs" multiple="multiple"
                    id="acheteursEdit">
                {% for utilisateur in utilisateurs %}
                    <option value="{{ utilisateur.username }}">
                        {{ utilisateur.username }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
</div>

<div class="row">
    {% if fieldsParam|isFieldRequired('duty', 'displayed') %}
        <div class="form-group col-2">
            <label title="douane">{{ 'arrivage.douane'|trans }}</label>
            <label class="switch d-block-switch mt-2">
                {% set checked =  arrivage.duty ? 'checked' : '' %}
                <input class="checkbox no-clear" type="checkbox" name="duty" {{ checked }}>
                <span class="slider round"></span>
            </label>
        </div>
    {% endif %}

    {% if fieldsParam|isFieldRequired('frozen', 'displayed') %}
        <div class="form-group col-2">
            <label>{{ 'arrivage.congelé'|trans }}</label>
            <label class="switch d-block-switch mt-2">
                {% set checked =  arrivage.frozen ? 'checked' : '' %}
                <input class="checkbox no-clear" type="checkbox" name="frozen" {{ checked }}>
                <span class="slider round"></span>
            </label>
        </div>
    {% endif %}
</div>

<div class="row">
    {% include 'champ_libre/freeFieldsVizualisation.html.twig' with {
        freeFields: freeFieldsGroupedByTypes,
        freeFieldValues: arrivage.freeFields,
        colType: 'col-4',
        requiredType: 'requiredEdit',
        actionType: 'edit'
    } %}
</div>

<div class="row">
    {% if fieldsParam|isFieldRequired('commentaire', 'displayed') %}
    <div class="form-group col-8 h-fit-content">
        <label for="commentaire">Commentaire</label>
        <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden"
               value="{{ arrivage.commentaire }}">
        <div class="editor-container-edit" value="{{ arrivage.commentaire }}">{{ arrivage.commentaire|raw }}</div>
    </div>
    {% endif %}
    {% if fieldsParam|isFieldRequired('pj', 'displayed') %}
    <div class="form-group col-4">
        <div>
            {% include 'attachment/attachment.html.twig' with {
                'isNew': false,
                'required': fieldsParam|isFieldRequired('pièces-jointes', 'mustToModify')
            } %}
        </div>
    </div>
    {% else %}
        <input type="hidden" name="isAttachmentForm" value="1"/>
    {% endif %}
</div>
