<form method="" class="modal fade" id="modalNewArrivage" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Nouvelle demande d'arrivage</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col w-100">
                        <label for="fournisseur">Fournisseur*</label>
                        <select class="form-control data ajax-autocomplete-fournisseur ajax-autocomplete needed" name="fournisseur" id="fournisseur">
                        </select>
                    </div>
                    <div class="form-group col-1">
                        <span class="btn btn-primary" onclick="toggleInput('fournisseurDisplay', 'addFournisseur')"><i class="fa fa-plus"></i></span>
                    </div>

                    <div class="form-group col w-100">
                        <label for="transporteur">Transporteur*</label>
                        <select class="form-control data ajax-autocomplete-transporteur ajax-autocomplete needed" name="transporteur" id="transporteur">
                        </select>
                    </div>
                    <div class="form-group col-1">
                        <span class="btn btn-primary" onclick="toggleInput('transporteurDisplay', 'addTransporteur')"><i class="fa fa-plus"></i></span>
                    </div>

                    <div class="form-group col w-100">
                        <label for="chauffeur">Chauffeur</label>
                        <select class="form-control data ajax-autocomplete-chauffeur ajax-autocomplete" name="chauffeur" id="chauffeur">
                        </select>
                    </div>
                    <div class="form-group col-1">
                        <span class="btn btn-primary" onclick="toggleInput('chauffeurDisplay', 'addChauffeur')"><i class="fa fa-plus"></i></span>
                    </div>
                </div>
                <div class="row line-arrivage-new-data">
                    <div class="row col-4 formulaire">
                        <div class="form-group col-10" id="fournisseurDisplay">
                            <label for="newFournisseur">Nom*</label>
                            <input type="text" id="newFournisseur" class="form-control valeur newFormulaire neededNew" name="Nom" maxlength="64">
                            <label for="newFournisseurCode" class="mt-2">Code*</label>
                            <input type="text" id="newFournisseurCode" class="form-control newFormulaire neededNew" name="Code" maxlength="64">
                        </div>
                        <div class="form-group col-2" id="addFournisseur">
                            <span class="btn btn-success" onclick="newLine(Routing.generate('fournisseur_new', true), $(this), 'fournisseurDisplay', 'addFournisseur')"><i class="fas fa-check-circle"></i></span>
                        </div>
                    </div>
                    <div class="row col-4 formulaire">
                        <div class="form-group col-10" id="transporteurDisplay">
                            <label for="newTransporteur">Nom*</label>
                            <input type="text" id="newTransporteur" class="form-control newFormulaire neededNew" name="label" maxlength="64">
                            <label for="newTransporteurCode" class="mt-2">Code*</label>
                            <input type="text" id="newTransporteurCode" class="form-control newFormulaire neededNew" name="code" maxlength="64">
                        </div>
                        <div class="form-group col-2" id="addTransporteur">
                            <span class="btn btn-success" onclick="newLine(Routing.generate('transporteur_new', true), $(this), 'transporteurDisplay', 'addTransporteur')"><i class="fas fa-check-circle"></i></span>
                        </div>
                    </div>
                    <div class="row col-4 formulaire">
                        <div class="form-group col-10" id="chauffeurDisplay">
                            <label for="newChauffeurName">Nom*</label>
                            <input type="text" id="newChauffeurName" class="form-control newFormulaire neededNew" name="nom" maxlength="64">
                            <label for="newChauffeurFirstName" class="mt-2">Prénom*</label>
                            <input type="text" id="newChauffeurFirstName" class="form-control newFormulaire neededNew" name="prenom" maxlength="64">
                            <label for="newChauffeurNumero" class="mt-2">N°doc ID*</label>
                            <input type="text" id="newChauffeurNumero" class="form-control newFormulaire neededNew" name="documentID" maxlength="64">
                            <label for="newChauffeurTransporteur" class="mt-2">Transporteur*</label>
                            <select class="form-control newFormulaire neededNew" id="newChauffeurTransporteur" name="transporteur">
                                <option disabled selected></option>
                                {% for transporteur in transporteurs %}
                                    <option value="{{ transporteur.id }}">{{ transporteur.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-2" id="addChauffeur">
                            <span class="btn btn-success" onclick="newLine(Routing.generate('chauffeur_new', true), $(this), 'chauffeurDisplay', 'addChauffeur')"><i class="fas fa-check-circle"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="noTracking">N° tracking transporteur</label>
                        <input type="text" id="noTracking" class="form-control data" name="noTracking" maxlength="64">
                    </div>

                    <div class="form-group col-4">
                        <label for="noBL">N° commande / BL</label>
                        <input type="text" id="noBL" class="form-control data" name="noBL" maxlength="64">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-4 w-100">
                        <label for="destinataire">Destinataire*</label>
                        <select class="form-control data ajax-autocomplete-user needed ajax-autocomplete" name="destinataire" id="destinataire">
                        </select>
                    </div>
                    <div class="form-group w-100 col-4">
                        <label for="acheteurs">Acheteur(s)</label>
                        <select name="acheteurs" id="acheteurs" multiple="multiple"
                                class="form-control ajax-autocomplete-user data needed ajax-autocomplete">
                            <option value="{{ app.user.id }}">{{ app.user.username }}</option>>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="Immatriculation">Immatriculation</label>
                        <input type="text" id="Immatriculation" class="form-control data" name="immatriculation" maxlength="64">
                    </div>
                </div>

                {% if natures != null %}
                    <div class="row mt-4">
                        <div class='col-12 mb-2'>
                            <h3 class="label">Nb de colis à ajouter :</h3>
                        </div>
                        <div class="form-group col-12 blocVisible d-block" id=''>
                            <div class="d-block">
                                <div class="row mt-2">
                                    {% for nature in natures %}
                                        <div class="form-group col-2">
                                            <label for="">
                                                {{nature.label | capitalize}}
                                            </label>
                                            <input type="number" class="form-control data-array"
                                                   value="" name="nature" data-id="{{ nature.id }}" min="0">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <p><i class='fas fa-warning'></i>
                             Attention ! Aucune nature de colis a été créée</p>
                        <a href="{{ path('nature_param_index') }}" class="btn btn-primary">
                            <i class='fa fa-directions mr-2'></i> Aller vers la création des natures
                        </a>
                    </div>
                {% endif %}

                <div class="row">
                    {% if natures != null %}
                        <div class="form-group col-3">
                            <label>Imprimer colis</label>
                            <label class="switch">
                                <input class="checkbox" type="checkbox" name="printColis">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% endif %}

                    <div class="form-group col-3">
                        <label>Imprimer arrivage</label>
                        <label class="switch">
                            <input class="checkbox" type="checkbox" name="printArrivage">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-8 fit-content">
                        <label for="commentaire">Commentaire</label>
                        <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden">
                        <div class="editor-container-new" ></div>
                    </div>
                    <div class="form-group col-4">
                        <div>
                            {% include 'arrivage/attachements.html.twig' with {'isNew' : true} %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewArrivage" type="button" class="btn btn-success"
                    onclick="setCommentaire('.editor-container-new', quillNew)">Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
