{% extends "layout.html.twig" %}

{% block title %}{{ trans('Traçabilité', 'Général', 'Traçabilité') }} | {{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Flux - arrivages') }} | {{ trans('Général', null, 'Header', 'Détails') }}{% endblock %}
{% block title_tooltip %}{{ trans('Traçabilité', 'Général', 'Traçabilité') }} | {{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Flux - arrivages') }} |  {{ trans('Général', null, 'Header', 'Détails') }}{% endblock %}
{% block titleLink path('arrivage_index') %}

{% block page_content %}
    {% set displayLitiges = hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::DISPLAY_LITI')) %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "arrivage/arrivage-show-header.html.twig" with {
                        arrivage: arrivage,
                        printPacks: printPacks,
                        printArrivage: printArrivage,
                        canBeDeleted: canBeDeleted,
                        showDetails: showDetails
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-around">
            <div class="{{ displayLitiges ? 'col-6 pr-2' : 'col-12' }}">
                <div class="wii-box mt-0">
                    <div class="header wii-title">
                        <span>{{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Liste des unités logistiques') }}</span>
                    </div>
                    <div class="content">
                        <div class="row wii-page-card-header">
                            <div class="col-auto ml-auto">
                                <div class="btn-group">
                                    {% set hasRightEdit = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
                                    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
                                    {% if hasRightEdit and hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::ADD_PACK')) %}
                                        <button type="button"
                                                data-toggle="modal"
                                                data-target="#modalAddPacks"
                                                class="btn btn-primary d-flex align-items-center {{ hasRightEdit ? 'split-button' }}"
                                                id="btnModalAddPacks">
                                            <span class="wii-icon wii-icon-plus mr-2"></span>{{ trans('Traçabilité', 'Flux - Arrivages', 'Divers', 'Ajouter des unités logistiques') }}</span>
                                        </button>
                                    {% endif %}
                                    <button type="button"
                                            class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                                        <a class="dropdown-item pointer"
                                           data-toggle="modal"
                                           data-target="#modalColumnVisible">
                                            <i class="fa fa-cog mr-2"></i>
                                            {{ trans('Général', '', 'Zone liste', 'Gestion des colonnes', false) }}
                                        </a>
                                        {% if hasRightExport %}
                                            <a id="printPacksBtn"
                                               class="{{ hasRightEdit ? 'dropdown-item' }} btn btn-primary d-flex align-items-center"
                                               onclick="printArrival({
                                                   'arrivageId': {{ arrivage.id }},
                                                   'printPacks' : true,
                                                   'printArrivage' : true
                                               })">
                                                <span
                                                    class="wii-icon wii-icon-printer-black mr-2"></span>{{ trans('Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Imprimer unités logistiques') }}
                                                </span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table id="tablePacks" class="table w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if displayLitiges %}
                <div class="col-6 pl-2">
                    <div class="wii-box mt-0">
                        <div class="header wii-title">{{ trans('Traçabilité', 'Flux - Arrivages', 'Détails arrivage - Liste des litiges', 'Liste des litiges') }}</div>
                        <div class="content">
                            <div class="row wii-page-card-header">
                                <div class="col-auto ml-auto">
                                    {% if hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::CREATE')) %}
                                        <button type="button"
                                                data-id="{{ arrivage.id }}"
                                                class="btn btn-primary new-dispute-modal d-flex align-items-center">
                                            <span class="wii-icon wii-icon-plus mr-2"></span>
                                            {{ trans('Traçabilité', 'Flux - Arrivages', 'Détails arrivage - Liste des litiges', 'Nouveau litige') }}
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table id="tableArrivageLitiges" class="table w-100"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
    {% include 'arrivage/modalAddPacks.html.twig' %}
    {% include "arrivage/modalEditArrivage.html.twig" %}
    {% include "arrivage/modalDeleteArrivage.html.twig" %}
    {% include 'arrivage/modalNewLitige.html.twig' %}
    {% include 'arrivage/modalEditLitige.html.twig' %}
    {% include 'arrivage/modalDeleteLitige.html.twig' %}
    {% include 'pack/modalEditPack.html.twig' %}
    {% include 'pack/modalDeletePack.html.twig' %}
    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'tableUL',
        'route': 'save_column_visible_for_pack',
    } %}
    <input id="tagTemplates" value="{{ tag_templates|json_encode }}" hidden>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/arrival/common.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/arrival/show.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/dispatch-common.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/form-litiges.js') }}?v={{ web_version }}"></script>
{% endblock %}
