{% extends "layout.html.twig" %}
{% block title %}{{ 'arrivage.arrivage'|trans|capitalize }}{% endblock %}
{% block page_content %}

    <div class="zone-entete">
        {% include "arrivage/enteteArrivage.html.twig" %}
    </div>
    {% if arrivage.isUrgent is defined and arrivage.isUrgent == true %}
        <div class="urgence-row row ml-2">
            <h1><i class="fa fa-exclamation-triangle mr-2"></i>{{ 'arrivage.cet arrivage'|trans|capitalize }} est à traiter en URGENCE.</h1>
        </div>
    {% endif %}
    <div class="row mt-5">
        <div class="col-6">
            <div class="d-flex justify-content-between h-54px">
                {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
                    <div data-toggle="modal" data-target="#modalAddColis" class="btn btn-primary" id="btnModalAddColis">
                        <span class="fa fa-plus mr-2"></span>Ajouter {{ 'arrivage.colis'|trans }}
                    </div>
                {% endif %}
                <div class="btn btn-primary" onclick="getDataAndPrintLabels({{ arrivage.id }})">
                    <span class="fa fa-print mr-2"></span>Imprimer {{ 'arrivage.colis'|trans }}
                </div>
            </div>
            <div>
                <table id="tableColis" class="table table-striped table-bordered w-100"></table>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex h-54px">
                {% if hasRight(constant('App\\Entity\\Menu::LITIGE'), constant('App\\Entity\\Action::CREATE')) %}
                    <a href="" data-id='{{ arrivage.id }}' data-target='#modalNewLitige' data-toggle='modal'
                       class="btn btn-primary btn-action ml-auto" onclick="clearModal('#modalNewLitige')">
                        <i class="fa fa-plus mr-2"></i>
                        Nouveau litige</a>
                {% endif %}
            </div>
            <div>
                <table id="tableArrivageLitiges" class="table table-striped table-bordered w-100"></table>
            </div>
        </div>
    </div>
    <a href="{{ path('arrivage_index') }}" class='btn btn-action'>Retour à la liste</a>


    {% include 'arrivage/modalAddColis.html.twig' %}
    {% include "arrivage/modalEditArrivage.html.twig" %}
    {% include "arrivage/modalDeleteArrivage.html.twig" %}
    {% include 'arrivage/modalNewLitige.html.twig' %}
    {% include 'arrivage/modalEditLitige.html.twig' %}
    {% include 'arrivage/modalDeleteLitige.html.twig' %}
    {% include "reception_traca/association.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src = "{{asset('js/attachments.js')}}?{{ date().timestamp }}"></script>
    <script src="{{asset('js/show-arrivage.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
