{% extends "layout.html.twig" %}

{% block title %}Traçabilité | {{ 'arrivage.arrivage'|trans }} | Détails{% endblock %}
{% block title_tooltip %}Traçabilité | Arrivage | Détails{% endblock %}
{% block titleLink path('arrivage_index') %}

{% block page_content %}
    {% set displayLitiges = hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::DISPLAY_LITI')) %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "arrivage/arrivage-show-header.html.twig" with {
                        arrivage: arrivage,
                        printColis: printColis,
                        printArrivage: printArrivage,
                        canBeDeleted: canBeDeleted,
                        showDetails: showDetails
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-around">
            <div class="{{ displayLitiges ? 'col-6 pr-2' : 'col-12' }}">
                <div class="wii-page-card">
                    <div class="row mb-2">
                        <h5 class="col-auto h5">Liste des <span title="colis">{{'arrivage.colis'|trans}}</span></h5>
                    </div>
                    <div class="row wii-page-card-header">
                        <div class="col-auto ml-auto">
                            <div class="btn-group">
                                {% set hasRightEdit = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
                                {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
                                {% if hasRightEdit %}
                                {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::ADD_PACK')) %}
                                    <button type="button"
                                            data-toggle="modal"
                                            data-target="#modalAddColis"
                                            class="btn btn-primary btn-ripple {{ hasRightEdit ? 'split-button' }}"
                                            id="btnModalAddColis">
                                        <span class="fa fa-plus mr-2"></span>Ajouter <span title="colis">{{ 'arrivage.colis'|trans }}</span>
                                    </button>
                                {% endif %}
                                {% endif %}
                                {% if hasRightExport %}
                                    {% if hasRightEdit %}
                                        <button type="button"
                                                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <span class="fa fa-angle-down"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                                            <a class="dropdown-item"
                                               id="printColisBtn"
                                               href="{{ path('print_arrivage_bar_codes', {arrivage: arrivage.id, printArrivage: 1, printColis: 1}) }}">
                                                <span class="fa fa-print mr-2"></span>Imprimer <span title="colis">{{ 'arrivage.colis'|trans }}</span>
                                            </a>
                                        </div>
                                    {% else %}
                                        <a id="printColisBtn"
                                           class="btn btn-primary btn-ripple"
                                           href="{{ path('print_arrivage_bar_codes', {arrivage: arrivage.id, printArrivage: 1, printColis: 1}) }}">
                                            <span class="fa fa-print mr-2"></span>Imprimer <span title="colis">{{ 'arrivage.colis'|trans }}</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="tableColis" class="table w-100"></table>
                        </div>
                    </div>
                </div>
            </div>
            {% if displayLitiges %}
                <div class="col-6 pl-2">
                    <div class="wii-page-card">
                        <div class="row mb-2">
                            <h5 class="col-auto h5">Liste des litiges</h5>
                        </div>
                        <div class="row wii-page-card-header">
                            <div class="col-auto ml-auto">
                                {% if hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::CREATE')) %}
                                    <button type="button"
                                            data-id='{{ arrivage.id }}'
                                            data-target='#modalNewLitige'
                                            data-toggle='modal'
                                            class="btn btn-primary btn-ripple"
                                            onclick="openNewLitigeModal($(this))">
                                        <i class="fa fa-plus mr-2"></i>
                                        Nouveau litige
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table id="tableArrivageLitiges" class="table w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
    {% include 'arrivage/modalAddColis.html.twig' %}
    {% include "arrivage/modalEditArrivage.html.twig" %}
    {% include "arrivage/modalDeleteArrivage.html.twig" %}
    {% include 'arrivage/modalNewLitige.html.twig' %}
    {% include 'arrivage/modalEditLitige.html.twig' %}
    {% include 'arrivage/modalDeleteLitige.html.twig' %}
    {% include "reception_traca/association.html.twig" %}
    {% include 'pack/modalEditPack.html.twig' %}
    {% include 'pack/modalDeletePack.html.twig' %}
    {% include "dispatch/modalNewDispatch.html.twig" with modalNewConfig %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/arrivage-common.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/show-arrivage.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/dispatch.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/form-litiges.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
