{% extends "layout.html.twig" %}

{% block title %}Traçabilité | {{ 'arrivage.arrivage'|trans }} | Détails{% endblock %}

{% block page_content %}
    {% set displayLitiges = hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::DISPLAY_LITI')) %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete wii-page-card">
                    {% include "arrivage/enteteArrivage.html.twig" %}
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-around">
            <div class="{{ displayLitiges ? 'col-6' : 'col-12' }}">
                <div class="wii-page-card">
                    <div class="row justify-content-end wii-page-card-header">
                        <div class="col-auto">
                            <div class="btn-group">
                                {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT'))
                                   and hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
                                    <button type="button" data-toggle="modal"
                                            data-target="#modalAddColis"
                                            class="btn btn-primary split-button btn-ripple"
                                            id="btnModalAddColis">
                                        <span class="fa fa-plus mr-2"></span>Ajouter <span title="colis">{{ 'arrivage.colis'|trans }}</span>
                                    </button>
                                    <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <span class="fa fa-angle-down"></span>
                                    </button>
                                    <div class="dropdown-menu mr-5 pointer">
                                        <a class="dropdown-item"
                                           id="printColisBtn"
                                           href="{{ path('print_arrivage_bar_codes', {arrivage: arrivage.id, printArrivage: 1, printColis: 1}) }}">
                                            <span class="fa fa-print mr-2"></span>Imprimer <span title="colis">{{ 'arrivage.colis'|trans }}</span>
                                        </a>
                                    </div>
                                {% else %}
                                    {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
                                        <button type="button"
                                                data-toggle="modal"
                                                data-target="#modalAddColis"
                                                class="btn btn-primary btn-ripple" id="btnModalAddColis">
                                            <span class="fa fa-plus mr-2"></span>Ajouter <span title="colis">{{ 'arrivage.colis'|trans }}</span>
                                        </button>
                                    {% endif %}
                                    {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
                                        <button class="btn btn-primary btn-ripple">
                                            <a
                                                id="printColisBtn"
                                                href="{{ path('print_arrivage_bar_codes', {arrivage: arrivage.id, printArrivage: 1, printColis: 1}) }}">
                                                <span class="fa fa-print mr-2"></span>Imprimer <span title="colis">{{ 'arrivage.colis'|trans }}</span>
                                            </a>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table id="tableColis" class="table"></table>
                        </div>
                    </div>
                </div>
            </div>
            {% if displayLitiges %}
                <div class="col-6">
                    <div class="wii-page-card">
                        <div class="row justify-content-end wii-page-card-header">
                            <div class="col-auto">
                                {% if hasRight(constant('App\\Entity\\Menu::QUALI'), constant('App\\Entity\\Action::CREATE')) %}
                                    <button type="button"
                                            data-id='{{ arrivage.id }}'
                                            data-target='#modalNewLitige'
                                            data-toggle='modal'
                                            class="btn btn-primary btn-ripple"
                                            onclick="openNewLitigeModal($(this))">
                                        <i class="fa fa-plus mr-2"></i>
                                        Nouveau litige
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table id="tableArrivageLitiges" class="table w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
    {% include 'arrivage/modalAddColis.html.twig' %}
    {% include "arrivage/modalEditArrivage.html.twig" %}
    {% include "arrivage/modalDeleteArrivage.html.twig" %}
    {% include 'arrivage/modalNewLitige.html.twig' %}
    {% include 'arrivage/modalEditLitige.html.twig' %}
    {% include 'arrivage/modalDeleteLitige.html.twig' %}
    {% include "reception_traca/association.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/attachments.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/arrivage-common.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/show-arrivage.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/form-litiges.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
