{% extends "layout.html.twig" %}
{% block title %}Ajout d'article{% endblock %}
{% block page_content %}

<div class="row">
    <div class="col">
        <h1>Arrivage {{ arrivage.numeroarrivage }}</h1>
        <input hidden value="{{ arrivage.id }}" id="arrivageId">
        <input hidden value="{{ addColis }}" id="addColis">
        <div class="d-none" id="barcodes"></div>
    </div>

    <div class="col text-right">
    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::CREATE_EDIT'))%}
        <a href="" data-id='{{ arrivage.id }}' data-target='#modalEditArrivage'
           onclick="editRowArrivage($(this))"
           data-toggle='modal' class="btn btn-primary btn-action ml-auto">
            Modifier
        </a>
    {% endif %}

    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::DELETE'))%}
        <a href="" data-id='{{ arrivage.id }}' data-target='#modalDeleteArrivage' data-toggle='modal'
           class="btn btn-danger btn-action ml-auto" onclick="deleteRowArrivage($(this), $('#modalDeleteArrivage'), $('#submitDeleteArrivage'))">
            Supprimer</a>
    {% endif %}
    </div>
</div>

<div class="row">
    <div class="zone-entete col-6 row">
        {% include "arrivage/enteteArrivage.html.twig" %}
    </div>
</div>
<div class="row mt-5">
    <div class="col-6">
        <div class="d-flex justify-content-between">
            <div data-toggle="modal" data-target="#modalAddColis" class="btn btn-primary" id="btnModalAddColis">
                <span class="fa fa-plus mr-2"></span>Ajouter colis
            </div>
            <div class="btn btn-primary">
                <span class="fa fa-print mr-2"></span>Imprimer colis
            </div>
        </div>
        <div>
            <table id="tableColis" class="table table-striped table-bordered w-100"></table>
        </div>
    </div>
    <div class="col-6">
    </div>
</div>

{% include 'arrivage/modalAddColis.html.twig' %}

{% endblock %}

{% block javascript %}
<script src="{{asset('js/arrivage.js')}}?{{ date().timestamp }}"></script>
{% endblock javascript %}