{% extends "layout.html.twig" %}
{% block title %}Ajout d'article{% endblock %}
{% block page_content %}


<div class="row">
    <div class="col">
        <h1>Arrivage {{ arrivage.numeroarrivage }}</h1>
    </div>

    <div class="col text-right">
    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::CREATE_EDIT'))%}
        <a href="" data-id='{{ arrivage.id }}' data-target='#modalEditArrivage'
           onclick="editRowArrivage($(this), Routing.generate('arrivage_edit_api', true), $('#modalEditArrivage'), $('#submitEditArrivage'), true, '#modalEditArrivage .editor-container-edit')"
           data-toggle='modal' class="btn btn-primary btn-action ml-auto">
            Modifier
        </a>
    {% endif %}

    {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::DELETE'))%}
        <a href="" data-id='{{ arrivage.id }}' data-target='#modalDeleteArrivage' data-toggle='modal'
           class="btn btn-danger btn-action ml-auto" onclick="deleteRowArrivage($(this), $('#modalDeleteArrivage'), $('#submitDeleteArrivage'))">
            Supprimer</a>
    {% endif %}
    </div>
</div>

    <div class="row">
        <div class="zone-entete col-6 row">
            {% include "arrivage/enteteArrivage.html.twig" %}
        </div>
    </div>
    {% include "arrivage/modalEditArrivage.html.twig" %}
    {% include "arrivage/modalDeleteArrivage.html.twig" %}
{% endblock %}
{% block javascript %}
<script src="{{asset('js/arrivage.js')}}?{{ date().timestamp }}"></script>
{% endblock javascript %}