<div class="wii-section" id="translation">
    {% for menu in menusTranslations %}
        <div class="card my-3">
            <div class="card-header" id="headingOne{{ menu|replace({' ': ''}) }}">
                <h5 class="toggle-collapsible"
                    data-toggle="collapse"
                    data-target="#collapseOne{{ menu|replace({' ': ''}) }}"
                    aria-expanded='false'
                    aria-controls="collapseOne{{ menu|replace({' ': ''}) }}">
                    <button class="btn btn-link btn-menu-label">
                        <span>Menu : {{ menu }}</span>
                    </button>
                </h5>
            </div>

            <div id="collapseOne{{ menu|replace({' ': ''}) }}" class="collapse" aria-labelledby="headingOne{{ menu|replace({' ': ''}) }}">
                <div class="card-body">
                    {% for translation in translations %}
                        {% if (translation.menu == menu) %}
                            {% set translatedValue = (translation.menu~'.'~translation.label)|trans %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="translate-{{ translation.id }}">{{ translation.label }}</span>
                                </div>
                                <input type="text" class="form-control translate" name="{{ translation.id }}"
                                       aria-describedby="translate-{{ translation.id }}"
                                       value="{% if translatedValue != translation.label %}{{ translatedValue }}{% endif %}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-end">
    <button class="btn btn-success mr-3 mb-3" onclick="saveTranslations($(this))">Enregistrer</button>
</div>
