{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Tableau récapitulatif des licences.
        </div>
    </div>
</div>
<div class="wii-section">
    <div class="row justify-content-between align-items-center">
        <span class="ml-4">
            {{ activeSessionsCount }} licence{{ activeSessionsCount > 1 ? 's' : '' }} active{{ activeSessionsCount > 1 ? 's' : '' }}
            {{ maxAuthorizedSessions > 0 ? 'sur ' ~ maxAuthorizedSessions : '' }} - Actualisé le : {{ date('now')|format_helper('datetime', '', true) }}
        </span>
        {% include "utils/action-buttons/header-buttons.html.twig" with {
            actions: [
                {
                    title: "Exporter au format CSV",
                    icon : "fa fa-file-csv",
                    attributes: {
                        "onclick" : "saveExportFile('session_history_record_csv', false)",
                    },
                },
            ]
        } %}
    </div>
    <div class="row">
        <div class="col-12">
            <table id="tableSessionHistoryRecords" class="table w-100">
            </table>
        </div>
    </div>
</div>
{% include 'settings/utilisateurs/roles/delete.html.twig' %}
