<div class="col-3">
    <p>Demandeur : {{ collecte.demandeur }}</p>
    <p>Date demande : {{ collecte.date.date|date('d/m/Y') }}</p>
    <p>Date terminée : </p>
</div>

<div class="col-3">
    <p>Objet : {{ collecte.objet }}</p>
    <p>Statut : {{ collecte.statut.nom | capitalize }}</p>
</div>

<div class="col-3">

</div>
{% if modifiable %}

<div class="col-3">
    <div class="row justify-content-between">
        <a href="#" class="btn btn-primary btn-action ml-auto"  data-id='{{collecte.id}}' id='submitFinishCollecte'
                onclick="finishCollecte($(this))">
            Valider</a>
    </div>
    <div class="row justify-content-between">
        <a href="#" data-id='{{collecte.id}}' data-target='#modalEditCollecte' data-toggle='modal'
            onclick="editRow($(this), Routing.generate('collecte_api_edit', true), $('#modalEditCollecte'), $('#submitEditCollecte'))"
            class="btn btn-primary btn-action ml-auto">
            Modifier</a>
    </div>
    <div class="row justify-content-between">
        <a href="" onclick="deleteRow($(this), $('#modalDeleteCollecte'), $('#submitDeleteCollecte'))"
            data-id='{{collecte.id}}' data-target='#modalDeleteCollecte' data-toggle='modal'
            class="btn btn-danger btn-action ml-auto">
            Supprimer</a>
    </div>
    <div class="row justify-content-between">
        <a href="{{ path('reference_article_index') }}" data-toggle="modal" class="btn btn-primary btn-action ml-auto">
                Chercher une référence</a>
        <a href="" data-toggle="modal" data-target="#modalNewArticle" onclick="clearNewContent($('#submitNewArticle'))" class="btn btn-primary btn-action ml-auto">
            <span class="fa fa-plus mr-2"></span>Ajouter article</a>
    </div>

</div>
{% endif %}