<div class='row'>
    <div class="col-6">
        <p><strong> Demandeur : </strong> {{ collecte.demandeur.username }}</p>
        <p><strong> Date de demande : </strong>{{ collecte.date ? collecte.date|date('d/m/Y H:i') : '' }}</p>
        <p><strong> Date de validation : </strong>{{ collecte.validationDate ? collecte.validationDate|date('d/m/Y H:i') : ''}}</p>
        <p><strong> Destination : </strong>
            {% if collecte.stockOrDestruct == 1 %}
            Mise en stock
            {% else %}
            Destruction
            {% endif %}
    </div>
    <div class="col-6">
        <p><strong> Objet : </strong>{{ collecte.objet }}</p>
        <p><strong> Statut : </strong> {{ collecte.statut.nom }}</p>
        <p><strong> Point de collecte : </strong> {{ collecte.pointCollecte | capitalize }}</p>
        <p><strong> Type : </strong> {{ collecte.type ? collecte.type.label : '' }}</p>
    </div>

    {% for champLibre in champsLibres %}
        <div class="col-6">
            {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                {% set value = (champLibre.valeur == 1) ? 'oui' : 'non' %}
            {% elseif champLibre.typage == 'list multiple' %}
                {% set value = champLibre.valeur | replace({';' : ','}) %}
            {% else %}
                {% set value = champLibre.valeur %}
            {% endif %}
            <p><strong>{{ champLibre.label|capitalize }} :</strong> {{ value }}</p>
        </div>
    {% endfor %}

    <div class="col-12">
        <p><strong> Commentaire : </strong></p>
        <div class="commentOverflow">
            <p>{{collecte.commentaire|raw}}</p>
        </div>
    </div>
</div>
