<div class="form-group row">
    <label class="col-12" for="date-collecte">Date de la collecte</label>
    <div class="col-12">
        <input type="date" class="form-control data w-100" name="date-collecte" id="dateCollecte"
               value="{{ collecte.date | date('Y-m-d') }}" required="true" min="{{ 'now' | date('Y-m-d') }}"
               max="{{ '+25year' | date('Y-m-d') }}">
    </div>
</div>

<div class="form-group row">
    <label class="col-12" for="objet">Objet de collecte</label>
    <div class="col-12">
        <input type="text" class="form-control data needed w-100" name="objet" id='objet' value="{{ collecte.objet }}"
               placeholder="objet" maxlength="255">
    </div>
</div>

<div class="form-group row">
    <label class="col-12" for="statut">Statut</label>
    <div class="col-12">
        <select class="form-control select2 data w-100" name="statut" disabled>
            <option value="{{ collecte.statut.id }}">{{ collecte.statut.nom }}</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label class="col-12" for="utilisateur">Utilisateur</label>
    <div class="col-12">
        <select class="form-control select2 data w-100" name="demandeur" disabled>
            <option value="{{ collecte.demandeur.id }}">{{ collecte.demandeur.username }}</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label class="col-12" for="Pcollecte">Point de collecte</label>
    <div class="col-12">
        <select class="pointCollecte form-control ajax-autocomplete-location-edit data w-100" name="Pcollecte">
            <option value="{{ collecte.pointCollecte.id }}">{{ collecte.pointCollecte.label }}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label>Destination*</label><br>
    <div class="wii-switch needed" data-title="Destination">
        <input type="radio" name="destination" value="0" content="Destruction" {% if collecte.isDestruct %}checked{% endif %}>
        <input type="radio" name="destination" value="1" content="Mise en stock" {% if collecte.isStock %}checked{% endif %}>
    </div>
</div>

<div class="form-group row">
    <label class="col-12" for="type">Type*</label>
    <div class="col-12">
        <select name="type" class="form-control data d-block type needed col-12" disabled>
            <option value="{{ collecte.type.id }}">{{ collecte.type.label }}</option>
            {% for type in types %}
                {% if collecte.type != type %}
                    <option value="{{ type.id }}">{{ type.label }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>

<!-- CHAMPS LIBRES -->
<span class="toggle-collapsible expanded">Champs libres</span>
<div class="collapsible expanded free-fields-container mb-2">
    {% include 'free_field/freeFieldsViewing.html.twig' with {
        freeFields: freeFieldsGroupedByTypes[collecte.type.id] is defined ? freeFieldsGroupedByTypes[collecte.type.id] : [],
        freeFieldValues: collecte.freeFields,
        colType: 'col-md-4 col-12',
        requiredType: 'requiredEdit',
        actionType: 'edit'
    } %}
</div>

<div class="form-group row">
    <label class="col-12" for="commentaire">Commentaire</label>
    <div class="col-12">
        <input id="commentaire" class="form-control data" name="commentaire" type="hidden"
               value="{{ collecte.commentaire }}">
        <div class="editor-container-edit w-100" value="{{ collecte.commentaire }}">
            {{ collecte.commentaire|raw }}
        </div>
    </div>
</div>
