<div class="form-group">
    <label for="date-collecte">Date de la collecte</label>
    <input type="date" class="form-control data" name="date-collecte" id="dateCollecte"
           value="{{ collecte.date | date('Y-m-d') }}" required="true" min="{{ 'now' | date('Y-m-d') }}"
           max="{{ '+25year' | date('Y-m-d') }}">
</div>

<div class="form-group">
    <label for="objet">Objet de collecte</label>
    <input type="text" class="form-control data needed" name="objet" id='objet' value="{{ collecte.objet }}"
           placeholder="objet" maxlength="255">
</div>

<div class="form-group">
    <label for="statut">Statut</label>
    <select class="form-control select2 data" name="statut" disabled>
        <option value="{{ collecte.statut.id }}">{{ collecte.statut.nom }}</option>
    </select>
</div>

<div class="form-group">
    <label for="utilisateur">Utilisateur</label>
    <select class="form-control select2 data" name="demandeur" disabled>
        <option value="{{ collecte.demandeur.id }}">{{ collecte.demandeur.username }}</option>
    </select>
</div>

<div class="form-group">
    <label for="Pcollecte">Point de collecte</label>
    <select class="pointCollecte form-control ajax-autocompleteEmplacement-edit data" name="Pcollecte">
        <option value="{{ collecte.pointCollecte.id }}">{{ collecte.pointCollecte.label }}</option>
    </select>
</div>
<div class="form-group">
    <div class="input-group radio-btn">
        <label for="Destination">Destination</label>
        <div class="ml-2">
            {% if collecte.stockOrDestruct == 1 %}
                <span class="btn not-active" data-toggle="destination" data-title="0"
                      onclick="toggleRadioButton($(this))">Destruction</span><span class="btn active"
                                                                                   data-toggle="destination"
                                                                                   data-title="1"
                                                                                   onclick="toggleRadioButton($(this))">Mise en stock</span>
            {% endif %}
            {% if collecte.stockOrDestruct == 0 %}
                <span class="btn active" data-toggle="destination" data-title="0"
                      onclick="toggleRadioButton($(this))">Destruction</span><span class="btn not-active"
                                                                                   data-toggle="destination"
                                                                                   data-title="1"
                                                                                   onclick="toggleRadioButton($(this))">Mise en stock</span>
            {% endif %}
        </div>
    </div>

    <input type="number" name="destination" class="d-none data" value="{{ collecte.stockOrDestruct }}"
           id="destination">


</div>

<div class="form-group">
    <label for="type">Type*</label>
    <select name="type" class="form-control data d-block type needed">
        <option value="{{ collecte.type.id }}">{{ collecte.type.label }}</option>
        {% for type in types %}
            {% if collecte.type != type %}
            <option value="{{ type.id }}">{{ type.label }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>

<!-- CHAMPS LIBRES -->
<div class="row mt-4">
    <div class="form-group col-12 blocVisible d-block" id='typeContentEdit'>
        {% for typeChampLibre in typeChampsLibres %}
            <div {{ collecte.type is not empty and typeChampLibre.typeId == collecte.type.id ? "class='d-block'" : "class='d-none'"}}
                    id="{{typeChampLibre.typeId}}-edit">
                <p class="col-12 pl-0">Champs Libres :</p>
                <div class="row mt-2">
                    {% for champLibre in typeChampLibre.champsLibres %}
                        <div class="form-group col-6">
                            <label for="input">{{ champLibre.label | capitalize}}</label>

                            {% if champLibre.typage == 'booleen' %}
                                {% set checked = ((champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : 0) == 1) ? 'checked' : '' %}
                                <label class="switch">
                                    <input type="checkbox" class="data checkbox" {{ checked }}
                                           name="{{ champLibre.id}}">
                                    <span class="slider round"></span>
                                </label>

                            {% elseif  champLibre.typage == 'number' %}
                                <input type="number" id="{{ champLibre.id ~ 'edit'}}" class="form-control data"
                                       value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                                       name="{{ champLibre.id}}" id="input">

                            {% elseif  champLibre.typage == 'list' %}
                                <select class="form-control data" id="{{ champLibre.id ~ 'edit'}}"
                                        name="{{ champLibre.id}}" id="input">
                                    <option value="">aucune selection...</option>
                                    {% for elem in  champLibre.elements %}
                                        {% set selected = elem ==( champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' )? 'selected' : '' %}
                                        <option value="{{elem}}" {{ selected }}>{{elem}}</option>
                                    {% endfor %}
                                </select>

                            {% elseif champLibre.typage == 'text' %}
                                <input type="text" id="{{ champLibre.id ~ 'edit'}}" class="form-control data"
                                       value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                                       name="{{  champLibre.id }}" id="input">

                            {% elseif champLibre.typage == 'date' %}
                                <input type="date" name="{{ champLibre.id }}" id="{{champLibre.id ~ 'edit'}}"
                                       class="form-control data"
                                       value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}">

                            {% else %}
                                <input type="text" id="{{ champLibre.id ~ 'edit'}}" class="form-control data"
                                       value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                                       name="{{  champLibre.id }}" id="input">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="form-group">
    <label for="commentaire">Commentaire</label>
    <input id="commentaire" class="form-control data" name="commentaire" type="hidden"
           value="{{ collecte.commentaire }}">
    <div class="editor-container-edit" value="{{ collecte.commentaire }}"> {{ collecte.commentaire|raw }}
    </div>
</div>