<!-- Modal -->
<form method="" class="modal fade" id="modalNewCollecte" role="dialog" aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Demande de collecte</h5>
                <button type="div" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="form-group">
                    <label for="demandeur">Demandeur</label>
                    <select class="demandeur form-control data" name="demandeur" disabled>
                        <option value="{{ app.user.id }}">{{ app.user.username }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Objet">Objet*</label>
                    <input type="text" class="objet form-control data needed" name="Objet"
                           placeholder="Renseigner un objet..." maxlength="255">
                </div>
                <div class="form-group w-100 ">
                    <label for="Pcollecte">Point de collecte*</label>
                    <select class="ajax-autocompleteEmplacement form-control data needed" name="emplacement">
                    </select>
                </div>

                <div class="form-group">
                    <label>Destination*</label><br>
                    <div class="wii-switch needed" data-title="Destination">
                        <input type="radio" name="destination" value="0" content="Destruction">
                        <input type="radio" name="destination" value="1" content="Mise en stock">
                    </div>
                </div>

                <div class="form-group">
                    <label for="type">Type*</label>
                    <select name="type" class="form-control data d-block type needed"
                            onclick="typeChoice($(this), '-new')"
                            onchange="toggleRequiredChampsLibres($(this),'create')">
                        <option value="">Type à choisir...</option>
                        {% for type in types %}
                            <option value="{{ type.id }}">{{ type.label }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- CHAMPS LIBRES -->
                <span class="toggle-collapsible expanded">Champs libres</span>
                <div class="collapsible expanded free-fields-container mb-2">
                    {% for type in typeChampsLibres %}
                        <div class="d-none" id="{{ type.typeId }}-new">
                            {% include 'free_field/freeFieldsViewing.html.twig' with {
                                freeFields: type.champsLibres,
                                freeFieldValues: [],
                                colType: 'col-12',
                                requiredType: 'requiredCreate',
                                actionType: 'new'
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="commentaire">Commentaire</label>
                    <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden" max="200">
                    <div class="editor-container" id='editor-container'>
                    </div>
                </div>
            </div>
            <div class="error-msg"></div>
            <div class="modal-footer">
                <div type="div" class="btn" data-dismiss="modal">Annuler</div>
                <div id="submitNewCollecte" type="div" class="btn btn-success">Enregistrer</div>
            </div>
        </div>
    </div>
</form>
