<!-- Modal -->
<form method="" class="modal fade" id="dataModalCenter" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Demande de collecte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="form-group">
                    <label for="Demandeur">Demandeur</label>
                    <select type="text" class="form-control data select2" name="Demandeur"
                        placeholder="N°Arrivage">
                        {% for utilisateur in utilisateurs %}
                            <option value="{{ utilisateur.Id }}">
                                {{ utilisateur.Username }}
                            </option>
                        {% endfor %}
                        </select>
                </div>
    
                <div class="form-group">
                    <label for="Objet">Objet</label>
                    <input type="text" class="form-control data" name="Objet" placeholder="Objet">
                </div>
    
                <div class="form-group">
                    <label for="Pcollecte">Point de collecte</label>
                    <select class="form-control select2 data" name="Pcollecte">
                    {% for emplacement in emplacements %}
                            <option value="{{ emplacement.Id }}">
                                {{ emplacement.nom }}
                            </option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitButton" data-dismiss="modal" class="btn btn-primary btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>

{% block javascript %}
<script>

var dataModal = document.getElementById("dataModalCenter");
var ButtonSubmit = document.getElementById("submitButton");

ButtonSubmit.addEventListener("click", function () {
xhttp = new XMLHttpRequest();

xhttp.onreadystatechange = function() 
{
    if (this.readyState == 4 && this.status == 200) 
    {
        table.ajax.reload(function ( json ) {
             $('#myInput').val( json.lastInput );
        });
    }
};

    let inputs = document.querySelectorAll(".data"); // On récupère tout les inputs qui nous intéresse avec le querySelectorAll
    let Data = []; // Tableau de données

    inputs.forEach(input => { // Pour chaque input on fait un tableau avec pour clé son nom et comme valeur la valeur dans l'input
        Data.push({ [input.name] : input.value });
        console.log(input);
    });

    Json = JSON.stringify(Data); // On transforme les données en JSON
    xhttp.open("POST", "{{ path('collecte_create') }}", true);
    xhttp.send(Json);
});
</script>
{% endblock %}