{% extends 'layout.html.twig' %}

{% block title %}Demande | Collecte | Détails{% endblock %}
{% block titleLink path('collecte_index') %}

{% block page_content %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "collecte/collecte-show-header.html.twig" with {
                        modifiable: modifiable,
                        collecte: collecte,
                        showDetails: detailsConfig,
                        titleLogo: collecte.ordresCollecte|filter(oc => oc.pairings|length>=1)|length>=1 ? 'pairing' : null,
                        titleLogoTooltip : "Cette demande de collecte est liée à un capteur",
                        hasPairings: hasPairings
                    } %}
                </div>
            </div>
        </div>
        <div class="wii-box">
            <div class="header wii-title">Liste des articles</div>
            {% if modifiable and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) %}
            <div class="content">
                <div class="row wii-page-card-header">
                    <div class="col-auto ml-auto">
                        <div class="btn-group">
                            <button type="button" data-toggle="modal" data-target="#modalNewArticle"
                                    onclick="clearModal('#modalNewArticle'); Select2Old.articleReference($('#reference'))"
                                    class="btn btn-primary split-button d-flex align-items-center">
                                <span class="wii-icon wii-icon-plus mr-2"></span>Ajouter article
                            </button>
                            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <div class="dropdown-menu dropdown-follow-gt pointer dropdown-menu-right">
                                <a href="{{ path('reference_article_index') }}"
                                   class="dropdown-item"
                                   title="Chercher une référence">
                                    <i class="fa fa-search mr-2"></i>
                                    Chercher une {{ trans('Stock', 'Références', 'référence', false) }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="p-3">
                    <table id="tableArticle_id" class="table"></table>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-secondary" id="cannotValidate" data-target='#modalCannotValidate' data-toggle='modal' hidden></button>
    </div>

    {% include "collecte/modalNewArticle.html.twig" %}
    {% include "collecte/modalDeleteArticle.html.twig" %}
    {% include "collecte/modalEditArticle.html.twig" %}
    {% include "collecte/modalDeleteCollecte.html.twig" %}
    {% include 'collecte/modalCannotValidate.html.twig' %}
    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}
    {% include 'collecte/modalEditCollecte.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let id = {{ collecte.id }};
    </script>
    <script src="{{ asset('js/pages/collect/request/show.js') }}?v={{ web_version }}"></script>

{% endblock %}
