{% extends 'layout.html.twig' %}

{% block title %}Demande de collecte{% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col">
            <h1>Demande de collecte n° {{ collecte.numero }}</h1>
        </div>
        <div class="col text-right" id='boutonCollecteSup'>
            {% if modifiable %}
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE')) %}
                    <a href="" onclick="deleteRow($(this), $('#modalDeleteCollecte'), $('#submitDeleteCollecte'))"
                       data-id='{{ collecte.id }}' data-target='#modalDeleteCollecte' data-toggle='modal'
                       class="btn btn-danger btn-action ml-auto">
                        Supprimer</a>
                {% endif %}
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) %}
                    <a href="#" data-id='{{ collecte.id }}' data-target='#modalEditCollecte' data-toggle='modal'
                       onclick="editRow($(this), Routing.generate('collecte_api_edit', true), $('#modalEditCollecte'), $('#submitEditCollecte'), true, '#modalEditCollecte .editor-container-edit')"
                       class="btn btn-primary btn-action ml-auto">
                        Modifier</a>
                {% endif %}
                {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                    <a href="#" onclick="validateCollecte({{ collecte.id }})"
                       class="btn btn-primary btn-action ml-auto">Valider</a>
                {% endif %}
            {% else %}
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_COLL')) %}
                    <div class=" text-right">
                        {% if collecte.ordresCollecte|length > 1 %}
                            <a href="{{ path('ordre_collecte_index', {'demandId': collecte.id}) }}"
                               class="btn btn-primary btn-action">
                                Aller vers les ordres de collecte
                            </a>
                        {% else %}
                            <a href="{{ path('ordre_collecte_show', {'id': collecte.ordresCollecte[0].id }) }}"
                               class="btn btn-primary btn-action ml-auto">
                                Aller vers l'ordre de collecte
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="zone-entete col-6 row">
            {% include "collecte/enteteCollecte.html.twig" %}
        </div>
    </div>
    {% if modifiable %}
        <div class="col text-right" id='boutonCollecteInf'>
            <a href="{{ path('reference_article_index') }}" data-toggle="modal"
               class="btn btn-primary btn-action ml-auto">
                {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_CEA_LETI')) %}
                    Chercher une référence CEA
                {% else %}
                    Chercher une référence
                {% endif %}
            </a>
            {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) %}
                <a href="" data-toggle="modal" data-target="#modalNewArticle"
                   onclick="clearDiv(), ajaxAutoRefArticleInit($('#reference'))"
                   class="btn btn-primary btn-action ml-auto">
                    <span class="fa fa-plus mr-2"></span>Ajouter article
                </a>
            {% endif %}
        </div>
    {% endif %}


    <table id="tableArticle_id" class="table table-striped table-bordered w-100" data-collecte-id="{{ collecte.id }}">
    </table>

    <a href="{{ path('collecte_index') }}" class='btn btn-action'>Retour à la liste</a>
    <button class="btn" id="cannotValidate" data-target='#modalCannotValidate' data-toggle='modal' hidden></button>
    <div class="d-none" id="barcodes"></div>

    {% include "collecte/modalNewArticle.html.twig" %}
    {% include "collecte/modalDeleteArticle.html.twig" %}
    {% include "collecte/modalEditArticle.html.twig" %}
    {% include "collecte/modalDeleteCollecte.html.twig" %}
    {% include "collecte/modalEditCollecte.html.twig" %}
    {% include 'collecte/modalCannotValidate.html.twig' %}
    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let id = {{ collecte.id }};
    </script>
    <script src="{{ asset('js/collecte.js') }}?{{ date().timestamp }}"></script>

{% endblock %}
