{% import 'form.html.twig' as form %}
{% extends 'securite/unique-form-layout.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    {{ parent() }}


    <div class="container-fluid">
        <div class="main-form-wrapper mt-3">
            <div class="row">
                <div class="box-login wii-page-card">
                    <div class="login-header">
                        Modification de votre mot de passe
                    </div>
                    <div class="password-container">
                        {{ form.input('token', '', false, token, {
                            labelClass: 'd-none',
                            type: 'hidden'
                        }) }}

                        {{ form.input('password', 'Nouveau mot de passe', true, '', {
                            type: 'password',
                            additionalAttributes: [{
                                name: 'maxLength',
                                value: '64'
                            }]
                        }) }}

                        {{ form.input('password2', 'Confirmation du mot de passe', true, '', {
                            type: 'password',
                            labelClass: 'mt-2',
                            additionalAttributes: [{
                                name: 'maxLength',
                                value: '64'
                            }]
                        }) }}
                    </div>
                    <div class="error-msg d-none mt-3"></div>
                    <div class="d-flex justify-content-between mt-3">
                        <a class="btn btn-outline-secondary" href="{{ url('login') }}">Retour connexion</a>
                        <button type="button" class="btn btn-success" onclick="editPassword($(this))">
                            Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/securite.js') }}?v={{ web_version }}"></script>
{% endblock %}
