{% extends 'securite/unique-form-layout.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    {{ parent() }}


    <div class="container-fluid">
        <div class="main-form-wrapper mt-3">
            <div class="row">
                <div class="box-login wii-page-card">
                    <div class="login-header">
                        Modification de votre mot de passe
                    </div>

                    <input hidden type="password" id="token" value="{{ token }}" class="form-control data needed input" name="password" maxlength="64" disabled>
                    <div class="form-group needed">
                        <label for="password">Nouveau mot de passe</label>
                        <input type="password" id="password" class="form-control data needed input" name="password" maxlength="64">
                    </div>
                    <div class="form-group needed">
                        <label for="password2">Confirmation du mot de passe</label>
                        <input type="password" id="password2" class="form-control data needed input" name="password2" maxlength="64">
                    </div>
                    <div class="error-msg p-4"></div>
                    <div class="modal-footer" >
                        <a class="btn" href="{{ url('login') }}">Retour connexion</a>
                        <button type="button" class="btn btn-success" onclick="editPassword()">
                            Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/securite.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
