{% extends 'securite/unique-form-layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        {% if error %}
            {% include 'utils/alert.html.twig' with {
                id: 'alert-error',
                content: ('<strong>Erreur !</strong>&nbsp;' ~ error),
                color: 'danger'
            } %}
        {% endif %}
        {% if info %}
            {% include 'utils/alert.html.twig' with {
                id: 'alert-info',
                content: info,
                color: 'success'
            } %}
        {% endif %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            {% if flashMessage is defined %}
                {% include 'utils/alert.html.twig' with {
                    id: ('alert-success-' ~ loop.index),
                    content: flashMessage,
                    color: 'success'
                } %}
            {% endif %}
        {% endfor %}

        <div class="main-form-wrapper mt-3">
            <div class="row">
                <div class="box-login wii-page-card">
                    <div class="col-md-12 login-header">
                        Connexion
                    </div>
                    <form class="form-signin " action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <label for="inputEmail" class="form-control-label">Adresse email</label>
                            <input type="text" id="inputEmail" name="_username" class="form-control"
                                required="required" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="form-control-label">Mot de Passe</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control" aria-describedby="passwordHelp" required="required">
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <a class="btn" href="{{ url('register') }}">Créer un compte</a>
                            <button type="submit" class="btn btn-primary float-left">Connexion</button>
                        </div>
                        <a class="btn" href="{{ path('forgotten') }}">Mot de passe oublié ?</a>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                    <div class="messageChrome">
                        <span class="fas fa-exclamation-triangle"></span>
                        Cette application est uniquement compatible avec le navigateur Google Chrome.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/pages/login.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
