{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <div class="row">
            <div class="col-md-12 login-header">
                Créer un compte
            </div>
        </div>

        <div class="row">
            <div class="box-login box-shadow">
                <div class="form-signin login-form">
                    {{ form_start(form) }}
                    {{ form_row(form.username, {'attr': {'autofocus' : true} }) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}

                    <button class="btn btn-primary float-left" type="submit">Enregistrer</button>
                    <a class="btn float-right" href="{{ url('login') }}">retour page de connexion</a>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest' : false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}