{% extends 'securite/unique-form-layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        {% include 'utils/alert.html.twig' with {
            id: 'alert-success',
            show: false,
            color: 'success'
        } %}

        <div class="main-form-wrapper mt-3">
            <div class="row">
                <div class="box-login wii-page-card">
                    <div class="login-header">
                        Mot de passe oublié
                    </div>
                    <div class="form-signin">
                        <div class="form-group">
                            <label for="inputEmail" class="form-control-label">Adresse email</label>
                            <input type="text" id="inputEmail" name="_username" class="form-control" required="required"
                                autofocus="autofocus">
                        </div>
                        <div class="form-group float-right">
                            <a class="btn btn-secondary" href="{{ url('login') }}">Retour connexion</a>
                            <span class="btn btn-primary" onclick="checkIfUserExists()">Valider</span>
                        </div>
                        <div class="form-group float-left">
                            <p class="row error-msg p-3"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/securite.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
