{% import 'form.html.twig' as form %}
{% extends 'securite/unique-form-layout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="main-form-wrapper mt-3">
            <div class="row">
                <div class="box-login wii-page-card">
                    <div class="login-header">
                        Mot de passe oublié
                    </div>
                    <div class="form-signin">
                        {{ form.input('email', 'Adresse email', true) }}
                        <div class="form-group float-right mt-3">
                            <a class="btn btn-outline-secondary" href="{{ url('login') }}">Retour connexion</a>
                            <button class="btn btn-success" onclick="checkIfUserExists($(this))">Valider</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'alerts-container.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/securite.js') }}?v={{ web_version }}"></script>
{% endblock %}
