<div class="row">
    <p class="col-12 white">
        Dashboard | RÉCEPTION QUAI
    </p>
</div>
<div class="row mt-2">
    <div class="col-10 row">
        <div class="col-7 dashboard-box-wrapper third-height">
            <div class="dashboard-box">
                <p class="title">
                    Arrivages quotidiens<br>
                </p>
                {% if not isDashboardExt %}
                    <div class="points">
                        <i
                            class="fa fa-question has-tooltip"
                            title="{{ 'arrivage.arrivages'|trans|capitalize }} et nombre {{ 'arrivage.de colis'|trans }} réceptionnés par jour."></i>
                    </div>
                {% endif %}
                <div style="height: 70% !important;">
                    <canvas id="chartDailyArrival" width="300" height="90"></canvas>
                </div>
                <div class="custom-chart-legend">
                </div>
            </div>
        </div>
        <div class="col-5 dashboard-box-wrapper third-height">
            <div class="dashboard-box">
                <p class="title">
                    Arrivages hebdomadaires<br>
                </p>
                {% if not isDashboardExt %}
                    <div class="points">
                        <i
                            class="fa fa-question has-tooltip"
                            title="{{ 'arrivage.arrivages'|trans|capitalize }} et nombre de colis réceptionnés par semaine."></i>
                    </div>
                {% endif %}
                <div style="height: 70% !important;">
                    <canvas id="chartWeeklyArrival" width="300" height="90"></canvas>
                </div>
                <div class="custom-chart-legend">
                </div>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height">
            <div id="encours-dock-box" class="dashboard-box text-center justify-content-around">
                <p class="p-0">
                    Colis restant à traiter<br>
                    <span class="location-label"></span>
                </p>
                <p class="big-font figure counter pt-3"></p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height">
            <div id="encours-clearance-box-dock" class="dashboard-box text-center justify-content-around ">
                <p class="p-0">
                    Colis en attente dédouanement<br>
                    <span class="location-label"></span>
                </p>
                <p class="big-font figure counter"></p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height">
            <div id="encours-cleared-box" class="dashboard-box text-center justify-content-around">
                <p class="p-0">
                    Colis dédouanés et dispo<br>
                    <span class="location-label"></span>
                </p>
                <p class="big-font figure counter"></p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height">
            <div id="remaining-urgences-box-dock" class="dashboard-box text-center justify-content-around">
                <p class="p-0">
                    Urgences restant à recevoir
                </p>
                <p class="big-font figure red counter pt-3"></p>
            </div>
        </div>
        <div class="col-3 dashboard-box-wrapper fourth-height align-self-start">
            <div id="encours-dropzone-box" class="dashboard-box text-center justify-content-around">
                <p class="p-0">
                    Colis à déposer en Drop Zones<br>
                    <span class="location-label"></span>
                </p>
                <p class="big-font figure counter"></p>
            </div>
        </div>
        <div class="col-9 dashboard-box-wrapper third-height">
            <div class="dashboard-box">
                <p class="title">
                    Nombre de {{ 'arrivage.colis'|trans }} distribués en Drop zone<br>
                </p>
                {% if not isDashboardExt %}
                    <div class="points">
                        <i
                            class="fa fa-question has-tooltip"
                            title="{{ 'arrivage.colis'|trans|capitalize }} actuellement présents sur l'emplacement drop zone (paramétrable)."></i>
                    </div>
                {% endif %}
                <div class="h-100">
                    <canvas id="chartColis" width="300" height="90"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="title">
                    Suivi des transporteurs<br>
                </p>
                {% if not isDashboardExt %}
                    <div class="points">
                        <i
                            class="fa fa-question has-tooltip"
                            title="Transporteurs ayant effectué un {{ 'arrivage.arrivage'|trans }} aujourd'hui."></i>
                    </div>
                {% endif %}
                <div class="little-font" id="statistics-arrival-carriers"></div>
            </div>
        </div>
    </div>
</div>
