{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper pl-0 bg-primary-followgt">
    <div class="dashboard-ext">
        <input type="hidden" id="isDashboardExt" value="1"/>
        <input type="hidden" id="dashboard-name" value="{{ page }}"/>
        <div class="header-container header-ext">
            {% include 'header.html.twig' with { 'isDashboardExt': 1 } %}
        </div>
        <div class="col-12">
            <div class="col-auto pr-4 refresh-date-container little-font text-right d-none font-weight-bold">
                Actualisé le : <span class="refreshDate"></span>
            </div>

            {% if page == 'quai' or page == 'admin' or page == 'emballage' %}
            <div id="dashboard-data" data-data="{{ pageData|json_encode() }}"></div>
                {% if page == 'quai' %}
                    {% include 'accueil/dashboardDockReception.html.twig' with { 'isDashboardExt': 1 } %}
                {% elseif page == 'admin' %}
                    {% include 'accueil/dashboardAdminReception.html.twig' with { 'isDashboardExt': 1 } %}
                {% elseif page == 'emballage' %}
                    {% include 'accueil/dashboardMonitoringPackaging.html.twig' with { 'isDashboardExt': 1 } %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
