<input type="hidden" class="page-title" value="Dashboard | RÉCEPTION QUAI"/>
<div class="col-12">
    <div class="row align-items-start">
        <div class="col-10">
            <div class="row">
                <div class="col-6 mt-3 dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} third-height">
                    <div class="dashboard-box d-flex justify-content-start">
                        <p class="title {{ isDashboardExt ? 'bold ext-title-font' }}">Arrivages quotidiens</p>
                        {% if not isDashboardExt %}
                            <div class="points">
                                <i class="fa fa-question has-tooltip"
                                   title="{{ 'arrivage.arrivages'|trans }} et nombre {{ 'arrivage.de colis'|trans }} réceptionnés par jour.">
                                </i>
                            </div>
                        {% endif %}
                        <div class="h-100">
                            <canvas id="chartDailyArrival" width="300" height="90"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-3 dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} third-height">
                    <div class="dashboard-box {{ isDashboardExt ? 'dashboard-box-ext' }} d-flex justify-content-start">
                        <p class="title {{ isDashboardExt ? 'bold ext-title-font' }}">Arrivages hebdomadaires</p>
                        {% if not isDashboardExt %}
                            <div class="points">
                                <i class="fa fa-question has-tooltip"
                                   title="{{ 'arrivage.arrivages'|trans }} et nombre de colis réceptionnés par semaine."></i>
                            </div>
                        {% endif %}
                        <div class="h-100">
                            <canvas id="chartWeeklyArrival" width="300" height="90"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  padding-vec">
                    <div class="row">
                        <div class="col-3 px-3">
                            <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                                <div id="encours-dock-box" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                                    <div>
                                        <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font' }} p-0 ">
                                            Colis restant à traiter
                                        </p>
                                        <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' }}"></div>
                                    </div>
                                    <div class="align-items-center {{ isDashboardExt ? 'pb-1' }}">
                                        <p class="figure counter {{ isDashboardExt ? 'big-font pt-0 pb-3 ' : 'pb-0 pt-3' }}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 px-3">
                            <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                                <div id="encours-clearance-box-dock" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                                    <div>
                                        <p class="text-center title  {{ isDashboardExt ? 'bold ext-title-font pt-0' : 'pt-3'}}">
                                            Colis en attente de dédouanement
                                        </p>
                                        <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' }}"></div>
                                    </div>
                                    <div class="align-items-center">
                                        <p class="figure counter pt-0 pb-3 {{ isDashboardExt ? 'big-font' }}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 px-3">
                            <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                                <div id="encours-cleared-box" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                                    <div>
                                        <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font' }} p-0 ">
                                            Colis dédouanés et dispo</p>
                                        <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' }}"></div>
                                    </div>
                                    <div class="align-items-center {{ isDashboardExt ? 'pb-4' }}">
                                        <p class="figure counter {{ isDashboardExt ? 'big-font pb-3 pt-0' : 'pt-3 pb-0' }}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 px-3">
                            <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                                <div id="remaining-urgences-box-dock" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                                    <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font' }} p-0 ">
                                        Urgences à recevoir
                                    </p>
                                    <div class="align-items-center">
                                        <p class="figure counter {{ isDashboardExt ? 'big-font pb-0': 'pt-4 pb-0 ' }}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 px-3">
                    <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                        <div id="encours-dropzone-box" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                            <div>
                                <p class="text-center title pt-0 {{ isDashboardExt ? 'bold ext-title-font' }}">
                                    Colis à déposer en Drop Zones
                                </p>
                                <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' }}"></div>
                            </div>
                            <div class="align-items-center {{ isDashboardExt ? 'pb-0' }}">
                                <p class="figure counter pb-0 pt-0 {{ isDashboardExt ? 'big-font'}}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9 dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext'}} third-height">
                    <div class="dashboard-box {{ isDashboardExt ? 'dashboard-box-ext' }}">
                        <p class="title {{ isDashboardExt ? 'bold ext-title-font' }}">
                            Nombre de {{ 'arrivage.colis'|trans }} distribués en Drop zone<br>
                        </p>
                        {% if not isDashboardExt %}
                            <div class="points">
                                <i class="fa fa-question has-tooltip"
                                   title="{{ 'arrivage.colis'|trans }} actuellement présents sur l'emplacement drop zone (paramétrable).">
                                </i>
                            </div>
                        {% endif %}
                        <div class="h-100">
                            <canvas id="chartColis" width="300" height="90"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 mt-3 dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }}">
            <div class="dashboard-box {{ isDashboardExt ? 'dashboard-box-ext' }} dashboard-box-list">
                <div class="title {{ isDashboardExt ? 'ext-title-font text-center bold' }}">
                    Suivi des transporteurs
                </div>
                {% if not isDashboardExt %}
                    <div class="points">
                        <i class="fa fa-question has-tooltip ml-1"
                           title="Transporteurs ayant effectué un {{ 'arrivage.arrivage'|trans }} aujourd'hui."></i>
                    </div>
                {% endif %}
                <ul class="text-center" id="statistics-arrival-carriers"></ul>
            </div>
        </div>
    </div>
</div>