<input type="hidden" class="page-title" value="Dashboard | RÉCEPTION ADMINISTRATIVE"/>
<div class="col-12">
    <div class="row">
        <div class="col-12 {{ isDashboardExt ? 'mt-3'}}">
            <div class="row">
                <div class="col-9 dashboard-box-container third-height {{ not isDashboardExt ? 'pr-2'}}">
                    <div class="dashboard-box">
                        <p class="title {{ isDashboardExt ? 'bold' }}">
                            Entrées à effectuer
                            {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
                                Composant
                            {% endif %}
                        </p>
                        {% if not isDashboardExt %}
                            <div class="points has-tooltip"
                                 title="Nombre {{ 'arrivage.de colis'|trans }} (de nature paramétrée pour le graphe 1)
                            présents depuis < 48h sur l'ensemble des emplacements paramétrés pour le graphe 1.">
                                <i class="fa fa-question"></i>
                            </div>
                        {% endif %}
                        <div class="h-100">
                            <canvas id="chartFirstForAdmin" width="300" height="90"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex flex-column justify-content-between {{ not isDashboardExt ? 'pl-2'}}">
                    <div>
                        <div class="dashboard-box-container side-panels">
                            <div class="dashboard-box dashboard-stats-container">
                                {% if not isDashboardExt %}
                                    <div class="points">
                                        <i class="fa fa-question has-tooltip"
                                           title="Nombre {{ 'arrivage.de colis'|trans }} présents
                                    sur l'emplacement paramétré sur le graphe 1 ayant
                                    l'encours de nature paramétrée pour le graphe 1 le plus ancien.">
                                        </i>
                                    </div>
                                {% endif %}
                                <p class="text-center title">
                                    Nombre de lignes à traiter
                                </p>
                                <div class="text-center">
                                    <p id="totalForChart1" class="dashboard-stats dashboard-stats-counter bold"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="dashboard-box-container side-panels">
                            <div class="dashboard-box dashboard-stats-container text-center">
                                {% if not isDashboardExt %}
                                    <div class="points">
                                        <i class="fa fa-question has-tooltip"
                                           title="Emplacement paramétré sur le graphe 1
                                          ayant l'encours de nature pour le graphe 1 paramétrée le plus ancien.">
                                        </i>
                                    </div>
                                {% endif %}
                                <p class="text-center title {{ not isDashboardExt ? 'px-3' }}">
                                    Prochain emplacement à traiter
                                </p>
                                <div class="d-flex align-items-center justify-content-center"
                                     style="height: inherit;">
                                    <div class="dashboard-stats dashboard-stats-label" id="empForChart1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-9 dashboard-box-container third-height {{ not isDashboardExt ? 'pr-2'}}">
                    <div class="dashboard-box">
                        <p class="title">
                            Entrées à effectuer
                            {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
                                Méca
                            {% endif %}
                        </p>
                        {% if not isDashboardExt %}
                            <div class="points">
                                <i class="fa fa-question has-tooltip"
                                   title="Nombre {{ 'arrivage.de colis'|trans }} (de natures paramétrées pour le graphe 2) présents depuis < 48h sur l'ensemble des emplacements paramétrés pour le graphe 2.">
                                </i>
                            </div>
                        {% endif %}
                        <div class="h-100">
                            <canvas id="chartSecondForAdmin" width="300" height="90"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex flex-column justify-content-between {{ not isDashboardExt ? 'pl-2'}}">
                    <div>
                        <div class="dashboard-box-container side-panels ">
                            <div class="dashboard-box dashboard-stats-container">
                                {% if not isDashboardExt %}
                                    <div class="points">
                                        <i class="fa fa-question has-tooltip"
                                           title="Nombre {{ 'arrivage.de colis'|trans }} présents
                                        sur l'emplacement paramétré sur le graphe 2 ayant l'encours
                                        de nature paramétrée pour le graphe 2 le plus ancien.">
                                        </i>
                                    </div>
                                {% endif %}
                                <p class="text-center title">
                                    Nombre de lignes à traiter
                                </p>
                                <div class="text-center">
                                    <p id="totalForChart2" class="dashboard-stats dashboard-stats-counter bold"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="dashboard-box-container side-panels">
                            <div class="dashboard-box dashboard-stats-container">
                                {% if not isDashboardExt %}
                                    <div class="points">
                                        <i class="fa fa-question has-tooltip"
                                           title="Emplacement paramétré sur le graphe 2
                                          ayant l'encours de nature paramétrée pour le graphe 2 le plus ancien.">
                                        </i>
                                    </div>
                                {% endif %}
                                <p class="text-center title {{ not isDashboardExt ? 'px-3' }}">
                                    Prochain emplacement à traiter
                                </p>
                                <div class="d-flex align-items-center justify-content-center"
                                     style="height: inherit;">
                                    <p class="dashboard-stats dashboard-stats-label" id="empForChart2"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-3 {{ not isDashboardExt ? 'pr-2'}}">
                    <div class="dashboard-box-container fourth-height">
                        <div id="remaining-urgences-box-admin" class="dashboard-box dashboard-stats-container text-center">
                            <p class="text-center title">
                                Urgences à recevoir
                            </p>
                            <div class="align-items-end justify-content-center">
                                <p class="dashboard-stats dashboard-stats-counter"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 {{ not isDashboardExt ? 'px-2'}}">
                    <div class="dashboard-box-container fourth-height">
                        <div id="encours-urgence-box" class="dashboard-box text-center dashboard-stats-container">
                            <div>
                                <p class="text-center title">
                                    <i class="fas"></i>
                                    Urgences à traiter
                                    <i class="fas"></i>
                                </p>
                                <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                            </div>
                            <div class="align-items-center">
                                <p class="dashboard-stats dashboard-stats-counter"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 {{ not isDashboardExt ? 'px-2'}}">
                    <div class="dashboard-box-container fourth-height">
                        <div id="encours-litige-box" class="dashboard-box text-center dashboard-stats-container">
                            <div>
                                <p class="text-center title">
                                    Lignes en litiges
                                </p>
                                <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                            </div>
                            <div class="align-items-center">
                                <p class="dashboard-stats dashboard-stats-counter"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 {{ not isDashboardExt ? 'pl-2'}}">
                    <div class="dashboard-box-container fourth-height">
                        <div id="encours-clearance-box-admin" class="dashboard-box text-center dashboard-stats-container">
                            <div>
                                <p class="text-center title">
                                    Colis en attente de dédouanement
                                </p>
                                <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                            </div>
                            <div class="align-items-center">
                                <p class="dashboard-stats dashboard-stats-counter"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
