<div class="row">
    <p class="col-12 white mb-1">
        Dashboard | RÉCEPTION QUAI
    </p>
</div>
<div class="row align-items-start">
    <div class="col-10">
        <div class="row">
            <div class="col-6 mb-2 dashboard-box-wrapper">
                <div class="dashboard-box d-flex justify-content-start">
                    <p class="title {% if isDashboardExt %} medium-font dashBoardExtTitle {% endif %}">
                        Arrivages quotidiens<br>
                    </p>
                    {% if not isDashboardExt %}
                        <div class="points">
                            <i class="fa fa-question has-tooltip"
                               title="{{ 'arrivage.arrivages'|trans }} et nombre {{ 'arrivage.de colis'|trans }} réceptionnés par jour.">
                            </i>
                        </div>
                    {% endif %}
                    <div style="height: 70% !important;">
                        <canvas id="chartDailyArrival" width="300" height="90"></canvas>
                    </div>
                    <div class="custom-chart-legend">
                    </div>
                </div>
            </div>
            <div class="col-6 dashboard-box-wrapper third-height">
                <div class="dashboard-box d-flex justify-content-start">
                    <p class=" title {% if isDashboardExt %} medium-font dashBoardExtTitle {% endif %}">
                        Arrivages hebdomadaires<br>
                    </p>
                    {% if not isDashboardExt %}
                        <div class="points">
                            <i
                                    class="fa fa-question has-tooltip"
                                    title="{{ 'arrivage.arrivages'|trans }} et nombre de colis réceptionnés par semaine."></i>
                        </div>
                    {% endif %}
                    <div style="height: 70% !important;">
                        <canvas id="chartWeeklyArrival" width="300" height="90"></canvas>
                    </div>
                    <div class="custom-chart-legend">
                    </div>
                </div>
            </div>
            <div class="col-3 mt-1 dashboard-box-wrapper fourth-height">
                <div id="encours-dock-box" class="dashboard-box text-center justify-content-between">
                    <p class="text-center {% if isDashboardExt %} dashBoardExtTitle medium-font{% endif %}">
                        Colis restant à traiter<br>
                        <span class="location-label ellipsis"></span>
                    </p>
                    <div class="d-flex align-items-center justify-content-center"
                         style="height: inherit;">
                        <p class="big-font figure counter pt-3"></p>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-1 dashboard-box-wrapper fourth-height">
                <div id="encours-clearance-box-dock" class="dashboard-box text-center justify-content-between">
                    <p class="text-center {% if isDashboardExt %} dashBoardExtTitle medium-font{% endif %}">
                        Colis en attente dédouanement<br>
                        <span class="location-label ellipsis"></span>
                    </p>
                    <div class="d-flex align-items-center justify-content-center"
                         style="height: inherit;">
                        <p class="big-font figure counter"></p>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-1 dashboard-box-wrapper fourth-height">
                <div id="encours-cleared-box" class="dashboard-box text-center justify-content-between">
                    <p class="text-center {% if isDashboardExt %} dashBoardExtTitle medium-font{% endif %}">
                        Colis dédouanés et dispo<br>
                        <span class="location-label ellipsis"></span>
                    </p>
                    <div class="d-flex align-items-center justify-content-center"
                         style="height: inherit;">
                        <p class="big-font figure counter"></p>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-1 dashboard-box-wrapper fourth-height">
                <div id="remaining-urgences-box-dock" class="dashboard-box text-center justify-content-between">
                    <p class="text-center {% if isDashboardExt %} dashBoardExtTitle medium-font{% endif %}">
                        Urgences restant à recevoir
                    </p>
                    <div class="d-flex align-items-center justify-content-center"
                         style="height: inherit;">
                        <p class="big-font figure red counter pt-3"></p>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-2 dashboard-box-wrapper fourth-height align-self-start">
                <div id="encours-dropzone-box" class="dashboard-box text-center justify-content-between">
                    <p class="text-center {% if isDashboardExt %} dashBoardExtTitle medium-font{% endif %}">
                        Colis à déposer en Drop Zones<br>
                        <span class="location-label ellipsis"></span>
                    </p>
                    <div class="d-flex align-items-center justify-content-center"
                         style="height: inherit;">
                        <p class="big-font figure counter"></p>
                    </div>
                </div>
            </div>
            <div class="col-9 mt-2 dashboard-box-wrapper third-height">
                <div class="dashboard-box">
                    <p class=" title {% if isDashboardExt %} medium-font dashBoardExtTitle {% endif %}">
                        Nombre de {{ 'arrivage.colis'|trans }} distribués en Drop zone<br>
                    </p>
                    {% if not isDashboardExt %}
                        <div class="points">
                            <i
                                    class="fa fa-question has-tooltip"
                                    title="{{ 'arrivage.colis'|trans }} actuellement présents sur l'emplacement drop zone (paramétrable)."></i>
                        </div>
                    {% endif %}
                    <div class="h-100">
                        <canvas id="chartColis" width="300" height="90"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 dashboard-box-wrapper">
        <div class="dashboard-box">
            <p class="title">Suivi des transporteurs</p>
            {% if not isDashboardExt %}
                <div class="points">
                    <i class="fa fa-question has-tooltip ml-1"
                       title="Transporteurs ayant effectué un {{ 'arrivage.arrivage'|trans }} aujourd'hui."></i>
                </div>
            {% endif %}
            <div class="text-center" id="statistics-arrival-carriers"></div>
        </div>
    </div>
</div>
