{% extends 'layout.html.twig' %}

{% block page_content %}
    <div class="row">
        <div id="dashboard-arrival" class="col-6 dashboard-box">
            <h1>Arrivage (UM)</h1>
            <div class="chart"></div>
            <div class="spinner-border"></div>
            <div class="range-buttons">
                <div class="btn btn-primary" onclick="changeCurrentWeek(false, 'dashboard-arrival')"><</div>
                <span class="firstDay" data-day="{{ firstDayOfWeek }}">{{ firstDayOfWeek }} - </span>
                <span class="lastDay" data-day="{{ lastDayOfWeek }}">{{ lastDayOfWeek }}</span>
                <div class="btn btn-primary" onclick="changeCurrentWeek(true, 'dashboard-arrival')">></div>
            </div>
        </div>
        <div id="dashboard-assoc" class="col-6 dashboard-box">
            <h1>Réceptions (nombre d'associations)</h1>
            <div class="chart"></div>
            <div class="spinner-border"></div>
            <div class="range-buttons">
                <div class="btn btn-primary" onclick="changeCurrentWeek(false, 'dashboard-assoc')"><</div>
                <span class="firstDay" data-day="{{ firstDayOfWeek }}">{{ firstDayOfWeek }} - </span>
                <span class="lastDay" data-day="{{ lastDayOfWeek }}">{{ lastDayOfWeek }}</span>
                <div class="btn btn-primary" onclick="changeCurrentWeek(true, 'dashboard-assoc')">></div>
            </div>
        </div>
        <div class="col-6 dashboard-box">
            <div class="title">
                <h1>Colis en retards</h1>
            </div>
            <table class="table table-striped table-bordered retards-table"></table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src = "{{ asset('js/dashboard.js')}}?{{ date().timestamp }}"></script>
{% endblock %}