<div class="row indicator-row" onclick="goToFilteredDemande('collecte', '{{ status.DCToTreat }}')">
    <div class="col-8">
        <p>Collectes à traiter</p>
    </div>
    <div class="col-4 text-center">
        <p>{{ nbDemandeCollecte }}</p>
    </div>
</div>

<div class="row indicator-row" onclick="goToFilteredDemande('livraison', '{{ status.DLtoTreat }}')">
    <div class="col-8">
        <p>Livraisons à traiter</p>
    </div>
    <div class="col-4 text-center">
        <p>{{ nbDemandeLivraisonAT }}</p>
    </div>
</div>

<div class="row indicator-row" onclick="goToFilteredDemande('livraison', '{{ status.DLincomplete }}, {{ status.DLprepared }}')">
    <div class="col-8">
        <p>Livraisons préparées</p>
    </div>
    <div class="col-4 text-center">
        <p>{{ nbDemandeLivraisonP }}</p>
    </div>
</div>

<div class="row indicator-row" onclick="goToFilteredDemande('service', '{{ status.handlingToTreat }}')">
    <div class="col-8">
        <p>Services à traiter</p>
    </div>
    <div class="col-4 text-center">
        <p>{{ nbDemandeHandlingAT }}</p>
    </div>
</div>

<a href={{ path('alerte_index', {'filter': 'active'}) }}>
    <div class="row indicator-row">
        <div class="col-8">
            <p>Alertes de seuil</p>
        </div>
        <div class="col-4 text-center">
            <p>{{ nbAlerts }}</p>
        </div>
    </div>
</a>

{% if hasRight(constant('App\\Entity\\Menu::ACCUEIL'), constant('App\\Entity\\Action::DISPLAY_INDIC_INV_REFERENCE')) %}
<div class="row indicator-row">
    <div class="col-8">
        <p>Fiabilité par référence</p>
    </div>
    <div class="col-4 text-center">
        <p>{{ nbrFiabiliteReference|number_format(2, ',') }}%</p>
    </div>
</div>
{% endif %}

{% if hasRight(constant('App\\Entity\\Menu::ACCUEIL'), constant('App\\Entity\\Action::DISPLAY_INDIC_INV_MONETAIRE')) %}
<div class="row indicator-row">
    <div class="col-8">
        <p>Fiabilité monétaire</p>
    </div>
    <div class="col-4 text-center">
        <p>{{ nbrFiabiliteMonetaireOfThisMonth|round }}€</p>
    </div>
</div>
{% endif %}
