{% extends 'layout.html.twig' %}

{% block classbody %}
    style='background-image: url({{asset('img/GTXBackAccueil2red.png')}})'
    class='accueil-back'
{% endblock %}

{% block page_content %}
    <div class="row justify-content-center">
        <div id="dashboard-arrival" class="dashboard-box">
            <h1>Arrivage (UM)</h1>
            <div class="chart"></div>
            <div class="spinner-border"></div>
            <div class="range-buttons">
                <div class="btn btn-primary" onclick="drawAnnotations('dashboard-arrival', false, false)"><</div>
                <span class="firstDay" data-day="{{ firstDayOfWeek }}">{{ firstDayOfWeek }} - </span>
                <span class="lastDay" data-day="{{ lastDayOfWeek }}">{{ lastDayOfWeek }}</span>
                <div class="btn btn-primary" onclick="drawAnnotations('dashboard-arrival', true, false)">></div>
            </div>
        </div>
        <div id="dashboard-assoc" class="dashboard-box">
            <h1>Réceptions (nombre d'associations)</h1>
            <div class="chart"></div>
            <div class="spinner-border"></div>
            <div class="range-buttons">
                <div class="btn btn-primary" onclick="drawAnnotations('dashboard-assoc', false, false)"><</div>
                <span class="firstDay" data-day="{{ firstDayOfWeek }}">{{ firstDayOfWeek }} - </span>
                <span class="lastDay" data-day="{{ lastDayOfWeek }}">{{ lastDayOfWeek }}</span>
                <div class="btn btn-primary" onclick="drawAnnotations('dashboard-assoc', true, false)">></div>
            </div>
        </div>
        <div class="dashboard-box retard">
            <div class="title">
                <h1>Colis en retard</h1>
            </div>
            <table class="table table-striped table-bordered retards-table w-100"></table>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script src = "{{ asset('js/dashboard.js')}}?{{ date().timestamp }}"></script>
{% endblock %}