<input type="hidden" class="page-title" value="Dashboard | MONITORING EMBALLAGE"/>
<div class="col-12">
    <div class="row">
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging1">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging2">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging3">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging4">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center" id="packagingTotal">
                    <p class="text-center title mt-1">
                        Nombre total d'OF à traiter (hors urgences) :
                    </p>
                    <div class="align-items-center mb-5">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging5">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging6">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging7">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center contribute-to-total" id="packaging8">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="dashboard-box-container third-row-height">
                <div class="dashboard-box dashboard-stats-container text-center" id="packaging11">
                    <p class="text-center title mt-1">
                        Nombre d'OF
                    </p>
                    <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                    <div class="align-items-center mb-3">
                        <p class="dashboard-stats dashboard-stats-counter red"></p>
                    </div>
                    <p class="text-center title dashboard-stats-delay-title">
                        A traiter sous :
                    </p>
                    <div class="align-items-center">
                        <p class="dashboard-stats dashboard-stats-delay"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="fourth-width">
            <div class="dashboard-box-container third-height">
                <div class="dashboard-box dashboard-stats-container text-center">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row h-100">
                <div class="col-12">
                    <div class="dashboard-box-container fourth-row-height pb-1">
                        <div class="dashboard-box dashboard-stats-container text-center" id="packaging9">
                            <p class="text-center title mt-1">
                                Nombre d'OF
                            </p>
                            <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                            <div class="align-items-center mt-1">
                                <p class="dashboard-stats dashboard-stats-counter"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="dashboard-box-container fourth-row-height pb-1">
                        <div class="dashboard-box dashboard-stats-container text-center" id="packaging10">
                            <p class="text-center title mt-1">
                                Nombre d'OF
                            </p>
                            <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' : 'small' }}"></div>
                            <div class="align-items-center mt-1">
                                <p class="dashboard-stats dashboard-stats-counter"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
