{#TODO CG#}
{% set hasRightDisplayArrivals = hasRight(constant('App\\Entity\\Menu::ACCUEIL'), constant('App\\Entity\\Action::DISPLAY_INDI')) %}

<div class="row">
    <p class="col-12 white">
        Dashboard | RÉCEPTION ARRIVAGE
    </p>
</div>
<div class="row mt-4">
    {% include 'svg/cross.svg.twig' %}
    <div class="col-6 dashboard-box-wrapper half-height">
        <div class="dashboard-box">
            <p class="title">
                Arrivage (UM)<br>
                <span class="label">{{ 'now'|date('d/m/Y') }}</span>
            </p>
            <div class="points">
                {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
            </div>
            <div class="dashboard-box-content" id="dashboard-arrival">
                <div class="chart"></div>
                <div class="range-buttons">
                    <div class="arrow-chart" onclick="drawChart('dashboard-arrival', false, false)">
                        <i class="fas fa-chevron-left pointer"></i>
                    </div>
                    <span class="firstDay" data-day="{{ firstDayOfWeek }}">{{ firstDayOfWeek }} - </span>
                    <span class="lastDay" data-day="{{ lastDayOfWeek }}">{{ lastDayOfWeek }}</span>
                    <div class="arrow-chart" onclick="drawChart('dashboard-arrival', true, false)">
                        <i class="fas fa-chevron-right pointer"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 dashboard-box-wrapper half-height">
        <div class="dashboard-box">
            <p class="title">
                Réceptions (nombre d'associations)<br>
                <span class="label">{{ 'now'|date('d/m/Y') }}</span>
            </p>
            <div class="points">
                {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
            </div>
            <div class="dashboard-box-content" id="dashboard-assoc">
                <div class="chart"></div>
                <div class="range-buttons">
                    <div class="arrow-chart" onclick="drawChart('dashboard-assoc', false, false)">
                        <i class="fas fa-chevron-left pointer"></i>
                    </div>
                    <span class="firstDay" data-day="{{ firstDayOfWeek }}">{{ firstDayOfWeek }} - </span>
                    <span class="lastDay" data-day="{{ lastDayOfWeek }}">{{ lastDayOfWeek }}</span>
                    <div class="arrow-chart" onclick="drawChart('dashboard-assoc', true, false)">
                        <i class="fas fa-chevron-right pointer"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 dashboard-box-wrapper half-height">
        <div class="dashboard-box">
            <p class="title">
                Colis en retard<br>
                <span class="label">{{ 'now'|date('d/m/Y') }}</span>
            </p>
            <div class="points">
                {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
            </div>
            <div class="dashboard-box-content">
                <table class="table table-striped table-bordered retards-table w-100"></table>
            </div>
        </div>
    </div>

    {% if hasRight(constant('App\\Entity\\Menu::ACCUEIL'), constant('App\\Entity\\Action::DISPLAY_INDIC_INV_MONETAIRE')) %}
        <div class="col-6 dashboard-box-wrapper half-height">
            <div id="dashboard-monetary" class="dashboard-box">
                <p class="title">
                    Fiabilité monétaire<br>
                    <span class="label">{{ 'now'|date('d/m/Y') }}</span>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <div class="dashboard-box-content">
                    <div class="curve_chart_line " id="curve_chart"></div>
                    <div class="spinner-container">
                        <div class="spinner-border"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>