<input type="hidden" class="page-title" value="Dashboard | RÉCEPTION ADMINISTRATIVE"/>
<div class="col-12">
        <div class="col-12  {{ isDashboardExt ? ' '}}">
            <div class="row">
                <div class="col-9 dashboard-box-container third-height">
                    <div class="dashboard-box {{ isDashboardExt ? 'dashboard-box-ext' }}">
                        <p class="title {{ isDashboardExt ? 'bold ext-title-font' }}">
                            Entrées à effectuer
                            {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
                                Composant
                            {% endif %}
                        </p>
                        {% if not isDashboardExt %}
                            <div class="points has-tooltip"
                                 title="Nombre {{ 'arrivage.de colis'|trans }} (de nature paramétrée pour le graphe 1)
                            présents depuis < 48h sur l'ensemble des emplacements paramétrés pour le graphe 1.">
                                <i class="fa fa-question"></i>
                            </div>
                        {% endif %}
                        <div class="h-100">
                            <canvas id="chartFirstForAdmin" width="300" height="90"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex flex-column justify-content-between">
                    <div>
                        <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} side-panels">
                            <div class="dashboard-box justify-content-around">
                                {% if not isDashboardExt %}
                                    <div class="points">
                                        <i class="fa fa-question has-tooltip"
                                           title="Nombre {{ 'arrivage.de colis'|trans }} présents
                                    sur l'emplacement paramétré sur le graphe 1 ayant
                                    l'encours de nature paramétrée pour le graphe 1 le plus ancien.">
                                        </i>
                                    </div>
                                {% endif %}
                                <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font pt-3 mb-0 mt-2' }}">
                                    Nombre de lignes à traiter
                                </p>
                                <div class="text-center ">
                                    <p id="totalForChart1" class="figure bold {{ isDashboardExt ? 'big-font pb-0' : ' ' }}"></p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} side-panels">
                            <div class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                                {% if not isDashboardExt %}
                                    <div class="points">
                                        <i class="fa fa-question has-tooltip"
                                           title="Emplacement paramétré sur le graphe 1
                                          ayant l'encours de nature pour le graphe 1 paramétrée le plus ancien.">
                                        </i>
                                    </div>
                                {% endif %}
                                <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font pt-0' }}">
                                    Prochain emplacement à traiter
                                </p>
                                <div class="d-flex align-items-center justify-content-center"
                                     style="height: inherit;">
                                    <div class="display-font figure counter" id="empForChart1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 {{ isDashboardExt ? 'dashboard-box-container-ext mb-3' }}">
            <div class="row">
                <div class="col-9 dashboard-box-container  third-height">
                    <div class="dashboard-box {{ isDashboardExt ? 'dashboard-box-ext' }}">
                        <p class="title {{ isDashboardExt ? 'bold ext-title-font' }}">
                            Entrées à effectuer
                            {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
                                Méca
                            {% endif %}
                        </p>
                        {% if not isDashboardExt %}
                            <div class="points">
                                <i class="fa fa-question has-tooltip"
                                   title="Nombre {{ 'arrivage.de colis'|trans }} (de natures paramétrées pour le graphe 2) présents depuis < 48h sur l'ensemble des emplacements paramétrés pour le graphe 2.">
                                </i>
                            </div>
                        {% endif %}
                        <div class="h-100">
                            <canvas id="chartSecondForAdmin" width="300" height="90"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex flex-column justify-content-between">
                    <div class="justify-content-between">
                        <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext mb-2': ' mb-2'}} side-panels ">
                            <div class="dashboard-box justify-content-around">
                                {% if not isDashboardExt %}
                                    <div class="points">
                                        <i class="fa fa-question has-tooltip"
                                           title="Nombre {{ 'arrivage.de colis'|trans }} présents
                                        sur l'emplacement paramétré sur le graphe 2 ayant l'encours
                                        de nature paramétrée pour le graphe 2 le plus ancien.">
                                        </i>
                                    </div>
                                {% endif %}
                                <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font pt-3 mb-0 mt-2' }}">
                                    Nombre de lignes à traiter
                                </p>
                                <div class="text-center">
                                    <div id="totalForChart2" class="figure bold {{ isDashboardExt ? 'big-font pb-0' : ' ' }}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} side-panels">
                            <div class="dashboard-box justify-content-around">
                                {% if not isDashboardExt %}
                                    <div class="points">
                                        <i class="fa fa-question has-tooltip"
                                           title="Emplacement paramétré sur le graphe 2
                                          ayant l'encours de nature paramétrée pour le graphe 2 le plus ancien.">
                                        </i>
                                    </div>
                                {% endif %}
                                <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font pt-3 mb-0 mt-2' }}">
                                    Prochain emplacement à traiter
                                </p>
                                <div class="d-flex align-items-center justify-content-center"
                                     style="height: inherit;">
                                    <p class="display-font figure" id="empForChart2"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4 px-0">
            <div class="row">
                <div class="col-3">
                    <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                        <div id="remaining-urgences-box-admin" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                            <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font' }}">
                                Urgences à recevoir
                            </p>
                            <div class="align-items-end justify-content-center">
                                <p class="figure counter  {{ isDashboardExt ? 'big-font' }}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                        <div id="encours-urgence-box" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                            <div>
                                <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font' }}">
                                    <i class="fas"></i>
                                    Urgences à traiter
                                    <i class="fas"></i>
                                </p>
                                <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' }}"></div>
                            </div>
                            <div class="align-items-center">
                                <p class="figure counter  {{ isDashboardExt ? 'big-font' }}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                        <div id="encours-litige-box" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                            <div>
                                <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font' }}">
                                    Lignes en litiges
                                </p>
                                <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' }}"></div>
                            </div>
                            <div class="align-items-center">
                                <p class="figure counter  {{ isDashboardExt ? 'big-font' }}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dashboard-box-container {{ isDashboardExt ? 'dashboard-box-container-ext' }} fourth-height">
                        <div id="encours-clearance-box-admin" class="dashboard-box text-center {{ isDashboardExt ? 'justify-content-between dashboard-box-ext' : 'justify-content-around' }}">
                            <div>
                                <p class="text-center title {{ isDashboardExt ? 'bold ext-title-font' }}">
                                    Colis en attente de dédouanement
                                </p>
                                <div class="location-label ellipsis {{ isDashboardExt ? 'medium-font' }}"></div>
                            </div>
                            <div class="align-items-center">
                                <p class="figure counter {{ isDashboardExt ? 'big-font' }}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
