<div class="row">
    <p class="col-12 white">
        Dashboard | RÉCEPTION QUAI
    </p>
</div>
<div class="row mt-4">
    <div class="col-10 row">
        <div class="col-7 dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="title">
                    Arrivages quotidiens<br>
                    <span class="label">{{ 'now'|date('d/m/Y') }}</span>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <canvas id="chartDailyArrival" width="300" height="90"></canvas>
            </div>
        </div>
        <div class="col-5 dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="title">
                    Arrivages hebdomadaires<br>
                    <span class="label">{{ 'now'|date('d/m/Y') }}</span>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <canvas id="chartWeeklyArrival" width="300" height="90"></canvas>
            </div>
        </div>
        <div class="col-6 dashboard-box-wrapper">
            <div class="dashboard-box">
{#                TODO CG données dynamiques #}
                <p class="title">
                    Réception quai<br>
                    <span class="label">{{ 'now'|date('d/m/Y') }}</span>
                </p>
                <p class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </p>
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <p class="little-font">Colis restants à traiter</p>
                        <span class="figure">18</span>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <p class="little-font">Colis en attente dédouanement</p>
                        <span class="figure">11</span>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <p class="little-font">Urgences restant à recevoir</p>
                        <span class="figure red">1</span>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <p class="little-font">Colis à déposer en Drop Zones</p>
                        <span class="figure">23</span>
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <p class="little-font">Colis dédouanés et dispo</p>
                        <span class="figure">11</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="title">
                    Colis<br>
                    <span class="label">{{ 'now'|date('d/m/Y') }}</span>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <canvas id="chartColis" width="300" height="90"></canvas>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="dashboard-box-wrapper">
            <div class="dashboard-box">
                <p class="title">
                    Suivi des transporteurs<br>
                    <span class="label">{{ 'now'|date('d/m/Y') }}</span>
                </p>
                <div class="points">
                    {% include 'svg/dotsblack.svg.twig' with { height: '20px', width: '8px'} %}
                </div>
                <div class="little-font">
                    {% for carrierLabel in carriers %}
                        <p>carrierLabel</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
