<div class="row justify-content-end">
    {% if hasRight(constant('App\\Entity\\Menu::INDICS_ACCUEIL'), constant('App\\Entity\\Action::YES')) %}
        <div class="col-12 mb-1 home-card">
            <a href="#"
               onclick="goToFilteredDemande('collecte', '{{ status.DCToTreat }}')">
                <p>
                    <span class="badge badge-secondary font-size-100">{{ nbDemandeCollecte }}</span>
                    {% set s = nbDemandeCollecte > 1 ? 's' : '' %}
                    <span class="bold"> demande{{ s }} de collecte à traiter</span>
                </p>
            </a>
        </div>
        <div class="col-12 mb-1 mt-1 home-card">
            <a href="#"
               onclick="goToFilteredDemande('livraison', '{{ status.DLtoTreat }}')">
                <p>
                    <span class="badge badge-secondary font-size-100">{{ nbDemandeLivraisonAT }}</span>
                    {% set s = nbDemandeLivraisonAT > 1 ? 's' : '' %}
                    <span class="bold"> demande{{ s }} de livraison à traiter</span>
                </p>
            </a>
        </div>
        <div class="col-12 mb-1 mt-1 home-card">
            <a href="#"
               onclick="goToFilteredDemande('livraison', '{{ status.DLincomplete }}, {{ status.DLprepared }}')">
                <p>
                    <span class="badge badge-secondary font-size-100">{{ nbDemandeLivraisonP }}</span>
                    {% set s = nbDemandeLivraisonP > 1 ? 's' : '' %}
                    <span class="bold"> demande{{ s }} de livraison préparée{{ s }}</span>
                </p>
            </a>
        </div>
        <div class="col-12 mb-1 mt-1 home-card">
            <a href="#"
               onclick="goToFilteredDemande('manutention', '{{ status.MToTreat }}')">
                <p>
                    <span class="badge badge-secondary font-size-100">{{ nbDemandeManutentionAT }}</span>
                    {% set s = nbDemandeManutentionAT > 1 ? 's' : '' %}
                    <span class="bold"> demande{{ s }} de manutention à traiter</span>
                </p>
            </a>
        </div>
        {% set s = nbAlerts > 1 ? 's' : '' %}
        <div class="col-12 mb-1 mt-1 home-card">
            <a href={{ path('alerte_index', {'filter': 'active'}) }}>
                <p>
                    <span class="badge badge-secondary font-size-100">{{ nbAlerts }}</span>
                    <span class="bold"> alerte{{ s }} de seuil</span>
                </p>
            </a>
        </div>
    {% endif %}
    {% if hasRight(constant('App\\Entity\\Menu::INDICS_ACCUEIL'), constant('App\\Entity\\Action::REFERENCE')) %}
        <div class="col-12 row ml-0 mr-0 mb-1 mt-1 home-card">
            <p class="bold col-12">Fiabilité par référence</p>
            <p class="col-6">
                <span class="badge badge-secondary font-size-100">{{ nbrFiabiliteReference|number_format(2, ',') }}%</span>
                <span>totale</span><br>
            </p>
            <p class="col-6">
                <span class="badge badge-secondary font-size-100">{{ nbrFiabiliteReferenceOfThisMonth|number_format(2, ',') }}%</span>
                <span>mois courant</span><br>
            </p>
            <div class="curve_chart_line" id="curve_chart_reference"></div>
        </div>
    {% endif %}
</div>