{% extends 'layout.html.twig' %}

{% block classbody %}
style='background-image: url({{asset('img/GTXBackAccueil2red.png')}})'
class='accueil-back'
{% endblock %}

{% block page_content %}
{% if hasRight(constant('App\\Entity\\Menu::INDICS_ACCUEIL')) %}
    <div class="row justify-content-end">
        <div class="col-4 ">
            <div class="row justify-content-end">
                <div class="col-12 mb-1 mt-1 alerte">
                    <a href="#" onclick="goToFilteredDemande('collecte', '{{ constant('App\\Entity\\Collecte::STATUT_A_TRAITER') }}')">
                        <p><strong> Demandes de collecte à traiter : </strong>{{nbDemandeCollecte}}</p>
                    </a>
                </div>
                <div class="col-12 mb-1 mt-1 alerte">
                    <a href="#" onclick="goToFilteredDemande('livraison', '{{ constant('App\\Entity\\Demande::STATUT_A_TRAITER') }}')">
                        <p><strong> Demandes de livraison à traiter : </strong>{{nbDemandeLivraisonAT}}</p>
                    </a>
                </div>
                <div class="col-12 mb-1 mt-1 alerte">
                    <a href="#" onclick="goToFilteredDemande('livraison', '{{ constant('App\\Entity\\Demande::STATUT_PREPARE') }}')">
                        <p><strong> Demandes de livraison préparées : </strong>{{nbDemandeLivraisonP}}</p>
                    </a>
                </div>
                <div class="col-12 mb-1 mt-1 alerte">
                    <a href="#" onclick="goToFilteredDemande('manutention', '{{ constant('App\\Entity\\Manutention::STATUT_A_TRAITER') }}')">
                        <p><strong> Demandes de manutentions à traiter : </strong>{{nbDemandeManutentionAT}}</p>
                    </a>
                </div>
                {% set s = nbAlerts > 1 ? 's' : '' %}
                <div class="col-12 mb-1 mt-1 alerte">
                    <a href={{path('alerte_index', {'filter': 'active'})}}>
                        <p><strong> Alertes de seuil : </strong>{{ nbAlerts }}<br>
                            {% if nbAlerts > 0 %}dont {{ nbAlerts }} seuil{{ s }} de sécurité{% endif %}
                        </p>
                    </a>
                </div>
                <div class="col-12 mb-1 mt-1 carreNbrIndicateur">
                    <p><span class="bold">Fiabilité par référence</span><br><br>
                        <span class="big-font">{{ nbrFiabiliteReference|number_format(2, ',') }}%</span></p>
                    <p><span class="bold">Fiabilité par référence du mois courant</span><br><br>
                        <span class="big-font">{{ nbrFiabiliteReferenceOfThisMonth|number_format(2, ',') }}%</span></p>
                    <div class="curve_chart_line" id="curve_chart_reference"></div>
                </div>
                <div class="col-12 mb-1 mt-1 carreNbrIndicateur">
                    <p><span class="bold">Fiabilité monétaire</span><br><br>
                        <span class="big-font">{{ nbrFiabiliteMonetaire|round }}€</span></p>
                    <p><span class="bold">Fiabilité monétaire du mois courant</span><br><br>
                        <span class="big-font">{{ nbrFiabiliteMonetaireOfThisMonth|round}}€</span></p>
                    <div class="curve_chart_line " id="curve_chart"></div>
                </div>
                <div class="col-12 dashboard-link mt-1">
                    <a href="{{ path('accueil_dashboard') }}">
                        <span class="fas fa-chart-line"></span><p>Tableau de bord</p>
                    </a>
                </div>
                {#                <div class="col-7 mb-1 mt-1 alerte">#}
{#                    <a href="{{path('alerte_expiry_index', {'filter': 'active'})}}">#}
{#                        <p><strong> Alertes de péremption : </strong>{{ nbAlertsExpiry }}<br></p>#}
{#                    </a>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endif %}

{% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_CEA_LETI')) %}
    {% include "accueil/linkToAddArticleForm.html.twig" %}
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const id = 0;
    </script>
    <script src="{{ asset('js/accueil.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
