{% extends 'layout.html.twig' %}

{% block classbody %}
style='background-image: url({{asset('img/GTXBackAccueil2red.png')}})'
class='accueil-back'
{% endblock %}

{% block page_content %}
{% if hasRight(constant('App\\Entity\\Menu::INDICS_ACCUEIL')) %}
    <div class="row justify-content-end">
        <div class="col-6 ">
            <div class="row justify-content-end">
                <div class="col-7 mb-1 mt-1 alerte">
                    <a href={{path('collecte_index')}}>
                        <p><strong> Demandes de collecte à traiter : </strong>{{nbDemandeCollecte}}</p>
                    </a>
                </div>
                <div class="col-7 mb-1 mt-1 alerte">
                    <a href={{path('demande_index')}}>
                        <p><strong> Demandes de livraison à traiter : </strong>{{nbDemandeLivraisonAT}}</p>
                    </a>
                </div>
                <div class="col-7 mb-1 mt-1 alerte">
                    <a href={{path('demande_index')}}>
                        <p><strong> Demandes de livraison préparées : </strong>{{nbDemandeLivraisonP}}</p>
                    </a>
                </div>
                <div class="col-7 mb-1 mt-1 alerte">
                    <a href={{path('service_index')}}>
                        <p><strong> Demandes de manutentions à traiter : </strong>{{nbDemandeManutentionAT}}</p>
                    </a>
                </div>
                <div class="col-7 mb-1 mt-1 alerte">
                    <a href={{path('alerte_index')}}>
                        <p><strong> Alertes de seuil : </strong>{{nbAlerte}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if isCurrentClient(constant('App\\Entity\\ParamClient::CEA_LETI')) %}
    {% include "accueil/linkToAddArticleForm.html.twig" %}
{% endif %}

{% endblock %}
{% block javascript %}
<script>
    const id = 0;
</script>
<script src="{{ asset('js/demande-livraison.js')}}?{{ date().timestamp }}"></script>
{% endblock %}