{% extends 'layout.html.twig' %}

{% block title %}{{ trans('Traçabilité', 'Général', 'Traçabilité') }} | {{ trans('Traçabilité', 'Général', 'Unités logistiques') }}{% endblock %}
{% block title_tooltip %}Traçabilité | Unités logistiques{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersPack.html.twig' with {
        page: 'PAGE_PACK',
        tableSelector: '#packsTable, #groupsTable',
        callback: 'null',
        needsDateFormatting: true
    } %}
{% endblock %}

{% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <ul class="nav nav-pills pack-tabs">
            <li class="nav-item">
                <a href="#colis" class="nav-link active">{{ trans('Traçabilité', 'Général', 'Unités logistiques') }}</a>
            </li>
            <li class="nav-item">
                <a href="#groupes" class="nav-link">{{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', 'Groupes') }}</a>
            </li>
        </ul>

        <hr>

        {% if hasRightExport %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" onclick="toExport()">
                            <i class="fa fa-file-csv mr-2"></i>
                            {{ trans('Général', null, 'Zone liste', 'Exporter au format CSV') }}
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12 packsTableContainer d-flex">
                <table id="packsTable" class="table w-100"></table>
            </div>
            <div class="col-12 groupsTableContainer">
                <table id="groupsTable" class="table wii-list w-100"></table>
            </div>
        </div>
    </div>

    {% include 'pack/modalEditPack.html.twig' %}
    {% include 'pack/modalDeletePack.html.twig' %}
    {% include 'group/edit.html.twig' %}
    {% include 'group/ungroup.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/pack.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/arrival/common.js') }}?v={{ web_version }}"></script>
{% endblock %}
