{% extends 'layout.html.twig' %}
{% import 'form.html.twig' as form %}

{% block title %}{{ trans('Traçabilité', 'Général', 'Traçabilité') }} | {{ trans('Traçabilité', 'Général', 'Unités logistiques') }}{% endblock %}
{% block title_tooltip %}Traçabilité | Unités logistiques{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pack-index') }}
    {{ encore_entry_link_tags('pack-common') }}
{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersPack.html.twig' with {
        page: 'PAGE_PACK',
        tableSelector: '#packsTable',
        callback: fromDashboard ? 'callbackSaveFilter' : 'null',
        needsDateFormatting: true,
        locationsFilter,
        naturesFilter,
        packWithTracking,
    } %}
{% endblock %}

{% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% include "utils/action-buttons/header-buttons.html.twig" with {
                    actions: [
                        {
                            hasRight: hasRightExport,
                            title: trans('Général', null, 'Zone liste', 'Exporter au format CSV'),
                            icon: "fa fa-file-csv",
                            class: "exportPacks",
                        },
                        {
                            title: "Gestion des colonnes",
                            icon: "fas fa-cog",
                            attributes: {
                                "data-toggle": "modal",
                                "data-target": "#modalFieldModes",
                            },
                        }
                    ]
                } %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 packsTableContainer d-flex">
                <table id="packsTable" class="table w-100"
                       data-initial-visible="{{ fields|json_encode() }}">
                </table>
            </div>
        </div>
    </div>
    <input hidden value="{{ code }}" id="lu-code" class="data">

    {% include 'pack/modalEditPack.html.twig' %}
    {% include 'group/ungroup.html.twig' %}
    {% include "utils/fields-modes.html.twig" with {
        fields,
        table: 'packsTable',
        page: constant('App\\Controller\\FieldModesController::PAGE_PACK_LIST'),
        config: {
            columns: [
                {
                    label: "Visible",
                    type: "checkbox",
                    name: constant('App\\Service\\FieldModesService::FIELD_MODE_VISIBLE'),
                },
            ],
        }
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pack-index') }}
{% endblock %}
