{% block stylesheets %}
    {{ encore_entry_link_tags('pack-common') }}
{% endblock %}

{% set isGroup = pack.groupIteration or (not pack.content.empty) %}

<div class="logistic-unit-content" data-pack="{{ pack.code }}">
    <div class="pack-content-header">
        <span class="wii-title">{{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Unités logistiques"', 'Contenu unité logistique') }}</span>
        <button type="button" class="close" name="closePackContent" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="logistic-unit-tabs">
        <div class="logistic-unit-tab" data-target=".track-history">Historique traçabilité</div> {# A voir avec Pauline si une traduction est prévu ? #}
        {% if isGroup %}
            <div class="logistic-unit-tab {{ isGroup ? "active" }}" data-target=".content_group">Contenu du groupe</div>
        {% endif %}
        {% if pack.childArticles|length > 0 %}
            <div class="logistic-unit-tab" data-target=".current-articles">{{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Unités logistiques"', 'Articles') }}</div>
        {% endif %}
        {% if movements|length > 0 %}
            <div class="logistic-unit-tab" data-target=".article-history">{{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Unités logistiques"', 'Historique des articles') }}</div>
        {% endif %}
    </div>

    <div class="content track-history history-container {{ isGroup ? "d-none" }}">
        <table class="w-100" id="table-LU-history"></table>
    </div>

    {% if isGroup %}
        <div class="content content_group history-container">
            <table class="w-100" id="groupContentTable"></table>
        </div>
    {% endif %}

    <div class="content current-articles d-none">
        {% for article in pack.childArticles %}
            {% include 'pack/article-card.html.twig' with {
                article: article,
            } %}
        {% else %}
            <div class="logistic-unit-no-items">
                <div class="logistic-unit-no-items-icon-circle">
                    <img src="/svg/UL-black.svg">
                </div>
                {{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Unités logistiques"', 'L\'unité logistique ne contient aucun article actuellement') }}
            </div>
        {% endfor %}
    </div>

    <div class="content article-history d-none">
        {% include 'pack/article-history.html.twig' with {
            movements,
        } %}
    </div>
</div>
