{% set articles = pack.childArticles | length %}

{% if articles or pack.isArticleContainer %}
    {% set plural = articles > 1 ? 's' %}
    <div class="logistic-unit-number" data-id="{{ pack.id }}" data-pack="{{ pack.code }}">
        <div class="d-flex align-items-center">
            <div class="mt-1">{{ pack.code }}</div>
        </div>
     </div>
{% else %}
    {{ pack.code }}
    {% set isGroup = pack.groupIteration or (not pack.content.empty) %}
    {{ pack.isGroup ? '<span class="fa fa-object-group ml-1" title="cette ul est un groupe"></span>' }}
    {{ pack.splitTargets is not empty ? ('<span class="fa fa-arrows-split-up-and-left ml-1" title="Cette UL a été divisé"></span>' ) | raw}}
{% endif %}
