{% import 'form.html.twig' as form %}

{% set disableQuantity = pack.childArticles is not empty %}

{% set isGroup = pack.groupIteration or (not pack.content.empty) %}

<form>
    <div class="row">
        {{ form.hidden('id', pack.id) }}

        {% if isGroup %}
            <div class="col-12">
                <div class="wii-section-title mb-3 d-flex align-items-center"> Cette unité logistique représente un groupe</div>
            </div>
        {% endif %}
        <div class="form-group col-md-6 col-12">
            {% set inputLabel = isGroup
                ? trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Numéro groupe")
                : trans('Traçabilité', 'Unités logistiques', 'Onglet "Unités logistiques"', 'Numéro d\'UL')
            %}
            {{ form.input('code', inputLabel, false, pack.code, {
                disabled: true,
            }) }}
        </div>
        {% if isGroup %}
            <div class="form-group col-md-6 col-12">
                {{ form.input('groupChildrenLength', trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Nombre d'UL"), false, pack.content | length, {
                    disabled: true,
                }) }}
            </div>
        {% endif %}
        <div class="form-group col-md-6 col-12">
            {% set groupGetChildTrackingDelay = pack.isGroup and setting_value('GROUP_GET_CHILD_TRACKING_DELAY') %}
            {% set packNatureId = pack.nature is not null ? pack.nature.id : null %}
            {{ form.select('nature', trans('Traçabilité', 'Général', "Nature"), false, {
                type: '',
                disabled: groupGetChildTrackingDelay,
                items: natures | map(nature => ({
                    label: nature.label,
                    value: nature.id,
                    selected: packNatureId == nature.id
                })),
            } ) }}
        </div>
        {% if not isGroup %}
            <div class="form-group col-md-6 col-12">
                {{ form.input('quantity', trans('Traçabilité', 'Général', 'Quantité'), true, pack.quantity, {
                    disabled: disableQuantity,
                    min: 1,
                    step: 1,
                } ) }}
            </div>
            <div class="form-group col-md-6 col-12">
                {{ form.select('projects', trans('Référentiel', 'Projet', "Projet", false), false, {
                    items: projects,
                    placeholder: 'Sélectionnez un ' ~ (trans('Référentiel', 'Projet', "Projet", false) | lower),
                    emptyOption: {text: '', value: ''},
                    disabled: disabledProject,
                    tooltip: disabledProject ? 'Le ' ~ (trans('Référentiel', 'Projet', "Projet", false) | lower) ~ ' ne peut pas être modifié car l\'unité logistique est dans une réception en cours, une ' ~ trans('Demande', 'Livraison', 'Livraison', false) | lower ~ ' en cours ou un panier' : null
                }) }}
            </div>
        {% endif %}
        <div class="form-group col-md-6 col-12">
            {{ form.input('weight', trans('Traçabilité', 'Unités logistiques', 'Divers', 'Poids (kg)'), false, pack.weight, {
                type: 'number',
                min: 0,
                step: 0.1,
            }) }}
        </div>
        <div class="form-group col-md-6 col-12">
            {{ form.input("volume", trans('Traçabilité', 'Unités logistiques', 'Divers', 'Volume (m3)'), false, pack.volume, {
                type: 'number',
                min: 0,
                step: 0.1,
            }) }}
        </div>
        <div class="col-12">
            {{ form.wysiwyg('comment', trans('Général', null, 'Modale', 'Commentaire'), false, pack.comment) }}
        </div>
    </div>
</form>
