{% set state =  lastRecordId == trackingRecordHistory.id
    ? 'current'
    : 'past'
%}

<div class="history-line mb-2">
    <div class="history-line-left-content">
        <div class="text-left mr-2">
            <span class="ml-2">{{ trackingRecordHistory['date'] }}</span>
        </div>
        <div>
            <div class="title-left {{ state }} {{ historyForPackContent is defined and historyForPackContent ? 'history-text-overflow' }}">{{ trackingRecordHistory['type'] }}</div>
            <div class="subtitle wii-small-text history-text-overflow">{{ trackingRecordHistory["user"] }}</div>
        </div>
    </div>
    <div class="history-line-right-content
        {{ state == "curent" ? 'last-history-line' }}
        {{ trackingRecordHistory.id == firstRecord ? 'first-history-line' }}
        {{ state }}">
        <div class="title-right {{ state }} {{ not trackingRecordHistory['location'] ? 'bg-transparent' }} text-left">
            <img src="{{ asset('svg/location-black.svg') }}" alt="Icône emplacement timeline" width="18px" class="mr-1 {{ not trackingRecordHistory['location'] ? 'd-none' }}">
            <span class="mb-2">{{ trackingRecordHistory['location'] }}</span>
        </div>
        <div class="message-container {{ state }}">
            {{ trackingRecordHistory['message']|nl2br }}
        </div>
    </div>
</div>

