{% extends 'base.html.twig' %}

{% block title %}ReferencesFournisseurs index{% endblock %}

{% block body %}
    <h1>ReferencesFournisseurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Poids</th>
                <th>Dimension</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for references_fournisseur in references_fournisseurs %}
            <tr>
                <td>{{ references_fournisseur.id }}</td>
                <td>{{ references_fournisseur.libelle }}</td>
                <td>{{ references_fournisseur.poids }}</td>
                <td>{{ references_fournisseur.dimension }}</td>
                <td>{{ references_fournisseur.description }}</td>
                <td>
                    <a href="{{ path('references_fournisseurs_show', {'id': references_fournisseur.id}) }}">show</a>
                    <a href="{{ path('references_fournisseurs_edit', {'id': references_fournisseur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('references_fournisseurs_new') }}">Create new</a>
{% endblock %}