{% extends 'layout.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block page_content %}
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Statut</th>
                <th>destination</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.numero }}</td>
                <td>{{ livraison.statut }}</td>
                <td>{{ livraison.destination.nom }}</td>
                <td>
                    <a href="{{ path('livraison_show', {'id': livraison.id}) }}">show</a>
                    <a href="{{ path('livraison_edit', {'id': livraison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livraison_new') }}">Create new</a>
{% endblock %}
