{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 mb-3 wii-small-text">
            Paramétrer les champs par défaut afin de ne pas avoir à les resaisir à chaque création de lettre de voiture.
        </div>
        <div class="col-12">
            {{ form.image(setting('FILE_WAYBILL_LOGO'), 'Logo sur la lettre de voiture', false, setting_value('FILE_WAYBILL_LOGO'), {
                formats: 'image/png, image/jpeg, image/jpg'
            }) }}
        </div>
    </div>
</div>

<div class="wii-section-title">Expéditeur & Destinataire</div>

<div class="wii-section">
    <div class="row">
        <div class="col-md-4 col-12">
            {{ form.textarea(setting('DISPATCH_WAYBILL_CONSIGNER'), 'Expéditeur par défaut', false, setting_value('DISPATCH_WAYBILL_CONSIGNER')) }}
        </div>
        <div class="col-md-4 col-12">
            {{ form.input(setting('DISPATCH_WAYBILL_CONTACT_NAME'), 'Nom', false, setting_value('DISPATCH_WAYBILL_CONTACT_NAME')) }}
        </div>
        <div class="col-md-4 col-12">
            {{ form.input(setting('DISPATCH_WAYBILL_CONTACT_PHONE_OR_MAIL'), 'Téléphone / Email', false, setting_value('DISPATCH_WAYBILL_CONTACT_PHONE_OR_MAIL')) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12">
            {{ form.textarea(setting('DISPATCH_WAYBILL_RECEIVER'), 'Destinataire par défaut', false, setting_value('DISPATCH_WAYBILL_RECEIVER')) }}
        </div>
        <div class="col-md-4 col-12">
            {{ form.input(setting('DISPATCH_WAYBILL_LOCATION_FROM'), 'Lieu de chargement', false, setting_value('DISPATCH_WAYBILL_LOCATION_FROM')) }}
        </div>
        <div class="col-md-4 col-12">
            {{ form.input(setting('DISPATCH_WAYBILL_LOCATION_TO'), 'Lieu de déchargement', false, setting_value('DISPATCH_WAYBILL_LOCATION_TO')) }}
        </div>
    </div>
</div>

<div class="wii-section-title">Transport</div>
<div class="wii-section">
    <div class="row">
        <div class="col-md-4 col-12">
            {{ form.textarea(setting('DISPATCH_WAYBILL_CARRIER'), 'Transporteur par défaut', false, setting_value('DISPATCH_WAYBILL_CARRIER')) }}
        </div>
    </div>
</div>
