<div class="d-flex">
    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
        {% if modifiable %}
            <div>
                <div class="btn btn-col-action" data-id='{{ id }}' data-ref='{{refArticleId is defined ? 1 : 0}}' data-target='#modalEditArticle' data-toggle='modal'
                     onclick="editRow($(this), Routing.generate('ordre_collecte_edit_api', true), $('#modalEditArticle'), $('#submitEditArticle'))">
                    <i class='fas fa-pencil-alt'></i>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if refArticleId is defined %}
        <div>
            <div class="btn btn-col-action" data-id='{{ refArticleId }}' data-target='#modalShowRefArticle' data-toggle='modal'
                onclick="showRow($(this), Routing.generate('reference_article_show', true), $('#modalShowRefArticle'))">
                <i class='fas fa-eye'></i>
            </div>
        </div>
        <div>
            <div class="btn btn-col-action" data-id='{{ refArticleId }}'
                 onclick='printSingleReferenceArticleBarcode($(this))'>
                <i class="fas fa-print"></i>
            </div>
        </div>
    {% else %}
        <div>
            <div class="btn btn-col-action" data-id='{{ id }}' data-target='#modalShowArticle' data-toggle='modal'
            onclick="showRow($(this), Routing.generate('article_show', true), $('#modalShowArticle'))">
                <i class='fas fa-eye'></i>
            </div>
        </div>
        <div>
            <div class="btn btn-col-action" data-id='{{ id }}'
                 onclick='printSingleArticleBarcode($(this))'>
                <i class="fas fa-print"></i>
            </div>
        </div>
    {% endif %}

    {% if modifiable %}
        <div>
            <div class="btn btn-col-action btn-check"
                 data-is-ref='{{ refArticleId is defined ? 1 : 0 }}'
                 data-ref='{{ refRef is defined ? refRef : refArt }}'
                 data-quantity="{{ quantity }}"
                 onclick="toggleCheck($(this))">
                <i class='fas fa-check'></i>
            </div>
        </div>
    {% endif %}
</div>
