<div class="row align-items-center wii-page-card-header">
    <div class="col-auto">
        <h1 class="my-0"><span>Ordre de collecte n°{{ collecte.numero }}</span></h1>
    </div>
    <div class="col-auto ml-auto">
        <div class="btn-group">
            {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_ORDRE_COLL')) %}
                <a href="{{ path('collecte_show', {'id': collecte.demandeCollecte.id }) }}"
                   class="btn btn-primary btn-ripple split-button">
                    Aller vers la demande de collecte
                </a>
            {% endif %}
            {% if not finished %}
                <button type="button"
                        class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-angle-down"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right pointer">
                    <div hidden data-toggle="modal" data-target="#modalFinishCollecte" id="btnModalFinishCollecte"></div>
                    <div class="dropdown-item"
                        {% if collecte.demandeCollecte ? collecte.demandeCollecte.stockOrDestruct : false %}
                            onclick="ajaxAutoCompleteEmplacementInit($('.ajax-autocompleteEmplacement')), checkIfRowSelected(openLocationModal)"
                        {% else %}
                            onclick="checkIfRowSelected(() => finishCollecte(true))"
                        {% endif %}>
                        <i class='fas fa-check mr-2'></i>Finir la collecte
                    </div>
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                        <a href="" onclick="deleteRow($(this), $('#modalDeleteOrdreCollecte'), $('#submitDeleteOrdreCollecte'))"
                           data-id='{{ collecte.id }}' data-target='#modalDeleteOrdreCollecte' data-toggle='modal'
                           class="dropdown-item">
                            <i class='fas fa-trash mr-2'></i>Supprimer
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <p><strong> Statut : </strong> {{ collecte.statut ? collecte.statut.nom : '' }}</p>
        <p><strong> Numéro : </strong> {{ collecte.numero }}</p>
        <p><strong> Demandeur : </strong>
            {{ collecte.demandeCollecte.demandeur ? collecte.demandeCollecte.demandeur.username :'' }}</p>
        <p><strong> Opérateur : </strong> {{ collecte.utilisateur ? collecte.utilisateur.username : '' }}</p>
    </div>
    <div class="col-4">
        <p><strong> Date de collecte : </strong> {{ collecte.date ? collecte.date|date('d/m/Y H:i') : '' }}</p>
        <p><strong> Point de collecte : </strong> {{ collecte.demandeCollecte.pointCollecte.label }}</p>
        <p><strong> Destination : </strong>{{ collecte.demandeCollecte.stockOrDestruct ? ' Mise en stock' : ' Destruction' }}
        </p>
    </div>
    <div class="col-12">
        <p><strong>Commentaire :</strong></p>
        <div class="commentOverflow">
            <p>{{ collecte.demandeCollecte.commentaire|raw }}</p>
        </div>
    </div>
</div>
