<div class="row">
    <div class="col">
        <h1>Ordre de collecte n°{{ collecte.numero }}</h1>
    </div>

{% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_ORDRE_COLL')) %}
    <div class="col text-right">
        <a href="{{path('collecte_show', {'id': collecte.demandeCollecte.id }) }}" class="btn btn-primary btn-action">
            Aller vers la demande de collecte
        </a>
    </div>
{% endif %}
</div>

<div class="row">
    <div class="col-4">
        <p><strong> Statut : </strong> {{ collecte.statut ? collecte.statut.nom : '' }}</p>
        <p><strong> Numéro : </strong> {{ collecte.numero }}</p>
        <p><strong> Demandeur : </strong>
            {{collecte.demandeCollecte.demandeur ? collecte.demandeCollecte.demandeur.username :'' }}</p>
        <p><strong> Opérateur : </strong> {{collecte.utilisateur ? collecte.utilisateur.username : '' }}</p>
    </div>
    <div class="col-4">
        <p><strong> Date de collecte : </strong> {{ collecte.date ? collecte.date|date('d/m/Y') : '' }}</p>
        <p><strong> Point de collecte : </strong> {{collecte.demandeCollecte.pointCollecte.label}}</p>
        <p><strong> Destination : </strong>{{ collecte.demandeCollecte.stockOrDestruct ? ' Mise en stock' : ' Destruction' }}
        </p>
    </div>
    <div class="col-12">
        <p><strong>Commentaire :</strong></p>
        <div class="commentOverflow">
            <p>{{ collecte.demandeCollecte.commentaire|raw }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col text-right">
        {% if not finished %}
            {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                <a href="" onclick="deleteRow($(this), $('#modalDeleteOrdreCollecte'), $('#submitDeleteOrdreCollecte'))"
                   data-id='{{collecte.id}}' data-target='#modalDeleteOrdreCollecte' data-toggle='modal'
                   class="btn btn-danger btn-action ml-auto">
                    Supprimer
                </a>
                <div hidden data-toggle="modal" data-target="#modalFinishCollecte" id="btnModalFinishCollecte"></div>
                <div
                        class="btn btn-primary"

                        {% if collecte.demandeCollecte ? collecte.demandeCollecte.stockOrDestruct : false %}
                            onclick="ajaxAutoCompleteEmplacementInit($('.ajax-autocompleteEmplacement')), checkIfRowSelected(openLocationModal)"
                        {% else %}
                            onclick="checkIfRowSelected(() => finishCollecte(true))"
                        {% endif %}
                        >
                    Finir la collecte
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
