{% extends 'layout.html.twig' %}

{% block title %}Ordre | Collecte{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersOrderCollect.html.twig' with {
        page: 'PAGE_ORDRE_COLLECTE',
        tableSelector: '#tableCollecte',
        disabled: filtersDisabled
    } %}
{% endblock %}
{% block page_content %}
    {% set pageFilteredByDemand = (
        (filterDemandId is defined and filterDemandId is not null) and
        (filterDemandValue is defined and filterDemandValue is not null)
    ) %}
    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) %}

    <div class="m-4 wii-page-card">
        {% if hasRightExport or pageFilteredByDemand %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <div class="btn-group">
                        {% if hasRightExport %}
                            <div class="btn btn-primary btn-ripple btn-ripple split-button"
                                 onclick="saveExportFile('get_ordres_collecte_for_csv')">
                                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                            </div>
                        {% endif %}
                        {% if pageFilteredByDemand %}
                            <button type="button"
                                    class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="fa fa-angle-down"></span>
                            </button>
                            <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                                <a href="{{ path('ordre_collecte_index') }}" class='dropdown-item'>Voir tous les ordres</a>
                                <a href="{{ path('collecte_show', {'id': filterDemandId}) }}" class='dropdown-item'>Retour à la demande</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="d-none justify-content-center" id="spinner">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table id="tableCollecte" class="table w-100">
                </table>
            </div>
        </div>
    </div>
    {% if pageFilteredByDemand %}
        <input hidden id="filterDemandId" value="{{ filterDemandId }}"/>
        <input hidden id="filterDemandValue" value="{{ filterDemandValue }}"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/ordre-collecte.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
