{% extends 'layout.html.twig' %}

{% block title %}Ordre | collecte{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersOrderCollect.html.twig' with {
        page: 'PAGE_ORDRE_COLLECTE',
        tableSelector: '#tableCollecte',
        disabled: filtersDisabled
    } %}
{% endblock %}
{% block page_content %}
    {% set pageFilteredByDemand = (
        (filterDemandId is defined and filterDemandId is not null) and
        (filterDemandValue is defined and filterDemandValue is not null)
        ) %}

    <div class="m-4 datatable-container">
        <div class="row">
            <h1 class="col align-self-start ml-2"></h1>
            <div class="col-auto m-3">
                {% if pageFilteredByDemand %}
                    <div class="btn-group split-button-container col-auto">
                        {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) %}
                            <div class="btn btn-primary btn-ripple btn-ripple split-button"
                                 onclick="generateCSV('get_ordres_collecte_for_csv', 'ordre-coll')">
                                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                            </div>
                        {% endif %}
                        <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu mr-5 pointer {{ not hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) ? 'dropdown-single' }}">
                            <a href="{{ path('ordre_collecte_index') }}" class='dropdown-item'>Voir tous les ordres</a>
                            <a href="{{ path('collecte_show', {'id': filterDemandId}) }}" class='dropdown-item'>Retour à la demande</a>
                        </div>
                    </div>
                {% else %}
                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EXPORT')) %}
                        <div class="btn btn-primary btn-ripple" onclick="generateCSV('get_ordres_collecte_for_csv', 'ordre-coll')">
                            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="col-12">
            <div class="d-none justify-content-center" id="spinner">
                <div class="spinner-border sizeLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <table id="tableCollecte" class="table w-100">
            </table>
        </div>
    </div>
    {% if pageFilteredByDemand %}
        <input hidden id="filterDemandId" value="{{ filterDemandId }}"/>
        <input hidden id="filterDemandValue" value="{{ filterDemandValue }}"/>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ordre-collecte.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
