<form method="" class="modal fade" id="modalNewSensorPairing" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Associer un capteur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-md-4 col-12">
                        <label>Capteur*</label>
                        <div class="w-100">
                            <select class="form-control data input" name="sensor" >
                                <option value=""></option>
                                {% for sensorWrapper in sensorWrappers %}
                                    <option value="{{ sensorWrapper.name }}">{{ sensorWrapper.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center my-auto">
                        <label> OU </label>
                    </div>
                    <div class="form-group col-md-4 col-12">
                        <label>Code capteur*</label>
                        <div class="w-100">
                            <select class="select2 ajax-autocomplete form-control data" name="sensorCode">
                                <option value=""></option>
                                {% for sensorWrapper in sensorWrappers %}
                                    <option value="{{ sensorWrapper.sensor.code }}">{{ sensorWrapper.sensor.code }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <p>Le capteur sera dissocié automatiquement à la fin de la collecte</p>
            </div>



            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <input type="hidden" class="data" name="orderID" value="{{ collecte.id }}">

                <button id="submitNewSensorPairing"
                        type="button"
                        class="btn btn-primary data">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</form>
