{% extends 'layout.html.twig' %}

{% block title %}Collecte{% endblock %}

{% block page_content %}
    <div class="zone-entete">
        {% include 'ordre_collecte/enteteOrdreCollecte.html.twig' %}
    </div>

    <table id="tableArticle" class="table table-striped table-bordered w-100">
    </table>

    <a href="{{ path('ordre_collecte_index') }}" class='btn'>Retour à la liste</a>
    <input id="collecte-id" hidden value="{{ collecte.id }}">

    {% include 'ordre_collecte/modalEditArticle.html.twig' %}
    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}
    {% include 'ordre_collecte/modalDeleteOrdreCollecte.html.twig' %}
    {% include 'ordre_collecte/modalFinishCollecte.html.twig' %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ordre-collecte-show.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
