<form method="">
    <input type="hidden"
           class="form-control data needed"
           name="type"
           required
           value="{{ type.id }}">

    <div class="form-group">
        <label for="label">Catégorie</label>
        <select name="category"
                class="data form-control" disabled>
            <option value="{{ type.category.id }}" selected>{{ type.category.label }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="username">
            Label*
        </label>
        <input type="text"
               class="form-control data needed"
               name="label"
               required=""
               value="{{ type.label }}">
    </div>

    <div class="form-group">
        <label for="username">
            Description
        </label>
        <input type="text"
               class="form-control data"
               name="description"
               value="{{ type.description }}">
    </div>

    {% set needsHide = type.category.label != constant('App\\Entity\\CategoryType::ARTICLE') %}
    <div class="form-group {{ needsHide ? 'd-none' }} send-mail">
        <label>Couleur</label>
        <input type="color" class="data form-control" name="color" value="{{ type.color }}" list="presetColors">
        <datalist id="presetColors">
            {% for color in constant('App\\Entity\\Type::PRESET_COLORS') %}
                <option>{{ color }}</option>
            {% endfor %}
        </datalist>
    </div>

    {% set needsHide = type.category.label != constant('App\\Entity\\CategoryType::DEMANDE_LIVRAISON') %}
    <div class="form-group {{ needsHide ? 'd-none' }} send-mail">
        <label>Envoi de mails au demandeur ?</label>
        <label class="switch">
            <input class="checkbox"
                   type="checkbox"
                   name="sendMail" {{ type.sendMail ? 'checked' }}>
            <span class="slider round"></span>
        </label>
    </div>

    {% set needsHide = type.category.label != constant('App\\Entity\\CategoryType::DEMANDE_DISPATCH') %}
    <div class="form-group {{ needsHide ? 'd-none' }} needs-default-locations">
        <label for="prise">Emplacement de prise par défaut</label>
        <select name="prise" class="form-control data ajax-autocomplete-location d-block location-prise w-100" id="prise">
            {% if type.pickLocation %}
                <option value="{{ type.pickLocation.id }}">{{ type.pickLocation.label }}</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group {{ needsHide ? 'd-none' }} needs-default-locations">
        <label for="depose">Emplacement de dépose par défaut</label>
        <select name="depose" class="form-control data ajax-autocomplete-location d-block location-prise w-100" id="depose">
            {% if type.dropLocation %}
                <option value="{{ type.dropLocation.id }}">{{ type.dropLocation.label }}</option>
            {% endif %}
        </select>
    </div>

    {% if type.category.label in constant('App\\Entity\\NotificationTemplate::NOTIFICATIONS_TYPES') %}
        <div class="row">
            <div class="col-12 form-group enable-notifications">
                <label>Activer les notifications ?</label>
                <label class="switch">
                    <input class="checkbox" type="checkbox" name="notificationsEnabled" {{ type.notificationsEnabled ? 'checked' }} onchange="onNotificationsChange($(this))">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    {% endif %}

    {% if type.category.label in constant('App\\Entity\\NotificationTemplate::NOTIFICATIONS_EMERGENCIES') %}
        <div class="row">
            <div class="col-12 form-group notifications-emergencies">
                <label>Activer les notifications seulement si urgence ?</label>
                <label class="switch">
                    <input class="checkbox"
                           name="emergenciesNotificationEnabled"
                           type="checkbox" {{ type.notificationsEmergencies is not empty ? 'checked' }}
                           onchange="onNotificationsEmergenciesChange($(this))">
                    <span class="slider round"></span>
                </label>
                <label class="ml-3 mt-3 notifications-emergencies-select {{ type.notificationsEmergencies is empty ? 'd-none' }}">
                    Pour les valeurs<br>
                    <select class="form-control data w-218px"
                            name="notificationsEmergencies"
                            data-custom-label="Valeur d'urgence pour les notifications"
                            data-s2
                            data-no-empty-option
                            multiple>
                        {% for emergency in dispatchEmergencies %}
                            <option value="{{ emergency }}"
                                    data-category="{{ constant('App\\Entity\\CategoryType::DEMANDE_DISPATCH') }}"
                                {{ type.category.label != constant('App\\Entity\\CategoryType::DEMANDE_DISPATCH') ? 'disabled' }}
                                {{ type.category.label == constant('App\\Entity\\CategoryType::DEMANDE_DISPATCH') and emergency in type.notificationsEmergencies ? 'selected' }}>
                                {{ emergency }}
                            </option>
                        {% endfor %}

                        {% for emergency in handlingEmergencies %}
                            <option value="{{ emergency }}"
                                    data-category="{{ constant('App\\Entity\\CategoryType::DEMANDE_HANDLING') }}"
                                {{ type.category.label != constant('App\\Entity\\CategoryType::DEMANDE_HANDLING') ? 'disabled' }}
                                {{ type.category.label == constant('App\\Entity\\CategoryType::DEMANDE_HANDLING') and emergency in type.notificationsEmergencies ? 'selected' }}>
                                {{ emergency }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    {% endif %}
</form>
