{% extends 'base.html.twig' %}

{% block title %}DemandesApprovisionnements index{% endblock %}

{% block body %}
    <h1>DemandesApprovisionnements index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_approvisionnement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandes_approvisionnement in demandes_approvisionnements %}
            <tr>
                <td>{{ demandes_approvisionnement.id }}</td>
                <td>{{ demandes_approvisionnement.dateApprovisionnement ? demandes_approvisionnement.dateApprovisionnement|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('demandes_approvisionnements_show', {'id': demandes_approvisionnement.id}) }}">show</a>
                    <a href="{{ path('demandes_approvisionnements_edit', {'id': demandes_approvisionnement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demandes_approvisionnements_new') }}">Create new</a>
{% endblock %}