{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | {{ trans('Traçabilité', 'Encours', 'Encours') }}{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersEncours.html.twig' with {
        page: 'PAGE_ENCOURS',
        callback: 'loadPage',
        locationsFilter: locationsFilter
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4">
        <input type="hidden" id="encours-min-location-filter" value="{{ minLocationFilter }}"/>
        <div class="row">
            <div class="col-auto ml-auto">
                <h2 class="m-0">
                    {{ trans('Traçabilité', 'Encours', 'Actualisé le {1} à {2}', {
                        1: "now"|date(app.user.dateFormat ?? 'd/m/Y'),
                        2: "now"|date('H:i:s')
                    }) }}
                </h2>
            </div>
        </div>
        <div class="row">
            {% if emplacements is empty %}
                <div class="col-12">{{ trans('Traçabilité', 'Encours', 'Veuillez paramétrer le délai maximum de vos emplacements pour visualiser leurs encours.') }}</div>
            {% endif %}
            {% for emplacement in emplacements %}
                <div class="col-6 mb-3 {{ (loop.index0 % 2 == 0) ? 'pr-2' : 'pl-2' }} block-encours d-none">
                    <div class="wii-page-card">
                        <div class="row justify-content-between align-items-center mb-3">
                            <div class="col-auto">
                                <h1 class="m-0">{{ emplacement.label }}</h1>
                            </div>
                            {% if hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
                                <div class="col-auto">
                                    <button type="button"
                                            class="btn btn-primary split-button"
                                            onclick="saveExportFile('ongoing_pack_csv', false, { emplacement: {{ emplacement.id }} })">
                                        <i class="fa fa-file-csv mr-2" style="padding: 0 2px"></i>
                                        {{ trans('Général', null, 'Zone liste', 'Exporter au format CSV') }}
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                        <table class="table encours-table w-100"
                               id="{{ emplacement.id }}">
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <input type="hidden" name="fromDashboard" value="{{ fromDashboard }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/encours.js') }}?v={{ web_version }}"></script>
{% endblock %}
