{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | Encours{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersEncours.html.twig' with {
        page: 'PAGE_ENCOURS',
        callback: 'loadPage'
    } %}
{% endblock %}
{% block page_content %}
    <div class="m-4">
        <input type="hidden" id="encours-min-location-filter" value="{{ minLocationFilter }}"/>
        <input type="hidden" id="encours-max-location-filter" value="{{ maxLocationFilter }}">
        <div class="row">
            <div class="col-auto ml-auto"><h2 class="text-white">Actualisé le {{ "now"|date("d/m/Y à H:i", "Europe/Paris") }}</h2></div>
        </div>
        <div class="row">
            <div class="col-12 text-center text-danger error-msg d-none"></div>
            {% if emplacements is empty %}
                <div class="col-12">Veuillez paramétrer le délai maximum de vos emplacements pour visualiser leurs encours.</div>
            {% endif %}
            {% for emplacement in emplacements %}
                <div class="col-6 mb-3 block-encours d-none">
                    <div class="wii-page-card">
                        <h1 class="mt-0 mb-3">{{ emplacement.label }}</h1>
                        <table class="table encours-table w-100"
                               id="{{ emplacement.id }}">
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/encours.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
