{% extends 'layout.html.twig' %}

{% block title %}Stock / En cours{% endblock %}

{% block page_content %}
    <h1>En cours : </h1>
    <br>
    <div class="row">
        {% for key, emplacement in emplacements %}
            <div class="col-6">
                <h1>{{ key }}</h1>
                <table class="table table-striped table-bordered encours-table">
                    <thead>
                    <th>Référence</th>
                    <th>Durée Autorisée</th>
                    <th>Durée</th>
                    <th>Retard</th>
                    </thead>
                    <tbody>
                    {% for encours in emplacement %}
                    <tr class="{{ encours.late ? 'table-danger' : '' }}">
                        <td>{{ encours.ref }}</td>
                        <td>{{ encours.max }}</td>
                        <td>{{ encours.time }}</td>
                        <td>{{ encours.late ? 'Retard' : 'Régulier' }}</td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
<script src = "{{ asset('js/enCours.js') }}?{{ date().timestamp }}"></script>
{% endblock %}