{% extends 'layout.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block page_content %}


<div id="actionsPrincipales" class="row">

    <div class="infos">

    </div>

    <div class="actions">

    </div>
</div>

<div class="affichagePrincipale">
    <form method="POST" name="role">
        <div class="row">
            <div class=" col-11 mx-auto">
                <div class="row btn pull-left">
                    <button type="submit" class="button btn-left">
                        Actualiser les rôles <i class="fas fa-check"></i>
                    </button>
                </div>

                <div class="row btn pull-right">
                    <a href="{{ path('utilisateurs_index_create') }}" class="button btn-left">
                        Nouvelle utilisateur <i class="fas fa-plus-circle"></i>
                    </a>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom d'utilisateur</th>
                            <th>Email</th>
                            <th>Rôle</th>
                            <th>Dernière connexion</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        {% for utilisateur in utilisateurs | reverse %}
                        <tr>
                            <td>{{ utilisateur.username }}</td>
                            <td>{{ utilisateur.email }}</td>
                            <td>
                                <select name="{{utilisateur.id}}">
                                    {% if utilisateur.roles == null %}
                                    <option value="Aucun rôle" selected>Aucun rôle</option>
                                    {% else %}
                                    <option value="{{ utilisateur.roles[0] }}" selected>{{ utilisateur.roles[0] }}</option>
                                    {% endif %}
                                    <option value="ROLE_PARC_ADMIN">ROLE_PARC_ADMIN</option>
                                    <option value="ROLE_SUPER_ADMIN">ROLE_SUPER_ADMIN</option>
                                    <option value="ROLE_ROLE_USER">ROLE_USER</option>
                                </select>
                            </td>
                            <td>{{ utilisateur.lastLogin | date("d/m/Y H:i:s") }}</td>
                            <td>
                                <a href="{{ path('utilisateurs_show', {'id': utilisateur.id}) }}" class="btn btn-xs btn-default command-edit"><i
                                        class="fas fa-eye fa-2x"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">Aucun résultat</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(utilisateurs) }}
            </div>

           
           
        </div>
    </form>
</div>



<div class="actionsSecondaires">

</div>


{% endblock %}

{% block javascripts %}
<script type="text/javascript">
</script>

{% endblock %}