{% set logoURL = values.logoURL ?? null %}
{% set titleComponentLogo = values.titleComponentLogo ?? '' %}
{% set legendCounter = 1 %}

<div class="customization-tools">
    <input type="hidden" name="jsonConfig" value="{{ values | json_encode }}" class="data">
    <div class="legend-translation">
        {% if legendsTranslations is not empty and legendsTranslations|length > 1 %}
            {% for key, legend in legendsTranslations %}
                <div class="form-group col-12 p-0">
                    <label class="wii-field-name">{{ key }}</label>
                    {% for language in languages %}
                        <div>
                            <div class="input-group pb-2">
                                <div class="input-group-prepend h-100">
                                    <span class="input-group-text">
                                        <img class="flag" src="{{ language.flag }}" alt="{{ language.slug }}_flag">
                                    </span>
                                </div>
                                <input class="form-control cursor-default tooltip-input data"
                                       name="legend{{ legendCounter }}_{{ language.slug }}"
                                       type="text"
                                       value="{{ legend[language.slug] ?? ( language.selected ? key : '' ) }}"/>
                            </div>
                        </div>
                    {% endfor %}
                    {% set legendCounter = legendCounter + 1 %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% include 'dashboard/component_type/content/text_customization.html.twig' %}

    <div id="accordion" class="customization-tools-accordion">
        <div class="card my-3">
            <div class="card-header" id="headingOneBackgroundColor">
                <h5 class="toggle-collapsible"
                    data-toggle="collapse"
                    data-target="#collapseBackgroundColor"
                    aria-expanded='false'
                    aria-controls="collapseBackgroundColor">
                    <div class="btn btn-link btn-menu-label">
                        <span>Couleur fond composant</span>
                    </div>
                </h5>
            </div>
            <div id="collapseBackgroundColor" class="collapse" aria-labelledby="headingOneBackgroundColor"
                 data-parent="#accordion">
                <div class="card-body">
                    <input type="color" class="data form-control needed" name="backgroundColor" value="{{ values.backgroundColor ?? '#FFFFFF' }}">
                </div>
            </div>
        </div>
    </div>
    {% if componentType.exampleValues.chartData is defined and componentType.meterKey is not constant('App\\Entity\\Dashboard\\ComponentType::ENTRIES_TO_HANDLE') %}
        <div id="accordion" class="customization-tools-accordion color-picker-accordion">
            <div class="card my-3">
                <div class="card-header" id="headingOneChartColor">
                    <h5 class="toggle-collapsible"
                        data-toggle="collapse"
                        data-target="#collapseChartColor"
                        aria-expanded='false'
                        aria-controls="collapseChartColor">
                        <div class="btn btn-link btn-menu-label">
                            <span>Couleur graphique</span>
                        </div>
                    </h5>
                </div>
                <div id="collapseChartColor" class="collapse" aria-labelledby="headingOneChartColor"
                     data-parent="#accordion">
                    <div class="card-body chart-color-pickers">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if componentType.meterKey == constant('App\\Entity\\Dashboard\\ComponentType::PENDING_REQUESTS') %}
        <div id="accordion-label" class="customization-tools-accordion">
            <div class="card my-3">
                <div class="card-header" id="headingOneCardBackgroundColor">
                    <h5 class="toggle-collapsible"
                        data-toggle="collapse"
                        data-target="#collapseCardBackgroundColor"
                        aria-expanded='false'
                        aria-controls="collapseCardBackgroundColor">
                        <div class="btn btn-link btn-menu-label">
                            <span>Couleur fond étiquette</span>
                        </div>
                    </h5>
                </div>
                <div id="collapseCardBackgroundColor" class="collapse" aria-labelledby="headingOneCardBackgroundColor"
                     data-parent="#accordion-label">
                    <div class="card-body">
                        <input type="color" class="data form-control needed" name="cardBackgroundColor"
                               value="{{ values.cardBackgroundColor ?? '#FFFFFF' }}">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if componentType.meterKey == constant('App\\Entity\\Dashboard\\ComponentType::ONGOING_PACKS') %}
        <div id="accordion" class="customization-tools-accordion">
            <div class="card my-3">
                <div class="card-header" id="titleLogo">
                    <h5 class="toggle-collapsible"
                        data-toggle="collapse"
                        data-target="#collapseTitleColor"
                        aria-expanded='false'
                        aria-controls="collapseTitleColor">
                        <div class="btn btn-link btn-menu-label">
                            <span>Logo titre</span>
                        </div>
                    </h5>
                </div>
                <div id="collapseTitleColor" class="collapse" aria-labelledby="titleLogo"
                     data-parent="#accordion">
                    <div class="card-body p-3">
                        <div class="col-6 d-flex w-fit-content">
                            <input type="hidden" name="isAttachmentForm" value="1" class="data"/>
                            <div class="btn btn-primary" onclick="$(this).siblings('.upload-component-image').click();" style="max-height: 40px">
                                <span class='fas fa-pencil-alt'></span>
                            </div>
                            <div class="mx-3">
                                <div class="preview-container stripped-background logo-icon">
                                    <img src="{{ logoURL }}"
                                         height="50px"
                                         class="preview-component-image image {{ not logoURL ? 'd-none' }}"/>
                                </div>
                                <span class="title-component-image" title="{{ titleComponentLogo }}">{{ titleComponentLogo ? titleComponentLogo | slice(0, 5) ~ '...' }}</span>
                                <input type="hidden" name="titleComponentLogo" class="data" value="">
                            </div>
                            <input type="file"
                                   class="upload-component-image"
                                   accept="image/png, image/jpeg, image/jpg, image/svg+xml"
                                   hidden>
                            <input type="hidden" class="external-image-content data" name="logoURL" value="{{ logoURL }}">
                            <div class="btn btn-danger delete-logo d-flex align-items-center" style="max-height: 40px" onclick="removeUploadedFile($(this));">
                                <span class="wii-icon wii-icon-trash"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if componentType.meterKey == constant('App\\Entity\\Dashboard\\ComponentType::DAILY_DISPATCHES') %}
        <div class="form-group">
            {% set dispatchDate = values.date is defined ? values.date : null %}
            <label>Date de référence*</label>
            <div class="wii-switch-no-style needed mt-2" data-title="Date de référence">
                <div>
                    <input type="radio" class="data" name="date" value="startDate" {{ dispatchDate == "startDate" ? 'checked' }}>
                    <label for="startDate">Date d'échéance "Du"</label>
                </div>
                <div>
                    <input type="radio" class="data" name="date" value="endDate" {{ not dispatchDate or dispatchDate == "endDate" ? 'checked' }}>
                    <label for="endDate">Date d'échéance "Au"</label>
                </div>
                <div>
                    <input type="radio" class="data" name="date" value="validationDate" {{ dispatchDate == "validationDate" ? 'checked' }}>
                    <label for="validationDate">Date de validation</label>
                </div>
                <div>
                    <input type="radio" class="data" name="date" value="treatmentDate" {{ dispatchDate == "treatmentDate" ? 'checked' }}>
                    <label for="treatmentDate">Date de traitement</label>
                </div>
            </div>
        </div>
    {% endif %}
</div>
