{% extends 'dashboard/component_type/content/base_form.html.twig' %}

{% block content %}
    <div class="row">
        <div class="form-group col-6">
            <label>Type(s) d'arrivage*</label>
            <div class="input-group flex-nowrap no-gutters">
                <div class="flex-fill">
                    <select class="data form-control h-100 w-100 needed select2"
                            name="arrivalTypes"
                            multiple
                            title="Type(s) d'arrivage">
                        {% for arrivalType in arrivalTypes %}
                            <option value="{{ arrivalType.id }}" {{ arrivalType in values.arrivalTypes ? 'selected' }}>{{ arrivalType.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group-append col-4">
                    <button class="btn btn-primary select-all-arrival-types w-100" type="button">Tous les types</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label>Statut(s)*</label>
            <div class="input-group flex-nowrap no-gutters">
                <div class="flex-fill">
                    <select class="data form-control h-100 w-100 needed select2"
                            name="arrivalStatuses"
                            multiple
                            title="Statut(s)">
                        {% for arrivalStatus in arrivalStatuses %}
                            <option value="{{ arrivalStatus.id }}" {{ arrivalStatus in values.arrivalStatuses ? 'selected' }}>{{ arrivalStatus.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group-append col-4">
                    <button class="btn btn-primary select-all-arrival-statuses w-100" type="button">Tous les statuts</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="switch">
            <input class="checkbox data needs-default"
                   type="checkbox"
                   name="displayPackNatures"
                {{ values.displayPackNatures ?? false ? 'checked' }}>
            <span class="slider round"></span>
        </label>
        <label>Montrer les natures de colis</label>
    </div>

    <div class="form-group d-flex align-items-center">
        <label>Voir sur les</label>
        <input class="form-control data mx-3 needed"
               name="daysNumber"
               value="{{ values.daysNumber ?? 7 }}"
               type="number"
               min=1
               max=7
               step="1"
               style="width: 70px">
        <label>dernier jours</label>
    </div>
    <label class="d-block mb-3" style="margin-top: -15px;font-size:0.9rem">
        (7 jours maximum. Le jour en cours est compté dans le nombre de jours)
    </label>
{% endblock %}
