{% extends 'dashboard/component_type/content/base_form.html.twig' %}

{% block header %}
    <p class="font-italic">Des dates d'échéance doivent être placées sur les acheminements.</p>
    <p class="font-italic">Des heures travaillées doivent être renseignées.</p>
    <br>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="form-group col-12">
            <label class="wii-field-name">Type(s) d'acheminements*</label>
            <div class="input-group flex-nowrap no-gutters">
                <div class="flex-fill">
                    <select class="data form-control h-100 w-100 needed select2"
                            name="dispatchTypes"
                            multiple
                            title="Type(s) d'acheminements">
                        {% for dispatchType in dispatchTypes %}
                            <option value="{{ dispatchType.id }}" {{ dispatchType in values.dispatchTypes ? 'selected' }}>{{ dispatchType.label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group-append col-4">
                    <button class="btn btn-primary select-all-types w-100" type="button">Tous les types</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group align-items-center separate-type">
        <div class="col-auto">
            <label class="switch">
                <input class="checkbox"
                       type="checkbox"
                       name="separateType"
                       onclick="hideOrShowStackButton()"
                    {{ values.separateType ?? false ? 'checked' }}/>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col">
            <label class="wii-field-text">Distinguer les acheminements par type</label>
        </div>
    </div>
    <div class="row form-group align-items-center stack-button {{ values.separateType != true ? 'd-none' : '' }}">
        <div class="col-auto">
            <label class="switch">
                <input class="checkbox"
                       type="checkbox"
                       name="stackValues"
                    {{ (values.stackValues == true and values.separateType == true) ? 'checked' : '' }}/>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col">
            Afficher des diagrammes en empilés
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label class="wii-field-name">Statut(s)*</label>
            <div class="input-group flex-nowrap no-gutters">
                <div class="flex-fill">
                    <select class="data form-control h-100 w-100 needed select2"
                            name="dispatchStatuses"
                            multiple
                            title="Statut(s)">
                        {% for dispatchStatus in dispatchStatuses %}
                            <option value="{{ dispatchStatus.id }}" {{ dispatchStatus in values.dispatchStatuses ? 'selected' }}>{{ dispatchStatus.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group-append col-4">
                    <button class="btn btn-primary select-all-statuses w-100" type="button">Tous les statuts</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group d-flex align-items-center mt-3">
        <label>Voir sur les</label>
        <input class="form-control data mx-3 needed"
               name="scale"
               value="{{ values.scale ?? 7 }}"
               type="number"
               min=1
               max=7
               step="1"
               style="width: 70px">
        <select class="form-control data w-50" name="period">
            <option value="{{ constant('App\\Service\\DashboardService::DAILY_PERIOD_PREVIOUS_DAYS') }}" {{  values.period is not defined or constant('App\\Service\\DashboardService::DAILY_PERIOD_PREVIOUS_DAYS') == values.period ? 'selected' }}>dernier jours</option>
            <option value="{{ constant('App\\Service\\DashboardService::DAILY_PERIOD_NEXT_DAYS') }}" {{  values.period is defined and constant('App\\Service\\DashboardService::DAILY_PERIOD_NEXT_DAYS') == values.period ? 'selected' }}>prochains jours</option>
        </select>
    </div>
    <label class="d-block mb-3" style="margin-top: -15px;font-size:0.9rem">
        (7 jours maximum. Le jour en cours est compté dans le nombre de jours)
    </label>
{% endblock %}
