{% extends 'dashboard/component_type/content/base_form.html.twig' %}
{% import 'form.html.twig' as form %}

{% block content %}
{{ form.hidden('redirect', true) }}
<div class="row">
    <div class="col-12">
        <div class="row form-group">
            <div class="col-12">
                <label class="wii-field-name">Infobulle "Nombre de lignes à traiter"</label>
            </div>
            <div class="col-12">
                <input class="data form-control w-100"
                       name="linesCountTooltip"
                       type="text"
                       value="{{ values.linesCountTooltip ?? '' }}"
                       title="Infobulle Nombre de lignes à traiter"/>
            </div>
        </div>

        <div class="row form-group">
            {{ form.input('nextElementTooltip', 'Infobulle "Prochain élément à traiter"', false, values.nextElementTooltip ?? '', {
                type: 'text',
                labelClass: 'col-12',
            }) }}
        </div>

        <div class="row form-group">
            <div class="col-12">
                <label class="wii-field-name">Infobulle "Prochain emplacement à traiter"</label>
            </div>
            <div class="col-12">
                <input class="data form-control w-100"
                       name="nextLocationTooltip"
                       type="text"
                       value="{{ values.nextLocationTooltip ?? '' }}"
                       title="Infobulle Prochain emplacement à traiter"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12">
                <label class="wii-field-name">Natures*</label>
            </div>
            <div class="col-12">
                <select class="data form-control w-100 needed select2"
                        name="natures"
                        multiple
                        title="Natures">
                    {% for nature in natures %}
                        <option value="{{ nature.id }}" {{ nature in values.natures ? 'selected' }}>{{ nature.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12">
                <label class="wii-field-name">Emplacements*</label>
            </div>
            <div class="col-12">
                <select class="ajax-autocomplete-location data form-control w-100 needed"
                        name="locations"
                        multiple
                        title="Emplacements">
                    {% for location in values.locations %}
                        <option value="{{ location.id }}" selected>{{ location.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12">
                {% set inProgress = (constant("App\\Entity\\Setting::TREATMENT_DELAY_IN_PROGRESS")) %}
                {% set onHold = (constant("App\\Entity\\Setting::TREATMENT_DELAY_ON_HOLD")) %}
                {% set both = (constant("App\\Entity\\Setting::TREATMENT_DELAY_BOTH")) %}
                {{ form.switch('treatmentDelayType', 'Délais de traitement', false, [
                    {label: 'En cours', value: inProgress, checked: (values.treatmentDelayType ?? '') == inProgress },
                    {label: 'En pause', value: onHold, checked: (values.treatmentDelayType ?? '') == onHold },
                    {label: 'Les deux', value: both, checked: (values.treatmentDelayType ?? '') == both },
                ]) }}
            </div>
        </div>

        <div class="mb-3">
            <i class="fas fa-info-circle"></i>
            <span class="font-weight-bold">Granularité des éléments</span>
            <p class="ml-3">Les groupes sont pris en compte dans ce graphique et comptent pour un élément. Les UL contenues dans un groupe ne sont pas comptées.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content_right %}
    {% include 'utils/segments-list.html.twig' with {
        values,
        defaultValues: ['6', '12', '24', '36', '48'],
    } %}
{% endblock %}
