{% extends 'dashboard/component_type/content/base_form.html.twig' %}
{% import 'form.html.twig' as form %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="row form-group">
            <div class="col-12">
                <label class="wii-field-name">Infobulle "Nombre de lignes à traiter"</label>
            </div>
            <div class="col-12">
                <input class="data form-control w-100"
                       name="linesCountTooltip"
                       type="text"
                       value="{{ values.linesCountTooltip ?? '' }}"
                       title="Infobulle Nombre de lignes à traiter"/>
            </div>
        </div>

        <div class="row form-group">
            {{ form.input('nextElementTooltip', 'Infobulle "Prochain élément à traiter"', false, values.nextElementTooltip ?? '', {
                type: 'text',
                labelClass: 'col-12',
            }) }}
        </div>

        <div class="row form-group">
            <div class="col-12">
                <label class="wii-field-name">Infobulle "Prochain emplacement à traiter"</label>
            </div>
            <div class="col-12">
                <input class="data form-control w-100"
                       name="nextLocationTooltip"
                       type="text"
                       value="{{ values.nextLocationTooltip ?? '' }}"
                       title="Infobulle Prochain emplacement à traiter"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12">
                <label class="wii-field-name">Natures*</label>
            </div>
            <div class="col-12">
                <select class="data form-control w-100 needed select2"
                        name="natures"
                        multiple
                        title="Natures">
                    {% for nature in natures %}
                        <option value="{{ nature.id }}" {{ nature in values.natures ? 'selected' }}>{{ nature.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12">
                <label class="wii-field-name">Emplacements*</label>
            </div>
            <div class="col-12">
                <select class="ajax-autocomplete-location data form-control w-100 needed"
                        name="locations"
                        multiple
                        title="Emplacements">
                    {% for location in values.locations %}
                        <option value="{{ location.id }}" selected>{{ location.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12">
                {{ form.switch('traitmentDelayType', 'Délais de traitement', false, [
                    {label: 'En cours', value: 'in_progress', checked: values.traitmentDelayType == 'in_progress'},
                    {label: 'En pause', value: 'on_hold', checked: values.traitmentDelayType == 'on_hold'},
                    {label: 'Les deux', value: 'both', checked: values.traitmentDelayType == 'both'},
                ]) }}
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block content_right %}
    {% include 'utils/segments-list.html.twig' with {
        values,
        defaultValues: ['6', '12', '24', '36', '48'],
    } %}
{% endblock %}
