{% extends 'dashboard/component_type/content/base_form.html.twig' %}

{% set kind = values.kind is defined ? values.kind : null %}
{% set shown = values.shown is defined ? values.shown : null %}

{% block content %}
    <div class="row">
        <div class="form-group col-6">
            <label>Demande*</label>
            <select class="data form-control w-100 needed" name="kind">
                <option value="delivery" {{ kind == 'delivery' ? 'selected' }}>Livraison</option>
                <option value="collect" {{ kind == 'collect' ? 'selected' }}>Collecte</option>
                <option value="handling" {{ kind == 'handling' ? 'selected' }}>Service</option>
                <option value="dispatch" {{ kind == 'dispatch' ? 'selected' }}>Acheminement</option>
                <option value="transfer" {{ kind == 'transfer' ? 'selected' }}>Transfert</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label class="d-inline-block">Afficher</label>
            <select class="data form-control w-100 needed d-inline-block" name="shown">
                <option value="self" {{ shown == 'self' ? 'selected' }}>seulement mes demandes</option>
                <option value="everyone" {{ shown == 'everyone' ? 'selected' }}>toutes les demandes</option>
            </select>
        </div>
    </div>
{% endblock %}
