<div class="mb-3 form-group">
    <label for="label">Nom</label>
    <input type="text" class="data form-control needed" name="label" value="{{ role.label }}">
</div>

{% for menu in menus %}
    <div class="form-group">
        <div class="row">
            <div style="width: 18%; margin-left: 1em;">
                <label>{{ menu.label }}</label>
            </div>

            {% for action in menu.actions %}
                {% set checked = (action.id in actionsIdOfRole) ? 'checked' : '' %}
                <div style="width: 20%">
                    <label class="switch">
                        <input class="checkbox" type="checkbox" {{ checked }} name="{{ menu.code~'/'~action.label }}">
                        <span class="slider round"></span>
                    </label>
                    {{ action.label }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}

<div class="error-msg"></div>