{% extends 'layout.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block page_content %}
    <div class="row page-title">
        UTILISATEURS
    </div>

    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="id" data-visible="false" data-sortable="false">Id</th>
                <th data-column-id="username">Username</th>
                <th data-column-id="email">Email</th>
                {# <th data-column-id="groupe" data-visible="false" data-sortable="false">Groupe</th> #}
                <th data-column-id="roles" data-sortable="false">Rôles</th>
                <th data-column-id="lastLogin">Dernière connexion</th>
                <th data-colun-id="commands" data-formatter="commands">Action</th>
            </tr>
        </thead>
    </table>

    <div class="row">
        <div class="col-md-6">
            <fieldset class="well">
                <legend class="well-legend">Créer un utilisateur</legend>
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" placeholder="E-mail">
                    </div>
                    <div class="input-group">
                        <select class="form-control">
                            <option>User</option>
                            <option>Super-user</option>
                            <option>Admin</option>
                            <option>Super-admin</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <a href="#" class="button btn-left"><span class="fa fa-check"></span>
                            Valider</a>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="well">
                <legend class="well-legend">Modifier un utilisateur</legend>
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" placeholder="E-mail">
                    </div>
                    <div class="input-group">
                        <select class="form-control">
                            <option>User</option>
                            <option>Super-user</option>
                            <option>Admin</option>
                            <option>Super-admin</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <a href="#" class="button btn-left"><span class="fa fa-check"></span>
                            Valider</a>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var grid = $("#grid-data").bootgrid({
            ajax: true,
            requestHandler: function (request) {
                request.id = "b0df282a-0d67-40e5-8558-c9e93b7befed";
                request.currentPage = $("#grid-data").bootgrid("getCurrentPage");
                request.rowCount = $("#grid-data").bootgrid("getRowCount");
                return request;
            },
            url: "{{ path('utilisateurs_index') }}",
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-view\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-pencil\"></span></button> ";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            /* Executes after data is loaded and rendered */
            grid.find(".command-view").on("click", function (e) {/*
                var url = "{{ path('utilisateurs_edit', {'id': 'edit_id'}) }}";
                url = url.replace("edit_id", id);
                window.location.href = url;*/

                var id = $(this).attr("data-row-id");
                $.ajax({
                    url: "#",
                    type: "POST",
                    dataType: "json",
                    data: {id},
                    async: true,
                    success: function (resp) {
                        user = resp;
                        $("input[id='form_username']").val(user.username);
                        $("input[id='form_email']").val(user.email);
                    }

                });

            });
        });

    </script>

{% endblock %}

{# 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>
                    <a href="{{ path('utilisateurs_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('utilisateurs_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateurs_new') }}">Create new</a> #}
