{% import 'form.html.twig' as form %}

<div
      class="modal fade"
      id="modalNewMvtStock"
      role="dialog"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"
         role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Nouveau mouvement"
            } %}

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-6">
                        {{ form.input('demandeur', 'Opérateur', true, app.user.username, {
                            disabled: true,
                            data:false,
                        }) }}
                    </div>
                    <div class="form-group col-6">
                        {{ form.select('reference-new-mvt', 'Référence', true, {
                            type:'reference',
                            attributes: {
                                "other-params-active-only" : true,
                            },
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 d-none is-hidden-by-ref">
                        {{ form.input('chosen-ref-label', 'Libellé', false, '', {
                            disabled: true,
                        }) }}
                    </div>

                    <div class="form-group col-6 d-none is-hidden-by-ref">
                        {{ form.input('chosen-ref-barcode', 'Code barre', false, '', {
                            disabled: true,
                        }) }}
                    </div>

                    <div class="form-group col-6 d-none is-hidden-by-art">
                        {{ form.select('chosen-art-barcode', 'Code barre article', true, {
                            type: 'article',
                            includeParams: '[name=reference-new-mvt]',
                        }) }}
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-6 d-none is-hidden-by-ref">
                        {{ form.input('chosen-ref-location', 'Origine', false, '', {
                            disabled: true,
                        }) }}
                    </div>
                    <div class="form-group col-6 d-none is-hidden-by-ref">
                        {% set typeMvt = typesMvt|map((type) => {
                            label: type,
                            value: type,
                            "needs-location": type == constant('App\\Entity\\MouvementStock::TYPE_TRANSFER'),
                            "needs-quantity": type != constant('App\\Entity\\MouvementStock::TYPE_TRANSFER'),
                            "needs-quantity-cap": type == constant('App\\Entity\\MouvementStock::TYPE_SORTIE'),
                        }) %}

                        {{ form.select('chosen-type-mvt', 'Type', true, {
                            type: "",
                            items: typeMvt,
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6 d-none is-hidden-by-ref">
                        {{ form.input('chosen-ref-quantity', 'Quantité disponible', false, '', {
                            disabled: true,
                            type: "number",
                        }) }}
                    </div>
                    <div class="form-group col-6 d-none is-hidden-by-type">
                        {{ form.input('chosen-mvt-quantity', 'Quantité entrée/sortie', true, 0, {
                            type: "number",
                            min: "0",
                            labelClass: "labelQuantityMovement",
                        }) }}
                    </div>
                    <div class="form-group col-6 d-none is-hidden-by-type">
                        {{ form.select('chosen-mvt-location', 'Destination', true, {
                            type:'location',
                            labelClass: "labelLocationMovement w-100",
                        }) }}
                    </div>
                    <div class="form-group col-12 is-hidden-by-ref">
                        {{ form.wysiwyg('comment', 'Commentaire', false) }}
                    </div>
                </div>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', type: 'submit'}
                ],
            } %}

        </div>
    </div>
</div>
