{% extends 'base.html.twig' %}

{% block title %}Transferts index{% endblock %}

{% block body %}
    <h1>Transferts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Quantite</th>
                <th>Date_transfert</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transfert in transferts %}
            <tr>
                <td>{{ transfert.id }}</td>
                <td>{{ transfert.statut }}</td>
                <td>{{ transfert.quantite }}</td>
                <td>{{ transfert.dateTransfert ? transfert.dateTransfert|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('transferts_show', {'id': transfert.id}) }}">show</a>
                    <a href="{{ path('transferts_edit', {'id': transfert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transferts_new') }}">Create new</a>
{% endblock %}