{% extends 'base.html.twig' %}

{% block title %}Transferts{% endblock %}

{% block body %}
    <h1>Transferts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transfert.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ transfert.statut }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ transfert.quantite }}</td>
            </tr>
            <tr>
                <th>Date_transfert</th>
                <td>{{ transfert.dateTransfert ? transfert.dateTransfert|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transferts_index') }}">back to list</a>

    <a href="{{ path('transferts_edit', {'id': transfert.id}) }}">edit</a>

    {{ include('transferts/_delete_form.html.twig') }}
{% endblock %}