{% set boxStyle = boxStyle ?? true %}
{% set box_classes = box_classes is defined ? box_classes : 'mt-4' %}

{% if boxStyle %}
    <div class="wii-page-card {{ alwaysVisible ?? false ? 'always-visible' }} {{ box_classes }}">
{% endif %}
{% if type == 'chart' %}
    <div class="max-h-px-400 w-100">
        <canvas data-chart data-fetch-url="{{ fetch_url }}" data-needsline="{{ minTemp is defined or maxTemp is defined }}" data-maxTemp="{{ maxTemp is defined ? maxTemp }}"
                data-minTemp="{{ minTemp is defined ? minTemp }}" width="400" height="400"></canvas>
    </div>
{% elseif type == 'map' %}
    <div data-map data-fetch-url="{{ fetch_url }}" style="height:500px;width:100%"></div>
{% endif %}
{% if boxStyle %}
    </div>
{% endif %}
