<div class="row association-pane-item">
    <span class="wii-icon wii-icon-{{ icon }}" style="background: {{ color }}"></span>
    <div class="right-column">
        <span class="title" style="color: {{ color }}">{{ title }}</span>
        {% if subtitle ?? null %}
            <span class="subtitle">{{ subtitle | join('<br>') | raw }}</span>
        {% endif %}
    </div>

    <div class="dropdown">
        <img src="{{ asset('svg/dotsblack.svg') }}" alt="Actions" height="20px" width="8px"
             data-toggle="dropdown" class="association-actions"/>
        <div class="dropdown-menu dropdown-follow-gt pointer">
            {% if type == 'sensor' %}
                <button class="dropdown-item pointer"><i class="fas fa-edit"></i> Modifier fin association</button>
                <button class="dropdown-item pointer"><i class="fas fa-unlink"></i> Dissocier</button>
            {% elseif type == 'entity' %}
                <button class="dropdown-item pointer"><i class="fas fa-wifi"></i> Voir l'historique des données</button>
            {% endif %}
        </div>
    </div>
</div>
<hr>
