{% macro paneItem(color, icon, title, subtitle) %}
    <div class="col-12 association-pane-item d-flex align-items-center">
        <span class="wii-icon wii-icon-{{ icon }} mr-3" style="background: {{ color }}"></span>
        <div class="right-column">
            <span class="title" style="color: {{ color }}">{{ title }}</span>
            {% if subtitle ?? null %}
                <span class="subtitle">{{ subtitle | join('<br>') | raw }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% import _self as macros %}

{% set type = type is defined ? type %}
{% set activeAssociation = activeAssociation is defined ? activeAssociation %}
{% set pairing = pairing is defined ? pairing %}
{% set isTimeline = isTimeline is defined ? isTimeline %}
{% set color = color is defined ? color %}
{% set icon = icon is defined ? icon %}
{% set title = title is defined ? title %}
{% set subtitle = subtitle is defined ? subtitle %}

{% set isTimelineHeader = (type == constant('App\\Service\\IOT\\DataMonitoringService::TIMELINE')) %}

<div class="row position-relative">
    {% if isTimeline %}
        <div class="col-12 py-3 timeline-container"
             data-timeline-data-path="{{ timelineDataPath }}">
        </div>
    {% elseif items is defined %}
        {% for item in items %}
            {{ macros.paneItem(item.color, item.icon, item.title, item.subtitle ?? null) }}
        {% endfor %}
    {% else %}
        {{ macros.paneItem(color, icon, title, subtitle ?? null) }}
    {% endif %}

    {% if type == 'sensor'
          or type == 'entity'
          or (isTimelineHeader and activeAssociation) %}
        <div class="dropdown dropleft association-actions">
            <img src="{{ asset('svg/dotsblack.svg') }}"
                 alt="Actions"
                 height="20px"
                 width="8px"
                 data-toggle="dropdown" class="pointer"/>
            <div class="dropdown-menu dropdown-follow-gt pointer">
                {% if type == 'sensor' and pairing %}
                    <button class="dropdown-item pointer" data-toggle="modal" data-target="#modalEditPairingEnd" data-id="{{ pairing.id }}">
                        <i class="fas fa-edit"></i> Modifier fin association
                    </button>
                    <button class="dropdown-item pointer" onclick="unpair({{ pairing.id }})"><i class="fas fa-unlink"></i> Dissocier</button>
                {% elseif type == 'entity' %}
                    <button class="dropdown-item pointer"><i class="fas fa-wifi"></i> Voir l'historique des données</button>
                {% elseif type == constant('App\\Service\\IOT\\DataMonitoringService::TIMELINE') and activeAssociation %}
                    <a href="{{ path('pairing_show', {pairing: activeAssociation.id}) }}" class="dropdown-item pointer" target="_blank">
                        <i class="fas fa-wifi"></i> Aller sur l'association active
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
