{% extends 'layout.html.twig' %}

{% block title %}configuration du serveur mail{% endblock %}

{% block page_content %}

<h1>Configuration du serveur mail</h1>
<div class='row justify-content-center'>
    <form action="" class="col-6" id="mailerServerForm">
        <div class="form-group">
            <label for="">Serveur SMTP</label>
            <input type="text"  class="form-control data"  name="smtp" value="{{mailerServer.smtp is defined ? mailerServer.smtp :'' }}">
        </div>
        <div class="form-group">
            <label for="">Nom d'utilisateur</label>
            <input type="text"  class="form-control data"  name="user" value="{{mailerServer.user is defined ? mailerServer.user : ''}}">
        </div>
        <div class="form-group">
            <label for="">Mot de passe</label>
            <input type="password"  class="form-control data"  name="password" value="{{mailerServer.password is defined ? mailerServer.password : ''}}">
        </div>
        <div class="form-group">
            <label for="">Port</label>
            <input type='number'  class="form-control data"  name="port" value="{{mailerServer.port is defined ? mailerServer.port : ''}}">
        </div>
        <div class="form-group">
            <label for="">Protocol</label>
            <input type="text"  class="form-control data"  name="protocol" value="{{mailerServer.protocol is defined ? mailerServer.protocol : ''}}">
        </div>
        <button type="button"  class="btn btn-success" onclick="ajaxMailerServer()">Enregistrer</button>
    </form>
</div>

<button hidden id="buttonModalMailerSet" data-target="#modalMailerSet" data-toggle="modal"></button>
{% include 'mailer_server/modalMailerSet.html.twig' %}

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/mailerServer.js') }}"></script>
{% endblock %}