<form>
    <div class="row">
        <div class="form-group col-12">
            <label class="wii-field-name">{{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Numéro groupe") }} </label>
            <input type="text" class="form-control" value="{{ group.code }}" readonly/>
        </div>
        <div class="form-group col-md-6 col-12">
            <label class="wii-field-name" title="Nature de colis">{{ trans('Traçabilité', 'Unités logistiques', 'Divers', "Nature d'unité logistique") }}*</label>
            <select class="form-control data needed"
                    name="nature"
                    title="{{ trans('Traçabilité', 'Unités logistiques', 'Divers', "Nature d'unité logistique") }}">
                <option value>{{ trans('Traçabilité', 'Général', 'Sélectionner une nature', false) }}</option>
                {% set packNatureId = group.nature is not null ? group.nature.id : null %}
                {% for nature in natures %}
                    <option value="{{ nature.id }}" {{ packNatureId == nature.id ? 'selected' }}>{{ nature.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6 col-12">
            <label class="wii-field-name">{{ trans('Traçabilité', 'Unités logistiques', 'Onglet "Groupes"', "Nombre d'UL") }}</label>
            <input type="number" class="form-control" value="{{ group.children | length }}" readonly/>
        </div>
        <div class="form-group col-md-6 col-12">
            <label class="wii-field-name">{{ trans('Traçabilité', 'Unités logistiques', 'Divers', 'Poids (kg)') }}</label>
            <input class="form-control data" value="{{ group.weight }}" name="weight"/>
        </div>
        <div class="form-group col-md-6 col-12">
            <label class="wii-field-name">{{ trans('Traçabilité', 'Unités logistiques', 'Divers', 'Volume (m3)') }}</label>
            <input class="form-control data" value="{{ group.volume }}" name="volume"/>
        </div>
        <div class="col-12">
            <label class="wii-field-name" for="commentaire">{{ trans('Général', null, 'Modale', 'commentaire') }}</label>
            <input id="commentaire"
                   class="form-control data"
                   name="comment"
                   type="hidden"
                   value="{{ group.comment }}">
            <div class="editor-container-edit" data-wysiwyg>{{ group.comment | raw }}</div>
        </div>
    </div>
</form>
