{% import 'form.html.twig' as form %}

<div class="wii-section-title">Création d'un arrivage</div>
<div class="wii-section">
    <div class="row">
        <div class="col-md-6 col-12 my-1">
            {{ form.checkbox(setting('REDIRECT_AFTER_NEW_ARRIVAL'), "Redirection vers l'arrivage créé", false, setting_value('REDIRECT_AFTER_NEW_ARRIVAL')) }}
        </div>
        <div class="col-md-6 col-12 my-1">
            {{ form.checkbox(setting('SEND_MAIL_AFTER_NEW_ARRIVAL'), "Envoyer un email après nouvel arrivage", false, setting_value('SEND_MAIL_AFTER_NEW_ARRIVAL')) }}
        </div>
        <div class="col-md-6 col-12 my-1">
            {{ form.checkbox(setting('AUTO_PRINT_LU'), "Impressions cochées par défaut", false, setting_value('AUTO_PRINT_LU')) }}
        </div>
        <div class="col-md-6 col-12 my-1">
            {{ form.checkbox(setting('PRINT_TWICE_CUSTOMS'), 'Impression en double de l\'étiquette d\'UL d\'arrivage si champ "Douane" coché', false, setting_value('PRINT_TWICE_CUSTOMS')) }}
        </div>
        <div class="col-md-6 col-12 my-1">
            {{ form.checkbox(setting('USE_TRUCK_ARRIVALS'), 'Utilisation des arrivages camion', false, setting_value('USE_TRUCK_ARRIVALS')) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 col-12 my-1">
            {% set location = setting_value('MVT_DEPOSE_DESTINATION', 'App\\Entity\\Emplacement') %}

            {{ form.select(setting('MVT_DEPOSE_DESTINATION'), "Emplacement de destination des arrivages", false, {
                value: location ? location.id,
                items: location ? [{value: location.id, label: location.label}],
                type: 'location'
            }) }}
        </div>

        <div class="col-md-6 col-12 my-1">
            {% set location = setting_value('DROP_OFF_LOCATION_IF_CUSTOMS', 'App\\Entity\\Emplacement') %}

            {{ form.select(setting('DROP_OFF_LOCATION_IF_CUSTOMS'), 'Emplacement de dépose des arrivages si champ "douane" coché', false, {
                value: location ? location.id,
                items: location ? [{value: location.id, label: location.label}],
                type: 'location'
            }) }}
        </div>

        <div class="col-md-6 col-12 my-1">
            {% set location = setting_value('DROP_OFF_LOCATION_IF_EMERGENCY', 'App\\Entity\\Emplacement') %}

            {{ form.select(setting('DROP_OFF_LOCATION_IF_EMERGENCY'), 'Emplacement de dépose des arrivages si urgence détectée', false, {
                value: location ? location.id,
                items: location ? [{value: location.id, label: location.label}],
                type: 'location'
            }) }}
        </div>
    </div>
</div>
