{% import 'form.html.twig' as form %}

<div class="wii-section">
    <div class="row">
        <div class="col-12 wii-small-text">
            Indiquez ce que vous voulez afficher sur les étiquettes des arrivages. Pour paramétrer le format de l'étiquette retourner dans le
            paramétrage "Global".
        </div>
    </div>
</div>

<div class="wii-section-title">Sur l'étiquette colis d'arrivage</div>
<div class="wii-section">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_RECIPIENT_IN_LABEL'), "Afficher le destinataire", false, setting_value('INCLUDE_RECIPIENT_IN_LABEL')) }}
                </div>
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_PACK_COUNT_IN_LABEL'), "Afficher le numéro du colis dans l'arrivage", false, setting_value('INCLUDE_PACK_COUNT_IN_LABEL')) }}
                </div>
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_DZ_LOCATION_IN_LABEL'), "Afficher l’emplacement de dropzone", false, setting_value('INCLUDE_DZ_LOCATION_IN_LABEL')) }}
                </div>
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_COMMAND_AND_PROJECT_NUMBER_IN_LABEL'), "Afficher les numéros de commande et le numéro de projet", false, setting_value('INCLUDE_COMMAND_AND_PROJECT_NUMBER_IN_LABEL')) }}
                </div>
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_ARRIVAL_TYPE_IN_LABEL'), "Afficher le type", false, setting_value('INCLUDE_ARRIVAL_TYPE_IN_LABEL')) }}
                </div>
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_BUSINESS_UNIT_IN_LABEL'), "Afficher la business unit", false, setting_value('INCLUDE_BUSINESS_UNIT_IN_LABEL')) }}
                </div>
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_PROJECT_IN_LABEL'), "Afficher le projet", false, setting_value('INCLUDE_PROJECT_IN_LABEL')) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row align-items-center">
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_EMERGENCY_IN_LABEL'), 'Afficher "Urgence" si une urgence est détectée dans un arrivage', false, setting_value('INCLUDE_EMERGENCY_IN_LABEL')) }}
                </div>
                <div class="col-sm-7 col-12 my-1">
                    {{ form.input(setting('EMERGENCY_TEXT_LABEL'), "Intitulé urgence sur étiquette", false, setting_value('EMERGENCY_TEXT_LABEL')) }}
                </div>
                <div class="col-sm-5 col-12 my-1">
                    {{ form.image(setting('EMERGENCY_ICON'), null, false, setting_value('EMERGENCY_ICON'), {
                        formats: 'image/png, image/jpeg, image/jpg',
                    }) }}
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 my-1">
                    {{ form.checkbox(setting('INCLUDE_CUSTOMS_IN_LABEL'), 'Afficher "Douane" si la douane est cochée dans un arrivage', false, setting_value('INCLUDE_CUSTOMS_IN_LABEL')) }}
                </div>
                <div class="col-sm-7 col-12 my-1">
                    {{ form.input(setting('CUSTOM_TEXT_LABEL'), "Intitulé douane sur étiquette", false, setting_value('CUSTOM_TEXT_LABEL')) }}
                </div>
                <div class="col-sm-5 col-12 my-1">
                    {{ form.image(setting('CUSTOM_ICON'), null, false, setting_value('CUSTOM_ICON'), {
                        formats: 'image/png, image/jpeg, image/jpg',
                    }) }}
                </div>
            </div>
        </div>
    </div>
</div>
