{% import 'form.html.twig' as form %}

{% set missionRule = missionRule is defined ? missionRule : null %}

{% set articleType = constant('App\\Entity\\inventory\\InventoryMission::ARTICLE_TYPE') %}
{% set locationType = constant('App\\Entity\\inventory\\InventoryMission::LOCATION_TYPE') %}
{% set isMissionArticleType = missionRule ? missionRule.missionType == articleType : false %}
{% set isMissionLocationType = missionRule ? missionRule.missionType == locationType : false %}


<div class="row">
    {% if missionRule  %}
        {{ form.input('ruleId', null, true, missionRule.id, {
            type: 'hidden',
        }) }}
    {% endif %}
    <div class="col-12">
        {{ form.switch('missionType', 'Type de mission', true, [
            {label: 'Quantité article', value: articleType, checked: isMissionArticleType},
            {label: 'Article sur emplacement', value: locationType, checked: isMissionLocationType},
        ]) }}
    </div>
    <div class="col-6 mt-3">
        {{ form.input('label', 'Libellé de la tache', true, missionRule ? missionRule.label : false, {
            type: 'text',
        }) }}
    </div>
    <div class="col-6 mt-3">
        {{ form.input('description', 'Description', true, missionRule ? missionRule.description : false, {
            type: 'text',
        }) }}
    </div>
    <div class="col-6 mt-3">
        <label class="w-100" data-dashlane-label="true">
            <span class="d-inline-flex align-items-center field-label wii-field-name" style="margin-bottom: 5px">
                 Durée*
            </span>
            <div class="d-flex no-gutters">
                <div class="col-4 pr-2">
                    {{ form.input('duration', null, true, missionRule ? missionRule.duration : null, {
                        type: 'number',
                        min: 0,
                        max: 999,
                        step: 1,
                        width: 'w-25',
                    }) }}
                </div>
                <div class="col-8">
                    {{ form.select('durationUnit', null ,true, {
                        items: {
                            (constant('App\\Entity\\inventory\\InventoryMissionRule::DURATION_UNIT_WEEKS')): 'Semaines',
                            (constant('App\\Entity\\inventory\\InventoryMissionRule::DURATION_UNIT_MONTHS')): 'Mois',
                        },
                        value: missionRule ? missionRule.durationUnit : null
                    }) }}

                </div>
            </div>
        </label>
    </div>
    <div class="col-12">
        {% include 'planner/planner.html.twig' with {
            frequency: missionRule ? missionRule.frequency : null,
            begin: missionRule ? missionRule.begin : null,
            intervalPeriod: missionRule ? missionRule.intervalPeriod : null,
            intervalTime: missionRule ? missionRule.intervalTime : null,
            period: missionRule ? missionRule.period : null,
            weekDays: missionRule ? missionRule.weekDays : null,
            months: missionRule ? missionRule.months : null,
            monthDays: missionRule ? missionRule.monthDays : null,
            required: true,
        } %}
    </div>
</div>
<div class="row {{ isMissionLocationType ? '' : 'd-none' }}" id="locationTypeForm">
    <div class="col-12">
        <div class="wii-section-title my-3">Contenu de l'inventaire</div>
    </div>
    <div class="col-6 mt-3">
        {{ form.select('zones', 'Ajout des emplacements des zones', false, {
            type: 'zones',
            multiple: true,
        }) }}
        <button class="btn btn-primary mt-1 d-flex align-items-center add-button" data-type="zones">
            <i class="wii-icon wii-icon-plus mr-2"></i>
            Ajouter les emplacements des zones
        </button>
    </div>
    <div class="col-6 mt-3">
        {{ form.select('locations', 'Ajout des emplacements', false, {
            type: 'location',
            multiple: true,
        }) }}
        <button class="btn btn-primary mt-1 d-flex align-items-center add-button" data-type="locations">
            <i class="wii-icon wii-icon-plus mr-2"></i>
            Ajouter les emplacements
        </button>
    </div>
    <div class="col-12">
        <div class="wii-section-title my-3">Liste des emplacement sélectionnés</div>
    </div>
    <div class="col-12">
        <table
            id="tableLocations"
            class="table w-100"
            data-initial-data="{{ initialLocations|json_encode }}"
        >
        </table>
    </div>
</div>
<div class="row {{ isMissionArticleType ? '' : 'd-none' }}" id="articleTypeForm">
    <div class="col-6">
        {{ form.select('categories', 'Catégorie(s)', true, {
            multiple: true,
            type: 'inventoryCategories',
            value: missionRule ? missionRule.categories : null,
        }) }}
    </div>
</div>

