<div class="form-group w-100">
    Il reste moins de <span class="bold">{{ nbPeriod }} {{ typePeriod }}{% if nbPeriod > 1 and typePeriod != 'mois' %}s{% endif %}</span>
    avant la date de péremption :

    <table class="table table-responsive table-striped mt-3">
        <tr>
            <th class="bold">Label</th>
            <th class="bold">Référence</th>
            <th class="bold">Date de péremption</th>
        </tr>
        {% for ref in listRef %}
                <tr>
                    <td>{{ ref.libelle }}</td>
                    <td>{{ ref.reference }}</td>
                    <td class="text-center">{{ ref.expiryDate|date('d/m/Y') }}</td>
                </tr>
        {% endfor %}
    </table>
</div>