{% extends 'layout.html.twig' %}

{% block title %}Ordre | Préparation | Détails{% endblock %}
{% block titleLink path('preparation_index') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('pack-common') }}
{% endblock %}

{% block page_content %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include 'preparation/preparation-show-header.html.twig' with {
                        preparation: preparation,
                        isPrepaEditable: isPrepaEditable,
                        demande: demande,
                        livraison: livraison,
                        showDetails: headerConfig,
                        titleLogo: preparation.pairings|length>=1 ? 'pairing' : null,
                        titleLogoTooltip: "Cette préparation est liée à un capteur"
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="wii-box mt-0">
                    <div class="header wii-title">Liste des articles</div>
                    <div class="content">
                        <table id="tableArticle_id" class="table w-100">
                        </table>
                        <div class="col-12 logistic-units-container my-3 wii-multiple-loading"
                             data-loader-color="primary"
                             data-loader-size="normal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input hidden id="prepa-id" value="{{ preparation.id }}">
    <input hidden name="showTargetLocationPicking" value="{{ showTargetLocationPicking }}">

    {% include 'preparation/modalDeleteArticle.html.twig' %}
    {% include 'preparation/modalDeletePreparation.html.twig' %}
    {% include 'preparation/edit.html.twig' with {
        preparation: preparation
    } %}
    {% include 'pack/modalEditPack.html.twig' %}
    {% include 'emplacement/modal-select-location.html.twig' with {type: 'validate-preparation'} %}
    {% include 'preparation/modalEditLigneArticle.html.twig' %}
    {% include 'preparation/modalNewSensorPairing.html.twig' %}

    <div id="splittingContent"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/pages/preparation-show.js')}}?v={{ web_version }}"></script>
{% endblock %}
