{% extends 'mails/template.html.twig' %}

{% block content %}

    <div>Numéro : {{ request.numero }}</div>
    <div>Date de demande : {{ request.createdAt|date('d/m/Y H:i') }}</div>
    <div>Demandeur : {{ request.utilisateur ? request.utilisateur.username }}</div>
    <div>Destination : {{ request.destination.label }}</div>
    {% if (request.commentaire is not empty and request.commentaire != '<p><br></p>') %}
        <div>Commentaire : {{ request.commentaire|raw }}</div>
    {% endif %}
    <br>
    <br>
    <div>Liste des articles :</div>
    <br>
    <table class="table"
           style="border: 1px solid black;border-collapse: collapse;"
           role="presentation"
           cellspacing="0"
           border="0">
        <thead>
        <tr>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;" title="référence">
                {{ trans('Stock', 'Références', 'référence', false) }}
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Libellé
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Quantité
            </th>
        </tr>
        </thead>
        <tbody>
        {% for line in preparation.referenceLines %}
            <tr>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ line.reference.reference }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ line.reference.libelle }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ line.pickedQuantity }}
                </td>
            </tr>
        {% endfor %}
        {% for articleLine in preparation.articleLines %}
            <tr>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ articleLine.article.articleFournisseur.referenceArticle.reference }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ articleLine.article.label }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ articleLine.pickedQuantity }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>

{% endblock %}
