{% extends 'mails/template.html.twig' %}

{% block content %}
    {% set rra = article.receptionReferenceArticle %}
    <div>Code article : {{ article.reference }}</div>
    <div>Article de référence : {{ rra ? rra.referenceArticle.reference }}</div>
    {% if rra and newEmergencyLimit and newEmergencyLimit > 0 %}
        <div>Nombre d'article(s) restant(s) à recevoir : {{ newEmergencyLimit }}</div>
    {% endif %}
    <div>Numéro de commande : {{ rra ? rra.commande }}</div>
    <div>Numéro de réception : {{ rra and rra.receptionLine.reception ? rra.receptionLine.reception.number }}</div>
    <div>Commentaire de l'urgence : {{ emergency }}</div>
    <br>
    <br>

{% endblock %}
