{% extends 'mails/template.html.twig' %}

{% block content %}

    {% set rra = article.receptionReferenceArticle %}
    <div>Code article : {{ article.reference }}</div>
    <div>Article de référence : {{ rra ? rra.referenceArticle.reference }}</div>
    <div>Numéro de commande : {{ rra ? rra.commande }}</div>
    <div>Numéro de réception : {{ rra and rra.reception ? rra.reception.numeroReception }}</div>
    <div>Commentaire de l'urgence : {{ article.articleFournisseur.referenceArticle.emergencyComment }}</div>
    <br>
    <br>

{% endblock %}
