{% extends 'mails/template.html.twig' %}

{% block content %}

    {% set numeroCommandeList = (
        (emergencies|length > 0 and emergencies[0].commande)
        ? [emergencies[0].commande]
        : arrival.numeroCommandeList
        )
    %}

    {% set comment = (arrival.commentaire|striptags|length > 150)
        ? arrival.commentaire|striptags|slice(0, 150) ~ '...'
        : arrival.commentaire|striptags
    %}

    <p>{{ translateIn(language, 'Général', null, 'Emails', 'Bonjour,', false) }}</p>
    <p>
        {{ isUrgentArrival
            ? translateIn(language, 'Traçabilité', 'Arrivages UL', 'Email arrivage UL', 'Votre commande urgente est arrivée :', false)
            : translateIn(language, 'Traçabilité', 'Arrivages UL', 'Email arrivage UL', 'Votre commande est arrivée :', false)
        }}
    </p>
    <ul>
        <li>{{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Divers', 'N° d\'arrivage UL', false) }} : <strong>{{ arrival.numeroArrivage }}</strong></li>

        {% if numeroCommandeList|length > 0 %}
            <li>{{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Champs fixes', 'N° commande / BL', false) }} : <strong>{{ numeroCommandeList|join(', ') }}</strong></li>
        {% endif %}

        {% if arrival.fournisseur %}
            <li>{{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Champs fixes', 'Fournisseur', false) }} : <strong>{{ arrival.fournisseur.nom }}</strong></li>
        {% endif %}

        {% if arrival.transporteur %}
            <li>{{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Champs fixes', 'Transporteur', false) }} : <strong>{{ arrival.transporteur.label }}</strong></li>
        {% endif %}

        {% if arrival.noTracking %}
            <li>{{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Champs fixes', 'N° tracking transporteur', false) }} : <strong>{{ arrival.noTracking }}</strong></li>
        {% endif %}

        {% if arrival.projectNumber %}
            <li>{{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Champs fixes', 'Numéro de projet', false) }} : <strong>{{ arrival.projectNumber }}</strong></li>
        {% endif %}

        {% if arrival.businessUnit %}
            <li>{{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Champs fixes', 'Business unit', false) }} : <strong>{{ arrival.businessUnit }}</strong></li>
        {% endif %}

        <li>
            {{ translateIn(language, 'Général', null, 'Modale', 'Pièces jointes', false) }} :
            <ul>
                {% set linkBaseHref = app.request is not null ? app.request.getSchemeAndHttpHost() : app_url %}
                {% for attachment in arrival.attachments %}
                    <li><a target="_blank"
                           href="{{ linkBaseHref ~ '/uploads/attachements/' ~ attachment.fileName }}"
                           download="{{ attachment.originalName }}">
                            {{ attachment.originalName }}
                        </a></li>
                {% endfor %}
            </ul>
        </li>

        {% if arrival.commentaire %}
            <li>{{ translateIn(language, 'Général', null, 'Modale', 'Commentaire', false) }} : {{ comment }}</li>
        {% endif %}

        {% for freeField in freeFields %}
            <li>{{ freeField.label }} : <strong>{{ freeField.value }}</strong></li>
        {% endfor %}

    </ul>
    {% if isUrgentArrival and
        (isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED'))
        or isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_NS'))) %}
        {% if arrival.customs %}
            <p style="font-weight: bold">
                La réception de cette commande sera effectuée après dédouanement.
            </p>
        {% else %}
            <p style="font-weight: bold">
                La réception de cette commande sera effectuée sous deux heures.
            </p>
        {% endif %}
    {% elseif isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
        {% if arrival.customs %}
            <p style="font-weight: bold">
                La réception de cette commande sera effectuée après dédouanement.
            </p>
        {% else %}
            <p style="font-weight: bold">
                Votre colis sera livré en dropzone en milieu d'après-midi.
            </p>
        {% endif %}
    {% elseif isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_NS')) %}
        <p>
            Votre colis est disponible auprès du magasin.
        </p>
    {% endif %}
{% endblock %}
{% block postScriptum %}
    {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
        <p>
            PS&nbsp;: En cas de changement de Drop Zone, merci de nous avertir pour que nous puissions mettre à jour la base de données.
            Ecrivez-nous aux adresses suivantes&nbsp;: s.marion@gt-logistics.fr, s.montembault@gt-logistics.fr.
        </p>
    {% endif %}
{% endblock %}
