{% extends 'mails/template.html.twig' %}

{% block content %}

    {% set s = disputes|length > 1 ? 's' : '' %}
    {% set nt = disputes|length > 1 ? 'nt' : '' %}
    <h3 class="margin-bottom:30px;">
        {{ disputes|length == 1
            ? translateIn(language, 'Traçabilité', 'Arrivages UL', 'Email litige', '1 litige vous concerne :', false)
            : translateIn(language, 'Traçabilité', 'Arrivages UL', 'Email litige', '{1} litiges vous concernent :', false, {1 : disputes|length,})
        }}
    </h3>


    <table class="table"
           style="border: 1px solid black;border-collapse: collapse;">
        <thead>
        <tr>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                {{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Email litige', 'Type de litige', false) }}
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                {{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Email litige', 'Statut du litige', false) }}
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                {{ translateIn(language, 'Traçabilité', 'Arrivages UL', 'Champs fixes', 'N° commande / BL', false) }}
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                {{ translateIn(language, 'Traçabilité', 'Général', 'Unités logistiques', false) }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dispute in disputes %}
            <tr>
                <td class="td"
                    rowspan="{{ dispute.packs|length }}"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ dispute.type.label }}
                </td>
                <td class="td"
                    rowspan="{{ dispute.packs|length }}"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ dispute.status.labelIn(defaultLanguageSlug,defaultLanguageSlug) }}
                </td>

                {% set firstColis = dispute.packs|first %}
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {% for numeroBL in firstColis.arrivage.numeroCommandeList %}
                        {{ numeroBL }}
                        {% if loop.last %}<br/>{% endif %}
                    {% endfor %}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ firstColis.code }}
                </td>
            </tr>
            {% for pack in dispute.packs %}
                {% if not loop.first %}
                    <tr>
                        <td class="td"
                            style="border: 1px solid black; padding: 10px; text-align: center;">
                            {% for numeroBL in pack.arrivage.numeroCommandeList %}
                                {{ numeroBL }}
                                {% if loop.last %}<br/>{% endif %}
                            {% endfor %}
                        </td>
                        <td class="td"
                            style="border: 1px solid black; padding: 10px; text-align: center;">
                            {{ pack.code }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>

{% endblock %}
