{% extends 'mails/template.html.twig' %}

{% block content %}
    <p>{{ translateIn(language, 'Général', null, 'Emails', 'Bonjour,', false) }}</p>
    <p>{{ translateIn(language, 'Stock', 'Références', 'Email stock dormant', 'Les articles suivants approchent du seuil autorisé de stockage.', false) }}</p>

    {% if references is defined and references is not empty %}
        <table class="table"
               style="border: 1px solid black;border-collapse: collapse;"
               role="presentation">
            <thead>
            <tr>
                <th class="th"
                    style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                    {{ translateIn(language, 'Stock', 'Références', 'Général', 'Libellé') }}
                </th>
                <th class="th"
                    style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                    {{ translateIn(language, 'Stock', 'Références', 'Général', 'Référence') }}
                </th>
                <th class="th"
                    style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                    {{ translateIn(language, 'Stock', 'Références', 'Général', 'Quantité') }}
                </th>
                <th class="th"
                    style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                    {{ translateIn(language, 'Stock', 'Références', 'Email stock dormant', 'Date max de stockage') }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for reference in references %}
                <tr>
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;">
                        {{ reference.label }}
                    </td>
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;">
                        {{ reference.reference }}
                    </td>
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;">
                        {{ reference.quantityStock }}
                    </td>
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;">
                        {{reference.maxStorageDate }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if countTotal is defined and countTotal > references|length %}
            <p>
                {{ translateIn(language, 'Stock', 'Références', 'Email stock dormant', 'Cette liste n’est pas exhaustive, {1} références sont également en alerte stock dormant.', {1: countTotal}) }}
            </p>
        {% endif %}

    {% endif %}

    <p>{{ translateIn(language, 'Stock', 'Références', 'Email stock dormant', 'Sans réponse de votre part, nous détruirons les articles concernés dans un délai de 15 jours à partir de ce mail.', false) }}</p>
{% endblock %}
