{% extends 'mails/template.html.twig' %}

{% set emergency = handling.emergency ? 'Oui' : 'Non' %}
{% set treatedBy = handling.treatedByHandling ? handling.treatedByHandling.username : '' %}

{% block content %}
    <div>Numéro de demande :
        <strong>{{ handling.number }}</strong>
    </div>
    <div>Date demande :
        <strong>{{ handling.creationDate|date('Y-m-d à H:i:s') }}</strong>
    </div>
    <div>Type :
        <strong>{{ handling.type.label }}</strong>
    </div>
    <div>Demandeur :
        <strong>{{ handling.requester.username }}</strong>
    </div>
    <div>Objet :
        <strong>{{ handling.subject }}</strong>
    </div>
    <div>Chargement :
        <strong>{{ handling.source }}</strong>
    </div>
    <div>Déchargement :
        <strong>{{ handling.destination }}</strong>
    </div>
    <div>Date attendue :
        <strong>{{ handling.desiredDate|date('Y-m-d à H:i:s') }}</strong>
    </div>
    <div>Date de réalisation :
        <strong>{{ handling.validationDate|date('Y-m-d à H:i:s') }}</strong>
    </div>
    <div>Statut :
        <strong>{{ handling.status.nom }}</strong>
    </div>
    <div>Urgence :
        <strong>{{ emergency }}</strong>
    </div>
    <div>Nombre d'opération(s) réalisée(s) :
        <strong>{{ handling.carriedOutOperationCount }}</strong>
    </div>
    <div>Traité par :
        <strong>{{ treatedBy }}</strong>
    </div>
    <div>Temps de traitement opérateur :
        <strong>{{ handling.treatmentDelay ? handling.treatmentDelay|date('H\\h i\\m s\\s') : '' }}</strong>
    </div>
    {% if (handling.comment is not empty and handling.comment != '<p><br></p>') %}
        <div>Commentaire : {{ handling.comment|raw }}</div>
    {% endif %}
    <div>
        Pièces jointes :
        <ul>
            {% for attachment in handling.attachments %}
                <li>{{ attachment.originalName }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <br>
{% endblock %}
