{% extends 'mails/template.html.twig' %}

{% block content %}
    <div>Référence : {{ referenceArticle ? referenceArticle|format_helper('referenceArticle')}}</div>
    {% if emergency and newEmergencyQuantity > 0 %}
        <div>Nombre d'article(s) restant(s) à recevoir : {{ newEmergencyQuantity }}</div>
    {% endif %}
    <div>Numéro de commande : {{ receptionReferenceArticle ? receptionReferenceArticle.commande }}</div>
    <div>Numéro de réception : {{ receptionReferenceArticle and receptionReferenceArticle.receptionLine.reception ? receptionReferenceArticle.receptionLine.reception.number }}</div>
    <div>Commentaire de l'urgence : {{ emergency.comment|format_helper('html') }}</div>
    <div>Emplacement attendu de l'urgence : {{ emergency.expectedLocation|format_helper('location') }}</div>
    <div>Numéro de commande de l'urgence : {{ emergency.orderNumber }}</div>
    <div>Transporteur de l'urgence : {{ emergency.expectedLocation|format_helper('carrier') }}</div>
    <div>Numéro de tracking transporteur de l'urgence : {{ emergency.carrierTrackingNumber }}</div>
    <br>
    <br>

{% endblock %}
