{% extends 'mails/template.html.twig' %}

{% block content %}
    <div>{{ translateIn(language, 'Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Fournisseur') }} : {{ fournisseur }}</div>
    {% if orderNumber is defined and orderNumber %}
        <div>{{ translateIn(language, 'Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'N° commande / BL') }} : {{ orderNumber }}</div>
    {% endif %}
    <div>{{ translateIn(language, 'Traçabilité', 'Général', 'Unités logistiques') }} : {{ colis }}</div>
    <div>{{ translateIn(language, 'Traçabilité', 'Encours', 'Date de dépose') }} :
        {{ translateIn(language, 'Traçabilité', 'Général', '{1} à {2}', {
            1: date|date(constant('App\\Entity\\Utilisateur::DEFAULT_DATE_FORMAT')),
            2: date|date("H:i:s")
        }) }}</div>
    <div>{{ translateIn(language, 'Traçabilité', 'Général', 'Emplacement') }} : {{ emplacement.label }}</div>
    {% if operateur is defined %}
        <div>{{ translateIn(language, 'Traçabilité', 'Général', 'Opérateur') }} : {{ operateur }}</div>
    {% endif %}
    {% if pjs is not empty %}
        <div>{{ translateIn(language, 'Général', null, 'Modale', 'Pièces jointes') }} :</div>
        {% set linkBaseHref = app.request is not null ? app.request.getSchemeAndHttpHost() : app_url %}
        {% for pj in pjs %}
            <a href="{{ linkBaseHref ~ asset('uploads/attachements/' ~ pj.fileName) }}">
                {{ pj.OriginalName }}
            </a>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}
