{% extends 'mails/template.html.twig' %}

{% block content %}
    <div>Fournisseur : {{ fournisseur }}</div>
    {% if orderNumber is defined and orderNumber %}
        <div>Numéro(s) de commande : {{ orderNumber }}</div>
    {% endif %}
    <div>Colis : {{ colis }}</div>
    <div>Date de dépose : {{ date|date(app.user.dateFormat ? app.user.dateFormat : "d/m/Y") }} à {{ date|date("H:i:s") }}</div>
    <div>Emplacement : {{ emplacement.label }}</div>
    {% if operateur is defined %}
        <div>Opérateur : {{ operateur }}</div>
    {% endif %}
    {% if pjs is not empty %}
        <div>Pièces jointes :</div>
        {% set linkBaseHref = app.request is not null ? app.request.getSchemeAndHttpHost() : app_url %}
        {% for pj in pjs %}
            <a href="{{ linkBaseHref ~ asset('uploads/attachements/' ~ pj.fileName) }}">
                {{ pj.OriginalName }}
            </a>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}
