{% extends 'mails/template.html.twig' %}

{% set emergency = handling.emergency ? 'Oui' : 'Non' %}
{% set treatedBy = handling.treatedByHandling ? handling.treatedByHandling.username : '' %}
{% set defaultLanguageSlug = defaultLanguage.slug %}

{% block content %}
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Zone liste - Nom de colonnes', 'Numéro de demande', false) }} :
        <strong>{{ handling.number }}</strong>
    </div>
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Zone liste - Nom de colonnes', 'Date demande', false) }} :
        <strong>{{ handling.creationDate ? handling.creationDate|date('d/m/Y à H:i:s') }}</strong>
    </div>
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true,  'Demande', 'Général', 'Type', false) }} :
        <strong>{{ handling.type.label }}</strong>
    </div>
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Général', 'Demandeur', false) }} :
        <strong>{{ handling.requester ? handling.requester.username }}</strong>
    </div>
    {% set fieldCodeReceiversHandling = constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVERS_HANDLING') %}
    {% if (fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedCreate')
        or fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedEdit')
        or fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedFilters')) %}
        <div>
            {{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Général', 'Destinataire(s)', false) }} :
            <strong>{{ handling.receivers|map(receiver => receiver.username)|join(', ') }}</strong>
        </div>
    {% endif %}
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Zone liste - Nom de colonnes', 'Objet', false) }} :
        <strong>{{ handling.subject }}</strong>
    </div>

    {% if not isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_COLLINS_SOA')) %}
        <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Mail', 'Chargement', false) }} :
            <strong>{{ handling.source }}</strong>
        </div>
        <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Mail', 'Déchargement', false) }} :
            <strong>{{ handling.destination }}</strong>
        </div>
    {% endif %}

    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Modale et détails', 'Date attendue', false) }} :
        <strong>{{ handling.desiredDate ? handling.desiredDate|date(viewHoursOnExpectedDate ? 'd/m/Y à H:i:s' : 'd/m/Y') }}</strong>
    </div>
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Modale et détails', 'Date de réalisation', false) }} :
        <strong>{{ handling.validationDate ? handling.validationDate|date('d/m/Y à H:i:s') }}</strong>
    </div>
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Traçabilité', 'Flux - Arrivages', 'Champs fixes', 'Statut', false) }} :
        <strong>{{ handling.status.labelIn(defaultLanguage, defaultLanguage) }}</strong>
    </div>
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Général', 'Urgence', false) }} :
        <strong>{{ emergency }}</strong>
    </div>

    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Modale et détails', 'Nombre d\'opération(s) réalisée(s)', false) }} :
        <strong>{{ handling.carriedOutOperationCount }}</strong>
    </div>
    <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Demande', 'Services', 'Mail', 'Modifié par', false) }} :
        <strong>{{ treatedBy }}</strong>
    </div>


        {% if (handling.comment is not empty and handling.comment != '<p><br></p>') %}
            <div>{{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Général', null, 'Modale', 'Commentaire', false) }} : {{ handling.comment|raw }}</div>
        {% endif %}


    <div>
        {{ translateIn(defaultLanguageSlug, defaultLanguageSlug, true, 'Général', null, 'Modale', 'Pièces jointes', false) }} :
        <ul>
            {% for attachment in handling.attachments %}
                <li>{{ attachment.originalName }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <br>
{% endblock %}
