{% extends 'mails/template.html.twig' %}

{% block content %}

    {% set treatedStatus = purchaseRequest.status.treated %}
    {% set notTreatedStatus = purchaseRequest.status.notTreated %}
    {% set displaySupplierArticles = notTreatedStatus %}

    <p>Bonjour, </p>
    {% if notTreatedStatus %}
        <p>Une demande d'achat sur une ou des références vous concernant vient d'être initiée :</p>
    {% elseif treatedStatus %}
        <p>Votre demande d'achat a été traitée par l'acheteur :</p>
    {% else %}
        <p>Votre demande d'achat est en cours de traitement avec les informations suivantes :</p>
    {% endif %}
    <br>
    {% if not treatedStatus %}
        <div>Numéro de demande :
            <strong>{{ purchaseRequest.number }}</strong>
        </div>
    {% endif %}
    <div>Date de validation :
        <strong>{{ purchaseRequest.validationDate ? purchaseRequest.validationDate|date('d/m/Y à H:i') }}</strong>
    </div>
    {% if not notTreatedStatus %}
        <div>Date de prise en compte :
            <strong>{{ purchaseRequest.considerationDate ? purchaseRequest.considerationDate|date('d/m/Y à H:i') }}</strong>
        </div>
    {% endif %}
    <div>Demandeur :
        <strong>{{ purchaseRequest.requester.username }}</strong>
    </div>
    {% if not notTreatedStatus %}
        <div>Acheteur :
            <strong>{{ purchaseRequest.buyer is defined and purchaseRequest.buyer is not null ? purchaseRequest.buyer.username : '' }}</strong>
        </div>
    {% endif %}
    {% if not treatedStatus %}
        <div>Statut :
            <strong>{{ purchaseRequest.status.nom }}</strong>
        </div>
    {% endif %}

    <br>
    <br>

    <table class="table"
           style="border: 1px solid black; border-collapse: collapse;">
        <thead>
        <tr>
            <th class="th"
                style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;"
                title="référence">
                {{ trans('Stock', 'Références', 'référence', false) }}
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;">
                Libellé
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;">
                Emplacement (Zone)
            </th>
            {% if displaySupplierArticles %}
                <th class="th"
                    style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;">
                    Fournisseur
                </th>
                <th class="th"
                    style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;">
                    Ref. article fournisseur
                </th>
            {% endif %}
            <th class="th"
                style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;">
                Quantité demandée
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;">
                Quantité en stock
            </th>
            {% if treatedStatus %}
                <th class="th"
                    style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;">
                    Quantité commandée
                </th>
                <th class="th"
                    style="border: 1px solid black; padding: 6px; text-align: center; font-weight: bold;">
                    N° de commande
                </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for purchaseRequestLine in purchaseRequest.purchaseRequestLines %}
                {% set referenceArticle = purchaseRequestLine.reference %}
                {% set rowSpan = displaySupplierArticles
                    ? purchaseRequestLine.reference.articlesFournisseur|length
                    : 1 %}
                <tr>
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;"
                        rowspan="{{ rowSpan }}">
                        {{ referenceArticle.reference }}
                    </td>
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;"
                        rowspan="{{ rowSpan }}">
                        {{ referenceArticle.libelle }}
                    </td>
                    <td class="td"
                        rowspan="{{ rowSpan }}"
                        style="border: 1px solid black; padding: 10px; text-align: center;">
                        {% set location = purchaseRequestLine.location %}
                        {{
                            location and location.zone
                                ? location.label ~ " (" ~ location.zone.name ~ ")"
                                : (location
                                    ? location.label
                                    : ''
                                )
                        }}
                    </td>
                    {% if displaySupplierArticles %}
                        {% set supplierArticle = referenceArticle.articlesFournisseur is not empty
                            ? (referenceArticle.articlesFournisseur|first)
                            : null %}
                        <td class="td"
                            style="border: 1px solid black; border-bottom: none !important; padding: 10px; text-align: center;">
                            {{ supplierArticle ? supplierArticle.fournisseur.codeReference : '-' }}
                        </td>
                        <td class="td"
                            style="border: 1px solid black; border-bottom: none !important; padding: 10px; text-align: center;">
                            {{ supplierArticle ? supplierArticle.reference : '-' }}
                        </td>
                    {% endif %}
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;"
                        rowspan="{{ rowSpan }}">
                        {{ purchaseRequestLine.requestedQuantity }}
                    </td>
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;"
                        rowspan="{{ rowSpan }}">
                        {{ refsAndQuantities[purchaseRequestLine.id] ?? 0 }}
                    </td>
                    {% if treatedStatus %}
                        <td class="td"
                            style="border: 1px solid black; padding: 10px; text-align: center;"
                            rowspan="{{ rowSpan }}">
                            {{ purchaseRequestLine.orderedQuantity ?? '-' }}
                        </td>
                        <td class="td"
                            style="border: 1px solid black; padding: 10px; text-align: center;"
                            rowspan="{{ rowSpan }}">
                            {{ purchaseRequestLine.orderNumber ?? '-' }}
                        </td>
                    {% endif %}
                </tr>

                {% if displaySupplierArticles and referenceArticle.articlesFournisseur|length > 1 %}
                    {% for supplierArticle in referenceArticle.articlesFournisseur[1:] %}
                        <tr>
                            <td class="td"
                                style="border: 1px solid black; padding: 10px; text-align: center;">
                                {{ supplierArticle.fournisseur.codeReference }}
                            </td>
                            <td class="td"
                                style="border: 1px solid black; padding: 10px; text-align: center;">
                                {{ supplierArticle.reference }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <br>
    <br>
{% endblock %}
