{% extends 'mails/template.html.twig' %}

{% set emergency = handling.emergency ? 'Oui' : 'Non' %}
{% set treatedBy = handling.treatedByHandling ? handling.treatedByHandling.username : '' %}

{% block content %}
    <div>Numéro de demande :
        <strong>{{ handling.number }}</strong>
    </div>
    <div>Date demande :
        <strong>{{ handling.creationDate ? handling.creationDate|date('d/m/Y à H:i:s') }}</strong>
    </div>
    <div>Type :
        <strong>{{ handling.type.label }}</strong>
    </div>
    <div>Demandeur :
        <strong>{{ handling.requester ? handling.requester.username }}</strong>
    </div>
    {% set fieldCodeReceiversHandling = constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVERS_HANDLING') %}
    {% if (fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedCreate')
        or fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedEdit')
        or fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedFilters')) %}
        <div>
            Destinataire(s) :
            <strong>{{ handling.receivers|map(receiver => receiver.username)|join(', ') }}</strong>
        </div>
    {% endif %}
    <div> {{ isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_COLLINS_SOA')) ?  trans('Demande', 'Services', 'Objet', false)  ~':' : 'Objet :'  }}
        <strong>{{ handling.subject }}</strong>
    </div>

    {% if not isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_COLLINS_SOA')) %}
        <div>Chargement :
            <strong>{{ handling.source }}</strong>
        </div>
        <div>Déchargement :
            <strong>{{ handling.destination }}</strong>
        </div>
    {% endif %}

    <div>Date attendue :
        <strong>{{ handling.desiredDate ? handling.desiredDate|date(viewHoursOnExpectedDate ? 'd/m/Y à H:i:s' : 'd/m/Y') }}</strong>
    </div>
    <div>Date de réalisation :
        <strong>{{ handling.validationDate ? handling.validationDate|date('d/m/Y à H:i:s') }}</strong>
    </div>
    <div>Statut :
        <strong>{{ handling.status.nom }}</strong>
    </div>
    <div>Urgence :
        <strong>{{ emergency }}</strong>
    </div>

    <div>{{ trans('Demande', 'Services', 'Nombre d\'opération(s) réalisée(s)', false) }}
        <strong>{{ handling.carriedOutOperationCount }}</strong>
    </div>
    <div>Modifié par :
        <strong>{{ treatedBy }}</strong>
    </div>


        {% if (handling.comment is not empty and handling.comment != '<p><br></p>') %}
            <div>Commentaire : {{ handling.comment|raw }}</div>
        {% endif %}


    <div>
        Pièces jointes :
        <ul>
            {% for attachment in handling.attachments %}
                <li>{{ attachment.originalName }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <br>
{% endblock %}
