{% extends 'mails/template.html.twig' %}

{% block content %}
    <div>Date de demande : {{ handling.date|date('d/m/Y') }}</div>>
    <div>Date de réalisation : {{ handling.dateEnd|date('d/m/Y') }}</div>>
    <div>Libellé : {{ handling.libelle }}</div>>
    <div>Demandeur : {{ handling.demandeur.username }}</div>>
    <div>Source : {{ handling.source }}</div>>
    <div>Destination : {{ handling.destination }}</div>>
    {% if (handling.commentaire is not empty and handling.commentaire != '<p><br></p>') %}
        <div>Commentaire : {{ handling.commentaire|raw }}</div>>
    {% endif %}
    <br>
    <br>
{% endblock %}
