{% extends 'mails/template.html.twig' %}

{% set isReception = (isReception is defined and isReception) %}
{% block content %}
    {% if isReception and reception.manualUrgent %}
        <p style="font-weight: 600">{{ trans('Ordre', 'Réceptions', 'Cette réception est urgente', false) }}.</p>
    {% endif %}
    <table class="table"
           style="border: 1px solid black; border-collapse: collapse;">
        <thead>
        <tr>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                {{ trans('Stock', 'Référence', 'référence', false) }}
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Code barre {{ trans('Stock', 'Référence', 'référence', false) }}
            </th>
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Code barre article
            </th>
            {% if isReception %}
                <th class="th"
                    style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                    Commande
                </th>
                <th class="th"
                    style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                    Fournisseur
                </th>
            {% endif %}
            <th class="th"
                style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                Quantité
            </th>
        </tr>
        </thead>
        <tbody>
        {% for line in demande.articleLines %}
            {% set article = line.article %}
            <tr>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ article.articleFournisseur.referenceArticle.reference }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ article.articleFournisseur.referenceArticle.barCode }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ article.barCode }}
                </td>
                {% if isReception %}
                    <td class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center;">
                        {{ article.receptionReferenceArticle.commande }}
                    </td>
                    <th class="td"
                        style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                        {{ article.articleFournisseur.fournisseur ? article.articleFournisseur.fournisseur.nom : ''}}
                    </th>
                {% endif %}
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ line.quantityToPick }}
                </td>
            </tr>
        {% endfor %}
        {% for line in demande.referenceLines %}
            <tr>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ line.reference.reference }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ line.reference.barCode }}
                </td>
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                </td>
                {% if fournisseur is defined %}
                    <th class="th"
                        style="border: 1px solid black; padding: 10px; text-align: center; font-weight: bold;">
                        {{ fournisseur }}
                    </th>
                {% endif %}
                <td class="td"
                    style="border: 1px solid black; padding: 10px; text-align: center;">
                    {{ line.quantityToPick }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>

{% endblock %}
