{% import 'form.html.twig' as form %}

{% set packCount = shipping.packLines|length %}

<div class="modal fade" role="dialog" id="modalScheduledShippingRequest" data-modal-type="new">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Planifier le transport"
            } %}

            <div class="modal-body flex flex-column">
                <div class="flex flex-column">
                    <div class="wii-section-title py-1">
                        <i class="wii-icon wii-icon-info wii-icon-15px-primary mr-2"></i>
                        Caractéristiques
                    </div>
                    <div class="row my-3">
                        <div class="form-group col-md-6 col-12">
                            {{ form.input("packCount", "Nombre d'UL", true, packCount, {
                                type: 'number',
                                min: 0,
                            }) }}
                        </div>
                        <div class="form-group col-md-6 col-12">
                            {{ form.input("grossWeight", "Poids brut (Kg)", false, shipping.grossWeight, {
                                type: 'number',
                                min: 0,
                                step: 0.1,
                            }) }}
                        </div>
                    </div>
                </div>

                <div class="flex flex-column">
                    <div class="wii-section-title py-1">
                        <i class="wii-icon wii-icon-delivery wii-icon-15px-primary mr-2"></i>
                        Transporteur
                    </div>
                    <div class="row my-3">
                        <div class="form-group col-md-6 col-12">
                            {{ form.select("carrier", "Nom transporteur", false, {
                                type: 'carrier',
                                items: shipping.carrier ? [{
                                    value: shipping.carrier.id,
                                    label: shipping.carrier.label,
                                    selected: true,
                                }] : [],
                            }) }}
                        </div>
                        <div class="form-group col-md-6 col-12">
                            {{ form.input("trackingNumber", "Numéro de tracking", false, shipping.trackingNumber) }}
                        </div>
                        <div class="form-group col-md-6 col-12">
                            {{ form.input("expectedPicketAt", "Date d'enlèvement", false, shipping.expectedPickedAt|date('Y-m-d') , {type:'date'} ) }}
                        </div>
                    </div>
                </div>
            </div>

            {% set modalButtons = [
                {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                {classes: 'btn btn-success', text: packCount is same as(0) ? 'Valider le transport' : 'Passer au colisage', type:'submit' ,data:{"shippingRequestId":shipping.id}},
            ] %}

            {% if packCount is not same as(0) %}
                {% set modalButtons = modalButtons|merge([{classes: 'btn btn-success', text: 'Modifier le transport', id:'submitEditSchedule', data:{"shippingRequestId":shipping.id}}]) %}
            {% endif %}

            {% include 'utils/modal/footer.html.twig' with {
                elements: modalButtons,
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
