{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      	<h1 class="text-center">Changement de Password</h1>
    </div>
    <div class="col-2"></div>
</div>

<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
		{{ form_start(form) }}
    		{{ form_row(form.password, {'attr': {'autofocus' : true} }) }}
    		{{ form_row(form.plainPassword.first) }}
    		{{ form_row(form.plainPassword.second) }}
    		{{ form_row(form.modifier, {'attr': {'class' : 'btn btn-dark'} }) }}
		{{ form_end(form) }}
	</div>
	<div class="col-4"></div>
</div>

{% endblock %}