{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}

    <div class="login-wrapper">
        <div class="row">
            <div class="col-md-12 login-header">
                Changement de mot de passe
            </div>
        </div>

        <div class="row">
            <div class="box-login box-shadow">
                <div class="form-signin login-form">
                    {{ form_start(form) }}
                    {{ form_row(form.password, {'attr': {'autofocus' : true} }) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    {{ form_row(form.modifier, {'attr': {'class' : 'button btn-left pull-left'} }) }}
                    <a class="button btn-right pull-right" href="{{ url('check_last_login') }}">Retour</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}