<div class="row">
    <div class="form-group col-12">
        <label class="wii-field-name">Code*</label>
        <input type="text" class="form-control data needed" name="code" value="{{ project.code }}">
    </div>

    <div class="form-group col-12">
        <label class="wii-field-name">Description</label>
        <input type="text" class="data form-control" name="description" value="{{ project.description }}">
    </div>

    <div class="form-group col-12">
        <label class="wii-field-name">Chef de projet*</label>
        <select class="form-control data w-100" data-s2="user" name="projectManager"
                data-other-params>
            {% if project.projectManager %}
                <option value="{{ project.projectManager.id }}">{{ project.projectManager.username }}</option>
            {% endif %}
        </select>
    </div>

    <div class="form-group col-12">
        <label class="wii-field-text">Actif</label>
            <input class="checkbox data" type="checkbox" {{ (project.active or project.active is null) ? 'checked' }} name="isActive">
        </label>
    </div>
</div>
