{% set cells = cells is defined and cells ? cells : 0 %}

<thead>
<tr style="border-bottom: none">
    <th class="datatable-main-header"></th>
    <th class="datatable-main-header" colspan="{{ creationColumns ?? 2 }}">
        <div class="d-flex align-items-center">
            <img src="{{ asset('svg/form-new.svg') }}" width="17px" class="mr-2" alt="Formulaire création">Formulaire de création
        </div>
    </th>
    <th class="datatable-main-header" colspan="{{ editionColumns ?? 2 }}">
        <div class="d-flex align-items-center">
            <img src="{{ asset('svg/form-edit.svg') }}" width="17px" class="mr-2" alt="Formulaire édition">Formulaire d'édition
        </div>
    </th>
    <th class="datatable-main-header" colspan="{{ filtersColumns ?? 1 }}">
        <div class="d-flex align-items-center">
            <img src="{{ asset('svg/filter-solid.svg') }}" width="17px" class="mr-2" alt="Filtres">Sur les filtres
        </div>
    </th>
</tr>
<tr>
    {% for i in 0..(cells - 1) %}
        <th></th>
    {% endfor %}
</tr>
</thead>
