<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set titlePrefix = 'FollowGT' %}
    {% if block("title") is defined and block("title") is not empty %}
        <title>{{ titlePrefix }} | {{ block("title") | striptags }}</title>
    {% else %}
        <title>{{ titlePrefix }}</title>
    {% endif %}

    <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}">
    <link rel="alternate icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        {# datetime picker #}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-checkbox.css') }}"/>
        {{ encore_entry_link_tags('app') }}
        <style>
            {% include '@generated/font.css' %}
        </style>
    {% endblock %}
</head>

<body>
    {% include 'notifications/notification.html.twig' %}
    {% block body %}
    {% endblock %}
    <input type="hidden" id="userDateFormat" value="{{ app.user ? app.user.dateFormat }}">
    <input type="hidden" id="userLanguage" value="{{ app.user ? app.user.language.slug : getLanguage().slug }}">


    {% block javascripts %}


        {{ encore_entry_script_tags('app') }}

        <script>
            let USER_SLUG = null;
            USER_SLUG = $('#userLanguage').val();
        </script>

        {# datetime picker #}
        <script src={{ asset('js/bootstrap-datetimepicker.min.js') }}></script>

        <script type="text/javascript" src="{{ asset('js/js-csv-encoding-master/encoding-indexes.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/js-csv-encoding-master/encoding.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/js-csv-encoding-master/fileSaver.js') }}"></script>

        {# scripts wiilog #}
        <script src="{{ asset('generated/translations.js') }}?v={{ date().timestamp }}"></script>
        <script src="{{ asset('js/alerts.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/translations.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/select2.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/common.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/script-wiilog.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/init-modal.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/script-menu.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/datatable.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/collapsible.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/pages/purchase_request/new.js') }}?v={{ web_version }}"></script>
        <script src="{{ asset('js/pages/iot-common.js') }}?v={{ web_version }}"></script>
    {% endblock %}

</body>

</html>
