<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set titlePrefix = 'FollowGT' %}
    {% if block("title") is defined and block("title") is not empty %}
        <title>{{ titlePrefix }} | {{ block("title") }}</title>
    {% else %}
        <title>{{ titlePrefix }}</title>
    {% endif %}

    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">

    {% block stylesheets %}
        {# datetime picker #}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-checkbox.css') }}"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>

    {% block body %}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        {# datetime picker #}
        <script src={{ asset('js/bootstrap-datetimepicker.min.js') }}></script>

        <script type="text/javascript" src="{{ asset('js/js-csv-encoding-master/encoding-indexes.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/js-csv-encoding-master/encoding.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/js-csv-encoding-master/fileSaver.js') }}"></script>

        {# scripts wiilog #}
        <script src="{{ asset('generated/translations.js') }}?{{ app_last_cache_clear }}"></script>
        <script src="{{ asset('js/translations.js') }}?{{ app_last_cache_clear }}"></script>
        <script src="{{ asset('js/select2.js') }}?{{ app_last_cache_clear }}"></script>
        <script src="{{ asset('js/common.js') }}?{{ app_last_cache_clear }}"></script>
        <script src="{{ asset('js/script-wiilog.js') }}?{{ app_last_cache_clear }}"></script>
        <script src="{{ asset('js/init-modal.js') }}?{{ app_last_cache_clear }}"></script>
        <script src="{{ asset('js/script-menu.js') }}?{{ app_last_cache_clear }}"></script>
        <script src="{{ asset('js/datatable.js') }}?{{ app_last_cache_clear }}"></script>
        <script src="{{ asset('js/collapsible.js') }}?{{ app_last_cache_clear }}"></script>
    {% endblock %}

</body>

</html>
