{% macro common_attributes(name, options) %}
    name="{{ name }}"
    {% if options.onChange is defined %}onchange="{{ options.onChange }}"{% endif %}
    {{ (options.error ?? 'local') == 'global' ? 'data-global-error' }}
    {{ options.readonly ?? false ? 'readonly' }}
    {{ options.disabled ?? false ? 'disabled' }}
{% endmacro %}

{% macro multiple_key(options) %}
    {% if options.multipleKey is defined %}
        data-multiple-key="{{ options.multipleKey.key }}"
        data-multiple-object-index="{{ options.multipleKey.index }}"
    {% endif %}
{% endmacro %}

{% macro label(label) %}
    <span class="d-inline-flex align-items-center field-label">
        {% if label is iterable %}
            {% if label.wiiIcon is defined %}
                <span class="mr-2 wii-icon wii-icon-{{ label.wiiIcon }}"></span>
            {% elseif label.faIcon is defined %}
                <i class="mr-2 {{ label.faIcon }}"></i>
            {% elseif label.url is defined %}
                <img src="{{ label.url }}" alt="{{ label.alt ?? '' }}" width="15px" class="mr-2">
            {% endif %}

            {{ label.text | raw }}
        {% else %}
            {{ label | raw }}
        {% endif %}
    </span>
{% endmacro %}

{% macro switch(name, label, required, switches, options = {}) %}
    {# TODO: add support for required #}

    <label class="{{ options.labelClass ?? '' }}">{{ _self.label(label) }}{{ required ? '*' }}</label>
    <div class="wii-switch request-type-container mt-2" data-title="{{ label | striptags }}{{ required ? '*' }}">
        {% for switch in switches %}
            {% set id = random(100000, 10000000) %}

            <input type="radio" id="{{ name }}-{{ id }}" name="{{ name }}" value="{{ switch.value ?? '' }}" {{ switch.checked ?? false ? 'checked' }}>
            <label for="{{ name }}-{{ id }}">{{ _self.label(switch.label) }}</label>
        {% endfor %}
    </div>
{% endmacro %}

{% macro slider(name, label, required, checked = false, options = {}) %}
    <label class="{{ options.labelClass ?? '' }}">{{ _self.label(label) }}{{ required ? '*' }}</label>
    <label class="switch">
        <input class="checkbox data" type="checkbox"
            {{ required ? 'required' }}
            {{ _self.common_attributes(name, options) }}
            {{ _self.multiple_key(options) }}
            {{ checked ? 'checked' }}>
        <span class="slider round"></span>
    </label>
{% endmacro %}

{% macro checkbox(name, label, required, value = 1, options = {}) %}
    {% set id = random(100000, 10000000) %}

    <div class="wii-checkbox">
        <input type="checkbox" id="checkbox-{{ id }}" class="data"
            {{ required ? 'required' }}
            {{ _self.common_attributes(name, options) }}
            {{ _self.multiple_key(options) }}
               value="{{ value }}" {{ options.checked ?? false ? 'checked' }}>
        <label class="{{ options.labelClass ?? '' }}" for="checkbox-{{ id }}"><span>{{ _self.label(label) }}{{ required ? '*' }}</span></label>
    </div>
{% endmacro %}

{% macro radio(name, label, required, items, options = {}) %}
    <div class="wii-radio-container">
        {% for item in items %}
            {% set id = random(100000, 10000000) %}

            <div class="wii-radio mt-1">
                <input type="radio" id="radio-{{ id }}" class="data" value="{{ item.value ?? '' }}"
                    {{ required ? 'required' }}
                    {{ _self.common_attributes(name, options) }}
                    {{ _self.multiple_key(options) }}
                    {{ (item.checked ?? false) ? 'checked' }} />
                <label class="{{ options.labelClass ?? '' }}" for="radio-{{ id }}">{{ _self.label(item.label) }}{{ required ? '*' }}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro select(name, label, required, options = {}) %}
    {% set value = options.value ?? [] %}
    {% set values = value is iterable ? value : [value] %}

    <label class="{{ options.labelClass ?? '' }} {{ not options.search ?? true ? 'no-search' }}">
        <span>{{ _self.label(label) }}{{ required ? '*' }}</span>
        <select class="form-control w-100 data"
            {{ required ? 'required' }}
            {% if options.type is defined %}data-s2="{{ options.type }}"{% endif %}
            {% if options.placeholder is defined %}data-placeholder="{{ options.placeholder }}"{% endif %}
            {% if options.includeParams is defined %}data-include-params="{{ options.includeParams }}"{% endif %}
            {{ _self.common_attributes(name, options) }}
            {{ _self.multiple_key(options) }}>
            {% for value, label in options.items ?? [] %}
                <option value="{{ value }}" {{ value in values ? 'selected' }}>{{ label }}</option>
            {% endfor %}
        </select>
    </label>
{% endmacro %}

{% macro input(name, label, required, value = '', options = {}) %}
    <label class="{{ options.labelClass ?? '' }}">
        <span>{{ _self.label(label) }}{{ required ? '*' }}</span>
        <input type="text" class="form-control w-100 data" value="{{ value }}"
            {{ required ? 'required' }}
            {{ _self.common_attributes(name, options) }}
            {{ _self.multiple_key(options) }}>
    </label>
{% endmacro %}

{% macro number(name, label, required, value = '', options = {}) %}
    <label class="{{ options.labelClass ?? '' }}">
        <span>{{ _self.label(label) }}{{ required ? '*' }}</span>
        <div class="increase-decrease-field">
            <button class="decrease"></button>
            <input type="number" data-no-arrow class="form-control w-50 data"
                   value="{{ value }}"
                {{ required ? 'required' }}
                {{ _self.common_attributes(name, options) }}
                {{ _self.multiple_key(options) }}
                {% if options.min is defined %}min="{{ options.min }}"{% endif %}
                {% if options.max is defined %}max="{{ options.max }}"{% endif %}>
            <button class="increase"></button>
        </div>
    </label>
{% endmacro %}

{% macro textarea(name, label, required, value = '', options = {}) %}
    <label class="{{ options.labelClass ?? '' }}">
        <span>{{ _self.label(label) }}{{ required ? '*' }}</span>
        <textarea class="form-control w-100 data"
            {{ required ? 'required' }}
            {{ options.readonly ?? false ? 'readonly' }}
            {{ options.disabled ?? false ? 'disabled' }}>
            {{- value | raw -}}
        </textarea>
    </label>
{% endmacro %}

{% macro wysiwyg(name, label, required, value = '', options = {}) %}
    {% set id = random(100000, 10000000) %}

    <label class="wii-subtitle">{{ _self.label(label) }}{{ required ? '*' }}</label>
    <div class="data" data-wysiwyg="{{ name }}" {{ required ? 'data-required' }}>{{- value | raw -}}</div>
{% endmacro %}
