{% macro custom_attributes(attributes = []) %}
    {% for key, value in attributes %}
        {{ key }}="{{ value }}"
    {% endfor %}
{% endmacro %}

{% macro common_attributes(name, options) %}
    name="{{ name }}"
    {% if options.onChange is defined %}onchange="{{ options.onChange }}"{% endif %}
    {{ (options.error ?? 'local') == 'global' ? 'data-global-error' }}
    {{ options.readonly ?? false ? 'readonly' }}
    {{ options.disabled ?? false ? 'disabled' }}
    {% if options.min is defined and options.min is not null %}min="{{ options.min }}"{% endif %}
    {% if options.max is defined and options.max is not null %}max="{{ options.max }}"{% endif %}
    {% if options.step is defined and options.step is not null %}step="{{ options.step }}"{% endif %}

    {{ _self.custom_attributes(options.attributes ?? []) }}
{% endmacro %}

{% macro multiple_key(options) %}
    {% if options.multipleKey is defined %}
        data-multiple-key="{{ options.multipleKey.key }}"
        data-multiple-object-index="{{ options.multipleKey.index }}"
    {% endif %}
{% endmacro %}

{% macro label(label, required, inline, options = {}) %}
    {% if label %}
        <span class="d-inline-flex align-items-center field-label
            {{ inline ? 'text-nowrap' :  'wii-field-name' }}
            {{ options.class ?? '' }}"
              {% if not inline %}style="margin-bottom: 5px"{% endif %}>
            {% if label is iterable %}
                {% if label.url is defined %}
                    <img src="{{ label.url }}" alt="{{ label.alt ?? '' }}" width="15px" class="mr-2">
                {% endif %}

                {{ label.text | raw }}{{ required and options.removeAsterisk is not defined ? '*' }}
            {% else %}
                {{ label | raw }}{{ required and options.removeAsterisk is not defined ? '*' }}
            {% endif %}
        </span>
        <span class="wii-small-text"> {{ options.smallText ?? '' }}</span>
    {% endif %}
{% endmacro %}

{% macro tooltip(tooltip, inline) %}
    {% if tooltip is not null %}
        <sup class="input-tooltip" onclick="event.preventDefault()">
            <img src="{{ asset('svg/information.svg') }}"
                 alt="Icône information"
                 width="{{ inline ? '15px' : '10px' }}"
                 class="has-tooltip"
                 title="{{ tooltip.text ?? tooltip ?? '' }}">
        </sup>
    {% endif %}
{% endmacro %}

{% macro switch(name, label, required, switches, options = {}) %}
    {% set inline = options.inline ?? false %}
    <label class="d-flex flex-column align-items-start w-fit-content">
        {{ _self.label(label, required, inline, options.labelOptions ?? {}) }}
        {{ _self.tooltip(options.tooltip ?? null, inline) }}
        <div class="{{ options.expanded ?? false ? 'wii-expanded-switch' : 'wii-switch' }} text-truncate"
        {{ (options.error ?? 'local') == 'global' ? 'data-global-error' }}
        {% for attribute in options.additionalAttributes ?? [] %}
            {{ attribute.name }}="{{ attribute.value ?? '' }}"
        {% endfor %}
        data-name="{{ name }}"
        data-title="{{ label is not iterable ? label | striptags : label.text | striptags }}{{ required ? '*' }}">
        {% for switch in switches %}
            {% set id = random(100000, 10000000) %}
            {% set disabled = switch.disabled ?? false %}

            <input type="radio"
                   id="{{ name }}-{{ id }}"
                   name="{{ switch.name ?? name }}"
                   class="data {{ switch.class ?? null }}"
                   value="{{ switch.value ?? '' }}"
                {{ disabled ? 'disabled' }}
                {{ required ? 'required' }}
                {{ switch.checked ?? false ? 'data-init="checked" checked' }}/>

            <label for="{{ name }}-{{ id }}"
                {{ _self.custom_attributes(switch.attributes ?? []) }}>
                    <span class="d-inline-flex align-items-center">
                        {% if switch.wiiIcon ?? false %}
                            <span class="mr-2 wii-icon wii-icon-{{ switch.wiiIcon }}"></span>
                        {% elseif switch.iconUrl ?? false %}
                            <img src="{{ switch.iconUrl }}" alt="" width="15px" class="mr-2">
                        {% endif %}
                        {% if switch.label is iterable %}
                            {{ switch.label.text }}
                        {% else %}
                            {{ switch.label }}
                        {% endif %}
                    </span>
            </label>
        {% endfor %}
        </div>
    </label>
{% endmacro %}

{% macro checkbox(name, label, required, value = true, options = {}) %}
    {% set isSlider = options.slider ?? false %}
    {% set id = options.id ?? ('checkbox-' ~ random(100000, 10000000)) %}
    {% set checkboxClass = isSlider ? 'switch' : 'wii-checkbox' %}
    {% set containerTag = isSlider ? 'label' : 'div' %}
    <{{ containerTag }} class="{{ checkboxClass }} {{ options.containerClass ?? '' }}"
    data-name="{{ name }}">
    <input type="checkbox"
           id="{{ id }}"
           class="checkbox data {{ options.inputClass ?? '' }}"
        {{ required ? 'required' }}
        {{ _self.common_attributes(name, options) }}
        {{ _self.multiple_key(options) }}
        {{ {on: 1, off: 0}[value] ?? value ? 'checked' }}>
    {% if isSlider %}
        <span class="slider round"></span>
    {% else %}
        <label class="user-select-none pointer {{ options.labelClass ?? '' }}" for="{{ id }}">
                <span class="d-inline-flex align-items-center">
                    {{ label | raw }}
                </span>
        </label>
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
    {% endif %}
    </{{ containerTag }}>
    {% if isSlider %}
        <label class="user-select-none pointer {{ options.labelClass ?? '' }}" for="{{ id }}">
            <span class="d-inline-flex align-items-center">
                {{ label | raw }}
            </span>
        </label>
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
    {% endif %}
{% endmacro %}

{% macro radio(name, label, required, items, options = {}) %}
    <div class="wii-radio-container {{ options.containerClass ?? '' }}"
         data-name="{{ name }}">
        {% for item in items %}
            {% set id = random(100000, 10000000) %}

            <div class="wii-radio mt-1 {{ options.inputClass ?? '' }}">
                <input type="radio" id="radio-{{ id }}-{{ item.id ?? '' }}" class="data mr-2 {{ item.class ?? '' }}" value="{{ item.value ?? '' }}"
                    {{ required ? 'required' }}
                    {{ _self.common_attributes(name, options) }}
                    {{ _self.multiple_key(options) }}
                    {{ (item.disabled ?? false) ? 'disabled' }}
                    {{ (item.checked ?? false) ? 'checked' }} />

                <label class="{{ options.labelClass ?? '' }} d-inline-flex align-items-center" for="radio-{{ id }}-{{ item.id ?? '' }}">
                    {% if item.iconUrl ?? false %}
                        <img src="{{ item.iconUrl }}" alt="" width="20px" class="mr-2 {{ options.iconClass }}">
                    {% endif %}
                    {{ item.label }}
                </label>
                {{ _self.tooltip(item.tooltip ?? null) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro select(name, label, required, options = {}) %}
    {% set inline = options.inline ?? false %}
    {% set value = options.value ?? null %}
    {% set values = value
        ? (value is iterable ? value : [value])
        : [] %}

    <label class="{{ options.labelClass ?? 'w-100' }} {{ not options.search ?? true ? 'no-search' }}">
        {{ _self.label(label, required, inline, options.labelOptions ?? {}) }}
        {% if label %}
            {{ _self.tooltip(options.tooltip ?? null, inline) }}
        {% endif %}

        {% if options.selectAllLabel ?? false %}
            <div class="input-group with-select-all-options flex-nowrap no-gutters mb-3">
                <div class="flex-fill">
        {% endif %}
                    <select class="form-control data {{ options.inputClass ?? 'w-100' }} {{ required ? 'needed' }}"
                            {{ required ? 'required' }}
                            {{ options.multiple ?? false ? 'multiple' }}
                            {% if options.type is defined %}
                                data-s2="{{ options.type }}"
                                {% if options.hiddenDropdown ?? false %}data-hidden-dropdown{% endif %}
                                {% if options.disabledDropdownOptions ?? false %}data-disabled-dropdown-options{% endif %}
                                {% if options.editable ?? false %}data-editable{% endif %}
                                {% if options.label ?? false %}data-label="{{ options.label }}"{% endif %}
                                {% if options.noEmptyOption ?? false %}data-no-empty-option{% endif %}
                                {% if options.autoSelect ?? false %}data-auto-select{% endif %}
                                {% if options.placeholder is defined %}data-placeholder="{{ options.placeholder }}"{% endif %}
                                {% if options.includeParams is defined %}data-include-params="{{ options.includeParams }}"{% endif %}
                                {% if options.includeParamsParent is defined %}data-include-params-parent="{{ options.includeParamsParent }}"{% endif %}
                                {% if options.minLength is defined %}data-min-length="{{ options.minLength }}"{% endif %}
                            {% endif %}
                            {% if options.keepOpen is defined %}data-keep-open{% endif %}
                            {% for attribute in options.additionalAttributes ?? [] %}
                                {{ attribute.name }}="{{ attribute.value ?? '' }}"
                            {% endfor %}
                            {{ _self.common_attributes(name, options) }}
                            {{ _self.multiple_key(options) }}>
                        {% if options.emptyOption is defined and options.emptyOption is not empty %}
                            <option {{ options.emptyOption.selected ?? false ? "selected" }}
                                     value="{{ options.emptyOption.value ?? null }}">
                                {{ options.emptyOption.text ?? null }}
                            </option>
                        {% elseif options.type is not defined and options.placeholder ?? false %}
                            <option disabled selected>{{ options.placeholder }}</option>
                        {% endif %}

                        {% set definedItems = options.items ?? [] %}
                        {% set items = definedItems is iterable ? definedItems : [definedItems] %}

                        {% for value, text in items|filter((item) => item) %}
                            {% if text.value is defined and text.label is defined %}
                                <option value="{{ text.value }}"
                                        {{ (text.selected ?? false) or text.value in values ? 'selected' }}
                                        {{ text.disabled ?? false ? 'disabled' }}
                                        {% if text.class is defined and text.class %}class="{{ text.class }}"{% endif %}
                                        {% if text.icon is defined %}data-icon="{{ text.icon }}"{% endif %}
                                        {% for dataKey, dataValue in text %}
                                            data-{{ dataKey }}="{{ dataValue }}"
                                        {% endfor %}>
                                    {{ text.label }}
                                </option>
                            {% else %}
                                <option value="{{ value }}" {{ value in values ? 'selected' }}>{{ text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
        {% if options.selectAllLabel ?? false %}
                </div>
                <div class="input-group-append col-4">
                    <button class="btn btn-primary select-all-options w-100" type="button">{{ options.selectAllLabel }}</button>
                </div>
            </div>
        {% endif %}
    </label>
{% endmacro %}

{% macro input(name, label, required, value = '', options = {}) %}
    {% set inline = options.inline ?? false %}
    {% set dataInput = options.data ?? true %}
    {% set type = options.type ?? 'text' %}
    {% if type == 'fax' %}
        {% set type = 'tel' %}
        {% set fax = true %}
    {% endif %}

    {% if (options.isLabelFree is defined and options.isLabelFree is not same as(true)) or inline %}
    <label class="{{ options.labelWidth ?? 'w-100' }} {{ options.labelClass ?? '' }} {{ inline ? 'labelled-field' }}">
    {% endif %}
        {{ _self.label(label, required, inline, options.labelOptions ?? {}) }}
        {{ _self.tooltip(options.tooltip ?? null, inline) }}
        <input type="{{ type }}"
               {{ fax ?? false ? 'data-fax' }}
               class="form-control {{ dataInput ? 'data' }} {{ options.noClear is defined and options.noClear ? 'no-clear' }} {{ required ? 'needed' }} {{ options.inputClass ?? '' }} {{ options.width ?? 'w-100' }}"
               value="{{ value }}"
               placeholder="{{ options.placeholder ?? '' }}"
               {% if options.autocompleteOff is defined and options.autocompleteOff %}
                    autocomplete="off"
               {% endif %}
        {% for attribute in options.additionalAttributes ?? [] %}
            {{ attribute.name }}="{{ attribute.value ?? '' }}"
        {% endfor %}
        {{ _self.common_attributes(name, options) }}
        {{ _self.multiple_key(options) }}>
    {% if options.isLabelFree is defined and options.isLabelFree is not same as(true) %}
    </label>
    {% endif %}
{% endmacro %}

{% macro color(name, label, required, value = '', options = {}) %}
    {% set inline = options.inline ?? false %}
    {% set id = random(100000, 10000000) %}

    <label class="{{ options.labelClass ?? '' }} {{ (options.inline ?? false) ? 'labelled-field' }}">
        {{ _self.label(label, required, inline, options.labelOptions ?? {}) }}
        {{ _self.tooltip(options.tooltip ?? null, inline) }}

        <input type="color" list="color-input-{{ id }}"
               class="data form-control wii-color-picker"
               value="{{ value }}"
            {{ required ? 'required' }}
            {{ _self.common_attributes(name, options) }}
            {{ _self.multiple_key(options) }}>
        <datalist id="color-input-{{ id }}">
            <option>#D76433</option>
            <option>#D7B633</option>
            <option>#A5D733</option>
            <option>#33D7D1</option>
            <option>#33A5D7</option>
            <option>#3353D7</option>
            <option>#6433D7</option>
            <option>#D73353</option>
        </datalist>
    </label>
{% endmacro %}

{% macro number(name, label, required, value = '', options = {}) %}
    {% set inline = options.inline ?? false %}
    {% set disabled = options.disabled is defined and options.disabled ? 'disabled' %}
    <label class="{{ options.labelClass ?? '' }}">
        {{ _self.label(label, required and not disabled, inline, options.labelOptions ?? {}) }}
        {{ _self.tooltip(options.tooltip ?? null, inline) }}
        {% if options.buttons ?? true %}<span class="increase-decrease-field" style="min-width: 120px;">{% endif %}
            {% if options.buttons ?? true %}
                <button type="button" class="decrease" {{ disabled }}></button>
            {% endif %}
            <input type="number"
                   data-no-arrow
                   class="form-control {{ not (options.buttons ?? true) ? 'text-left w-100' : 'w-50 p-0' }} {{ not disabled ? 'data' }}"
                   placeholder="{{ options.placeholder ?? '' }}"
                   value="{{ value }}"
                   {{ required and not disabled ? 'required' }}
                {{ disabled }}
                {{ _self.common_attributes(name, options) }}
                {{ _self.multiple_key(options) }}>
               {% if options.buttons ?? true %}
                   <button type="button" class="increase" {{ disabled }}></button>
               {% endif %}
            {% if options.buttons ?? true %}</span>{% endif %}
    </label>
{% endmacro %}

{% macro textarea(name, label, required, value = '', options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    {% set resizeVertical = options.resizeVertical ?? true %}
    {% set inline = options.inline ?? false %}

    <label class="w-100 {{ options.labelClass ?? '' }}">
        {{ _self.label(label, required, inline, labelOptions) }}
        {{ _self.tooltip(options.tooltip ?? null, inline) }}
        <textarea class="form-control minw-100 w-100 data  {{ options.noClear is defined and options.noClear ? 'no-clear' }}"
                  {{ _self.common_attributes(name, options) }}
                  rows="{{ options.rows ?? 3 }}"
                  style="{{ resizeVertical ? 'resize: vertical;' : 'resize: none;' }} {{ options.style ?? '' }}"
                  {% if options.placeholder is defined %}placeholder="{{ options.placeholder }}"{% endif %}
            {{ required ? 'required' }}>
            {{- value | raw -}}
        </textarea>
    </label>
{% endmacro %}

{% macro wysiwyg(name, label, required, value = '', options = {}) %}
    {% set id = random(100000, 10000000) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    {% set inline = options.inline ?? false %}

    <label class="wii-subtitle">{{ _self.label(label, required, inline, labelOptions) }}</label>
    {{ _self.tooltip(options.tooltip ?? null, inline) }}
    <div class="data" data-wysiwyg="{{ name }}" {{ required ? 'data-required' }}>{{- value | raw -}}</div>
{% endmacro %}

{% macro image(name, label, required, image = '', options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    {% set inline = options.inline ?? false %}

    <label class="{{ options.labelClass ?? '' }}">
        {{ _self.label(label, required, inline, labelOptions) }}
        {{ _self.tooltip(options.tooltip ?? null, inline) }}
        <div class="form-group d-flex m-0">
            <div class="preview-container stripped-background d-flex {{ options.previewClass ?? '' }}">
                <img src="{{ image ? (app.request.scheme ~ '://' ~ app.request.httpHost ~ "/" ~ image) : '' }}"
                     id="preview-{{ name }}"
                     alt="image"
                     height="50px"
                     class="image m-1 {{ not image ? 'd-none' }} {{ options.imageClass ?? '' }}"/>
            </div>
            <button class="btn btn-primary d-flex p-1 align-items-center justify-content-center"
                    onclick="$('#upload-{{ name }}').click();">
                <i class='wii-icon wii-icon-pencil w-px-20 h-px-20 bg-white'></i>
            </button>

            {% if options.defaultValue is defined and (options.defaultValue or options.defaultValue == '') %}
                <input type="hidden"
                       class="default-value"
                       value="{{ options.defaultValue }}"/>
                <button class="btn btn-primary btn-default-value ml-1 bg-white p-1 d-flex align-items-center justify-content-center"
                        onclick="resetImage($(this))">
                    <i class="wii-icon wii-icon-refresh bg-primary w-px-20 h-px-20"></i>
                </button>
            {% endif %}

            <input type="file"
                   id="upload-{{ name }}"
                   name="{{ name }}"
                   accept="{{ options.formats ?? 'image/png, image/jpeg, image/jpg, image/svg+xml, image/gif' }}"
                   class="data force-data"
                   onchange="updateImagePreview('#preview-{{ name }}', '#upload-{{ name }}')"
                   hidden
                {{ required ? 'required' }}>

            <input type="hidden"
                   class="keep-image data"
                   name="keep-{{ name }}"
                   value="1">
        </div>
    </label>
{% endmacro %}

{% macro lang(name, label, required, options = {}) %}
    <label class="w-100 {{ options.labelClass ?? '' }}">
        {{ _self.label(label, required, false, options.labelOptions ?? {}) }}
        {{ _self.tooltip(options.tooltip ?? null, false) }}

        {% for language in options.languages ?? [] %}
            <div class="input-group lang-input-group mb-1" data-multiple-key="labels" data-multiple-object-index="{{ language.value }}">
                <div class="input-group-prepend">
                    <img alt="Icône de la langue {{ language.label }}" src="{{ language.iconUrl }}">
                </div>

                {% set entity = options.entity ?? null %}
                {% set translation = entity ? entity.labelTranslation.translationIn(language.slug) %}
                <input type="hidden" class="data" name="language-id" value="{{ language.value }}">
                <input type="text" class="data form-control {{ required and loop.first ? 'needed' }} data-array"
                       name="label" value="{{ translation ? translation.translation }}">
            </div>
        {% endfor %}
    </label>
{% endmacro %}

{% set macroName = macroName ?? null %}
{% set macroParams = macroParams ?? null %}

{% if macroName and macroParams %}
    {# Ability to call an macro dynamicly is not implemented in Twig yet. #}
    {# See https://github.com/twigphp/Twig/issues/922#issuecomment-11133299 #}
    {# So i do basic elseif   #}
    {% if macroName == 'label' %}
        {{ _self.label(macroParams[0] ?? null, macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null) }}
    {% elseif macroName == 'switch' %}
        {{ _self.switch(macroParams[0] ?? null, macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'checkbox' %}
        {{ _self.checkbox(macroParams[0] ?? null, macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'radio' %}
        {{ _self.radio(macroParams[0], macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'select' %}
        {{ _self.select(macroParams[0], macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'input' %}
        {{ _self.input(macroParams[0], macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'color' %}
        {{ _self.color(macroParams[0], macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'textarea' %}
        {{ _self.textarea(macroParams[0], macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'wysiwyg' %}
        {{ _self.wysiwyg(macroParams[0], macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'image' %}
        {{ _self.image(macroParams[0], macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3] ?? null, macroParams[4] ?? null) }}
    {% elseif macroName == 'lang' %}
        {{ _self.lang(macroParams[0], macroParams[1] ?? null, macroParams[2] ?? null, macroParams[3]) }}
    {% endif %}
{% endif %}

