{% macro common_attributes(name, options) %}
    name="{{ name }}"
    {% if options.onChange is defined %}onchange="{{ options.onChange }}"{% endif %}
    {{ (options.error ?? 'local') == 'global' ? 'data-global-error' }}
    {{ options.readonly ?? false ? 'readonly' }}
    {{ options.disabled ?? false ? 'disabled' }}

    {% for key, value in options.attributes ?? [] %}
        {{ key }}="{{ value }}"
    {% endfor %}
{% endmacro %}

{% macro multiple_key(options) %}
    {% if options.multipleKey is defined %}
        data-multiple-key="{{ options.multipleKey.key }}"
        data-multiple-object-index="{{ options.multipleKey.index }}"
    {% endif %}
{% endmacro %}

{% macro label(label, required, options = {}) %}
    {% set removeIfEmpty = options.removeIfEmpty ?? false %}

    {% if label or not removeIfEmpty %}
        <span class="d-inline-flex align-items-center field-label">
            {% if label is iterable %}
                {% if label.wiiIcon is defined %}
                    <span class="mr-2 wii-icon wii-icon-{{ label.wiiIcon }}"></span>
                {% elseif label.faIcon is defined %}
                    <i class="mr-2 {{ label.faIcon }}"></i>
                {% elseif label.url is defined %}
                    <img src="{{ label.url }}" alt="{{ label.alt ?? '' }}" width="15px" class="mr-2">
                {% endif %}

                {{ label.text | raw }}{{ required ? '*' }}
            {% else %}
                {{ label | raw }}{{ required ? '*' }}
            {% endif %}
        </span>
    {% endif %}
{% endmacro %}

{% macro tooltip(tooltip, inline) %}
    {% if tooltip is not null %}
        <sup class="input-tooltip" onclick="event.preventDefault()">
            <img src="{{ asset('svg/reference_article/information.svg') }}"
                 alt="Icône information"
                 width="{{ inline ? '15px' : '10px' }}"
                 class="has-tooltip"
                 title="{{ tooltip.text ?? tooltip ?? '' }}">
        </sup>
    {% endif %}
{% endmacro %}

{% macro switch(name, label, required, switches, options = {}) %}
    <label class="d-flex flex-column align-items-start">
        {% set labelOptions = options.labelOptions ?? {} %}
        {% if label %}<label class="{{ options.labelClass ?? '' }}">{{ _self.label(label, required, labelOptions) }}</label>{% endif %}
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
        <div class="{{ options.expanded ?? false ? 'wii-expanded-switch' : 'wii-switch' }} text-truncate"
             data-title="{{ label | striptags }}{{ required ? '*' }}"
             style="margin-top: 5px;">
            {% for switch in switches %}
                {% set id = random(100000, 10000000) %}

                <input type="radio"
                       id="{{ name }}-{{ id }}"
                       name="{{ name }}"
                       class="data"
                       value="{{ switch.value ?? '' }}"
                       {{ required ? 'required' }}
                       {{ switch.checked ?? false ? 'checked' }}>
                <label for="{{ name }}-{{ id }}" class="d-inline-flex align-items-center">
                    {% if switch.label is iterable and switch.label.wiiIcon %}
                        <span class="mr-2 wii-icon wii-icon-{{ switch.label.wiiIcon }}"></span>
                    {% endif %}
                    {% if switch.label is iterable %}
                        {{ switch.label.text }}
                    {% else %}
                        {{ switch.label }}
                    {% endif %}
                </label>
            {% endfor %}
        </div>
    </label>
{% endmacro %}

{% macro slider(name, label, required, checked = false, options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    <label class="{{ options.labelClass ?? '' }}">{{ _self.label(label, required, labelOptions) }}</label>
    <label class="switch">
        <input class="checkbox data"
               type="checkbox"
               {{ required ? 'required' }}
               {{ _self.common_attributes(name, options) }}
               {{ _self.multiple_key(options) }}
               {{ checked ? 'checked' }}>
        <span class="slider round"></span>
    </label>
{% endmacro %}

{% macro checkbox(name, label, required, value = true, options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    {% set id = options.id ?? ('checkbox-' ~ random(100000, 10000000)) %}
    <div class="wii-checkbox {{ options.containerClass ?? '' }}">
        <input type="checkbox"
               id="{{ id }}"
               class="data {{ options.inputClass ?? '' }}"
              {{ required ? 'required' }}
              {{ _self.common_attributes(name, options) }}
              {{ _self.multiple_key(options) }}
              {{ {on: 1, off: 0}[value] ?? value ? 'checked' }}>
        <label class="{{ options.labelClass ?? '' }}" for="{{ id }}">
            <span class="d-inline-flex align-items-center {{ options.labelClass ?? '' }}">
                {{ label | raw }}
            </span>
        </label>
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
    </div>
{% endmacro %}

{% macro radio(name, label, required, items, options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    <div class="wii-radio-container {{ options.containerClass ?? '' }}">
        {% for item in items %}
            {% set id = random(100000, 10000000) %}

            <div class="wii-radio mt-1">
                <input type="radio" id="radio-{{ id }}" class="data" value="{{ item.value ?? '' }}"
                    {{ required ? 'required' }}
                    {{ _self.common_attributes(name, options) }}
                    {{ _self.multiple_key(options) }}
                    {{ (item.checked ?? false) ? 'checked' }} />
                <label class="{{ options.labelClass ?? '' }} pointer" for="radio-{{ id }}">{{ _self.label(item.label, false, labelOptions) }}</label>
                {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro select(name, label, required, options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    {% set value = options.value ?? null %}
    {% set values = value
        ? (value is iterable ? value : [value])
        : [] %}

    <label class="w-100 {{ not options.search ?? true ? 'no-search' }}">
        {% if label %}
            <span class="w-100 {{ options.labelClass ?? '' }}">{{ _self.label(label, required, labelOptions) }}</span>
            {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
        {% endif %}
        <select class="form-control data {{ options.inputClass ?? 'w-100' }}"
            {{ required ? 'required' }}
            {{ options.multiple ?? false ? 'multiple' }}
            {% if options.type is defined %}
                data-s2="{{ options.type }}"
                {% if options.editable ?? false %}data-editable{% endif %}
                {% if options.noEmptyOption ?? false %}data-no-empty-option{% endif %}
                {% if options.placeholder is defined %}data-placeholder="{{ options.placeholder }}"{% endif %}
                {% if options.includeParams is defined %}data-include-params="{{ options.includeParams }}"{% endif %}
                {% if options.minLength is defined %}data-min-length="{{ options.minLength }}"{% endif %}
            {% endif %}
            {{ _self.common_attributes(name, options) }}
            {{ _self.multiple_key(options) }}>
            {% if options.emptyOption is defined and options.emptyOption is not empty %}
                <option {{ options.emptyOption.selected ? "selected" }}
                    value="{{ options.emptyOption.value }}">{{ options.emptyOption.text }}</option>
            {% elseif options.type is not defined and options.placeholder ?? false %}
                <option disabled selected>{{ options.placeholder }}</option>
            {% endif %}

            {% set definedItems = options.items ?? [] %}
            {% set items = (definedItems is iterable) ? definedItems : [definedItems] %}

            {% for value, text in items %}
                {% if text.value is defined and text.label is defined %}
                    <option value="{{ text.value }}"
                            {{ (text.selected ?? false) or text.value in values ? 'selected' }}
                            {{ text.disabled ?? false ? 'disabled' }}
                            {% for dataKey, dataValue in text %}
                                data-{{ dataKey }}="{{ dataValue }}"
                            {% endfor %}>
                        {{ text.label }}
                    </option>
                {% else %}
                    <option value="{{ value }}" {{ value in values ? 'selected' }}>{{ text }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label>
{% endmacro %}

{% macro input(name, label, required, value = '', options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    <label class="w-100 {{ options.labelClass ?? '' }} {{ (options.inline ?? false) ? 'labelled-field' }}">
        <span class="w-100">{{ _self.label(label, required, labelOptions) }}</span>
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
        <input type="{{ options.type ?? 'text' }}"
               class="form-control w-100 data"
               value="{{ value }}"
               placeholder="{{ options.placeholder ?? '' }}"
               {{ required ? 'required' }}
               {{ _self.common_attributes(name, options) }}
               {{ _self.multiple_key(options) }}>
    </label>
{% endmacro %}

{% macro color(name, label, required, value = '', options = {}) %}
    {% set id = random(100000, 10000000) %}
    {% set labelOptions = options.labelOptions ?? {} %}

    <label class="{{ options.labelClass ?? '' }} {{ (options.inline ?? false) ? 'labelled-field' }}">
        {% if label %}<span>{{ _self.label(label, required, labelOptions) }}</span>{% endif %}
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}

        <input type="color" list="color-input-{{ id }}"
               class="data form-control wii-color-picker"
               value="{{ value }}"
            {{ required ? 'required' }}
            {{ _self.common_attributes(name, options) }}
            {{ _self.multiple_key(options) }}>
        <datalist id="color-input-{{ id }}">
            <option>#D76433</option>
            <option>#D7B633</option>
            <option>#A5D733</option>
            <option>#33D7D1</option>
            <option>#33A5D7</option>
            <option>#3353D7</option>
            <option>#6433D7</option>
            <option>#D73353</option>
        </datalist>
    </label>
{% endmacro %}

{% macro number(name, label, required, value = '', options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    {% set disabled = options.disabled is defined and options.disabled ? 'disabled' %}
    <label class="{{ options.labelClass ?? '' }}">
        <span>{{ _self.label(label, required and not disabled, labelOptions) }}</span>
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
        {% if options.buttons ?? true %}<span class="increase-decrease-field" style="min-width: 120px;">{% endif %}
            {% if options.buttons ?? true %}
                <button class="decrease" {{ disabled }}></button>
            {% endif %}
            <input type="number" data-no-arrow class="form-control {{ not (options.buttons ?? true) ? 'text-left w-100' : 'w-50 p-0' }} {{ not disabled ? 'data' }}"
                   placeholder="{{ options.placeholder ?? '' }}"
                   value="{{ value }}"
                   {{ required and not disabled ? 'required' }}
                   {{ disabled }}
                   {{ _self.common_attributes(name, options) }}
                   {{ _self.multiple_key(options) }}
                   {% if options.min is defined and options.min is not null %}min="{{ options.min }}"{% endif %}
                   {% if options.max is defined and options.max is not null %}max="{{ options.max }}"{% endif %}>
               {% if options.buttons ?? true %}
                   <button class="increase" {{ disabled }}></button>
               {% endif %}
        {% if options.buttons ?? true %}</span>{% endif %}
    </label>
{% endmacro %}

{% macro textarea(name, label, required, value = '', options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    <label class="{{ options.labelClass ?? '' }}">
        <span>{{ _self.label(label, required, labelOptions) }}</span>
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
        <textarea class="form-control w-100 data"
                  {{ _self.common_attributes(name, options) }}
                  rows="{{ options.rows ?? 3 }}" style="resize: vertical"
                  {{ required ? 'required' }}>
            {{- value | raw -}}
        </textarea>
    </label>
{% endmacro %}

{% macro wysiwyg(name, label, required, value = '', options = {}) %}
    {% set id = random(100000, 10000000) %}
    {% set labelOptions = options.labelOptions ?? {} %}

    <label class="wii-subtitle">{{ _self.label(label, required, labelOptions) }}</label>
    {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
    <div class="data" data-wysiwyg="{{ name }}" {{ required ? 'data-required' }}>{{- value | raw -}}</div>
{% endmacro %}

{% macro image(name, label, required, image = '', options = {}) %}
    {% set labelOptions = options.labelOptions ?? {} %}
    <label class="{{ options.labelClass ?? '' }}">
        {% if label %}
            <span>{{ _self.label(label, required, labelOptions) }}</span>
        {% endif %}
        {{ _self.tooltip(options.tooltip ?? null, options.inline ?? false) }}
        <div class="form-group d-flex m-0">
            <div class="preview-container stripped-background d-flex p-1 mr-1">
                <img src="{{ image ? (app.request.scheme ~ '://' ~ app.request.httpHost ~ "/" ~ image) : '' }}"
                     id="preview-{{ name }}"
                     alt="image"
                     height="50px"
                     class="image {{ not image ? 'd-none' }}"/>
            </div>
            <button class="btn btn-primary d-flex p-1 align-items-center justify-content-center"
                    onclick="$('#upload-{{ name }}').click();">
                <i class='wii-icon wii-icon-pencil w-px-20 h-px-20 bg-white'></i>
            </button>

            {% if options.defaultValue is defined and options.defaultValue %}
                <input type="hidden"
                       class="default-value"
                       value="{{ options.defaultValue }}"/>
                <button class="btn btn-primary ml-1 bg-white p-1 d-flex align-items-center justify-content-center"
                        onclick="resetImage($(this))">
                    <i class="wii-icon wii-icon-refresh bg-primary w-px-20 h-px-20"></i>
                </button>
            {% endif %}

            <input type="file"
                   id="upload-{{ name }}"
                   name="{{ name }}"
                   accept="{{ options.formats ?? 'image/png, image/jpeg, image/jpg, image/svg+xml, image/gif' }}"
                   class="data force-data"
                   onchange="updateImagePreview('#preview-{{ name }}', '#upload-{{ name }}')"
                   hidden
                   {{ required ? 'required' }}>

            <input type="hidden"
                   class="keep-image data"
                   name="keep-{{ name }}"
                   value="1">
        </div>
    </label>
{% endmacro %}
