{% set isDashboardExt = isDashboardExt is defined and isDashboardExt %}
{% set withOnlyLogo = withOnlyLogo is defined and withOnlyLogo %}
{% set titleExists = title is defined and title is not empty %}

<div class="main-header">
    <div class="col-12">
        <div class="row align-items-center {{ withOnlyLogo ? 'justify-content-center' }}">
            <div class="col-2">
                <a href="{{ path('accueil') }}">
                    <img src="{{ asset('img/followGTwhite.svg') }}" alt="Follow GT" class="w-100"/>
                    <span class="web-version small">{{ web_version }}</span>
                </a>
            </div>

            {% if not withOnlyLogo %}
                {% if isDashboardExt or titleExists %}
                    <h5 class="header-title text-white col-auto h5 user-select-none my-0 page-title">
                        {% if titleExists %}
                            {% for subTitle in title|split('|') %}
                                {% if loop.last %}
                                      <span class="bold" >{{ subTitle }}</span>
                                {% else %}
                                    {{ subTitle }} |
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </h5>
                {% endif %}
                {% if not isDashboardExt
                      and app.user is defined
                      and app.user
                      and app.user.username is defined %}
                    <div class="text-white col-auto h6 my-0 ml-auto">
                        <span>{{app.user.username}}</span>
                    </div>
                    <nav id="main-nav" class="text-white col-auto dropdown dropleft">
                        <div class="menu-button rounded pointer"
                             data-toggle="dropdown"
                             aria-haspopup="true"
                             aria-expanded="false">
                            <span class="icon-menu"></span>
                        </div>
                        <div class="dropdown-menu pointer mr-0">
                            {% set menuConfig = getMenuConfig() %}
                            {% for itemMenu in menuConfig %}
                                {% if itemMenu.sub is defined %}
                                    <div class="text-white dropdown dropleft " onclick="event.stopPropagation()">
                                        <div class="pointer dropdown-item dropdown-item-sub"
                                             data-toggle="dropdown"
                                             aria-haspopup="true"
                                             aria-expanded="false">
                                            {% include 'menu/menu-item.html.twig' with {
                                                label: itemMenu.label,
                                                icon: itemMenu.icon is defined ? itemMenu.icon,
                                                title: itemMenu.title is defined ? itemMenu.title,
                                                isTranslation: itemMenu.isTranslation is defined and itemMenu.isTranslation,
                                                showArrow: true
                                            } %}
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-sub pointer">
                                            {% for itemMenuSub in itemMenu.sub %}
                                                {% include 'menu/menu-item.html.twig' with {
                                                    label: itemMenuSub.label,
                                                    icon: itemMenuSub.icon is defined ? itemMenuSub.icon,
                                                    title: itemMenuSub.title is defined ? itemMenuSub.title,
                                                    isTranslation: itemMenuSub.isTranslation is defined and itemMenuSub.isTranslation,
                                                    url: itemMenuSub.url is defined ? itemMenuSub.url : path(itemMenuSub.path),
                                                    isExtern: itemMenuSub.isExtern is defined
                                                } %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% include 'menu/menu-item.html.twig' with {
                                        label: itemMenu.label,
                                        icon: itemMenu.icon is defined ? itemMenu.icon,
                                        isTranslation: itemMenu.isTranslation is defined and itemMenu.isTranslation,
                                        url: itemMenu.url is defined ? itemMenu.url : path(itemMenu.path),
                                        title: itemMenu.title is defined ? itemMenu.title,
                                        isExtern: itemMenu.url is defined,
                                        arrowPlaceholder: true,
                                        iconPlaceholder: true
                                    } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </nav>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
