{% set isDashboardExt = isDashboardExt is defined and isDashboardExt %}
{% set withOnlyLogo = withOnlyLogo is defined and withOnlyLogo %}
{% set titleExists = title is defined and title is not empty %}
{% set tooltipExists = title_tooltip is defined and title_tooltip is not empty %}
{% set subtitleExists = subtitle is defined and subtitle is not empty %}
{% set titleLink = titleLink is defined ? titleLink : '' %}

<div class="main-header">
    <div class="col-12">
        <div class="row align-items-center {{ withOnlyLogo ? 'justify-content-center' }}">
            <div class="d-flex">
                <a class="position-relative" href="{{ path('accueil') }}">
                    <img src="{{ asset('img/followGTwhite.svg') }}" alt="Follow GT" class="w-100"/>
                    <span class="web-version small">{{ web_version }}</span>
                </a>
            </div>

            {% if not withOnlyLogo %}
                {% if isDashboardExt or titleExists or subtitleExists %}
                    <div class="col user-select-none">
                        <div class="row align-items-center">
                            {% if isDashboardExt or titleExists %}
                                <div class="col-auto">
                                    <h5 class="header-title text-white h5 my-0 page-title" {% if tooltipExists %}title="{{ title_tooltip }}"{% endif %}>
                                        {% if titleExists %}
                                            {% set titleSplit = title|split('|') %}
                                            {% if titleSplit is not empty %}
                                                {% if titleLink is not empty %}<a href="{{ titleLink }}" class="header-title-link"><span>{% endif %}
                                                {% for titlePart in titleSplit[:(titleSplit|length - 1)] %}
                                                    {{ (titlePart | trim) | raw }}
                                                    {{ not loop.last ? '|' }}
                                                {% endfor %}
                                                {% if titleLink is not empty %}</span></a>{% endif %}
                                                {% if titleSplit|length > 1 %}<span>|</span>{% endif %}
                                                <span class="bold">{{ ((titleSplit | last) | trim) | raw }}</span>
                                            {% endif %}
                                        {% endif %}
                                    </h5>
                                </div>
                            {% endif %}
                            {% if subtitleExists %}
                                <div class="subtitle-container col">
                                    {{ subtitle|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="dropdown mr-4">
                    <button class="quick-plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon"></span>
                    </button>
                    <div id="quick-menu" class="dropdown-menu p-0 mt-3">
                        <p class="mx-3 quick-menu-title user-select-none">Nouvelle demande</p>

                        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_LIVR'))
                              and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                            {% set isCurrentPage = (app.request.attributes.get('_route') == 'demande_index') %}
                            <a class="d-flex align-items-start"
                               onclick="{{ isCurrentPage ? "openQueryModal({'open-modal': 'new'}, event)" }}"
                               href="{{ path('demande_index', {'open-modal': 'new'}) }}">
                                <span class="wii-icon wii-icon-delivery quick-menu-icon mx-2"></span>
                                <span class="flex-fill align-self-center">Livraison</span>
                            </a>
                        {% endif %}

                        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_COLL'))
                              and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                            {% set isCurrentPage = (app.request.attributes.get('_route') == 'collecte_index') %}
                            <a class="d-flex align-items-start"
                               onclick="{{ isCurrentPage ? "openQueryModal({'open-modal': 'new'}, event)" }}"
                               href="{{ path('collecte_index', {'open-modal': 'new'}) }}">
                                <span class="wii-icon wii-icon-import quick-menu-icon mx-2"></span>
                                <span class="flex-fill align-self-center">Collecte</span>
                            </a>
                        {% endif %}
                        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_HAND'))
                              and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                            {% set isCurrentPage = (app.request.attributes.get('_route') == 'handling_index') %}
                            <a class="d-flex align-items-start"
                               onclick="{{ isCurrentPage ? "openQueryModal({'open-modal': 'new'}, event)" }}"
                               href="{{ path('handling_index', {'open-modal': 'new'}) }}"
                               title="Service">
                                <span class="wii-icon wii-icon-handling quick-menu-icon mx-2"></span>
                                <span class="flex-fill align-self-center">{{ 'services.Service' | trans }}</span>
                            </a>
                        {% endif %}
                        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_ACHE'))
                              and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                            {% set isCurrentPage = (app.request.attributes.get('_route') == 'dispatch_index') %}
                            <a class="d-flex align-items-start"
                               onclick="{{ isCurrentPage ? "openQueryModal({'open-modal': 'new'}, event)" }}"
                               href="{{ path('dispatch_index', {'open-modal': 'new'}) }}"
                               title="Acheminements">
                                <span class="wii-icon wii-icon-way quick-menu-icon mx-2"></span>
                                <span class="flex-fill align-self-center">{{ 'acheminement.Acheminement' | trans }}</span>
                            </a>
                        {% endif %}
                        {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_TRANSFER_REQ')) and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                            <a href="{{ path('transfer_request_index', {'open-modal': 'new'}) }}" title="Transfert">
                                <span class="wii-icon wii-icon-way quick-menu-icon mx-2"></span>
                                <span class="flex-fill align-self-center">Transfert</span>
                            </a>
                        {% endif %}
                        {% if isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_CEA_LETI')) and app.user.role.label == constant('App\\Entity\\Role::CLIENT_UTIL') %}
                            <a class="d-flex align-items-start" href="https://forms.office.com/Pages/ResponsePage.aspx?id=NhgDLW_TpECPU10VG8Uz0ORO07yh8_dHp_ZRkVcMgQJURjJHVzA5RjNHSEFXTkM4T1lWSllSSkFZVy4u" >
                                <span class="wii-icon wii-icon-add quick-menu-icon mx-2"></span>
                                <span class="flex-fill align-self-center">Créer un article</span>
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% if not isDashboardExt
                    and app.user is defined
                    and app.user
                    and app.user.username is defined %}
                    <div class="user">
                        <div class="profile-picture">{{ app.user.username | first | upper }}</div>
                        <span>{{ app.user.username }}</span>
                    </div>
                    <nav id="main-nav" class="text-white col-auto dropdown dropleft">
                        <div class="menu-button rounded pointer"
                             data-toggle="dropdown"
                             aria-haspopup="true"
                             aria-expanded="false">
                            <span class="icon-menu"></span>
                        </div>
                        <div class="dropdown-menu pointer mr-0">
                            {% set menuConfig = getMenuConfig() %}
                            {% for itemMenu in menuConfig %}
                                {% if itemMenu.sub is defined %}
                                    <div class="text-white dropdown dropleft " onclick="event.stopPropagation()">
                                        <div class="pointer dropdown-item dropdown-item-sub"
                                             data-toggle="dropdown"
                                             aria-haspopup="true"
                                             aria-expanded="false">
                                            {% include 'menu/menu-item.html.twig' with {
                                                label: itemMenu.label,
                                                icon: itemMenu.icon is defined ? itemMenu.icon,
                                                title: itemMenu.title is defined ? itemMenu.title,
                                                isTranslation: itemMenu.isTranslation is defined and itemMenu.isTranslation,
                                                showArrow: true
                                            } %}
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-sub pointer">
                                            {% for itemMenuSub in itemMenu.sub %}
                                                {% include 'menu/menu-item.html.twig' with {
                                                    label: itemMenuSub.label,
                                                    icon: itemMenuSub.icon is defined ? itemMenuSub.icon,
                                                    title: itemMenuSub.title is defined ? itemMenuSub.title,
                                                    isTranslation: itemMenuSub.isTranslation is defined and itemMenuSub.isTranslation,
                                                    url: itemMenuSub.url is defined ? itemMenuSub.url : path(itemMenuSub.path),
                                                    isExtern: itemMenuSub.isExtern is defined
                                                } %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% include 'menu/menu-item.html.twig' with {
                                        label: itemMenu.label,
                                        icon: itemMenu.icon is defined ? itemMenu.icon,
                                        isTranslation: itemMenu.isTranslation is defined and itemMenu.isTranslation,
                                        url: itemMenu.url is defined ? itemMenu.url : path(itemMenu.path),
                                        title: itemMenu.title is defined ? itemMenu.title,
                                        isExtern: itemMenu.url is defined,
                                        arrowPlaceholder: true,
                                        iconPlaceholder: true
                                    } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </nav>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
