{% extends 'base.html.twig' %}

{% block body %}

{% block menu %}
<nav>
    <div id="sidemenu-bg" class="sidemenu-bg hide"></div>
    <ul id="sidemenu" class="sidemenu">
        <li>
            <div class="menu-header">
                <img src="{{asset('img/logogt.png')}}" class='logoGt'>
                <div class="version"> V0.1.2</div>
                <h4 class="mt-2">{{ app.user.username }}</h4>
            </div>
        </li>
        <li class="menu-item">
            <a href="{{ path('check_last_login') }}">
                <i class="fas fa-home"></i>
                <h4>Accueil</h4>
            </a>
        </li>
        <!-- DEMANDE   -->
        <li class="menu-item has-submenu">
            <a href="#">
                <i class="fas fa-shopping-cart"></i>
                <h4>Demande</h4>
            </a>
            <ul class="sidemenu-sub">
                <li><a href="{{path("collecte_index")}}" class="sub-item">• Collecte</a></li>
                <li><a href="{{ path('demande_index') }}" class="sub-item">• Livraison</a></li>
            </ul>
        </li>
        <!-- ORDRE -->
        <li class="menu-item has-submenu">
            <a href="#">
                <i class="fas fa-network-wired"></i>
                <h4>Ordre</h4>
            </a>
            <ul class="sidemenu-sub">
                <li><a href="{{path("reception_index")}}" class="sub-item">• Réception</a></li>
                <li><a href="{{ path('preparation_index') }}" class="sub-item">• Préparation</a></li>
                <li><a href="{{ path("livraison_index") }}" class="sub-item">• Livraison</a></li>
            </ul>
        </li>
        <!-- STOCK -->
        <li class="menu-item has-submenu">
            <a href="#">
                <i class="fas fa-box"></i>
                <h4>Stock</h4>
            </a>
            <ul class="sidemenu-sub">
                <li><a href="{{ path('article_index') }}" class="sub-item">• Article</a></li>
                <!-- <li><a href="#">• Mouvement</a></li> -->
                <li><a href="{{path('emplacement_index')}}" class="sub-item">• Emplacement</a></li>
                <!-- <li><a href="#">• Inventaire</a></li>        -->
            </ul>
        </li>
        <!-- REFERENCE -->
        <li class="menu-item has-submenu">
            <a href="#">
                <i class="fas fa-sync-alt"></i>
                <h4>Référentiel</h4>
            </a>
            <ul class="sidemenu-sub">
                <li>
                    <a href="{{ path('fournisseur_index') }}" class="sub-item">• Fournisseur</a>
                </li>
                <li>
                    <a href="{{ path('reference_article_index') }}" class="sub-item">• Article référence</a>
                </li>
                <li>
                    <!-- <a href="#">• Article type</a> -->
                </li>
                <li>
                    <!-- <a href="#">• Article Fournisseur</a> -->
                </li>
            </ul>
        </li>

        {% if is_granted('ROLE_ADMIN') %}
        <li class="menu-item has-submenu">
            <a href="#">
                <i class="fas fa-gear"></i>
                <h4>Paramétrage</h4>
            </a>
            <ul class="sidemenu-sub">
                <li>
                    <a href="{{ path('utilisateur_index') }}" class="sub-item">• Utilisateurs</a>
                </li>
                <li>
                    <!-- <a href="#">• Rôle</a> -->
                </li>
                <li>
                    <a href="{{ path('champs_libre_index') }}" class="sub-item">• Champs libres</a>
                </li>
                <li>
                    <a href="{{ path('alerte_index') }}" class="sub-item">• Alertes</a>
                </li>
            </ul>
        </li>
        {% endif %}
        <li class="menu-item">
            <a href="{{ path('logout') }}">
                <i class="fas fa-power-off"></i>
                <h4>Déconnexion</h4>

            </a>
        </li>
      
    </ul>

</nav>
{% endblock %}
<div class="wrapper" class="accueil-back">
    <div class="container-fluid">
        {% block page_content %}

        {% endblock %}
    </div>
</div>

{% endblock %}