{% set version = '2.4.2' %}
{% extends 'base.html.twig' %}

{% block body %}

    <div id="alerts">
        <div class="alert alert-danger text-center d-none" onclick="this.style.display='none';">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <span class="error-msg"></span>
        </div>

        <div class="alert alert-success text-center d-none" onclick="this.style.display='none';">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <span class="confirm-msg"></span>
        </div>
    </div>

    {% block menu %}
        <nav>
            <div id="sidemenu-bg" class="sidemenu-bg hide"></div>
            <ul id="sidemenu" class="sidemenu">
                <li>
                    <div class="menu-header">
                        <div class="logo-wrapper">
                            {% include 'logo.svg.twig' %}
                        </div>
                        <div class="version"> V{{ version }}</div>
                        <h4 class="mt-2">{{ app.user.username }}</h4>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="{{ path('check_last_login') }}">
                        <i class="fas fa-home"></i>
                        <h4>Accueil</h4>
                    </a>
                </li>
{#                <li class="menu-item has-submenu">#}
{#                    <a href="#">#}
{#                        <i class="fas fa-home"></i>#}
{#                        <h4>Accueil</h4>#}
{#                    </a>#}
{#                    <ul class="sidemenu-sub">#}
{#                        <li><a href="{{ path('check_last_login') }}" class="sub-item">• Indicateurs</a></li>#}
{#                        <li><a href="{{ path('accueil_dashboard') }}" class="sub-item">• Tableau de bord</a></li>#}
{#                    </ul>#}
{#                </li>#}

                <!-- ARRIVAGE   -->
                {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::LIST')) %}
                    <li class="menu-item has-submenu">
                        <a href="#">
                            <i class="fas fa-truck"></i>
                            <h4>Traçabilité</h4>
                        </a>
                        <ul class="sidemenu-sub">
                            <li><a href="{{ path("arrivage_index") }}" class="sub-item">• Flux - {{ 'arrivage.arrivages'|trans|capitalize }}</a></li>
                            <li><a href="{{ path('mvt_traca_index') }}" class="sub-item">• Mouvements</a></li>
                            <li><a href="{{ path('acheminements_index') }}" class="sub-item">• Acheminements</a></li>
                            <li><a href="{{ path('reception_traca_index') }}" class="sub-item">• Association BR</a></li>
                            <li>
                                <a href="{{ path('en_cours') }}" class="sub-item">• Encours</a>
                            </li>
                            <li><a href="{{ path('urgence_index') }}" class="sub-item">• Urgences</a></li>
                        </ul>
                    </li>
                {% endif %}

                <!-- QUALITÉ   -->
                {% if hasRight(constant('App\\Entity\\Menu::LITIGE'), constant('App\\Entity\\Action::LIST')) %}
                    <li class="menu-item has-submenu">
                        <a href="#">
                            <i class="fas fa-check-square"></i>
                            <h4>Qualité</h4>
                        </a>
                        <ul class="sidemenu-sub">
                            <li><a href="{{ path("litige_index") }}" class="sub-item">• Litiges</a></li>
                        </ul>
                    </li>
                {% endif %}

                <!-- DEMANDE   -->
                {% if
                    hasRight(constant('App\\Entity\\Menu::DEM_LIVRAISON'), constant('App\\Entity\\Action::LIST')) or
                    hasRight(constant('App\\Entity\\Menu::DEM_COLLECTE'), constant('App\\Entity\\Action::LIST')) or
                    hasRight(constant('App\\Entity\\Menu::MANUT'), constant('App\\Entity\\Action::LIST')) %}
                    <li class="menu-item has-submenu">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                            <h4>Demande</h4>
                        </a>
                        <ul class="sidemenu-sub">
                            {% if hasRight(constant('App\\Entity\\Menu::DEM_COLLECTE'), constant('App\\Entity\\Action::LIST')) %}
                                <li><a href="{{ path("collecte_index") }}" class="sub-item">• Collecte</a></li>
                            {% endif %}
                            {% if hasRight(constant('App\\Entity\\Menu::DEM_LIVRAISON'), constant('App\\Entity\\Action::LIST')) %}
                                <li><a href="{{ path('demande_index') }}" class="sub-item">• Livraison</a></li>
                            {% endif %}
                            {% if hasRight(constant('App\\Entity\\Menu::MANUT'), constant('App\\Entity\\Action::LIST')) %}
                                <li><a href="{{ path('manutention_index') }}" class="sub-item">• Manutention</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <!-- ORDRE -->
                {% if
                    hasRight(constant('App\\Entity\\Menu::PREPA'), constant('App\\Entity\\Action::LIST')) or
                    hasRight(constant('App\\Entity\\Menu::LIVRAISON'), constant('App\\Entity\\Action::LIST')) or
                    hasRight(constant('App\\Entity\\Menu::COLLECTE'), constant('App\\Entity\\Action::LIST')) or
                    hasRight(constant('App\\Entity\\Menu::RECEPTION'), constant('App\\Entity\\Action::LIST'))
                %}
                    <li class="menu-item has-submenu">
                        <a href="#">
                            <i class="fas fa-network-wired"></i>
                            <h4>Ordre</h4>
                        </a>
                        <ul class="sidemenu-sub">
                            {% if hasRight(constant('App\\Entity\\Menu::COLLECTE'), constant('App\\Entity\\Action::LIST')) %}
                                <li><a href="{{ path("ordre_collecte_index") }}" class="sub-item">• Collecte</a></li>
                            {% endif %}
                            {% if hasRight(constant('App\\Entity\\Menu::LIVRAISON'), constant('App\\Entity\\Action::LIST')) %}
                                <li><a href="{{ path("livraison_index") }}" class="sub-item">• Livraison</a></li>
                            {% endif %}
                            {% if hasRight(constant('App\\Entity\\Menu::PREPA'), constant('App\\Entity\\Action::LIST')) %}
                                <li><a href="{{ path('preparation_index') }}" class="sub-item">• Préparation</a></li>
                            {% endif %}
                            {% if hasRight(constant('App\\Entity\\Menu::RECEPTION'), constant('App\\Entity\\Action::LIST')) %}
                                <li><a href="{{ path("reception_index") }}" class="sub-item">• {{ 'réception.réception'|trans|capitalize }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                <!-- STOCK -->
                {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::LIST')) %}
                    <li class="menu-item has-submenu">
                        <a href="#">
                            <i class="fas fa-box"></i>
                            <h4>Stock</h4>
                        </a>
                        <ul class="sidemenu-sub">
                            <li>
                                <a href="{{ path('article_index') }}" class="sub-item">• Article</a>
                            </li>
                            <li>
                                <a href="{{ path('reference_article_index') }}" class="sub-item">
                                    {% if isCurrentClient (constant('App\\Service\\SpecificService::CLIENT_CEA_LETI')) %}
                                        • Référence CEA
                                    {% else %}
                                        • Référence
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('article_fournisseur_index') }}" class="sub-item">• Article fournisseur</a>
                            </li>
                            <li>
                                <a href="{{ path('mouvement_stock_index') }}" class="sub-item">• Mouvement de stock</a>
                            </li>
                            {% if hasRight(constant('App\\Entity\\Menu::INVENTAIRE'), constant('App\\Entity\\Action::LIST')) %}
                            <li>
                                <a href="{{ path('inventory_mission_index') }}" class="sub-item">• Inventaire</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('alerte_index') }}" class="sub-item">• Alerte</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                <!-- REFERENTIEL -->
                {% if hasRight(constant('App\\Entity\\Menu::REFERENTIEL'), constant('App\\Entity\\Action::LIST')) %}
                    <li class="menu-item has-submenu">
                        <a href="#">
                            <i class="fas fa-file"></i>
                            <h4>Référentiel</h4>
                        </a>
                        <ul class="sidemenu-sub">
                            <li>
                                <a href="{{ path('fournisseur_index') }}" class="sub-item">• Fournisseur</a>
                            </li>
                            <li>
                                <a href="{{ path('emplacement_index') }}" class="sub-item">• Emplacement</a>
                            </li>
                            <li>
                                <a href="{{ path('chauffeur_index') }}" class="sub-item">• Chauffeur</a>
                            </li>
                            <li>
                                <a href="{{ path('transporteur_index') }}" class="sub-item">• Transporteur</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}


                <!-- PARAMETRAGE -->
                {% if (hasRight(constant('App\\Entity\\Menu::PARAM'))) %}
                    <li class="menu-item has-submenu">
                        <a href="#">
                            <i class="fas fa-gear"></i>
                            <h4>Paramétrage</h4>
                        </a>
                        <ul class="sidemenu-sub">
                            <li>
                                <a href="{{ path('global_param_index') }}" class="sub-item">• Paramétrage global</a>
                            </li>
                            <li>
                                <a href="{{ path('role_index') }}" class="sub-item">• Rôles</a>
                            </li>
                            <li>
                                <a href="{{ path('user_index') }}" class="sub-item">• Utilisateurs</a>
                            </li>
                            <li>
                                <a href="{{ path('champ_libre_index') }}" class="sub-item">• Champs libres</a>
                            </li>
                            <li>
                                <a href="{{ path('exports_params') }}" class="sub-item">• Export de données</a>
                            </li>
                            <li>
                                <a href="{{ path('inventaire_param_index') }}" class="sub-item">• Inventaire</a>
                            </li>
                            <li>
                                <a href="{{ path('types_param_index') }}" class="sub-item">• Types</a>
                            </li>
                            <li>
                                <a href="{{ path('status_param_index') }}" class="sub-item">• Statuts litiges</a>
                            </li>
                            <li>
                                <a href="{{ path('nature_param_index') }}" class="sub-item">• Nature des colis</a>
                            </li>
                            <li>
                                <a href="{{ path('fields_param_index') }}" class="sub-item">• Champs fixes</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                <li class="menu-item">
                    <a href="{{ path('logout') }}">
                        <i class="fas fa-power-off"></i>
                        <h4>Déconnexion</h4>
                    </a>
                </li>

            </ul>

        </nav>
    {% endblock %}
    <div class="wrapper" class="accueil-back">
        {% block page_filter %}

        {% endblock %}

        <div class="container-fluid">
            {% block page_content %}

            {% endblock %}
        </div>
    </div>

{% endblock %}
