{% extends 'layout.html.twig' %}

{% block title %}Historique des transferts{% endblock %}

{% block page_content %}

    <div class="row backgray filter-wrapper">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control">
                    <option>Site1</option>
                    <option>Site2</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option>Emplacement1</option>
                    <option>Emplacement2</option>
                </select>
            </div>

            <div class="input-group daterange">
                <div class="input-group-addon">De</div>
                <input type="text" class="form-control">
                <div class="input-group-addon">à</div>
                <input type="text" class="form-control">
            </div>
            <a class="btn more-filter">Plus de filtres</a>
            <a href="#" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </form>
    </div>

	<div class="row page-title">
		Historique des transferts
	</div>

    <div class="row legende">
        <span class="arrow-entree">
            <span class="fa fa-angle-right"></span>Entrées</span>
        <span class="arrow-sortie">
            <span class="fa fa-angle-left"></span>Sorties</span>
        <span class="line-interne">
            <span class="fa fa-minus"></span>Transferts</span>
    </div>

    <div class="row historique-wrapper">
        <table>
            <tr class="line-list">
                <th>Légende</th>
                <th>Article</th>
                <th>Référence</th>
                <th>Position</th>
                <th>Statut</th>
            </tr>
            <tr class="date-list">
                <td> 12/05/18 </td>
            </tr>

            <tr class="line-list">
                <td class="fa fa-angle-right"></td>
                <td>Article1</td>
                <td>Ref154646464</td>
                <td>Pos1</td>
                <td>Statut</td>
            </tr>
            <tr class="line-list">
                <td class="fa fa-minus"></td>
                <td>Article2</td>
                <td>Ref2</td>
                <td>Pos2</td>
                <td>Statut</td>
            </tr>

            <tr class="date-list">
                <td> 10/05/18 </td>
            </tr>
            <tr class="line-list">
                <td class="fa fa-angle-left"></td>
                <td>Article1464</td>
                <td>Ref154646464</td>
                <td>Pos1</td>
                <td>Statut</td>
            </tr>
        </table>
        {# <h1>Historiques index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Date_debut</th>
					<th>Date_fin</th>
					<th>Type_mouvement</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for historique in historiques %}
					<tr>
						<td>{{ historique.id }}</td>
						<td>{{ historique.dateDebut ? historique.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ historique.dateFin ? historique.dateFin|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ historique.typeMouvement }}</td>
						<td>
							<a href="{{ path('historiques_show', {'id': historique.id}) }}">show</a>
							<a href="{{ path('historiques_edit', {'id': historique.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

        <a href="{{ path('historiques_new') }}">Create new</a> #}

    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="#" class="button btn-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="button btn-left pull-right">
                <span class="fa fa fa-download"></span>Exporter</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.daterange input').each(function () {
            $(this).datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});
        });
    </script>
{% endblock %}