{% extends "layout.html.twig" %}
{% block title %}Ajout d'articles{% endblock %}
{% block page_content %}

    <h1>RECEPTION n°{{reception.numeroReception}}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Statut</th>
                <td>{{ reception.statut }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ reception.commentaire }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reception.date ? reception.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NumeroArrivage</th>
                <td>{{ reception.numeroArrivage }}</td>
            </tr>
        </tbody>
    </table>    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Statu</th>
                <th>Quantite</th>
                <th>état</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for article in reception.articles %}
            <tr{% if i % 2 == 1 %}
                    class="backtablejv"
                {% endif %}>
                {% set i = i + 1 %}
                <td>{{ article.id }}</td>
                <td>{{ article.nom }}</td>
                <td>{{ article.statu }}</td>
                <td>{{ article.quantite }}</td>
                <td>{{ article.etat ? 'conforme': 'non-conforme' }}</td>
                <td>
                    <a href="{{ path('articles_edit', {'id': article.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
         {% endfor %}
        </tbody>    
    </table>
        {{ form_start(formView) }}
        {{ form_widget(formView) }}
        <button class="btn pull-left button btn-left">{{ button_label|default('Save') }}</button>
        {{ form_end(formView) }}
     
    <a class="btn pull-right button btn-right" href={{path('reception_ajout_article', {'id': id, 'k': true})}}>fin reception</a>
   


{% endblock %}