{% extends 'layout.html.twig' %}

{% block title %}Réceptions{% endblock %}

{% block page_content %}
    <h1>
        Réceptions {% if date is defined %} du {{date}} {% endif %}
    </h1>
    {% if date is not defined %}
    <div class="row btn pull-left">
        <a href={{path("receptions_index", {'history': 0})}} class="button btn-left"><span class="fas fa-history"></span> Réception journaliére</a>
    </div>
    {% else %}
        <div class="row btn pull-left">
            <a href={{path("receptions_index", {'history': 1})}} class="button btn-left"><span class="fas fa-history"></span> Historique</a>
        </div>
    {% endif %}
    <div class='row btn pull-right' >
        <a href="" data-toggle="modal" data-target="#ReceptionsModalCenter" class="button btn-left">
            <span class="fa fa-plus"></span>Nouvelle reception
        </a>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Statut</th>
                    <th>Numero d'arrivage</th>
                    <th>Numero de reception</th>
                    <th>Commentaire</th>
                    <th>Date</th>                
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody-receptions">
            {% for reception in receptions | reverse %}
                <tr>
                    <td>{{ reception.statut.nom }}</td>
                    <td>{{ reception.numeroArrivage }}</td>
                    <td>{{ reception.numeroReception }}</td>
                    <td>{{ reception.commentaire }}</td>
                    <td>{{ reception.date ? reception.date | date('d-m-Y H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('receptions_show', {'id': reception.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>
                        <a href="{{ path('receptions_edit', {'id': reception.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                        <a href="{{ path('reception_ajout_article', {'id': reception.id , 'k': 0}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-plus fa-2x"></i> Articles</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12">
        {{ knp_pagination_render(receptions) }}
    </div>
    
<!-- Modal -->
<form method="" class="modal fade" id="ReceptionsModalCenter" role="dialog"
    aria-labelledby="ReceptionsModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Créer une nouvelle réception</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
    
                <div class="form-group">
                    <label for="NumeroArrivage">Numero arrivage</label>
                    <input type="text" class="form-control data" name="NumeroArrivage"
                        placeholder="N°Arrivage">
                </div>
    
                <div class="form-group">
                    <label for="NumeroReception">Numero Reception</label>
                    <input type="text" class="form-control data" name="NumeroReception" placeholder="N°Reception">
                </div>
    
                <div class="form-group">
                    <label for="fournisseurs">Fournisseurs</label>
                    <select class="form-control select2 data" name="fournisseur">
                        {% for fournisseur in fournisseurs %}
                        <option value="{{ fournisseur.id }}"> {{ fournisseur.nom }} </option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="form-group">
                <label for="utilisateur">Utilisateur</label>
                    <select class="form-control select2 data" name="utilisateur">
                        {% for utilisateur in utilisateurs %}
                        <option value="{{ utilisateur.id }}"> {{ utilisateur.username }} </option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="NumeroReception">Commentaire</label>
                    <input type="text" class="form-control data" name="commentaire" placeholder="Commentaire">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitButton" type="button" data-dismiss="modal"
                    class="btn btn-primary btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block javascripts %}
<script>

// In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('.select2').select2();

    let dataModal = document.getElementById("dataModalCenter");
    let ButtonSubmit = document.getElementById("submitButton");

  ButtonSubmit.addEventListener("click", function (event) {
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            let obj = JSON.parse(JSON.parse(this.responseText));
            let url = obj.reception.Id;
            document.getElementById("tbody-data");
        }
    };

    let inputs = document.querySelectorAll(".data"); // On récupère tout les inputs qui nous intéresse avec le querySelectorAll
    let Data = []; // Tableau de données

    inputs.forEach(input => { // Pour chaque input on fait un tableau avec pour clé son nom et comme valeur la valeur dans l'input
        Data.push({ [input.name] : input.value });
    })

    Json = JSON.stringify(Data); // On transforme les données en JSON
    xhttp.open("POST", "{{ path('createReception') }}", true);
    xhttp.send(Json);
    });
});

function ajaxModal(){}

</script>
{% endblock %}