{% extends 'layout.html.twig' %}

{% block title %}Réceptions{% endblock %}

{% block page_content %}
<form action="">
    <div class='form-row align-items-center'>
        <div class="col-2">
            <div class="input-group my-2 mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">recherche</div>
                </div>
                <input type="text" class="col-6" id="recherche" onkeyup="showHint(this.value)">
            </div>
        </div>
        <div class="col-2">
            <div class="input-group mb-2">
                <select class="custom-selec my-1 mr-sm-2" name="statuts" id='status' onclick="filtreStatut(this.value)">
                    <option value="Non selectionné">Non selectionné</option>
                    {% for statut in statuts %}
                        <option value="{{ statut.id }}">{{ statut.nom }}</options>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn pull-right button btn-right">
            Rechercher
        </button>
    </div>
</form>

<h1>
    Réceptions {% if date is defined %} du {{date}} {% endif %}
</h1>
<div class='row btn pull-right'>
    <a href="" data-toggle="modal" data-target="#dataModalCenter" class="button btn-left">
        <span class="fa fa-plus"></span>Nouvelle reception
    </a>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Statut</th>
                <th>Numero d'arrivage</th>
                <th>Numero de reception</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tbody-receptions">
            {% for reception in receptions | reverse %}
                <tr>
                    <td>{{ reception.statut.nom }}</td>
                    <td>{{ reception.numeroArrivage }}</td>
                    <td>{{ reception.numeroReception }}</td>
                    <td>{{ reception.commentaire }}</td>
                    <td>{{ reception.date ? reception.date | date('d-m-Y H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('receptions_show', {'id': reception.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>
                        <a href="{{ path('receptions_edit', {'id': reception.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                        <a href="{{ path('reception_ajout_article', {'id': reception.id , 'k': 0}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-plus fa-2x"></i> Articles</a>
                    </td>
                </tr>
            {% else %}
            <tr>
                <td colspan="7">aucun résultat</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-12">
    {{ knp_pagination_render(receptions) }}
</div>

{% include "receptions/modal.html.twig" %}

{% endblock %}