{% extends 'layout.html.twig' %}

{% block title %}Receptions{% endblock %}

{% block page_content %}
<form>
    <div class="row backgray filter-wrapper">
       
        <div>
            <input id="immat" type="search" class="form-control" placeholder="Immat/série">
        </div>
        {# <a class="btn more-filter">Plus de filtres</a> #}
        <a href="#" id="filter" class="button btn-right">
            Filtrer<span class="fa fa-angle-double-right"></span></a>
    </div>
</form>
<div class="row page-title">
    RECEPTIONS
</div>
<div class="row btn-grp">
    <a href="#" class="button btn-left">
        <span class="fa fa-dollar"></span>nouvelle reception
    </a>
</div>

    <table id="grid-data" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th data-column-id="id" data-visible='false' data-sortable='false'>Id</th>
                <th data-column-id="statut">Statut</th>
                <th data-column-id="dateReception">Date_reception</th>
                <th data-column-id="commands" data-formatter='commands' data-sortable='false'>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reception in receptions %}
            <tr>
                <td>{{ reception.id }}</td>
                <td>{{ site.statut }}</td>
                <td>{{ reception.date_reception }}</td>

            </tr>
            {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
{% block javascript %}
    <script >

        var grid = $("#grid-data").bootgrid({
            rowCount: [
                10, 25, -1
            ],
            ajax: false,
           
            url: "{{ path('reception_index') }}",
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-view\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-eye\"></span></button> ";
                },
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            /* Executes after data is loaded and rendered */
            grid.find(".command-view, .etiquette").on("click", function (e) {
                var url = "{{ path('articles_affichage', {'id': 'edit_id'}) }}";
                var id = $(this).attr("data-row-id");
                url = url.replace("edit_id", id);
                window.location.href = url;
            })
        });

       

    </script>    

{% endblock  %}
