{% extends 'layout.html.twig' %}

{% block title %}Réceptions{% endblock %}

{% block page_content %}
    <h1>
        Réceptions {% if date is defined %} du {{date}} {% endif %}
    </h1>
    {% if date is not defined %}
    <div class="row btn pull-left">
        <a href={{path("receptions_index", {'history': 0})}} class="button btn-left"><span class="fas fa-history"></span> Réception journaliére</a>
    </div>
    {% else %}
        <div class="row btn pull-left">
            <a href={{path("receptions_index", {'history': 1})}} class="button btn-left"><span class="fas fa-history"></span> Historique</a>
        </div>
    {% endif %}
    <div class='row btn pull-right' >
        <a href={{ path('receptions_new') }} class="button btn-left">
            <span class="fa fa-plus"></span>Nouvelle reception
        </a >
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Statut</th>
                <th>NumeroArrivage</th>
                <th>NumeroReception</th>
                <th>Commentaire</th>
                <th>Date</th>                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for reception in receptions |reverse %}
            <tr{% if i % 2 == 1 %}
                    class="backtablejv"
                {% endif %}>
                {% set i = i + 1 %}
                <td>{{ reception.statut }}</td>
                <td>{{ reception.numeroArrivage }}</td>
                <td>{{ reception.numeroReception }}</td>
                <td>{{ reception.commentaire }}</td>
                <td>{{ reception.date ? reception.date|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('receptions_show', {'id': reception.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-eye fa-2x"></i></a>
                    <a href="{{ path('receptions_edit', {'id': reception.id}) }}" class="btn btn-xs btn-default command-edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                    <a href={{ path('reception_ajout_article', {'id': reception.id , 'k': 0}) }} class="btn btn-xs btn-default command-edit"><i class="fas fa-plus fa-2x"></i> Articles</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
