{% extends 'layout.html.twig' %}

{% block title %}Suppression marque "{{ marque.nom }}"{% endblock %}

{% block page_content %}
    <h1>SUPPRESSION MARQUE</h1>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ marque.id }}</td>
                <td>{{ marque.nom }}</td>
            </tr>
        </tbody>
    </table>

    {% if parcs is not empty %}

        <div class="error-content">
            <strong>Erreur de suppression</strong>
            : il existe des véhicules de marque
            <span class="italic">"{{ marque.nom }}"</span>
            !<br/>
            Veuillez corriger la liste des véhicules concernés et réessayer.

            <table id="grid" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="id" data-visible="false" data-sortable="false">Id</th>
                        <th data-column-id="nparc">Numéro Parc</th>
                        <th data-column-id="etat" data-formatter="etat" data-sortable="false">Etat</th>
                        <th data-column-id="nserie">Numéro de série/immatriculation</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Modifier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parc in parcs %}
                        <tr>
                            <td>{{ parc.id }}</td>
                            <td>{{ parc.nparc }}</td>
                            <td>{{ parc.statut }}</td>
                            {% if parc.nserie %}
                                <td>{{ parc.nserie }}</td>
                            {% else %}
                                <td>{{ parc.immatriculation }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        {{ include('marques/_delete_form.html.twig') }}

    {% endif %}

    <a href="{{ path ('parc_parametrage') }}" class="button btn-left pull-left">
        <span class="fa fa-angle-double-left"></span>Retour</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var grid = $("#grid").bootgrid({
            formatters: {
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-pencil\"></span></button> ";
                },
                "etat": function (column, row) {
                    var output = "<button type=\"button\" class=\"btn btn-xs color etiquette\" data-row-id=\"" + row.id + "\">" + row[column.id] + "</button>";
                    var color;
                    switch (row[column.id]) {
                        case 'Actif':
                            color = 'backgreen';
                            break;
                        case 'Demande création':
                            color = 'backviolet';
                            break;
                        case 'Sorti':
                            color = 'backred';
                            break;
                        case 'Demande sortie/transfert':
                            color = 'backblue';
                            break;
                        default:
                            color = 'backorange';
                    }
                    output = output.replace('color', color);
                    return output;
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function () {
            grid.find(".command-edit, .etiquette").on("click", function (e) {
                var url = "{{ path('parc_edit', {'id': 'row_id' }) }}";
                url = url.replace("row_id", $(this).data("row-id"));
                window.location.reload(true);
                window.open(url, '_blank');
            });
        });
    </script>
{% endblock %}