{% extends 'layout.html.twig' %}

{% block title %}Préparations{% endblock %}

{% block page_content %}

<h1>Nouvelle préparation</h1>

<div class="container-fluid">
        <form action={{path("preparation_creation")}} method="post" class="row">
            {% for demande in demandes %}
                <div class="col-6">
                    <input class="col-1" type="checkbox" id="scales" name="preparation[{{ demande.id}}]" checked>
                    <label class="col-10" for="scales">demande n°{{demande.numero}} datant du {{demande.date |date("m/d/Y")}} pour l'emplacement: {{demande.destination.nom}}</label>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Référence Article</th>
                                <th>Emplacement</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        {% set i = 0 %}
                        {% for article in demande.articles %}
                            <tr {% if i % 2 == 1 %} class="backtablejv" {% endif %}>
                                {% set i = i + 1 %}
                                <td>{{ article.nom }}</td>
                                <td>{{ article.refArticle.reference }}</td>
                                <td>{{ article.position }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
            {% if demandes|length > 0  %}
            <div class="col-12">
                <input class="button btn-left" type="submit" value="Valider">
            </div>
            {% else %}
                <p>aucune demande en attente</p>
                <a href={{ path('preparation_index', {'history': 'false'}) }} class="btn pull-left button btn-right">Retour</a>
            {% endif %}

            
        </form>
    </div>
     
{% endblock %}
