<div class="d-flex">
    {% set target = isRef ? '#modalShowRefArticle' : '#modalShowArticle' %}
    {% set path = isRef ? 'reference_article_show' : 'article_show' %}
    <div class="dropdown dropright {{ not isPrepaEditable ? 'd-none' }}">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <div class="dropdown-item"
                 data-barcode='{{ barcode }}'
                 data-target='{{ target }}'
                 data-toggle='modal'
                 data-id="{{ artOrRefId }}"
                 onclick="showRow($(this), Routing.generate('{{ path }}', true), $('{{ target }}'))">
                <i class='fas fa-eye mr-2'></i>Voir
            </div>
            {% if isPrepaEditable %}
                {% set action = '' %}
                {% set attr = '' %}
                {% if isRefByArt %}
                    {% set action = ", startPicking($(this))" %}
                    {% set attr = 'value='~id %}
                {% else %}
                    {% set action = ", editRow($(this), Routing.generate('prepa_edit_api', true), $('#modalEditLigneArticle'), $('#submitEditLigneArticle'))" %}
                    {% set attr = 'data-target=#modalEditLigneArticle data-toggle=modal' %}
                {% endif %}
                <div class="action-on-click d-none"
                    {{ attr }}
                     data-barcode='{{ barcode }}'
                     data-id='{{ id }}'
                     data-ref='{{ isRef ? 1 : 0 }}'
                     onclick="beginPrepa(){{ action }}">
                    <i class='fas fa-check mr-2'></i>Selectionner
                </div>

            {% endif %}

            {% if isRef or not isRefByArt %}
                {% set printPath = (isRef
                    ? path('reference_article_single_bar_code_print', {reference: artOrRefId})
                    : path('article_single_bar_code_print', {article: artOrRefId}) ) %}
                <a href="{{ printPath }}" class="dropdown-item print-button">
                    <i class='fas fa-print mr-2'></i>Imprimer
                </a>
            {% endif %}

        </div>
    </div>
</div>
