<div class="d-flex">
    {% set route = isRef ? 'reference_article_show_page' : 'article_show_page' %}
    {% set canEdit = hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT'))  %}
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt">
            <a class="dropdown-item" href="{{ path(route, {id: artOrRefId}) }}" target="_blank">
                <i class='fas fa-eye mr-2'></i>Voir
            </a>
            {% if isPrepaEditable and canEdit %}
                {% set action = '' %}
                {% set attr = '' %}
                {% if isRefByArt %}
                    {% set action = ", startPicking($(this), '" ~ stockManagement ~ "')" %}
                    {% set attr = 'value='~id %}
                {% else %}
                    {% set action = ", editRow($(this), Routing.generate('prepa_edit_api', true), $('#modalEditLigneArticle'), $('#submitEditLigneArticle'))" %}
                    {% set attr = 'data-target=#modalEditLigneArticle data-toggle=modal' %}
                {% endif %}
                {% if not inLogisticUnit %}
                    <div class="action-on-click d-none action-on-click-single d-flex align-items-center"
                        {{ attr }}
                         data-barcode='{{ barcode }}'
                         data-id='{{ id }}'
                         data-ref='{{ isRef ? 1 : 0 }}'
                         onclick="beginPrepa(){{ action }}"
                         id="startPicking">
                        <span class="wii-icon wii-icon-check-white mr-2"></span>Selectionner
                    </div>
                {% endif %}
            {% endif %}
            {% if not isRef or not isRefByArt %}
                {% set printPath = (isRef
                    ? path('reference_article_single_bar_code_print', {reference: artOrRefId})
                    : path('article_single_bar_code_print', {article: artOrRefId}) ) %}
                <a href="{{ printPath }}" class="dropdown-item print-button d-flex align-items-center">
                    <span class="wii-icon wii-icon-printer-black mr-2"></span>Imprimer
                </a>
            {% endif %}

        </div>
    </div>
</div>
