<!-- Modal -->
<form action={{ path("preparation_creation") }} method="" class="modal fade" id="ReceptionsModalCenter" tabindex="-1"
    role="dialog" aria-labelledby="ReceptionsModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Créer une nouvelle réception</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <h1>Nouvelle préparation</h1>
                <div class="container-fluid">
                    {% for demande in demandes %}
                    <div class="row">
                        <label class="col-11">Demande n°{{demande.numero}} datant du {{demande.date
                                |date("m/d/Y")}} pour l'emplacement: {{demande.destination.nom}}</label>
                        <input class="col-1" type="checkbox" id="preparation" name="préparation"
                            value="{{ demande.id }}" checked>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Référence Article</th>
                                    <th>Emplacement</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for article in demande.articles %}
                                <tr {% if i % 2==1 %} class="backtablejv" {% endif %}>
                                    {% set i = i + 1 %}
                                    <td>{{ article.nom }}</td>
                                    <td>{{ article.refArticle.reference }}</td>
                                    <td>{{ article.position }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="submitButton" type="button" data-dismiss="modal"
                    class="btn btn-primary btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>