<div class="modal fade" id="modalSplitting" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scissionTitle" data-quantity-to-take="{{ quantite }}">Choix d'articles pour la
                    référence {{ reference }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" id="tableSplittingArticles">
                    <thead>
                    <tr>
                        <th>Code Article</th>
                        <th>Quantité</th>
                        <th>Emplacement</th>
                        <th>Quantité prélevée</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        {% set quantiteArt = article.quantite is null ? 0 : article.quantite %}

                        <tr>
                            <td>{{ article.reference }}</td>
                            <td>{{ quantiteArt }}</td>
                            <td>{{ article.emplacement ? article.emplacement.label : '' }}</td>
                            <td class="d-flex">
                                <label class="pr-2">Quantité totale ? </label>
                                <label class="switch">
                                    <input class="checkbox" data-ref="{{ reference }}" data-total="{{ quantiteArt }}"
                                           data-quantite="{{ quantiteArt }}" type="checkbox"
                                           data-name="{{ article.label }}" data-id="{{ article.id }}"
                                           onchange="addToScissionAll($(this))">
                                    <span class="slider round"></span>
                                </label>
                                <label class="pr-2 pl-2">Quantité : </label>
                                <input id="{{ article.id }}"
                                       class="input w-25"
                                       data-ref="{{ reference }}"
                                       value="{{ article.quantitePrelevee and article.preparation and article.preparation.id == preparation.id ? article.quantitePrelevee : '' }}"
                                       data-value-init="{{ article.quantitePrelevee and article.preparation and article.preparation.id == preparation.id ? article.quantitePrelevee : 0 }}"
                                       data-total="{{ quantiteArt }}"
                                       data-quantite="{{ quantiteArt }}"
                                       type="number"
                                       data-name="{{ article.label }}"
                                       data-id="{{ article.id }}"
                                       min=1
                                       max="{{ quantiteArt }}"
                                       onclick="limitInput($(this)), updateRemainingQuantity($(this))"
                                       onkeyup="limitInput($(this)), updateRemainingQuantity($(this))">
                                <div class="row-error-msg pl-2 bold text-center"></div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pt-2 pr-2 bold text-right">Quantité restante :
                    <span id="quantiteRestante">{{ quantite }}</span>
                </div>
            </div>
            <input hidden type=number id="remainingQuantity">
            <div class="error-msg text-right pr-4 pb-4"></div>
            <div class="modal-footer">
                <div class="btn" data-dismiss="modal">Fermer</div>
                <div class="btn btn-primary submit" data-ref="{{ referenceId }}" data-qtt="{{ quantite }}"
                     data-demande="{{ demande ? demande.id : '' }}" data-prep="{{ preparation.id }}"
                     onclick="submitSplitting($(this))">Enregistrer
                </div>
            </div>
        </div>
    </div>
</div>
