<div class="modal fade" id="modalSplitting" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scissionTitle" data-restant="{{ quantite }}">Choix d'articles pour la
                    référence {{ reference }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="exitScissionModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="tableSplittingArticles">
                    <thead>
                    <tr>
                        <th>Article</th>
                        <th>Quantité</th>
                        <th>Emplacement</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}

                        <tr>
                            <td>{{ article.label }}</td>
                            <td>{{ article.quantite }}</td>
                            <td>{{ article.emplacement ? article.emplacement.label : '' }}</td>
                            <td>
                                <label class="pr-2">Tout ? </label>
                                <label class="switch">
                                    <input class="checkbox" data-ref="{{ reference }}" data-total="{{ quantite }}"
                                           data-quantite="{{ article.quantite }}" type="checkbox"
                                           data-name="{{ article.label }}" data-id="{{ article.id }}"
                                           onchange="addToScissionAll($(this))">
                                    <span class="slider round"></span>
                                </label>
                                <label class="pr-2 pl-2">Combien : </label>
                                <input id="{{ article.id }}" class="input" data-ref="{{ reference }}" data-total="{{ quantite }}"
                                       data-quantite="{{ article.quantite }}" type="number"
                                       data-name="{{ article.label }}" data-id="{{ article.id }}" max="{{ article.quantite }}" oninput="limitInput($(this))">
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="quantiteRestante" class="pt-2 pr-2 bold text-right">Quantité restante : {{ quantite }}</div>
            </div>
            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <div class="btn" data-dismiss="modal" onclick="exitScissionModal()">Fermer</div>
                <div class="btn btn-primary" data-ref={{ referenceId }} data-qtt="{{ quantite }}"
                     data-demande="{{ demande.id }}" data-index="{{ index }}" data-prep="{{ preparation.id }}"
                     onclick="submitSplitting($(this))">Enregistrer
                </div>
            </div>
        </div>
    </div>
</div>