<div class="row planning-container">
    {% set allCards = cards ?? [] %}
    {% for date in planningDates %}
        {% set label = date.label ?? null %}
        {% set styleContainer = date.styleContainer ?? null %}
        {% set columnHint = date.columnHint ?? null %}
        {% set cardSelector = date.cardSelector ?? null %}
        {% set cards = allCards[cardSelector] ?? [] %}

        {% set columnClass = loop.first ? 'pl-3' : (loop.last ? 'pr-3' : '') %}

        <div class="col-12 d-flex h-100 px-1 {{ columnClass }}"
             data-date="{{ cardSelector }}"
             style="{{ styleContainer }}">
            <div class="wii-box border flex-fill">
                <div class="header">
    {#                <input type="hidden" value="{{ dateForContainer }}" class="date-container">#}
                    <span class="wii-title">{{ label }}</span>
                </div>
                <div class="row">
                    {% if columnHint %}
                        <div class="col-12">
                            <div class="column-hint-container">
                                {{ columnHint|raw }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-12">
                        <div class="planning-card-container">
                            <div class="card-container">
                                {% for card in cards %}
                                    {{ card|raw }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
