{% set validated = preparation.statut and preparation.statut.code == constant('App\\Entity\\PreparationOrder\\Preparation::STATUT_VALIDATED') %}
{% set canDrag = validated and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT_PREPARATION_DATE')) %}
<a class="planning-card preparation-card pointer {{ canDrag ? 'can-drag' }} {{ color }}"
   href="{{ path('preparation_show', {id: preparation.id}) }}"
   data-preparation="{{ preparation.id }}"
   data-status="{{ preparation.statut ? preparation.statut.code }}">
    <div class="planning-card-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="font-weight-bold">{{ preparation.numero }}</div>
            </div>
            {% if preparation.statut %}
                <div class="col-12 mt-1">
                    <div class="preparation-status rounded px-2 py-1 d-inline-block bg-white">
                        {{ (preparation.statut.code == constant('App\\Entity\\PreparationOrder\\Preparation::STATUT_A_TRAITER')
                            ? constant('App\\Entity\\PreparationOrder\\Preparation::STATUT_LAUNCHED')
                            : (preparation.statut.code == constant('App\\Entity\\PreparationOrder\\Preparation::STATUT_PREPARE')
                                ? 'Traité'
                                : preparation.statut.nom)
                        ) | capitalize }}
                    </div>
                </div>
            {% endif %}
            {% if preparation.type %}
                <div class="col-12 mt-1">
                    Type&nbsp;: <span class="font-weight-bold">{{ preparation.type.label }}</span>
                </div>
            {% endif %}
            {% if preparation.type %}
                <div class="col-12 mt-1">
                    <div class="d-flex creation-date mt-1">
                        <div class="align-self-center">
                            <i class="wii-icon wii-icon-calendar-creation-grey"></i>
                        </div>
                        <div class="d-flex flex-fill flex-column ml-2">
                            <div class="d-block">Date attendue</div>
                            <div class="d-block date">{{ preparation.date | format_helper('longDate', {short: true}) }}</div>
                        </div>
                    </div>
                    <div class="d-flex expected-date mt-1">
                        <div class="align-self-center">
                            <i class="wii-icon wii-icon-calendar-due-black"></i>
                        </div>
                        <div class="d-flex flex-fill flex-column ml-2">
                            <div class="d-block">Date de préparation</div>
                            <div class="d-block date">{{ preparation.demande.expectedAt | format_helper('longDate', {short: true}) }}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</a>
