{% extends 'layout.html.twig' %}

{% block title %}Ordre | Préparation - Planning{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('preparation-planning') }}
{% endblock %}

{% block page_filter %}
{% endblock %}

{% block pageContainerClass 'd-flex flex-fill' %}
{% block page_content %}
    <div class="m-4 wii-page-card flex-fill">
        <div class="d-flex">
            <button class="btn btn-primary ml-auto launch-preparation-button" tabindex="0">
                <span class="d-inline-flex align-items-center">
                    <img src="{{ asset('svg/tick-blanc.svg') }}" alt="" width="15px" class="mr-2">
                    <span>Lancer les préparations</span>
                </span>
            </button>
        </div>
        <div data-wii-planning="preparation_planning_api" class="preparation-planning"></div>
    </div>
    {% include 'preparation/modalLaunchPreparation.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('preparation-planning') }}
    {{ encore_entry_script_tags('preparation-order-planning') }}
{% endblock %}
