<div class="planning-card preparation-card"
     data-preparation="{{ preparation.id }}"
     data-status="{{ preparation.statut ? preparation.statut.code }}"
     data-color="{{ color }}">
    <div class="planning-card-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="font-weight-bold">{{ preparation.numero }}</div>
            </div>
            <div class="col-12">
                <div class="preparation-status">{{ preparation.numero }}</div>
            </div>
        </div>
    </div>
</div>
