{% extends 'layout.html.twig' %}

{% block title %}Préparation{% endblock %}

{% block page_content %}
<h1>Préparation</h1>
<div class="row">
    <div class="col-4">
        <p>Statut: {{ preparation.statut.nom }}</p>
        <p>Numéro: {{ preparation.numero }}</p>
        <p>Opérateur: {{ preparation.utilisateur ? preparation.utilisateur.username : " " }}</p>
    </div>
    <div class="col-4">
        <!-- <p><a href="{#path('createLivraison', {'id': preparation.id}) }#}">Commencer la livraison</a></p> -->
    </div>
</div>

<table id="table_id" class="table table-striped table-bordered w-100">

    <thead>
        <tr>
            <th>Libellé</th>
            <th>Référence CEA</th>
            <th>Quantité</th>
        </tr>
    </thead>
    <tbody>
     
    </tbody>
</table>

<a href="{{ path('preparation_index') }}" class="btn">Retour</a>
<!-- {# include('preparation/_delete_form.html.twig') #} -->

{% endblock %}

{% block javascript %}
<script>

var table = $('#table_id').DataTable({
    "language": {
        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
    },
    "processing": true,
    "ajax": {
        "url": "{{ path('LignePreparation_api', {'id' : preparation.demandes.0.id }) }}",
        "type": "POST"
    },
    columns: [{
            "data": 'Libellé'
        },
        {
            "data": 'Référence CEA'
        },
        {
            "data": 'Quantité'
        },
       
    ],
});

</script>

{% endblock %}