{% extends 'layout.html.twig' %}

{% block title %}Ordre | Préparation | Détails{% endblock %}

{% block page_content %}
    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete wii-page-card">
                    <div class="row align-items-center wii-page-card-header">
                        <div class="col-auto">
                            <h5 class="my-0 h5"><span>Préparation n°{{ preparation.numero }}</span></h5>
                        </div>
                        <div class="col-auto ml-auto">
                            <div class="btn-group">
                                {% if isPrepaEditable and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::EDIT')) %}
                                    <button type="button"
                                            class="btn btn-primary btn-ripple split-button"
                                            onclick="finishPrepa()">
                                        <i class="fa fa-check mr-2"></i>Finir la préparation
                                    </button>
                                {% endif %}
                                <button type="button"
                                        class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right pointer">
                                    {% if isPrepaEditable and hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DELETE')) %}
                                        <a class="dropdown-item" href=""
                                           data-target='#modalDeletePreparation'
                                           data-toggle='modal'>
                                            <i class="fa fa-trash mr-2"></i>Supprimer
                                        </a>
                                    {% endif %}
                                    <button onclick="printPrepaBarCodes()" class="dropdown-item pointer">
                                        <i class='fas fa-print'></i> Imprimer les étiquettes
                                    </button>
                                    {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DISPLAY_DEM_LIVR')) %}
                                        {% if demande %}
                                            <a href="{{ path('demande_show', {'id': demande.id}) }}"
                                               class="dropdown-item"><i class="mr-2 fas fa-external-link-alt"></i>Retourner à la demande de livraison
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    {% if hasRight(constant('App\\Entity\\Menu::ORDRE'), constant('App\\Entity\\Action::DISPLAY_ORDRE_LIVR')) %}
                                        {% if livraison is not empty %}
                                            <a href="{{ path('livraison_show', {'id': livraison.id}) }}"
                                               class="dropdown-item"><i class="mr-2 fas fa-external-link-alt"></i>Aller vers l'ordre de livraison</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'utils/details-header.html.twig' with {data: headerConfig} %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="wii-page-card">
                    <table id="tableArticle_id" class="table w-100"></table>
                </div>
            </div>
        </div>
    </div>

    <button class="btn" id="startSplitting" data-target='#modalSplitting' data-toggle='modal' hidden></button>
    <input hidden id="prepa-id" value="{{ preparation.id }}">

    {% include 'preparation/modalDeleteArticle.html.twig' %}
    {% include 'preparation/modalNewArticle.html.twig' %}
    {% include 'preparation/modalDeletePreparation.html.twig' %}
    {% include 'preparation/modalSubmitPreparation.html.twig' %}
    {% include 'preparation/modalEditLigneArticle.html.twig' %}
    {% include 'reference_article/modalShowRefArticle.html.twig' %}
    {% include 'article/modalShowArticle.html.twig' %}

    <div id="splittingContent">
        {% include 'preparation/modalSplitting.html.twig' with {'index' : 0, 'reference' : '', 'articles' : [], 'quantite' : 0, 'referenceId' : ''} %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/preparation.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
