{% extends 'layout.html.twig' %}

{% block page_content %}
    <div class="row page-title">
        NOUVEAU TRANSFERT
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="switch" class="switch-mode pull-right">
                <div class="inner-switch">
                    <div class="toggle">
                        <p>Import</p>
                    </div>
                    <div class="toggle">
                        <p>Manuel</p>
                    </div>
                </div>
                <div class="inner-switch" id='toggle-switch'>
                    <div class="toggle">
                        <p>Import</p>
                    </div>
                    <div class="toggle">
                        <p>Manuel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="import">
        <div class="file-upload">
            <button class="button file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Ajouter un fichier</button>

            <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' onchange="readURL(this);" accept=".csv"/>
                <div class="drag-text">
                    <p>Glisser et déposer un fichier (extensions acceptées:
                        <strong>.csv</strong>).</p>
                </div>
            </div>
            <div class="file-upload-content">
                <div class="loader">Chargement...</div>
                <div class="table-wrapper">
                    <table id="import-table" class="table table-condensed table-hover table-striped">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="image-title-wrap">
                    <button type="button" onclick="removeUpload()" class="pull-right button remove-image button-danger">Supprimer</button>
                </div>
                <a href="#" id="order-add" class="button btn-left pull-right">
                    <span class="fa fa-plus"></span>
                    Créer
                </a>
            </div>
        </div>
    </div>

    <div class="manuel">
        <div class="row">
            <div class="col-md-12">
                <table id="list-table" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Désignation</th>
                            <th>Valeur</th>
                            <th>Commentaire</th>
                            <th>Emplacement</th>
                            <th class="qty">Quantité</th>
                            <th class="hidden">id-emplacement</th>
                            <th class="hidden">id-ref</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row commentaire">
            <div class="col-md-12">
                <textarea class="form-control" rows="2" placeholder="Commentaires sur l'ordre"></textarea>
            </div>
        </div>
        <a href="#" id="order-add" class="button btn-left d-block mr-0 ml-auto">
            <span class="fa fa-plus"></span>Créer</a>

        <div class="separator-space"></div>

        <div class="h1">
            Ajouter un
            <span class="hl">article</span>
        </div>

        <div class="out">
            <div class="h2">Référence article</div>
            <div class="row reference">
                <div class="col-md-5">
                    <h3>Sélectionnez une référence article...</h3>
                    <form>
                        <select class="js-data-ajax-ref"></select>
                        <button class="btn btn-danger select-reset">Reset</button>
                    </form>
                </div>
                <div class="col-md-2">
                    <div class="hr">
                        <div class="separator-v">
                            {# <div class="separator-v-text">
                            OU
                        </div> #}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h3>... ou ajoutez-en une</h3>

                    {{ form_start(form_ref) }}
                    {{ form_errors(form_ref) }}

                    {{ form_row(form_ref.libelle, {'required': false}) }}
                    {{ form_row(form_ref.reference, {'required': false}) }}

                    {{ form_row(form_ref._token) }}
                    {{ form_end(form_ref, {'render_rest' : false}) }}
                </div>
            </div>

            <div class="h2">Pièce</div>

            <div class="row piece">
                {{ form_start(form_art) }}
                {{ form_errors(form_art) }}
                <div class="col-md-6">
                    <h3>
                        Caractéristiques
                    </h3>
                    {{ form_row(form_art.designation, {'required': false}) }}
                    {{ form_row(form_art.valeur, {'required': false}) }}
                    {{ form_row(form_art.commentaire, {'required': false}) }}
                </div>
                <div class="col-md-6 emplacements">
                    <h3>
                        Emplacement
                    </h3>
                    <select class="js-basic-single-entrepot" name="entrepot"></select>
                    <div id="switch" class="switch-type">
                        <div class="inner-switch">
                            <div class="toggle">
                                <p>Zone</p>
                            </div>
                            <div class="toggle">
                                <p>Stock</p>
                            </div>
                        </div>
                        <div class="inner-switch" id='toggle-switch'>
                            <div class="toggle">
                                <p>Zone</p>
                            </div>
                            <div class="toggle">
                                <p>Stock</p>
                            </div>
                        </div>
                    </div>
                    <div class="stock">
                        <select class="js-basic-single-allee" name="allee"></select>
                        <select class="js-basic-single-travee" name="travee"></select>
                        <select class="js-basic-single-rack" name="rack"></select>
                        <select class="js-basic-single-emplacement" name="emplacement"></select>
                    </div>
                    <div class="zone">
                        <select class="js-basic-single-zone" name="zone"></select>
                    </div>
                </div>
                {{ form_row(form_art._token) }}
                {{ form_end(form_art, {'render_rest' : false}) }}
            </div>

            <div class="row"></div>
            <a href="#" id="article-add-out" class="button btn-left pull-right">
                <span class="fa fa-plus"></span>
                Ajouter
            </a>
        </div>

        <div class="in">
            <div class="h2">Article</div>
            <div class="row reference">
                <div class="col-md-5">
                    <h3>Sélectionnez une pièce</h3>
                    <form>
                        <select class="js-data-ajax-article"></select>
                        <button class="btn btn-danger select-reset">Reset</button>
                    </form>
                </div>
            </div>
            <a href="#" id="article-add-in" class="button btn-left pull-right">
                <span class="fa fa-plus"></span>
                Ajouter
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="#" class="button btn-left pull-left">
            <span class="fa fa-angle-double-left"></span>Retour</a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var toggleNumber;
    $('.switch-mode').on('click', function () {
        var toggleSwitch = $('.switch-mode #toggle-switch');
        toggleNumber = !toggleNumber;
        if (toggleNumber) {
            toggleSwitch.css('clipPath', 'inset(0 0 0 50%)');
            toggleSwitch.css('backgroundColor', '#ffbc02');
        } else {
            toggleSwitch.css('clipPath', 'inset(0 50% 0 0)');
            toggleSwitch.css('backgroundColor', '#130078');
        }
        toggleOrder();
    });

    var orderType = $('select[name="ordre-type"]');
    orderType.on('change', function () {
        toggleOrder();
        removeUpload();
        $('#list-table tbody').empty();
    });

    function toggleOrder() {
        if (orderType.val()) {
            if (toggleNumber) {
                $('.manuel').show();
                $('.import').hide();
                if (orderType.val() == "sortie") {
                    $('.in').show();
                    $('.out').hide();
                } else {
                    $('.out').show();
                    $('.in').hide();
                }
            } else {
                $('.import').show();
                $('.manuel').hide();
            }
        }
    }

    /* Emplacements
    ================= */
    l_emplacement = $.parseJSON({{emplacements|json_encode|raw}});
    l_emplacement = parseEmplacements(l_emplacement);

    $(".js-basic-single-entrepot").select2({
        data: getJsonFromArray(getEntrepots())
    }).on('select2:select', function (e) {
        updateEntrepot()
    });
    $(".js-basic-single-zone").select2({
        data: getJsonFromArray(getZones())
    });
    $(".js-basic-single-allee").select2({
        data: getJsonFromArray(getAllees(parseInt($(".js-basic-single-entrepot").val())))
    }).on('select2:select', function (e) {
        updateAllee()
    });
    $(".js-basic-single-travee").select2({
        data: getJsonFromArray(getTravees(parseInt($(".js-basic-single-allee").val())))
    }).on('select2:select', function (e) {
        updateTravee()
    });
    $(".js-basic-single-rack").select2({
        data: getJsonFromArray(getRacks(parseInt($(".js-basic-single-travee").val())))
    }).on('select2:select', function (e) {
        updateRack()
    });
    $(".js-basic-single-emplacement").select2({
        data: getJsonFromArray(getEmplacements(parseInt($(".js-basic-single-rack").val())))
    })

    /* Select article
    ================= */
    $(".js-data-ajax-article").select2({
        ajax: {
            url: "{{ path('articles_get') }}",
            delay: 250,
            data: function (params) {
                return {q: params.term, page: params.page};
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                return {
                    results: data.items,
                    pagination: {
                        more: (params.page * 30) < data.total_count
                    }
                };
            },
            cache: true
        },
        placeholder: 'Chercher une pièce',
        allowClear: true,
        escapeMarkup: function (markup) {
            return markup;
        },
        minimumInputLength: 1,
        templateResult: formatArticle,
        templateSelection: formatArticleSelection
    });

    function formatArticle(article) {
        if (article.loading) {
            return article.text;
        }
        var markup = "<div class='select2-result-article clearfix'>" + "<div class='select2-result-article__meta'>" + "<div class='select2-result-article__title'>" + article.designation + "</div>" + "<div class='select2-result-article__ref'>" + article.reference + "</div></div>";
        if (article.photo) {
            markup += "<div class='select2-result-article__photo'><img src='" + article.photo + "'></div>";
        }
        return markup;
    }

    function formatArticleSelection(article) {
        return article.designation;
    }

    /* Read file
    ================= */
    var file;
    function readURL(input) {
        file = input.files[0];
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var name = input.files[0].name
            reader.onload = function (e) {
                $('.image-upload-wrap').hide();
                $('.file-upload-btn').hide();
                $('.file-upload-content').show();
                $('.image-title-wrap .button').html('Supprimer "' + name + '"');
            };
            reader.readAsDataURL(input.files[0]);
            readFile(input.files[0], "{{ path( 'import_csv' ) }}", '', false);
        } else {
            removeUpload();
        }
    }

    function readFile(file, url, ordre, toggle) {
        var formData = new FormData();
        formData.append("file", file);
        formData.append("ordre", ordre);
        formData.append("toggle", toggle);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.onload = function () {
            if (xhr.readyState === xhr.DONE) {
                if (xhr.status === 200) {
                    displayTab(xhr.response);
                }
            }
        }
        xhr.send(formData);
        var $el = $('.file-upload-input');
        $el.wrap('<form>').closest('form').get(0).reset();
        $el.unwrap();
    }

    function displayTab(json) {
        var arr = JSON.parse(json);
        var i = 0;
        $.each(arr, function (index, value) {
            if (arr[index][0]) {
                var split = arr[index][0].split(";");
                var tr = $('<tr></tr>')
                var th = $('<th></th>')
                var td = $('<td></td>')
                if (!i) {
                    var row = tr.clone();
                    $.each(split, function (index, value) {
                        row.append(th.clone().text(split[index]));
                    })
                    $('#import-table thead').append(row);
                } else {
                    var row = tr.clone();
                    $.each(split, function (index, value) {
                        row.append(td.clone().text(split[index]));
                    })
                    $('#import-table tbody').append(row);
                }
            }
            i += 1;
        });
        $('.loader').hide();
        $('#import-table').show();
    }

    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.file-upload-btn').show();
        $('.image-upload-wrap').show();
        $('#import-table').hide();
        $('.loader').show();
        $('#import-table tbody').empty();
        $('#import-table thead').empty();
    }

    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });

    /* Add button
    ================= */
    $('#order-add').on('click', function (e) {
        e.preventDefault();
        if (!toggleNumber) {
            readFile(file, "{{ path( 'ordre_add' ) }}", orderType.val(), toggleNumber);
            removeUpload();
        } else {
            if (orderType.val() == "sortie") {
                if (data.length > 0) {
                    ajaxAddOrder(data, orderType.val(), toggleNumber);
                }
            } else {
                var data = [];
                $('#list-table > tbody > tr').each(function (i) {
                    item = {};
                    item["designation"] = $(this).find('td:eq(0)').text();
                    item["valeur"] = $(this).find('td:eq(1)').text();
                    item["commentaire"] = $(this).find('td:eq(2)').text();
                    item["quantite"] = $(this).find('td:eq(4) input').val();
                    item["emplacement"] = $(this).find('td:eq(5)').text();
                    item["ref"] = $(this).find('td:eq(6)').text();
                    data.push(item);
                });
                if (data.length > 0) {
                    ajaxAddOrder(data, orderType.val(), toggleNumber);
                }
            }
        }
    });

    $('#article-add-out').on('click', function (e) {
        e.preventDefault();
        $('.help-block').remove();
        $('.has-error').removeClass('has-error');
        if ($('.js-data-ajax-ref').select2('data').length == 0) {
            if ($('#references_articles_libelle').val() == "") {
                $('#references_articles_libelle').parent().append('<span class="help-block">Veuillez compléter ce champ.</span>');
                $('#references_articles_libelle').parent().addClass('has-error');
            } else if ($('#references_articles_reference').val() == "") {
                $('#references_articles_reference').parent().append('<span class="help-block">Veuillez compléter ce champ.</span>');
                $('#references_articles_reference').parent().addClass('has-error');
            } else {
                ajaxAddArticleOut();
            }
        } else {
            ajaxAddArticleOut();
        }
    });

    $('#article-add-in').on('click', function (e) {
        $('.help-block').remove();
        $('.has-error').removeClass('has-error');
        if ($('.js-data-ajax-article').select2('data').length == 0) {
            $('.js-data-ajax-article').append('<span class="help-block">Veuillez sélectionner une pièce.</span>');
            $('.js-data-ajax-article').addClass('has-error');
        } else {
            ajaxAddArticleIn();
        }
    });

    /* Reset button select ajax
    ================= */
    $('.select-reset').on('click', function (e) {
        e.preventDefault();
        $('.js-data-ajax-ref').val(null).trigger('change');
    })

    /* Suppr button table manuel
    ================= */
    $('.table tbody').on('click', 'td .fa-times', function () {
        $(this).parents('tr').remove();
    });

    function ajaxAddArticleIn() {
        var data = $('.js-data-ajax-article').select2('data')
        $('.js-data-ajax-article').val(null).trigger('change');
        var line = `<tr>
                        <td>` + data[0].libelle + `</td>
                        <td>` + data[0].reference + `</td>
                        <td>
                            <div class="form-inline">
                                <input class="form-control" type="number" value="` + data[0].emplacement + `">
                                <span class="fa fa-times"></span>
                            </div>
                        </td>
                        <td>` + data[0].emplacement + `</td>
                        <td class="hidden">` + '' + `</td>
                        <td class="hidden">` + '' + `</td>
                    </tr>`;
        $('#list-table tbody').append(line);
    }

    function getEmplacementsName() {
        var text = "";
        text += $('.js-basic-single-entrepot').select2('data')[0].text + '<br>';
        if (!toggleType) {
            $('.stock select').each(function (i) {
                var data = $(this).select2('data');
                text += data[0].text + '<br>';
            });
        } else {
            text += $('.js-basic-single-zone').select2('data')[0].text;
        }
        return text;
    }

    function getEmplacementsId() {
        var text = "";
        text += $('.js-basic-single-entrepot').select2('data')[0].id + ' ' + toggleType + ' ';
        if (!toggleType) {
            $('.emplacements select').each(function (i) {
                var data = $(this).select2('data');
                text += data[0].id + ' ';
            });
        } else {
            text += $('.js-basic-single-zone').select2('data')[0].id;
        }
        return text;
    }

    function ajaxAddOrder(data, ordre, toggle) {
        $.ajax({
            url: "{{ path('ordre_add') }}",
            type: "POST",
            dataType: "json",
            data: {
                "toggle": toggle,
                "ordre": ordre,
                "data": data
            },
            success: function (resp) {
                $('#list-table tbody').empty();
            }
        });
    }
</script>
{% endblock %}