{% extends 'layout.html.twig' %}

{% block title %}Workflow{% endblock %}

{% block page_content %}

    <form>
        <div class="row backgray filter-wrapper">
            <div>
                <select id="type" class="form-control basic-multiple-type" name="types[]" multiple="multiple">
                    <option value="entree">Entrée</option>
                    <option value="sortie">Sortie</option>
                    <option value="transfert">Transfert</option>
                    <option value="preparation">Préparation</option>
                    <option value="reception">Réception</option>
                </select>
            </div>
            <div>
                <input id="auteur" type="search" class="form-control" placeholder="Auteur">
            </div>
            <div class="input-group daterange">
                <div class="input-group-addon">De</div>
                <input id="from" type="text" class="form-control">
                <div class="input-group-addon">à</div>
                <input id="to" type="text" class="form-control">
            </div>
            {# <a class="btn more-filter">Plus de filtres</a> #}
            <a href="#" id="filter" class="button btn-right">
                Filtrer<span class="fa fa-angle-double-right"></span></a>
        </div>
    </form>

    <div class="row page-title">
        WORKFLOW ORDRES
    </div>

    {# {% for ordre in ordres %} #}
    <div class="row">
        <div class="workflow-wrap">
            <div class="workflow-content">
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Ordre</div>
                        <div id="en-attente" class="list-cards workflow-sidebar"></div>
                        <div class="list-footer">
                            <a href="{{ path( 'ordre_creation' ) }}">
                                <span class="fa fa-plus"></span>
                                Ajouter une nouvel ordre
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">En cours de traîtement</div>
                        <div id="en-cours" class="list-cards workflow-sidebar"></div>
                        <div class="list-footer"></div>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="list">
                        <div class="list-header">Traités</div>
                        <div id="traites" class="list-cards workflow-sidebar"></div>
                        <div class="list-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# {% endfor %} #}

    <!-- Modal -->
    <div id="visuModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header backblue">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title">
                        <span class="fa fa-thumb-tack"></span>
                        <span class="title">Transfert</span>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <form class="form-inline">
                            <p>Voulez-vous traiter la demande ?</p>
                            <div class="form-group">
                                <button class="btn btn-danger btn-block danger">
                                    <span class="fa fa-times"></span>
                                    Refuser</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">
                                    <span class="fa fa-check"></span>
                                    Valider</button>
                            </div>
                        </form>
                    </div>

                    <div class="progress-state">
                        <ul class="progress-indicator custom-complex">
                            <li class="completed">
                                <a href="#">
                                    <span class="bubble"></span>
                                    <i class="fa fa-check-circle"></i>
                                    Validé
                                </a>
                            </li>
                            <li class="completed">
                                <a href="#">
                                    <span class="bubble"></span>
                                    <i class="fa fa-check-circle"></i>
                                    En cours de traîtement
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="bubble"></span>
                                    Terminé
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form class="info-ordre">
                        <div class="row articles">
                            <div class="col-md-12">
                                <fieldset id="articles" class="well list-box">
                                    <legend class="well-legend">Informations article(s)</legend>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row client">
                            <div class="col-md-12">
                                <fieldset class="well list-box">
                                    <legend class="well-legend">Client</legend>

                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <input value="Mr." class="form-control" placeholder="Sexe">
                                        </div>
                                        <div class="col-md-5">
                                            <input value="Léo" class="form-control" placeholder="Prénom">
                                        </div>
                                        <div class="col-md-5">
                                            <input value="Couffinhal" class="form-control" placeholder="Nom">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="inputAdresse">Adresse</label>
                                            <input value="2-4 Rue Sainte-Catherine" id="inputAdresse" class="form-control" placeholder="1234 Main St">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label for="inputAdresse">Zip</label>
                                            <input value="33000" class="form-control" id="inputZip" placeholder="Zip">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label for="inputAdresse">Ville</label>
                                            <input value="Bordeaux" class="form-control" id="inputCity" placeholder="Ville">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group input-group">
                                                <label class="input-group-addon">
                                                    @
                                                </label>
                                                <input type="email" value="leo.couffinhal@wiilog.fr" class="form-control" id="inputEmail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group input-group">
                                                <label class="input-group-addon">
                                                    <span class="fa fa-phone"></span>
                                                </label>
                                                <input type="text" value="06.00.00.00.00" class="form-control" id="inputPhone">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default pull-left" data-dismiss="modal">
                        Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="#" class="button btn-left">
                <span class="fa fa-angle-double-left"></span>Retour</a>
            <a href="#" class="button btn-right pull-right">
                Liste des réceptions<span class="fa fa-angle-double-right"></span></a>
            <a href="#" class="button btn-right pull-right">
                Liste des préparations<span class="fa fa-angle-double-right"></span></a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.basic-multiple-type').select2({placeholder: 'Types'});

        $('.daterange input').each(function () {
            $(this).datepicker({language: 'fr', format: 'dd/mm/yyyy', todayBtn: true, todayHighlight: true, autoclose: true});
        });
        $('#visuModal').on('show', function () { //TODO
            var id = $(this).data('id'),
                removeBtn = $(this).find('.danger');
            removeBtn.attr('href', removeBtn.attr('href').replace(/(&|\?)ref=\d*/, '$1ref=' + id));
        });

        /* Filter
        ================= */
        $('#type').val({{ f_type|json_encode|raw }});
        $('#auteur').val({{ f_auteur|json_encode|raw }});
        $('#from').val({{ f_from|json_encode|raw }});
        $('#to').val({{ f_to|json_encode|raw }});
        $('#type').trigger('change');

        ajaxLoad(0);
        $('#filter').on('click', function () {
            ajaxLoad(1);
        });

        function ajaxLoad(start) {
            var type = $("#type").val();
            var auteur = $("#auteur").val();
            var from = $("#from").val();
            var to = $("#to").val();
            $.ajax({
                url: "{{ path('ordre_workflow') }}",
                type: "POST",
                dataType: "json",
                data: {
                    "start": start,
                    "type": type,
                    "auteur": auteur,
                    "from": from,
                    "to": to
                },
                success: function (resp) {
                    $('#en-attente, en-cours, traites').empty();
                    $.each(resp, function (i, val) {
                        list = resp[i].list;
                        $.each(list, function (j, id) {
                            createCard(resp[i], id);
                        });
                    });
                }
            });
        };

        function createCard(data, id) {
            var col;
            var date = formatDate(new Date(data.dateOrdre.date));
            var card = `<div data-id="` + data.id + `" type="` + data.type + `" class="card">
                            <div class="card-details">`;
            if (data.type == "transfert") {
                card += `<h3>Transfert</h3>
                         <h4>` + date + `</h4>
                         <span class="gommette backorange"></span>`;
            } else if (data.type == "preparation") {
                card += `<h3>Préparation</h3>
                         <h4>` + date + `</h4>
                         <span class="gommette backblue"></span>`;
            } else if (data.type == "sortie") {
                card += `<h3>Sortie</h3>
                         <h4>` + date + `</h4>
                         <span class="gommette backviolet"></span>`;
            } else if (data.type == "entree") {
                card += `<h3>Entrée</h3>
                         <h4>` + date + `</h4>
                         <span class="gommette backgreen"></span>`;
            } else {
                card += `<h3>Réception</h3>
                         <h4>` + date + `</h4>
                         <span class="gommette backred"></span>`;
            }
            card += `<span class="card-name">` + data.auteur + `</span>
                </div>
                <a data-id="` + id + `" class="arrow-open fa fa-angle-double-right"></a>
            </div>`;

            if (data.statut == 'En attente') {
                col = "#en-attente";
            } else if (data.statut == 'En cours') {
                col = "#en-cours";
            } else {
                col = "#traites";
            }
            $(col).prepend(card);
        };

        function formatDate(date) {
            var monthNames = [
                "Janvier",
                "Février",
                "Mars",
                "Avril",
                "Mai",
                "Juin",
                "Juillet",
                "Août",
                "Septembre",
                "Octobre",
                "Novembre",
                "Décembre"
            ];
            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            return day + ' ' + monthNames[monthIndex] + ' ' + year;
        }

        /* Details
        ================= */
        $('.list-cards').on('click', 'a.arrow-open', function () {
            var id = $(this).attr('data-id');
            var type = $(this).parent().attr('type');
            var card = $(this).parent();
            $.ajax({
                url: "{{ path('ordre_details') }}",
                type: "POST",
                dataType: "json",
                data: {
                    "id": id,
                    "type": type
                },
                success: function (resp) {
                    var name = card.find('h3').text();
                    $('.modal-header').removeClass().addClass('modal-header ' + findColor(name));
                    $('.modal-title .title').text(name);
                    $('.progress-indicator li').removeClass('completed');
                    $('.progress-indicator li>a>i').removeClass('fa-check-circle');
                    if (card.parent().is('#en-attente')) {
                        $('.progress-indicator li:lt(1)').addClass('completed');
                        $('.progress-indicator li>a>i:lt(1)').addClass('fa-check-circle');
                    } else if (card.parent().is('#en-cours')) {
                        $('.progress-indicator li:lt(2)').addClass('completed');
                        $('.progress-indicator li>a>i:lt(2)').addClass('fa-check-circle');
                    } else {
                        $('.progress-indicator li:lt(3)').addClass('completed');
                        $('.progress-indicator li>a>i:lt(3)').addClass('fa-check-circle');
                    }
                    $('#articles').empty();
                    $.each(resp, function (i, val) {
                        createArticle(resp[i]);
                    });

                    $("#visuModal").modal();
                }
            });
        });

        function createArticle(data) {
            var article = `
                <p class="bold">Article n° ` + data.id + `</p>
                <div class="form-flex">
                    <div class="input-group form-group">
                        <label class="input-group-addon">
                                Libellé CEA
                        </label>
                        <input value="` + data.libelle + `" class="form-control">
                    </div>
                    <div class="input-group form-group">
                        <label class="input-group-addon">
                                Référence CEA
                        </label>
                        <input value="` + data.reference + `" class="form-control">
                    </div>
                </div>

                <div class="form-flex">
                    <div class="input-group form-group">
                        <label class="input-group-addon">
                                Numéro document
                        </label>
                        <input value="` + data.document + `" class="form-control">
                    </div>
                    <div class="input-group form-group">
                        <label class="input-group-addon">
                                Quantité
                        </label>
                        <input value="` + data.quantite + `" class="form-control">
                    </div>
                </div>

                <div class="row more-actions">
                    <div class="col-md-5">
                        <label>
                            Emplacement initial
                        </label>
                        <ul class="list-group">`;
            $.each(data[0], function (i, val) {

                article += `<li class="list-group-item">` + val + `</li>`
            })
            article += `
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <div class="arrowed">
                            <div class="arrow-6"></div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label>
                            Emplacement final
                        </label>
                        <ul class="list-group">`;
            $.each(data[1], function (i, val) {
                if (val != null) {
                    console.log(val);
                    console.log(val["nom"]);
                    article += `<li class="list-group-item">` + val["nom"] + `</li>`
                }
            })
            article += `
                        </ul>
                    </div>
                </div>
                `;
            $('#articles').append(article);
        };

        function findColor(name) {
            if (name == 'Transfert') {
                return ('backorange');
            }
            if (name == 'Sortie') {
                return ('backviolet');
            }
            if (name == 'Entrée') {
                return ('backgreen');
            }
            if (name == 'Réception') {
                return ('backred');
            }
            if (name == 'Préparation') {
                return ('backblue');
            }
        }
    </script>
{% endblock %}