{% extends 'utils/show-header.html.twig' %}

{% block showTitleTooltip ('Acheminement' ~ ' n°' ~ dispatch.number) %}
{% block showTitle ('acheminement.Acheminement'|trans ~ ' n°' ~ dispatch.number) %}

{% set hasRightEdit = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) %}
{% set hasRightExport = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
{% set hasRightDelete = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE')) %}

{# droit de modification/suppression pour les acheminements brouillons #}
{% if dispatch.statut.draft %}
    {% set hasRightEdit = hasRightEdit and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT_DRAFT_DISPATCH')) %}
    {% set hasRightDelete = hasRightDelete and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_DRAFT_DISPATCH')) %}
{% endif %}

{# droit de modification/suppression pour les acheminements à traiter #}
{% if not dispatch.statut.treated and not dispatch.statut.draft  %}
    {% set hasRightEdit = hasRightEdit and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT_UNPROCESSED_DISPATCH')) %}
    {% set hasRightDelete = hasRightDelete and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_UNPROCESSED_DISPATCH')) %}
{% endif %}

{# droit de modification/suppression pour les acheminements traités #}
{% if dispatch.statut.treated %}
    {% set hasRightEdit = hasRightEdit and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT_PROCESSED_DISPATCH')) %}
    {% set hasRightDelete = hasRightDelete and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_PROCESSED_DISPATCH')) %}
{% endif %}

{% set hasRightToGenerateDeliveryNote = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::GENERATE_DELIVERY_NOTE')) %}
{% set hasRightToGenerateWayBill = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::GENERATE_WAY_BILL')) %}
{% set hasRightToGenerateDispatchBill = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::GENERATE_DISPATCH_BILL')) %}

{% block showActions %}
    <div class="btn-group">
        {% if hasRightEdit %}
            {% if dispatch.statut.draft %}
                <button type="button"
                        data-id='{{ dispatch.id }}'
                        onclick="openValidateDispatchModal()"
                        class="btn btn-primary btn-ripple split-button">
                    <i class="fa fa-check mr-2 button-icon"></i>
                    Valider la demande
                </button>
            {% elseif not dispatch.statut.treated %}
                <button type="button"
                        data-id='{{ dispatch.id }}'
                        onclick="openTreatDispatchModal()"
                        class="btn btn-primary btn-ripple split-button">
                    <i class="fa fa-check mr-2 button-icon"></i>
                    Terminer la demande
                </button>
            {% endif %}
        {% endif %}

        <button type="button"
                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <span class="fa fa-angle-down"></span>
        </button>
        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
            {% if hasRightEdit %}
                {% if dispatch.statut.notTreated and not dispatch.statut.draft %}
                    <a class="dropdown-item"
                       href="{{ path('rollback_draft', {'dispatch': dispatch.id}) }}">
                        <i class="fas fa-undo-alt mr-2"></i>
                        Retour au statut brouillon
                    </a>
                {% endif %}
            {% endif %}
            {% if hasRightToGenerateDeliveryNote %}
                <a type="button"
                   data-dispatch-id='{{ dispatch.id }}'
                   onclick="openDeliveryNoteModal($(this))"
                   id="generateDeliveryNoteButton"
                   title="Générer un bon de livraison"
                   class="dropdown-item">
                    <i class="fa fa-print mr-2"></i>
                    {{ 'acheminement.Générer un bon de livraison' | trans }}
                </a>
            {% endif %}
            {% if hasRightToGenerateWayBill %}
                <a type="button"
                   data-dispatch-id='{{ dispatch.id }}'
                   onclick="openWaybillModal($(this))"
                   title="Générer une lettre de voiture"
                   class="dropdown-item">
                    <i class="fa fa-print mr-2"></i>
                    {{ 'acheminement.Générer une lettre de voiture' | trans }}
                </a>
            {% endif %}
            {% if hasRightToGenerateDispatchBill %}
                <a class="dropdown-item"
                   title="Générer un bon d'acheminement"
                   onclick="runDispatchPrint()">
                    <i class="fas fa-print mr-2"></i>
                    {{ 'acheminement.Générer un bon d\'acheminement'|trans }}
                </a>
            {% endif %}
            {% if hasRightEdit %}
                <a data-id='{{ dispatch.id }}'
                   data-target='#modalEditDispatch'
                   data-toggle='modal'
                   onclick="editRow($(this), Routing.generate('dispatch_edit_api', true), $('#modalEditDispatch'), $('#submitEditDispatch'), true, '#modalEditDispatch .editor-container-edit')"
                   class="dropdown-item pointer">
                    <i class="fa fa-pen mr-2"></i>
                    Modifier
                </a>
            {% endif %}
            {% if hasRightDelete %}
                <a href="" data-id='{{ dispatch.id }}' data-target='#modalDeleteDispatch' data-toggle='modal'
                   class="dropdown-item">
                    <i class="fa fa-trash mr-2"></i>
                    Supprimer
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block showUrgence %}
    {% if dispatch.emergency %}
        <i class="fa fa-exclamation-triangle mr-2"></i>
        <span title="Cet acheminement est urgent">{{ 'acheminement.Cet acheminement est urgent'|trans }} ({{ dispatch.emergency }})</span>
    {% endif %}
{% endblock %}
