{% extends 'layout.html.twig' %}

{% block title %}Demande | {{ 'acheminement.Acheminement'|trans }}{% endblock %}
{% block title_tooltip %}Demande | Acheminement{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersAcheminements.html.twig' with {
        page: 'PAGE_DISPATCHES',
        tableSelector: '#tableDispatches'
    } %}
{% endblock %}

{% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE_ACHE')) %}
{% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto btn-group">
                {% if hasRightToCreate %}
                    <button type="button"
                            data-toggle="modal"
                            data-target="#modalNewDispatch"
                            class="btn btn-primary split-button btn-ripple"
                            onclick='initNewDispatchEditor("#modalNewDispatch")'>
                        <span class="fa fa-plus mr-2"></span><span title="nouvelle demande">{{ 'acheminement.nouvelle demande'|trans }}</span>
                    </button>
                {% elseif hasRightToExport %}
                    <button type="button"
                            class="btn btn-primary split-button btn-ripple"
                            onclick="saveExportFile('get_arrivages_csv')">
                        <span class="fa fa-file-csv mr-2" style="padding: 0 2px"></span>
                        Exporter au format CSV
                    </button>
                {% else %}
                    <button class="dropdown-item pointer"
                            data-toggle="modal"
                            data-target="#modalColumnVisibleDispatch">
                        <i class="fa fa-cog mr-2"></i>
                        Gestion des colonnes
                    </button>
                {% endif %}

                <button type="button"
                        class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="fa fa-angle-down"></span>
                </button>

                {% if hasRightToCreate or hasRightToExport %}
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        {% if hasRightToCreate and hasRightToExport %}
                            <button class="dropdown-item pointer"
                                    onclick="saveExportFile('get_arrivages_csv')">
                                <span class="fa fa-file-csv mr-2" style="padding: 0 2px"></span>
                                Exporter au format CSV
                            </button>
                        {% endif %}
                        <button class="dropdown-item pointer"
                                data-toggle="modal"
                                data-target="#modalColumnVisibleDispatch">
                            <i class="fa fa-cog mr-2"></i>
                            Gestion des colonnes
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableDispatches" class="table w-100"></table>
            </div>
        </div>
    </div>

    <input type="hidden" id="dispatchLocationTo" value="{{ 'acheminement.emplacement dépose'|trans }}">
    <input type="hidden" id="dispatchLocationFrom" value="{{ 'acheminement.emplacement prise'|trans }}">
    <input type="hidden" id="dispatchPack" value="{{ 'colis.colis'|trans }}">

    {% include "dispatch/modalNewDispatch.html.twig" with modalNewConfig %}
    {% include "dispatch/modalVisibleColumns.html.twig" with modalNewConfig %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dispatch.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
