{% extends 'layout.html.twig' %}

{% block title %}{{ trans('Demande', 'Général', 'Demande', false) }} | {{ trans('Demande', 'Acheminements', 'Divers', 'Acheminement', false) }}{% endblock %}
{% block title_tooltip %}Demande | Acheminement{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersAcheminements.html.twig' with {
        page: 'PAGE_DISPATCHES',
        tableSelector: '#tableDispatches',
        needsDateFormatting: true
    } %}
{% endblock %}

{% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE_ACHE')) %}
{% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto btn-group">
                {% if hasRightToExport %}
                    <button type="button"
                            class="btn btn-primary split-button"
                            onclick="saveExportFile('get_dispatches_csv', true, {}, false, '{{ trans('Général', '', 'Modale', 'Veuillez saisir des dates dans le filtre en haut de page.', false) }}', true)">
                        <i class="fa fa-file-csv mr-2" style="padding: 0 2px"></i>
                        {{ trans('Général', null, 'Zone liste', 'Exporter au format CSV', false) }}
                    </button>
                    <button type="button"
                            class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        <a class="dropdown-item pointer"
                           data-toggle="modal"
                           data-target="#modalColumnVisible">
                            <i class="fa fa-cog mr-2"></i>
                            {{ trans('Général', '', 'Zone liste', 'Gestion des colonnes', false) }}
                        </a>
                    </div>
                {% else %}
                    <button class="btn btn-primary"
                       data-toggle="modal"
                       data-target="#modalColumnVisible">
                        <i class="fa fa-cog mr-2"></i>
                        {{ trans('Général', '', 'Zone liste', 'Gestion des colonnes', false) }}
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableDispatches" class="table w-100"></table>
            </div>
        </div>
    </div>

    <input type="hidden" name="destination-translation" value="{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Destination', false) }}">

    {% include "dispatch/modalNewDispatch.html.twig" with modalNewConfig %}
    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'tableDispatches',
        'route': 'save_column_visible_for_dispatch'
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/dispatch-common.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/dispatch.js') }}?v={{ web_version }}"></script>
{% endblock %}
