<form class="modal fade" id="modalShowPack">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span title="Informations du colis">{{ 'colis.Informations du colis'|trans }}</span>
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-12 mt-3">
                      <div class="row">
                          <div class="col-12 text-wii-grey">{{ 'mouvement de traçabilité.Colis' | trans }}</div>
                          <div class="col-12 text-wii-black" id="pack-number"></div>
                      </div>
                  </div>
                  <div class="col-12 mt-3">
                      <div class="row">
                          <div class="col-12 text-wii-grey">{{ 'natures.Nature de colis' | trans }}</div>
                          <div class="col-12 text-wii-black" id="pack-nature"></div>
                      </div>
                  </div>
                  <div class="col-12 mt-3">
                      <div class="row">
                          <div class="col-12 text-wii-grey">{{ 'acheminement.Quantité à acheminer' | trans }}</div>
                          <div class="col-12 text-wii-black" id="pack-dispatch-quantity"></div>
                      </div>
                  </div>
                  <div class="col-12 mt-3">
                      <div class="row">
                          <div class="col-12 text-wii-grey">{{ 'acheminement.Quantité colis' | trans }}</div>
                          <div class="col-12 text-wii-black" id="pack-quantity"></div>
                      </div>
                  </div>
                  <div class="col-12 mt-3">
                      <div class="row">
                          <div class="col-12 text-wii-grey">Date dernier mouvement</div>
                          <div class="col-12 text-wii-black" id="pack-last-movement"></div>
                      </div>
                  </div>
                  <div class="col-12 mt-3">
                      <div class="row">
                          <div class="col-12 text-wii-grey">Dernier emplacement</div>
                          <div class="col-12 text-wii-black" id="pack-last-location"></div>
                      </div>
                  </div>
                  <div class="col-12 mt-3">
                      <div class="row">
                          <div class="col-12 text-wii-grey">Opérateur</div>
                          <div class="col-12 text-wii-black" id="pack-operator"></div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</form>
