<div class="row">
    <div class="col-md-4 col-12">
        <div class="form-group">
            <label class="wii-field-name">{{ trans('Demande', 'Général', 'Type') }}*</label>
            <select name="type"
                    class="form-control d-block type needed"
                    disabled
                    title="Type">
                <option selected value={{ dispatch.type.id }}>{{ dispatch.type.label }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="form-group">
            <label class="wii-field-name">{{ trans('Demande', 'Général', 'Statut') }}*</label>
            <select name="statut"
                    disabled
                    class="form-control data d-block needed"
                    title="Statut">
                {# outside the for if status is treated #}
                <option value="{{ dispatch.statut.id }}" selected>{{ dispatch.statut.nom }}</option>

                {% for status in statuses %}
                    {% if not dispatch.statut or dispatch.statut.id != status.id %}
                        <option value="{{ status.id }}">{{ status.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group col-md-4 col-12">
        <label class="wii-field-name" for="demandeur">{{ trans('Demande', 'Général', 'Demandeur') }}*</label>
        <select class="demandeur form-control data needed w-100" name="requester" data-s2="user">
            {% if dispatch.requester is defined and dispatch.requester is not null %}
                <option selected value="{{ dispatch.requester.id }}">{{ dispatch.requester.username }}</option>
            {% endif %}
        </select>
    </div>


    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOCATION_PICK') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name" for="prise">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Emplacement prise') }}{{ required ? '*' }}</label>
            <select name="prise" class="form-control data d-block {{ required ? 'needed' }} location-prise" data-s2="location"
                    id="prise">
                {% if dispatch.locationFrom %}
                    <option value="{{ dispatch.locationFrom.id }}">{{ dispatch.locationFrom.label }}</option>
                {% endif %}
            </select>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOCATION_DROP') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name" for="depose">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Emplacement dépose') }}{{ required ? '*' }}</label>
            <select name="depose" class="form-control data {{ required ? 'needed' }} location-depose" data-s2="location"
                    id="depose">
                {% if dispatch.locationTo %}
                    <option value="{{ dispatch.locationTo.id }}">{{ dispatch.locationTo.label }}</option>
                {% endif %}
            </select>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_DESTINATION') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name" for="destination">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Destination') }}{{ required ? '*' }}</label>
            <input name="destination" class="form-control data {{ required ? 'needed' }}" value="{{ dispatch.destination }}" maxlength="50"/>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name">{{ trans('Demande', 'Général', 'Urgence') }}{{ required ? '*' }}</label>
            <div class="w-100">
                <select
                    class="form-control input-sm data {{ required ? 'needed' : '' }}"
                    name="emergency">
                    <option value="">{{ trans('Demande', 'Acheminements', 'Modale', 'Non urgent') }}</option>

                    {% if dispatch.emergency and dispatch.emergency not in emergencies %}
                        <option value="{{ dispatch.emergency }}" selected>{{ dispatch.emergency }}</option>
                    {% endif %}

                    {% for emergency in emergencies %}
                        <option value="{{ emergency }}" {% if dispatch.emergency == emergency %}selected{% endif %}>{{ emergency }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}

    {% if not isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_EMERSON'))
        or hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::SHOW_CARRIER_FIELD')) %}
        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_DISPATCH') %}
        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
            <div class="form-group col-md-4 col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Transporteur') }}{{ required ? '*' }}</label>
                <select class="form-control data w-100 {{ required ? 'needed' }}" data-s2="carrier"
                        title="Transporteur"
                        name="carrier">
                    {% if dispatch.carrier is defined and dispatch.carrier is not null %}
                        <option selected value="{{ dispatch.carrier.id }}">{{ dispatch.carrier.label }}</option>
                    {% endif %}
                </select>
            </div>
        {% endif %}
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_TRACKING_NUMBER_DISPATCH') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'N° tracking transporteur') }}{{ required ? '*' }}</label>
            <input class="form-control data {{ required ? 'needed' }}"
                   title="Numéro de tracking transporteur"
                   name="transporterTrackingNumber"
                   value="{{ dispatch.carrierTrackingNumber }}"/>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVER_DISPATCH') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name" for="destinataire">{{ trans('Demande', 'Acheminements', 'Modale', 'Destinataire(s)') }}{{ required ? '*' }}</label>
            <select class="destinataire form-control data w-100 {{ required ? 'needed' }}" data-s2="user"
                    name="receivers"
                    multiple>
                {% for receiver in dispatch.receivers %}
                    <option value="{{ receiver.id }}" selected>{{ receiver.username }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMAND_NUMBER_DISPATCH') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'N° commande') }}{{ required ? '*' }}</label>
            <input class="form-control data {{ required ? 'needed' }}"
                   title="Numéro de commande"
                   name="commandNumber"
                   value="{{ dispatch.commandNumber }}"/>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROJECT_NUMBER') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name" for="project">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'N° projet') }}{{ required ? '*' }}</label>
            <input class="form-control data {{ required ? 'needed' }}"
                   title="Numéro de projet"
                   name="projectNumber"
                   value="{{ dispatch.projectNumber }}"/>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Business unit') }}{{ required ? '*' }}</label>
            <select name="businessUnit"
                    class="form-control data {{ required ? 'needed' }}"
                    title="Business Unit">
                <option value=""></option>

                {% if dispatch.businessUnit and dispatch.businessUnit not in dispatchBusinessUnits %}
                    <option value="{{ dispatch.businessUnit }}" selected>{{ dispatch.businessUnit }}</option>
                {% endif %}

                {% for businessUnit in dispatchBusinessUnits %}
                    <option value="{{ businessUnit }}" {{ businessUnit == dispatch.businessUnit ? 'selected' }}>{{ businessUnit }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_DEADLINE_DISPATCH') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-8 col-12">
            <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Modale', 'Echéance') }}{{ required ? '*' }}</label>
            <div class="input-group w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text w-50px">Du</span>
                </div>
                <input type="text"
                       class="form-control pointer date-field data {{ required ? 'needed' }}"
                       name="startDate"
                       data-init="{{ dispatch.startDate ? dispatch.startDate|date('Y-m-d') }}"
                       title="Date d'échéance min"
                       autocomplete="off"/>
                <div class="input-group-prepend input-group-append">
                    <span class="input-group-text w-50px">Au</span>
                </div>
                <input type="text"
                       class="form-control pointer date-field data {{ required ? 'needed' }}"
                       name="endDate"
                       data-init="{{ dispatch.endDate ? dispatch.endDate|date('Y-m-d') }}"
                       title="Date d'échéance max"
                       autocomplete="off"/>
            </div>
        </div>
    {% endif %}

    <!-- CHAMPS LIBRES -->
    <div class="col-12">
        <span class="toggle-collapsible expanded">{{ trans('Général', null, 'Modale', 'Champs libres') }}</span>
        <div class="collapsible expanded free-fields-container mb-2">
            {% include 'free_field/freeFieldsEdit.html.twig' with {
                freeFields: dispatch.type.champsLibres,
                freeFieldValues: dispatch.freeFields,
                colType: 'col-md-4 col-12',
                requiredType: 'requiredEdit',
                actionType: 'edit',
                needsDateFormatting: true
            } %}
        </div>
    </div>

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMENT_DISPATCH') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col">
            <label class="wii-field-name" for="commentaire">{{ trans('Général', null, 'Modale', 'Commentaire') }}{{ required ? '*' }}</label>
            <input id='commentaire'
                   class="commentaire form-control data {{ required ? 'needed' }}"
                   name="commentaire"
                   type="hidden"
                   value="{{ dispatch.commentaire }}">
            <div class="editor-container-edit"
                 value="{{ dispatch.commentaire }}" data-wysiwyg>
                {{ dispatch.commentaire|raw }}
            </div>
        </div>
    {% endif %}

    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_ATTACHMENTS_DISPATCH') %}
    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
        <div class="form-group col-md-4 col-12">
            {% include 'attachment/attachment.html.twig' with {
                'isNew': false,
                'required': required
            } %}
        </div>
    {% else %}
        <input type="hidden" name="isAttachmentForm" value="1"/>
    {% endif %}
</div>
