{% import 'form.html.twig' as form %}
{% import 'reference_article/form/macros.html.twig' as referenceArticleMacros %}

{% set dispatchReferenceArticle = dispatchReferenceArticle ?? null %}
<div class="row">
    {{ form.input('dispatch', '', false, dispatch.id, {
        type: 'hidden'
    }) }}
    {%  if dispatchReferenceArticle %}
        {{ form.input('dispatchReferenceArticle', '', false, dispatchReferenceArticle.id, {
            type: 'hidden'
        }) }}
    {% endif %}
    <div class="col-4 d-flex no-gutters mt-2">
        {% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE')) %}
        <div class="{{ hasRightToCreate ? "col-8" : "col-12" }}">
            {{ form.select('reference', 'Référence', true, {
                type: 'reference',
                additionalAttributes: [{
                    name :"onchange",
                    value: "refArticleChanged($(this))",
                }],
                items: dispatchReferenceArticle ? {
                    (dispatchReferenceArticle.referenceArticle.id) : dispatchReferenceArticle.referenceArticle.reference,
                } : {},
                value: dispatchReferenceArticle ? dispatchReferenceArticle.referenceArticle.id : null
            }) }}
        </div>
        {% if hasRightToCreate %}
            <div class="col-4 d-flex justify-content-end align-self-end">
                <a href="{{ path('reference_article_new_page') }}"
                   class="">
                    <button class="btn btn-primary m-0 d-flex align-items-center">
                        <span class="wii-icon wii-icon-plus mr-1"></span>
                        <span>Créer</span>
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="col-4 d-flex mt-2">
        {{ form.select('pack', 'Unité logistique', true, {
            additionalAttributes: [{
                name :"data-other-params"
            },{
                name :"data-other-params-dispatch-id",
                value: dispatch.id,
            }],
            emptyOption: packs|length == 1 ? false : true,
            items: packs,
            value: dispatchReferenceArticle ? dispatchReferenceArticle.dispatchPack.pack.id : null
        }) }}
    </div>
    <div class="col-4 d-flex mt-2">
        {{ form.input('quantity', 'Quantité', true, dispatchReferenceArticle ? dispatchReferenceArticle.quantity : null, {
            labelClass: 'w-100',
            min: 1,
            type: 'number',
        }) }}
    </div>
    <div class="col-4 d-flex mt-2">
        {{ form.input('batch', 'N° de lot', true, dispatchReferenceArticle ? dispatchReferenceArticle.batchNumber : null, {})}}
    </div>
    <div class="col-4 d-flex mt-2">
        {{ form.input('sealing', 'N° de plombage / scellée', false, dispatchReferenceArticle ? dispatchReferenceArticle.sealingNumber : null, {})}}
    </div>
    <div class="col-4 d-flex mt-2">
        {{ form.input('series', 'N° de série', true, dispatchReferenceArticle ? dispatchReferenceArticle.serialNumber : null, {})}}
    </div>
    <div class="col-8 mt-2">
        {{ form.wysiwyg('comment', 'Commentaire', false, dispatchReferenceArticle ? dispatchReferenceArticle.comment : null)}}
    </div>
    <div class="col-4 d-flex mt-3">
        {% include 'attachment/attachment.html.twig' with {
            fieldNameClass: 'w-100',
            isNew: dispatchReferenceArticle ? false : true,
            attachments: dispatchReferenceArticle ? dispatchReferenceArticle.attachments : [],
            bigger: "w-100",
        } %}
    </div>
</div>
<div class="wii-section-title mt-2">Informations référence</div>
<div class="row mt-2">
    {{ referenceArticleMacros.descriptionForm(
        dispatchReferenceArticle.referenceArticle.description ?? null,
        descriptionConfig,
        4,
    ) }}
</div>
