<form class="modal fade" id="modalShowPack">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span title="Informations du colis">{{ 'colis.Informations du colis'|trans }}</span>
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="row">
                            <label class="col-12 text-wii-grey" title="Colis">{{ 'mouvement de traçabilité.Colis' | trans }}</label>
                            <div class="col-12">
                                <input class="form-control" name="pack-number" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <label class="col-12 text-wii-grey" title="Nature de colis">{{ 'natures.Nature de colis' | trans }}</label>
                            <div class="col-12">
                                <input class="form-control" name="pack-nature" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <label class="col-12 text-wii-grey" title="Quantité à acheminer">{{ 'acheminement.Quantité à acheminer' | trans }}</label>
                            <div class="col-12">
                                <input class="form-control" name="pack-dispatch-quantity" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-12 text-wii-grey" title="Quantité colis">{{ 'acheminement.Quantité colis' | trans }}</div>
                            <div class="col-12">
                                <input class="form-control" name="pack-quantity" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-12 text-wii-grey">Poids (kg)</div>
                            <div class="col-12">
                                <input class="form-control" name="pack-weight" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-12 text-wii-grey">Volume (m³)</div>
                            <div class="col-12">
                                <input class="form-control" name="pack-volume" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-12 text-wii-grey" title="Commentaire">Commentaire</div>
                            <div class="col-12 text-wii-black">
                                <div class="scrollable-details bg-light pack-comment" style="padding:10px;border-radius:4px;background-color:#e9ecef!important;border:1px solid#ced4da">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <label class="col-12 text-wii-grey">Date dernier mouvement</label>
                            <div class="col-12">
                                <input class="form-control" name="pack-last-movement" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <label class="col-12 text-wii-grey">Dernier emplacement</label>
                            <div class="col-12">
                                <input class="form-control" name="pack-last-location" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <label class="col-12 text-wii-grey">Opérateur</label>
                            <div class="col-12">
                                <input class="form-control" name="pack-operator" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</form>
