<div class="modal fade" id="modalColumnVisibleDispatch" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gestion des colonnes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" style="width:100%">
                    <thead>
                    <tr>
                        <th>Fields</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for field in fields %}
                        {% if (field.alwaysVisible is not defined or not field.alwaysVisible) %}
                            <tr class="pointer" onclick="toggleInputRadioOnRow(this)">
                                {% set label = ((field.translated is defined and field.translated)
                                    ? field.title|trans
                                    : field.title) %}
                                {% set tooltip = (field.translated is defined and field.translated) ? ('title="' ~ field.title ~ '"') %}
                                <td>
                                    <span {{ tooltip }}>{{ label | capitalize }}</span>
                                </td>
                                <td>
                                    <div class="checkbox d-inline-block pointer no-data" onclick="toggleInputRadioOnRow(this)">
                                        {% set name = field.name %}
                                        {% set checked = (name in visibleColumns ? 'checked' : '') %}
                                        <input class="visible-column-dispatch-input form-check-input {{ checked == 'checked' ? 'data' : '' }}"
                                               name="{{ name }}"
                                               onclick="showOrHideColumn($(this), tableDispatches)"
                                               type="checkbox"
                                               id="column_visible_dispatch_input_{{ loop.index }}"
                                            {{ checked }}
                                               data-column="{{ loop.index0 }}" data-name="{{ field.name }}">
                                        <label for="column_visible_dispatch_input_{{ loop.index }}" class="pointer"></label>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn" data-dismiss="modal">Fermer</div>
                <div class="btn btn-primary" id="submitColumnVisibleDispatch">Enregistrer</div>
            </div>
        </div>
    </div>
</div>
