<div class="form-group">
    <label>Type*</label>
    <select name="type"
            class="form-control d-block type needed"
            disabled
            title="Type">
        <option selected value={{ dispatch.type.id }}>{{ dispatch.type.label }}</option>
    </select>
</div>
<div class="form-group">
    <label>Statut*</label>
    <select name="statut"
            {{ dispatch.statut is not null and dispatch.statut.treated ? 'disabled' }}
            class="form-control data d-block needed"
            title="Statut">
        {% if dispatch.statut is not null %}
            <option selected
                    value="{{ dispatch.statut.id }}"
                    data-type-id="{{ dispatch.statut.type.id }}">
                {{ dispatch.statut.nom }}
            </option>
        {% endif %}
        {% if dispatch.statut is null or not dispatch.statut.treated %}
            {% for status in notTreatedStatus %}
                {% if status.id != dispatch.statut.id %}
                    <option data-type-id="{{ status.type.id }}"
                            value="{{ status.id }}">
                        {{ status.nom }}
                    </option>
                {% endif %}
            {% endfor %}
        {% endif %}
    </select>
</div>
<div class="form-group">
    <label for="demandeur">Demandeur*</label>
    <select class="demandeur form-control data needed ajax-autocomplete-user-edit w-100" name="demandeur">
        <option selected value="{{ dispatch.requester.id }}">{{ dispatch.requester.username }}</option>
        {% for utilisateur in utilisateurs %}
            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
    <input hidden
           name="logged-user"
           data-username="{{ app.user.username }}"
           data-id="{{ app.user.id }}"/>
</div>
<div class="form-group">
    <label for="destinataire">Destinataire</label>
    <select class="destinataire form-control data ajax-autocomplete-user-edit w-100" name="destinataire">
        {% if dispatch.receiver is not null %}
            <option value="{{ dispatch.receiver.id }}">{{ dispatch.receiver.username }}</option>
        {% else %}
            <option value=""></option>
        {% endif %}
    </select>
</div>
<div class="form-group">
    <label>Echéance</label>
    <div class="input-group w-100">
        <div class="input-group-prepend">
            <span class="input-group-text w-50px">Du</span>
        </div>
        <input type="date"
               class="form-control data"
               name="startDate"
               value="{{ dispatch.startDate ? dispatch.startDate|date('Y-m-d') }}"
               title="Date d'échéance min"
               placeholder="jj/mm/aaaa"/>
        <div class="input-group-prepend">
            <span class="input-group-text w-50px">Au</span>
        </div>
        <input type="date"
               class="form-control data"
               name="endDate"
               value="{{ dispatch.endDate ? dispatch.endDate|date('Y-m-d') }}"
               title="Date d'échéance max"
               placeholder="jj/mm/aaaa"/>
    </div>
</div>
<div class="form-group">
    <label>Urgence</label>
    <div class="w-100">
        <label class="switch mt-2">
            <input class="checkbox"
                   name="urgent"
                {{ dispatch.urgent ? 'checked' }}
                   type="checkbox"/>
            <span class="slider round"></span>
        </label>
    </div>
</div>
<div class="form-group w-100">
    <label for="prise" title="Emplacement de prise">{{ 'acheminement.emplacement prise'|trans }}*</label>
    <select name="prise" class="form-control data ajax-autocompleteEmplacement-edit d-block needed location-prise" id="prise">
        {% if dispatch.locationFrom %}
            <option value="{{ dispatch.locationFrom.id }}">{{ dispatch.locationFrom.label }}</option>
        {% endif %}
    </select>
</div>
<div class="form-group w-100">
    <label for="depose" title="Emplacement de dépose">{{ 'acheminement.emplacement dépose'|trans }}*</label>
    <select name="depose" class="form-control data ajax-autocompleteEmplacement-edit d-block needed location-depose" id="depose">
        {% if dispatch.locationTo %}
            <option value="{{ dispatch.locationTo.id }}">{{ dispatch.locationTo.label }}</option>
        {% endif %}
    </select>
</div>

<!-- CHAMPS LIBRES -->
{% if dispatch.type is not null and dispatch.type.champsLibres.count > 0 %}
    <div class="form-group col-12 blocVisible d-block">
        <div class="row">
            {% include 'champ_libre/freeFieldsVizualisation.html.twig' with {
                freeFields: dispatch.type.champsLibres,
                freeFieldValues: dispatch.freeFields,
                colType: 'col-12',
                requiredType: 'requiredEdit',
                actionType: 'edit'
            } %}
        </div>
    </div>
{% endif %}
<div class="form-group">
    <label for="commentaire">Commentaire</label>
    <input id='commentaire' class="commentaire form-control data" name="commentaire" type="hidden" value="{{ dispatch.commentaire }}">
    <div class="editor-container-edit" id="editor-container-edit" value="{{ dispatch.commentaire }}">{{ dispatch.commentaire|raw }}
    </div>
</div>
<div class="form-group">
    <div>
        {% include 'attachment/attachment.html.twig' with {'isNew' : false} %}
    </div>
</div>

