{% import 'form.html.twig' as form %}

{% if deliveryOrder ?? false %}
    {{ form.hidden('deliveryOrder', deliveryOrder) }}
{% elseif dispatch ?? false %}
    {{ form.hidden('dispatch', dispatch) }}
{% endif %}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <label class="w-100 col-12">
                {{ form.select('buyer', trans('Demande', 'Acheminements', 'Bon de livraison', 'Client acheteur'), true, {
                    type: 'customers',
                    items: [{label: buyer, value: buyer, selected: true}]
                }) }}
            </label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('buyerPhone', trans('Demande', 'Acheminements', 'Bon de livraison', 'Téléphone'), false, buyerPhone, {
                    inputClass: 'forbidden-phone-numbers',
                    attributes: {
                        maxlength: 50,
                    },
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('buyerFax', trans('Demande', 'Acheminements', 'Bon de livraison', 'Fax'), false, buyerFax, {
                    inputClass: 'forbidden-phone-numbers',
                    attributes: {
                        maxlength: 50,
                    },
                }) }}
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.textarea('consignor', trans('Demande', 'Acheminements', 'Bon de livraison', 'Expéditeur'), true, consignor, {
                    attributes: {
                        oninput: "limitTextareaLength($(this), 7, 50)",
                        rows: 7,
                        style: "resize: none",
                    }
                }) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.textarea('deliveryAddress', trans('Demande', 'Acheminements', 'Bon de livraison', 'Adresse de livraison'), true, deliveryAddress, {
                    attributes: {
                        oninput: "limitTextareaLength($(this), 7, 50)",
                        rows: 7,
                        style: "resize: none",
                    }
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('deliveryNumber', trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de livraison'), true, deliveryNumber, {
                    attributes: {
                        disabled: 'disabled',
                    },
                }) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('deliveryDate', trans('Demande', 'Acheminements', 'Bon de livraison', 'Date de livraison'), false, deliveryDate, {
                    type: 'date',
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('salesOrderNumber', trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de commande de vente'), true, salesOrderNumber, {
                    attributes: {
                        maxlength: 50
                    },
                }) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('wayBill', trans('Demande', 'Acheminements', 'Bon de livraison', 'Lettre de voiture'), false, wayBill, {
                    attributes: {
                        maxlength: 50
                    },
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('customerPONumber', trans('Demande', 'Acheminements', 'Bon de livraison', 'Bon de commande client'), true, customerPONumber, {
                    attributes: {
                        maxlength: 50
                    },
                }) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('customerPODate', trans('Demande', 'Acheminements', 'Bon de livraison', 'Date commande client'), false, customerPODate, {
                    type: 'date',
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('respOrderNb', trans('Demande', 'Acheminements', 'Bon de livraison', 'Réponse numéro commande'), false, respOrderNb, {
                    attributes: {
                        maxlength: 50,
                    },
                }) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('projectNumber', trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de projet'), true, projectNumber, {
                    attributes: {
                        maxlength: 50,
                    },
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.select('username', trans('Demande', 'Général', 'Urgence'), false, {
                    items: dispatchEmergencyValues|map((emergency) => {
                        label: emergency,
                        value: emergency,
                        selected: dispatchEmergency == emergency
                    })
                }) }}
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.select('username', trans('Demande', 'Acheminements', 'Bon de livraison', 'Contact'), true, {
                    type: 'customers',
                    items: [{label: username, value: username, selected: true}]
                }) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            {{ form.input('userPhone', trans('Demande', 'Acheminements', 'Bon de livraison', 'Téléphone'), true, userPhone, {
                inputClass: 'forbidden-phone-numbers',
                attributes: {
                    maxlength: 50,
                },
            }) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('userFax', trans('Demande', 'Acheminements', 'Bon de livraison', 'Fax'), false, userFax, {
                    inputClass: 'forbidden-phone-numbers',
                    attributes: {
                        maxlength: 50,
                    },
                }) }}
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('invoiceNumber', trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro facture'), false, invoiceNumber, {
                    attributes: {
                        maxlength: 50,
                    },
                }) }}
            </div>
            <div class="col-12">
                <button class="btn btn-primary btn-sm mt-2"
                        type="button"
                        onclick="copyTo($(this), 'invoiceNumber', 'soldNumber')">
                    {{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Copier vers Numéro vente') }}
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('soldNumber', trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro vente'), false, soldNumber, {
                    attributes: {
                        maxlength: 50,
                    },
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.textarea('invoiceTo', trans('Demande', 'Acheminements', 'Bon de livraison', 'Facturé à'), true, invoiceTo, {
                    attributes: {
                        oninput: "limitTextareaLength($(this), 7, 50)",
                        rows: 7,
                        style: "resize: none",
                    }
                }) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.textarea('soldTo', trans('Demande', 'Acheminements', 'Bon de livraison', 'Vendu à'), true, soldTo, {
                    attributes: {
                        oninput: "limitTextareaLength($(this), 7, 50)",
                        rows: 7,
                        style: "resize: none",
                    }
                }) }}
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('endUserNo', trans('Demande', 'Acheminements', 'Bon de livraison', 'Nom dernier utilisateur'), true, endUserNo) }}
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-auto">
                        <button class="btn btn-primary btn-sm mt-2"
                                type="button"
                                onclick="copyTo($(this), 'endUserNo', 'endUser')">
                            {{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Copier vers Utilisateur final') }}
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary btn-sm mt-2"
                                type="button"
                                onclick="copyTo($(this), 'endUserNo', 'deliverTo')">
                            {{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Copier vers Livrer à') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('deliverNo', trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de livraison'), true, deliverNo, {
                    attributes: {
                        maxlength: 50,
                    }
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.textarea('endUser', trans('Demande', 'Acheminements', 'Bon de livraison', 'Dernier utilisateur'), false, endUser, {
                    attributes: {
                        oninput: "limitTextareaLength($(this), 7, 50)",
                        rows: 7,
                        style: "resize: none",
                    }
                }) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.textarea('deliverTo', trans('Demande', 'Acheminements', 'Bon de livraison', 'Livrer à'), false, deliverTo, {
                    attributes: {
                        oninput: "limitTextareaLength($(this), 7, 50)",
                        rows: 7,
                        style: "resize: none",
                    }
                }) }}
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>

{% if fromDelivery is defined and not fromDelivery %}
    <div class="row">
        <div class="col-12">
            <div class="wii-section-title">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Ligne du BL') }}</div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro') }}</label>
                </div>
                <div class="col-3">
                    <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Général', 'Quantité à acheminer') }}</label>
                </div>
                <div class="col-6">
                    <label class="wii-field-name">{{ trans("Général", null, "Modale", 'Commentaire') }}</label>
                </div>
            </div>
            {% for dispatchPack in packs %}
                {% set isHidden = loop.index0 > 6 %}
                <div class="form-group row {{ isHidden ? 'd-none' }}"
                     data-multiple-key="packs"
                     data-multiple-object-index="{{ loop.index0 }}">
                    <div class="col-3">
                        {{ form.input('code', null, true, dispatchPack.code, {
                            attributes: {
                                title: "Numéro",
                                disabled: "disabled",
                            },
                        }) }}
                    </div>
                    <div class="col-3">
                        {{ form.input('quantity', trans('Demande', 'Acheminements', 'Détails acheminement - Liste des unités logistiques', 'Quantité à acheminer', false), true, dispatchPack.quantity, {
                            labelClass: 'sr-only',
                            type: 'number',
                            attributes: {
                                step: 1,
                                min: 1,
                            }
                        }) }}
                    </div>
                    <div class="col-6">
                        {{ form.textarea('comment', trans("Général", null, "Modale", 'Commentaire'), not isHidden, dispatchPack.comment|striptags ?: ' ', {
                            labelClass: 'sr-only',
                            attributes: {
                                oninput: "limitTextareaLength($(this), 7, 100)",
                                rows: 1,
                            }
                        }) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('consignor2', trans('Demande', 'Acheminements', 'Bon de livraison', 'Expéditeur'), true, consignor2) }}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                {{ form.input('date', trans('Demande', 'Acheminements', 'Bon de livraison', 'Date'), true, date, {
                    type: 'date',
                }) }}
            </div>
        </div>
    </div>
</div>
<div class="pb-5"></div>
<div class="row">
    <div class="col-12">
        <div class="form-group row">
            <div class="col-12">
                {{ form.textarea('notes', trans('Demande', 'Acheminements', 'Bon de livraison', 'Note(s)'), false, notes, {
                    attributes: {
                        oninput: "limitTextareaLength($(this), 3, 100)",
                        rows: 3,
                        style: "resize: none",
                    }
                }) }}
            </div>
        </div>
    </div>
</div>
