<form class="modal fade" data-modal-type="new" id="modalNewDispatch" aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Demande d\'acheminement')
            } %}

            <div class="modal-body modal-input container-fluid">
                {% if fromArrival is defined and fromArrival %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="wii-field-text pointer">
                                    <div class="wii-radio">
                                        <input type="radio" class="no-clear data" name="existingOrNot" value="0" checked>
                                        {{ trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Créer une nouvelle demande') }}
                                    </div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="wii-field-text pointer">
                                    <div class="wii-radio">
                                        <input type="radio" class="no-clear data" name="existingOrNot" value="1">
                                        {{ trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Ajouter à une demande existante') }}
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="wii-section-title">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Ma demande d\'acheminement') }}</div>

                    <div class="row existing-dispatch mt-3 d-none">
                        <div class="col-12 form-group">
                            <label class="wii-field-name">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Mes demandes') }}</label>
                            <select class="w-100 data no-clear" name="existingDispatch" data-s2 data-placeholder="{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Sélectionnez  un acheminement') }}">
                                {% if existingDispatches is defined and existingDispatches is not empty %}
                                    {% for dispatch in existingDispatches %}
                                        <option value="{{ dispatch['id'] }}">
                                            {{ dispatch['number'] ~ ' - ' ~ dispatch['locationTo'] ~ ' - ' ~ dispatch['type'] }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="row dispatch-details mb-3"></div>
                {% endif %}

                <div class="row new-dispatch mt-3">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            {% set uniqueType = typeChampsLibres|length == 1 %}
                            <label class="wii-field-name" for="type">{{ trans('Demande', 'Général', 'Type') }}*</label>
                            <select name="type"
                                    class="form-control data d-block type needed {{ uniqueType ? 'needs-default' }}"
                                    onchange="onDispatchTypeChange($(this))"
                                {{ uniqueType ? 'disabled' }}
                                {{ uniqueType ? ('data-init="' ~ (typeChampsLibres|first).typeId ~ '"')|raw }}>
                                {% if not uniqueType %}
                                    <option value="">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Type à choisir...') }}</option>
                                    {% for type in typeChampsLibres %}{# TODO Traduire #}
                                        <option
                                            data-pick-location-id="{{ type.pickLocation.id }}"
                                            data-pick-location-label="{{ type.pickLocation.label }}"
                                            data-drop-location-id="{{ type.dropLocation.id }}"
                                            data-drop-location-label="{{ type.dropLocation.label }}"
                                            value="{{ type.typeId }}">
                                            {{ type.typeLabel }}
                                        </option>
                                    {% endfor %}
                                {% else %}
                                    <option selected value={{ (typeChampsLibres|first).typeId }}>{{ (typeChampsLibres|first).typeLabel }}</option>
                                {% endif %}
                            </select>
                        </div>
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOCATION_PICK') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            <div class="form-group">
                                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Emplacement prise') }}{{ required ? '*' }}</label>
                                <select name="prise"
                                        class="form-control data d-block {{ required ? 'needed' }} location-prise w-100" data-s2="location">
                                </select>
                            </div>
                        {% endif %}

                        {% if not isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_EMERSON'))
                            or hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::SHOW_CARRIER_FIELD')) %}
                            {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_DISPATCH') %}
                            {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                                {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                                <div class="form-group">
                                    <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Transporteur') }}{{ required ? '*' }}</label>
                                    <select class="form-control data w-100 {{ required ? 'needed' }}"
                                            name="carrier" data-s2="carrier">
                                    </select>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMAND_NUMBER_DISPATCH') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            <div class="form-group">
                                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'N° commande') }}{{ required ? '*' }}</label>
                                <input class="form-control data {{ required ? 'needed' }}" name="commandNumber">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label class="wii-field-name">{{ trans('Demande', 'Général', 'Statut') }}*</label>
                            <select name="status"
                                    disabled
                                    class="form-control data w-100 needed">
                                <option value="">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale création nouvel arrivage', 'Choisir un statut...') }}</option>
                                {% for statut in notTreatedStatus %}
                                    <option class="d-none"
                                            data-type-id="{{ statut.type.id }}"
                                            value="{{ statut.id }}">
                                        {{ statut.getLabelIn(language_service.getCurrentUserLanguageSlug, language_service.defaultSlug) }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="error-empty-status d-none">
                                {% include 'utils/warningSelectEmpty.html.twig' with {
                                    array: [],
                                    warningLabel: 'Aucun statut brouillon pour ce type',
                                    redirectPath: path('settings_item', {
                                        'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_TRACING'),
                                        'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_DISPATCHES'),
                                        'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_STATUSES'),
                                    }),
                                    redirectLabel: 'Aller vers la création des statuts',
                                    block: true,
                                    rights: {
                                        menu: constant('App\\Entity\\Menu::PARAM'),
                                        action: constant('App\\Entity\\Action::CREATE')
                                    }
                                } %}
                            </div>
                        </div>
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOCATION_DROP') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            <div class="form-group w-100">
                                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Emplacement dépose') }}{{ required ? '*' }}</label>
                                <select name="depose"
                                        class="form-control data d-block {{ required ? 'needed' }} location-depose" data-s2="location">
                                </select>
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_TRACKING_NUMBER_DISPATCH') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            <div class="form-group">
                                <label class="wii-field-name">{{  trans('Demande', 'Acheminements', 'Champs fixes', 'N° tracking transporteur') }}{{ required ? '*' }}</label>
                                <input class="form-control data {{ required ? 'needed' }}"
                                       name="carrierTrackingNumber">
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROJECT_NUMBER') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            {% set projectNumberValue = arrival ? arrival.projectNumber %}
                            <div class="form-group">
                                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'N° projet') }}{{ required ? '*' }}</label>
                                <input class="project form-control data {{ required ? 'needed' }} needs-default"
                                       name="projectNumber"
                                       value="{{ projectNumberValue }}"
                                       data-init="{{ projectNumberValue }}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label class="wii-field-name">{{ trans('Demande', 'Général', 'Demandeur') }}*</label>
                            <select class="demandeur form-control data needed w-100" name="requester" data-s2="user"></select>
                            <input hidden
                                   name="logged-user"
                                   data-username="{{ app.user.username }}"
                                   data-id="{{ app.user.id }}"/>
                        </div>

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            <div class="form-group">
                                <label class="wii-field-name">{{ trans('Demande', 'Général', 'Urgence') }}{{ required ? '*' }}</label>
                                <div class="w-100">
                                    <select class="form-control input-sm data"
                                            name="emergency">
                                        <option value="">{{ trans('Demande', 'Général', 'Non urgent') }}</option>
                                        {% for emergency in emergencies %}
                                            <option value="{{ emergency }}">{{ emergency }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_DESTINATION') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            <div class="form-group">
                                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Destination') }}{{ required ? '*' }}</label>
                                <input name="destination" class="form-control data {{ required ? 'needed' }} w-100" maxlength="50"/>
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVER_DISPATCH') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            <div class="form-group">
                                <label class="wii-field-name">{{ trans('Demande', 'Général', 'Destinataire(s)') }}{{ required ? '*' }}</label>
                                <select name="receivers"
                                        class="form-control data w-100 {{ required ? 'needed' }}" data-s2="user"
                                        multiple>
                                </select>
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                            {% set businessUnitValue = arrival ? arrival.businessUnit %}
                            <div class="form-group">
                                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Champs fixes', 'Business unit') }}{{ required ? '*' }}</label>
                                <select name="businessUnit"
                                        class="form-control data {{ required ? 'needed' }} needs-default"
                                        data-init="{{ businessUnitValue }}">
                                    <option value=""></option>
                                    {% for businessUnit in dispatchBusinessUnits %}
                                        <option
                                            value="{{ businessUnit }}" {{ (businessUnit == businessUnitValue) ? 'selected' }}>{{ businessUnit }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_DEADLINE_DISPATCH') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                        {% set placeholder = app.user.displayedDateFormat ? app.user.displayedDateFormat : 'jj/mm/aaaa' %}
                        <div class="form-group col-md-8 col-12">
                            <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Modale', 'Echéance') }}{{ required ? '*' }}</label>
                            <div class="input-group w-100">
                                <div class="input-group-prepend">
                                    <span class="input-group-text w-50px">{{ trans('Général', null, 'Zone filtre', 'Du') }}</span>
                                </div>
                                <input type="text"
                                       class="form-control pointer date-field data {{ required ? 'needed' }}"
                                       name="startDate"
                                       data-init="{{ preFill ? "now"|date('Y-m-d') }}"
                                       placeholder="{{ placeholder }}"
                                       autocomplete="off"/>
                                <div class="input-group-prepend input-group-append">
                                    <span class="input-group-text w-50px">{{ trans('Général', null, 'Zone filtre', 'Au') }}</span>
                                </div>
                                <input type="text"
                                       class="form-control pointer date-field data {{ required ? 'needed' }}"
                                       name="endDate"
                                       data-init="{{ preFill ? "now"|date('Y-m-d') }}"
                                       placeholder="{{ placeholder }}"
                                       autocomplete="off"/>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-12 mt-3">
                        {% if typeChampsLibres is not empty %}
                            <!-- CHAMPS LIBRES -->
                            <span class="toggle-collapsible expanded">{{ trans('Général', null, 'Modale', 'Champs libres') }}</span>
                            <div class="collapsible expanded free-fields-container mb-2">
                                {% for type in typeChampsLibres %}
                                    <div class="d-none"
                                         data-type="{{ type.typeId }}">
                                        {% include 'free_field/freeFieldsEdit.html.twig' with {
                                            freeFields: type.champsLibres,
                                            freeFieldValues: [],
                                            colType: 'col-md-4 col-12',
                                            requiredType: 'requiredCreate',
                                            actionType: 'new',
                                            disabledNeeded: true,
                                            needsDateFormatting: true
                                        } %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMENT_DISPATCH') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                        <div class="form-group col">
                            <label class="wii-field-name wii-field-name-sub">{{ trans('Général', null, 'Modale', 'Commentaire') }}{{ required ? '*' }}</label>
                            <input class="commentaire form-control data {{ required ? 'needed' }}" name="commentaire" type="hidden">
                            <div class="editor-container" data-wysiwyg>
                            </div>
                        </div>
                    {% endif %}

                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_ATTACHMENTS_DISPATCH') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                        {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredCreate') %}
                        <div class="form-group col-md-4 col-12">
                            {% include 'attachment/attachment.html.twig' with {
                                'isNew': true,
                                'required': required,
                                'fieldNameClass': 'wii-field-name wii-field-name-sub'
                            } %}
                        </div>
                    {% else %}
                        <input type="hidden" name="isAttachmentForm" value="1"/>
                    {% endif %}
                </div>

                {% if packs is defined and packs is not empty %}
                    <div class="wii-section-title">{{ trans('Traçabilité', 'Flux - Arrivages', 'Modale Nouvelle demande d\'acheminement', 'Unités logistiques à acheminer') }}</div>
                    <div class="row mt-3">
                        <div class="col-12 arrival-dispatch-packs">
                            {% for pack in packs %}
                                {% include 'dispatch/dispatchPackList.html.twig' with {
                                    'pack': pack,
                                    'index': loop.index0
                                } %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), id: 'submitNewDispatch'}
                ],
            } %}

        </div>
    </div>
</form>
