<div class="modal fade" data-modal-type="new" id="modalNewDispatch" aria-labelledby="dataModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Demande d\'acheminement')
            } %}

            <div class="modal-body modal-input container-fluid">
                {% if fromArrival is defined and fromArrival %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="wii-field-text pointer">
                                    <div class="wii-radio">
                                        <input type="radio" class="no-clear data" name="existingOrNot" value="0" checked>
                                        {{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Créer une nouvelle demande') }}
                                    </div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="wii-field-text pointer">
                                    <div class="wii-radio">
                                        <input type="radio" class="no-clear data" name="existingOrNot" value="1">
                                        {{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Ajouter à une demande existante') }}
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="wii-section-title">{{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Ma demande d\'acheminement') }}</div>

                    <div class="row existing-dispatch mt-3 d-none">
                        <div class="col-12 form-group">
                            <label class="wii-field-name">{{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Mes demandes') }}</label>
                            <select class="w-100 data no-clear" name="existingDispatch" data-s2
                                    data-placeholder="{{ trans('Traçabilité', 'Arrivages UL', 'Modale Nouvelle demande d\'acheminement', 'Sélectionnez  un acheminement') }}">
                                {% if existingDispatches is defined and existingDispatches is not empty %}
                                    {% for dispatch in existingDispatches %}
                                        <option value="{{ dispatch['id'] }}">
                                            {{ dispatch['number'] ~ ' - ' ~ dispatch['locationTo'] ~ ' - ' ~ dispatch['type'] }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="row dispatch-details mb-3"></div>
                {% endif %}

                {% include 'dispatch/formDispatch.html.twig' %}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), type: 'submit'},
                ],
            } %}
        </div>
    </div>
</div>
