<form method="" class="modal fade" data-modal-type="new" id="modalNewDispatch" role="dialog" aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" title="nouvelle demande">{{ 'acheminement.Nouvelle demande'|trans }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="type">Type*</label>
                            <select name="type"
                                    class="form-control data d-block type needed"
                                    onchange="onDispatchTypeChange($(this))">
                                <option value="">Type à choisir...</option>
                                {% for type in typeChampsLibres %}
                                    <option
                                        data-pick-location-id="{{ type.pickLocation.id }}"
                                        data-pick-location-label="{{ type.pickLocation.label }}"
                                        data-drop-location-id="{{ type.dropLocation.id }}"
                                        data-drop-location-label="{{ type.dropLocation.label }}"
                                        value="{{ type.typeId }}">
                                        {{ type.typeLabel }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOCATION_PICK') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                            <div class="form-group">
                                <label for="prise" title="Emplacement prise">{{ 'acheminement.Emplacement prise'|trans }}{{ required ? '*' }}</label>
                                <select name="prise"
                                        class="form-control data ajax-autocomplete-location d-block {{ required ? 'needed' }} location-prise w-100"
                                        id="prise">
                                </select>
                            </div>
                        {% endif %}

                        {% if not isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_EMERSON'))
                            or hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::SHOW_CARRIER_FIELD')) %}
                            {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_DISPATCH') %}
                            {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                                {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                                <div class="form-group">
                                    <label title="Transporteur">{{ 'acheminement.Transporteur'|trans }}{{ required ? '*' }}</label>
                                    <select class="form-control data ajax-autocomplete-transporteur w-100 {{ required ? 'needed' }}"
                                            title="Transporteur"
                                            name="carrier">
                                    </select>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMAND_NUMBER_DISPATCH') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                            <div class="form-group">
                                <label for="command-number" title="Numéro de commande">{{ 'acheminement.Numéro de commande' | trans }}{{ required ? '*' }}</label>
                                <input class="form-control data {{ required ? 'needed' }}" id="command-number" name="commandNumber">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="status">Statut*</label>
                            <select name="status"
                                    disabled
                                    class="form-control data w-100 needed need-default">
                                <option value="">Choisir un statut...</option>
                                {% for statut in notTreatedStatus %}
                                    <option class="d-none"
                                            data-type-id="{{ statut.type.id }}"
                                            value="{{ statut.id }}">
                                        {{ statut.nom }}
                                    </option>
                                {% endfor %}
                            </select>
                            <div class="error-empty-status d-none">
                                {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                                    array: [],
                                    warningLabel: 'Aucun statut brouillon pour ce type.',
                                    redirectPath: path('status_param_index'),
                                    redirectLabel: 'Aller vers la création des statuts.'
                                } %}
                            </div>
                        </div>
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOCATION_DROP') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                            <div class="form-group w-100">
                                <label for="depose"
                                       title="Emplacement dépose">{{ 'acheminement.Emplacement dépose'|trans }}{{ required ? '*' }}</label>
                                <select name="depose"
                                        class="form-control data ajax-autocomplete-location d-block {{ required ? 'needed' }} location-depose"
                                        id="depose">
                                </select>
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIER_TRACKING_NUMBER_DISPATCH') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                            <div class="form-group">
                                <label for="transporter-tracking-number" title="Numéro de tracking transporteur">{{ 'acheminement.Numéro de tracking transporteur'|trans }}{{ required ? '*' }}</label>
                                <input class="form-control data {{ required ? 'needed' }}"
                                       title="Numéro de tracking transporteur"
                                       name="carrierTrackingNumber">
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_PROJECT_NUMBER') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                            {% set projectNumberValue = arrival ? arrival.projectNumber %}
                            <div class="form-group">
                                <label for="project" title="Numéro de projet">{{ 'acheminement.Numéro de projet'|trans }}{{ required ? '*' }}</label>
                                <input title="Numéro de projet"
                                       class="project form-control data {{ required ? 'needed' }} needs-default"
                                       name="projectNumber"
                                       value="{{ projectNumberValue }}"
                                       data-init="{{ projectNumberValue }}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="demandeur">Demandeur*</label>
                            <select class="demandeur form-control data needed ajax-autocomplete-user w-100" name="requester"></select>
                            <input hidden
                                   name="logged-user"
                                   data-username="{{ app.user.username }}"
                                   data-id="{{ app.user.id }}"/>
                        </div>

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                            <div class="form-group">
                                <label>Urgence{{ required ? '*' }}</label>
                                <div class="w-100">
                                    <select class="form-control input-sm data"
                                            name="emergency">
                                        <option value="">Non urgent</option>
                                        {% for emergency in emergencies %}
                                            <option value="{{ emergency }}">{{ emergency }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVER_DISPATCH') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                            <div class="form-group">
                                <label for="destinataire">Destinataire{{ required ? '*' }}</label>
                                <select class="destinataire form-control data ajax-autocomplete-user w-100 {{ required ? 'needed' }}" name="receiver">
                                </select>
                            </div>
                        {% endif %}

                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_BUSINESS_UNIT') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                            {% set businessUnitValue = arrival ? arrival.businessUnit %}
                            <div class="form-group">
                                <label title="Business unit">{{ 'acheminement.Business unit'|trans }}{{ required ? '*' }}</label>
                                <select name="businessUnit"
                                        class="form-control data {{ required ? 'needed' }} needs-default"
                                        title="Business Unit"
                                        data-init="{{ businessUnitValue }}">
                                    <option value=""></option>
                                    {% for businessUnit in dispatchBusinessUnits %}
                                        <option
                                            value="{{ businessUnit }}" {{ (businessUnit == businessUnitValue) ? 'selected' }}>{{ businessUnit }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_DEADLINE_DISPATCH') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                        {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                        <div class="form-group col-md-8 col-12">
                            <label>Echéance{{ required ? '*' }}</label>
                            <div class="input-group w-100">
                                <div class="input-group-prepend">
                                    <span class="input-group-text w-50px">Du</span>
                                </div>
                                <input type="date"
                                       class="form-control data {{ required ? 'needed' }}"
                                       name="startDate"
                                       title="Date d'échéance min"
                                       placeholder="jj/mm/aaaa"/>
                                <div class="input-group-prepend">
                                    <span class="input-group-text w-50px">Au</span>
                                </div>
                                <input type="date"
                                       class="form-control data {{ required ? 'needed' }}"
                                       name="endDate"
                                       title="Date d'échéance max"
                                       placeholder="jj/mm/aaaa"/>
                            </div>
                        </div>
                    {% endif %}
                </div>


                    {% if typeChampsLibres is not empty %}
                        <!-- CHAMPS LIBRES -->
                        <span class="toggle-collapsible expanded">Champs libres</span>
                        <div class="collapsible expanded free-fields-container mb-2">
                            {% for type in typeChampsLibres %}
                                <div class="d-none" id="{{ type.typeId }}-new">
                                    {% include 'champ_libre/freeFieldsViewing.html.twig' with {
                                        freeFields: type.champsLibres,
                                        freeFieldValues: [],
                                        colType: 'col-md-4 col-12',
                                        requiredType: 'requiredCreate',
                                        actionType: 'new'
                                    } %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                <div class="row">
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_COMMENT_DISPATCH') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                        {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                        <div class="form-group col">
                            <label for="commentaire">Commentaire{{ required ? '*' }}</label>
                            <input id='commentaire' class="commentaire form-control data {{ required ? 'needed' }}" name="commentaire" type="hidden">
                            <div class="editor-container" id="editor-container-new">
                            </div>
                        </div>
                    {% endif %}

                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_ATTACHMENTS_DISPATCH') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedFormsCreate') %}
                        {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToCreate') %}
                        <div class="form-group col-md-4 col-12">
                            {% include 'attachment/attachment.html.twig' with {
                                'isNew': true,
                                'required': required
                            } %}
                        </div>
                    {% else %}
                        <input type="hidden" name="isAttachmentForm" value="1"/>
                    {% endif %}
                </div>

                {% if packs is defined and packs is not empty %}
                    <div class="row">
                        <div class="col-12">
                            <label>Colis à acheminer</label>
                            <div class="card p-3">
                                {% for pack in packs %}
                                    {% include 'dispatch/dispatchPackList.html.twig' with {
                                        'pack': pack,
                                        'index': loop.index0
                                    } %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewDispatch" type="button" class="btn btn-success">Enregistrer</button>
                {# {% if fromArrival %} #}
                {# <button id="submitNewDispatchWithBL" type="button" class="btn btn-success">Enregistrer et générer le BL</button> #}
                {# {% endif %} #}
            </div>
        </div>
    </div>
</form>
