{% import 'form.html.twig' as form %}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <label class="w-100 col-12">
                {{ form.select('buyer', trans('Demande', 'Acheminements', 'Bon de livraison', 'Client acheteur'), true, {
                    type: 'customers',
                    labelOptions: {
                        class: 'm-0',
                    },
                    items: [{label: buyer, value: buyer, selected: true}]
                }) }}
            </label>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Téléphone') }}</label>
            </div>
            <div class="col-12">
                <input class="form-control data forbidden-phone-numbers"
                       name="buyerPhone"
                       maxlength="50"
                       value="{{ buyerPhone }}"
                       title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Téléphone', false) }}"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Fax') }}</label>
            </div>
            <div class="col-12">
                <input class="form-control data forbidden-phone-numbers"
                       name="buyerFax"
                       maxlength="50"
                       value="{{ buyerFax }}"
                       title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Fax', false) }}"/>
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Expéditeur') }}</label>
            </div>
            <div class="col-12">
                <textarea title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Expéditeur') }}"
                          name="consignor"
                          style="resize: none"
                          oninput="limitTextareaLength($(this), 7, 50)"
                          rows="7"
                          class="form-control data needed">{{ consignor }}</textarea>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Adresse de livraison') }}</label>
            </div>
            <div class="col-12">
                <textarea title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Adresse de livraison') }}"
                          name="deliveryAddress"
                          style="resize: none"
                          oninput="limitTextareaLength($(this), 7, 50)"
                          rows="7"
                          class="form-control data needed">{{ deliveryAddress }}</textarea>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de livraison') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de livraison') }}"
                       name="deliveryNumber"
                       value="{{ deliveryNumber }}"
                       class="form-control data needed"
                       disabled/>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Date de livraison') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Date de livraison') }}"
                       name="deliveryDate"
                       value="{{ deliveryDate }}"
                       class="form-control data"
                       type="date"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de commande de vente') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de commande de vente') }}"
                       name="salesOrderNumber"
                       maxlength="50"
                       value="{{ salesOrderNumber }}"
                       class="form-control data needed"/>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Lettre de voiture') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Lettre de voiture') }}"
                       name="wayBill"
                       maxlength="50"
                       value="{{ wayBill }}"
                       class="form-control data"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Bon de commande client') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Bon de commande client') }}"
                       name="customerPONumber"
                       maxlength="50"
                       value="{{ customerPONumber }}"
                       class="form-control data needed"/>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Date commande client') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Date commande client') }}"
                       name="customerPODate"
                       class="form-control data"
                       value="{{ customerPODate }}"
                       type="date"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Réponse numéro commande') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Réponse numéro commande') }}"
                       name="respOrderNb"
                       maxlength="50"
                       value="{{ respOrderNb }}"
                       class="form-control data"/>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de projet') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de projet') }}"
                       name="projectNumber"
                       maxlength="50"
                       value="{{ projectNumber }}"
                       class="form-control data needed"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Général', 'Urgence') }}</label>
            </div>
            <div class="col-12">
                <select title="{{ trans('Demande', 'Général', 'Urgence') }}"
                        name="emergency"
                        class="form-control data">
                    <option value=""></option>
                    {% for emergencyValue in dispatchEmergencyValues %}
                        <option value="{{ emergencyValue }}"
                                {{ dispatchEmergency == emergencyValue ? 'selected' }}>
                            {{ emergencyValue }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Contact') }}</label>
            </div>
            <div class="col-12">
                <select class="form-control data needed"
                        name="username"
                        title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Contact') }}"
                        disabled>
                    <option value="{{ username }}" selected>{{ username }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Téléphone') }}</label>
            </div>
            <div class="col-12">
                <input class="form-control data forbidden-phone-numbers needed"
                       name="userPhone"
                       value="{{ userPhone }}"
                       title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Téléphone') }}"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Fax') }}</label>
            </div>
            <div class="col-12">
                <input class="form-control data forbidden-phone-numbers"
                       name="userFax"
                       maxlength="50"
                       value="{{ userFax }}"
                       title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Fax') }}"/>
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro facture') }}</label>
            </div>
            <div class="col-12">
                <input class="form-control data"
                       name="invoiceNumber"
                       maxlength="50"
                       value="{{ invoiceNumber }}"
                       title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro facture') }}"/>
            </div>
            <div class="col-12">
                <button class="btn btn-primary btn-sm mt-2"
                        type="button"
                        onclick="copyTo($(this), 'invoiceNumber', 'soldNumber')">
                    {{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Copier vers Numéro vente') }}
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro vente') }}</label>
            </div>
            <div class="col-12">
                <input class="form-control data"
                       name="soldNumber"
                       maxlength="50"
                       value="{{ soldNumber }}"
                       title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro vente') }}"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Facturé à') }}</label>
            </div>
            <div class="col-12">
                <textarea title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Facturé à') }}"
                          name="invoiceTo"
                          style="resize: none"
                          oninput="limitTextareaLength($(this), 7, 50)"
                          rows="7"
                          class="form-control data needed">{{ invoiceTo }}</textarea>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Vendu à') }}</label>
            </div>
            <div class="col-12">
                <textarea title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Vendu à') }}"
                          name="soldTo"
                          style="resize: none"
                          oninput="limitTextareaLength($(this), 7, 50)"
                          rows="7"
                          class="form-control data needed">{{ soldTo }}</textarea>
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Nom dernier utilisateur') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Nom dernier utilisateur') }}"
                       name="endUserNo"
                       value="{{ endUserNo }}"
                       class="form-control data needed"/>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-auto">
                        <button class="btn btn-primary btn-sm mt-2"
                                type="button"
                                onclick="copyTo($(this), 'endUserNo', 'endUser')">
                            {{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Copier vers Utilisateur final') }}
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary btn-sm mt-2"
                                type="button"
                                onclick="copyTo($(this), 'endUserNo', 'deliverTo')">
                            {{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Copier vers Livrer à') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de livraison') }}</label>
            </div>
            <div class="col-12">
                <input title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro de livraison') }}"
                       name="deliverNo"
                       maxlength="50"
                       value="{{ deliverNo }}"
                       class="form-control data needed"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Dernier utilisateur') }}</label>
            </div>
            <div class="col-12">
                <textarea title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Dernier utilisateur') }}"
                          name="endUser"
                          style="resize: none"
                          oninput="limitTextareaLength($(this), 7, 50)"
                          rows="7"
                          class="form-control data">{{ endUser }}</textarea>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Livrer à') }}</label>
            </div>
            <div class="col-12">
                <textarea title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Livrer à') }}"
                          name="deliverTo"
                          style="resize: none"
                          oninput="limitTextareaLength($(this), 7, 50)"
                          rows="7"
                          class="form-control data">{{ deliverTo }}</textarea>
            </div>
        </div>
    </div>
</div>
<hr class="mb-4"/>
{% if fromDelivery is defined and not fromDelivery %}
    <div class="row">
        <div class="col-12">
            <div class="wii-section-title">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Ligne du BL') }}</div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Numéro') }}</label>
                </div>
                <div class="col-3">
                    <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Général', 'Quantité à acheminer') }}</label>
                </div>
                <div class="col-6">
                    <label class="wii-field-name">{{ trans("Général", null, "Modale", 'Commentaire') }}</label>
                </div>
            </div>
            {% for dispatchPack in packs %}
                {% set isHidden = loop.index0 > 6 %}
                <div class="form-group row {{ isHidden ? 'd-none' }}"
                     data-multiple-key="packs"
                     data-multiple-object-index="{{ loop.index0 }}">
                    <div class="col-3">
                        <input class="form-control data needed"
                               name="code"
                               title="Numéro"
                               value="{{ dispatchPack.code }}"
                               disabled/>
                    </div>
                    <div class="col-3">
                        <label class="sr-only">{{ trans('Demande', 'Acheminements', 'Détails acheminement - Liste des unités logistiques', 'Quantité à acheminer', false) }}</label>
                        <input class="form-control data needed"
                               name="quantity"
                               title="{{ trans('Demande', 'Acheminements', 'Détails acheminement - Liste des unités logistiques', 'Quantité à acheminer', false) }}"
                               type="number"
                               step="1"
                               min="1"
                               value="{{ dispatchPack.quantity }}"/>
                    </div>
                    <div class="col-6">
                        <label class="sr-only">{{ trans("Général", null, "Modale", 'Commentaire') }}</label>
                        <textarea class="form-control data {{ not isHidden ? 'needed' }}"
                                  name="comment"
                                  title="{{ trans("Général", null, "Modale", 'Commentaire') }}"
                                  rows="1"
                                  oninput="limitTextareaLength($(this), 7, 100)">{{ (dispatchPack.comment|striptags) ? (dispatchPack.comment|striptags) : ' ' }}</textarea>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<hr class="mb-4"/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Expéditeur') }}</label>
            </div>
            <div class="col-12">
                <input class="form-control data needed"
                       name="consignor2"
                       value="{{ consignor2 }}"
                       title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Expéditeur') }}"/>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Date') }}</label>
            </div>
            <div class="col-12">
                <input class="form-control data needed"
                       name="date"
                       value="{{ date }}"
                       title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Date') }}"/>
            </div>
        </div>
    </div>
</div>
<div class="pb-5"></div>
<div class="row">
    <div class="col-12">
        <div class="form-group row">
            <div class="col-12">
                <label class="wii-field-name">{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Note(s)') }}</label>
            </div>
            <div class="col-12">
                <textarea class="form-control data"
                          name="notes"
                          title="{{ trans('Demande', 'Acheminements', 'Bon de livraison', 'Note(s)') }}"
                          style="resize: none"
                          oninput="limitTextareaLength($(this), 3, 100)"
                          rows="3">{{ notes }}</textarea>
            </div>
        </div>
    </div>
</div>
