{% extends 'layout.html.twig' %}

{% block title %}Demande | {{ 'acheminement.Acheminement'|trans }} | Détails{% endblock %}
{% block title_tooltip %}Demande | Acheminement | Détails{% endblock %}
{% block titleLink path('dispatch_index') %}

{% block page_content %}
    <input type="hidden" id="forbiddenPhoneNumbers" value="{{ app_forbidden_phones }}"/>
    <input type="hidden" id="dispatchId" value="{{ dispatch.id }}"/>
    <input type="hidden" id="keepPackModalOpen" value="{{ keep_pack_modal_open }}"/>
    <input type="hidden" id="printBL" value="{{ printBL }}"/>

    <div class="m-4">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "dispatch/dispatch-show-header.html.twig" with {
                        dispatch: dispatch,
                        showDetails: detailsConfig,
                        modifiable: modifiable
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="wii-page-card">
                    <div class="row mb-2">
                        <h5 class="col-auto h5" title="Liste des colis">{{ 'colis.Liste des colis'|trans }}</h5>
                    </div>
                    {% if modifiable
                          and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::ADD_PACK'))
                        %}
                        <div class="row wii-page-card-header">
                            <div class="col-auto ml-auto">
                                <button onclick="openNewPackModal()"
                                        class="btn btn-primary"
                                        title="Ajouter un colis">
                                    <i class="fa fa-plus mr-2"></i>
                                    {{ 'colis.Ajouter un colis'|trans }}
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <table id="packTable" class="table w-100"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "dispatch/modalDeleteDispatch.html.twig" with {dispatch: dispatch} %}
    {% include "dispatch/modalEditDispatch.html.twig" %}
    {% include "dispatch/modalShowPack.html.twig" with newPackConfig %}
    {% include "dispatch/modalPack.html.twig" with newPackConfig %}
    {% include "dispatch/modalValidateDispatch.html.twig" with dispatchValidate %}
    {% include "dispatch/modalTreatDispatch.html.twig" with dispatchTreat %}
    {% include "dispatch/modalDeletePack.html.twig" %}
    {% include "dispatch/modalPrintDeliveryNote.html.twig" %}
    {% include "dispatch/modalPrintWayBill.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/dispatch-show.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
