{% extends 'layout.html.twig' %}

{% block title %}{{ trans('Demande', 'Général', 'Demande', false) }} | {{ trans('Demande', 'Acheminements', 'Divers', 'Acheminement', false) }} | Détails{% endblock %}
{% block title_tooltip %}Demande | Acheminement | Détails{% endblock %}
{% block titleLink path('dispatch_index') %}

{% block page_content %}
    <input type="hidden" id="forbiddenPhoneNumbers" value="{{ app_forbidden_phones }}"/>
    <input type="hidden" id="dispatchId" value="{{ dispatch.id }}"/>
    <input type="hidden" id="printBL" value="{{ printBL }}"/>
    <input type="hidden" id="newPackRow" value="{{ newPackRow | json_encode }}"/>
    <input type="hidden" id="isEdit" value="{{ modifiable }}"/>

    <div class="m-4" style="padding-bottom: 175px;">
        <div class="row">
            <div class="col-12">
                <div class="zone-entete">
                    {% include "dispatch/dispatch-show-header.html.twig" with {
                        dispatch: dispatch,
                        showDetails: detailsConfig,
                        modifiable: modifiable
                    } %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="wii-box focus-shadow drop-below">
                    <div class="header wii-title" title="Liste des colis">{{ trans('Demande', 'Acheminements', 'Détails acheminement - Liste des unités logistiques', 'Liste des UL', false) }}</div>
                    <div class="p-3">
                        <table id="packTable" class="wii-table w-100"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "dispatch/modalDeleteDispatch.html.twig" with {dispatch: dispatch} %}
    {% include "dispatch/modalEditDispatch.html.twig" %}
    {% include "dispatch/modalValidateDispatch.html.twig" with dispatchValidate %}
    {% include "dispatch/modalTreatDispatch.html.twig" with dispatchTreat %}
    {% include "dispatch/modalDeletePack.html.twig" %}
    {% include "dispatch/modalPrintDeliveryNote.html.twig" %}
    {% include "dispatch/modalPrintWayBill.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/pages/dispatch-show.js') }}?v={{ web_version }}"></script>
{% endblock %}
