{% extends 'utils/show-header.html.twig' %}

{% block showTitle ('acheminement.acheminement'|trans ~' n°'~ acheminement.number) %}

{% block showActions %}
    <div class="btn-group">
        {% if modifiable %}
            {% set hasRightEdit = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
            {% set hasRightDelete = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::DELETE')) %}
            {% if hasRightEdit %}
                <button type="button"
                        data-id='{{ acheminement.id }}'
                        onclick="validateAcheminement({{ acheminement.id }}, $(this))"
                        class="btn btn-primary btn-ripple split-button">
                    <i class="fa fa-check mr-2 button-icon"></i>
                    Valider la demande
                </button>
            {% endif %}
            <button type="button"
                    class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="fa fa-angle-down"></span>
            </button>
            <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right pointer">
                {% if hasRightEdit %}
                    <a href="#"
                       data-id='{{ acheminement.id }}'
                       data-target='#modalEditAcheminements'
                       data-toggle='modal'
                       onclick="editRow($(this), Routing.generate('acheminement_edit_api', true), $('#modalEditAcheminements'), $('#submitEditAcheminements'), true, '#modalEditAcheminements .editor-container-edit')"
                       class="dropdown-item">
                        <i class="fa fa-pen mr-2"></i>Modifier
                    </a>
                {% endif %}
                {% if hasRightDelete %}
                    <a href="" data-id='{{ acheminement.id }}' data-target='#modalDeleteAcheminements' data-toggle='modal'
                       class="dropdown-item">
                        <i class="fa fa-trash mr-2"></i>Supprimer</a>
                {% endif %}
                    <a class="dropdown-item"
                       id="print-btn-acheminement-{{ acheminement.id }}"
                       href="{{ path('print_acheminement_state_sheet', {acheminement: acheminement.id}) }}">
                        <i class='fas fa-print mr-2'></i>Imprimer
                    </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
