{% extends 'layout.html.twig' %}

{% block title %}Demande | {{ 'acheminement.acheminements'|trans }}{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersAcheminements.html.twig' with {
        'page': 'PAGE_ACHEMINEMENTS',
        'tableSelector': '#tableAcheminement'
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::CREATE')) %}
                    <button type="button"
                            data-toggle="modal"
                            data-target="#modalNewAcheminements"
                            class="btn btn-primary btn-ripple"
                            onclick='initNewAcheminementEditor("#modalNewAcheminements")'>
                        <span class="fa fa-plus mr-2"></span>{{ 'acheminement.nouvelle demande'|trans }}
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableAcheminement" class="table w-100"></table>
            </div>
        </div>
    </div>

    <input type="hidden" id="dropOffLocationAcheminement" value="{{ 'acheminement.emplacement dépose'|trans }}">
    <input type="hidden" id="takenLocationAcheminement" value="{{ 'acheminement.emplacement prise'|trans }}">

    {% include "acheminements/modalNewAcheminements.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/attachments.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/acheminements.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
