<div class="row">
    <div class="form-group col-10 clear-clone">
        <label for="colis">Colis*</label>
    {% for pack in acheminement.packs %}
        <input type="text" id="colis" class="form-control data-array inputColisClone needed" name="colis" maxlength="64" value="{{ pack }}">
    {% endfor %}
    </div>
    <div class="form-group col-2">
        <span class="btn btn-primary" onclick="addInputColisClone($(this))"><i class="fa fa-plus"></i></span>
    </div>
</div>
<div class="form-group">
    <label for="demandeur">Demandeur*</label>
    <select type="text" class="demandeur form-control data needed" name="demandeur">
        <option value="{{ acheminement.requester.id }}" selected>{{ acheminement.requester.username }}</option>
        {% for utilisateur in utilisateurs %}
            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="destinataire">Destinataire*</label>
    <select type="text" class="destinataire form-control data needed" name="destinataire">
        <option value="{{ acheminement.receiver.id }}" selected>{{ acheminement.receiver.username }}</option>
        {% for utilisateur in utilisateurs %}
            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group needed">
    <label for="prise">{{ 'acheminement.emplacement prise'|trans }}*</label>
    <input class="form-control data needed" name="prise" id="prise" value="{{ acheminement.locationFrom ? acheminement.locationFrom.label }}">
</div>
<div class="form-group needed">
    <label for="depose">{{ 'acheminement.emplacement dépose'|trans }}*</label>
    <input class="form-control data needed" name="depose" id="depose" value="{{ acheminement.locationTo ? acheminement.locationTo.label }}">
</div>
<div class="form-group col-12 w-100">
    <div class="input-group radio-btn">
        <label for="statut" class="my-auto mr-2">Statut*</label>
        <div>
                <span class="btn {{ statut == 1 ? 'active' : 'not-active'}}" data-toggle="statut" data-title="active"
                      onclick="changeStatus(this)" data-value="1">A Traiter</span><span
                    class="btn {{ statut == 0 ? 'active' : 'not-active'}}" data-toggle="statut" data-title="inactive"
                    onclick="changeStatus(this)" data-value="0">Traité</span>
        </div>
        <input id="s" type="hidden" value="{{statut}}" name="statut" class="data">
    </div>
</div>






<form method="" class="modal fade" id="modalNewAcheminements" role="dialog" aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{ 'acheminement.nouvelle demande'|trans }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-input container-fluid">
                <div class="form-group">
                    <label for="type">Statut*</label>
                    <select name="statut" class="form-control data d-block type needed">
                        <option value="">Statut à choisir...</option>
                        {% for statut in statuts %}
                            <option value="{{ statut.id }}">{{ statut.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="demandeur">Demandeur*</label>
                    <select class="demandeur form-control data needed ajax-autocomplete-user w-100" name="demandeur">
                        {% for utilisateur in utilisateurs %}
                            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
                        {% endfor %}
                    </select>
                    <input hidden
                           name="logged-user"
                           data-username="{{ app.user.username }}"
                           data-id="{{ app.user.id }}"/>
                </div>
                <div class="form-group">
                    <label for="destinataire">Destinataire*</label>
                    <select class="destinataire form-control data needed ajax-autocomplete-user w-100" name="destinataire">
                        <option value="" selected></option>
                        {% for utilisateur in utilisateurs %}
                            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group w-100">
                    <label for="prise">{{ 'acheminement.emplacement prise'|trans }}*</label>
                    <select name="prise" class="form-control data ajax-autocompleteEmplacement d-block needed" id="prise">
                    </select>
                </div>
                <div class="form-group w-100">
                    <label for="depose">{{ 'acheminement.emplacement dépose'|trans }}*</label>
                    <select name="depose" class="form-control data ajax-autocompleteEmplacement d-block needed" id="depose">
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">Type*</label>
                    <select name="type" class="form-control data d-block type needed"
                            onclick="typeChoice($(this), '-new', $('#typeContentNew'))"
                            onchange="toggleRequiredChampsLibres($(this),'create')">
                        <option value="">Type à choisir...</option>
                        {% for type in typeChampsLibres %}
                            <option value="{{ type.typeId }}">{{ type.typeLabel }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- CHAMPS LIBRES -->
                <div class="form-group col-12 blocVisible d-block" id='typeContentNew'>
                    {% for type in typeChampsLibres %}
                        <div class="d-none row" id="{{ type.typeId }}-new">
                            {% include 'champ_libre/freeFieldsVizualisation.html.twig' with {
                                freeFields: type.champsLibres,
                                freeFieldValues: [],
                                colType: 'col-12',
                                requiredType: 'requiredCreate',
                                actionType: 'new'
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="commentaire">Commentaire</label>
                    <input id='commentaire' class="commentaire form-control data" name="commentaire" type="hidden">
                    <div class="editor-container" id="editor-container-new">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        {% include 'attachment/attachment.html.twig' with {'isNew' : true} %}
                    </div>
                </div>
            </div>

            <div class="error-msg p-4"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewAcheminements" type="button" class="btn btn-success" onclick="setCommentaire('#editor-container-new')">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
