<div class="row">
    <div class="form-group col-10 clear-clone">
        <label for="colis">Colis*</label>
    {% for pack in acheminement.packs %}
        <input type="text" id="colis" class="form-control data-array inputColisClone" name="colis" maxlength="64" value="{{ pack }}">
    {% endfor %}
    </div>
    <div class="form-group col-2">
        <span class="btn btn-primary" onclick="addInputColisClone($(this))"><i class="fa fa-plus"></i></span>
    </div>
</div>
<div class="form-group">
    <label for="demandeur">Demandeur*</label>
    <select type="text" class="demandeur form-control data needed" name="demandeur">
        <option value="{{ acheminement.requester.id }}" selected>{{ acheminement.requester.username }}</option>
        {% for utilisateur in utilisateurs %}
            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="destinataire">Destinataire*</label>
    <select type="text" class="destinataire form-control data needed" name="destinataire">
        <option value="{{ acheminement.receiver.id }}" selected>{{ acheminement.receiver.username }}</option>
        {% for utilisateur in utilisateurs %}
            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group needed">
    <label for="prise">Emplacement prise*</label>
    <input class="form-control data needed" name="prise" id="prise" value="{{ acheminement.locationTake }}">
</div>
<div class="form-group needed">
    <label for="depose">Emplacement de dépose*</label>
    <input class="form-control data needed" name="depose" id="depose" value="{{ acheminement.locationDrop }}">
</div>
<div class="form-group col-12 w-100">
    <div class="input-group radio-btn">
        <label for="statut" class="my-auto mr-2">Statut*</label>
        <div>
                <span class="btn {{ statut == 1 ? 'active' : 'not-active'}}" data-toggle="statut" data-title="active"
                      onclick="changeStatus(this)" data-value="1">A Traiter</span><span
                    class="btn {{ statut == 0 ? 'active' : 'not-active'}}" data-toggle="statut" data-title="inactive"
                    onclick="changeStatus(this)" data-value="0">Traité</span>
        </div>
        <input id="s" type="hidden" value="{{statut}}" name="statut" class="data">
    </div>
</div>
