<div class="form-group">
    <label for="type">Type</label>
    <select name="type" class="form-control data d-block type needed"
            onclick="typeChoice($(this), '-new', $('#typeContentNew'))" disabled>
        <option selected value={{ acheminement.type.id }}>{{ acheminement.type.label }}</option>
        {% for type in typeChampsLibres %}
            {% if type.typeId != acheminement.type.id %}
                <option value="{{ type.typeId }}">{{ type.typeLabel }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="type">Statut</label>
    <select name="statut" class="form-control data d-block status-acheminement needed">
        <option selected value="{{ acheminement.statut.id }}">{{ acheminement.statut.nom }}</option>
        {% for statut in statuts %}
            {% if statut.id != acheminement.statut.id and statut.type.id == acheminement.type.id %}
                <option data-type-id="{{ statut.type.id }}" value="{{ statut.id }}">{{ statut.nom }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="demandeur">Demandeur</label>
    <select class="demandeur form-control data needed ajax-autocomplete-user-edit w-100" name="demandeur">
        <option selected value="{{ acheminement.requester.id }}">{{ acheminement.requester.username }}</option>
        {% for utilisateur in utilisateurs %}
            <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
        {% endfor %}
    </select>
    <input hidden
           name="logged-user"
           data-username="{{ app.user.username }}"
           data-id="{{ app.user.id }}"/>
</div>
<div class="form-group">
    <label for="destinataire">Destinataire</label>
    <select class="destinataire form-control data ajax-autocomplete-user-edit w-100" name="destinataire">
        <option value="{{ acheminement.receiver.id }}">{{ acheminement.receiver.username }}</option>
    </select>
</div>
<div class="form-group">
    <label>Echéance</label>
    <div class="input-group w-100">
        <div class="input-group-prepend">
            <span class="input-group-text w-50px">Du</span>
        </div>
        <input type="date"
               class="form-control data"
               name="startDate"
               value="{{ acheminement.startDate ? acheminement.startDate|date('Y-m-d') }}"
               title="Date d'échéance min"
               placeholder="jj/mm/aaaa"/>
        <div class="input-group-prepend">
            <span class="input-group-text w-50px">Au</span>
        </div>
        <input type="date"
               class="form-control data"
               name="endDate"
               value="{{ acheminement.endDate ? acheminement.endDate|date('Y-m-d') }}"
               title="Date d'échéance max"
               placeholder="jj/mm/aaaa"/>
    </div>
</div>
<div class="form-group">
    <label>Urgence</label>
    <div class="w-100">
        <label class="switch mt-2">
            <input class="checkbox"
                   name="urgent"
                {{ acheminement.urgent ? 'checked' }}
                   type="checkbox"/>
            <span class="slider round"></span>
        </label>
    </div>
</div>
<div class="form-group w-100">
    <label for="prise">{{ 'acheminement.emplacement prise'|trans }}</label>
    <select name="prise" class="form-control data ajax-autocompleteEmplacement-edit d-block needed location-prise" id="prise">
        <option value="{{ acheminement.locationFrom.id }}">{{ acheminement.locationFrom.label }}</option>
    </select>
</div>
<div class="form-group w-100">
    <label for="depose">{{ 'acheminement.emplacement dépose'|trans }}</label>
    <select name="depose" class="form-control data ajax-autocompleteEmplacement-edit d-block needed location-depose" id="depose">
        <option value="{{ acheminement.locationTo.id }}">{{ acheminement.locationTo.label }}</option>
    </select>
</div>

<!-- CHAMPS LIBRES -->
<div class="form-group col-12 blocVisible d-block" id='typeContentNew'>
    {% for type in typeChampsLibres %}
        <div class="d-none row" id="{{ type.typeId }}-new">
            {% include 'champ_libre/freeFieldsVizualisation.html.twig' with {
                freeFields: type.champsLibres,
                freeFieldValues: [],
                colType: 'col-12',
                requiredType: 'requiredCreate',
                actionType: 'new'
            } %}
        </div>
    {% endfor %}
</div>
<div class="form-group">
    <label for="commentaire">Commentaire</label>
    <input id='commentaire' class="commentaire form-control data" name="commentaire" type="hidden" value="{{ acheminement.commentaire }}">
    <div class="editor-container-edit" id="editor-container-edit" value="{{ acheminement.commentaire }}">{{ acheminement.commentaire|raw }}
    </div>
</div>
<div class="form-group">
    <div>
        {% include 'attachment/attachment.html.twig' with {'isNew' : false} %}
    </div>
</div>

