<div class="form-new-acheminement">
    <div class="form-group w-100">
        <label for="colis">{{"mouvement de traçabilité.Colis"|trans}}*</label>
        <select id="colis"
                class="form-control data needed select2-free select2-fit-content"
                name="colis"
                multiple="multiple">
        </select>
    </div>
    <div class="form-group">
        <label for="demandeur">Demandeur*</label>
        <select type="text" class="demandeur form-control data needed" name="demandeur">
            <option value="" selected></option>
            {% for utilisateur in utilisateurs %}
                <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="destinataire">Destinataire*</label>
        <select type="text" class="destinataire form-control data needed" name="destinataire">
            <option value="" selected></option>
            {% for utilisateur in utilisateurs %}
                <option value="{{ utilisateur.id }}">{{ utilisateur.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group needed">
        <label for="prise">Emplacement prise*</label>
        <input class="form-control data needed" name="prise" id="prise">
    </div>
    <div class="form-group needed">
        <label for="depose">Emplacement de dépose*</label>
        <input class="form-control data needed" name="depose" id="depose">
    </div>
</div>
