{% extends 'kiosk/layout.thml.twig' %}
{% import 'form.html.twig' as form %}

{% block title %} oui {# TODO TITLE #}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('kiosk') }}
{% endblock %}


{# TODO : A supprimer quand le devis sera terminé, uniqement dans un but de test pour les designs #}
{% block page_content %}
    <div class="corner home top position-absolute left-0 top-0 p-3">
        <img src="{{ setting_value('FILE_TOP_LEFT_LOGO') }}" >
    </div>

    <div class="corner home top position-absolute right-0 top-0 p-3">
        <img src="{{ setting_value('FILE_TOP_RIGHT_LOGO') }}" >
    </div>

    <div data-page-index="1">
        {% include 'kiosk/pages/home.html.twig' %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('kiosk') }}
{% endblock %}
