<div class="d-flex">
    <div class="dropdown dropright {{ not hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) ? 'd-none' }}">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer ">
            <a href="{{ path('handling_show',{ id: handling.id }) }}" class="action-on-click d-none"></a>
            {% if hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EDIT')) %}
                <a data-id="{{ handling.id }}"
                   href="{{ path('handling_edit_page',{ id: handling.id }) }}"
                   class="dropdown-item pointer">
                    <i class="fa fa-pen mr-2"></i>{{ trans('Général', null, 'Modale', 'Modifier') }}
                </a>
            {% endif %}

            {% set canDelete = handling.status.treated != 1 and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_UNPROCESSED_HANDLING'))
                or handling.status.treated == 1 and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_PROCESSED_HANDLING')) %}

            {% if canDelete %}
                <div class="dropdown-item d-flex align-items-center" data-id="{{ handling.id }}" data-target="#modalDeleteHandling" data-toggle="modal"
                     onclick="deleteRow($(this), $('#modalDeleteHandling'), $('#submitDeleteHandling'))">
                    <span class="wii-icon wii-icon-trash-black mr-2"></span>{{ trans('Général', null, 'Modale', 'Supprimer') }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
