{% extends 'layout.html.twig' %}
{% import 'form.html.twig' as form %}

{% block title %}{{ trans('Demande', 'Général', 'Demande') }} | {{ trans('Demande', 'Services', 'Service') }} | {{ trans('Général', null, 'Header', 'Détails') }}{% endblock %}
{% block titleLink path('handling_index') %}

{% block page_content %}
<div class="mb-4 ra-container d-flex justify-content-center align-content-center">
    <div class="row wii-form wii-column">
        <div class="col-md-6 col-12">
            <div class="wii-box">
                <div class="d-flex align-items-center mr-3">
                    <div class="mx-2">
                        {% set canDelete = hasRight(constant('App\\Entity\\Menu::DEM'),constant('App\\Entity\\Action::DELETE'))
                            and( handling.status.treated != 1 and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_UNPROCESSED_HANDLING'))
                            or handling.status.treated == 1 and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_PROCESSED_HANDLING'))) %}
                        {% if canDelete %}
                            <div class="dropdown dropright">
                                <div class="d-flex pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img alt="Actions" src="{{ asset('svg/dotsblack.svg') }}" height="20px" width="8px">
                                </div>
                                <div class="dropdown-menu dropdown-follow-gt pointer">
                                    <div class="dropdown-item d-flex"
                                         data-id="{{ handling.id }}"
                                         data-target="#modalDeleteHandling"
                                         data-toggle="modal"
                                         onclick="deleteRow($(this), $('#modalDeleteHandling'), $('#submitDeleteHandling'))">
                                        <span class="wii-icon wii-icon-trash-black mr-2"></span>
                                        {{ trans('Général', null, 'Modale', 'Supprimer') }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex py-2 w-100 justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-column">
                                <span class="wii-title" title="Acheminement">{{ trans('Demande', 'Services', 'Service') }}</span>
                                <span class="wii-small-text">
                                    {{ handling.number }}
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end">
                            <span class="wii-field-name">
                                {{ handling.requester.username }}
                            </span>
                        </div>
                    </div>
                </div>
                {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
                {% set emergency = handling.emergency %}
                {% if (fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedEdit')) and emergency %}
                    <div class="d-flex align-items-center bordered emergency-container pl-3">
                        <img src="{{ asset('svg/timeline-urgent.svg') }}" class="mr-2" alt="Icône urgence" width="17px">
                        <strong>{{ emergency }}</strong>
                    </div>
                {% endif %}
                <div class="{{ not ((fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedeEdit')) and emergency) ?  'bordered' }}">
                    <div class="content row ">
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item mt-2">
                                <span class="wii-field-name">{{ trans( 'Demande', 'Général', 'Type') }}</span>
                                <span class="wii-field-text">
                                    {{ handling.type.label }}
                                </span>
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item mt-2">
                                {{ form.input('subject', trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Objet'), true, handling.subject, {
                                    attributes: {
                                        'data-short-label': 'Objet',
                                    },
                                }) }}
                            </div>
                        </div>
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
                            <div class="col-6 d-flex flex-column mt-2">
                                {{ form.select('emergency', trans( 'Demande', 'Général', 'Urgence'), true, {
                                    items: emergencies,
                                    required: false,
                                    emptyOption : { value : null , text : trans( 'Demande', 'Général', 'Non urgent', false), selected : emergency ? false : true},
                                }) }}
                            </div>
                        {% elseif fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            <div class="col-6 d-flex flex-column">
                                <div class="box-item my-2">
                                    <span class="wii-field-name">{{ trans( 'Demande', 'Général', 'Urgence') }}</span>
                                    <span class="wii-field-text">
                                        {{ emergency == '' ? '-' : emergency }}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVERS_HANDLING') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
                            <div class="col-6 d-flex flex-column mt-2">
                                {{ form.select('receivers', trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Destinataires'), required, {
                                    items: receivers,
                                    type: 'user',
                                    multiple :true,
                                    inputClass: 'receivers-picker',
                                }) }}
                            </div>
                        {% elseif fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            <div class="col-6 d-flex flex-column">
                                <div class="box-item my-2">
                                    <span class="wii-field-name">{{ trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Destinataires') }}</span>
                                    {% if handling.receivers is not empty %}
                                        {% for receiver in handling.receivers %}
                                            <span class="wii-field-text">
                                                {{ receiver.username }}
                                            </span>
                                        {% endfor %}
                                    {% else %}
                                        <span class="wii-field-text">-</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOADING_ZONE') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
                            <div class="col-6 d-flex flex-column mt-2">
                                {{ form.input('source', trans('Demande', 'Services', 'Modale et détails', 'Chargement'), required, handling.source, {
                                    attributes: {
                                        'data-short-label': 'Chargement',
                                    },
                                }) }}
                            </div>
                        {% elseif fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            <div class="col-6 d-flex flex-column">
                                <div class="box-item my-2">
                                    <span class="wii-field-name">{{ trans('Demande', 'Services', 'Modale et détails', 'Chargement') }}</span>
                                    <span class="wii-field-text">
                                        {{ handling.source ? handling.source : '-' }}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_UNLOADING_ZONE') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
                            <div class="col-6 d-flex flex-column mt-2">
                                {{ form.input('destination', trans('Demande', 'Services', 'Modale et détails', 'Déchargement'), required, handling.source, {
                                    attributes: {
                                        'data-short-label': 'Chargement',
                                    },
                                }) }}
                            </div>
                        {% elseif fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            <div class="col-6 d-flex flex-column">
                                <div class="box-item my-2">
                                    <span class="wii-field-name">{{ trans('Demande', 'Services', 'Modale et détails', 'Déchargement')}}</span>
                                    <span class="wii-field-text">
                                        {{ handling.destination ? handling.destination : '-'}}
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                        {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIED_OUT_OPERATION_COUNT') %}
                        {% if fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') %}
                            {% set required = fieldsParam|isFieldRequired(fieldCode, 'requiredEdit') %}
                            <div class="col-6 d-flex flex-column mt-2">
                                {{ form.number('carriedOutOperationCount', trans('Demande', 'Services', 'Modale et détails', 'Nombre d\'opération(s) réalisée(s)'), required, handling.carriedOutOperationCount, {
                                    labelClass: 'w-100',
                                    min: 0
                                }) }}
                            </div>
                        {% elseif fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') %}
                            <div class="col-6 d-flex flex-column">
                                <div class="box-item my-2">
                                    <span class="wii-field-name">{{ trans('Demande', 'Services', 'Modale et détails', 'Nombre d\'opération(s) réalisée(s)')}}</span>
                                    <span class="wii-field-text">
                                    {{ handling.carriedOutOperationCount ? handling.carriedOutOperationCount : '-'}}
                                </span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="content">
                    <div class="d-flex flex-wrap w-100">
                        {% include 'attachment/attachment.html.twig' with {
                            required : false,
                            'isNew': false,
                            attachments : handling.attachments,
                            editAttachments : true,
                            fieldNameClass : 'wii-subtitle',
                            override: true,
                        } %}
                    </div>
                </div>
                <div class="content">
                    <div class="wii-subtitle">{{ trans('Général', null, 'Modale', 'Commentaire') }}</div>
                    <div>
                        <input class="commentaire form-control data" name="comment" type="hidden" id="commentaire">
                        <div class="editor-container-new" data-wysiwyg>{{ handling.comment | striptags }}</div>
                    </div>
                </div>
            </div>
            <div class="wii-box ">
                <div class="header wii-title">{{ trans('Général', null, 'Modale', 'Champs libres') }}</div>
                <div class="content">
                    {% include 'free_field/freeFieldsEdit.html.twig' with {
                        freeFields: freeFields,
                        freeFieldValues: handling.freeFields,
                        colType: 'col-md-6 col-12 w-100',
                        requiredType: 'requiredEdit',
                        actionType: 'edit',
                        needsDateFormatting: true
                    } %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="wii-box ">
                <div class="header wii-title d-flex justify-content-between">
                    <span class="d-flex align-items-center pl-2">{{ trans('Demande', 'Services', 'Modale et détails', 'Statut') }}</span>
                </div>
                <div class="content p-0">
                    <div class="content status-history-container p-0">
                        <div class="d-flex align-items-center justify-content-center p-3">
                            <div class="spinner-border text-primary" role="status"></div>
                            <span class="ml-3">{{ trans('Demande', 'Services', 'Modale et détails', 'Génération de l\'historique en cours') }}</span>
                        </div>
                    </div>
                </div>
                <div class="sub-header">
                    <img src="{{ asset('svg/calendar.svg') }}" alt="Icône calendrier" width="15px">
                    <span class="wii-field-name ml-2">{{ trans('Demande', 'Services', 'Modale et détails', 'Dates') }}</span>
                </div>
                <div class="content row ">
                    {% if handling.withoutHistory %}
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item my-2">
                                <span class="wii-field-name">{{ trans('Demande', 'Services', null, 'Date de création') }}</span>
                                <span class="wii-field-text">
                                    {{ app.user.dateFormat == 'd/m/Y'
                                        ? (handling.creationDate
                                            ? handling.creationDate | format_helper('longDate', {short: true, time: not setting_value('REMOVE_HOURS_DATETIME')})
                                            : '-'
                                        )
                                        : handling.creationDate | format_helper(setting_value('REMOVE_HOURS_DATETIME') ? 'date' : 'datetime', "", false, app.user)
                                    }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-6 d-flex flex-column">
                        <div class="box-item my-2">
                            {% set desiredDate = handling.desiredDate ? handling.desiredDate|date('Y-m-d\\TH:i') %}
                            <label class="wii-field-name" for="desired-date">{{ trans('Demande', 'Services', 'Modale et détails', 'Date attendue') }}*</label>
                            <input type="text"
                                   name="desired-date"
                                   title="Date attendue"
                                   data-init="{{ desiredDate }}"
                                   class="form-control data {{ setting_value('REMOVE_HOURS_DATETIME') ? 'date-field' : 'datetime-field' }} needed pointer"
                                   placeholder="{{ app.user.displayedDateFormat ~ (not setting_value('REMOVE_HOURS_DATETIME') ? ' MM:SS') }}"
                                   autocomplete="off"/>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <div class="box-item my-2">
                            <span class="wii-field-name">{{ trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Date de réalisation') }}</span>
                            <span class="wii-field-text">
                                {{ app.user.dateFormat == 'd/m/Y'
                                    ? (handling.validationDate
                                        ? handling.validationDate | format_helper('longDate', {short: true, time: not setting_value('REMOVE_HOURS_DATETIME')})
                                        : '-'
                                    )
                                    : handling.validationDate | format_helper(setting_value('REMOVE_HOURS_DATETIME') ? 'date' : 'datetime', "", false, app.user)
                                }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 d-flex flex-row-reverse">
                <button id="submitEditHandling"
                        name=''
                        type="button"
                        class="btn btn-success data mt-2"
                        data-submit="{{ submit_url }}">
                    {{ trans('Général', null, 'Modale', 'Enregistrer') }}
                </button>
                <a href="javascript:window.location = document.referrer">
                    <button type="button" class="btn btn-outline-secondary data mt-2 mr-2">
                        {{ trans('Général', null, 'Modale', 'Annuler') }}
                    </button>
                </a>

            </div>
        </div>
        <input hidden value='1' name="isAttachmentForm">
        <input hidden value='{{ handling.id }}' name="id">
    </div>
</div>
{% include "handling/modalDeleteHandling.html.twig" %}
<input hidden value="{{ handling.id }}" name="handlingId">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('handling-edit') }}
{% endblock %}
