{% extends 'layout.html.twig' %}

{% block title %}{{ trans('Demande', 'Général', 'Demande') }} | {{ trans('Demande', 'Services', 'Service') }}{% endblock %}
{% block title_tooltip %}{{ trans('Demande', 'Général', 'Demande') }} | {{ trans('Demande', 'Services', 'Service') }}{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersDemands.html.twig' with {
        page: 'PAGE_HAND',
        tableSelector: '#tableHandlings',
        callback: 'callbackSaveFilter',
        emergency: true,
        needsDateFormatting: true
    } %}
{% endblock %}

{% block page_content %}
    {% set fieldCodeReceiversHandling = constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVERS_HANDLING') %}
    <input type="hidden"
           id="showReceiversColumn"
           value="{{ (fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedCreate')
           or fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedEdit')
           or fieldsParam|isFieldRequired(fieldCodeReceiversHandling, 'displayedFilters')) ? 1 : 0 }}"/>

    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% if not hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::EXPORT')) %}
                    <button type="button"
                            class="btn btn-primary ml-auto split-button"
                            data-toggle="modal" data-target="#modalColumnVisible">
                        <i class="fa fa-cog mr-2"></i>
                        {{ trans('Général', null, 'Zone liste', 'Gestion des colonnes') }}
                    </button>
                {% else %}
                    <div class="btn-group">
                        <div class="btn btn-primary split-button" onclick="saveExportFile('get_handlings_csv', true, {}, false, Translation.of('Général', null, 'Modale', 'Veuillez saisir des dates dans le filtre en haut de page.'), true)">
                            <i class="fa fa-file-csv mr-2"></i>{{ trans('Général', null, 'Zone liste', 'Exporter au format CSV') }}
                        </div>
                        <button type="button"
                                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                            <a class="dropdown-item pointer" data-toggle="modal" data-target="#modalColumnVisible">
                                <i class="fa fa-cog mr-2"></i>
                                {{ trans('Général', null, 'Zone liste', 'Gestion des colonnes') }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableHandlings" class="table w-100"></table>
            </div>
        </div>
    </div>

    {% if selectedDate %}
        <input hidden id="selectedDate" value="{{ selectedDate | date('d/m/Y') }}"/>
    {% endif %}
    {% include "handling/modalDeleteHandling.html.twig" %}
    {% include "handling/modalNewHandling.html.twig" with modalNewConfig %}
    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'tableHandlings',
        'route': 'save_column_visible_for_handling'
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/handling.js') }}?v={{ web_version }}"></script>
{% endblock %}
