<form method="" class="modal fade" id="modalNewHandling" role="dialog" aria-labelledby="dataModalCenterTitle"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ 'services.Nouvelle demande de service'|trans }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
                <div class="row">
                    <div class="form-group col-md-6 col-12">
                        <label for="type">Type*</label>
                        <select name="type" class="form-control data d-block type needed"
                                onchange="onTypeChange($(this))">
                            <option value="">Type à choisir...</option>
                            {% set typeIsUnique = freeFieldsTypes | length == 1 %}
                            {% for type in freeFieldsTypes %}
                                <option value="{{ type.typeId }}" {{ typeIsUnique ? 'selected' }}>{{ type.typeLabel }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="type">Statut*</label>
                        <select name="status"
                                class="form-control data w-100 needed need-default">
                            <option value="">Choisir un statut...</option>
                            {% for status in handlingStatus %}
                                {% if
                                    (
                                    status.state == constant('App\\Entity\\Statut::TREATED')
                                    and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::TREAT_HANDLING'))
                                    ) or status.state != constant('App\\Entity\\Statut::TREATED') %}
                                    <option class="d-none" data-type-id="{{ status.type.id }}" value="{{ status.id }}">{{ status.nom }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="hidden" name="defaultStatuses" value="{{ defaultStatuses|json_encode }}"/>
                        <div class="error-empty-status d-none">
                            {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                                array: [],
                                warningLabel: 'Aucun statut pour ce type.',
                                redirectPath: path('status_param_index'),
                                redirectLabel: 'Aller vers la création des statuts.'
                            } %}
                        </div>
                    </div>

                    <div class="form-group needed col-md-6 col-12">
                        <label for="subject">Objet*</label>
                        <input class="form-control data needed" name="subject">
                    </div>

                    <div class="form-group col-md-6 col-12">
                        <label for="requester">Demandeur</label>
                        <select class="demandeur form-control data needed" name="requester" disabled>
                            <option value="{{ app.user.id }}">{{ app.user.username }}</option>
                        </select>
                    </div>

                    <div class="form-group col-12">
                        <label for="desired-date">Date attendue*</label>
                        <input type="datetime-local"
                               class="form-control data needed"
                               name="desired-date"
                               title="Date attendue"
                               placeholder="jj/mm/aaaa"
                               min="{{ 'now' | date('Y-m-d\\TH:i') }}"/>
                    </div>

                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
                    {% if fieldsParam|isFieldRequired(fieldCode, 'displayedForms') %}
                        {% set required = fieldsParam|isFieldRequired(fieldCode, 'mustToModify') %}
                        <div class="form-group col-12">
                            <label>Urgence{{ required ? '*' }}</label>
                            <div class="w-100">
                                <select
                                    class="form-control input-sm data {{ required ? 'needed' : '' }}"
                                    name="emergency">
                                    <option value="">Non urgent</option>
                                    {% for emergency in emergencies %}
                                        <option value="{{ emergency }}">{{ emergency }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    {% if fieldsParam|isFieldRequired('loadingZone', 'displayedForms') %}
                        <div class="form-group col-md-6 col-12">
                            <label for="source">Chargement{{ fieldsParam|isFieldRequired('loadingZone', 'mustToCreate') ? '*' : '' }}</label>
                            <input class="form-control data {{ fieldsParam|isFieldRequired('loadingZone', 'mustToCreate') ? 'needed' : '' }}"
                                   name="source">
                        </div>
                    {% endif %}

                    {% if fieldsParam|isFieldRequired('unloadingZone', 'displayedForms') %}
                        <div class="form-group col-md-6 col-12">
                            <label for="destination">Déchargement{{ fieldsParam|isFieldRequired('unloadingZone', 'mustToCreate') ? '*' : '' }}</label>
                            <input class="form-control data {{ fieldsParam|isFieldRequired('unloadingZone', 'mustToCreate') ? 'needed' : '' }}"
                                   name="destination">
                        </div>
                    {% endif %}

                    <!-- CHAMPS LIBRES -->
                    <div class="col-12">
                        <span class="toggle-collapsible expanded">Champs libres</span>
                        <div class="collapsible expanded free-fields-container mb-2">
                            {% for type in freeFieldsTypes %}
                                <div class="d-none row" id="{{ type.typeId }}-new">
                                    {% include 'champ_libre/freeFieldsViewing.html.twig' with {
                                        freeFields: type.freeFields,
                                        freeFieldValues: [],
                                        colType: 'col-md-4 col-12',
                                        requiredType: 'requiredCreate',
                                        actionType: 'new'
                                    } %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group col-md-8 col-12">
                        <label for="comment">Commentaire</label>
                        <input class="commentaire form-control data" name="comment" type="hidden" id="commentaire">
                        <div class="editor-container-new" id="editor-container-edit">
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-12">
                        {% include 'attachment/attachment.html.twig' with {'isNew' : true} %}
                    </div>
                </div>
            </div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewHandling" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
