<form method="" class="modal fade" id="modalNewHandling" role="dialog" aria-labelledby="dataModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ 'services.Nouvelle demande de service'|trans }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-input container-fluid">
                <div class="form-group">
                    <label for="type">Type*</label>
                    <select name="type" class="form-control data d-block type needed"
                            onclick="typeChoice($(this), '-new')"
                            onchange="onHandlingTypeChange($(this))">
                        <option value="">Type à choisir...</option>
                        {% for type in freeFieldsTypes %}
                            <option value="{{ type.typeId }}">{{ type.typeLabel }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="type">Statut*</label>
                    <select name="status"
                            class="form-control data w-100 needed need-default">
                        <option value="">Choisir un statut...</option>
                        {% for status in handlingStatus %}
                            <option class="d-none" data-type-id="{{ status.type.id }}" value="{{ status.id }}">{{ status.nom }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="handlingDefaultStatus" value="{{ handlingDefaultStatus|json_encode }}"/>
                    <div class="error-empty-status d-none">
                        {% include 'parametrage_global/warningSelectEmpty.html.twig' with {
                            array: [],
                            warningLabel: 'Attention ! Aucun statut pour ce type n\'a été créé.',
                            redirectPath: path('status_param_index'),
                            redirectLabel: 'Aller vers la création des statuts.'
                        } %}
                    </div>
                </div>

                <div class="form-group needed">
                    <label for="subject">Objet*</label>
                    <input class="form-control data needed" name="subject">
                </div>

                <div class="form-group">
                    <label for="requester">Demandeur</label>
                    <select type="text" class="demandeur form-control data needed" name="requester" disabled>
                        <option value="{{ app.user.id }}">{{ app.user.username }}</option>
                    </select>
                </div>

                <div class="form-group needed">
                    <label for="desired-date">Date attendue*</label>
                    <input type="datetime-local"
                           class="form-control data"
                           name="desired-date"
                           title="Date attendue"
                           placeholder="jj/mm/aaaa"
                           min = "{{ 'now' | date('Y-m-d\\TH:i') }}"/>
                </div>

                <div class="form-group needed">
                    <label for="source">Chargement*</label>
                    <input class="form-control data needed" name="source">
                </div>

                <div class="form-group needed">
                    <label for="destination">Déchargement*</label>
                    <input class="form-control data needed" name="destination">
                </div>

                <!-- CHAMPS LIBRES -->
                <span class="toggle-collapsible expanded">Champs libres</span>
                <div class="collapsible expanded free-fields-container mb-2">
                    {% for type in freeFieldsTypes %}
                        <div class="d-none row" id="{{ type.typeId }}-new">
                            {% include 'champ_libre/freeFieldsViewing.html.twig' with {
                                freeFields: type.freeFields,
                                freeFieldValues: [],
                                colType: 'col-md-4 col-12',
                                requiredType: 'requiredCreate',
                                actionType: 'new'
                            } %}
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="comment">Commentaire</label>
                    <input class="commentaire form-control data" name="comment" type="hidden" id="commentaire">
                    <div class="editor-container-new" id="editor-container-edit">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        {% include 'attachment/attachment.html.twig' with {'isNew' : true} %}
                    </div>
                </div>

                <div class="form-group">
                    <label>Urgence</label>
                    <label class="switch mt-2">
                        <input class="checkbox"
                               name="emergency"
                               type="checkbox"/>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="error-msg"></div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button id="submitNewHandling" type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</form>
