{% extends 'layout.html.twig' %}

{% block title %}{{ trans('Demande', 'Général', 'Demande') }} | {{ trans('Demande', 'Services', null, 'Service') }} | {{ trans('Général', null, 'Header', 'Détails') }}{% endblock %}
{% block titleLink path('handling_index') %}

{% block page_content %}
<div class="mb-4 details-page-container d-flex justify-content-center align-content-center">
    <div class="row wii-column">
        <div class="col-md-6 col-12">
            <div class="wii-box">
                <div class="d-flex align-items-center mr-3">
                    <div class="mx-2">
                        <div class="dropdown dropright">
                            {% set canDelete = hasRight(constant('App\\Entity\\Menu::DEM'),constant('App\\Entity\\Action::DELETE'))
                                and ( handling.status.treated != 1 and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_UNPROCESSED_HANDLING'))
                                    or handling.status.treated == 1 and hasRight(constant('App\\Entity\\Menu::DEM'), constant('App\\Entity\\Action::DELETE_PROCESSED_HANDLING'))) %}
                            {% if canDelete %}
                                <div class="d-flex pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img alt="Actions" src="{{ asset('svg/dotsblack.svg') }}" height="20px" width="8px">
                                </div>
                                <div class="dropdown-menu dropdown-follow-gt pointer">
                                    <div class="dropdown-item d-flex" data-id="{{ handling.id }}" data-target="#modalDeleteHandling" data-toggle="modal"
                                         onclick="deleteRow($(this), $('#modalDeleteHandling'), $('#submitDeleteHandling'))">
                                        <span class="wii-icon wii-icon-trash-black mr-2"></span>
                                        {{ trans('Général', null, 'Modale', 'Supprimer') }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex py-2 w-100 justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-column">
                                <span class="wii-title">{{ trans('Demande', 'Services', null, 'Service') }}</span>
                                <span class="wii-small-text">
                                    {{ handling.number }}
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end">
                            <span class="wii-field-name">
                                {{ handling.requester.username }}
                            </span>
                        </div>
                    </div>
                </div>
                {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
                {% set emergency = handling.emergency %}
                {% if (fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedEdit')) and emergency %}
                    <div class="d-flex align-items-center bordered emergency-container pl-3">
                        <img src="{{ asset('svg/timeline-urgent.svg') }}" class="mr-2" alt="Icône urgence" width="17px">
                        <strong>{{ emergency }}</strong>
                    </div>
                {% endif %}
                <div class="content row no-gutters bordered {{ not (fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedEdit') and emergency) ?  'bordered' }}">
                    <div class="col-6 d-flex flex-column">
                        <div class="box-item my-2">
                            <span class="wii-field-name">{{ trans( 'Demande', 'Général', 'Type') }}</span>
                            <span class="wii-field-text">
                                {{ handling.type.label }}
                            </span>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <div class="box-item my-2">
                            <span class="wii-field-name">{{ trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Objet') }}</span>
                            <span class="wii-field-text">
                                {{ handling.subject }}
                            </span>
                        </div>
                    </div>
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
                    {% if (fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedEdit')) %}
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item my-2">
                                <span class="wii-field-name">{{ trans( 'Demande', 'Général', 'Urgence') }}</span>
                                <span class="wii-field-text">
                                        {{ emergency == '' ? '-' : emergency}}
                                    </span>
                            </div>
                        </div>
                    {% endif %}
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_RECEIVERS_HANDLING') %}
                    {% if (fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedEdit')) %}
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item my-2">
                                <span class="wii-field-name">{{ trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Destinataires') }}</span>
                                {% if handling.receivers is not empty %}
                                    {% for receiver in handling.receivers  %}
                                        <span class="wii-field-text">
                                            {{ receiver.username }}
                                        </span>
                                    {% endfor %}
                                {% else %}
                                    <span class="wii-field-text">-</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOADING_ZONE') %}
                    {% if (fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedEdit')) %}
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item my-2">
                                <span class="wii-field-name">{{ trans('Demande', 'Services', 'Modale et détails', 'Chargement') }}</span>
                                <span class="wii-field-text">
                                    {{ handling.source == "" ? "-" : handling.source }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_UNLOADING_ZONE') %}
                    {% if (fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedEdit')) %}
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item my-2">
                                <span class="wii-field-name">{{ trans('Demande', 'Services', 'Modale et détails', 'Déchargement') }}</span>
                                <span class="wii-field-text">
                                    {{ handling.destination == "" ? "-" : handling.destination }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                    {% set fieldCode = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIED_OUT_OPERATION_COUNT') %}
                    {% if (fieldsParam|isFieldRequired(fieldCode, 'displayedCreate') or fieldsParam|isFieldRequired(fieldCode, 'displayedEdit')) %}
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item my-2">
                                <span class="wii-field-name">{{  trans('Demande', 'Services', 'Modale et détails', 'Nombre d\'opération(s) réalisée(s)') }}</span>
                                <span class="wii-field-text">
                                    {{ handling.carriedOutOperationCount ?? '-' }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="content">
                    <div class="d-flex flex-wrap w-100">
                        {% include 'attachment/attachment.html.twig' with {
                            'isNew': false,
                            attachments : handling.attachments,
                            editAttachments : false,
                            fullWidth: true,
                            fieldNameClass : 'wii-subtitle',
                            override: true,
                        } %}
                    </div>
                    {% if handling.attachments is empty %}
                        <div class="wii-small-text">
                            {{ trans('Demande', 'Services', 'Modale et détails', 'Ce service n\'a aucune pièce jointe') }}
                        </div>
                    {% endif %}
                </div>
                <div class="content comment-container">
                    <div class="wii-subtitle">{{ trans('Général', null, 'Modale', 'Commentaire') }}</div>
                    <div>
                        {% if handling.comment != '<p><br></p>' %}
                            {{ handling.comment | raw | nl2br }}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="wii-box ">
                <div class="header wii-title">{{ trans('Général', null, 'Modale', 'Champs libres') }}</div>
                <div class="content row no-gutters">
                    {% include 'free_field/freeFieldsShow.html.twig' with {
                        wrapperClass: 'col-6 d-flex flex-column',
                        values: handling.freeFields,
                        freeFields: freeFields,
                        emptyTitle: trans('Demande', 'Services', 'Modale et détails', "Ce service n'a aucun champ libre", false),
                        emptyLabel: trans('Demande', 'Services', 'Modale et détails', "Ce service n'a aucun champ libre", false),
                        needsDateFormatting: true
                    } %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="wii-box">
                <div class="header wii-title d-flex justify-content-between {{ handling.status.treated != 1 ? 'p-2' }}">
                    <span class="d-flex align-items-center pl-2">{{ trans('Demande', 'Services', 'Modale et détails', 'Statut') }}</span>
                    {% if handling.status.treated != 1 %}
                        <button id="" name='' type="button" class="btn btn-primary data d-flex align-items-center"
                                onclick="$('#modalEditStatut').modal('show')">
                            <img src="{{ asset('svg/timeline-status-white.svg') }}" alt="Icône statut timeline" width="15px" class="mr-2">
                            {{ trans('Demande', 'Services', 'Modale et détails', 'Changer de statut') }}
                        </button>
                    {% endif %}
                </div>
                <div class="content p-0">
                    <div class="content history-container p-0">
                        <div class="d-flex align-items-center justify-content-center p-3">
                            <div class="spinner-border text-primary" role="status"></div>
                            <span class="ml-3">{{ trans('Demande', 'Services', 'Modale et détails', 'Génération de l\'historique en cours') }}</span>
                        </div>
                    </div>
                </div>
                <div class="sub-header mt-2">
                    <img src="{{ asset('svg/calendar.svg') }}" alt="Icône calendrier" width="15px">
                    <span class="wii-field-name ml-2">{{ trans('Demande', 'Services', 'Modale et détails', 'Dates') }}</span>
                </div>
                <div class="content row no-gutters pt-1">
                    {% if handling.withoutHistory %}
                        <div class="col-6 d-flex flex-column">
                            <div class="box-item my-2">
                                <span class="wii-field-name">{{ trans('Général', null, 'Zone liste', 'Date de création') }}</span>
                                <span class="wii-field-text">
                                    {{ handling.creationDate | format_helper(setting_value('REMOVE_HOURS_DATETIME') ? 'date' : 'datetime', "", false, app.user) }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-6 d-flex flex-column">
                        <div class="box-item my-2">
                            <span class="wii-field-name">{{ trans('Demande', 'Services', 'Modale et détails', 'Date attendue') }}</span>
                            <span class="wii-field-text">
                                {{ language_service.currentUserLanguageSlug == constant('App\\Entity\\Language::FRENCH_SLUG')
                                    ? handling.desiredDate | format_helper('longDate', {short: true, time: not setting_value('REMOVE_HOURS_DATETIME')})
                                    : handling.desiredDate | format_helper(setting_value('REMOVE_HOURS_DATETIME') ? 'date' : 'datetime', "", false, app.user) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <div class="box-item my-2">
                            <span class="wii-field-name">{{ trans('Demande', 'Services', 'Zone liste - Nom de colonnes', 'Date de réalisation') }}</span>
                            <span class="wii-field-text">
                                {{ language_service.currentUserLanguageSlug == constant('App\\Entity\\Language::FRENCH_SLUG')
                                ? handling.validationDate | format_helper('longDate', {short: true, time: not setting_value('REMOVE_HOURS_DATETIME')})
                                : handling.validationDate | format_helper(setting_value('REMOVE_HOURS_DATETIME') ? 'date' : 'datetime', "", false, app.user) }}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="w-100 d-flex flex-row-reverse">
                {% if hasRight(constant('App\\Entity\\Menu::DEM'),constant('App\\Entity\\Action::EDIT')) %}
                    <a href="{{ path('handling_edit_page',{ id: handling.id }) }}">
                        <button id="" name='' type="button" class="btn btn-success data mt-2">
                            {{ trans('Général', null, 'Modale', 'Modifier') }}
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "handling/modalDeleteHandling.html.twig" %}
{% include "handling/modalEditStatut.html.twig" %}
<input hidden value="{{ handling.id }}" name="handlingId">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('handling-show') }}
{% endblock %}
