{% extends 'layout.html.twig' %}

{% block title %}Paramétrage global{% endblock %}

{% block page_content %}
    <div class="row mt-4">
        <a data-toggle="collapse" href="#dimsForm" role="button" aria-expanded="false"
           aria-controls="dimsForm" class="col-12 mb-4">
            <h1 class="btn btn-primary m-0 w-100 border-radius-light">Configuration des étiquettes<i
                    class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
        </a>
        <div class="collapse col-12" id="dimsForm">
            <div class="float-right btn btn-col-action btn-check-reverse" onclick="ajaxDims()">
                <i class='fas fa-check'></i>
            </div>
            <div class="form-group w-fit-content">
                <label for="">Hauteur (mm)</label>
                <input type="text" class="form-control data" name="height"
                       value="{{ dimensions_etiquettes.height is defined ? dimensions_etiquettes.height :'' }}">
            </div>
            <div class="form-group">
                <label for="">Largeur (mm)</label>
                <input type="text" class="form-control data" name="width"
                       value="{{ dimensions_etiquettes.width is defined ? dimensions_etiquettes.width : '' }}">
            </div>
            <div class="form-group">
                <label for="param-bl-etiquette">Numéro BL sur l'étiquette</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-bl-etiquette" {{ wantsBL ? wantsBL.parametre ? 'checked' : '' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <a data-toggle="collapse" href="#encForm" role="button" aria-expanded="false"
           aria-controls="encForm" class="col-12 mb-4">
            <h1 class="btn btn-primary m-0 w-100 border-radius-light">Configuration des exports CSV<i
                    class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
        </a>
        <div class="collapse col-12" id="encForm">
            <div class="float-right btn btn-col-action btn-check-reverse" onclick="ajaxEncodage()">
                <i class='fas fa-check'></i>
            </div>
            <div class="form-group w-fit-content">
                <label for="param-type-encodage">Encodage des exports CSV</label>
                <select name="param-type-encodage" class="data form-control">
                    {% for encodage in encodages %}
                        <option value="{{ encodage.value }}" {{ encodage.value == paramCodeENC.parametre ? 'selected' : '' }}>{{ encodage.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <a data-toggle="collapse" href="#prefixeForm" role="button" aria-expanded="false"
           aria-controls="prefixeForm" class="col-12 mb-4">
            <h1 class="btn btn-primary m-0 w-100 border-radius-light">Préfixage des noms de demandes<i
                    class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
        </a>
        <div class="collapse col-12" id="prefixeForm">
            <div class="float-right btn btn-col-action btn-check-reverse" onclick="updatePrefixDemand()">
                <i class='fas fa-check'></i>
            </div>
            <div class="form-group w-fit-content">
                <label for="typeDemande">Type de demande</label>
                <select name="typeDemande" class="form-control data d-block type" id="typeDemandePrefixageDemande"
                        onchange="getPrefixDemand($(this))">
                    <option value="aucunPrefixe">Type demande à choisir...</option>
                    <option value="{{ constant('App\\Entity\\PrefixeNomDemande::TYPE_LIVRAISON') }}">Demande de
                        livraison
                    </option>
                    <option value="{{ constant('App\\Entity\\PrefixeNomDemande::TYPE_COLLECTE') }}" hidden>Demande
                        de collecte
                    </option>
                    <option value="{{ constant('App\\Entity\\PrefixeNomDemande::TYPE_MANUT') }}" hidden>Demande de
                        manutention
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Préfixe</label>
                <input type="text" class="form-control data needed" name="prefixeDemande" id="prefixeDemande"
                       value="">
            </div>
            <div class="error-msg p-4"></div>
        </div>
    </div>

    <div class="row">
        <a data-toggle="collapse" href="#mailerServerForm" role="button" aria-expanded="false"
           aria-controls="mailerServerForm" class="col-12 mb-4">
            <h1 class="btn btn-primary m-0 w-100 border-radius-light">Configuration du serveur mail<i
                    class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
        </a>
        <div class="collapse col-12" id="mailerServerForm">
            <div class="float-right btn btn-col-action btn-check-reverse" onclick="ajaxMailerServer()">
                <i class='fas fa-check'></i>
            </div>
            <div class="form-group w-fit-content">
                <label for="">Serveur SMTP</label>
                <input type="text" class="form-control data" name="smtp"
                       value="{{ mailerServer.smtp is defined ? mailerServer.smtp :'' }}">
            </div>
            <div class="form-group">
                <label for="">Nom d'utilisateur</label>
                <input type="text" class="form-control data" name="user"
                       value="{{ mailerServer.user is defined ? mailerServer.user : '' }}">
            </div>
            <div class="form-group">
                <label for="">Mot de passe</label>
                <input type="password" class="form-control data" name="password"
                       value="{{ mailerServer.password is defined ? mailerServer.password : '' }}">
            </div>
            <div class="form-group">
                <label for="">Port</label>
                <input type='number' class="form-control data" name="port"
                       value="{{ mailerServer.port is defined ? mailerServer.port : '' }}">
            </div>
            <div class="form-group">
                <label for="">Protocol</label>
                <input type="text" class="form-control data" name="protocol"
                       value="{{ mailerServer.protocol is defined ? mailerServer.protocol : '' }}">
            </div>
        </div>
    </div>

    <div class="row">
        <a data-toggle="collapse" href="#paramReceptions" role="button" aria-expanded="false"
           aria-controls="paramReceptions" class="col-12 mb-4">
            <h1 class="btn btn-primary m-0 w-100 border-radius-light">Paramétrage réceptions<i
                    class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
        </a>
        <div class="collapse col-12" id="paramReceptions">
            <div class="row p-3">
                {% set checked = ((parametrageG.parametre is defined ? parametrageG.parametre : 0) == 1) ? 'checked' : '' %}
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3" {{ checked }} name="param-create-demande-livraison"
                           onchange="toggleActiveDemandeLivraison($(this), '{{ path('active_desactive_create_demande_livraison') }}')">
                    <span class="slider round"></span>
                </label>
                <label class="pl-1" for="param-create-demande-livraison">Créer une demande de livraison après
                    réception</label>
            </div>
            <div class="row p-3">
                {% set checked = ((parametrageGPrepa.parametre is defined ? parametrageGPrepa.parametre : 0) == 1) ? 'checked' : '' %}
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3" {{ checked }} name="param-create-prepa"
                           onchange="toggleActiveDemandeLivraison($(this), '{{ path('active_desactive_create_prepa') }}')">
                    <span class="slider round"></span>
                </label>
                <label class="pl-1" for="param-create-prepa">Créer une préparation après demande de livraison</label>
            </div>
        </div>
    </div>
    <div class="row">
        <a data-toggle="collapse" href="#paramArrivage" role="button" aria-expanded="false"
           aria-controls="paramArrivage" class="col-12 mb-4">
            <h1 class="btn btn-primary m-0 w-100 border-radius-light">Paramétrage arrivage<i
                    class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
        </a>
        <div class="collapse col-12" id="paramArrivage">
            <div class="row p-3">
                {% set checked = (redirect.parametre ? 'checked' : '') %}
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3" {{ checked }} name="param-create-demande-livraison"
                           onchange="toggleActiveDemandeLivraison($(this), '{{ path('active_desactive_redirection') }}')">
                    <span class="slider round"></span>
                </label>
                <label class="pl-1" for="param-create-demande-livraison">Redirection vers l'arrivage créé</label>
            </div>
        </div>
    </div>
    <div class="row">
        <a data-toggle="collapse" href="#paramDaysWorked" role="button" aria-expanded="false"
           aria-controls="paramDaysWorked" class="col-12 mb-4">
            <h1 class="btn btn-primary m-0 w-100 border-radius-light">Paramétrage des heures travaillées<i
                    class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
        </a>
        <div class="collapse col-12" id="paramDaysWorked">
            <table id="tableDays" class="table table-striped table-bordered w-100">
            </table>

            {% include 'parametrage_global/modalEditDays.html.twig' %}
        </div>
    </div>

    <div class="row">
        {% include 'parametrage_global/paramTranslations.html.twig' %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/parametrage-global.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
