<div class="row justify-content-center">
    <div class="col-auto">
        <h2 class="bold">Monitoring Emballage</h2>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging1" class="d-block">Emplacement 1</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging1">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_1')] %}
            <input hidden id="packagingLocation1" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging2" class="d-block">Emplacement 2</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging2">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_2')] %}
            <input hidden id="packagingLocation2" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging3" class="d-block">Emplacement 3</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging3">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_3')] %}
            <input hidden id="packagingLocation3" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging4" class="d-block">Emplacement 4</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging4">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_4')] %}
            <input hidden id="packagingLocation4" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging5" class="d-block">Emplacement 5</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging5">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_5')] %}
            <input hidden id="packagingLocation5" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging6" class="d-block">Emplacement 6</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging6">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_6')] %}
            <input hidden id="packagingLocation6" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging7" class="d-block">Emplacement 7</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging7">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_7')] %}
            <input hidden id="packagingLocation7" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
    </div>
    <div class="col-5 offset-1">
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging8" class="d-block">Emplacement 8</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging8">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_8')] %}
            <input hidden id="packagingLocation8" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging9" class="d-block">Emplacement RPA</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging9">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_9')] %}
            <input hidden id="packagingLocation9" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging10" class="d-block">Emplacement Litige</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging10">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_10')] %}
            <input hidden id="packagingLocation10" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging11" class="d-block">Emplacement Urgence</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging11" multiple>
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_11')] %}
            <input hidden id="packagingLocation11" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging12" class="d-block">Emplacements DSQR</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging12" multiple>
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_12')] %}
            <input hidden id="packagingLocation12" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging13" class="d-block">Emplacement destination traités par GT</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging13" multiple>
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_13')] %}
            <input hidden id="packagingLocation13" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging14" class="d-block">Emplacement origine traités par GT</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging14" multiple>
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_14')] %}
            <input hidden id="packagingLocation14" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
    </div>

</div>
