<a data-toggle="collapse" href="#paramDashboard" role="button" aria-expanded="false"
   aria-controls="paramReceptions" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">Configuration tableaux de bord
        <i class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
</a>
<div class="collapse col-12" id="paramDashboard">
    <div class="row">
        <div class="col-5">
            <h2 class="bold">Réception à quai</h2>
        </div>
        <div class="form-group offset-1 col-5">
            <h2 class="bold">Réception administrative</h2>
        </div>
        <div class="ml-auto col-1">
            <div class="btn btn-col-action btn-check-reverse" onclick="editDashboardParams()">
                <i class='fas fa-check'></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="carrierDock" class="d-block">Suivi des transporteurs</label>
                        <select class="form-control ajax-autocomplete-transporteur d-block data" id="carrierDock" multiple>
                        </select>
                    </div>
                </div>
                <input hidden id="carrierDockValue" data-id="{{ valueCarriers.id }}" data-text="{{ valueCarriers.text }}">
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationToTreat" class="d-block">Emplacement quai</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationToTreat" multiple>
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATION_DOCK')] %}
                <input hidden id="locationToTreatValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationWaitingDock" class="d-block">Emplacement en attente de dédouanement</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationWaitingDock" multiple>
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATION_WAITING_CLEARANCE_DOCK')] %}
                <input hidden id="locationWaitingDockValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationAvailable" class="d-block">Emplacement colis dédouanés et disponibles</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationAvailable" multiple>
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATION_AVAILABLE')] %}
                <input hidden id="locationAvailableValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationDropZone" class="d-block">Emplacement à distribuer en Drop Zones</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationDropZone" multiple>
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATION_TO_DROP_ZONES')] %}
                <input hidden id="locationDropZoneValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
        </div>

        <div class="col-5 offset-1">
            <div class="form-group w-fit-content">
                <label for="natureColis">Nature de colis 1er graphe</label>
                <select id="natureColis" class="form-control data">
                    {% for nature in natures %}
                        {% set selected = nature.id == existingNatureId ? 'selected' : '' %}
                        <option value="{{ nature.id }}" {{ selected }}>{{ nature.label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group w-211px">
                <div>
                    <label for="listNaturesColis" class="d-block">Natures de colis 2è graphe</label>
                    <select id="listNaturesColis" class="form-control d-block select2 data" multiple>
                        {% for nature in natures %}
                            {% set selected = nature.id in existingListNaturesId ? 'selected' : '' %}
                            <option value="{{ nature.id }}" {{ selected }}>{{ nature.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationWaitingAdmin" class="d-block">Emplacement en attente de dédouanement</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationWaitingAdmin" multiple>
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATION_WAITING_CLEARANCE_ADMIN')] %}
                <input hidden id="locationWaitingAdminValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationLitiges" class="d-block">Emplacement litiges</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationLitiges" multiple>
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATION_LITIGES')] %}
                <input hidden id="locationLitigesValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationUrgences" class="d-block">Emplacement urgences</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationUrgences" multiple>
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATION_URGENCES')] %}
                <input hidden id="locationUrgencesValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationsFirstGraph" class="d-block">Emplacements entrées à effectuer (1er graphe)</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationsFirstGraph" multiple="multiple">
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATIONS_1')] %}
                <input hidden id="locationsFirstGraphValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
            <div class="form-group w-fit-content">
                <div class="form-group w-450px">
                    <div class="w-100">
                        <label for="locationsSecondGraph" class="d-block">Emplacements entrées à effectuer (2è graphe)</label>
                        <select class="form-control ajax-autocomplete-location d-block data" id="locationsSecondGraph" multiple="multiple">
                        </select>
                    </div>
                </div>
                {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_LOCATIONS_2')] %}
                <input hidden id="locationsSecondGraphValue" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
            </div>
        </div>
    </div>
</div>
