<a data-toggle="collapse" href="#paramReceptions" role="button" aria-expanded="false"
   aria-controls="paramReceptions" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">Paramétrage réceptions<i
                class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
</a>
<div class="collapse col-12" id="paramReceptions">
    <div class="float-right btn btn-col-action btn-check-reverse" onclick="editReceptionStatus()">
        <i class='fas fa-check'></i>
    </div>
    <div class="row mt-2">
        <div class="form-group col-4 p-0">
            <div class="w-100">
                <label for="receptionLocation" class="d-block">Emplacement de réception par défaut</label>
                <select class="form-control ajax-autocomplete-location d-block" id="receptionLocation">
                </select>
            </div>
            <input hidden id="receptionLocationValue" data-id="{{ receptionLocation ? receptionLocation.id }}" data-text="{{ receptionLocation ? receptionLocation.text }}">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label class="d-block">Renommer les statuts de réception</label>
                    {% for status in listStatus %}
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="status-{{ status.id }}">{{ status.code }}</span>
                            </div>
                            <input type="text" class="form-control status" name="{{ status.id }}"
                                   aria-describedby="status-{{ status.id }}" value="{{ status.nom }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
