<a data-toggle="collapse" href="#dimsForm" role="button" aria-expanded="false"
   aria-controls="dimsForm" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">Configuration des étiquettes<i
                class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
</a>
<div class="collapse col-12" id="dimsForm">
    <div class="float-right btn btn-success" onclick="ajaxDims()">
        <i class='fas fa-check'></i>
    </div>
    <div class="form-group w-fit-content">
        <label for="">Hauteur (mm)</label>
        <input type="text" class="form-control data" name="height"
               value="{{ dimensions_etiquettes.height is defined ? dimensions_etiquettes.height :'' }}">
    </div>
    <div class="form-group w-fit-content">
        <label for="">Largeur (mm)</label>
        <input type="text" class="form-control data" name="width"
               value="{{ dimensions_etiquettes.width is defined ? dimensions_etiquettes.width : '' }}">
    </div>
    <div class="form-group w-fit-content">
        <label for="param-type-etiquette">Champ libre présent sur les étiquettes</label>
        <select name="param-cl-etiquette" class="data form-control select2 w-100">
            {% for cl in cls %}
                <option value="{{ cl.label }}" {{ cl.label == blChosen ? 'selected' : '' }}>{{ cl.label }}</option>
            {% endfor %}
        </select>
    </div>
    <span class="toggle-collapsible expanded">Arrivages</span>
    <div class="collapsible expanded mb-2">
        <div class="row mt-2">
            <div class="form-group col-6">
                <label for="param-bl-etiquette">Champ libre <span class="blChosen">"{{ blChosen }}"</span> sur les étiquettes</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-bl-etiquette" {{ wantsBL ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-group col-6">
                <label for="param-bl-etiquette">Afficher le destinataire sur étiquette colis d'arrivage</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-recipient-etiquette" {{ wantsRecipient ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="param-bl-etiquette">Afficher le numéro du colis dans l'arrivage</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-pack-count" {{ wantsPackCount ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-group col-6">
                <label for="param-bl-etiquette">Afficher les numéros de commande et le numéro de projet sur l'étiquette colis d'arrivage</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-command-project-numbers-etiquette" {{ wantsCommandAndProjectNumber ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label for="param-bl-etiquette">Afficher l'emplacement de dropzone sur l'étiquette colis d'arrivage</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-dz-location-etiquette" {{ wantsDZLocation ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

    <span class="toggle-collapsible expanded">Articles</span>
    <div class="collapsible expanded mb-2">
        <div class="row mt-2">
            <div class="form-group col-6">
                <label for="param-add-destination-location-article-label">Afficher l’emplacement de destination sur étiquette article de réception</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-add-destination-location-article-label" {{ wantsDestinationLocation ? 'checked' : '' }} onchange="toggleRecipient($(this))">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="form-group col-6">
                <label for="param-add-recipient-article-label">Afficher le destinataire sur étiquette article de réception</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-add-recipient-article-label" {{ wantsRecipientArticle ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label for="param-add-recipient-dropzone-location-article-label">Afficher l'emplacement de dropzone sur l'étiquette article de réception</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-add-recipient-dropzone-location-article-label" {{ wantsDropzoneLocationArticle ? 'checked' : '' }} onchange="toggleRecipient($(this))">
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="form-group col-6">
                <label for="param-add-batch-number-article-label">Afficher numéro de lot sur étiquette article de réception</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-add-batch-number-article-label" {{ wantsBatchNumberArticle ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <label for="param-add-expiration-date-article-label">Afficher date de péremption sur étiquette article de réception</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-add-expiration-date-article-label" {{ wantsExpirationDateArticle ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="form-group col-6">
                <label for="param-bl-etiquette">Afficher la quantité sur l'étiquette d'article</label>
                <label class="switch">
                    <input type="checkbox" class="checkbox col-3 data"
                           name="param-qtt-etiquette" {{ wantsQTT ? 'checked' : '' }}>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>


    <div class="form-group w-fit-content">
        <label for="param-type-etiquette">Type d'étiquette</label>
        <select name="param-type-etiquette" class="data form-control">
            {% for type in typesETQ %}
                <option value="{{ type.value }}" {{ type.value == paramCodeETQ ? 'selected' : '' }}>{{ type.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group d-flex">
            <img src="{{ logo ? app.request.scheme ~'://'~ app.request.httpHost ~ "/uploads/attachements/" ~ logo : '' }}"
                 id="preview-label-logo" alt="Logo choisi" height="50px" class="{{ logo ? '' : 'd-none' }}"/>

        <button class="btn btn-primary" onclick="$('#upload-label-logo').click();">{{ logo ? "<i class='fas fa-pencil-alt'></i> ": 'Choisir un logo'}}</button>

        <input type="file" id="upload-label-logo" name="logo" accept="image/png, image/jpeg, image/jpg" hidden>
    </div>
</div>
