<a data-toggle="collapse" href="#paramDispatches" role="button" aria-expanded="false"
   aria-controls="paramDispatches" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">
        Paramétrage acheminements
        <i class="fas fa-arrow-alt-circle-down ml-2"></i>
    </h1>
</a>
<div class="collapse col-12" id="paramDispatches">
    <div class="float-right btn btn-success" onclick="saveDispatchesParam()">
        <i class='fas fa-check'></i>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 col-12">
            <div class="row form-group">
                <label class="col-12">Lettre de voiture : Transporteur par défaut</label>
                <div class="col-12">
                    <textarea title="Lettre de voiture : transporteur par défaut"
                              name="waybillCarrier"
                              style="resize: none"
                              oninput="limitTextareaLength($(this), 7, 50)"
                              rows="7"
                              class="form-control data">{{ carrier }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="row form-group">
                <label class="col-12">Lettre de voiture : Expéditeur par défaut</label>
                <div class="col-12">
                    <textarea title="Lettre de voiture : Expéditeur"
                              name="waybillConsigner"
                              style="resize: none"
                              oninput="limitTextareaLength($(this), 7, 50)"
                              rows="7"
                              class="form-control data">{{ consignor }}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="row form-group">
                <label class="col-12">Lettre de voiture : Destinataire par défaut</label>
                <div class="col-12">
                    <textarea title="Lettre de voiture : transporteur par défaut"
                              name="waybillReceiver"
                              style="resize: none"
                              oninput="limitTextareaLength($(this), 7, 50)"
                              rows="7"
                              class="form-control data">{{ receiver }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 col-12">
            <div class="row form-group">
                <label class="col-12">Lettre de voiture : Contact expéditeur - Nom</label>
                <div class="col-12">
                    <input title="Lettre de voiture : Lieu de chargement"
                           name="waybillContactName"
                           class="form-control data"
                           value="{{ waybillContactName }}">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="row form-group">
                <label class="col-12">Lettre de voiture : Contact expéditeur - Téléphone/Mail</label>
                <div class="col-12">
                    <input title="Lettre de voiture : Lieu de chargement"
                           name="waybillContactPhoneMail"
                           class="form-control data"
                           value="{{ waybillContactPhoneMail }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 col-12">
            <div class="row form-group">
                <label class="col-12">Lettre de voiture : Lieu de chargement</label>
                <div class="col-12">
                    <input title="Lettre de voiture : Lieu de chargement"
                           name="waybillLocationFrom"
                           class="form-control data"
                           value="{{ locationFrom }}">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="row form-group">
                <label class="col-12">Lettre de voiture : Lieu de déchargement</label>
                <div class="col-12">
                    <input title="Lettre de voiture : Lieu de déchargement"
                           name="waybillLocationTo"
                           class="form-control data"
                           value="{{ locationTo }}">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group w-fit-content">
        <label for="param-type-encodage">Logo du bon de surconsommation</label>
        <div class="form-group d-flex">
            <img src="{{ overconsumption_logo ? app.request.scheme ~'://'~ app.request.httpHost ~ "/" ~ overconsumption_logo : '' }}"
                 id="preview-overconsumption-logo" alt="Logo choisi" height="50px" class="{{ not overconsumption_logo ? 'd-none' }}"/>

            <button class="btn btn-primary" onclick="$('#upload-overconsumption-logo').click();">{{ overconsumption_logo ? "<i class='fas fa-pencil-alt'></i> " : 'Choisir un logo'}}</button>

            <input type="file" id="upload-overconsumption-logo" accept="image/png, image/jpeg, image/jpg" hidden>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-12">
            {% set typeBill = overconsumptionBill ? overconsumptionBill|split(';')[0] %}
            {% set statutBill = overconsumptionBill ? overconsumptionBill|split(';')[1] %}
            <span>Génération bon de surconsommation pour type</span>
            <select name="overconsumptionBillType" class="ml-2">
                <option value=""></option>
                {% for type in types %}
                    {% set selected = typeBill == type.id %}
                    <option value="{{ type.id }}" {{ selected ? "selected" }}>{{ type.label }}</option>
                {% endfor %}
            </select>
            <span>passe {{ 'acheminement.acheminement'|trans }} au statut</span>
            <select name="overconsumptionBillStatut" class="ml-2">
                <option value=""></option>
                {% for status in statuses|filter(s => s.state == 1) %}
                    {% set selected = statutBill == status.id %}
                    <option value="{{ status.id }}" {{ selected ? "selected" }}>{{ status.nom }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row mt-2 mb-2">
        <div class="col-12">
            {% set checked = keepModal ? 'checked' %}
            <label class="switch">
                <input type="checkbox" class="checkbox col-3" {{ checked }} name="param-dispatch-pack-modal"
                       data-param="{{ constant('App\\Entity\\ParametrageGlobal::KEEP_DISPATCH_PACK_MODAL_OPEN') }}"
                       onchange="updateToggledParam($(this))">
                <span class="slider round"></span>
            </label>
            <label class="pl-1" for="param-redirect-arrival">{{ 'Garder la modale d\'ajout de colis ouverte à l\'enregistrement' | trans }}</label>
        </div>
    </div>
</div>
