<a data-toggle="collapse" href="#paramReceptions" role="button" aria-expanded="false"
   aria-controls="paramReceptions" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">Paramétrage réceptions<i
                class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
</a>
<div class="collapse col-12" id="paramReceptions">
    <div class="row p-3">
        {% set checked = (parametrageG == 1) ? 'checked' : '' %}
        <label class="switch">
            <input type="checkbox" class="checkbox col-3" {{ checked }} name="param-create-demande-livraison"
                   onchange="toggleActiveDemandeLivraison($(this), '{{ path('active_desactive_create_demande_livraison') }}')">
            <span class="slider round"></span>
        </label>
        <label class="pl-1" for="param-create-demande-livraison">Créer une demande de livraison après
            réception</label>
    </div>
    <div class="row p-3">
        {% set checked = (parametrageGPrepa == 1) ? 'checked' : '' %}
        <label class="switch">
            <input type="checkbox" class="checkbox col-3" {{ checked }} name="param-create-prepa"
                   onchange="toggleActiveDemandeLivraison($(this), '{{ path('active_desactive_create_prepa') }}')">
            <span class="slider round"></span>
        </label>
        <label class="pl-1" for="param-create-prepa">Créer une préparation après demande de livraison</label>
    </div>
    <div class="row p-3">
        <div class="form-group w-450px">
            <div class="w-100">
                <label for="receptionLocation" class="d-block">Emplacement de réception par défaut</label>
                <select class="form-control ajax-autocomplete-location d-block" id="receptionLocation">
                </select>
            </div>
        </div>
        <input hidden id="receptionLocationValue" data-id="{{ receptionLocation ? receptionLocation.id }}" data-text="{{ receptionLocation ? receptionLocation.text }}">
    </div>
</div>
