<a data-toggle="collapse" href="#appearance" role="button" aria-expanded="false"
   aria-controls="appearance" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">Apparence du site<i class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
</a>

<div class="collapse col-12" id="appearance">
    <div class="float-right btn btn-success" onclick="editAppearance()">
        <i class='fas fa-check'></i>
    </div>

    <div class="form-group w-fit-content">
        <label for="param-type-encodage">Choix du logo</label>
        <div class="form-group d-flex">
            <img src="{{ website_logo ? app.request.scheme ~'://'~ app.request.httpHost ~ "/" ~ website_logo : '' }}"
                 id="preview-website-logo" alt="Logo choisi" height="50px" class="{{ not website_logo ? 'd-none' }}"/>

            <button class="btn btn-primary" onclick="$('#upload-website-logo').click();">{{ website_logo ? "<i class='fas fa-pencil-alt'></i> " : 'Choisir un logo'}}</button>

            <input type="file" id="upload-website-logo" accept="image/png, image/jpeg, image/jpg" hidden>
        </div>
    </div>

    <div class="form-group w-fit-content">
        <label for="param-type-encodage">Logo sur les emails</label>
        <div class="form-group d-flex">
            <img src="{{ email_logo ? app.request.scheme ~'://'~ app.request.httpHost ~ "/" ~ email_logo : '' }}"
                 id="preview-email-logo" alt="Logo choisi" height="50px" class="{{ not email_logo ? 'd-none' }}"/>

            <button class="btn btn-primary" onclick="$('#upload-email-logo').click();">{{ email_logo ? "<i class='fas fa-pencil-alt'></i> " : 'Choisir un logo'}}</button>

            <input type="file" id="upload-email-logo" accept="image/png, image/jpeg, image/jpg" hidden>
        </div>
    </div>

    <div class="form-group w-fit-content">
        <label for="param-type-encodage">Logo du nomade login</label>
        <div class="form-group d-flex">
            <img src="{{ mobile_logo_login ? app.request.scheme ~ '://'~ app.request.httpHost ~ "/" ~ mobile_logo_login : '' }}"
                 id="preview-mobile-logo-login" alt="Logo choisi" height="50px" class="{{ not mobile_logo_login ? 'd-none' }}"/>

            <button class="btn btn-primary"
                    onclick="$('#upload-mobile-logo-login').click();">
                {{ mobile_logo_login ? "<i class='fas fa-pencil-alt'></i> " : 'Choisir un logo'}}
            </button>

            <input type="file"
                   name="mobile-logo-login"
                   id="upload-mobile-logo-login"
                   accept="image/png, image/jpeg, image/jpg"
                   hidden>
        </div>
    </div>

    <div class="form-group w-fit-content">
        <label for="param-type-encodage">Logo du nomade header</label>
        <div class="form-group d-flex">
            <img src="{{ mobile_logo_header ? app.request.scheme ~ '://'~ app.request.httpHost ~ "/" ~ mobile_logo_header : '' }}"
                 id="preview-mobile-logo-header" alt="Logo choisi" height="50px" class="{{ not mobile_logo_header ? 'd-none' }}"/>

            <button class="btn btn-primary"
                    onclick="$('#upload-mobile-logo-header').click();">
                {{ mobile_logo_header ? "<i class='fas fa-pencil-alt'></i> " : 'Choisir un logo'}}
            </button>

            <input type="file"
                   name="mobile-logo-header"
                   id="upload-mobile-logo-header"
                   accept="image/png, image/jpeg, image/jpg"
                   hidden>
        </div>
    </div>

    <div class="form-group w-fit-content">
        <label for="param-type-encodage">Choix de la police</label>
        <select name="param-font-family" class="data form-control">
            {% for font in fonts %}
                <option value="{{ font }}" {{ font == fontFamily ? 'selected' : '' }} class="{{ font|lower }}">{{ font }}</option>
            {% endfor %}
        </select>
    </div>
</div>
