<a data-toggle="collapse" href="#dimsForm" role="button" aria-expanded="false"
   aria-controls="dimsForm" class="col-12 mb-4">
    <h1 class="btn btn-primary m-0 w-100 border-radius-light">Configuration des étiquettes<i
                class="fas fa-arrow-alt-circle-down ml-2"></i></h1>
</a>
<div class="collapse col-12" id="dimsForm">
    <div class="float-right btn btn-col-action btn-check-reverse" onclick="ajaxDims()">
        <i class='fas fa-check'></i>
    </div>
    <div class="form-group w-fit-content">
        <label for="">Hauteur (mm)</label>
        <input type="text" class="form-control data" name="height"
               value="{{ dimensions_etiquettes.height is defined ? dimensions_etiquettes.height :'' }}">
    </div>
    <div class="form-group w-fit-content">
        <label for="">Largeur (mm)</label>
        <input type="text" class="form-control data" name="width"
               value="{{ dimensions_etiquettes.width is defined ? dimensions_etiquettes.width : '' }}">
    </div>
    <div class="form-group w-fit-content">
        <label for="param-type-etiquette">Champ libre présent sur les étiquettes</label>
        <select name="param-cl-etiquette" class="data form-control select2 w-100">
            {% for cl in cls %}
                <option value="{{ cl.label }}" {{ cl.label == blChosen ? 'selected' : '' }}>{{ cl.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="param-bl-etiquette">Champ libre <span class="blChosen">"{{ blChosen }}"</span> sur les étiquettes</label>
        <label class="switch">
            <input type="checkbox" class="checkbox col-3 data"
                    {{ wantsBL == "true" ? "checked" : " " }}
                   data-param="{{ constant('App\\Entity\\ParametrageGlobal::INCLUDE_BL_IN_LABEL') }}"
                   name="param-bl-etiquette">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="form-group">
        <label for="param-bl-etiquette">Afficher la quantité sur étiquette d'article</label>
        <label class="switch">
            <input type="checkbox"
                   class="checkbox col-3 data"
                   {{ wantsQTT == "true" ? "checked" : " " }}
                   data-param="{{ constant('App\\Entity\\ParametrageGlobal::INCLUDE_QTT_IN_LABEL') }}"
                   name="param-qtt-etiquette">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="form-group w-fit-content">
        <label for="param-type-etiquette">Type d'étiquette</label>
        <select name="param-type-etiquette" class="data form-control">
            {% for type in typesETQ %}
                <option value="{{ type.value }}" {{ type.value == paramCodeETQ ? 'selected' : '' }}>{{ type.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group d-flex">
        <img id="chosenLogo"
             src="{{ logo ? (app.request.scheme ~'://'~ app.request.httpHost ~ "/uploads/attachements/" ~ logo) : '' }}"
             alt="Logo choisi" height="50px" class="{{ logo ? '' : 'd-none' }}"/>

        <button class="btn btn-primary" onclick="$('#logo')[0].click();">{{ logo ? "<i class='fas fa-pencil-alt'></i> ": 'Choisir un logo'}}</button>

        <input type="file" id="logo" name="logo" accept="image/png, image/jpeg, image/jpg" hidden>

    </div>
</div>
