<div class="row">
    <div class="col-auto">
        <h2 class="bold">Monitoring Emballage</h2>
        <a href="{{ path('dashboard_ext', { 'page': 'emballage', 'token': dashboardToken}) }}" target="_blank" class="btn btn-primary border-radius-light mb-2">
            Dashboard monitoring emballage
            <i class="fas fa-share-square mr-2"></i>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging1" class="d-block">Emplacement 1</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging1">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_1')] %}
            <input type="hidden" id="packagingLocation1" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging2" class="d-block">Emplacement 2</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging2">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_2')] %}
            <input type="hidden" id="packagingLocation2" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging3" class="d-block">Emplacement 3</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging3">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_3')] %}
            <input type="hidden" id="packagingLocation3" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging4" class="d-block">Emplacement 4</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging4">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_4')] %}
            <input type="hidden" id="packagingLocation4" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging5" class="d-block">Emplacement 5</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging5">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_5')] %}
            <input type="hidden" id="packagingLocation5" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging6" class="d-block">Emplacement 6</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging6">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_6')] %}
            <input type="hidden" id="packagingLocation6" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging7" class="d-block">Emplacement 7</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging7">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_7')] %}
            <input type="hidden" id="packagingLocation7" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging8" class="d-block">Emplacement 8</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging8">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_8')] %}
            <input type="hidden" id="packagingLocation8" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging9" class="d-block">Emplacement 9</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging9">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_9')] %}
            <input type="hidden" id="packagingLocation9" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
    </div>
    <div class="col-5 offset-1">
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packaging10" class="d-block">Emplacement 10</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packaging10">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_10')] %}
            <input type="hidden" id="packagingLocation10" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packagingRPA" class="d-block">Emplacement RPA</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packagingRPA">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_RPA')] %}
            <input type="hidden" id="packagingLocationRPA" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packagingLitige" class="d-block">Emplacement Litige</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packagingLitige">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_LITIGE')] %}
            <input type="hidden" id="packagingLocationLitige" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packagingKitting" class="d-block">Emplacement Kitting</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packagingKitting">
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_KITTING')] %}
            <input type="hidden" id="packagingLocationKitting" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packagingUrgence" class="d-block">Emplacement Urgence</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packagingUrgence" multiple>
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\ParametrageGlobal::DASHBOARD_PACKAGING_URGENCE')] %}
            <input type="hidden" id="packagingLocationUrgence" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packagingDSQR" class="d-block">Emplacements DSQR</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packagingDSQR" multiple>
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\LocationCluster::CLUSTER_CODE_PACKAGING_DSQR')] %}
            <input type="hidden" id="packagingLocationDSQR" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packagingOrigineGT" class="d-block">Emplacement origine traités par GT</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packagingOrigineGT" multiple>
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\LocationCluster::CLUSTER_CODE_PACKAGING_GT_ORIGIN')] %}
            <input type="hidden" id="packagingLocationOrigineGT" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
        <div class="form-group w-fit-content">
            <div class="form-group w-450px">
                <div class="w-100">
                    <label for="packagingDestinationGT" class="d-block">Emplacement destination traités par GT</label>
                    <select class="form-control ajax-autocomplete-location d-block data" id="packagingDestinationGT" multiple>
                    </select>
                </div>
            </div>
            {% set valueLocation = locations[constant('App\\Entity\\LocationCluster::CLUSTER_CODE_PACKAGING_GT_TARGET')] %}
            <input type="hidden" id="packagingLocationDestinationGT" data-id="{{ valueLocation.id }}" data-text="{{ valueLocation.text }}">
        </div>
    </div>
</div>
