{#
{% include "utils/action-buttons.html.twig" with {
    noButton: boolean,
    icon : "icon",
    actions: {
        {
            hasRight: boolean ,
            title: "title",
            class: "class-name",
            id : "id-name",
            attributes: { attribute : "value" , attribute2 : "value2" },
            disable : boolean ,
        },
        ...
    }
} %}
#}

{#keep only action where user have the right#}
{% set actionsFiltered = actions|filter(action => action.hasRight is not defined or action.hasRight) %}
{% set noButton = noButton is defined and noButton %}

{% macro button(action) %}
    <button
        type="button"
        class="btn btn-primary d-flex align-items-center {{ action.class is defined ? action.class}}"
        {{ action.id is defined ? 'id="' ~ action.id ~ '"' }}
        {{ action.disable is defined and action.disable ? 'disabled' }}
        {% if action.attributes is defined%}
            {% for attribute, value in action.attributes %}
                {{ attribute }}="{{ value }}"
            {% endfor %}
        {% endif %}>
        {% if action.icon is defined %}
            <i class="{{ action.icon }} {{ action.iconClass is defined ? action.iconClass : 'mr-2' }}"></i>
        {% endif %}
        {{ action.title }}
    </button>
{% endmacro %}

{% macro dropdownButton(action) %}
    <div
        class="dropdown-item d-flex align-items-center {{ action.class is defined ? action.class}}"
        {{ action.id is defined ? 'id="' ~ action.id ~ '"' }}
        {% if action.attributes is defined %}
            {% for attribute, value in action.attributes %}
                {{ attribute }}="{{ value }}"
            {% endfor %}
        {% endif %}>
        {% if action.icon is defined %}
            <i class="{{ action.icon }} mr-2"></i>
        {% endif %}
        {{ action.title }}
    </div>
{% endmacro %}
{% import _self as macros %}


{% if noButton %}
    {% if actionsFiltered|length >= 1%}
        <a href="#" class="d-flex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img alt="Actions" src="{{ asset('svg/dotsblack.svg') }}" height="20px" width="8px"/>
            <span class="{{ icon is defined ? icon : 'wii-icon wii-icon-dots' }}"></span>
        </a>
        <div class="dropdown-menu dropdown-follow-gt pointer {{ dropdownDirection is defined ? dropdownDirection }}">
            {% for action in actionsFiltered %}
                {{ macros.dropdownButton(action) }}
            {% endfor %}
        </div>
    {% endif %}
{% else if actionsFiltered|length > 0 %}
    <div class="btn-group">
        {% set firstAction = actionsFiltered[0] %}
        {{ macros.button(firstAction) }}

        {% if actionsFiltered|length > 1 %}
            {{ macros.button({
                title: '',
                class: 'btn btn-outline-primary dropdown-toggle dropdown-toggle-split',
                attributes: {
                    'data-toggle': 'dropdown',
                    'aria-haspopup': 'true',
                    'aria-expanded': 'false'
                },
                icon: icon is defined ? icon : 'fa fa-angle-down',
                iconClass: 'mr-0'
            }) }}
            <div class="dropdown-menu dropdown-follow-gt {{ dropdownDirection is defined ? dropdownDirection :?? 'dropdown-menu-right' }}">
                {% for action in actionsFiltered[1:] %}
                    {{ macros.dropdownButton(action) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}
