<div class="modal fade" id="modalColumnVisible" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Général', null, 'Zone liste', 'Gestion des colonnes')
                } %}

            <div class="modal-body">
                <table class="table" style="width:100%">
                    <thead>
                    <tr>
                        <th>{{ trans('Général', null, 'Zone liste', 'Champs') }}</th>
                        <th>{{ trans('Général', null, 'Zone liste', 'Visible') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for name, field in fields|sort((a,b) => (a.displayedTitle ?? a.title) | capitalize <=> (b.displayedTitle ?? b.title) | capitalize) %}
                        {% if (field.alwaysVisible is not defined or not field.alwaysVisible)
                              and (field.hiddenColumn is not defined or not field.hiddenColumn) %}
                            {% set title = (
                                (field.title is defined and field.title is not empty) ? field.title :
                                ((field.hiddenTitle is defined and field.hiddenTitle is not empty) ? field.hiddenTitle)
                            ) %}
                            {% set name = field.name ?? name %}

                            <tr class="pointer">
                                {% set label = ((field.displayedTitle is defined)
                                    ? field.displayedTitle
                                    : title) %}
                                <td>
                                    {{ label | raw }}
                                </td>
                                <td>
                                    <div class="wii-checkbox d-inline-block pointer no-data" style="pointer-events: none;">
                                        <input type="checkbox"
                                               class="form-check-input m-auto {{ field.isColumnVisible ? 'data' }}"
                                               name="{{ name }}"
                                               {{ field.isColumnVisible ? 'checked' }}
                                               id="cv_{{ table }}_{{ loop.index }}"
                                               data-column="{{ loop.index0 }}" data-name="{{ name }}">
                                        <label for="cv_{{ table }}_{{ loop.index }}" class="pointer"></label>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Fermer')},
                    {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer') , id: 'submitColumnVisible' }
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>

<script>
    window.addEventListener("load", function() {
        const $modal = $('#modalColumnVisible');
        const $submitButton = $('#submitColumnVisible');
        let initialized = false;

        $('[data-target="#modalColumnVisible"]').on('click', function() {
            if(initialized || {{ table }} === undefined) {
                return;
            }

            let config = {};
            {% if reload is defined and reload == "1" %}
                config.success = () => {
                    window.location.reload();
                };
            {% else %}
                config.success = () => {
                    $modal.find('input[type="checkbox"]').each((_, check) => {
                        const $check = $(check);
                        let columnName = $check.data('name');
                        let column = {{ table }}.column(columnName + ':name');
                        column.visible($check.hasClass('data'));
                    });

                    {{ table }}.ajax.reload();
                };
            {% endif %}
            InitModal($modal, $submitButton, '{{ path(route) }}', config);
            initialized = true;
        });
    });
</script>
