{% import 'form.html.twig' as form %}

{% set disabledNeeded = disabledNeeded is defined ? disabledNeeded : false %}
{% set fieldNameClass = fieldNameClass is defined and fieldNameClass ? fieldNameClass : '' %}
{% set containerClasses = containerClasses is defined and containerClasses ? containerClasses : 'row' %}

{% if freeFields|length > 0 %}
    <div class="{{ containerClasses }}">
        {% for freeField in freeFields %}
            {% set needed = not disabledNeeded and attribute(freeField, requiredType) %}
            {% set entityValue = freeFieldValues[freeField.id] is defined
                ? freeFieldValues[freeField.id]
                : (freeField.defaultValue is defined
                    ? freeField.defaultValue
                    : '') %}
            {% if (actionType == 'new' and freeField.displayedCreate) or actionType == 'edit' %}
                <div class="{{ colType is defined ? colType }} {% if showLabels ?? true %}my-2{% endif %}">
                    <div class="row form-group free-field mb-0 ">
                        <div class="col-12 d-flex">
                            {% set label = (showLabels ?? true) ? freeField.label : '' %}
                            {% if freeField.typage == constant('App\\Entity\\FreeField::TYPE_BOOL') %}
                                {% if freeFieldValues[freeField.id] is defined %}
                                    {% set entityValue = freeFieldValues[freeField.id] %}
                                {% elseif freeField.defaultValue is defined %}
                                    {{ dump(freeField.defaultValue) }}
                                    {% set entityValue = freeField.defaultValue %}
                                    {{ dump(entityValue) }}
                                {% else %}
                                    {% set entityValue = 0 %}
                                {% endif %}
                                {{ form.switch(freeField.id, label, needed, [
                                    {label: 'Oui', value: '1', checked: entityValue == 1},
                                    {label: 'Non', value: '0', checked: entityValue is not null and entityValue == 0}
                                ], {
                                    additionalAttributes: [{
                                        name: 'data-title',
                                        value: freeField.label
                                    }]
                                }) }}
                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_NUMBER') %}
                                {{ form.input(freeField.id, label, needed, entityValue, {
                                    type: 'number',
                                    additionalAttributes: [{
                                        name: 'data-init',
                                        value: entityValue
                                    }, {
                                        name: 'data-negative'
                                    }]
                                }) }}
                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_LIST') %}
                                {{ form.select(freeField.id, label, needed, {
                                    items: freeField.elements|map((elem) => {value: elem, label: elem}),
                                    value: entityValue,
                                    inputClass: 'needs-default w-100',
                                    additionalAttributes: [{
                                        name: 'data-init',
                                        value: entityValue
                                    }],
                                }) }}
                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_LIST_MULTIPLE') %}
                                {% set entityValuesArray = freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id]|split(';') : [] %}
                                {{ form.select(freeField.id, label, needed, {
                                    items: freeField.elements|map((elem) => {value: elem, label: elem}),
                                    multiple: true,
                                    value: entityValuesArray,
                                    type: null,
                                    inputClass: 'list-multiple w-100',
                                    additionalAttributes: [{
                                        name: 'data-simple'
                                    }]
                                }) }}
                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_TEXT') %}
                                {{ form.input(freeField.id, label, needed, entityValue, {
                                    additionalAttributes: [{
                                        name: 'data-init',
                                        value: entityValue
                                    }]
                                }) }}
                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_DATETIME') %}
                                {% set value = entityValue ? ((entityValue | replace({'/': '-'}) ) | date('Y-m-d\\TH:i')) : '' %}
                                {{ form.input(freeField.id, label, needed, value, {
                                    type: 'datetime-local',
                                    additionalAttributes: [{
                                        name: 'data-init',
                                        value: value
                                    }]
                                }) }}
                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_DATE') %}
                                {% if entityValue is defined and entityValue matches '{^\\d{2}/\\d{2}/\\d{4}$}' %}
                                    {% set entityValue = entityValue[6:4] ~ '-' ~ entityValue[3:2] ~ '-' ~ entityValue[:2] %}
                                {% endif %}
                                {% if entityValue is defined and entityValue matches '{^\\d{4}-\\d{2}-\\d{2}$}' %}
                                    {% set entityValue = entityValue | date('Y-m-d') %}
                                {% else %}
                                    {% set entityValue = '' %}
                                {% endif %}
                                {{ form.input(freeField.id, label, needed, entityValue, {
                                    type: 'date',
                                    additionalAttributes: [{
                                        name: 'data-init',
                                        value: entityValue
                                    }]
                                }) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
