{% set disabledNeeded = disabledNeeded is defined ? disabledNeeded : false %}

{% if freeFields|length > 0 %}
    <div class="row">
        {% for freeField in freeFields %}
            {% set needed = not disabledNeeded and attribute(freeField, requiredType) %}
            {% set entityValue = freeFieldValues[freeField.id] is defined
                ? freeFieldValues[freeField.id]
                : ( freeField.defaultValue is defined
                ? freeField.defaultValue
                : '')
            %}
            {% if (actionType == 'new' and freeField.displayedCreate) or actionType == 'edit' %}
                <div class="{{ colType is defined ? colType }} my-2">
                    <div class="row form-group free-field">
                        <div class="col-12">
                            <label>
                                {{ freeField.label }}
                                <span class="is-required-label {{ not needed ? 'd-none' }}">*</span>
                            </label>
                        </div>
                        <div class="col-12 d-flex">
                            {% if freeField.typage == constant('App\\Entity\\FreeField::TYPE_BOOL') %}
                                <div class="wii-switch {{ needed ? 'needed' }}" data-title="{{ freeField.label }}">
                                    {% if freeFieldValues[freeField.id] is defined %}
                                        {% set entityValue = freeFieldValues[freeField.id] %}
                                    {% elseif freeField.defaultValue is defined %}
                                        {% set entityValue = freeField.defaultValue %}
                                    {% else %}
                                        {% set entityValue = 0 %}
                                    {% endif %}

                                    <input type="radio" name="{{ freeField.id }}" value="1" content="Oui" {{ entityValue == 1 ? 'data-init="checked" checked' }}>
                                    <input type="radio" name="{{ freeField.id }}" value="0" content="Non" {{ entityValue is not same as (null) and entityValue == 0 ? 'data-init="checked" checked' }}>
                                </div>
                            {% elseif  freeField.typage == constant('App\\Entity\\FreeField::TYPE_NUMBER') %}
                                <input type="number"
                                       class="form-control data needs-default {{ needed ? 'needed' }}"
                                       data-init="{{ entityValue }}"
                                       value="{{ entityValue }}"
                                       name="{{ freeField.id }}">

                            {% elseif  freeField.typage == constant('App\\Entity\\FreeField::TYPE_LIST') %}
                                <select class="form-control data needs-default {{ needed ? 'needed' : '' }} w-100"
                                        name="{{ freeField.id }}" data-init="{{ freeField.defaultValue }}">
                                    <option value="">aucune selection...</option>
                                    {% for elem in freeField.elements %}
                                        {% set entityValue = freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id] : '' %}
                                        {% set selected = elem == entityValue ? 'selected' %}
                                        <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                                    {% endfor %}
                                </select>

                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_LIST_MULTIPLE') %}
                                <select class="form-control data list-multiple {{ needed ? 'needed' : '' }} w-100"
                                        name="{{ freeField.id }}" multiple="multiple">
                                    {% set entityValuesArray = freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id]|split(';') : [] %}
                                    {% for elem in freeField.elements %}
                                        {% set selected = (elem in entityValuesArray ? 'selected' : '') %}
                                        <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                                    {% endfor %}
                                </select>
                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_TEXT') %}
                                <input type="text"
                                       class="form-control needs-default data {{ needed ? 'needed' : '' }}"
                                       value="{{ entityValue }}"
                                       data-init="{{ entityValue }}"
                                       name="{{ freeField.id }}">

                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_DATETIME') %}
                                <input type="datetime-local"
                                       name="{{ freeField.id }}"
                                       class="form-control needs-default data {{ needed ? 'needed' : '' }}"
                                       data-init="{{ entityValue }}"
                                       value="{{ entityValue ? ((entityValue | replace({'/': '-'}) ) | date('Y-m-d\\TH:i')) : '' }}">
                                <button class="btn btn-light" type="button" title="Vider le champ {{ freeField.label }}"
                                        onclick="$(this).siblings('[name={{ freeField.id }}]').val('')">
                                    <i class="fas fa-times"></i>
                                </button>
                            {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_DATE') %}
                                {% if entityValue is defined and entityValue matches '{^\d{2}\/\d{2}\/\d{4}$}' %}
                                    {% set entityValue = entityValue[4:4] ~ '-' ~ entityValue[2:2] ~ '-' ~ entityValue[:2] %}
                                {% endif %}
                                {% if entityValue is defined and entityValue matches '{^\d{4}-\d{2}-\d{2}$}' %}
                                    {% set entityValue = entityValue | date('Y-m-d') %}
                                {% else %}
                                    {% set entityValue = '' %}
                                {% endif %}
                                <input type="date"
                                       class="form-control data needs-default {{ needed ? 'needed' : '' }}"
                                       name="{{ freeField.id }}"
                                       data-init="{{ entityValue }}"
                                       value="{{ entityValue }}">
                                <button class="btn btn-light" type="button" title="Vider le champ {{ freeField.label }}"
                                        onclick="$(this).siblings('[name={{ freeField.id }}]').val('')">
                                    <i class="fas fa-times"></i>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
