{% extends 'delivery_station/layout.thml.twig' %}
{% import 'form.html.twig' as form %}

{% block title %} Caisse automatique | Formulaire {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('delivery-station') }}
{% endblock %}

{% block page_content %}
    <div class="main-page-container d-flex flex-column justify-content-between">
        <div>
            <div class="timeline-container d-none">
                <span class="wii-field-text current">Choix de la référence</span>
                <span class="wii-field-text future">Choix de la quantité</span>
                <span class="wii-field-text future">Autres informations</span>
                <span class="future wii-field-text future">Récapitulatif</span>
            </div>
            <div class="form-content">
                <div class="stock-exit-container">
                    <div class="login-container home-page-wrapper active">
                        <div class="page-content">
                            <div class="row">
                                <h1 class="col-12 home-title">
                                    Sortie de stock
                                </h1>
                                <div class="col-12 home-message">{{ homeMessage|raw }}</div>
                                <div class="col-12">
                                    <label class="w-100">
                                        Clé de connexion nomade
                                        <input type="password"
                                               class="data w-100"
                                               required
                                               autofocus
                                               autocomplete="new-password"
                                               name="mobileLoginKey">
                                    </label>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button class="login">
                                        Connexion
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reference-choice-container d-none">
                        <div class="row filter-fields-container">
                            {% if filterFields is not empty %}
                                {% for filterField in filterFields %}
                                    {% if filterField is instanceof('App\\Entity\\FreeField\\FreeFieldManagementRule') %}
                                        {% include "free_field/freeFieldsEdit.html.twig" with {
                                            freeFieldManagementRules: [filterField],
                                            freeFieldValues: null,
                                            actionType: "new",
                                            disabledNeeded: true,
                                            containerClasses: 'col-md-4 col-12 w-100',
                                            labelSmallText: " (facultatif)",
                                        } %}
                                    {% elseif filterField == 'type' %}
                                        <div class="col-md-4 col-12 w-100 my-2">
                                            {{ form.select('type', 'Type', false, {
                                                type: 'types',
                                                includeParams: '[name=categoryType]',
                                                includeParamsParent: '.reference-choice-container',
                                                search: true,
                                            }) }}
                                        </div>
                                        <input type="hidden" name="categoryType" value="{{ constant('App\\Entity\\CategoryType::ARTICLE') }}">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="wii-small-text text-center w-100">Aucun champ filtre n'a été paramétré pour cette session de caisse automatique.</div>
                            {% endif %}
                        </div>
                        <div class="multiple-filter-fields-container mt-3">
                            <div class="wii-field-name">Champs filtres multiples sélectionnés :</div>
                        </div>
                        <div class="mt-5">
                            {{ form.select('reference', 'Référence ou libellé ou Référence founisseur ou Code barre', false, {
                                type: 'reference',
                                inputClass: 'w-50 trigger-autofocus',
                                labelClass: 'd-flex flex-column',
                                includeParams: '[name=multipleFields],[name=visibilityGroup],[name=filterFields]',
                                includeParamsParent: '.reference-choice-container',
                                attributes: {
                                    'autofocus': 'autofocus'
                                },
                                additionalAttributes: [{
                                    name: 'data-other-params-active-only',
                                    value: true,
                                }]
                            }) }}
                        </div>
                        <input type="hidden" name="filterFields">
                        <input type="hidden" name="multipleFields" value="1">
                        <input type="hidden" name="visibilityGroup" value="{{ line.visibilityGroup.id }}">
                    </div>
                    <div class="quantity-choice-container d-none">
                        <div class="row">
                            <div class="reference-informations col-md-6 col-12">
                                <div class="d-flex">
                                    <img class="image mr-3" width="150px" src="">
                                    <div class="d-flex flex-column justify-content-around py-2">
                                        <div class="wii-field-name">
                                            <strong>Référence:</strong>
                                            <span class="reference wii-field-text"></span>
                                        </div>
                                        <div class="wii-field-name text-break">Libellé:
                                            <span class="label wii-field-text"></span>
                                        </div>
                                        <div class="wii-field-name">Quantité disponible:
                                            <span class="stockQuantity wii-field-text"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wii-field-name mt-3">Code(s) fournisseur(s):
                                    <ul class="suppliers wii-field-text"></ul>
                                    <span class="wii-small-text italic">Code barre requis pour afficher le(s) code(s) fournisseur(s).</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="d-flex align-items-center">
                                    <img src="{{ asset('svg/reference_article/location.svg') }}" width="50px">
                                    <div class="wii-field-name">Emplacement:
                                        <span class="wii-small-text">Code barre requis pour afficher l'emplacement.</span>
                                        <span class="location"></span>
                                    </div>
                                </div>
                                <div class="mt-5">
                                    {{ form.input('barcode', 'Code barre', false, null, {
                                        type: 'search',
                                        labelClass: 'w-100',
                                    }) }}
                                </div>
                                <div class="mt-2">
                                    {{ form.input('pickedQuantity', 'Quantité prise', false, null, {
                                        type: 'number',
                                        labelWidth: '100%',
                                        width: 0,
                                        inputClass: 'w-50',
                                        min: 1,
                                    }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="other-informations-container d-none"></div>
                    <div class="summary-container d-none">
                        <div class="table-container">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="wii-field-name">Référence</th>
                                    <th scope="col" class="wii-field-name">Libellé</th>
                                    <th scope="col" class="wii-field-name">Code barre</th>
                                    <th scope="col" class="wii-field-name">Quantité prise</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="add-reference-container">
                            <span class='wii-icon wii-icon-plus wii-icon-30px-primary mr-3'></span>
                            <span class="add-reference">Ajouter une référence</span>
                        </div>
                        <div class="row free-fields-container">
                        </div>
                    </div>
                    <div class="treated-delivery-container d-none">
                        {% include 'utils/modal-alert/success-bookmark.html.twig' with {
                            'show': true,
                        } %}
                        <div class="wii-title text-center black">Votre demande de livraison a bien été traitée</div>
                        <div class="wii-small-text text-center">Vous allez être redirigé automatiquement à l'accueil au
                            bout de <span class="delay"></span> secondes.
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button class="back-to-home-button" data-loader-size="normal">
                                Accueil
                            </button>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse action-buttons-container mt-5">
                        <button class="validate-button d-none" data-loader-size="normal">
                            Valider
                        </button>
                        <button class="btn next-button d-none" data-loader-size="normal" disabled>
                            Suivant
                        </button>
                        <button class="btn search-button d-none" data-loader-size="normal">
                            Rechercher
                        </button>
                        <button class="outline edit-free-fields-button mr-3 d-none" data-loader-size="normal">
                            Modifier les champs libres
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between corner w-100 position-absolute left-0 bottom-0 p-4">
            <div class="d-flex align-items-center">
                <button class="outline back-button d-none">
                    Retour
                </button>
                <button class="outline danger give-up-button d-none">
                    Abandonner
                </button>
                <button class="go-to-summary-button d-none">
                    Aller au récapitulatif
                </button>
            </div>
            <div class="p-4 information-button ml-5">
                <i class="wii-icon wii-icon-question-mark wii-icon-min-45px-primary"></i>
            </div>
        </div>
    </div>
    {{ form.hidden("token", line.token) }}
    {{ form.hidden("mobileLoginKey", mobileLoginKey) }}

    {% include 'delivery_station/modalInformation.html.twig' %}
    {% include 'delivery_station/modalGiveUpStockExit.html.twig' %}
    {% include 'delivery_station/modalDeleteLine.html.twig' %}
    {% include 'delivery_station/modalGeneric.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('delivery-station') }}
{% endblock %}
