{% for champLibre in champsLibres %}
    <div class="col-4 my-2">
        <div class="row form-group">
            <div class="col-12">
                <label for="input">{{ champLibre['label'] }}{{ champLibre['requiredEdit'] ? '*' : '' }}</label>
            </div>
            <div class="col-12">
                {% if champLibre['typage'] == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                    <div class="mt-2">
                        {% set checked = ((champLibre['value'] is defined ? champLibre['value'] : 0) == 1) ? 'checked' : '' %}
                        <label class="switch">
                            <input type="checkbox" class="data checkbox {{ champLibre['requiredEdit'] ? 'needed' : '' }}" {{ checked }}
                                   name="{{ champLibre['id'] }}">
                            <span class="slider round"></span>
                        </label>
                    </div>
                {% elseif  champLibre['typage'] == constant('App\\Entity\\ChampLibre::TYPE_NUMBER') %}
                    <input type="number" id="{{ champLibre['id'] ~ 'edit' }}"
                           class="form-control data {{ champLibre['requiredEdit'] ? 'needed' : '' }}"
                           value="{{ champLibre['value'] is defined ? champLibre['value'] : '' }}"
                           name="{{ champLibre['id'] }}" id="input">

                {% elseif  champLibre['typage'] == constant('App\\Entity\\ChampLibre::TYPE_LIST') %}
                    <select class="form-control data {{ champLibre['requiredEdit'] ? 'needed' : '' }}" id="{{ champLibre['id'] ~ 'edit' }}"
                            name="{{ champLibre['id'] }}" id="input">
                        <option value="">aucune selection...</option>
                        {% for elem in champLibre['elements']  %}
                            {% set selected = elem == ( champLibre['value'] is defined ? champLibre['value'] : '' ) ? 'selected' : '' %}
                            <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                        {% endfor %}
                    </select>

                {% elseif champLibre['typage'] == constant('App\\Entity\\ChampLibre::TYPE_LIST_MULTIPLE') %}
                    <select id="{{ champLibre['id'] ~ 'edit' }}"
                            class="form-control data list-multiple  {{ champLibre['requiredEdit'] ? 'needed' : '' }}"
                            name="{{ champLibre['id'] }}" multiple="multiple">
                        {% for elem in champLibre['elements'] %}
                            {% set selected = elem in champLibre['value'] ? 'selected' : '' %}
                            <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                        {% endfor %}
                    </select>

                {% elseif champLibre['typage'] == constant('App\\Entity\\ChampLibre::TYPE_TEXT') %}
                    <input type="text" id="{{ champLibre['id'] ~ 'edit' }}"
                           class="form-control data {{ ( champLibre['requiredEdit']) ? 'needed' : '' }}"
                           value="{{ champLibre['value'] is defined ? champLibre['value'] : '' }}"
                           name="{{ champLibre['id'] }}" id="input">

                {% elseif champLibre['typage'] == constant('App\\Entity\\ChampLibre::TYPE_DATETIME') %}
                    <input type="datetime-local" name="{{ champLibre['id'] }}" id="{{ champLibre['id'] ~ 'edit' }}"
                           class="form-control data {{ champLibre['requiredEdit'] ? 'needed' : '' }}"
                           value="{{ champLibre['value'] is defined ? champLibre['value'] : '' }}">

                {% elseif champLibre['typage'] == constant('App\\Entity\\ChampLibre::TYPE_DATE') %}
                    <input
                        type="date"
                        class="form-control data date-cl {{ champLibre['requiredEdit'] ? 'needed' : '' }}"
                        name="{{ champLibre['id'] }}"
                        id="{{ champLibre.label ~ 'edit' }}"
                        value="{{ champLibre['value'] is defined ? champLibre['value'] : '' }}">
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
