{% for freeField in freeFields %}
    <div class="{{ colType }} my-2">
        <div class="row form-group">
            <div class="col-12">
                <label for="input">{{ freeField.label }}{{ attribute(freeField, requiredType) ? '*' : '' }}</label>
            </div>
            <div class="col-12">
                {% if freeField.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                    <div class="mt-2">
                        {% set entityValue = freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id] : "0" %}
                        {% set checked = (entityValue == "1" ? 'checked') %}
                        <label class="switch">
                            <input type="checkbox"
                                   class="data checkbox {{ attribute(freeField, requiredType) ? 'needed' : '' }}"
                                   {{ checked }}
                                   id="{{ freeField.id ~ actionType }}"
                                   name="{{ freeField.id }}">
                            <span class="slider round"></span>
                        </label>
                    </div>
                {% elseif  freeField.typage == constant('App\\Entity\\ChampLibre::TYPE_NUMBER') %}
                    <input type="number" id="{{ freeField.id ~ actionType }}"
                           class="form-control data {{ attribute(freeField, requiredType) ? 'needed' : '' }}"
                           value="{{ freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id] : '' }}"
                           name="{{ freeField.id }}">

                {% elseif  freeField.typage == constant('App\\Entity\\ChampLibre::TYPE_LIST') %}
                    <select class="form-control data {{ attribute(freeField, requiredType) ? 'needed' : '' }} w-100" id="{{ freeField.id ~ actionType }}"
                            name="{{ freeField.id }}">
                        <option value="">aucune selection...</option>
                        {% for elem in freeField.elements  %}
                            {% set entityValue = freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id] : '' %}
                            {% set selected = (elem == entityValue ? 'selected' : '') %}
                            <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                        {% endfor %}
                    </select>

                {% elseif freeField.typage == constant('App\\Entity\\ChampLibre::TYPE_LIST_MULTIPLE') %}
                    <select id="{{ freeField.id ~ actionType }}"
                            class="form-control data list-multiple  {{ attribute(freeField, requiredType) ? 'needed' : '' }} w-100"
                            name="{{ freeField.id }}" multiple="multiple">
                        {% for elem in freeField.elements %}
                            {% set entityValue = freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id] : [] %}
                            {% set selected = (elem in entityValue ? 'selected' : '') %}
                            <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                        {% endfor %}
                    </select>

                {% elseif freeField.typage == constant('App\\Entity\\ChampLibre::TYPE_TEXT') %}
                    <input type="text" id="{{ freeField.id ~ actionType }}"
                           class="form-control data {{ (attribute(freeField, requiredType)) ? 'needed' : '' }}"
                           value="{{ freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id] : '' }}"
                           name="{{ freeField.id }}">

                {% elseif freeField.typage == constant('App\\Entity\\ChampLibre::TYPE_DATETIME') %}
                    <input type="datetime-local" name="{{ freeField.id }}" id="{{ freeField.id ~ actionType }}"
                           class="form-control data {{ attribute(freeField, requiredType) ? 'needed' : '' }}"
                           value="{{ freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id] : '' }}">

                {% elseif freeField.typage == constant('App\\Entity\\ChampLibre::TYPE_DATE') %}
                    <input
                        type="date"
                        class="form-control data {{ attribute(freeField, requiredType) ? 'needed' : '' }}"
                        name="{{ freeField.id }}"
                        id="{{ freeField.label ~ actionType }}"
                        value="{{ freeFieldValues[freeField.id] is defined ? freeFieldValues[freeField.id] : '' }}">
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
