<div class="form-group">
    <label for="date-attendu">Label</label>
    <input type="text" class="form-control data" name="label" value="{{champLibre.label}}" required="true">
</div>
<div class="form-group">
    <label for="categorieCL">Entité liée</label>
    <select name="categorieCL" class="form-control data " id="">
        {% for categorieCL in categoriesCL %}
        {% set selected = categorieCL.id ==( champLibre.categorieCL ? champLibre.categorieCL.id : '' )? 'selected' : '' %}
        <option value="{{categorieCL.id}}" {{ selected }}>{{categorieCL.label}}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="typage">Typage</label>
    <select class="form-control select2 data" name="typage" id='typageModif' onchange="defaultValueForTypage($(this), '-edit'), changeType(this)" disabled>
        <option value="{{ champLibre.typage }}">{{ champLibre.typage }}</option>
    </select>
</div>
<div class="form-group">
    <label>Obligatoire à la création </label>
    <label class="switch">
        <input class="checkbox data" type="checkbox" name="requiredCreate" {{champLibre.requiredCreate ? 'checked': ''}}>
        <span class="slider round"></span>
    </label>
</div>
<div class="form-group">
    <label>Obligatoire à la modification </label>
    <label class="switch">
        <input class="checkbox data" type="checkbox" name="requiredEdit" {{champLibre.requiredEdit ? 'checked': ''}}>
        <span class="slider round"></span>
    </label>
</div>
<div id="valueDefault-edit">
        <!-- Valeur default Booleen -->
        <div class="form-group" id="booleen-edit">
            <label for="">Valeur par défaut</label>
            <label class="switch">
                <input type="checkbox" class="data checkbox" value="{{champLibre.typage == 'booleen' ? champLibre.defaultValue : ''}}" name="valeur"
                {{ champLibre.defaultValue == 1 ? 'checked' : ''  }}>
                <span class="slider round"></span>
            </label>
        </div>

        <!-- Valeur default Number -->
        <div class="form-group d-none" id="number-edit">
            <label for="">Valeur par défaut</label>
            <input type="number" class="form-control " name="valeur" value="{{champLibre.typage == 'number' ? champLibre.defaultValue : ''}}" required="true">
        </div>

        <!-- Valeur default Date -->
        <div class="form-group d-none" id="date-edit">
            <label for="">Valeur par défaut</label>
            <input type="date" class="form-control" name="valeur" value="{{champLibre.typage == 'date' ? champLibre.defaultValue : ''}}" required="true">
        </div>

        <!-- Valeur default Text -->
        <div class="form-group d-none" id="text-edit">
            <label for="">Valeur par défaut</label>
            <input type="text" class="form-control" name="valeur" value="{{champLibre.typage == 'text' ? champLibre.defaultValue : ''}}" required="true">
        </div>

        <!-- Valeur default List -->
        <div class="form-group d-none" id="list-edit">
            <label for="date-attendu">Éléments (séparés par ';')</label>
            <input type="text" class="form-control" name="elem" value="{{champLibre.typage == 'list' ? champLibre.elements|join(';') : ''}}" required='true'>
        </div>
    </div>