<div class="form-group">
    <label>Libellé*</label>
    <input type="text"
           class="form-control data needed"
           name="label"
           value="{{ champLibre.label }}"
           required="true">
</div>
<div class="form-group">
    <label for="categorieCL">S'applique à</label>
    <select name="categorieCL"
            class="form-control data"
            id="categorieCL">
        {% for categorieCL in categoriesCL %}
            {% set selected = categorieCL.id ==( champLibre.categorieCL ? champLibre.categorieCL.id : '' )? 'selected' : '' %}
            <option value="{{ categorieCL.id }}" {{ selected }}>
                {{ categorieCL.label }}
            </option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="typage">Typage</label>
    <select class="form-control select2 data typageModif"
            name="typage"
            disabled
            data-value="{{ champLibre.defaultValue }}"
            data-elem="{{ champLibre.elements|join(';') }}">
        <option value="{{ champLibre.typage }}">
            {{ typageCL }}
        </option>
    </select>
</div>
<div class="form-group">
    <label class="switch">
        <input class="checkbox data"
               type="checkbox"
               name="displayedCreate"
               onclick="toggleCreationMandatory($(this))" {{ champLibre.displayedCreate ? 'checked': '' }}>
        <span class="slider round"></span>
    </label>
    <label>Affiché à la création</label>
</div>
<div class="form-group">
    <label class="switch">
        <input class="checkbox data"
               type="checkbox"
               onclick="toggleCreationMandatory($(this))"
               name="requiredCreate" {{ champLibre.requiredCreate ? 'checked': '' }}>
        <span class="slider round"></span>
    </label>
    <label>Obligatoire à la création</label>
</div>
<div class="form-group">
    <label class="switch">
        <input class="checkbox data"
               type="checkbox"
               name="requiredEdit" {{ champLibre.requiredEdit ? 'checked': '' }}>
        <span class="slider round"></span>
    </label>
    <label>Obligatoire à la modification</label>
</div>
<div class="valueDefault">
</div>
