{% extends 'layout.html.twig' %}

{% block title %}Création de nouveau champ libre{% endblock %}

{% block page_content %}
    <h1>Liste des champs libres pour la catégorie {{ type.category.label|upper }} / type {{type.label|upper}} </h1>

    <div>
        <a href="" data-toggle="modal" data-target="#modalNewChampLibre" class="btn btn-primary" onclick="clearModal('#modalNewChampLibre')">
            <span class="fa fa-plus mr-2"></span>Nouveau Champ Libre
        </a>
    </div>

    <table id="tableChamplibre_id" class="table table-striped table-bordered w-100">
    </table>

    <a href="{{ path('champ_libre_index') }}" class="btn">Retour à la liste</a>


    {% include "champ_libre/modalNewChampLibre.html.twig" %}
    {% include "champ_libre/modalDeleteChampLibre.html.twig" %}
    {% include "champ_libre/modalEditChampLibre.html.twig" %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let id = {{type.id}}
    </script>
    <script src="{{asset('js/champLibre.js')}}?{{ date().timestamp }}"></script>
{% endblock %}
