{% extends 'layout.html.twig' %}

{% block title %}Création de nouveau champ libre{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card">
        <div class="row">
            <h1 class="col align-self-start ml-2">Liste des champs libres pour la catégorie {{ type.category.label|upper }} /
                type {{ type.label|upper }} </h1>
            <div class="col-auto">
                <a href="" data-toggle="modal" data-target="#modalNewChampLibre" class="btn btn-primary btn-ripple"
                   onclick="clearModal('#modalNewChampLibre')">
                    <span class="fa fa-plus mr-2"></span>Nouveau Champ Libre
                </a>
            </div>

            <div class="col-12">
                <table id="tableChamplibre_id" class="table w-100">
                </table>
            </div>
        </div>
        <input id="cl-type-id" type="hidden" value="{{ type.id }}"/>
    </div>

    {% include "champ_libre/modalNewChampLibre.html.twig" %}
    {% include "champ_libre/modalDeleteChampLibre.html.twig" %}
    {% include "champ_libre/modalEditChampLibre.html.twig" %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/champLibre.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
