{% extends 'layout.html.twig' %}

{% block title %}Suppression catégorie "{{ categories_vehicule.nom }}"{% endblock %}

{% block page_content %}
    <h1>SUPPRESSION CATEGORIE "{{ categories_vehicule.nom }}"</h1>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ categories_vehicule.id }}</td>
                <td>{{ categories_vehicule.nom }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('categories_vehicules/_delete_form.html.twig') }}

    <a href="{{ path ('parc_parametrage') }}" class="button btn-left pull-left">
        <span class="fa fa-angle-double-left"></span>Retour</a>
{% endblock %}