{% macro detail(tags, rows, icons) %}
    <div class="col">
        {% if tags is not empty %}
            <div class="d-flex flex-wrap">
                {% for tag in tags %}
                    {% if not tag is empty %}
                    <div class="rounded px-2 py-1 mr-1 mb-1 {{ tag.class}}"
                         style="background-color: {{ tag.color ?? 'white' }}">
                        <span class="text-color-auto">
                            {{ tag.label }}
                        </span>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% for row in rows %}
            {% if not row is empty %}
                <div class="mt-1" data-field-label="{{ row.label }}">
                    {{ row.label }}&nbsp;:&nbsp;<span class="font-weight-bold">{{ row.value ?? "-" }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if icons is not empty %}
        <div class="pr-3 pl-3 w-min-content">
            <div class="text-center d-flex flex-column align-items-center">
                {% for icon in icons %}
                    {% if not icon is empty %}
                    <img src="{{ asset(icon.path) }}"
                         class="has-tooltip mb-1"
                         width="30"
                         alt="{{ icon.alt }}"
                         title="{{ icon.title }}"
                    >
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% set fieldsModes = app.user.fieldModesByPage[constant('App\\Controller\\FieldModesController::PAGE_PRODUCTION_REQUEST_PLANNING')]
    ?? constant('App\\Entity\\Utilisateur::DEFAULT_PRODUCTION_REQUEST_PLANNING_FIELDS_MODES') %}

{% set canDrag = not external and hasRight(constant('App\\Entity\\Menu::PRODUCTION'), constant('App\\Entity\\Action::EDIT_EXPECTED_DATE_FIELD_PRODUCTION_REQUEST')) %}

<a class="planning-card preparation-card {{ not external ? 'pointer' }} {{ canDrag ? "can-drag" }} has-tooltip"
   {% if not external %}
       href="{{ path('production_request_show', {id: productionRequest.id}) }}"
       data-status="{{ productionRequest.status ? productionRequest.status.code }}"
   {% endif %}
   data-id="{{ productionRequest.id }}"
   title="Attendu le {{ productionRequest.expectedAt|format_helper("longDate", {time: true, addAt: true}) }}"
>
    <div class="planning-card-wrapper"
         style="background: {{ color }}50; border-left-color: {{ color }};">
        <div class="row">
            {% set detailsHeaderData =  cardContent.header ?? [] %}
            {{ macros.detail(detailsHeaderData.tags ?? [], detailsHeaderData.rows ?? [], detailsHeaderData.icons ?? []) }}
        </div>
        {% set id = "cardCollapse-" ~ random() %}
        <div class="row collapse" id="{{ id }}">
            {% set detailsDropdownData =  cardContent.dropdown ?? [] %}
            {{ macros.detail(detailsDropdownData.tags ?? [], detailsDropdownData.rows ?? [], detailsDropdownData.icons ?? []) }}
        </div>
        {% if detailsDropdownData | length > 0 %}
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="expand-card-button prevent-default" type="button" data-toggle="collapse"
                     data-target="#{{ id }}" aria-expanded="false" aria-controls="cardCollapse"></div>
            </div>
        </div>
        {% endif %}
    </div>
</a>
