{% import "form.html.twig" as form %}
{% import "production_request/planning/navigation-buttons.html.twig" as navigationButtons %}

{% extends 'layout.html.twig' %}

{% block title %}Production | Planning - Modulaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('production-planning') }}
    {{ encore_entry_link_tags('preparation-planning') }}
{% endblock %}

{% block page_filter %}
    {% include "production_request/planning/filters.html.twig" with {
        page: 'PAGE_PRODUCTION_PLANNING',
        marginClass: 'm-0 m-md-4',
        callback: 'callbackSaveFilter',
    } %}
{% endblock %}

{% block pageContainerClass 'd-flex flex-fill flex-column' %}
{% block page_content %}
    <div class="mx-4 wii-page-card flex-fill d-flex flex-column" style="margin-top: -15px; max-height: 100vh">
        <div class="row" style="margin: 0 25px">
            {{ navigationButtons.navigationHeaderButtons(false, token) }}
        </div>
        <div class="d-flex flex-fill production-request-planning-container">
            {{ navigationButtons.previousWeekSideButton(false) }}
            <div class="production-request-planning"></div>
            {{ navigationButtons.nextWeekSideButton(true) }}
        </div>
    </div>
    {{ form.hidden("expandedCards", null) }}

    {% include 'production_request/modal/updateStatus.html.twig' %}

    {% include "utils/fields-modes.html.twig" with {
        fields,
        reload: true,
        page: constant('App\\Controller\\FieldModesController::PAGE_PRODUCTION_REQUEST_PLANNING'),
        config: {
            title: 'Gestion des champs affichés',
            columns: [
                {
                    type: "switch",
                    items: [
                        {
                            label: "masqué",
                            value: "",
                            default: true,
                        },
                        {
                            label: "visible",
                            value: constant('App\\Service\\FieldModesService::FIELD_MODE_VISIBLE'),
                        },
                        {
                            label: "visible en dépliant",
                            value: constant('App\\Service\\FieldModesService::FIELD_MODE_VISIBLE_IN_DROPDOWN'),
                        },
                    ],
                },
            ],
        }
    } %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filters') }}
    {{ encore_entry_script_tags('production-planning') }}

    <script>
        const eventSource = new EventSource("{{ mercure('channelname',  { subscribe: 'channelname' })|escape('js') }}", {
            withCredentials: true,
        });
    </script>

{% endblock %}
