{% import "form.html.twig" as form %}

{% extends 'layout.html.twig' %}

{% block title %}Production | Planning{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('production-planning') }}
    {{ encore_entry_link_tags('preparation-planning') }}
{% endblock %}

{% block page_filter %}
    {% include "production_request/planning/filters.html.twig" with {
        page: 'PAGE_PRODUCTION_PLANNING',
        marginClass: 'm-0 m-md-4',
        callback: 'callbackSaveFilter',
    } %}
{% endblock %}

{% block pageContainerClass 'd-flex flex-fill flex-column' %}
{% block page_content %}
    <div class="mx-4 wii-page-card flex-fill d-flex flex-column" style="margin-top: -15px">
        <div class="row" style="margin: 0 25px">
            {% include "production_request/planning/navigation-buttons.html.twig" with {
                navigationHeaderButtons: true,
                token,
            } %}
        </div>
        <div class="d-flex flex-fill production-request-planning-container">
            {% include "production_request/planning/navigation-buttons.html.twig" with {
                previousWeekSideButton: true,
            } %}
            <div class="production-request-planning"></div>
            {% include "production_request/planning/navigation-buttons.html.twig" with {
                nextWeekSideButton: true,
            } %}
        </div>
    </div>
    {{ form.hidden("expandedCards", null) }}

    {% include 'utils/modal/empty-modal.html.twig' with {
        id: 'modalUpdateProductionRequestStatus',
        header: {
            title: 'Changer de statut'
        },
        footer: {
            elements: [
                {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), type: 'submit'},
            ],
        }
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filters') }}
    {{ encore_entry_script_tags('production-planning') }}
{% endblock %}
