{% import 'form.html.twig' as form %}
{% extends 'layout.html.twig' %}

{% block title %}Stock | {{ trans('Stock', 'Articles', 'Articles', false) }} | Détails{% endblock %}
{% block title_tooltip %}Stock | Articles | Détails{% endblock %}
{% block titleLink path('article_index') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article-form') }}
{% endblock %}

{% block page_content %}
    {% set statuses = {
        'disponible': {
            'status': 'disponible',
            'color': 'rgba(47, 194, 171, 0.35)'
        },
        'en transit': {
            'status': 'en transit',
            'color': 'rgba(100, 51, 215, 0.15)'
        },
        'consommé': {
            'status': 'consommé',
            'color': '#E8E8E8'
        }
    } %}
    {% set hasRightEdit = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
    <input type="hidden" name="article-id" value="{{ article.id }}">
    <div class="details-page-container d-flex justify-content-center align-content-center">
        <div class="row wii-column">
            <div class="col-12 col-md-6">
                <div class="details-page-header d-flex flex-column" style="border-color: {{ article.type.color }}">
                    <div class="wii-type" style="background-color: {{ article.type.color }}">
                        <span>{{ article.type.label }}</span>
                    </div>
                    <div class="d-flex header-wrapper">
                        <div class="image-container-show article">
                            <img src="{{ asset('svg/article-barcode.svg') }}" width="80">
                        </div>
                        <div class="specifications w-100">
                            <div><strong class="ref text-break">{{ article.barCode }}</strong></div>
                            <div>
                                <div><strong class="text-break">Ref : {{ article.referenceArticle.reference }}</strong></div>
                                <div><strong class="text-break wii-subtitle">{{ article.referenceArticle.libelle }}</strong></div>
                            </div>
                            <div class="d-flex justify-content-between mr-4">
                                <div class="d-flex align-content-center">
                                    <img src="{{ asset('svg/reference_article/stock.svg') }}" alt="Icône stock" class="mr-2" width="15px">
                                    <span class="wii-field-name">Quantité <span class="wii-body-text">{{ article.quantite }}</span></span>
                                </div>
                                <div class="d-flex align-content-center">
                                    <img src="{{ asset('svg/reference_article/location.svg') }}" alt="Icône emplacement" class="mr-2" width="15px">
                                    <span class="wii-field-name">Emplacement <span class="wii-body-text">{{ article.emplacement.label }}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wii-box mt-3">
                    <div class="header wii-title">Informations</div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-md-5 d-flex">
                                <img src="{{ asset('svg/calendar.svg') }}" alt="Icône calendrier" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Date d'entrée en stock</span>
                                    <span class="wii-body-text">{{ article.stockEntryDate|format_helper('longDate') }}</span>
                                </label>
                            </div>
                            <div class="col-12 col-md-4 d-flex">
                                <img src="{{ asset('svg/reference_article/threshold.svg') }}" alt="Icône anomalie" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Anomalie
                                        <sup><img src="{{ asset('svg/information.svg') }}"
                                                  alt="Icône information"
                                                  width="10px"
                                                  class="has-tooltip"
                                                  title="A déterminer">
                                        </sup>
                                    </span>
                                    <span class="wii-body-text">{{ not article.conform ? 'Oui' : 'Non' }}</span>
                                </label>
                            </div>
                            <div class="col-12 col-md-3 my-auto">
                                <span class="current-status wii-body-text mr-3"
                                      style="background-color: {{ statuses[article.statut.code]['color'] }};">
                                    {{ statuses[article.statut.code]['status']|capitalize }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="wii-section-title d-flex align-items-center pl-3">
                        <span class="wii-icon wii-icon-document wii-icon-15px-primary mr-2"></span>Projet
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-md-6 d-flex">
                                <img src="{{ asset('svg/document.svg') }}" alt="Icône projet" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Projet</span>
                                    <span class="wii-body-text">{{ article.project ? article.project.code : '-' }}</span>
                                </label>
                            </div>
                            <div class="col-12 col-md-6 d-flex">
                                <img src="{{ asset('svg/calendar.svg') }}" alt="Icône projet" width="20px">
                                {% set lastRecord = article.projectHistoryRecords.last
                                    ? article.projectHistoryRecords.last
                                    : null %}
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Assigné le</span>
                                    <span class="wii-body-text">{{ article.project and lastRecord.project == article.project ? lastRecord.createdAt|format_helper('longDate', {time: true}) : '-' }}</span>
                                </label>
                            </div>
                        </div>
                        {% if projectHistoryRecords is not empty %}
                            <table class="table mt-2">
                                <thead>
                                <tr>
                                    <th scope="col" class="wii-field-name">Ancien projet</th>
                                    <th scope="col" class="wii-field-name">Assigné le</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in projectHistoryRecords %}
                                    <tr>
                                        <td class="wii-body-text">{{ record.project.code }}</td>
                                        <td class="wii-body-text">{{ record.createdAt|format_helper('longDate', {time: true}) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <div class="content comment-container">
                        <span class="wii-subtitle">Commentaire</span>
                        <div class="mt-2 wii-body-text text-break">{{ article.commentaire and article.commentaire != '<p><br></p>'
                            ? article.commentaire | raw
                            : '-' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="wii-box">
                    <div class="header wii-title">Gestion de stock</div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-md-6 d-flex">
                                <img src="{{ asset('svg/reference_article/stock.svg') }}" alt="Icône stock" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Lot</span>
                                    <span class="wii-body-text">{{ article.batch ?: '-' }}</span>
                                </label>
                            </div>
                            <div class="col-12 col-md-6 d-flex">
                                <img src="{{ asset('svg/calendar.svg') }}" alt="Icône calendrier" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Date de péremption</span>
                                    <span class="wii-body-text">{{ article.expiryDate ? article.expiryDate|format_helper('longDate') : '-' }}</span>
                                </label>
                            </div>
                            {% set managers = article.referenceArticle.managers|map((manager) => manager.username)|join(', ') %}
                            {% set plural = article.referenceArticle.managers | length > 1 ? 's' : '' %}
                            <div class="col-12 col-md-6 d-flex mt-3">
                                <img src="{{ asset('svg/user.svg') }}" alt="Icône utilisateur" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Gestionnaire{{ plural }}</span>
                                    <span class="wii-body-text">{{ managers is not empty ? managers : '-' }}</span>
                                </label>
                            </div>
                            <div class="col-12 col-md-6 d-flex mt-3">
                                <img src="{{ asset('svg/price.svg') }}" alt="Icône monnaie euro" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Prix unitaire (€)</span>
                                    <span class="wii-body-text">{{ article.prixUnitaire ?: '-' }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="details-page-dropdown">
                        <span class="wii-subtitle dropdown-wrapper unique">Fournisseur</span>
                        <div class="provider-label">
                            <span class="wii-field-name ml-3">{{ article.articleFournisseur.fournisseur.nom }}</span>&nbsp;-&nbsp;
                            <span class="wii-body-text">{{ article.articleFournisseur.fournisseur.codeReference }}</span>
                        </div>
                        <div class="d-flex py-3">
                            <div class="col-6 d-flex flex-column">
                                <span class="wii-field-name">Ref article fournisseur</span>
                                <span class="wii-body-text">{{ article.articleFournisseur.reference }}</span>
                            </div>
                            <div class="col-6 d-flex flex-column">
                                <span class="wii-field-name">Label</span>
                                <span class="wii-body-text">{{ article.articleFournisseur.label }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wii-box">
                    <div class="header wii-title">Inventaire</div>
                    <div class="content">
                        <div class="row">
                            <div class="col-12 col-md-6 d-flex">
                                <img src="{{ asset('svg/inventory-category.svg') }}" alt="Icône inventaire" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Catégorie d'inventaire</span>
                                    <span class="wii-body-text">{{ article.referenceArticle.category ? article.referenceArticle.category.label : '-' }}</span>
                                </label>
                            </div>
                            <div class="col-12 col-md-6 d-flex">
                                <img src="{{ asset('svg/calendar.svg') }}" alt="Icône calendrier" width="20px">
                                <label class="box-item ml-3">
                                    <span class="wii-field-name">Date de dernier inventaire</span>
                                    <span class="wii-body-text">{{ article.dateLastInventory ? article.dateLastInventory|format_helper('longDate') : '-' }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wii-box mt-3">
                    {% set plural = freeFields | length > 1 ? 's' : '' %}
                    <div class="header wii-title">Champ{{ plural }} libre{{ plural }}</div>
                    <div class="px-3">
                        {% include 'free_field/freeFieldsShow.html.twig' with {
                            containerClass: 'content row',
                            values: article.freeFields,
                            freeFields: freeFields,
                            emptyLabel: "Cet article n'a aucun champ libre",
                        } %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="wii-box">
                    <div class="header wii-title d-flex justify-content-between align-items-center p-2">
                        <span class="ml-2">Mouvements de traçabilité</span>
                        <a class="btn btn-outline-primary {{ movementIds == '' ? 'disabled' }}"
                           href="{{ path('mvt_traca_index', {movements: movementIds}) }}" target="_blank">
                            <i class="fas fa-share-square mr-2"></i>Ouvrir la page
                        </a>
                    </div>
                    <div class="content" data-loader-color="primary" data-loader-size="normal">
                        <div class="history-container" style="max-height: 300px;">
                            <div class="d-flex align-items-center justify-content-center p-3">
                                <div class="spinner-border text-primary" role="status"></div>
                                <span class="ml-3">Génération de l'historique des mouvements en cours</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if hasRightEdit %}
                <div class="col-12 text-right mt-3">
                    <a {# href="{{ path('article_edit_page', {'article': article.id, 'from': 'show'}) }}" #}
                        class="btn btn-success" data-id='{{ article.id }}' data-toggle='modal'
                        data-target='#modalEditArticle' {# A SUPPRIMER QUAND LA MODIFICATION SERA FAITE #}
                        onclick="editRow($(this), Routing.generate('article_show', true), $('#modalEditArticle'), $('#submitEditArticle'))">
                        <span>Modifier</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    {# A SUPPRIMER QUAND LA MODIFICATION SERA FAITE #}
    {% include "article/modalEditArticle.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article-form') }}
{% endblock %}
