{% extends 'base.html.twig' %}

{% block title %}Themes index{% endblock %}

{% block body %}
    <h1>Themes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Css</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.id }}</td>
                <td>{{ theme.nom }}</td>
                <td>{{ theme.css }}</td>
                <td>
                    <a href="{{ path('themes_show', {'id': theme.id}) }}">show</a>
                    <a href="{{ path('themes_edit', {'id': theme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('themes_new') }}">Create new</a>
{% endblock %}