{% import 'form.html.twig' as form %}

{% set receptionLine = receptionReferenceArticle.receptionLine %}
{% set pack = receptionLine.pack ?? selectedPack %}
{% set packProject = pack ? pack.project %}

{% set displayAction = constant('App\\Entity\\Fields\\FixedFieldByType::ATTRIBUTE_DISPLAYED_CREATE') %}
{% set requiredAction = constant('App\\Entity\\Fields\\FixedFieldByType::ATTRIBUTE_REQUIRED_CREATE') %}

<div class="col-12 col-md-4 col-lg-2">
    <div class="d-flex flex-column justify-content-center dark-background quantity-to-receive">
        {{ form.input('quantityToReceive', 'Article(s)', true, 1, {
            type: 'number',
            min: 1
        }) }}
    </div>
</div>
<div class="col-12 col-md-8 col-lg-10">
    <div class="values p-3">
        <div class="row">
            <div class="col-12 col-lg-3 form-group mt-2">
                {% set receivedQuantity = receptionReferenceArticle.quantite ?? 0 %}
                {% set quantityToReceived = receptionReferenceArticle.quantiteAR ?? 0 %}
                {% set quantity = quantityToReceived - receivedQuantity %}
                {{ form.number('quantity', 'Quantité', true, quantity ? quantity : null, {
                    buttons: false,
                    labelClass: 'w-100',
                    min: 1,
                }) }}
            </div>
            {% set field = constant('App\\Entity\\Fields\\FixedFieldEnum::batch') %}
            {% if fieldsParam|isFieldRequired(field.name, displayAction) %}
                <div class="col-12 col-lg-3 form-group mt-2">
                    {{ form.input(field.name, field.value, fieldsParam|isFieldRequired(field.name, requiredAction)) }}
                </div>
            {% endif %}

            {% set field = constant('App\\Entity\\Fields\\FixedFieldEnum::expiryDate') %}
            {% if fieldsParam|isFieldRequired(field.name, displayAction) %}
                <div class="col-12 col-lg-3 form-group mt-2">
                    {{ form.input(field.name, field.value, fieldsParam|isFieldRequired(field.name, requiredAction), '', {
                        type: 'date',
                    }) }}
                </div>
            {% endif %}

            {% set field = constant('App\\Entity\\Fields\\FixedFieldEnum::project') %}
            {% if fieldsParam|isFieldRequired(field.name, displayAction) %}
                <div class="col-12 col-lg-3 form-group mt-2">
                    {{ form.select(field.name, field.value, fieldsParam|isFieldRequired(field.name, requiredAction), {
                        type: 'project',
                        items: packProject
                            ? [{
                                label: packProject.code,
                                value: packProject.id,
                                selected: true,
                            }]
                            : [],
                    }) }}
                </div>
            {% endif %}
        </div>
        {% include 'free_field/freeFieldsEdit.html.twig' with {
            freeFieldManagementRules: type.freeFieldManagementRules,
            freeFieldValues: [],
            colType: 'col-12 col-lg-3 ',
            requiredType: 'requiredCreate',
            actionType: 'new',
        } %}
    </div>
</div>
<input type="hidden" class="data" name="receptionReferenceArticle" value="{{ receptionReferenceArticle.id }}">
<input type="hidden" class="data" name="supplierReference" value="{{ supplierReference ? supplierReference.reference }}">
{% if pack %}
    <input type="hidden" class="data" name="pack" value="{{ pack.id }}">
{% endif %}

<div class="col-12 d-flex justify-content-end mt-3">
    <button class="btn btn-primary d-flex align-items-center add-packing-lines">
        <span class='wii-icon wii-icon-plus mr-2'></span>
        Ajouter des articles
    </button>
</div>

