{% set referenceArticle = receptionReferenceArticle.referenceArticle %}
<div class="row article-line mb-3"
     data-drop-location-is-reception-location="{{ dropLocationIsReceptionLocation ? 1 : 0 }}"
     data-value="{{ data|json_encode }}">
    <input type="hidden" class="data" name="receptionReferenceArticle" value="{{ receptionReferenceArticle.id }}"/>
    {% if pack %}
        <input type="hidden" class="data" name="pack" value="{{ pack.id }}"/>
    {% endif %}

    <div class="col-2">
        <div class="d-flex flex-column justify-content-center align-items-center quantity-to-receive">
            <label class="text-white bold">Article(s)</label>
            <span class="text-white">{{ quantityToReceive }}</span>
        </div>
    </div>
    <div class="col-3">
        {% set typeColor = referenceArticle.type.color ?? '#3353D7' %}
        <div class="details" style="border: {{ '1px solid ' ~ typeColor }}">
            <div class="wii-field-name dark-background text-center"
                 style="background: {{ typeColor }};">
                {{ referenceArticle.type.label }}
            </div>
            {% if pack ?? null %}
                <div class="d-flex px-3 py-2">
                    <img src="{{ asset('svg/reference_article/stock.svg') }}" alt="Icône référence" width="20px">
                    <div class="d-flex flex-column ml-2">
                        <label class="wii-label">{{ trans('Traçabilité', 'Général', 'Unité logistique') }}</label>
                        <span class="wii-body-text">{{ pack.code }}</span>
                    </div>
                </div>
            {% endif %}
            <div class="d-flex px-3 py-2">
                <img src="{{ asset('svg/pack.svg') }}" alt="Icône référence" width="20px">
                <div class="d-flex flex-column ml-2">
                    <label class="wii-label">Référence : {{ referenceArticle.reference }}</label>
                    <span class="wii-body-text">{{ referenceArticle.libelle }}</span>
                </div>
            </div>
            <div class="px-3 py-2">
                <span class="wii-small-text">Référence fournisseur : {{ supplierReferenceLabel }}</span>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="values">
            <div class="col-12 h-100">
                <div class="row align-items-center h-100">
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <div class="d-flex flex-column">
                                    <label class="wii-field-name">Quantité</label>
                                    <span class="wii-body-text">{{ quantity }}</span>
                                    <input hidden class="data" name="articleQuantity" value="{{ quantity }}"/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="d-flex flex-column">
                                    <label class="wii-field-name">Lot</label>
                                    <span class="wii-body-text">{{ batch ? batch : '-' }}</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="d-flex flex-column">
                                    <label class="wii-field-name">Date de péremption</label>
                                    <span class="wii-body-text">{{ expiry ? expiry : '-' }}</span>
                                </div>
                            </div>
                            <div class="col-3">
                                {% if pack %}
                                    <div class="d-flex flex-column">
                                        <label class="wii-field-name">Projet</label>
                                        <span class="wii-body-text">{{ pack.project ? pack.project.code : '-' }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            {% for name, value in freeFields ?? [] %}
                                <div class="col-3">
                                    <div class="d-flex flex-column">
                                        <label class="wii-field-name">{{ name }}</label>
                                        <span class="wii-body-text">{{ value }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <span class="wii-icon wii-icon-trash-black remove-article-line pointer"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
