{% extends 'layout.html.twig' %}

{% block title %}Dashboards{% endblock %}

{% block pageContainerClass 'dashboard-container' %}

{% block page_content %}
    <div class="dashboard dashboard-bounce mt-1"></div>
    <div class="dashboard-pagination"></div>

    <input type="hidden" class="dashboards-data" value="{{ dashboards }}">

    <span class="refresh-date display">Actualisé le : {{ refreshed }}</span>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/dashboard/render.js') }}?{{ app_last_cache_clear }}"></script>
    <script src="{{ asset('js/pages/dashboard/settings.js') }}?{{ app_last_cache_clear }}"></script>

    <script>
        $(document).ready(() => loadDashboards(MODE_DISPLAY));
    </script>
{% endblock %}
