{% extends 'layout.html.twig' %}

{% block title %}Dashboards{% endblock %}

{% block pageContainerClass 'dashboard-container' %}

{% block page_content %}
    <div class="dashboard dashboard-bounce mt-1"></div>
    <div class="dashboard-pagination"></div>

    <input type="hidden" class="dashboards-data" value="{{ dashboards }}">

    <span class="refresh-date display">Actualisé le : {{ refreshed }}</span>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard-render') }}
    {{ encore_entry_script_tags('dashboard-settings') }}

    <script>
        $(document).ready(() => loadDashboards(MODE_DISPLAY, {{ refresh_rate }}));
    </script>
{% endblock %}
