{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper pl-0 bg-primary-followgt">
        <div class="dashboard-ext p-2">
            <div class="header-container header-ext position-relative">
                {% include 'header.html.twig' with {'isDashboardExt': 1} %}
                <span class="refresh-date external">Actualisé le : {{ refreshed }}</span>
            </div>
            <div class="dashboard-container">
                <div class="dashboard dashboard-bounce"></div>
                <div class="dashboard-pagination"></div>

                <input type="hidden" class="dashboards-data" value="{{ dashboards }}">
            </div>
        </div>
    </div>

    <input type="hidden" id="language" value="{{ getLanguage().slug }}"/>
{% endblock %}

{% block javascripts %}
    <script>
        const USER_SLUG = '{{ getLanguage().slug }}';
    </script>

    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('dashboard') }}
    {{ encore_entry_script_tags('translations') }}
    {{ encore_entry_script_tags('datatable') }}
    {{ encore_entry_script_tags('utils') }}
    {{ encore_entry_script_tags('dashboard-render') }}
    {{ encore_entry_script_tags('dashboard-settings') }}

    <script>
        $(document).ready(() => loadDashboards(MODE_EXTERNAL, {{ refresh_rate }}));
    </script>
{% endblock %}
