{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper pl-0 bg-primary-followgt">
        <div class="dashboard-ext p-2">
            <div class="header-container header-ext position-relative">
                {% include 'header.html.twig' with {'isDashboardExt': 1} %}
                <span class="refresh-date external">Actualisé le : {{ refreshed }}</span>
            </div>
            <div class="dashboard-container">
                <div class="dashboard dashboard-bounce"></div>
                <div class="dashboard-pagination"></div>

                <input type="hidden" class="dashboards-data" value="{{ dashboards }}">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('dashboard') }}

    <script src="{{ asset('js/common.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('generated/translations.default.js') }}?v={{ date().timestamp }}"></script>
    <script src="{{ asset('js/datatable.js') }}?v={{ web_version }}"></script>

    <script src="{{ asset('js/pages/dashboard/render.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/dashboard/settings.js') }}?v={{ web_version }}"></script>

    <script>
        $(document).ready(() => loadDashboards(MODE_EXTERNAL, {{ refresh_rate }}));
    </script>
{% endblock %}
