{% extends 'layout.html.twig' %}

{% block title %}Paramétrage | Dashboards{% endblock %}

{% block pageContainerClass 'dashboard-container' %}

{% block page_content %}
    <div class="dashboard dashboard-settings"></div>
    <div class="dashboard-bottom-bar">
        <button class="btn btn-primary d-flex align-items-center" data-toggle="modal" data-target="#add-row-modal">
            <span class="wii-icon wii-icon-plus mr-2"></span>
            <span>
                 Ajouter une ligne<br><small style="display:block;font-size:0.8rem;margin-top:-5px;">(6 lignes max)</small>
            </span>
        </button>
        <div class="dashboard-pagination"></div>
        <button class="btn btn-success save-dashboards  d-flex align-items-center" style="margin-right: 22px">
            <span class="wii-icon wii-icon-check-white mr-2"></span>Enregistrer
        </button>
    </div>

    <input type="hidden" class="dashboards-data" value="{{ dashboards }}">
    <input type="hidden" class="dashboards-token" value="{{ token }}">

    {% include 'dashboard/component_type/first_step.html.twig' with componentTypeConfig %}
    {% include 'dashboard/component_type/second_step.html.twig' %}
    {% include 'dashboard/modals/add_dashboard.html.twig' %}
    {% include 'dashboard/modals/delete_dashboard.html.twig' %}
    {% include 'dashboard/modals/rename_dashboard.html.twig' %}
    {% include 'dashboard/modals/add_row.html.twig' %}
    {% include 'dashboard/modals/edit_row.html.twig' %}
    {% include 'dashboard/modals/choose_components.html.twig' %}
    {% include 'dashboard/modals/error.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/dashboard/render.js') }}?v={{ web_version }}"></script>
    <script src="{{ asset('js/pages/dashboard/settings.js') }}?v={{ web_version }}"></script>

    <script>
        $(document).ready(() => loadDashboards(MODE_EDIT));
    </script>
{% endblock %}
