{% extends 'base.html.twig' %}

{% block title %}Preparations index{% endblock %}

{% block body %}
    <h1>Preparations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Date_preparation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preparation in preparations %}
            <tr>
                <td>{{ preparation.id }}</td>
                <td>{{ preparation.statut }}</td>
                <td>{{ preparation.datePreparation ? preparation.datePreparation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('preparations_show', {'id': preparation.id}) }}">show</a>
                    <a href="{{ path('preparations_edit', {'id': preparation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('preparations_new') }}">Create new</a>
{% endblock %}