{% import 'form.html.twig' as form %}

{{ form.hidden('id', mvt.id) }}

<div class="row">
    {% set canEditFully = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::FULLY_EDIT_TRACKING_MOVEMENTS')) %}
    <div class="form-group col-md-6 col-12">
        {{ form.input('date', trans('Traçabilité', 'Général', 'Date', false), true, mvt.datetime|date('Y-m-d\\TH:i'), {
            type: 'datetime-local',
            disabled: not canEditFully,
        }) }}
    </div>

    <div class="form-group col-md-6 col-12">
        {{ form.select('operator', trans('Traçabilité', 'Général', 'Opérateur', false), true, {
            type: 'user',
            items: mvt.operateur ? [{
                value: mvt.operateur.id,
                label: mvt.operateur.username
            }] : []
        } ) }}
    </div>

    <div class="form-group col-md-6 col-12">
        {% set pack = mvt.pack %}
        {% set code = pack ? pack.code : null %}
        {{ form.input('pack', trans('Traçabilité', 'Général', 'Unité logistique', false), true, code, {
            type: 'text'
        }) }}
    </div>

    <div class="form-group col-md-6 col-12">
        {{ form.input('', trans('Traçabilité', 'Mouvements', 'Action', false), true,  mvt.type ? trans('Traçabilité', 'Mouvements', mvt.type.nom, false) , {
            type: 'text',
            disabled: true,
        }) }}
    </div>

    <div class="form-group col-md-6 col-12">
        {{ form.select('location', trans('Traçabilité', 'Général', 'Emplacement', false), true, {
            type: 'user',
            items: mvt.emplacement ? [{
                value: mvt.emplacement.id,
                label: mvt.emplacement.label
            }] : []
        } ) }}
    </div>

    {% include 'tracking_movement/form/fieldQuantity.html.twig' with {
        quantity: mvt.quantity,
        containerClass: 'col-md-6'
    } %}
</div>

<span class="toggle-collapsible expanded">{{ trans('Général', '', 'Modale', 'Champs libres', false) }}</span>
<div class="collapsible expanded free-fields-container mb-2">
    {% include 'free_field/freeFieldsEdit.html.twig' with {
        freeFields: champsLibres,
        freeFieldValues: mvt.freeFields,
        colType: 'col-md-6 col-12',
        requiredType: 'requiredEdit',
        actionType: 'edit',
        needsDateFormatting: true
    } %}
</div>

<div class="row">
    <div class="form-group col-12 h-fit-content">
        {{ form.wysiwyg('commentaire', trans('Général', '', 'Modale', 'Commentaire', false), false, mvt.commentaire ?: null)}}
    </div>
    <div class="form-group col-12">
        <div>
            {% include 'attachment/attachment.html.twig' with {
                'isNew': false,
                attachments : mvt.attachments
            } %}
        </div>
    </div>
</div>
