{% import 'form.html.twig' as form %}

<div class="modal fade" id="modalNewMvtTraca" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: trans('Traçabilité', 'Mouvements', 'Nouveau mouvement')
            } %}

            <div class="modal-body modal-input">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="form-group col-12">
                                <label class="wii-field-name mb-1" for="datetime">{{ trans('Traçabilité', 'Général', 'Date', false) }}*</label>
                                {{ form.checkbox('now', 'Maintenant', false, true, {
                                    inputClass: 'filter-checkbox no-clear',
                                    attributes: {
                                        onchange: 'toggleDateInput($(this))',
                                    },
                                }) }}
                                {{ form.input("datetime", null, true, false, {
                                    inputClass: "no-clear d-none mt-2",
                                    width: "w-50",
                                    attributes: {
                                        "data-init": "now",
                                        "placeholder": app.user.displayedDateFormat ~ ' hh:mm',
                                        "autocomplete": "off",
                                        "id": "datetime",
                                    }
                                }) }}
                            </div>
                            <input type="hidden" class="data" name="forced" value="0">
                            <div class="form-group col-12">
                                {{ form.select('operator', trans('Traçabilité', 'Général', 'Opérateur'), true, {
                                    type: 'user',
                                    additionalAttributes: [{
                                        name: 'data-init',
                                        value: app.user.id,
                                    },],
                                    inputClass: 'w-100 needs-default',
                                    items: [{
                                        value: app.user.id,
                                        label: app.user.username,
                                        selected: true,
                                    }]
                                }) }}
                            </div>
                            <div class="form-group col-12">
                                {% set hasEmptyRoundRight = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EMPTY_ROUND')) %}
                                {{ form.select('type', trans('Traçabilité', 'Mouvements', 'Action', false), true, {
                                    type: '',
                                    inputClass: 'no-clear',
                                    additionalAttributes: [
                                        { name: 'onchange', value: 'switchMvtCreationType($(this))' },
                                    ],
                                    items : form_statuses
                                        |filter(status =>
                                            status.nom != constant('App\\Entity\\Tracking\\TrackingMovement::TYPE_UNGROUP')
                                            or (status.nom == constant('App\\Entity\\Tracking\\TrackingMovement::TYPE_EMPTY_ROUND') and hasEmptyRoundRight)
                                        )
                                        |map(status => ({
                                            value: status.id,
                                            label: status.nom,
                                            selected: status.nom == constant('App\\Entity\\Tracking\\TrackingMovement::DEFAULT_TYPE')
                                        }))
                                }) }}
                            </div>
                            <div class="more-body-new-mvt-traca col-12">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="row">
                            <div class="form-group col-12 h-fit-content">
                                {{ form.wysiwyg('commentaire', trans('Général', null, 'Modale', 'Commentaire'), false) }}
                            </div>
                            <div class="form-group col-12">
                                <div>
                                    {% include 'attachment/attachment.html.twig' with {
                                        'isNew' : true,
                                        'addPhotoButton' : true,
                                    } %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="toggle-collapsible expanded">{{ trans('Général', '', 'Modale', 'Champs libres', false) }}</span>
                <div class="collapsible expanded free-fields-container">
                    {% include 'free_field/freeFieldsEdit.html.twig' with {
                        freeFieldManagementRules: type.freeFieldManagementRules,
                        freeFieldValues: [],
                        colType: 'col-md-4 col-12',
                        requiredType: 'requiredCreate',
                        actionType: 'new',
                        needsDateFormatting: true
                    } %}
                </div>
                {{ form.hidden('empty-round', constant('App\\Entity\\Tracking\\TrackingMovement::TYPE_EMPTY_ROUND')) }}
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: trans('Général', null, 'Modale', 'Annuler')},
                    {classes: 'btn btn-success', text: trans('Général', null, 'Modale', 'Enregistrer'), type: 'submit'}
                ],
            } %}
        </div>
    </div>
</div>
