{% import 'form.html.twig' as form %}

<div class="form-mass-mvt-container row">
    <div class="form-group col-12">
        <label class="wii-field-name">{{ trans('Traçabilité', 'Mouvements', 'Emplacement de prise', false) }}*</label>
        <select name="emplacement-prise"
                class="form-control ajax-autocomplete-location data needed w-100"
                title="Emplacement de prise">
        </select>
    </div>
    <div class="form-group col-12">
        {{ form.select('pack', trans('Traçabilité', 'Général', 'Unités logistiques'), true, {
            type: '',
            editableTokenSeparator: ' ',
            multiple: true,
            editable: true,
        }) }}
        <div class="warning-message wii-warning-text mt-2" hidden>
            Les unités logistiques scannées ne sont pas réellement présentes sur cet emplacement de prise.
        </div>
    </div>
    <div class="form-group col-12">
        <label class="wii-field-name">{{ trans('Traçabilité', 'Mouvements', 'Emplacement de dépose', false) }}*</label>
        <select name="emplacement-depose"
                class="form-control ajax-autocomplete-location data needed w-100"
                title="Emplacement de dépose">
        </select>
    </div>

    {% include 'tracking_movement/form/fieldQuantity.html.twig' %}

    <div class="form-group col-12">
        {{ form.input('manualDelayStart', 'Début de délai manuel', false, null, {
            type: 'date',
        }) }}
    </div>

    {{ form.hidden('is-mass', 1)}}
</div>
