<p class="attachement {{ fullWidth is defined and fullWidth ? 'w-100' }}">
    {% if attachment is defined %}
        <input class="data"
               type="hidden"
               name="savedFiles[]"
               value="{{ attachment.id }}"/>
    {% endif %}
    <a target="_blank"
       href="{{ attachment.fullPath is defined and attachment.fullPath is not null ? attachment.fullPath : '/uploads/attachements/' ~ attachment.fileName }}"
       download="{{ attachment.originalName }}" class="has-tooltip" title="{{ attachment.originalName }}">
        <i class="fa fa-file-pdf mr-2"></i>{{ attachment.originalName }}
    </a>
    {% if canRemove is not defined or canRemove %}
        <i class="fa fa-times red pointer"
           onclick="removeAttachment($(this))"></i>
    {% endif %}
</p>
