<div class="{{ bigger is defined ? bigger }}">
    {% set multiple = multiple is defined and multiple %}
    {% set required = required is defined and required %}
    {% set editAttachments = editAttachments is not defined or editAttachments %}
    {% set fieldNameClass = fieldNameClass is defined and fieldNameClass ? fieldNameClass : '' %}
    {% set buttonOnly = buttonOnly is defined and buttonOnly %}
    {% set noLabel = noLabel is defined and noLabel %}
    {% set disabled = disabled is defined and disabled %}
    {% set labelTitle = label is defined and label ? label : "Pièces jointes" %}
    {% set name = nameInput is defined and nameInput ? nameInput : null %}

    <input type="hidden" name="isAttachmentForm" value="1"/>
    <input type="hidden" name="isFileNeeded" value="{{ required ? 1 : 0 }}"/>
    <input type="hidden"  name="isSheetFileNeeded" value="{{ required ? 1 : 0 }}"/>

    {% if not noLabel %}
        <label for="dropfile"
               class="{{ override is not defined or not override ? 'wii-field-name' }} {{ fieldNameClass }} {{ labelTitle }}">{{ trans('Général', null, 'Modale', labelTitle) }}{{ required ? '*' }}</label>
    {% endif %}
    {% if editAttachments %}
        <div class="dropFrame {{ buttonOnly ? 'button-only p-0' }} justify-content-md-center {{ small ?? false ? 'small-frame' }}"
             data-arrivage-id="{{ arrivage is defined ? arrivage.id : '' }}"
             data-litige-id="{{ dispute is defined ? dispute.id : '' }}"
             ondragenter="dragEnterDiv(event, $(this))"
             ondragover="dragOverDiv(event, $(this))"
             ondragleave="dragLeaveDiv(event, $(this))"
             ondrop="saveDroppedFiles(event, $(this))">
            {% set text = text is not defined ? 'Faites glisser vos pièces jointes' : text %}
            <div class="drop-file-hint d-flex flex-column justify-content-center">
                {% if not buttonOnly %}
                    <span class="mb-2">{{ trans('Général', null, 'Modale', 'Faites glisser vos pièces jointes ou') }}&ensp;</span>
                {% endif %}
                <button onclick="openFileExplorer($(this))" class="btn btn-primary {{ buttonOnly ? 'w-fit-content' }}" type="button" {{ disabled ? 'disabled' }}>
                    <i class="fa fa-folder-open mr-2"></i>
                    {% if buttonOnly %}
                        Importer
                    {% else %}
                        {{ trans('Général', null, 'Modale', 'Parcourir vos fichiers') }}
                    {% endif %}
                </button>
                {% if not name %}
                    <input type="file" name="files[]" {{ (unique is not defined) or (not unique) ? 'multiple' }} class="d-none fileInput"
                           onchange="saveInputFiles($(this))">
                {% else %}
                    <input type="file" name="{{ name }}" class="data-file d-none fileInput" id="upload-article-reference-image" onchange="saveInputFiles($(this), singleton=true)">
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="file-bag" {% if icon is defined %}data-icon="{{ icon }}"{% endif %}></div>
    {% if attachments is defined and attachments is iterable %}
        {% if isNew != true %}
            {% for attachment in attachments %}
                {% include 'attachment/attachmentLine.html.twig' with {
                    attachment: attachment,
                    canRemove: editAttachments,
                    icon: icon ?? null,
                    fullWidth: fullWidth ?? false
                } %}
            {% endfor %}
        {% endif %}
    {% elseif attachments is defined and attachments %}
        {% include 'attachment/attachmentLine.html.twig' with {
            attachment: attachments,
            canRemove: editAttachments,
            icon: icon ?? null,
            sheetFileClass: "delete-sheet-file",
            savedSheetFiles:"savedSheetFile"
        } %}
    {% endif %}
</div>
