<div class="{{ bigger is defined ? bigger }}">
    {% set required = required is defined and required %}
    {% set editAttachments = editAttachments is not defined or editAttachments %}
    {% set fieldNameClass = fieldNameClass is defined and fieldNameClass ? fieldNameClass : '' %}
    <input type="hidden" name="isAttachmentForm" value="1"/>
    <input type="hidden" name="isFileNeeded" value="{{ required ? 1 : 0 }}"/>

    <label for="dropfile" class="wii-field-name {{ fieldNameClass }}">Pièces jointes{{ required ? '*' }}</label>
    {% if editAttachments %}
        <div class="dropFrame justify-content-md-center {{ small ?? false ? 'small-frame' }}"
             data-arrivage-id="{{ arrivage is defined ? arrivage.id : '' }}"
             data-litige-id="{{ dispute is defined ? dispute.id : '' }}"
             ondragenter="dragEnterDiv(event, $(this))"
             ondragover="dragOverDiv(event, $(this))"
             ondragleave="dragLeaveDiv(event, $(this))"
             ondrop="saveDroppedFiles(event, $(this))">
            {% set text = text is not defined ? 'Faites glisser vos pièces jointes' : text %}
            <p class="drop-file-hint">Faites glisser vos pièces jointes &ensp; ou&ensp;<span onclick="openFileExplorer($(this))" class="click-here"><i class="fa fa-folder-open mr-2"></i>
                Parcourir {{ not (small ?? false) ? 'vos fichiers' }}</span>
                <input type="file" name="files[]" {{ (unique is not defined) or (not unique) ? 'multiple' }} class="d-none fileInput"
                       onchange="saveInputFiles($(this))">
            </p>
        </div>
    {% endif %}
    <div class="file-bag" {% if icon is defined %}data-icon="{{ icon }}"{% endif %}></div>

    {% if isNew != true %}
        {% for attachment in attachments %}
            {% include 'attachment/attachmentLine.html.twig' with {
                attachment: attachment,
                canRemove: editAttachments,
                icon: icon ?? null,
                fullWidth: fullWidth ?? false
            } %}
        {% endfor %}
    {% endif %}
</div>
