{% if not request_template.id %}
    {% set nf_display = 'displayedCreate' %}
    {% set nf_required = 'requiredCreate' %}
{% else %}
    {% set nf_display = 'displayedEdit' %}
    {% set nf_required = 'requiredEdit' %}
{% endif %}

<div class="form-group">
    <label>Nom du modèle*</label>
    <input type="text" class="form-control data needed always-visible" name="name" value="{{ request_template.name }}" placeholder="Renseigner un nom de modèle..."/>
</div>

<div class="form-group">
    <label>Type de demande*</label>
    {% if not request_template.id %}
        <select name="type" class="form-control data needed always-visible w-100 type-selector" data-s2 data-no-empty-option
                data-placeholder="Sélectionner un type de demande...">
            <option value="{{ constant('App\\Entity\\IOT\\RequestTemplate::TYPE_HANDLING') }}">Service</option>
            <option value="{{ constant('App\\Entity\\IOT\\RequestTemplate::TYPE_DELIVERY') }}">Livraison</option>
            <option value="{{ constant('App\\Entity\\IOT\\RequestTemplate::TYPE_COLLECT') }}">Collecte</option>
        </select>
    {% else %}
        <input name="type" class="form-control data needed w-100" value="{{ request_template.type.label }}" disabled>
    {% endif %}
</div>

{% if not request_template.id or class(request_template) == 'App\\Entity\\IOT\\HandlingRequestTemplate' %}
<div class="sub-form handling-form {{ class(request_template) != 'App\\Entity\\IOT\\HandlingRequestTemplate' ? 'd-none' }}">
    {% include 'request_template/forms/handling.html.twig' %}
</div>
{% endif %}

{% if not request_template.id or class(request_template) == 'App\\Entity\\IOT\\DeliveryRequestTemplate' %}
<div class="sub-form delivery-form {{ class(request_template) != 'App\\Entity\\IOT\\DeliveryRequestTemplate' ? 'd-none' }}">
    {% include 'request_template/forms/delivery.html.twig' %}
</div>
{% endif %}

{% if not request_template.id or class(request_template) == 'App\\Entity\\IOT\\CollectRequestTemplate' %}
<div class="sub-form collect-form {{ class(request_template) != 'App\\Entity\\IOT\\CollectRequestTemplate' ? 'd-none' }}">
    {% include 'request_template/forms/collect.html.twig' %}
</div>
{% endif %}
