{% if not request_template.id %}
    {% set nf_display = 'displayedFormsCreate' %}
    {% set nf_required = 'mustToCreate' %}
{% else %}
    {% set nf_display = 'displayedFormsEdit' %}
    {% set nf_required = 'mustToModify' %}
{% endif %}

<div class="form-group">
    <label>Nom du modèle*</label>
    <input type="text" class="form-control data needed always-visible" name="name" value="{{ request_template.name }}"/>
</div>

<div class="form-group">
    <label>Type de demande*</label>
    {% if not request_template.id %}
        <select name="type" class="form-control data needed always-visible w-100 type-selector" data-s2 data-no-empty-option>
            <option value="{{ constant('App\\Entity\\IOT\\RequestTemplate::TYPE_HANDLING') }}">Service</option>
            <option value="{{ constant('App\\Entity\\IOT\\RequestTemplate::TYPE_DELIVERY') }}">Livraison</option>
            <option value="{{ constant('App\\Entity\\IOT\\RequestTemplate::TYPE_COLLECT') }}">Collecte</option>
        </select>
    {% else %}
        <input name="type" class="form-control data needed w-100" value="{{ request_template.type.label }}" disabled>
    {% endif %}
</div>

<div class="sub-form handling-form {{ class(request_template) != 'App\\Entity\\IOT\\HandlingRequestTemplate' ? 'd-none' }}">
    {% include 'request_template/forms/handling.html.twig' %}
</div>

<div class="sub-form delivery-form {{ class(request_template) != 'App\\Entity\\IOT\\DeliveryRequestTemplate' ? 'd-none' }}">
    {% include 'request_template/forms/delivery.html.twig' %}
</div>

<div class="sub-form collect-form {{ class(request_template) != 'App\\Entity\\IOT\\CollectRequestTemplate' ? 'd-none' }}">
    pas fait
</div>
