<div class="row">
    <div class="form-group col-md-6 col-12">
        <label>Type*</label>
        <select name="handlingType" class="form-control data d-block w-100 needed" data-s2="handlingType"
                onchange="onTypeChange($(this))">
            {% if request_template.requestType %}
                <option selected value={{ request_template.requestType.id }}>{{ request_template.requestType.label }}</option>
            {% endif %}
        </select>
    </div>

    <div class="form-group col-md-6 col-12">
        <label>Statut*</label>
        <select name="status" class="form-control data d-block w-100 needed"
                data-s2="status" data-include-params="select[name=handlingType]">
            {% if request_template.requestStatus is defined and request_template.requestStatus %}
                <option selected value="{{ request_template.requestStatus.id }}">{{ request_template.requestStatus.nom }}</option>
            {% endif %}
        </select>
    </div>

    <div class="form-group needed col-md-6 col-12">
        <label for="subject">{{ 'services.Objet'|trans }}*</label>
        <input class="form-control data needed" name="subject" value="{{ request_template.subject ?? '' }}">
    </div>

    <div class="form-group col-md-6 col-12">
        <label>Date attendue</label>
        <div class="d-flex align-items-center">
            <span style="white-space: nowrap">H +</span>
            <input class="form-control data needed mx-2"
                   style="flex: 1 1 auto"
                   type="number"
                   value="{{ request_template.delay ?? '' }}"
                   name="delay"
                   min="0">
            <span style="white-space: nowrap">à la création</span>
        </div>
    </div>
    {% set field_code = constant('App\\Entity\\FieldsParam::FIELD_CODE_EMERGENCY') %}
    {% if fields_param|isFieldRequired(field_code, nf_display) %}
        {% set required = fields_param|isFieldRequired(field_code, nf_required) %}
        <div class="form-group col-md-6 col-12">
            <label>Urgence{{ required ? '*' }}</label>
            <div class="w-100">
                <select
                    class="form-control input-sm data {{ required ? 'needed' : '' }}"
                    name="emergency">
                    <option value="">Non urgent</option>

                    {% if request_template.emergency is defined and request_template.emergency and request_template.emergency not in emergencies %}
                        <option value="{{ request_template.emergency }}" selected>{{ request_template.emergency }}</option>
                    {% endif %}

                    {% for emergency in emergencies %}
                        <option value="{{ emergency }}" {% if request_template.emergency is defined and request_template.emergency == emergency %}selected{% endif %}>{{ emergency }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% endif %}

    {% set field_code = constant('App\\Entity\\FieldsParam::FIELD_CODE_LOADING_ZONE') %}
    {% if fields_param|isFieldRequired(field_code, nf_display) %}
        <div class="form-group col-md-6 col-12">
            <label for="source">Chargement{{ fields_param|isFieldRequired(field_code, nf_required) ? '*' : '' }}</label>
            <input class="form-control data {{ fields_param|isFieldRequired(field_code, nf_required) ? 'needed' : '' }} input"
                   value="{{ request_template.source ?? '' }}"
                   name="source">
        </div>
    {% endif %}

    {% set field_code = constant('App\\Entity\\FieldsParam::FIELD_CODE_UNLOADING_ZONE') %}
    {% if fields_param|isFieldRequired(field_code, nf_display) %}
        <div class="form-group col-md-6 col-12">
            <label for="destination">Déchargement{{ fields_param|isFieldRequired(field_code, nf_required) ? '*' : '' }}</label>
            <input class="form-control data {{ fields_param|isFieldRequired(field_code, nf_required) ? 'needed' : '' }} input"
                   value="{{ request_template.destination ?? '' }}"
                   name="destination">
        </div>
    {% endif %}

    {% set field_code = constant('App\\Entity\\FieldsParam::FIELD_CODE_CARRIED_OUT_OPERATION_COUNT') %}
    {% if fields_param|isFieldRequired(field_code, nf_display) %}
        {% set carriedOutOperationCount = request_template.carriedOutOperationCount ?? null %}
        <div class="form-group col-md-6 col-12">
            <label for="carriedOutOperationCount">{{ 'services.Nombre d\'opération(s) réalisée(s)'|trans }}{{ fields_param|isFieldRequired(field_code, nf_required) ? '*' }}</label>
            <input type="number"
                   min="0"
                   class="form-control data {{ fields_param|isFieldRequired(field_code, nf_required) ? 'needed' }} input"
                   value="{{ carriedOutOperationCount }}"
                   name="carriedOutOperationCount">
        </div>
    {% endif %}

    {% if request_template.id %} {# edit request #}
        {% if request_template.requestType is not null and request_template.requestType.champsLibres.count > 0 %}
            <div class="col-12">
                <span class="toggle-collapsible expanded">Champs libres</span>
                <div class="collapsible expanded free-fields-container mb-2">
                    {% include 'free_field/freeFieldsViewing.html.twig' with {
                        freeFields: request_template.requestType.champsLibres,
                        freeFieldValues: request_template.freeFields,
                        colType: 'col-md-6 col-12',
                        requiredType: 'requiredEdit',
                        actionType: 'edit'
                    } %}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="col-12">
            <span class="toggle-collapsible expanded">Champs libres</span>
            <div class="collapsible expanded free-fields-container mb-2">
                {% for type in handling_free_fields_types %}
                    <div class="d-none"
                         data-type="{{ type.typeId }}">
                        {% include 'free_field/freeFieldsViewing.html.twig' with {
                            freeFields: type.freeFields,
                            freeFieldValues: [],
                            colType: 'col-md-6 col-12',
                            requiredType: 'requiredCreate',
                            actionType: 'new',
                            disabledNeeded: true
                        } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="form-group col-md-6 col-12">
        <label for="commentaire">Commentaire</label>
        <input id='commentaire'
               class="comment form-control data"
               name="comment"
               type="hidden"
               value="{{ request_template.comment ?? '' }}">
        <div class="handling-editor-container{{ request_template.id ? '-edit' }}" value="{{ request_template.comment ?? '' }}">
            {{ (request_template.comment ?? '') | raw }}
        </div>
    </div>

    <div class="form-group col-md-6 col-12">
        {% include 'attachment/attachment.html.twig' with {'isNew' : not request_template.id, 'attachments': request_template.attachments ?? []} %}
    </div>
</div>
