<div class="row">
    <div class="form-group col-12">
        <label>Référence*</label>
        <select name="reference" class="form-control data d-block w-100 needed" data-s2="reference">
            {% if line.reference %}
                <option selected value={{ line.reference.id }}>{{ line.reference.reference }}</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group col-12 mb-3">
        <label>Libellé</label>
        <input class="form-control data reference-label" type="text" name="libelle" value="{{ line.reference ? line.reference.libelle }}" readonly>
    </div>

    <div class="form-group col-12">
        <label>{{ quantityText }}*</label>
        <input type="number" name="quantityToTake" class="form-control data needed w-100" value="{{ line.quantityToTake }}"/>
    </div>
</div>
