{% extends 'base.html.twig' %}

{% block title %}Demandes index{% endblock %}

{% block body %}
    <h1>Demandes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Type</th>
                <th>Date_demande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.statut }}</td>
                <td>{{ demande.type }}</td>
                <td>{{ demande.dateDemande ? demande.dateDemande|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('demandes_show', {'id': demande.id}) }}">show</a>
                    <a href="{{ path('demandes_edit', {'id': demande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demandes_new') }}">Create new</a>
{% endblock %}