{% extends 'base.html.twig' %}

{% block title %}Demandes{% endblock %}

{% block body %}
    <h1>Demandes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ demande.statut }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ demande.type }}</td>
            </tr>
            <tr>
                <th>Date_demande</th>
                <td>{{ demande.dateDemande ? demande.dateDemande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('demandes_index') }}">back to list</a>

    <a href="{{ path('demandes_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demandes/_delete_form.html.twig') }}
{% endblock %}