<html lang="fr">
    <head>
        <style>
            .barcode-container {
                padding: .7mm;
                overflow: hidden;
                box-sizing: border-box;

                width: {{ width }}mm;
                height: {{ height }}mm;
            }

            .barcode {
                max-width: 100%;
                height: 40%;
                margin: 0;
                padding: 0;
                position: relative;
                text-align: center;
            }

            .barcode svg {
                height: 100%;
            }
            .labels {
                height: 60%;
            }
            .labels p {
                overflow-wrap: break-word;
                text-align: center;
                margin: 0;
            }
            .labels p:first-child {
                margin-top: 3px;
            }

            html, body {
                margin: 0;
                padding: 0;
            }

            @media print {
                .page-breaker {
                    page-break-before: always;
                    height: 0;
                }
            }
        </style>
        <title>{{title}}</title>
    </head>
    <body>
        {% for config in barcodeConfigs %}
            {% if not loop.first %}<div class="page-breaker"></div>{% endif %}
            <div class="barcode-container">
                <div class="barcode">
                    {{
                        printBarcode({
                            code: config.barcode.code,
                            type: config.barcode.type,
                            format: 'svg',
                            height: config.barcode.height,
                            width: config.barcode.width
                        })|raw
                    }}
                </div>
                <div class="labels" style="font-size: {{config.labelsFontSize}};">
                    {% if config.labels is defined %}
                        {% for label in config.labels %}
                            <p>{{ label|trim }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </body>
</html>
