<html lang="fr">
    <head>
        <style>
            .barcode-container {
                padding: 1mm;
                width: 100%;
                height: 100%;
                overflow: hidden;
                box-sizing: border-box;
            }

            .barcode {
                max-width: 100%;
                height: 40%;
                margin: 0;
                padding: 0;
                position: relative;
                text-align: center;
            }

            .barcode svg {
                height: 100%;
            }
            .labels {
                margin-top: 3px;
            }
            .labels p {
                overflow-wrap: break-word;
                text-align: center;
                margin: 0;
                font-size: {{labelsFontSize}};
            }
            body {
                margin: 0 !important;
                padding: 0 !important;
                position: relative;
                overflow: hidden;
                height: 100%;
                width: 100%;
            }
            html {
                width: {{ width }}mm;
                height: {{ height }}mm;
                overflow: hidden;
            }
        </style>
        <title>Etiquette {{ barcode.code }}</title>
    </head>
    <body>
        <div class="barcode-container">
            <div class="barcode">
        {#        {{ printBarcode({#}
        {#            code: code,#}
        {#            type: barcodeType,#}
        {#            format: 'svg',#}
        {#            width: 1,#}
        {#            height: 1#}
        {#        })|domAttribute('viewBox', '0 0 21 21')|raw }}#}

                {{
                    printBarcode({
                        code: barcode.code,
                        type: barcode.type,
                        format: 'svg',
                        height: barcode.height,
                        width: barcode.width
                    })|raw
                }}
            </div>
            <div class="labels">
                {% if labels is defined %}
                    {% for label in labels %}
                        <p>{{ label|trim }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>
