<input type="hidden" class="article-row-id" value="{{ articleId }}"/>
<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            {% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
                <div class="d-none">
                    <div class="btn btn-col-action action-on-click" data-id='{{ articleId }}' data-toggle='modal' data-target='#modalEditArticle'
                         onclick="editRow($(this), Routing.generate('article_show', true), $('#modalEditArticle'), $('#submitEditArticle'), true)">
                        <i class='fas fa-pencil-alt'></i>
                    </div>
                </div>
            {% else %}
                <div class="d-none">
                    <div class="btn btn-col-action action-on-click" data-id='{{ articleId }}' data-target='#modalShowArticle' data-toggle='modal'
                         onclick="showRow($(this), Routing.generate('article_show', true), $('#modalShowArticle'))">
                        <i class='fas fa-eye'></i>
                    </div>
                </div>
            {% endif %}
            {% if fromReception %}
                <a class="dropdown-item"
                   href="{{ path('reception_article_single_bar_code_print', {article: articleId, reception: receptionId}) }}">
                    <i class="fas fa-print mr-2"></i>Imprimer
                </a>
            {% else %}
                <a class="dropdown-item"
                   href="{{ path('article_single_bar_code_print', {article: articleId}) }}">
                    <i class="fas fa-print mr-2"></i>Imprimer
                </a>
            {% endif %}
            {% if demandeId is not null %}
                <div class="dropdown-item" data-id='{{ articleId }}'
                     onclick='redirectToDemandeLivraison({{ demandeId }})'>
                    <i class="fas fa-external-link-alt mr-2"></i>Accéder à la demande
                </div>
            {% endif %}
            <a href="{{ path('mvt_traca_index') }}{{ articleFilter is defined and articleFilter is not empty ? ('?colis=' ~ articleFilter) }}" class="dropdown-item">
                <i class="fas fa-list mr-2"></i>Voir mouvements de tracabilité
            </a>
            {% if  hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::DELETE')) %}
                {% set checkAndDeleteRowParams = fromReception ? ', {fromReception: 1}' %}
                <div class="dropdown-item"
                     onclick="checkAndDeleteRow($(this), '#modalDeleteArticle', 'article_check_delete', '#submitDeleteArticle' {{ checkAndDeleteRowParams }})"
                     data-id='{{ articleId }}'
                     data-target='#modalDeleteArticle'
                     data-toggle='modal'>
                    <i class='fas fa-trash mr-2'></i>Supprimer
                </div>
            {% endif %}
        </div>
    </div>
</div>
