{#<a href='{{ url.edit }}' data-toggle='modal' class='btn btn-xs btn-default command-edit'>
    <i class='fas fa-pencil-alt '></i>
</a>

<a href='{{ url.show }}' data-toggle='modal' class='btn btn-xs btn-default command-edit'>
    <i class='fas fa-eye '></i>
</a>#}


{#<div data-id='{{ articleId }}' data-target='#modalEditArticle' data-toggle='modal' class='btn btn-xs btn-default command-edit'
    onclick="editRow($(this), Routing.generate('article_edit_api', true), $('#modalEditArticle'), $('#submitEditArticle'))">
    <i class='fas fa-pencil-alt'></i>
</div>#}

<div class='btn btn-xs btn-default type-show'
    onclick="showRow($('#modalShowArticle'), $(this), Routing.generate('article_show', true) )"
    data-id='{{ articleId }}' data-target='#modalShowArticle' data-toggle='modal'>
    <i class='fas fa-eye'></i>
</div> 
{#<div class='btn btn-xs btn-default alerte-delete'
    onclick="deleteRow($(this), $('#modalDeleteAlerte'), $('#submitDeleteAlerte'))" data-id='{{ alerteId }}'
    data-target='#modalDeleteAlerte' data-toggle='modal'>
    <i class='fas fa-trash'></i>
</div>#}