<input type="hidden" class="article-row-id" value="{{ articleId }}"/>
<div class="d-flex">
    <div class="dropdown dropright">
        {% include 'datatable/dotsRow.html.twig' %}
        <div class="dropdown-menu dropdown-follow-gt pointer">
            <div class="d-none">
                <a href="{{ path('article_show_page', {article: articleId}) }}" class="btn btn-col-action action-on-click"></a>
            </div>
            {% if fromReception %}
                <a class="dropdown-item  d-flex align-items-center"
                   href="{{ path('reception_article_single_bar_code_print', {article: articleId, reception: receptionId}) }}">
                    <span class="wii-icon wii-icon-printer-black mr-2"></span>Imprimer
                </a>
            {% else %}
                <a class="dropdown-item  d-flex align-items-center"
                   href="{{ path('article_single_bar_code_print', {article: articleId}) }}">
                    <span class="wii-icon wii-icon-printer-black mr-2"></span>Imprimer
                </a>
            {% endif %}
            {% if demandeId is not null %}
                <div class="dropdown-item" data-id='{{ articleId }}'
                     onclick='redirectToDemandeLivraison({{ demandeId }})'>
                    <i class="fas fa-external-link-alt mr-2"></i>Accéder à la demande
                </div>
            {% endif %}
            <a href="{{ path('mvt_traca_index') }}{{ articleFilter is defined and articleFilter is not empty ? ('?colis=' ~ articleFilter) }}" class="dropdown-item">
                <i class="fas fa-list mr-2"></i>Voir mouvements de traçabilité
            </a>
            {% if hasPairing
                and hasRight(constant('App\\Entity\\Menu::IOT'), constant('App\\Entity\\Action::DISPLAY_SENSOR')) %}
                <a class="dropdown-item"
                   href="{{ path('show_data_history', {id: articleId, type: constant('App\\Entity\\IOT\\Sensor::ARTICLE')}) }}">
                    <span class="wii-icon wii-icon-pairing mr-2"></span>
                    Historique des données
                </a>
            {% endif %}
            {% if  hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::DELETE')) %}
                {% set checkAndDeleteRowParams = fromReception ? ', {fromReception: 1}' %}
                <div class="dropdown-item d-flex align-items-center"
                     onclick="checkAndDeleteRow($(this), '#modalDeleteArticle', 'article_check_delete', '#submitDeleteArticle' {{ checkAndDeleteRowParams }})"
                     data-id='{{ articleId }}'
                     data-target='#modalDeleteArticle'
                     data-toggle='modal'>
                    <span class="wii-icon wii-icon-trash-black mr-2"></span>Supprimer
                </div>
            {% endif %}
        </div>
    </div>
</div>
