{% extends 'layout.html.twig' %}

{% block title %}Stock | Articles{% endblock %}

{% block page_content %}
    {% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EXPORT')) %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                <div class="btn-group">
                    {% if hasRightToCreate %}
                        <button type="button"
                                class="btn btn-primary split-button btn-ripple"
                                data-toggle="modal"
                                data-target="#modalNewArticle"
                                onclick="Select2.articleReference($('.ajax-autocomplete'), 'article'), clearNewArticleContent($('#submitNewArticle'))">
                            <span class="fa fa-plus mr-2"></span>
                            Nouvel article
                        </button>
                    {% elseif hasRightToExport %}
                        <div tabindex="0"
                             data-toggle="tooltip"
                             title="Veuillez faire une recherche pour imprimer.">
                            <button type="button"
                                    class="btn btn-primary split-button btn-ripple printButton btn-disabled"
                                    id="printTag"
                                    onclick="printArticlesBarCodes($(this))">
                                <span class="fa fa-print mr-2"></span>
                                Impression des étiquettes
                            </button>
                        </div>
                    {% endif %}

                    <button type="button" class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span class="fa fa-angle-down"></span>
                    </button>
                    <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                        {% if hasRightToCreate and hasRightToExport %}
                            <div class="dropdown-item user-select-none disabled has-tooltip"
                                 tabindex="0"
                                 id="printTag"
                                 onclick="printArticlesBarCodes($(this), event)"
                                 title="Veuillez faire une recherche pour imprimer.">
                                <span class="fa fa-print mr-2"></span>
                                Impression des étiquettes
                            </div>
                        {% endif %}
                        <a class="dropdown-item pointer"
                           data-toggle="modal"
                           data-target="#modalColumnVisible">
                            <span class="fas fa-cog mr-2"></span>
                            Gestion des colonnes
                        </a>
                        <a class="dropdown-item pointer"
                           data-toggle="modal"
                           data-target="#modalRapidSearch">
                            <span class="fa fa-search mr-2"></span>
                            Recherche rapide
                        </a>
                        <div class="statut dropdown-item">
                            <div class="checkbox pl-0 pointer">
                                <input id="toggleActivOrInactiv"
                                       onchange="displayActifOrInactif($(this))"
                                       class="styled"
                                       type="checkbox" {{ activeOnly ? 'checked' : '' }}>
                                <label for="toggleActivOrInactiv" class="pointer">
                                    Articles actifs seulement
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center" id="spinner">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table id="tableArticle_id" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% set statutVisible = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
    <input type="hidden" class='statutVisible' name="statutVisible" value="{{ statutVisible }}">

    {% include "article/modalEditArticle.html.twig" %}
    {% include "article/modalShowArticle.html.twig" %}
    {% include "article/modalNewArticle.html.twig" %}
    {% include "article/modalDeleteArticle.html.twig" %}

    {% include "utils/rapid_search.html.twig" with {
        'fields': fields,
        'searches': searches,
        'table': 'tableArticle',
        'route': 'update_user_searches_for_article',
    } %}

    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'tableArticle',
        'route': 'save_column_visible_for_article',
    } %}
    <div class="d-none" id="barcodes"></div>
    <input type="hidden" id="listArticleIdToPrint">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/article.js') }}?{{ app_last_cache_clear }}"></script>
{% endblock %}
