{% extends 'layout.html.twig' %}

{% block title %}Stock | Articles{% endblock %}

{% block page_content %}
    {% set hasRightToCreate = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightToExport = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EXPORT')) %}
    <div class="m-4 datatable-container">
        <div class="row datatable-header">
            <div class="col-auto ml-auto">
                <div id="alerts">
                    <div class="alert alert-danger text-center d-none">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <span class="error-msg"></span>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="btn-group">
                    {% if hasRightToCreate and hasRightToExport %}
                        <button type="button"
                                class="btn btn-primary split-button btn-ripple"
                                data-toggle="modal"
                                data-target="#modalNewArticle"
                                onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete'), 'article'), clearNewArticleContent($('#submitNewArticle'))">
                            <span class="fa fa-plus mr-2"></span>Nouvel article
                        </button>
                        <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu pointer mr-5">
                            <span class="d-inline-block ml-2 has-tooltip" tabindex="0" data-toggle="tooltip"
                                  title="Veuillez faire une recherche pour imprimer.">
                                <a class="dropdown-item pl-3 btn-disabled" href="#" id="printTag"
                                   onclick="printArticlesBarCodes()"><span class="fa fa-print mr-2"></span>
                                Impression des étiquettes</a>
                            </span>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalColumnVisible" href="#">
                                <span class="fa fa-print mr-2"></span>Modifier colonnes</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalRapidSearch" href="#">
                                <span class="fa fa-search mr-2"></span>Recherche rapide</a>
                            <div class="statut dropdown-item">
                                <div class="checkbox pl-0 pointer">
                                    <input id="toggleActivOrInactiv"
                                           onchange="displayActifOrInactif($(this))"
                                           class="styled"
                                           type="checkbox" {{ activeOnly ? 'checked' : '' }}>
                                    <label for="toggleActivOrInactiv" class="pointer">
                                        Articles actifs seulement
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if hasRightToCreate %}
                            <button type="button"
                                    class="btn btn-primary split-button btn-ripple"
                                    data-toggle="modal"
                                    data-target="#modalNewArticle"
                                    onclick="ajaxAutoRefArticleInit($('.ajax-autocomplete'), 'article'), clearNewArticleContent($('#submitNewArticle'))">
                                <span class="fa fa-plus mr-2"></span>Nouvel article
                            </button>
                        {% elseif hasRightToExport %}
                            <span class="d-inline-block has-tooltip"
                                  tabindex="0" data-toggle="tooltip"
                                  title="Veuillez faire une recherche pour imprimer.">
                                <button type="button"
                                        class="btn btn-primary split-button btn-ripple printButton btn-disabled"
                                        id="printTag"
                                        onclick="printArticlesBarCodes()">
                                <span class="fa fa-plus mr-2"></span>Impression des étiquettes
                                </button>
                            </span>
                        {% endif %}
                        <button type="button" class="btn btn-primary split-button-dropdown btn-ripple" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu pointer {{ not hasRightToExport and not hasRightToCreate ? 'dropdown-single' : 'mr-5'}}">
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalColumnVisible" href="#">
                                <span class="fa fa-print mr-2"></span>Modifier colonnes</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#modalRapidSearch" href="#">
                                <span class="fa fa-search mr-2"></span>Recherche rapide</a>
                            <div class="statut dropdown-item">
                                <div class="checkbox pl-0 pointer">
                                    <input id="toggleActivOrInactiv"
                                           onchange="displayActifOrInactif($(this))"
                                           class="styled"
                                           type="checkbox" {{ activeOnly ? 'checked' : '' }}>
                                    <label for="toggleActivOrInactiv" class="pointer">
                                        Articles actifs seulement
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center" id="spinner">
                    <div class="spinner-border sizeLoader" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <table id="tableArticle_id" class="table w-100">
                </table>
            </div>
        </div>
    </div>

    {% set statutVisible = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
    <input type="hidden" class='statutVisible' name="statutVisible" value="{{ statutVisible }}">
    {#TODO#}
    {% include "article/modalEditArticle.html.twig" %}
    {% include "article/modalShowArticle.html.twig" %}
    {% include "article/modalNewArticle.html.twig" %}
    {% include "article/modalDeleteArticle.html.twig" %}
    {% include "article/modalRapidSearch.html.twig" %}
    {% include "article/modalColumnVisible.html.twig" %}
    <div class="d-none" id="barcodes"></div>
    <input type="hidden" id="listArticleIdToPrint">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/article.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
