{% set editable = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
{% set disabled = editable ? '' : 'disabled' %}
{% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
    {% set needed = 'needed' %}
{% else %}
    {% set needed = '' %}
{% endif %}

<div class="row">
    <div class="form-group col-6">
        <label for="label">Libellé</label>
        <input {{ disabled }} type="text" class="form-control data needed" name="label" id='label' value="{{article.label}}"
            placeholder="">
    </div>
    <div class="form-group col-6">
        <label for="type">Type</label>
        <select disabled class="form-control data" name="type" id="type">
            <option value="{{ typeArticleId }}">{{ typeArticle }}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col-3">
        <label for="quantité">Quantité*</label>
            {# si on est sur une demande, la quantité ne doit pas être modifiée #}
            {% set disabledOnDemand = isADemand ? 'disabled' : disabled %}
            {% set neededOnDemand = isADemand ? '' : needed %}
        <input {{ disabledOnDemand }} class="form-control data {{ neededOnDemand }}" type="number" min="0" name="quantite" id="quantite"
            value="{{article.quantite}}">
    </div>
    <div class="form-group col-3">
        <div class="reference">
            <label for="prix">Prix Unitaire (€)</label>
            <input class="form-control data" type="number" name="prix" min="0" step="0.01" value="{{ article.prixUnitaire }}" {{ disabled }}>
        </div>
    </div>
    <div class="form-group col-6 w-100">
        <label for="emplacement">Emplacement</label>
        <select {{ disabled }} class="ajax-autocompleteEmplacement-edit data form-control needed" name="emplacement">
            {% if article.emplacement != null %}
            <option value="{{article.emplacement.id}}">{{article.emplacement.label}}</option>
            {% endif %}
        </select>
    </div>
</div>
<div class="row">
    {% if not isADemand %}
        <div class="form-group col-3">
            <label for="statut" class="w-100">Statut</label>
            <div class="w-100">
                <button class="btn btn-primary" disabled>{{ statut | capitalize }}</button>
            </div>
        </div>
    {% endif %}
    <div class="form-group col-3">
        <label class="w-100">Anomalie</label>

        <div class="w-100 mt-1">
            <label class="switch">
                <input {{ disabled }} class="checkbox" type="checkbox" name="conform" {{ article.conform ? '' : 'checked'}}>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="form-group col-3">
        <label>Catégorie d'inventaire</label>
        <input disabled class="form-control" type="text" value="{{ invCategory ? invCategory.label }}">
    </div>
    <div class="form-group col-3">
        <label>Date dernier inventaire</label>
        <input name="categorie" class="form-control" disabled value="{{ article.dateLastInventory | date('d/m/Y') }}">
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        <div>
            <label for="commentaire">Commentaire</label>
            <input {{ disabledOnDemand }} id="commentaire" class="form-control data" type="hidden" name="commentaire"
                value="{{article.commentaire}}" >
            {% set backgroundGrey = (isADemand or disabledOnDemand == 'disabled') ? 'backGreyFormLight' : '' %}
            <div {{ disabledOnDemand }} class="editor-container-edit form-control comment {{ backgroundGrey }}">
                {{article.commentaire|raw}}
            </div>
        </div>
    </div>

    <!-- CHAMPS LIBRES -->
    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'>
            <i class="fas fa-sort-up d-block mr-2"></i>
            <i class="fas fa-sort-down  d-none mr-2"></i>
            Champs libres
        </h3>
    </div>
    <div class="form-group col-12 blocVisible d-block" id='typeEdit'>
        <div class='d-block' id="{{typeArticle}}-edit">
            <div class="row mt-2">
                {% for champLibre in typeChampsLibres.champsLibres %}
                    {# cas général #}
                    {% if champLibre.requiredEdit and hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
                        {% set needed = 'needed' %}
                        {% set star = '*' %}
                    {% else %}
                        {% set needed = '' %}
                        {% set star = '' %}
                    {% endif %}

                    <div class="form-group col-6">

                    {% if champLibre.label|lower == 'code projet' %}
                    <label for="input">{{ champLibre.label }}*</label>
                    {% else %}
                    <label for="input">{{ champLibre.label }}{{ star }}</label>
                    {% endif %}

                    {% if champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_BOOL') %}
                    {% set checked = ((champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : 0) == 1) ? 'checked' : '' %}
                    <label class="switch">
                        <input {{ disabled }} type="checkbox" class="data checkbox" {{ checked }}
                            name="{{ champLibre.id}}">
                        <span class="slider round"></span>
                    </label>

                    {% elseif  champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_NUMBER') %}
                    <input {{ disabled }} type="number" id="{{ champLibre.id ~ 'edit'}}"
                        class="form-control data {{ needed }}"
                        value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                        name="{{ champLibre.id}}" id="input">

                    {% elseif  champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_LIST') %}
                    <select {{ disabled }} class="form-control data {{ needed }}" id="{{ champLibre.id ~ 'edit'}}"
                        name="{{ champLibre.id}}" id="input">
                        <option value="">aucune sélection...</option>
                        {% for elem in champLibre.elements %}
                        {% set selected = elem ==( champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' )? 'selected' : '' %}
                        <option value="{{elem}}" {{ selected }}>{{elem}}</option>
                        {% endfor %}
                    </select>
                    {% elseif champLibre.typage == 'list multiple' %}
                        <select {{ disabled }} id="{{ champLibre.id ~ 'edit' }}" class="list-multiple form-control data {{ needed }}"
                                name="{{ champLibre.id }}" multiple="multiple">
                            {% for elem in champLibre.elements %}
                                {% set selected = (champLibre.valeurChampLibre and elem in (champLibre.valeurChampLibre.valeur | split(';'))) ? 'selected' : '' %}
                                <option value="{{ elem }}" {{ selected }}>{{ elem }}</option>
                            {% endfor %}
                        </select>

                    {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_TEXT')  %}
                    <input {{ disabled }} type="text" id="{{ champLibre.id ~ 'edit'}}"
                        class="form-control data {{ needed }}"
                        value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                        name="{{  champLibre.id }}" id="input">

                    {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_DATE') %}
                    <input type="date" name="{{ champLibre.id }}" id="{{champLibre.id ~ 'edit'}}"
                        class="form-control data {{ needed }}"
                        value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}">
                    {% elseif champLibre.typage == constant('App\\Entity\\ChampLibre::TYPE_DATETIME') %}
                        <input type="datetime-local" name="{{ champLibre.id }}" id="{{champLibre.id ~ 'edit'}}"
                               class="form-control data {{ needed }}"
                               value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}">
                    {% else %}
                    <input disabled>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 row mt-4">
        <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
            <h3 class='d-flex pointer'>
                <i class="fas fa-sort-up d-none mr-2"></i>
                <i class="fas fa-sort-down d-block mr-2"></i>
                Articles Fournisseurs
            </h3>
        </div>
        <div class="form-group blocVisible col-12 d-none">
            <div class="form-group col-12 d-block" id='articleFournisseursEdit'>
                {% include 'article/fournisseurArticleShowContent.html.twig' %}
            </div>
        </div>
    </div>
</div>
