<p>
    {% if request is not null %}
        Cet article est lié à la demande {{ request }}.<br>
    {% endif %}
    {% if prepa is not null %}
        Cet article est lié à la préparation {{ prepa }}.<br>
    {% endif %}
    {% if not mvtStockIsEmpty %}
        Cet article est lié à des mouvements de stock.<br>
    {% endif %}
    {% if not mvtTracaIsEmpty %}
        Cet article est lié à des mouvements de traçabilité.<br>
    {% endif %}
    {% if request is not null or prepa is not null or not mvtStockIsEmpty or not mvtTracaIsEmpty %}
    La suppression de l'article supprimera donc :
        <ul>
            {{ request ? '<li>- la demande</li>' }}
            {{ prepa ? '<li>- la préparation</li>' }}
            {{ not mvtStockIsEmpty ? '<li>- les mouvements de stock</li>' }}
            {{ not mvtTracaIsEmpty ? '<li>- les mouvements de traçabilité</li>' }}
        </ul>
        <br>
    {% endif %}
    Etes vous sur de vouloir supprimer cet article ?
</p>
<div class='error-msg mt-2'></div>
