{% set easyForm = (easyForm is defined) and easyForm %}
{% set editable = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
{% set disabled = editable ? '' : 'disabled' %}
<div class="row">
    <div class="form-group w-100 col-12">
        <label>Référence fournisseur*
            <select class="form-control data needed select2" name="articleFournisseur">
                {% if references is defined and references %}
                    {% if (defaultArticleFournisseurReference is not defined or defaultArticleFournisseurReference is empty)
                        and references|length > 1 %}
                        <option value="" selected>&nbsp;</option>
                    {% endif %}
                    {% for ref in references %}
                        <option value="{{ ref.id }}"
                            {{ defaultArticleFournisseurReference is defined and defaultArticleFournisseurReference == ref.reference ? 'selected' }}>
                            {{ ref.reference }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </label>
    </div>
    {% if not easyForm %}
        <div class="form-group col-6">
            <label for="libelle">Libellé*</label>
            <input class="form-control data needed" type="text" name="libelle" id="libelle">
        </div>
        <div class="form-group col-6">
            <label for="libelle">Type</label>
            <input class="form-control data" type="text" disabled value="{{ typeArticle }}" name="type" id="type">
        </div>
    {% endif %}
</div>
{% if not easyForm %}
    <div class="row">
        <div class="form-group col-3">
            <label for="quantité">Quantité*</label>
            <input class="form-control data needed" type="number" min="0" name="quantite" id="quantité">
        </div>
        <div class="form-group col-3">
            <div class="reference">
                <label for="prix">Prix Unitaire (€)</label>
                <input class="form-control data" type="number" name="prix" min="0" step="0.01">
            </div>
        </div>
        <div class="form-group col-6 w-100">
            <label for="emplacement">Emplacement*</label>
            <select class="ajax-autocompleteEmplacement data form-control needed" name="emplacement">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-3">
            <label for="statut" class="w-100">Statut</label>
            <div class="w-100">
                <button class="btn btn-primary" disabled>{{ constant('App\\Entity\\Article::STATUT_ACTIF') }}</button>
            </div>
        </div>
        <div class="form-group col-3">
            <label class="w-100">Anomalie</label>

            <div class="w-100 mt-1">
                <label class="switch">
                    <input class="checkbox" type="checkbox" name="conform">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label>Commentaire</label>
            <input id='commentaire' class="form-control data" name="commentaire" type="hidden">
            <div class="editor-container-new"></div>
        </div>
    </div>
{% endif %}
<div class="row mt-4">
    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'>
            <i class="fas fa-sort-up d-block mr-2"></i>
            <i class="fas fa-sort-down d-none mr-2"></i>
            Champs libres
        </h3>
    </div>
    <div class="form-group col-12 blocVisible d-block" id='typeContentEdit'>
        <div class="row">
            {% include 'champ_libre/freeFieldsVizualisation.html.twig' with {
                freeFields: champsLibres,
                freeFieldValues: [],
                colType: 'col-4',
                requiredType: 'requiredCreate',
                actionType: 'new'
            } %}
        </div>
    </div>
</div>
