<div class="row">
    <div class="form-group col-6">
        <label for="libelle">Libellé</label>
        <input disabled type="text" class="form-control data" name="label" id='label' value="{{article.label}}"
            placeholder="">
    </div>
    <div class="form-group col-6">
        <label for="libelle">Type</label>
        <input class="form-control data" type="text" disabled value="{{typeArticle}}" name="type" id="type">
    </div>
    <div class="form-group col-6">
        <label for="quantité">Quantité</label>
        <input disabled class="form-control data needed" type="number" min="0" name="quantite" id="quantite"
            value="{{article.quantite}}">
    </div>
    <div class="form-group col-6 w-100">
        <label for="emplacement">Emplacement</label>
        <select disabled class="ajax-autocompleteEmplacement-edit data form-control" name="emplacement">
            {% if article.emplacement != null %}
            <option value="{{article.emplacement.id}}">{{article.emplacement.label}}</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group col-2">
        <label>Anomalie</label>
        <label class="switch">
            <input disabled class="checkbox" type="checkbox" name="conform" {{article.conform ? '' : 'checked'}}>
            <span class="slider round"></span>
        </label>
    </div>
    <div class="form-group col-6 w-100">
        <label for="emplacement">Emplacement</label>
        <select class="ajax-autocompleteEmplacement-edit data form-control" name="emplacement" disabled>
            {% if article.emplacement != null %}
            <option value="{{article.emplacement.id}}">{{article.emplacement.label}}</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group col-12">
        <div>
            <label for="commentaire">Commentaire</label>
            <input disabled id="commentaire" class="form-control  data" type="hidden" name="commentaire"
                value="{{article.commentaire}}">
            <div class="editor-container-edit form-control comment backGreyFormLight">
                {{article.commentaire|raw}}</div>
        </div>
    </div>

    <!-- CHAMPS LIBRES -->
    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'>
            <i class="fas fa-sort-up d-block mr-2"></i>
            <i class="fas fa-sort-down  d-none mr-2"></i>
            Champs libres
        </h3>
    </div>
    <div class="form-group col-12 blocVisible d-block" id='typeContentEdit'>
        <div class='d-block' id="{{typeArticle}}-edit">
            <div class="row mt-2">
                {% for champLibre in typeChampsLibres.champsLibres %}
                {% set needed = champLibre.requiredEdit ? 'needed' : '' %}
                <div class="form-group col-6">
                    <label for="input">{{ champLibre.label | capitalize}}</label>

                    {% if champLibre.typage == 'booleen' %}
                    {% set checked = ((champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : 0) == 1) ? 'checked' : '' %}
                    <label class="switch">
                        <input disabled type="checkbox" class="data checkbox" {{ checked }} name="{{ champLibre.id}}">
                        <span class="slider round"></span>
                    </label>

                    {% elseif  champLibre.typage == 'number' %}
                    <input disabled type="number" id="{{ champLibre.label ~ 'edit'}}"
                        class="form-control data {{ needed }}"
                        value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                        name="{{ champLibre.id}}" id="input">

                    {% elseif  champLibre.typage == 'list' %}
                    <select disabled class="form-control data {{ needed }}" id="{{ champLibre.label ~ 'edit'}}"
                        name="{{ champLibre.id}}" id="input">
                        <option value="">aucune sélection...</option>
                        {% for elem in champLibre.elements %}
                        {% set selected = elem ==( champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' )? 'selected' : '' %}
                        <option value="{{elem}}" {{ selected }}>{{elem}}</option>
                        {% endfor %}
                    </select>

                    {% elseif champLibre.typage == 'text'  %}
                    <input disabled type="text" id="{{ champLibre.label ~ 'edit'}}"
                        class="form-control data {{ needed }}"
                        value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}"
                        name="{{  champLibre.id }}" id="input">

                    {% elseif champLibre.typage == 'date' %}
                    <input type="date" name="{{ champLibre.id }}" id="{{champLibre.label ~ 'edit'}}"
                        class="form-control data {{ needed }}"
                        value="{{ champLibre.valeurChampLibre.valeur is defined ? champLibre.valeurChampLibre.valeur : '' }}">

                    {% else %}
                    <input disabled>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 row mt-4">
        <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
            <h3 class='d-flex pointer'>
                <i class="fas fa-sort-up d-none mr-2"></i>
                <i class="fas fa-sort-down d-block mr-2"></i>
                Articles Fournisseurs
            </h3>
        </div>
        <div class="form-group blocVisible col-12 d-none">
            <div class="form-group col-12 d-block" id='articleFournisseursEdit'>
                {% include 'article/fournisseurArticleShowContent.html.twig' %}
            </div>
        </div>
    </div>

</div>