{% set editable = hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
{% set disabled = editable ? '' : 'disabled' %}
{% if hasRight(constant('App\\Entity\\Menu::STOCK'), constant('App\\Entity\\Action::EDIT')) %}
    {% set needed = 'needed' %}
{% else %}
    {% set needed = '' %}
{% endif %}

<div class="row">
    <div class="form-group col-6">
        <label for="label">Libellé*</label>
        <input {{ disabled }} type="text" class="form-control data needed" name="label" id='label' value="{{article.label}}"
            placeholder="">
    </div>
    <div class="form-group col-6">
        <label for="type">Type</label>
        <select disabled class="form-control data" name="type" id="type">
            <option value="{{ typeArticleId }}">{{ typeArticle }}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="form-group col-3">
        <label for="quantité">Quantité*</label>
        {# si on est sur une demande, la quantité ne doit pas être modifiée #}
        <input class="form-control data"
               type="number"
               min="0"
               id="quantite"
               value="{{article.quantite}}"
               disabled>
    </div>
    <div class="form-group col-3">
        <div class="reference">
            <label for="prix">Prix Unitaire (€)</label>
            <input class="form-control data" type="number" name="prix" min="0" step="0.01" value="{{ article.prixUnitaire }}" {{ disabled }}>
        </div>
    </div>
    <div class="form-group col-6 w-100">
        <label for="emplacement">Emplacement</label>
        <select {{ disabled }} class="data form-control needed" name="emplacement" disabled>
            {% if article.emplacement != null %}
            <option value="{{article.emplacement.id}}">{{article.emplacement.label}}</option>
            {% endif %}
        </select>
    </div>
</div>
<div class="row">
    {% if not isADemand %}
        <div class="form-group col-3">
            <label for="statut" class="w-100">Statut</label>
            <div class="w-100">
                <button class="btn btn-primary" disabled>{{ statut | capitalize }}</button>
            </div>
        </div>
    {% endif %}
    <div class="form-group col-3">
        <label class="w-100">Anomalie</label>

        <div class="w-100 mt-1">
            <label class="switch">
                <input {{ disabled }} class="checkbox" type="checkbox" name="conform" {{ article.conform ? '' : 'checked'}}>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="form-group col-6">
        {% set managers = "" %}
        {# TODO: remove condition when WIIS-2979 is merged #}
        {% if article.articleFournisseur.referenceArticle.managers is defined %}
            {% for manager in article.articleFournisseur.referenceArticle.managers %}
                {% set managers = managers ~ (not loop.first ? ', ') ~ manager.username %}
            {% endfor %}
        {% endif %}
        <label>Gestionnaires</label>
        <input class="form-control" type="text" value="{{ managers }}" disabled>
    </div>
</div>
<div class="row">
    <div class="form-group col-6">
        <label>Lot</label>
        <input class="form-control" type="text" name="batch" value="{{ article.batch }}">
    </div>
    <div class="form-group col-3">
        <label>Catégorie d'inventaire</label>
        <input class="form-control" type="text" value="{{ invCategory ? invCategory.label }}" disabled>
    </div>
    <div class="form-group col-3">
        <label>Date dernier inventaire</label>
        <input name="categorie" class="form-control" disabled value="{{ article.dateLastInventory | date('d/m/Y') }}">
    </div>
</div>
<div class="row">
    <div class="form-group col-6 w-100">
        {% if article.stockEntryDate %}
        <label>Date d'entrée en stock</label>
        <input type="text" class="form-control" value="{{ article.stockEntryDate | date('d/m/Y H:i') }}" disabled/>
        {% endif %}
    </div>
    <div class="form-group col-6 w-100">
        <label>Date de péremption</label>
        <input type="date" class="form-control data needed" name="expiry" value="{{ article.expiryDate | date('Y-m-d') }}"/>
    </div>
</div>
<div class="row">
    <div class="form-group col-12">
        <div>
            <label for="commentaire">Commentaire</label>
            {% set disabledOnDemand = isADemand ? 'disabled' : disabled %}
            <input {{ disabledOnDemand }} id="commentaire" class="form-control data" type="hidden" name="commentaire"
                value="{{article.commentaire}}" >
            {% set backgroundGrey = (isADemand or disabledOnDemand == 'disabled') ? 'backGreyFormLight' : '' %}
            <div {{ disabledOnDemand }} class="editor-container-edit form-control comment {{ backgroundGrey }}">
                {{article.commentaire|raw}}
            </div>
        </div>
    </div>

    <!-- CHAMPS LIBRES -->
    <div class="col-12">
        <span class="toggle-collapsible expanded">Champs libres</span>
        <div class="collapsible expanded free-fields-container">
            {% include 'free_field/freeFieldsViewing.html.twig' with {
                freeFields: typeChampsLibres.champsLibres,
                freeFieldValues: article.freeFields,
                colType: 'col-md-4 col-12',
                requiredType: 'requiredEdit',
                actionType: 'edit'
            } %}
        </div>
    </div>

    <div class="col-12 mt-4">
        <span class="toggle-collapsible">Articles fournisseurs</span>
        <div class="collapsible mb-2">
            {% include 'article/fournisseurArticleShowContent.html.twig' %}
        </div>
    </div>
</div>
