<div>
    {% if request is not null %}
        Cet article est lié à la demande {{ request }}.<br/>
    {% endif %}
    {% if prepa is not null %}
        Cet article est lié à la préparation {{ prepa }}.<br/>
    {% endif %}
    {% if not mvtStockIsEmpty %}
        Cet article est lié à des mouvements de stock.<br/>
    {% endif %}
    {% if not mvtTracaIsEmpty %}
        Cet article est lié à des mouvements de traçabilité.<br/>
    {% endif %}
    {% if request is not null or prepa is not null or not mvtStockIsEmpty or not mvtTracaIsEmpty %}
    La suppression de l'article supprimera donc :
        <ul>
            {% if request %}<li>{{ 'la demande' }}</li>{% endif %}
            {% if prepa %}<li>{{ 'la préparation' }}</li>{% endif %}
            {% if not mvtStockIsEmpty %}<li>{{ 'les mouvements de stock' }}</li>{% endif %}
            {% if not mvtTracaIsEmpty %}<li>{{ 'les mouvements de traçabilité' }}</li>{% endif %}
        </ul>
        <br/>
    {% endif %}
    {{ askQuestion is defined and askQuestion ? 'Êtes vous sur de vouloir supprimer cet article ?' }}
</div>
<div class='error-msg mt-2'></div>
