<div class="row">
    <div class="form-group w-100 col-6">
        <label for="Articlefournisseur">Référence fournisseur</label>
        <select class="form-control data needed select2" name="articleFournisseur" id="articleFournisseurAdd">
            {% for ref in references %}
            <option value="{{ ref.id }}">{{ref.reference}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group col-6">
        <label for="libelle">Libellé</label>
        <input class="form-control data" type="text" name="libelle" id="libelle">
    </div>
    <div class="form-group col-6">
        <label for="libelle">Type</label>
        <input class="form-control data" type="text" disabled value="{{typeArticle}}" name="type" id="type">
    </div>
    <div class="form-group col-6">
        <label for="quantité">Quantité</label>
        <input class="form-control data needed" type="number" min="0" name="quantite" id="quantité">
    </div>
    <div class="form-group col-6 w-100">
        <label for="emplacement">Emplacement</label>
        <select class="ajax-autocompleteEmplacement data form-control needed" name="emplacement">
        </select>
    </div>
    <div class="form-group col-3">
        <label>Anomalie</label>
        <label class="switch">
            <input class="checkbox" type="checkbox" name="conform">
            <span class="slider round"></span>
        </label>
    </div>

    <div class="form-group col-3">
        <label>Statut (Inactif/Actif)</label>
        <label class="switch">
            <input class="checkbox" type="checkbox" name="actif">
            <span class="slider round"></span>
        </label>
    </div>
</div>
<div class="form-group col-12">
    <label>Commentaire</label>
    <input id='commentaireID' class="form-control data" name="commentaire" type="hidden">
    <div class="editor-container"></div>
</div>
<div class="row mt-4">
    <div class='col-12 mb-2' onclick="visibleBlockModal($(this))">
        <h3 class='d-flex pointer'>
            <i class="fas fa-sort-up d-none mr-2"></i>
            <i class="fas fa-sort-down d-block mr-2"></i>
            Champs libres
        </h3>
    </div>
    <div class="form-group col-12 d-block" id='typeContentEdit'>
        <div class="d-block">
            <div class="row mt-2">
                {% for champLibre in champsLibres %}
                <div class="form-group col-6">
                    <label for="">
                        {{champLibre.label | capitalize}}
                    </label>
                    {% if champLibre.typage == 'booleen' %}
                    <input type="checkbox" class="form-control data checkbox" value="" name="{{ champLibre.id}}" id="">

                    {% elseif  champLibre.typage == 'number' %}
                    <input type="number" class="form-control data {{ champLibre.requiredCreate ? 'needed' : ''}}"
                        value="" name="{{ champLibre.id}}" id="">

                    {% elseif  champLibre.typage == 'list' %}
                    <select class="form-control unTruc data {{ champLibre.requiredCreate ? 'needed' : ''}} "
                        name="{{ champLibre.id}}" id="">
                        <option value=""></option>
                        {% for elem in  champLibre.elements %}
                        <option value="{{elem}}">{{elem}}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    <input type="text" class="form-control data {{ champLibre.requiredCreate ? 'needed' : ''}}" value=""
                        name="{{ champLibre.id }}" id="">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>