{% import 'form.html.twig' as form %}

<div class="row">
    {% if purchaseRequestPlan.id  %}
        <div class="d-none">
            {{ form.input('id', 'id', true, purchaseRequestPlan.id , {
                type: 'hidden',
            }) }}
        </div>
    {% endif %}
    <div class="col-6">
        {{ form.select('zones', 'Zone', true, {
            type: 'zones',
            multiple: true,
            items: purchaseRequestPlan.zones|map((zone) => {value: zone.id, label: zone.name, selected: true}),
        } ) }}
    </div>
    <div class="col-6">
        {{ form.select('suppliers', 'Fournisseur', true, {
            type: 'provider',
            multiple: true,
            items: purchaseRequestPlan.suppliers|map((supplier) => {value: supplier.id, label: supplier.nom, selected: true}),
        } ) }}
    </div>
    <div class="col-6">
        {% set requester = purchaseRequestPlan.requester ?? app.user %}
        {{ form.select('requester', 'Demandeur', true, {
            type: 'user',
            multiple: false,
            items: {
                (requester.id): (requester.username),
            }
        } ) }}
    </div>
    <div class="col-6">
        {{ form.select('status', 'Statut', true, {
            type: null,
            items : statuses,
            search: false,
        } ) }}
    </div>
    <div class="col-6">
        {{ form.input('mailSubject', 'Objet du mail', true, purchaseRequestPlan.emailSubject ) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {% include 'planner/planner.html.twig' with {
            frequency: purchaseRequestPlan.scheduleRule ? purchaseRequestPlan.scheduleRule.frequency,
            begin: purchaseRequestPlan.scheduleRule ? purchaseRequestPlan.scheduleRule.begin,
            intervalPeriod: purchaseRequestPlan.scheduleRule ? purchaseRequestPlan.scheduleRule.intervalPeriod,
            intervalTime: purchaseRequestPlan.scheduleRule ? purchaseRequestPlan.scheduleRule.intervalTime,
            period: purchaseRequestPlan.scheduleRule ? purchaseRequestPlan.scheduleRule.period,
            weekDays: purchaseRequestPlan.scheduleRule ? purchaseRequestPlan.scheduleRule.weekDays,
            months: purchaseRequestPlan.scheduleRule ? purchaseRequestPlan.scheduleRule.months,
            monthDays: purchaseRequestPlan.scheduleRule ? purchaseRequestPlan.scheduleRule.monthDays,
            required: true,
        } %}
    </div>
</div>
