{% extends 'layout.html.twig' %}

{% block title %}{{ trans('Traçabilité', 'Général', 'Traçabilité')}} | {{ trans('Traçabilité', 'Mouvements', 'Mouvements') }}{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersTrackingMovements.html.twig' with {
        page : 'PAGE_MVT_TRACA',
        tableSelector : '#tableMvts',
        callback: 'clearURL',
        needsDateFormatting: true,
        disabled: filterArticle,
        filterArticle: filterArticle,
    } %}
{% endblock %}

{% block page_content %}
    {% set isSafran =
        isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED'))
        or isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_NS')) %}
    {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
    {% set editAttachments = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
    {% set hasRightToCreateMovement = hasRightCreate
        and hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE_TRACKING_MOVEMENT')) %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% include "utils/action-buttons.html.twig" with {
                    actions: [
                        {
                            hasRight: hasRightToCreateMovement,
                            title: trans('Traçabilité', 'Mouvements', 'Nouveau mouvement', false),
                            icon: "wii-icon wii-icon-plus",
                            attributes: {
                                "data-toggle": "modal",
                                "data-target": "#modalNewMvtTraca",
                                "data-backdrop": "static",
                                "data-keyboard": "false",
                                "onclick": "clearModal('#modalNewMvtTraca'), resetNewModal($('#modalNewMvtTraca'))"
                            },
                        },
                        {
                            hasRight: hasRightExport,
                            title:  trans('Général', '', 'Zone liste', 'Exporter au format CSV', false),
                            icon : "fa fa-file-csv",
                            attributes: {
                                "onclick" : "saveExportFile('get_mouvements_traca_csv', true, {}, false, Translation.of('Général', null, 'Modale', 'Veuillez saisir des dates dans le filtre en haut de page.'), true)"
                            },
                        },
                        {
                            title : trans('Général', '', 'Zone liste', 'Gestion des colonnes', false),
                            icon : "fa fa-cog",
                                attributes: {
                                "data-toggle" : "modal",
                                "data-target" : "#modalColumnVisible",
                            },
                        }
                    ]
                } %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableMvts"
                       class="table w-100"
                       data-initial-data="{{ initial_tracking_movements }}"
                       data-initial-visible="{{ initial_visible_columns }}">
                </table>
            </div>
            <div class="d-none justify-content-center" id="spinner">
                <div class="spinner-border sizeLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="col-12 ">

            </div>
        </div>
    </div>

    <input id="trackingMovementFilters" value="{{ initial_filters }}" hidden>
    {% if filterArticle %}
        <input id="filterArticle" value="{{ filterArticle.id }}" hidden>
    {% endif %}

    {% include "mouvement_traca/modalNewMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalShowMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalEditMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalDeleteMvtTraca.html.twig" %}
    <input type="text" hidden id="clearAndStayAfterNewMvt" value="{{ clearAndStayAfterNewMvt }}">

    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'tableMvt',
        'route': 'save_column_visible_for_tracking_movement'
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/tracking_movement.js') }}?v={{ web_version }}"></script>
{% endblock %}
