{% extends 'layout.html.twig' %}

{% block title %}Mouvements{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersMouvementTraca.html.twig' with {
        'page' : 'PAGE_MVT_TRACA',
        'tableSelector' : '#tableMvts'
    } %}
{% endblock %}

{% block page_content %}
    <div class="col-12">
        <h1>Mouvements</h1>
    </div>

    <div class="col-12">
        {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::CREATE_EDIT')) %}
            <a href="" data-toggle="modal" data-target="#modalNewMvtTraca" class="btn btn-primary"
               data-backdrop="static" data-keyboard="false"
               onclick="initNewMvtTracaEditor('#modalNewMvtTraca'), clearModal('#modalNewMvtTraca'), fillDateInNewModal()">
                <span class="fa fa-plus mr-2"></span>Nouveau mouvement
            </a>
        {% endif %}
        {% if hasRight(constant('App\\Entity\\Menu::ARRIVAGE'), constant('App\\Entity\\Action::EXPORT')) %}
        <div class="btn btn-primary" onclick="generateCSV('get_mouvements_traca_for_csv', 'mvts-traca')">
            <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
        </div>
        {% endif %}
    </div>

    <div class="d-none justify-content-center" id="spinner">
        <div class="spinner-border sizeLoader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="col-12 mt-5">
        <table id="tableMvts" class="table table-striped table-bordered w-100">
        </table>
    </div>
    {% include "mouvement_traca/modalNewMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalShowMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalEditMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalDeleteMvtTraca.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/attachments.js') }}?{{ date().timestamp }}"></script>
    <script src="{{ asset('js/mouvement_traca.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
