{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | Mouvements{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersTrackingMovements.html.twig' with {
        'page' : 'PAGE_MVT_TRACA',
        'tableSelector' : '#tableMvts',
        callback: 'clearURL',
        needsDateFormatting: true
    } %}
{% endblock %}

{% block page_content %}
    {% set isSafran =
        isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED'))
        or isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_NS')) %}
    {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
    {% set editAttachments = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EDIT')) %}
    {% set hasRightToCreateMovement = hasRightCreate
        and hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE_TRACKING_MOVEMENT')) %}
    <div class="m-4 wii-page-card">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% if hasRightToCreateMovement or hasRightExport %}

                    <div class="btn-group">
                        {% if hasRightToCreateMovement %}
                            <button type="button"
                                    data-toggle="modal"
                                    data-target="#modalNewMvtTraca"
                                    class="btn btn-primary d-flex align-items-center {{ hasRightExport ? 'split-button' }}"
                                    data-backdrop="static"
                                    data-keyboard="false"
                                    onclick="clearModal('#modalNewMvtTraca'), resetNewModal($('#modalNewMvtTraca'))">
                                <span class="wii-icon wii-icon-plus mr-2"></span>
                                {{ trans('Traçabilité', 'Mouvements', 'Nouveau mouvement', false) }}
                            </button>
                        {% elseif hasRightExport %}
                            <button type="button"
                                    class="btn btn-primary"
                                    onclick="saveExportFile('get_mouvements_traca_csv', true, {}, false, 'Veuillez saisir des dates dans le filtre en haut de page.', true)">
                                <i class="fa fa-file-csv mr-2"></i>
                                {{ trans('Général', '', 'Zone liste', 'Exporter au format CSV', false) }}
                            </button>
                        {% else %}
                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#modalColumnVisible">
                                <i class="fa fa-cog mr-2"></i>
                                {{ trans('Général', '', 'Zone liste', 'Gestion des colonnes', false) }}
                            </button>
                        {% endif %}
                        <button type="button"
                                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>
                        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                            {% if hasRightToCreateMovement and hasRightExport %}
                                <a class="dropdown-item pointer"
                                   onclick="saveExportFile('get_mouvements_traca_csv', true, {}, false, '{{ trans('Général', '', 'Modale', 'Veuillez saisir des dates dans le filtre en haut de page.', false) }}', true)">
                                    <i class="fa fa-file-csv mr-2" style="padding: 0 2px"></i>
                                    {{ trans('Général', '', 'Zone liste', 'Exporter au format CSV', false) }}
                                </a>
                            {% endif %}
                            <a class="dropdown-item pointer"
                               data-toggle="modal"
                               data-target="#modalColumnVisible">
                                <i class="fa fa-cog mr-2"></i>
                                {{ trans('Général', '', 'Zone liste', 'Gestion des colonnes', false) }}
                            </a>
                        </div>
                    </div>
                {% else %}
                    <button type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#modalColumnVisible">
                        <i class="fa fa-cog mr-2"></i>
                        {{ trans('Général', '', 'Zone liste', 'Gestion des colonnes', false) }}
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="tableMvts" class="table w-100"></table>
            </div>
            <div class="d-none justify-content-center" id="spinner">
                <div class="spinner-border sizeLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="col-12 ">

            </div>
        </div>
    </div>

    {% include "mouvement_traca/modalNewMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalShowMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalEditMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalDeleteMvtTraca.html.twig" %}
    <input type="text" hidden id="redirectAfterTrackingMovementCreation"
           value="{{ redirectAfterTrackingMovementCreation }}">

    {% include "utils/visible_columns.html.twig" with {
        'fields': fields,
        'table': 'tableMvt',
        'route': 'save_column_visible_for_tracking_movement'
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/tracking_movement.js') }}?v={{ web_version }}"></script>
{% endblock %}
