{% extends 'layout.html.twig' %}

{% block title %}Traçabilité | Mouvements{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersMouvementTraca.html.twig' with {
        'page' : 'PAGE_MVT_TRACA',
        'tableSelector' : '#tableMvts',
        callback: 'clearURL'
    } %}
{% endblock %}

{% block page_content %}
    {% set isSafran = isCurrentClient(constant('App\\Service\\SpecificService::CLIENT_SAFRAN_ED')) %}
    {% set hasRightCreate = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::CREATE')) %}
    {% set hasRightExport = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EXPORT')) %}
    <div class="m-4 wii-page-card">
        {% if hasRightCreate and hasRightExport %}
            <div class="row wii-page-card-header">
                <div class="col-auto ml-auto">
                    <div class="btn-group">
                        {% if hasRightCreate %}
                            <button type="button"
                                    data-toggle="modal"
                                    data-target="#modalNewMvtTraca"
                                    class="btn btn-primary btn-ripple {{ hasRightExport ? 'split-button' }}"
                                    data-backdrop="static"
                                    data-keyboard="false"
                                    onclick="clearModal('#modalNewMvtTraca'), resetNewModal($('#modalNewMvtTraca'))">
                                <i class="fa fa-plus mr-2"></i>
                                Nouveau mouvement
                            </button>
                        {% elseif hasRightExport %}
                            <button type="button"
                                    class="btn btn-primary btn-ripple"
                                    onclick="saveExportFile('get_mouvements_traca_csv')">
                                <i class="fa fa-file-csv mr-2"></i>Exporter au format CSV
                            </button>
                        {% else %}
                            <button type="button"
                                    class="btn btn-primary btn-ripple"
                                    data-toggle="modal"
                                    data-target="#modalColumnVisibleTrackingMovement">
                                <i class="fa fa-cog mr-2"></i>
                                Gestion des colonnes
                            </button>
                        {% endif %}

                        <button type="button"
                                class="btn btn-primary btn-ripple dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="fa fa-angle-down"></span>
                        </button>


                        <div class="dropdown-menu dropdown-follow-gt dropdown-menu-right">
                            {% if hasRightCreate and hasRightExport %}
                                <a class="dropdown-item pointer"
                                     onclick="saveExportFile('get_mouvements_traca_csv')">
                                    <i class="fa fa-file-csv mr-2" style="padding: 0 2px"></i>
                                    Exporter au format CSV
                                </a>
                            {% endif %}
                            <a class="dropdown-item pointer"
                               data-toggle="modal"
                               data-target="#modalColumnVisibleTrackingMovement"
                               href="#">
                                <i class="fa fa-cog mr-2"></i>
                                Gestion des colonnes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <table id="tableMvts" class="table w-100"></table>
            </div>
            <div class="d-none justify-content-center" id="spinner">
                <div class="spinner-border sizeLoader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="col-12 ">

            </div>
        </div>
    </div>

    {% include "mouvement_traca/modalVisibleColumns.html.twig" %}
    {% include "mouvement_traca/modalNewMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalShowMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalEditMvtTraca.html.twig" %}
    {% include "mouvement_traca/modalDeleteMvtTraca.html.twig" %}
    <input type="text" hidden id="redirectAfterTrackingMovementCreation"
           value="{{ redirectAfterTrackingMovementCreation }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/mouvement_traca.js') }}?{{ date().timestamp }}"></script>
{% endblock %}
