<div class="row">
    <div class="form-group col-6">
        <label>Date</label>
        <input disabled type="text" class="form-control" value="{{ mvt.datetime|date('d/m/Y H:i') }}">
    </div>

    <div class="form-group col-6">
        <label>Opérateur</label>
        <input disabled type="text" class="form-control" value="{{ mvt.operateur ? mvt.operateur.username : '' }}">
    </div>

    <div class="form-group col-6">
        <label>{{"mouvement de traçabilité.Colis"|trans}}</label>

        <input disabled type="text" class="form-control" value="{{ mvt.colis }}">
    </div>

    <div class="form-group col-6">
        <label>Action</label>
        <input disabled type="text" class="form-control" value="{{ mvt.type.nom }}">
    </div>

    <div class="form-group col-12 w-100">
        <label class="mtb-auto mr-2">Emplacement</label>
        <input disabled type="text" class="form-control" value="{{ mvt.emplacement.label }}">
    </div>
</div>

<div class="row">
    <div class="form-group col-12 h-fit-content">
        <label>Commentaire</label>
        <div class="input disabled comment"> {{ mvt.commentaire|raw }}
        </div>
    </div>
    <div class="form-group col-12">
        {% for pj in attachments %}
            {% set pjName = pj.fileName %}
            {% set originalName = pj.originalName %}
            {% include 'arrivage/attachementLine.html.twig' with { 'canRemove': false } %}
        {% endfor %}
    </div>
</div>
