<div class="row">
    {% set canEditFully = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::FULLY_EDIT_TRACKING_MOVEMENTS')) %}
    <div class="form-group col-md-6 col-12">
        <label class="wii-field-name" for="datetime">{{ trans('Traçabilité', 'Général', 'Date', false) }}*</label>
        <input type="text"
               title="Date"
               name="date"
               {{ not canEditFully ? 'disabled' }}
               data-init="{{ mvt.datetime|date('Y-m-d\\TH:i') }}"
               value="{{ mvt.datetime|date('Y-m-d\\TH:i') }}"
               class="form-control w-100 data datetime-field needed no-clear pointer"
               autocomplete="off"/>
    </div>

    <div class="form-group col-md-6 col-12">
        <label class="wii-field-name" for="operator">{{ trans('Traçabilité', 'Général', 'Opérateur', false) }}*</label>
        <select name="operator"
                title="Opérateur"
                class="form-control ajax-autocomplete-user-edit data needed operator w-100">
            {% if mvt.operateur %}
                <option value="{{ mvt.operateur.id }}">{{ mvt.operateur.username }}</option>>
            {% endif %}
        </select>
    </div>

    <div class="form-group col-md-6 col-12">
        {% set pack = mvt.pack %}
        {% set code = pack ? pack.code %}
        <label class="wii-field-name" title="Colis">{{ trans('Traçabilité', 'Général', 'Unité logistique', false) }}*</label>
        <input type="text"
               title="Colis"
               class="form-control w-100 data"
               name="pack"
            {{ not canEditFully ? 'disabled' }}
               value="{{ code }}">
    </div>

    <div class="form-group col-md-6 col-12">
        {% set hasEmptyRoundRight = hasRight(constant('App\\Entity\\Menu::TRACA'), constant('App\\Entity\\Action::EMPTY_ROUND')) %}
        <label class="wii-field-name" for="type">{{ trans('Traçabilité', 'Mouvement', 'Action', false) }}*</label>
        <input class="form-control w-100" name="type" value="{{ mvt.type ? trans('Traçabilité', 'Mouvements', mvt.type.nom) }}" disabled>
    </div>

    <div class="form-group col-md-6 col-12">
        <label class="wii-field-name my-auto mr-2">{{ trans('Traçabilité', 'Général', 'Emplacement', false) }}*</label>
        <select name='location' data-s2='location' class='data form-control w-100' {{ not canEditFully ? 'disabled' }} required>
            {% if mvt.emplacement is not null %}
                <option value="{{ mvt.emplacement.id }}" selected>{{ mvt.emplacement.label }}</option>
            {% endif %}
        </select>
    </div>

    {% include 'mouvement_traca/trackingMovementQuantity.html.twig' with {
        quantity: mvt.quantity,
        containerClass: 'col-md-6'
    } %}
</div>

<span class="toggle-collapsible expanded">{{ trans('Général', '', 'Modale', 'Champs libres', false) }}</span>
<div class="collapsible expanded free-fields-container mb-2">
    {% include 'free_field/freeFieldsEdit.html.twig' with {
        freeFields: champsLibres,
        freeFieldValues: mvt.freeFields,
        colType: 'col-md-6 col-12',
        requiredType: 'requiredEdit',
        actionType: 'edit',
        needsDateFormatting: true
    } %}
</div>

<div class="row">
    <div class="form-group col-12 h-fit-content">
        <label class="wii-field-name" for="commentaire">{{ trans('Général', '', 'Modale', 'Commentaire', false) }}</label>
        <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden">
        <div class="editor-container-edit" value="{{ mvt.commentaire }}" data-wysiwyg>{{ mvt.commentaire|raw }}</div>

    </div>
    <div class="form-group col-12">
        <div>
            {% include 'attachment/attachment.html.twig' with {
                'isNew': false,
                attachments : mvt.attachments
            } %}
        </div>
    </div>
</div>
