<div class="row">
    <div class="form-group col-6">
        <label for="colis">Colis*</label>
        <input type="text" class="form-control data needed" id="colis" name="colis" value="{{ mvt.colis }}">
    </div>

    <div class="form-group col-6">
        <label for="type">Action</label>
        <select class="form-control data" id="type" name="type">
            <option disabled selected></option>
            {% for statut in statuts %}
                {% set selected = (statut.nom == mvt.type.nom) ? 'selected' : ''%}
                <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group col-12 w-100">
        <label class="mtb-auto mr-2">Emplacement*</label>
        <select name="emplacement" class="form-control ajax-autocompleteEmplacement-edit data needed">
            <option value="{{ mvt.emplacement.id }}">{{ mvt.emplacement.label }}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-12 fit-content">
        <label for="commentaire">Commentaire</label>
        <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden">
        <div class="editor-container-edit" value="{{ mvt.commentaire }}">{{ mvt.commentaire|raw }}</div>

    </div>
    <div class="form-group col-12">
        <div>
            {% include 'arrivage/attachements.html.twig' with {'isNew' : false} %}
        </div>
    </div>
</div>