<div class="row">
    <div class="form-group col-6">
        <label for="datetime">Date*</label>
        <input type="datetime-local" class="form-control data datetime needed" id="datetime"
               name="datetime" value="{{ mvt.datetime|date('Y-m-d\\TH:i') }}">
    </div>

    <div class="form-group col-6 w-100">
        <label for="operator my-auto mr-2">Opérateur*</label>
        <select name="operator" class="form-control ajax-autocomplete-user-edit data needed operator">
            {% if mvt.operateur %}
                <option value="{{ mvt.operateur.id }}">{{ mvt.operateur.username }}</option>>
            {% endif %}
        </select>
    </div>

    <div class="form-group col-6">
        <label for="colis" title="Colis">{{"mouvement de traçabilité.Colis"|trans}}*</label>
        <input type="text" class="form-control data needed" id="colis" name="colis" value="{{ mvt.colis }}">
    </div>

    <div class="form-group col-6">
        <label for="type">Action*</label>
        <select class="form-control data needed" id="type" name="type">
            {% for statut in statuts %}
                {% if statut.nom != constant('App\\Entity\\MouvementTraca::TYPE_PRISE_DEPOSE') %}
                    {% set selected = (statut.nom == mvt.type.nom) ? 'selected' : ''%}
                    <option value="{{ statut.id }}" {{ selected }}>{{ statut.nom }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group col-12 w-100">
        <label class="my-auto mr-2">Emplacement*</label>
        <select name="emplacement" class="form-control ajax-autocompleteEmplacement-edit data needed">
            {% if mvt.emplacement is not null %}
                <option value="{{ mvt.emplacement.id }}">{{ mvt.emplacement.label }}</option>
            {% endif %}
        </select>
    </div>
</div>

<div class="row">
    <div class="form-group col-12 h-fit-content">
        <label for="commentaire">Commentaire</label>
        <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden">
        <div class="editor-container-edit" value="{{ mvt.commentaire }}">{{ mvt.commentaire|raw }}</div>

    </div>
    <div class="form-group col-12">
        <div>
            {% include 'attachment/attachment.html.twig' with {
                'isNew': false,
                attachements: mvt.attachements
            } %}
        </div>
    </div>
</div>
