<div class="row">
    <div class="form-group col-md-6 col-12">
        <label for="datetime">Date*</label>
        <input type="text"
               class="form-control w-100"
               title="Date"
               disabled
               value="{{ mvt.datetime|date('Y-m-d\\TH:i') }}"/>
    </div>

    <div class="form-group col-md-6 col-12">
        <label for="operator">Opérateur*</label>
        <select name="operator"
                title="Opérateur"
                class="form-control ajax-autocomplete-user-edit data needed operator w-100">
            {% if mvt.operateur %}
                <option value="{{ mvt.operateur.id }}">{{ mvt.operateur.username }}</option>>
            {% endif %}
        </select>
    </div>

    <div class="form-group col-md-6 col-12">
        {% set pack = mvt.pack %}
        {% set code = pack ? pack.code %}
        <label title="Colis">{{"mouvement de traçabilité.Colis"|trans}}*</label>
        <input type="text"
               title="Colis"
               class="form-control w-100"
               disabled
               value="{{ code }}">
    </div>

    <div class="form-group col-md-6 col-12">
        <label>Action*</label>
        <select class="form-control w-100"
                title="Action"
                disabled>
            {% if mvt.type is not null %}
                <option value="{{ mvt.type.id }}" selected>{{ mvt.type.nom }}</option>
            {% endif %}
        </select>
    </div>

    <div class="form-group col-md-6 col-12">
        <label>Emplacement*</label>
        <select name="emplacement"
                class="form-control w-100"
                disabled>
            {% if mvt.emplacement is not null %}
                <option value="{{ mvt.emplacement.id }}" selected>{{ mvt.emplacement.label }}</option>
            {% endif %}
        </select>
    </div>

    {% include 'mouvement_traca/trackingMovementQuantity.html.twig' with {
        quantity: mvt.quantity,
        containerClass: 'col-md-6'
    } %}
</div>

<span class="toggle-collapsible expanded">Champs libres</span>
<div class="collapsible expanded free-fields-container mb-2">
    {% include 'champ_libre/freeFieldsViewing.html.twig' with {
        freeFields: champsLibres,
        freeFieldValues: mvt.freeFields,
        colType: 'col-md-6 col-12',
        requiredType: 'requiredEdit',
        actionType: 'edit'
    } %}
</div>

<div class="row">
    <div class="form-group col-12 h-fit-content">
        <label for="commentaire">Commentaire</label>
        <input id="commentaire" class="commentaire form-control data" name="commentaire" type="hidden">
        <div class="editor-container-edit" value="{{ mvt.commentaire }}">{{ mvt.commentaire|raw }}</div>

    </div>
    <div class="form-group col-12">
        <div>
            {% include 'attachment/attachment.html.twig' with {
                'isNew': false,
                attachments: mvt.attachments
            } %}
        </div>
    </div>
</div>
