{% import 'form.html.twig' as form %}

<div class="wii-section-title">Création de références via création de demande d'expédition</div>
<div class="wii-section">
    <div class="row mx-1 wii-small-text">
        Paramétrage des valeurs par défaut pour les champs obligatoires
    </div>
    <div class="row my-1">
        <div class="col-md-6 col-12">
            {% set settingShippingReferenceDefaultType = setting_value('SHIPPING_REFERENCE_DEFAULT_TYPE', 'App\\Entity\\Type') %}
            {{ form.select(setting('SHIPPING_REFERENCE_DEFAULT_TYPE'), "Type", true, {
                type: 'referenceType',
                placeholder: "Sélectionnez un type",
                search: true,
                value: settingShippingReferenceDefaultType ? settingShippingReferenceDefaultType.id : null,
                items: settingShippingReferenceDefaultType ? {
                    0: {
                        'value': settingShippingReferenceDefaultType.id,
                        'label':  settingShippingReferenceDefaultType.label,
                        'selected': true
                    }
                } : null,
            }) }}
        </div>
    </div>
    <div class="row ligneFournisseurArticle">
        {% set shippingFournisseurReferenceName = setting_value('SHIPPING_SUPPLIER_LABEL_REFERENCE_CREATE', 'App\\Entity\\Fournisseur') %}
        {% set shippingFournisseurReferenceCode = setting_value('SHIPPING_SUPPLIER_REFERENCE_CREATE', 'App\\Entity\\Fournisseur') %}
        <div class="form-group col-3">
            {{ form.select('SHIPPING_SUPPLIER_LABEL_REFERENCE_CREATE', 'Nom fournisseur', true, {
                type: 'supplierLabel',
                value: shippingFournisseurReferenceName ? shippingFournisseurReferenceName.id : null,
                items: shippingFournisseurReferenceName ? {
                    0: {
                        'value': shippingFournisseurReferenceName.id,
                        'label': shippingFournisseurReferenceName.nom,
                        'selected': true,
                    }
                } : null,
                onChange: "loadAndDisplayLabels($(this), 'SHIPPING_SUPPLIER_REFERENCE_CREATE')"
            }) }}
        </div>
        <div class="form-group col-3">
            {{ form.select('SHIPPING_SUPPLIER_REFERENCE_CREATE', 'Code fournisseur', true, {
                type: 'supplierCode',
                value: shippingFournisseurReferenceCode ? shippingFournisseurReferenceCode.id : null,
                items: shippingFournisseurReferenceCode ? {
                    0: {
                        'value': shippingFournisseurReferenceCode.id,
                        'label': shippingFournisseurReferenceCode.codeReference,
                        'selected': true,
                    }
                } : null,
                onChange: "loadAndDisplayInfos($(this), 'SHIPPING_SUPPLIER_LABEL_REFERENCE_CREATE')"
            }) }}
        </div>
        <div class="form-group col-3">
            {{ form.label('Référence article fournisseur', false, false, {}) }}
            {{ form.checkbox(setting('SHIPPING_REF_ARTICLE_SUPPLIER_EQUALS_REFERENCE'), 'Egale à la référence article', false, setting_value('SHIPPING_REF_ARTICLE_SUPPLIER_EQUALS_REFERENCE')) }}
        </div>
        <div class="form-group col-3">
            {{ form.label('Libellé article fournisseur', false, false, {}) }}
            {{ form.checkbox(setting('SHIPPING_ARTICLE_SUPPLIER_LABEL_EQUALS_REFERENCE_LABEL'), 'Egale au libellé référence', false, setting_value('SHIPPING_ARTICLE_SUPPLIER_LABEL_EQUALS_REFERENCE_LABEL')) }}
        </div>
    </div>
</div>
<div class="wii-section-title">Emplacements par défaut</div>
<div class="row wii-section">
    <div class="col-md-6 col-12 my-1">
        {% set settingShippingLocationFrom = setting_value('SHIPPING_LOCATION_FROM', 'App\\Entity\\Emplacement') %}
        {{ form.select(setting('SHIPPING_LOCATION_FROM'), "Emplacement d'expédition", false, {
            type: 'location',
            placeholder: "Sélectionnez un emplacement d'expédition",
            search: true,
            value: settingShippingLocationFrom ? settingShippingLocationFrom.id : null,
            items: settingShippingLocationFrom ? {
                0: {
                    'value': settingShippingLocationFrom.id,
                    'label':  settingShippingLocationFrom.label,
                    'selected': true
                }
            } : null,
        }) }}
    </div>
    <div class="col-md-6 col-12 my-1">
        {% set settingShippingLocationTo = setting_value('SHIPPING_LOCATION_TO', 'App\\Entity\\Emplacement') %}
        {{ form.select(setting('SHIPPING_LOCATION_TO'), "Quai d'expédition", false, {
            type: 'location',
            placeholder: "Sélectionnez un quai d'expédition",
            search: true,
            value: settingShippingLocationTo ? settingShippingLocationTo.id : null,
            items: settingShippingLocationTo ? {
                0: {
                    'value': settingShippingLocationTo.id,
                    'label':  settingShippingLocationTo.label,
                    'selected': true
                }
            } : null,
        }) }}
    </div>
</div>

<div class="wii-section-title">Envoi d'emails</div>
<div class="wii-section">
    <div class="row">
        <div class="form-group col-5">
            {{ form.label('Passage au statut à traiter', false, false, {
                class: 'mb-2',
            }) }}
            {{ form.checkbox(setting('SHIPPING_TO_TREAT_SEND_TO_REQUESTER'), 'Envoyer un email au(x) demandeur(s)', false, setting_value('SHIPPING_TO_TREAT_SEND_TO_REQUESTER')) }}
        </div>
        <div class="row form-group col-7">
            {{ form.checkbox(setting('SHIPPING_TO_TREAT_SEND_TO_USER_WITH_ROLES'), 'Envoyer un email aux utilisateurs ayant les rôles :', false, setting_value('SHIPPING_TO_TREAT_SEND_TO_USER_WITH_ROLES'), {
                containerClass: 'col-6 mt-2',
            }) }}
            {{ form.select(setting('SHIPPING_TO_TREAT_SEND_TO_ROLES'), '', false, {
                type: 'roles',
                labelClass: 'w-100 col-6',
                items: toTreatRoles,
                multiple: true,
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-5">
            {{ form.label('Passage au statut expédiée', false, false, {
                class: 'mb-2',
            }) }}
            {{ form.checkbox(setting('SHIPPING_SHIPPED_SEND_TO_REQUESTER'), 'Envoyer un email au(x) demandeur(s)', false, setting_value('SHIPPING_SHIPPED_SEND_TO_REQUESTER')) }}
        </div>
        <div class="row form-group col-7">
            {{ form.checkbox(setting('SHIPPING_SHIPPED_SEND_TO_USER_WITH_ROLES'), 'Envoyer un email aux utilisateurs ayant les rôles :', false, setting_value('SHIPPING_SHIPPED_SEND_TO_USER_WITH_ROLES'), {
                containerClass: 'col-6 mt-2',
            }) }}
            {{ form.select(setting('SHIPPING_SHIPPED_SEND_TO_ROLES'), '', false, {
                type: 'roles',
                labelClass: 'w-100 col-6',
                items: shippedRoles,
                multiple: true,
            }) }}
        </div>
    </div>
</div>
