<input type="hidden" class="data" name="componentType" value="{{ componentType.id }}"/>
<input type="hidden" class="data" name="meterKey" value="{{ componentType.meterKey }}"/>
<input type="hidden" class="data" name="template" value="{{ componentType.template }}"/>
<input type="hidden" class="data" name="rowIndex" value="{{ rowIndex }}"/>
<input type="hidden" class="data" name="componentIndex" value="{{ componentIndex }}"/>
{% include ('dashboard/component_type/content/' ~ templateName ~ '.html.twig') %}

<span class="toggle-collapsible">Exemple de composant</span>
<div class="collapsible mb-2">
    <div class="row form-group">
        <div class="col-12 col-md-10 col-lg-8 component-example-container graph"
             data-component-type="{{ componentType.id }}"
             data-meter-key="{{ componentType.meterKey }}">
        </div>
    </div>
</div>
