{% import 'form.html.twig' as form %}

{% set modalId = id ?? 'modalTransportRequest' %}
{% set contact = request.contact %}
{% set DISCR_DELIVERY = constant('App\\Entity\\Transport\\TransportRequest::DISCR_DELIVERY') %}
{% set DISCR_COLLECT = constant('App\\Entity\\Transport\\TransportRequest::DISCR_COLLECT') %}

{% set selectedLines = selectedLines ?? {} %}
{% set modeEdit = request.id is not null %}
{% set modeDeliveryEdit = modeEdit and request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') %}
{% set modeCollectEdit = modeEdit and request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}

<div class="modal fade"
     role="dialog"
     id="{{ modalId }}"
     data-modal-type="{{ modeEdit ? 'edit' : 'new' }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title wii-title">Demande de transport</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="transport-request-form">
                    {% if modeEdit %}
                        <input type="hidden" name="transportRequest" value="{{ request.id }}"/>
                    {% else %}
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                {{ form.switch('requestType', null, true, [
                                    {
                                        value: DISCR_COLLECT,
                                        label: 'Collecte',
                                        wiiIcon: 'cart-collect'
                                    },
                                    {
                                        value: DISCR_DELIVERY,
                                        label: 'Livraison',
                                        wiiIcon: 'cart-delivery'
                                    },
                                ]) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="wii-section-title my-3 d-flex align-items-center">
                        <i class="wii-icon wii-icon-user bg-primary mr-1"></i>
                        Informations Patient
                    </div>
                    <div class="row contact-container">
                        <div class="col-md-6 col-12">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    {{ form.input('contactName', 'Patient', true, contact.name, {
                                        disabled: request.id is not null,
                                    }) }}
                                </div>
                                <div class="col-12 mb-2">
                                    {{ form.input('contactFileNumber', 'N° dossier', true, contact.fileNumber, {
                                        disabled: request.id is not null,
                                    }) }}
                                </div>
                                <div class="col-12 mb-2">
                                    {{ form.textarea('contactContact', 'Contact', true, contact.contact, {
                                        style: 'min-height: 104px;',
                                        resizeVertical: false,
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="d-flex">
                                        {{ form.textarea('contactAddress', 'Adresse', true, contact.address, {
                                            style: 'min-height: 104px;',
                                            resizeVertical: false,
                                        }) }}
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    {{ form.textarea('contactPersonToContact', 'Personne à prévenir', true, contact.personToContact, {
                                        style: 'min-height: 104px;',
                                        resizeVertical: false,
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            {{ form.textarea('contactObservation', 'Remarque', false, contact.observation, {
                                style: 'min-height: 104px;',
                                resizeVertical: false,
                            }) }}
                        </div>
                    </div>

                    <div class="wii-section-title my-3 d-none"
                         data-request-type>
                        <div class="d-flex align-items-center">
                            <i class="wii-icon wii-icon-cart-collect bg-primary mr-1"></i>
                            Service
                        </div>
                    </div>

                    <div class="row d-none"
                         data-request-type>
                        <div class="col-auto mb-3">
                            {% if types is empty %}
                                Aucun type disponible<br>
                                <a href="/parametrage/afficher/track/demande_transport/types_champs_libres_livraisons" class="btn btn-primary mt-2">Configuration des types de livraison</a><br>
                                <a href="/parametrage/afficher/track/demande_transport/types_champs_libres_collectes" class="btn btn-primary mt-1">Configuration des types de collecte</a>
                            {% endif %}

                            {{ form.switch('type', null, true, types|map((type) => {
                                value: type.id,
                                label: type.label,
                                disabled: true,
                                iconUrl: type.logo ? type.logo.fullPath : false,
                                attributes: {
                                    'data-request-type': (
                                        type.category.label == constant('App\\Entity\\CategoryType::DELIVERY_TRANSPORT')
                                            ? DISCR_DELIVERY
                                            : DISCR_COLLECT
                                    )
                                }
                            }), {expanded: true}) }}
                        </div>
                        <div class="col-12"
                             data-request-type="{{ DISCR_DELIVERY }}">
                            {{ form.checkbox('collectLinked', 'Faire une collecte en même temps que la livraison', false, false, {
                                slider: true
                            }) }}
                        </div>
                    </div>

                    {% set displayCollectDate = modeCollectEdit and request_collect.delivery is null %}
                    <div class="wii-section-title my-3 {{ not modeDeliveryEdit and not displayCollectDate ? 'd-none' }}"
                         data-request-type>
                        <div class="d-flex align-items-center">
                            <i class="wii-icon wii-icon-calendar bg-primary mr-1"></i>
                            Date
                        </div>
                    </div>
                    <div class="row {{ not modeDeliveryEdit ? 'd-none' }}"
                         data-request-type="{{ DISCR_DELIVERY }}">
                        <div class="col-md-6 col-12">
                            {% set expectedAtValue = request.expectedAt ? request.expectedAt|date('Y-m-d\\TH:i') %}
                            {{ form.input('expectedAt', 'Date et heure de livraison', true, expectedAtValue, {
                                type: 'datetime-local',
                                disabled: request.id is not null,
                            }) }}
                        </div>
                        <div class="col-md-6 col-12">
                            {% set emergenciesValues = setting_value('TRANSPORT_DELIVERY_REQUEST_EMERGENCIES')
                                | split(',')
                                | filter((label) => label)
                                | map((label) => ({
                                label: label,
                                value: label
                            })) %}
                            {{ form.select('emergency', 'Urgence', false, {
                                items: [{label: 'Non urgent', value: ''}]|merge(emergenciesValues)
                            }) }}
                        </div>
                    </div>
                    <div class="row {{ not displayCollectDate ? 'd-none' }}"
                         data-request-type="{{ DISCR_COLLECT }}">
                        <div class="col-md-6 col-12">
                            {% set expectedAtValue = request.expectedAt ? request.expectedAt|date('Y-m-d') %}
                            {{ form.input('expectedAt', 'Date de collecte', true, expectedAtValue, {
                                type: 'date',
                                disabled: request.id is not null,
                                min: 'now' | date('Y-m-d'),
                            }) }}
                        </div>
                    </div>

                    <div class="wii-section-title my-3 {{ not modeEdit ? 'd-none' }}"
                         data-request-type>
                        <div class="d-flex align-items-center">
                            <i class="wii-icon wii-icon-pack bg-primary mr-1"></i>
                            Colis
                        </div>
                    </div>
                    <div class="row {{ not modeEdit ? 'd-none' }}"
                         data-request-type>
                        <div class="col-12 wii-describe {{ not modeCollectEdit ? 'd-none' }}"
                             data-request-type="{{ DISCR_COLLECT }}">
                            Laisser vide si quantité non connue
                        </div>
                        <div class="col-12">
                            <div class="row request-line-container">
                                {% for lineIndex, nature in natures %}
                                    {% set allowedForms = nature.allowedForms ?? {} %}
                                    {% set natureTypeCollect = allowedForms[constant('App\\Entity\\Nature::TRANSPORT_COLLECT_CODE')] ?? [] %}
                                    {% set natureTypeDelivery = allowedForms[constant('App\\Entity\\Nature::TRANSPORT_DELIVERY_CODE')] ?? [] %}
                                    {% set natureType = natureTypeCollect|merge(natureTypeDelivery) %}

                                    {% set isSelected = selectedLines[nature.id] is defined %}
                                    {% set value = isSelected ? selectedLines[nature.id] : null %}

                                    {% if natureType is not empty %}
                                        {% set multipleKey = {
                                            key: 'lines',
                                            index: lineIndex
                                        } %}
                                        <div class="col-lg-6 col-12 nature-item {{ not modeEdit ? 'd-none' }}"
                                             data-type="{{ natureType|json_encode }}">
                                            <div class="row align-items-center my-2 nature-item-wrapper">
                                                <div class="{{ not modeEdit ? 'col-6' : 'col-4' }}">
                                                    {{ form.checkbox('selected', nature.label, false, isSelected, {
                                                        labelClass: 'text-break',
                                                        multipleKey: multipleKey,
                                                        error: 'global'
                                                    }) }}
                                                    <input type="hidden"
                                                           value="{{ nature.id }}"
                                                           class="data"
                                                           name="natureId"
                                                           {{ form.multiple_key({multipleKey: multipleKey}) }}/>
                                                </div>
                                                {% if nature.temperatureRanges is not empty
                                                    and request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') %}
                                                    <div class="col-3 px-0 {{ not modeDeliveryEdit ? 'd-none' }}"
                                                         data-request-type="{{ DISCR_DELIVERY }}">
                                                        <div class="{{ not modeDeliveryEdit or not isSelected ? 'd-none' }}"
                                                             data-nature-is-selected>
                                                            {% set firstTemperature = nature.temperatureRanges|first %}
                                                            {{ form.select('temperature', null, false, {
                                                                items: nature.temperatureRanges|map((temperature, key) => ({
                                                                    label: temperature.value,
                                                                    value: temperature.id,
                                                                    selected: value is not null ? (value == temperature.id) : (key == 0)
                                                                })),
                                                                inputClass: 'needs-default',
                                                                multipleKey: multipleKey,
                                                                attributes: {
                                                                    'data-init': firstTemperature.id
                                                                }
                                                            }) }}
                                                        </div>
                                                    </div>
                                                {% elseif request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') and request.id %}
                                                    <div class="col-3"></div>
                                                {% endif %}
                                                <div class="col-3 {{ not modeEdit ? 'd-none' }}"
                                                     data-request-type="{{ DISCR_COLLECT }}">
                                                    <div class="{{ not modeEdit or not isSelected ? 'd-none' }}"
                                                         data-nature-is-selected>
                                                        {{ form.number('quantity', null, false, modeDeliveryEdit ? null : value, {
                                                            labelClass: 'w-100',
                                                            multipleKey: multipleKey,
                                                        }) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 mt-3 d-none"
                             data-request-type="{{ DISCR_DELIVERY }}">
                            {{ form.checkbox('printLabels', 'Imprimer les étiquettes', false, false, {
                                slider: true
                            }) }}
                        </div>
                    </div>

                    <div class="wii-section-title mt-3 {{ not modeEdit or request.freeFields is empty ? 'd-none' }}"
                         data-request-type>
                        <i class="wii-icon wii-icon-info bg-primary mr-1"></i>
                        Autres informations
                    </div>
                    <div class="row free-fields-container">
                        {% for type in types %}
                            <div class="col-12 d-none"
                                 data-type="{{ [type.id] | json_encode }}">
                                {#            TODO actionType & requiredType pour la modification #}
                                {% include 'free_field/freeFieldsEdit.html.twig' with {
                                    freeFields: type.champsLibres,
                                    freeFieldValues: request.freeFields,
                                    colType: 'col-md-6 col-12',
                                    requiredType: 'requiredCreate',
                                    actionType: 'new',
                                    disabledNeeded: true
                                } %}
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
