{% import 'form.html.twig' as form %}

{% set modalId = id ?? 'modalTransportRequest' %}
{% set contact = request.contact %}
{% set DISCR_DELIVERY = constant('App\\Entity\\Transport\\TransportRequest::DISCR_DELIVERY') %}
{% set DISCR_COLLECT = constant('App\\Entity\\Transport\\TransportRequest::DISCR_COLLECT') %}

{% set modeEdit = request.id is not null %}

{% set isDelivery = request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') %}
{% set isCollect = request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') %}


{% set modeDeliveryEdit = modeEdit and isDelivery %}
{% set modeCollectEdit = modeEdit and isCollect %}

{% set order = request.order %}
{% set orderPacks = request.order is not null ? order.packs : [] %}

{% set assignedOrder = order is not null and order.status.code == constant('App\\Entity\\Transport\\TransportOrder::STATUS_ASSIGNED') %}

<div class="modal fade"
     role="dialog"
     data-modal-type="{{ modeEdit ? 'edit' : 'new' }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            {% include 'utils/modal/header.html.twig' with {
                title: "Demande de transport"
            } %}

            <div class="modal-body">
                <form class="transport-request-form">
                    {% if modeEdit %}
                        <input type="hidden" name="transportRequest" value="{{ request.id }}"/>
                    {% else %}
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                {{ form.switch('requestType', null, true, [
                                    {
                                        value: DISCR_DELIVERY,
                                        label: 'Livraison',
                                        wiiIcon: 'cart-delivery'
                                    },
                                    {
                                        value: DISCR_COLLECT,
                                        label: 'Collecte',
                                        wiiIcon: 'cart-collect'
                                    },
                                ]) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="wii-section-title my-3 d-flex align-items-center">
                        <i class="wii-icon wii-icon-user bg-primary mr-1"></i>
                        Informations Patient
                    </div>
                    <div class="contact-container">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-2">
                                <div class="mb-2">
                                    {{ form.input('contactName', 'Patient', true, contact.name, {
                                        disabled: request.id is not null,
                                    }) }}
                                </div>
                                {{ form.input('contactFileNumber', 'N° dossier', true, contact.fileNumber, {
                                    disabled: request.id is not null,
                                }) }}
                            </div>
                            <div class="col-md-6 col-12 mb-2">
                                <div class="d-flex">
                                    {{ form.textarea('contactAddress', 'Adresse', true, contact.address, {
                                        style: 'min-height: 104px;',
                                        resizeVertical: false,
                                        disabled: assignedOrder
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-2">
                                {{ form.textarea('contactContact', 'Contact', true, contact.contact, {
                                    style: 'min-height: 104px;',
                                    resizeVertical: false,
                                }) }}
                            </div>
                            <div class="col-md-6 col-12 mb-2">
                                {{ form.textarea('contactPersonToContact', 'Personne à prévenir', true, contact.personToContact, {
                                    style: 'min-height: 104px;',
                                    resizeVertical: false,
                                }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                {{ form.textarea('contactObservation', 'Remarque', false, contact.observation, {
                                    style: 'min-height: 104px;',
                                    resizeVertical: false,
                                }) }}
                            </div>
                        </div>
                    </div>

                    <div class="wii-section-title my-3 d-none"
                         data-request-type>
                        <div class="d-flex align-items-center">
                            <i class="wii-icon wii-icon-cart-collect bg-primary mr-1"></i>
                            Service
                        </div>
                    </div>

                    {% if not modeEdit %}
                        <div class="row d-none"
                             data-request-type>
                            <div class="col-auto mb-3">
                                {% if types is empty %}
                                    Aucun type disponible<br>
                                    <a href="{{ path('settings_item', {
                                        'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_TRACKING'),
                                        'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_TRANSPORT_REQUESTS'),
                                        'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_DELIVERY_TYPES_FREE_FIELDS'),
                                    }) }}" class="btn btn-primary mt-2">Configuration des types de livraison</a><br>
                                    <a href="{{ path('settings_item', {
                                        'category': constant('App\\Controller\\Settings\\SettingsController::CATEGORY_TRACKING'),
                                        'menu': constant('App\\Controller\\Settings\\SettingsController::MENU_TRANSPORT_REQUESTS'),
                                        'submenu': constant('App\\Controller\\Settings\\SettingsController::MENU_COLLECT_TYPES_FREE_FIELDS'),
                                    }) }}" class="btn btn-primary mt-2">Configuration des types de collecte</a>
                                {% endif %}

                                {{ form.switch('type', null, true, types|map((type) => {
                                    value: type.id,
                                    label: type.label,
                                    disabled: true,
                                    iconUrl: type.logo ? type.logo.fullPath : false,
                                    attributes: {
                                        'data-request-type': (
                                            type.category.label == constant('App\\Entity\\CategoryType::DELIVERY_TRANSPORT')
                                                ? DISCR_DELIVERY
                                                : DISCR_COLLECT
                                        )
                                    }
                                }), {expanded: true}) }}
                            </div>
                            <div class="col-12"
                                 data-request-type="{{ DISCR_DELIVERY }}">
                                {{ form.checkbox('collectLinked', 'Faire une collecte en même temps que la livraison', false, false, {
                                    slider: true
                                }) }}
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="type" value="{{ request.type.id }}"/>
                    {% endif %}
                    {% set displayCollectDate = modeCollectEdit and request.delivery is null %}
                    <div class="wii-section-title my-3 {{ not modeDeliveryEdit and not displayCollectDate ? 'd-none' }}"
                         data-request-type>
                        <div class="d-flex align-items-center">
                            <i class="wii-icon wii-icon-calendar bg-primary mr-1"></i>
                            Date
                        </div>
                    </div>
                    <div class="row {{ not modeDeliveryEdit ? 'd-none' }}"
                         data-request-type="{{ DISCR_DELIVERY }}">
                        <div class="col-md-6 col-12">
                            {% set expectedAtValue = request.expectedAt ? request.expectedAt|date('Y-m-d\\TH:i') %}
                            {{ form.input('expectedAt', 'Date et heure de livraison', true, expectedAtValue, {
                                type: 'datetime-local',
                                disabled: assignedOrder
                            }) }}
                        </div>
                        <div class="col-md-6 col-12">
                            {% set emergenciesValues = setting_value('TRANSPORT_DELIVERY_REQUEST_EMERGENCIES')
                                | split(',')
                                | filter((label) => label)
                                | map((label) => ({
                                label: label,
                                value: label
                            })) %}
                            {{ form.select('emergency', 'Urgence', false, {
                                items: [{label: 'Non urgent', value: ''}]|merge(emergenciesValues),
                                disabled: assignedOrder
                            }) }}
                        </div>
                    </div>
                    <div class="row {{ not displayCollectDate ? 'd-none' }}"
                         data-request-type="{{ DISCR_COLLECT }}">
                        <div class="col-md-6 col-12">
                            {% set expectedAtValue = request.expectedAt ? request.expectedAt|date('Y-m-d') %}
                            {{ form.input('expectedAt', 'Date de collecte souhaitée', true, expectedAtValue, {
                                type: 'date',
                                min: 'now' | date('Y-m-d'),
                                disabled: assignedOrder
                            }) }}
                        </div>
                    </div>

                    <div class="wii-section-title my-3 {{ not modeEdit ? 'd-none' }}"
                         data-request-type>
                        <div class="d-flex align-items-center">
                            <i class="wii-icon wii-icon-pack bg-primary mr-1"></i>
                            Colis
                        </div>
                    </div>
                    <div class="row {{ not modeEdit ? 'd-none' }}"
                         data-request-type>
                        <div class="col-12 wii-small-text {{ not modeCollectEdit ? 'd-none' }}"
                             data-request-type="{{ DISCR_COLLECT }}">
                           <div class="d-none" id="text-info">Laisser vide si quantité non connue</div>
                        </div>
                        <div class="col-12">
                            <div class="row request-line-container">
                                <div class="d-none warning-empty-natures">
                                    {% include 'utils/warningSelectEmpty.html.twig' with {
                                        array: [],
                                        warningLabel: 'Attention ! Aucune nature de colis n\'a été paramétrée',
                                        redirectPath: path('nature_param_index'),
                                        redirectLabel: 'Aller vers la création des natures',
                                        block: true,
                                        rights: {
                                            menu: constant('App\\Entity\\Menu::REFERENTIEL'),
                                            action: constant('App\\Entity\\Action::CREATE')
                                        }
                                    } %}
                                </div>
                                {% for lineIndex, line in requestLines %}
                                    {% set nature = line.nature %}
                                    {% set quantity = line.quantity ?? null %}
                                    {% set temperatureRange = line.temperatureRange ?? null %}
                                    {% set isSelected = line.selected ?? false %}

                                    {% set allowedForms = nature.allowedForms ?? {} %}
                                    {% set natureTypeCollect = allowedForms[constant('App\\Entity\\Nature::TRANSPORT_COLLECT_CODE')] ?? [] %}
                                    {% set natureTypeDelivery = allowedForms[constant('App\\Entity\\Nature::TRANSPORT_DELIVERY_CODE')] ?? [] %}
                                    {% set natureType = natureTypeCollect|merge(natureTypeDelivery) %}

                                    {% if natureType is not empty %}
                                        {% set multipleKey = {
                                            key: 'lines',
                                            index: lineIndex
                                        } %}
                                        <div class="col-lg-6 col-12 nature-item {{ not modeEdit ? 'd-none' }}"
                                             data-type="{{ natureType|json_encode }}">
                                            <div class="row no-gutters align-items-center my-2 nature-item-wrapper">
                                                <div class="col pr-1">
                                                    {{ form.checkbox('selected', nature.label, false, isSelected, {
                                                        labelClass: 'text-break',
                                                        multipleKey: multipleKey,
                                                        disabled: modeDeliveryEdit and isSelected and quantity > 0,
                                                        error: 'global',
                                                    }) }}
                                                    <input type="hidden"
                                                           value="{{ nature.id }}"
                                                           class="data"
                                                           name="natureId"
                                                           {{ form.multiple_key({multipleKey: multipleKey}) }}/>
                                                </div>
                                                {% if nature.temperatureRanges is not empty
                                                    and isDelivery %}
                                                    <div class="col-3 px-1 {{ not modeDeliveryEdit ? 'd-none' }}"
                                                         data-request-type="{{ DISCR_DELIVERY }}">
                                                        <div class="{{ not modeDeliveryEdit or not isSelected ? 'd-none' }}"
                                                             data-nature-is-selected>
                                                            {% set firstTemperature = nature.temperatureRanges|first %}
                                                            {{ form.select('temperature', null, false, {
                                                                items: nature.temperatureRanges|map((temperature, key) => ({
                                                                    label: temperature.value,
                                                                    value: temperature.id,
                                                                    selected: temperatureRange is not null ? (temperatureRange == temperature.id) : (key == 0)
                                                                })),
                                                                inputClass: 'needs-default px-1',
                                                                multipleKey: multipleKey,
                                                                attributes: {
                                                                    'data-init': firstTemperature.id
                                                                }
                                                            }) }}
                                                        </div>
                                                    </div>
                                                {% elseif isDelivery and request.id %}
                                                    <div class="col-3 px-1"></div>
                                                {% endif %}
                                                <div class="col-4 {{ not modeEdit or (isDelivery and (orderPacks|length == 0)) ? 'd-none' }}"
                                                     data-request-type="{{ DISCR_COLLECT }}">
                                                    <div class="{{ not modeEdit or not isSelected ? 'd-none' }}"
                                                         data-nature-is-selected>
                                                        {{ form.number('quantity', null, false, quantity ?: null, {
                                                            labelClass: 'w-100',
                                                            multipleKey: multipleKey,
                                                            disabled: request.id and request.order is null,
                                                            min: (modeDeliveryEdit ? quantity : 0) ?: 0
                                                        }) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 mt-3 {{ not modeDeliveryEdit ? 'd-none' }}"
                             data-request-type="{{ DISCR_DELIVERY }}">
                            {{ form.checkbox('printLabels', 'Imprimer les étiquettes', false, false, {
                                slider: true
                            }) }}
                        </div>
                    </div>

                    <div class="wii-section-title mt-3 {{ not modeEdit or request.freeFields is empty ? 'd-none' }}"
                         data-request-type>
                        <i class="wii-icon wii-icon-info wii-icon-15px bg-black mr-1"></i>
                        Autres informations
                    </div>
                    <div class="row free-fields-container">
                        {% for type in types %}
                            <div class="col-12 {{ not modeEdit ? 'd-none' }}"
                                 data-type="{{ [type.id] | json_encode }}">
                                {% include 'free_field/freeFieldsEdit.html.twig' with {
                                    freeFields: type.champsLibres,
                                    freeFieldValues: request.freeFields,
                                    colType: 'col-md-6 col-12',
                                    requiredType: modeEdit ? 'requiredEdit' : 'requiredCreate',
                                    actionType: modeEdit ? 'edit' : 'new',
                                    disabledNeeded: true
                                } %}
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            {% include 'utils/modal/footer.html.twig' with {
                elements: [
                    {classes: 'btn btn-outline-secondary', dismiss: true, text: 'Annuler'},
                    {classes: 'btn btn-success', text: 'Enregistrer', type: 'submit'}
                ],
                hideErrorContainer: true,
            } %}

        </div>
    </div>
</div>
