{% set isCancelledStatus = request.status.nom in constant('App\\Entity\\Transport\\TransportRequest::RED_STATUSES') %}
{% set path = app.request is not null ? app.request.getSchemeAndHttpHost() : app_url %}
{% set request_delivery = request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') ? request : null %}
{% set request_collect = request is instanceof('App\\Entity\\Transport\\TransportCollectRequest') ? request : request_delivery.collect %}
{% set both = request_delivery is not null and request_collect is not null %}

{% if transportDeliveryRequestLines is not empty and transportDeliveryRequestLines %}
    {% if both %}
        <div class="d-flex align-items-center ml-3 py-2">
            <img src="{{ asset('svg/delivery.svg') }}" alt="Icône livraison" width="25px" height="25px">
            <span class="ml-2">Livraison</span>
        </div>
    {% endif %}
    {% for line in transportDeliveryRequestLines %}
        <div class="pack-wrapper {{ loop.last ? 'pb-4' : 'pb-2' }}">
            {% set packsCount = (associatedNaturesAndPacks[line.nature.id] ?? [])|length %}
            <div class="nature-line px-2">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 d-flex align-items-center">
                        {% set logo = request_delivery.type.logo ?? null %}
                        {% if logo %}
                            <img src="{{ path ~ asset('uploads/attachements/' ~ logo.fileName) }}" height="30px" alt="">
                        {% endif %}
                        <strong class="wii-field-name">{{ line.nature.label }}</strong>
                    </div>
                    <div class="col-md-4 col-12"><strong class="wii-field-name">Quantité</strong>&nbsp;: {{ packsCount > 0 ? packsCount : '-' }}</div>
                    <div class="col-md-4 col-12"><strong class="wii-field-name">Température</strong>&nbsp;: {{ line.temperatureRange ? (line.temperatureRange.value) : '/' }}</div>
                </div>
            </div>
            {% if packsCount > 0 %}
                <div class="packs-table">
                    <table class="w-100">
                        <tr>
                            <th class="wii-field-name">Code étiquette</th>
                            <th class="wii-field-name">Ecarté</th>
                            <th class="wii-field-name">Motif écartement</th>
                            {% if isCancelledStatus %}<th class="wii-field-name">Retourné le</th>{% endif %}
                        </tr>
                        {% for transportDeliveryOrderPack in associatedNaturesAndPacks[line.nature.id] ?? [] %}
                            <tr>
                                <td class="wii-field-text">{{ transportDeliveryOrderPack.pack.code }}</td>
                                <td class="wii-field-text">
                                    {% set packState = transportDeliveryOrderPack.state %}
                                    {% if packState  == constant('App\\Entity\\Transport\\TransportDeliveryOrderPack::REJECTED_STATE')%}
                                        Oui
                                    {% elseif packState != null %}
                                        Non
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="wii-field-text">
                                    {% set packRejectedReason = transportDeliveryOrderPack.rejectReason %}
                                    {% if  packRejectedReason %}
                                        {{  packRejectedReason }}
                                    {% elseif packState != null and packState != constant('App\\Entity\\Transport\\TransportDeliveryOrderPack::REJECTED_STATE') %}
                                        /
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                {% if isCancelledStatus %}
                                    <td class="wii-field-text">
                                        {{
                                            transportDeliveryOrderPack.returnedAt
                                                ? transportDeliveryOrderPack.returnedAt|format_helper('datetime')
                                                : '-'
                                        }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}

{% if transportCollectRequestLines is not empty and transportCollectRequestLines %}
    {% if both %}
        <div class="d-flex align-items-center ml-3 py-2">
            <img src="{{ asset('svg/collect.svg') }}" alt="Icône collecte" width="25px" height="25px">
            <span class="ml-2">Collecte</span>
        </div>
    {% endif %}
    {% for line in transportCollectRequestLines %}
        <div class="pack-wrapper {{ loop.last ? 'pb-4' : 'pb-2' }}">
            <div class="nature-line px-2">
                <div class="row align-items-center">
                    <div class="col-md-4 col-12 d-flex align-items-center">
                        {% set logo = request_collect.type.logo ?? null %}
                        {% if logo %}
                            <img src="{{ path ~ asset('uploads/attachements/' ~ logo.fileName) }}">
                        {% endif %}
                        <strong class="wii-field-name">{{ line.nature.label }}</strong>
                    </div>
                    <div class="col-md-4 col-12"><strong class="wii-field-name">Quantité à collecter</strong>&nbsp;: {{ line.quantityToCollect is not null ? line.quantityToCollect : '/' }}</div>
                    {% if request_collect and request_collect.status.code != constant('App\\Entity\\Transport\\TransportOrder::STATUS_NOT_COLLECTED') %}
                        <div class="col-md-4 col-12"><strong class="wii-field-name">Quantité collectée</strong>&nbsp;: {{ line.collectedQuantity is not null ? line.collectedQuantity : '-' }}</div>
                    {% else %}
                        <div class="col-md-4 col-12"><strong class="wii-field-name">Quantité collectée</strong>&nbsp;: 0</div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
