{% extends 'layout.html.twig' %}

{% block title %}Demande | Transport | Détails{% endblock %}
{% block titleLink path('transport_request_index') %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transport-request-show') }}
{% endblock %}

{% block page_content %}
    {% set requestType = request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') ? 'Livraison' : 'Collecte' %}
    <div class="wii-box-container m-4">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="wii-box transport-details">
                    <div class="d-flex align-items-center mr-3">
                        <div class="mx-2">
                            {% include('datatable/dotsRow.html.twig') with {
                                width: '15px',
                                height: '20px'
                            } %}
                        </div>
                        <div class="d-flex py-2 w-100 justify-content-between">
                            <div class="d-flex flex-column">
                                <span class="wii-title" title="Acheminement">Transport</span>
                                <span class="wii-medium-text">{{ constant('App\\Entity\\Transport\\TransportRequest::NUMBER_PREFIX') ~ request.number }}</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-end">
                                <strong>{{ request.createdBy|format_helper('user') }}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center content bordered">
                        <div class="d-flex align-items-center mr-4">
                            {% if request is instanceof('App\\Entity\\Transport\\TransportDeliveryRequest') %}
                                <img class="mr-2" src="{{ asset('svg/delivery.svg') }}" width="20px">
                            {% else %}
                                <img src="{{ asset('svg/collect.svg') }}" width="30px">
                            {% endif %}
                            <strong>{{ requestType }}</strong>
                        </div>
                        <div class="d-flex align-items-center">
                            {% if request.type.logo %}
                                <img
                                    src="{{ app.request.scheme ~'://'~ app.request.httpHost ~ "/uploads/attachements/" ~ request.type.logo.fileName }}"
                                    alt="Image type {{ request.type|format_helper('type') }}" width="15px">
                            {% endif %}
                            <span class="wii-describe">{{ request.type|format_helper('type') }}</span>
                        </div>
                    </div>
                    {% set statusName = request.status|format_helper('status') %}
                    <div class="header timeline d-flex justify-content-center
                        {{ statusName == constant('App\\Entity\\Transport\\TransportRequest::STATUS_CANCELLED') ? 'bg-red-light' : 'bg-green-light' }}">
                        <img src="{{ asset('svg/timeline-status.svg') }}" alt="Icône statut timeline" width="15px" class="mr-2">
                        <span>{{ requestType }} <strong>{{ statusName }}</strong></span>
                    </div>
                    <div class="content status-history-container">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="spinner-border text-primary" role="status"></div>
                            <span class="ml-3">Génération de la timeline en cours...</span>
                        </div>
                    </div>
                    <div class="header">
                        <img src="{{ asset('svg/reference_article/calendar.svg') }}" alt="Icône calendrier" width="15px">
                        <span class="wii-field-name ml-2">Dates</span>
                    </div>
                    <div class="row content">
                        <div class="col-6 d-flex flex-column">
                            <span class="wii-field-name">Date et heure attendue</span>
                            <span class="wii-field-text">{{ request.expectedAt|format_helper('longDate', true, true) }}</span>
                        </div>
                    </div>
                    <div class="header">
                        <img src="{{ asset('svg/reference_article/information.svg') }}" alt="Icône information" width="15px">
                        <span class="wii-field-name ml-2">Autres informations</span>
                    </div>
                    {% if request.freeFields|length > 0 and freeFields|length > 0 %}
                        <div class="row content flex-wrap">
                            {% for freeField in freeFields %}
                                {% set value = request.freeFields[freeField.id] ?? (freeField.defaultValue ?? '') %}
                                <div class="col-6 box-item mb-3">
                                    <span class="wii-field-name">{{ freeField.label }}</span>
                                    {% if freeField.typage == constant('App\\Entity\\FreeField::TYPE_DATE') %}
                                        <span class="wii-body-text">{{ value | replace({'/': '-'}) | date('d/m/Y') }}</span>
                                    {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_DATETIME') %}
                                        <span class="wii-body-text">{{ value | replace({'/': '-'}) | date('d/m/Y H:i') }}</span>
                                    {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_BOOL') %}
                                        <span class="wii-body-text">{{ value == 1 ? 'Oui' : 'Non' }}</span>
                                    {% elseif freeField.typage == constant('App\\Entity\\FreeField::TYPE_LIST_MULTIPLE') %}
                                        {% set entityValuesArray = value|split(';') %}
                                        {% set valids = freeField.elements | filter(element => element in entityValuesArray) %}
                                        {% set values = valids | join (', ') %}
                                        <span class="wii-body-text">{{ values }}</span>
                                    {% else %}
                                        <span class="wii-body-text">{{ value }}</span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="content">
                            <span class="ra-small-text">Aucun champ libre renseigné</span>
                        </div>
                    {% endif %}
                    <div class="header">
                        <img src="{{ asset('svg/user.svg') }}" alt="Icône utilisateur" width="15px">
                        <span class="wii-field-name ml-2">Informations patient</span>
                    </div>
                    <div class="row content">
                        {% set transportRequestContact = request.transportRequestContact %}
                        <div class="col-12 d-flex align-items-center mb-3">
                            <span class="wii-field-text">
                                <span class="wii-field-name mr-3">{{ transportRequestContact.name }}</span>
                                N° dossier {{ transportRequestContact.fileNumber }}
                            </span>
                        </div>
                        <div class="col-6 d-flex">
                            <img src="{{ asset('svg/phone.svg') }}" alt="Icône téléphone"
                                 width="20px">
                            <div class="d-flex flex-column ml-2 justify-content-center">
                                <span class="wii-field-name">Contact</span>
                                <span class="wii-field-text">{{ transportRequestContact.contact }}</span>
                            </div>
                        </div>
                        <div class="col-6 d-flex">
                            <img src="{{ asset('svg/user-contact.svg') }}" alt="Icône personne à prévenir"
                                 width="20px">
                            <div class="d-flex flex-column ml-2 justify-content-center">
                                <span class="wii-field-name">Personne à prévenir</span>
                                <span class="wii-field-text">{{ transportRequestContact.personToContact }}</span>
                            </div>
                        </div>
                        <div class="col-6 d-flex mt-3">
                            <img src="{{ asset('svg/location-blue.svg') }}" alt="Icône emplacement"
                                 width="20px">
                            <div class="d-flex flex-column ml-2 justify-content-center">
                                <span class="wii-field-name">Adresse</span>
                                <span class="wii-field-text">{{ transportRequestContact.address }}</span>
                            </div>
                        </div>
                        <div class="col-6 d-flex mt-3">
                            <img src="{{ asset('svg/question-mark.svg') }}" alt="Icône remarque"
                                 width="20px">
                            <div class="d-flex flex-column ml-2 justify-content-center">
                                <span class="wii-field-name">Remarque</span>
                                <span class="wii-field-text">{{ transportRequestContact.observation }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="wii-box">
                    <div class="header wii-title">Colis</div>
                    <div class="">A REMPLIR</div>{# TODO REMOVE #}
                </div>
                <div class="wii-box">
                    <div class="header wii-title">Historique de transport</div>
                    <div class="">A REMPLIR</div>{# TODO REMOVE #}
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="wii-box">
                    <div class="header wii-title">Données</div>
                    <div class="">A REMPLIR</div>{# TODO REMOVE #}
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" value="{{ request.id }}" name="transportRequestId">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transport-request-show') }}
{% endblock %}
