{% extends 'layout.html.twig' %}
{% import 'form.html.twig' as form %}

{% block title %}Traçabilité | Arrivages camion{% endblock %}
{% block title_tooltip %}Traçabilité | Arrivages camion{% endblock %}

{% block page_filter %}
    {% include 'filters/filtersTruckArrival.html.twig' with {
        page: 'PAGE_TRUCK_ARRIVAL',
        tableSelector: '#truckArrivalsTable',
        locationsFilter,
        carrierTrackingNumberNotAssigned,
    } %}
{% endblock %}

{% block page_content %}
    <div class="m-4 wii-page-card overflow-x-hidden">
        <div class="row wii-page-card-header">
            <div class="col-auto ml-auto">
                {% set hasRightToCreateTruckArrival = hasRight(constant('App\\Entity\\Menu::TRACA'),constant('App\\Entity\\Action::CREATE_TRUCK_ARRIVALS')) %}
                {% include "utils/action-buttons/header-buttons.html.twig" with {
                    actions: [
                        {
                            hasRight: hasRightToCreateTruckArrival,
                            title: 'Créer arrivage camion',
                            icon: "wii-icon wii-icon-plus",
                            attributes:{
                                onclick: "newTruckArrival()",
                                name: "new-truck-arrival",
                            },
                        },
                        {
                            title: 'Gestion des colonnes',
                            icon: "fa fa-cog mr-2",
                            attributes: {
                                'data-toggle': 'modal',
                                'data-target': '#modalFieldModes',
                            },
                        },
                    ]
                } %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="truckArrivalsTable"
                       class="table w-100">
                </table>
            </div>
        </div>
    </div>

    <input id="truck-arrival-filters" value="{{ initial_filters }}" hidden>
    {{ form.hidden('fromDashboard', fromDashboard) }}
    {{ form.hidden('countNoLinkedTruckArrival', countNoLinkedTruckArrival) }}

    {% include "utils/fields-modes.html.twig" with {
        fields,
        table: 'truckArrivalsTable',
        page: 'truckArrival',
        config: {
            columns: [
                {
                    label: "Visible",
                    type: "checkbox",
                    name: constant('App\\Service\\FieldModesService::FIELD_MODE_VISIBLE'),
                },
            ],
        }
    } %}

    {% include "truck_arrival/modal-new.html.twig" with {
        fieldsParam,
        truckArrival : newTruckArrival,
    }  %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('truck-arrival-index') }}
{% endblock %}
