{% set elements = elements is defined and elements is not empty ? elements : [] %}
{% set classes = classes is defined and classes ? classes %}
{% set hideErrorContainer = hideErrorContainer ?? false %}
{% set hideFooter = hideFooter ?? false %}
{% set renderErrorContainer = renderErrorContainer ?? true %}

{% if renderErrorContainer %}
    <div class="error-msg {{ hideErrorContainer ? 'd-none' }}"></div>
{% endif %}

{% if not hideFooter and elements is not empty %}
    <div class="modal-footer {{ classes }}">
        {% for element in elements %}
            {% if element['input'] is not defined %}
                <button type="{{ element['type'] ?? 'button' }}"
                        class="{{ element['classes'] ?? '' }}"
                        {% if element['id'] ?? false %} id="{{ element['id'] }}" {% endif %}
                        {% if element['name'] ?? false %} name="{{ element['name'] }}" {% endif %}
                        {% if element['value'] ?? false %} value="{{ element['value'] }}" {% endif %}
                        {% if element['title'] ?? false %} title="{{ element['title'] }}" {% endif %}
                        {% if element['disabled'] ?? false %} disabled {% endif %}
                        {% if element['event'] ?? false %}onclick="{{ element['event'] }}"{% endif %}
                        {% if element['dismiss'] ?? false %}data-dismiss="modal"{% endif %}
                        {% if element['data'] ?? false %}
                            {% for attr, value in element['data'] %}
                                data-{{ attr }}="{{ value }}"
                            {% endfor %}
                        {% endif %}>
                    <span>{{ (element['text'] ?? '') | raw}}</span>
                </button>
            {% else %}
                <input type="hidden"
                       class="{{ element['classes'] ?? '' }}"
                       {% if element['name'] ?? false %}name="{{ element['name'] }}"{% endif %}
                       {% if element['value'] ?? false %}value="{{ element['value'] }}"{% endif %}
                >
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
