{% set elements = elements is defined and elements is not empty ? elements : [] %}
{% set classes = classes is defined and classes ? classes %}
{% set hideErrorContainer = hideErrorContainer is defined and hideErrorContainer %}

<div class="p-4 error-msg {{ hideErrorContainer ? 'd-none' }}"></div>
{% if elements is not empty %}
    <div class="modal-footer {{ classes }}">
        {% for element in elements %}
            {% if element['input'] is not defined %}
                <button id="{{ element['id'] ?? '' }}"
                        type="button"
                        class="{{ element['classes'] ?? '' }}"
                        name="{{ element['name'] ?? '' }}"
                        value="{{ element['value'] ?? '' }}"
                        {% if element['event'] ?? false %}onclick="{{ element['event'] }}"{% endif %}
                        {% if element['dismiss'] ?? false %}data-dismiss="modal"{% endif %}>
                    {{ element['text'] ?? '' }}
                </button>
            {% else %}
                <input type="hidden"
                       class="{{ element['classes'] ?? '' }}"
                       name="{{ element['name'] ?? '' }}"
                       value="{{ element['value'] ?? ''}}">
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
