{% extends 'base.html.twig' %}

{% block title %}Ordres{% endblock %}

{% block body %}
    <h1>Ordres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordre.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ ordre.statut }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ordre.type }}</td>
            </tr>
            <tr>
                <th>Date_ordre</th>
                <td>{{ ordre.dateOrdre ? ordre.dateOrdre|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ordres_index') }}">back to list</a>

    <a href="{{ path('ordres_edit', {'id': ordre.id}) }}">edit</a>

    {{ include('ordres/_delete_form.html.twig') }}
{% endblock %}