{% extends 'layout.html.twig' %}

{% block title %}Reception{% endblock %}

{% block page_content %}
    <h1>Réceptions</h1>
    <table class="table">
        <tbody>
            <tr>
                <th class="backtablejv">Id</th>
                <td>{{ reception.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td class="backtablejv">{{ reception.statut.nom }}</td>
            </tr>
            <tr>
                <th class="backtablejv">Commentaire</th>
                <td>{{ reception.commentaire }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td class="backtablejv">{{ reception.date ? reception.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
          
            <tr>
                <th>Numero réception</th>
                <td class="backtablejv">{{ reception.numeroReception }}</td>
            </tr>
            <tr>
                <th class="backtablejv">Créer par </th>
                <td>{{ reception.utilisateur.username }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Statut</th>
                <th>Références Articles</th>
                <th>position</th>
                <th>direction</th>
            </tr>
        </thead>
        <tbody>
            {% for article in reception.articles |reverse %}
                <tr>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.statut.nom }}</td>
                    <td>{{ article.refArticle.reference }}</td>
                    <td>{{ article.position }}</td>
                    <td>{{ article.direction }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    <a href="{{ path('receptions_index', {'history':0}) }}" class='button pull-left btn-left'>Retour</a>
    {{ include('receptions/_delete_form.html.twig') }}
    <a href="{{ path('receptions_edit', {'id': reception.id}) }}" class='button pull-right btn-left'>Modifier</a>

{% endblock %}
