{# templates/emails/registration.html.twig #}
<h3>Vos Alertes !</h3>

Bonjour ! Voici le resumer de vos alertes.

{% for alerte in alertes %}
    <p>Nom d'alerte : {{ alerte.AlerteNom }}, Code : {{ alerte.AlerteNumero }}, Reference d'article : {{ alerte.AlerteRefArticle }}</p>
{% endfor %}

{# example, assuming you have a route named "alerte_index" #}
Pour consulter vos alertes : <a href="{{ url('alerte_index') }}">Cliquez-ici</a>.

Merci!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">